<template>
    <div :class="{'lg:border-0 border-t-2 border-gray-300': index !== 0}" class="lg:w-1/3 lg:mb-0 mb-8 px-16">
        <img :src="url_img">
        <p class="text-center font-bold text-lg">{{judul}}</p>
        <p class="mt-4 text-center text-lg">{{konten}}</p>
    </div>
</template>

<script>
    export default {
        name: "FeatureItem",
        props: {
            judul: String,
            konten: String,
            url_img: String,
            index: Number
        }
    }
</script>

<style scoped>

</style>