<template>
  <div id="app" class="overflow-x-hidden">
    <!-- <div class="bg-neutral-600 smx:hidden">
      <div class="relative text-white text-xsm max-w-screen-xl self-auto items-center justify-center mx-auto py-2">
          <span class="font-semibold">Update terbaru Covid 19:</span> Completely restore maintainable convergence whereas covalent mindshare. Objectively morph frictionless alignments before technically sound networks. Objectively unleash.
      </div>
    </div> -->
      <div v-if="menuShow" style="transform: translate(-50%,-50%);width: 371px;height: 524px;z-index: 999" class="fixed left-50 top-50 bg-white shadow-xl rounded-xlg overflow-y-scroll py-8 px-5">
      <div style="" class="flex-col h-full overflow-y-scroll">
        <div class="flex-col">
          <div class="text-sm text-neutral-600 font-semibold uppercase">Produk</div>
          <div @click="goto('product/blast');" class="text-base text-neutral-400 my-4 ml-6">OCA Blast</div>
          <div  @click="goto('product/interaction');" class="text-base text-neutral-400 my-4 ml-6">OCA Interaction</div>
          <div @click="goto('product/profiling');" class="text-base text-neutral-400 my-4 ml-6">OCA Profiling</div>
        </div>
        <!-- <div class="flex-col">
          <div class="text-sm text-neutral-600 font-semibold uppercase">Solution</div>
          <div class="text-base text-neutral-400 my-4 ml-6">OCA Blast</div>
          <div class="text-base text-neutral-400 my-4 ml-6">OCA Interaction</div>
          <div class="text-base text-neutral-400 my-4 ml-6">OCA Profiling</div>
        </div> -->
        <div class="flex-col">
          <div  class="text-sm text-neutral-600 font-semibold uppercase">Harga</div>
          <div @click="goto('pricing');" class="text-base text-neutral-400 my-4 ml-6">Harga</div>
        </div>
        <!-- <div class="flex-col">
          <div class="text-sm text-neutral-600 font-semibold uppercase">Resources</div>
          <div class="text-base text-neutral-400 my-4 ml-6">FAQ</div>
          <div class="text-base text-neutral-400 my-4 ml-6">API Documentation</div>
        </div> -->
        <div class="flex-col">
          <div class="text-sm text-neutral-600 font-semibold uppercase">Tentang Kami</div>
          <div @click="goto('about-us/tentang-oca')" class="text-base text-neutral-400 my-4 ml-6">Tentang OCA</div>
          <div @click="goto('about-us/blog')" class="text-base text-neutral-400 my-4 ml-6">Blog</div>
        </div>
      </div>
    </div>
    <oca-navbar></oca-navbar>
    <div class="bg-customs-15">
      <div id="section-1" class="relative flex flex-col bg-customs-15">
        <div style="border-radius: 0px 0px 60px 0px;" class="flex relative bg-white pt-10 lg:pt-24">
          <div class="flex relative max-w-screen-xl self-auto items-center mx-auto bg-white">
              <div class="flex smx:flex-col flex-1 lg:justify-between bg-white py-10">
                  <div class="flex-1 self-center lg:hidden">
                    <img class="mx-auto self-center" src="../../../assets/image/product/jumbo_blast.png" alt="">
                  </div>
                  <div class="flex-1 flex flex-col self-center ml-14 smx:ml-0">
                    <div class="flex-1 flex-col my-12 smx:my-8">
                        <div class="flex flex-row smx:justify-center">
                          <div class="text-2xl smx:text-base smx:text-center smx:font-medium text-primary">OCA Blast</div>
                        </div>
                        <div style="letter-spacing: 0.75px;" class="text-4/5xl smx:text-2xl font-semibold text-neutral-600 smx:text-center leading-12 smx:leading-8 my-6 smx:my-4">Blast Pesan Omnichannel <br/> ke Customer</div>
                        <div style="letter-spacing: 0.5px;" class="text-base text-neutral-300 leading-6 my-8 smx:hidden">Nikmati kemudahan mengirimkan pesan ke seluruh pelanggan <br/> Anda di berbagai channel marketing dengan sekali klik. Buat <br/> konten sesuai kebutuhan Anda dengan semua fitur yang kami <br/> sediakan.</div>
                        <div class="text-base text-neutral-300 smx:text-center leading-6 my-8 smx:my-4 lg:hidden">Kirim informasi dan promosi ke semua channel <br/> yang digunakan customer Anda. Buat dan atur <br/> konten sesuai keinginan Anda dengan semua <br/> fitur yang kami punya.</div>
                    </div>
                  </div>
                  <div class="flex-1 self-center smx:hidden">
                    <img class="mx-auto self-center" src="../../../assets/image/product/jumbo_blast.png" alt="">
                  </div>
              </div>
          </div> 
        </div>
      </div>
      <oca-content class="mt-16 smx:mt-8"></oca-content>
    </div>
   
    <oca-featured></oca-featured>


    <!-- <div id="section-1" class="bg-white h-78">
      <div class="flex relative max-w-screen-xl self-auto items-center mx-auto bg-white">
        <div class="absolute">
          <img class="mx-auto" src="../../../assets/image/product/header_blast-4.png" alt="">
        </div>
        <div class="flex bg-neutral-10">
          <div class="flex flex-col p-10 bg-white">
            <div>“Dengan SMS dan WhatsApp blast memudahkan penyebaran penagihan IndiHome dan Wifi.id yang sampai kepada pelanggan”</div>
            <div class="flex flex-row">
              <img class="mx-auto" src="../../../assets/image/product/face-1.png" alt="">
              <div class="flex flex-col">
                <div>Bea Js</div>
                <div>Founder of Telkom</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <oca-testimony></oca-testimony>
    <oca-footer-sub></oca-footer-sub>
    <oca-footer></oca-footer>
  </div>
</template>

<script>
  import OcaNavbar from '../../../components/oca_origin/navbar';
  import OcaFooter from '../../../components/oca_origin/footer';
  import OcaContent from "./components/HeaderContent";
  import OcaFooterSub from "./components/FooterSub";
  import OcaFeatured from "./components/Featured";
  import OcaTestimony from "./components/Testimony";
  // import OcaButton from '../../../components/oca_origin/buttons';

  export default {
    name: 'App',
    components: {
      // OcaButton,
      OcaNavbar,
      OcaFeatured,
      OcaTestimony,
      OcaFooter,
      OcaFooterSub,
      OcaContent
    },
    data: function () {
      return {
        menuShow: false,
      }
    },
    mounted() {

    },
    methods: {
      menuShowMobile: function () {
        this.menuShow = !this.menuShow
      },
      goto: function (url) {
          window.location.replace(`${window.location.protocol}//${window.location.host}/${url}`)
      },
    },
    created: function () {

    },
    destroyed: function () {

    },

    //INJECT META HTML
    metaInfo(){
      return {
        title: `OCA Interaction - Telkom OCA solusi omnichannel - Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast`,
        meta: [
          {
            name: 'keywords',
            content: 'Telkom OCA, omnichannel platform, whatsapp bisnis, email blast, ivr call, sms blast'
          },
          {
            name: 'author',
            content: 'Telkom OCA'
          },
          {
            name: 'description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            name: 'thumbnail',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
          {
            property: 'og:title',
            content: "Telkom OCA Omnichannel Platform"
          },
          {
            property: 'og:description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            property: 'og:image',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
          {
            property: 'twitter:card',
            content: "summary"
          },
          {
            property: 'twitter:site',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:creator',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:title',
            content: 'Telkom OCA Omnichannel Platform'
          },
          {
            property: 'twitter:url',
            content: 'https://ocatelkom.co.id'
          },
          {
            property: 'twitter:description',
            content: 'Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast'
          },
          {
            property: 'twitter:image:src',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
        ]
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


  #app {
    font-family: Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
