<template>
  <div id="app" class="relative overflow-x-hidden">
    <!-- <div class="bg-neutral-600 smx:hidden">
      <div class="relative text-white text-xsm max-w-screen-xl self-auto items-center justify-center mx-auto py-2">
          <span class="font-semibold text-primary">Update terbaru Covid 19:</span> Completely restore maintainable convergence whereas covalent mindshare. Objectively morph frictionless alignments before technically sound networks. Objectively unleash.
      </div>
    </div> -->
     <div v-if="menuShow" style="transform: translate(-50%,-50%);width: 371px;height: 524px;z-index: 999" class="fixed left-50 top-50 bg-white shadow-xl rounded-xlg overflow-y-scroll py-8 px-5">
      <div style="" class="flex-col h-full overflow-y-scroll">
        <div class="flex-col">
          <div class="text-sm text-neutral-600 font-semibold uppercase">Produk</div>
          <div @click="goto('product/blast');" class="text-base text-neutral-400 my-4 ml-6">OCA Blast</div>
          <div  @click="goto('product/interaction');" class="text-base text-neutral-400 my-4 ml-6">OCA Interaction</div>
          <div @click="goto('product/profiling');" class="text-base text-neutral-400 my-4 ml-6">OCA Profiling</div>
        </div>
        <!-- <div class="flex-col">
          <div class="text-sm text-neutral-600 font-semibold uppercase">Solution</div>
          <div class="text-base text-neutral-400 my-4 ml-6">OCA Blast</div>
          <div class="text-base text-neutral-400 my-4 ml-6">OCA Interaction</div>
          <div class="text-base text-neutral-400 my-4 ml-6">OCA Profiling</div>
        </div> -->
        <div class="flex-col">
          <div  class="text-sm text-neutral-600 font-semibold uppercase">Harga</div>
          <div @click="goto('pricing');" class="text-base text-neutral-400 my-4 ml-6">Harga</div>
        </div>
        <!-- <div class="flex-col">
          <div class="text-sm text-neutral-600 font-semibold uppercase">Resources</div>
          <div class="text-base text-neutral-400 my-4 ml-6">FAQ</div>
          <div class="text-base text-neutral-400 my-4 ml-6">API Documentation</div>
        </div> -->
        <div class="flex-col">
          <div class="text-sm text-neutral-600 font-semibold uppercase">Tentang Kami</div>
          <div @click="goto('about-us/tentang-oca')" class="text-base text-neutral-400 my-4 ml-6">Tentang OCA</div>
          <div @click="goto('about-us/blog')" class="text-base text-neutral-400 my-4 ml-6">Blog</div>
        </div>
      </div>
    </div>
    <oca-navbar></oca-navbar>
    <pricing-comp></pricing-comp>
    <featured></featured>
    <oca-footer-sub></oca-footer-sub>
    <oca-footer style="margin:0"></oca-footer>
  </div>
</template>

<script>
  import OcaNavbar from '../../components/oca_origin/navbar';
  import OcaFooterSub from "./components/FooterSub";
  import PricingComp from "./components/PricingComp";
  import Featured from "./components/Featured";
  import OcaFooter from '../../components/oca_origin/footer';


  export default {
    name: 'App',
    components: {
        OcaNavbar,
        PricingComp,
        OcaFooterSub,
        Featured,
        OcaFooter
    },
    mounted() {

    },
    data: function () {
      return {
        menuShow :false
      }
    },
    methods: {
      menuShowMobile: function () {
        this.menuShow = !this.menuShow
      },
      goto: function (url) {
          window.location.replace(`${window.location.protocol}//${window.location.host}/${url}`)
      },
    },
    created: function () {
      
    },
    destroyed: function () {
    },

  }
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

    #app {
        font-family: Inter;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

</style>
