<template>
    <div class="w-full lg:p-12 p-4 mt-24 lg:mt-10" style="max-width: 800px">
        <div style="padding: 30px">
            <div>
                <div class="flex justify-end items-center">
                    <img src="../../../assets/image/invoice/cetak.png" class="w-4 h-auto" style="margin-right: 5px;">
                    <a target="_blank" :href="'invoice?order_id=' + konten.order_id" style="display: table-cell; vertical-align: middle; font-size: 14px; color: #D3D3E0">Cetak Invoice</a>
                </div>
            </div>
            <div style="display: flex; justify-content: space-between; border: solid 1px #D3D3E0; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; padding: 15px 30px 15px 30px; margin-top: 10px; background-color: #FAFAFF;">
                <p>Detail Pembayaran</p>
            </div>

            <!-- LIST PRODUK -->
            <div style="border: solid 1px #D3D3E0; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; padding: 20px 30px 20px 30px; margin-top: -1px">
                <product-item v-for="data in konten.invoice.items" :key="data" :name="data.additional_info.product_name" :desc="data.additional_info.product_desc"/>
            </div>
        </div>

        <div>
            <p style="font-size: 13px; margin: 50px; line-height: 20px">Salam<br><span style="color: #ED1260">OCA Indonesia</span></p>

            <img src="../../../assets/image/invoice/footer.png" style="width: 100%; height: auto">

            <div style="display:flex; flex-wrap: wrap; padding: 50px; justify-content: center">
                <p style="width: 100%; font-size: 13px; text-align: center">Ikuti Kami</p>

                <div style="margin-top: 10px" class="flex">
                    <a href="https://www.facebook.com/OCA.IDN" target="_blank"><img src="../../../assets/image/invoice/fb.png" width="25px" height="25px" style="margin-right: 10px"></a>
                    <a href="https://www.instagram.com/oca.indonesia/" target="_blank"><img src="../../../assets/image/invoice/ig.png" width="25px" height="25px" style="margin-right: 10px"></a>
                    <a href="https://medium.com/oca-indonesia" target="_blank"><img src="../../../assets/image/invoice/m.png" width="25px" height="25px" style="margin-right: 10px"></a>
                </div>

                <p style="width: 100%; font-size: 13px; color: #C4C4C4; margin-top: 70px; text-align: center">2020, Omni Communication Assistant by Telkom Indonesia</p>
            </div>
        </div>
    </div>
</template>

<script>
    import ProductItem from "./ProductItem";
    export default {
        name: "DetailContent",
        components: {ProductItem},
        props:{
            konten: Object
        }
    }
</script>

<style scoped>

</style>