<template>
    <div class="md:w-1/2 lg:w-1/3 flex flex-row p-4 items-start">
        <img :src="img" class="mr-4" style="max-height: 35px">
        <div class="flex-1">
            <p class="text-md font-semibold text-white">{{ judul }}</p>
            <p class="text-sm mt-2 text-white"> {{ desc }} </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ExtraItem",
        props: {
            img: String,
            judul: String,
            desc: String,
        }
    }
</script>

<style scoped>

</style>