<template>
    <div class="flex flex-wrap p-10">
        <div class="lg:w-2/5 flex justify-center">
            <div class="flex-wrap mt-10">
                <p class="text-xl font-bold pb-4 pr-16 border-b-2" style="color: #416FB7; border-color: #416FB7">{{konten.name}}</p>
                <p class="text-sm mt-4" style="max-width: 250px">{{konten.description}}</p>
            </div>
        </div>
        <div class="lg:w-3/5 flex flex-wrap">
            <desc-item v-for="data in konten.detail" :key="data" :judul="data.name" :desc="data.description" :img="data.img_url" :color="color" :color-desc="colorDesc"/>
        </div>
    </div>
</template>

<script>
    import DescItem from "./item/DescItem";

    export default {
        name: "VoiceBlast",
        components: {
            DescItem
        },
        props: {
            konten: Object
        },
        data: function () {
            return {
                color: '#416FB7',
                colorDesc: '#8D929B',
                detail: []
            }
        },
    }
</script>

<style scoped>

</style>