<template>
  <div id="app" class="w-screen h-screen  px-8 md:px-10 xl:px-40 lg:px-20">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFHTVZD"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <a href="./" class="pt-10 sm:pt-10 md:pt-10 lg:pt-10 inline-block">
        <img src="../../assets/image/logo-oca.png" class="w-40 md:w-56">
      </a>
    <div class="flex flex-wrap items-center w-full mt-10 md:mt-10">
     
      <login-user class="flex-1" v-show="currentPage === 'login'"/>
  
      <div class="hidden lg:block lg:w-1/2 flex-1">
        <div class="w-full h-full flex flex-wrap items-center">
          <div class="lg:ml-4 xl:ml-5 xl:w-full">
          <img style="width:130%" class="w-full" src="../../assets/image/login/bg-login.png">
          </div>
        </div>
      </div>

      <forgot v-show="currentPage === 'forgot'"/>
    </div>

    <loading-overlay/>
    <error-overlay/>
  </div>
</template>

<script>
  import LoginUser from "./components/LoginUser";
  import Forgot from "./components/Forgot";
  import LoadingOverlay from "../../components/LoadingOverlay";
  import ErrorOverlay from "../../components/ErrorOverlay";
  import "../../google_tag.js"

  export default {
    name: 'App',
    components: {
      ErrorOverlay,
      LoadingOverlay,
      Forgot,
      LoginUser,
    },
    data: function () {
      return {
        currentPage: 'login',
        verified: false
      }
    },
    mounted() {
        //Google Analytics script
        let analytic = document.createElement('script')
        analytic.async = true
        analytic.defer = true
        analytic.setAttribute('crossOrigin', 'anonymous')
        analytic.setAttribute('src', 'https://www.googletagmanager.com/gtag/js?id=UA-169935056-1')
        document.head.appendChild(analytic)

        let _linkedin_partner_id = "2753236"; 
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; 
        window._linkedin_data_partner_ids.push(_linkedin_partner_id); 
        //Linkedin script
        let Linkedinanalytic = document.createElement('script')
        Linkedinanalytic.async = true
        Linkedinanalytic.defer = true
        Linkedinanalytic.setAttribute('crossOrigin', 'anonymous')
        Linkedinanalytic.setAttribute('src', 'https://snap.licdn.com/li.lms-analytics/insight.min.js')
        document.head.appendChild(Linkedinanalytic)
    },
    created() {
      if(!this.$cookies.isKey('lang_oca')){
        this.$cookies.set('lang_oca', 'id')
      }

      //APABILA TERDAPAT SESSION, REDIRECT KE LANDING PAGE
      if(this.$session.exists()) {
        window.location.href = './'
      }

      let uri = window.location.search.substring(1);
      let params = new URLSearchParams(uri);
      if(params.get("verified") != null){
        this.verified = true
      }
    },
    methods: {
      changePage: function (value) {
        this.currentPage = value
      }
    },

  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

  #app {
    font-family: Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
