<template>
  <div id="app" class="relative h-screen">
    <div class="fixed right-2 bottom-7 z-50">
      <img @click="changeWaFloating" class="w-16 cursor-pointer" src="../../assets/image/wa-floating.png">
    </div>
    <transition name="fade">
      <wa-barcode v-if="showWaFloating" class="fixed xxxl:right-6 xxl:right-7 xls:right-8 right-8 bottom-7 xls:bottom-6 shadow-lg z-50" />
    </transition>
  <div class="overflow-hidden">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFHTVZD"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="relative flex flex-grow h-screen" style="max-height: 400px; min-height: 200px;">
      <header-bg class="absolute flex-1 lg:opacity-100 opacity-0"/>
      <div class="z-20 w-full relative lg:bg-transparent bg-main-color">
        <Navbar id="nav" v-bind:is-shown="false" :isUmkm="false" class="fixed navbar-default lg:bg-transparent bg-main-color"/>
        <transition name="fade">
          <wa-barcode v-if="showWa" class="z-50 absolute xxxl:right-17 xxl:right-19 xls:right-22 right-25 top-15 shadow-lg" />
        </transition>
        <header-content class="mt-32"/>
      </div>
    </div>
    <umkmContent :price-data="promo" :extra-data="blastExtra" :konten="blastKonten" />
    <p class="bg-white py-16 px-10 lg:px-32 text-xl font-medium tracking-widest" style="font-family: Poppins">{{$cookies.get('lang_oca') === 'id' ? 'Penawaran Terbaik Kami' : 'Our Best Offer for You'}}</p>
    <oca-blast :price-data="blast" :extra-data="blastExtra" :konten="blastKonten"/>

    <whatsapp class="mt-16" :price-data="wa" :extra-data="waExtra" :konten="waKonten"/>
    <enterprise class="z-50"/>
    <umkm class="-z-10"/>
    <div class="px-5 py-8 md:px-20 md:py-16 lg:px-40 lg:py-20 bg-white">
      <oca-profiling :konten="profiling" :price="profilingPrice"/>
      <oca-interaction class="mt-16" :konten="interaction" :price="interactionPrice"/>
      <reseller class="mt-16"/>
    </div>

    <div class="h-1 border-gray-400 lg:mx-20 mt-16" :class="{'border-t-2' : !this.$session.exists()}"></div>

    <try-oca v-show="!this.$session.exists()"/>
    <Footer/>

      <loading-overlay/>
  </div>
  </div>
</template>

<script>
  import Navbar from "../../components/Navbar";
  import HeaderBg from "./components/HeaderBg";
  import WaBarcode from "../../components/waBarcode";
  import umkmContent from "./components/umkmContent";
  import umkm from "./components/umkm";
  import HeaderContent from "./components/HeaderContent";
  import OcaBlast from "./components/OcaBlast";
  import Footer from "../../components/Footer";
  import TryOca from "../../components/tryOca";
  import Whatsapp from "./components/Whatsapp";
  import Enterprise from "./components/Enterprise";
  import OcaProfiling from "./components/OcaProfiling";
  import OcaInteraction from "./components/OcaInteraction";
  import Reseller from "./components/Reseller";
  import LoadingOverlay from "../../components/LoadingOverlay";
  import "../../google_tag.js"

  export default {
    name: 'App',
    components: {
        LoadingOverlay,
      Reseller,
      OcaInteraction,
      OcaProfiling,
      Enterprise,
      umkm,
      Whatsapp,
      TryOca,
      Footer,
      Navbar,
      HeaderBg,
      HeaderContent,
      OcaBlast,
      WaBarcode,
      umkmContent
    },
    mounted() {
        //DEKLARASI SCRIPT UNTUK CHATBOT
      let liveChat = document.createElement('script')
      liveChat.async = true
      liveChat.defer = true
      liveChat.setAttribute('crossOrigin', 'anonymous')
      liveChat.setAttribute('src', 'https://code.jivosite.com/widget/aAlTqVN5rV')
      document.head.appendChild(liveChat)

      //Google Analytics script
      let analytic = document.createElement('script')
      analytic.async = true
      analytic.defer = true
      analytic.setAttribute('crossOrigin', 'anonymous')
      analytic.setAttribute('src', 'https://www.googletagmanager.com/gtag/js?id=UA-169935056-1')
      document.head.appendChild(analytic)
    },
    data: function () {
      return {
          show: false,
          showWa: false,
          showWaFloating: false,
          blast: [],
          blastExtra: [],
          blastKonten: {},
          wa: [],
          promo: [],
          waExtra: {},
          waKonten: {},
          profiling: {},
          interaction: {},
          profilingPrice: {},
          interactionPrice: {},
      }
    },
    methods: {
        handleScroll: function () {
            var nav = document.querySelector('#nav')
            var navHead = document.querySelector('#nav_head')
            if(window.scrollY > 70 && this.show === false){
                nav.classList.toggle('scrolled')
                navHead.classList.toggle('hidden')
                this.show = true
            }

            if(window.scrollY < 70 && this.show === true){
                nav.classList.toggle('scrolled')
                navHead.classList.toggle('hidden')
                this.show = false
            }
        },

        //LOAD HARGA PRODUK
        loadData: function () {
            const axios = require('axios')

            let main = this
            axios.get('https://payment.ocatelkom.co.id/api/v1/price-list', {
                headers: {
                    'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
                }
            })
            .then(function (response) {
                main.blast = response.data.product.oca_blast
                main.wa = response.data.product.whatsapp_blast
                main.promo = response.data.product.promo

                main.blastExtra.push(response.data.product.call)
                main.blastExtra.push(response.data.product.sms)
                main.blastExtra.push(response.data.product.email)

                main.waExtra = response.data.product.whatsapp
                main.profilingPrice = response.data.product.profiling
                main.interactionPrice = response.data.product.interaction
            })
        },

        //LOAD DESKRIPSI DAN KONTEN
        loadKonten: function () {
            const axios = require('axios')

            let main = this
            let url = 'https://dtpx1.ocatelkom.co.id/api/pricing/' + this.$cookies.get('lang_oca')
            axios.get(url)
                .then(function (response) {
                    main.blastKonten = response.data.oca_blast
                    main.waKonten = response.data.whatsapp_package

                    main.profiling = response.data.oca_profiling
                    main.interaction = response.data.oca_interaction
                })
        },
        changeWa: function () {
          this.showWa = !this.showWa  
          this.showWaFloating = false
        },
        changeWaFloating: function () {
          this.showWaFloating = !this.showWaFloating  
          this.showWa = false
        }
    },
    created: function () {
        if(!this.$cookies.isKey('lang_oca')){
            this.$cookies.set('lang_oca', 'id')
        }

        this.loadData()
        this.loadKonten()
        window.addEventListener('scroll', this.handleScroll);
    },
    destroyed: function () {
        window.removeEventListener('scroll', this.handleScroll);
    },
    metaInfo(){
      return {
        title: `Pricing - Telkom OCA solusi omnichannel - Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast`,
        meta: [
          {
            name: 'keywords',
            content: 'Telkom OCA, omnichannel platform, whatsapp bisnis, email blast, ivr call, sms blast'
          },
          {
            name: 'author',
            content: 'Telkom OCA'
          },
          {
            name: 'description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            name: 'thumbnail',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
          {
            property: 'og:title',
            content: "Telkom OCA Omnichannel Platform"
          },
          {
            property: 'og:description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            property: 'og:image',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
          {
            property: 'twitter:card',
            content: "summary"
          },
          {
            property: 'twitter:site',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:creator',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:title',
            content: 'Telkom OCA Omnichannel Platform'
          },
          {
            property: 'twitter:url',
            content: 'https://ocatelkom.co.id'
          },
          {
            property: 'twitter:description',
            content: 'Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast'
          },
          {
            property: 'twitter:image:src',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
        ]
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');

  #app {
    font-family: Lato;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

</style>
