<template>
    <div class="pl-8 flex flex-wrap">
        <div>
            <div class="w-full flex items-center mt-2">
                <svg width="20" height="20" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.3034 2.95813C17.2254 1.06455 14.4907 0.0529118 11.6785 0.137473C10.1738 0.107251 8.67809 0.375333 7.2779 0.926195C5.87772 1.47706 4.60091 2.29976 3.52138 3.34666C2.42725 4.36582 1.56133 5.60443 0.980421 6.98122C0.399513 8.35802 0.116748 9.84188 0.150679 11.3355C0.130495 12.7959 0.40374 14.2456 0.954264 15.5988C1.50479 16.952 2.32142 18.1813 3.35591 19.2141C4.49036 20.3325 5.84515 21.2034 7.33443 21.7717C8.8237 22.3399 10.415 22.593 12.0074 22.5151C14.2221 22.51 16.4122 22.0515 18.4424 21.168C18.7726 21.0287 19.0351 20.7658 19.1735 20.4357C19.312 20.1055 19.3153 19.7344 19.1829 19.4018C19.1145 19.233 19.0129 19.0797 18.8842 18.9508C18.7555 18.8219 18.6022 18.7199 18.4335 18.6511C18.2647 18.5822 18.0839 18.5477 17.9015 18.5496C17.7192 18.5516 17.5392 18.5899 17.3719 18.6624C15.6821 19.4171 13.8553 19.818 12.0043 19.8402C10.8074 19.9117 9.60919 19.7216 8.49338 19.2833C7.37757 18.8449 6.37098 18.1688 5.54381 17.3021C4.04698 15.6826 3.22856 13.5521 3.25683 11.3487C3.22553 10.2044 3.42658 9.06556 3.84789 8.00087C4.26919 6.93618 4.90202 5.96767 5.70825 5.15367C6.48454 4.34775 7.41957 3.71106 8.45447 3.2837C9.48937 2.85634 10.6017 2.64758 11.7214 2.67056C13.7648 2.61599 15.7514 3.34596 17.2718 4.71007C18.0023 5.34875 18.5836 6.13962 18.9747 7.02694C19.3657 7.91425 19.5571 8.87641 19.5353 9.84558C19.5817 11.1017 19.2174 12.3387 18.4975 13.3699C18.2768 13.7593 17.9659 14.0903 17.5907 14.3352C17.2156 14.58 16.7872 14.7316 16.3413 14.7771C15.9389 14.7771 15.7376 14.563 15.7376 14.1286C15.7422 13.7152 15.7681 13.3023 15.8153 12.8916L16.6671 5.9501H13.7407L13.5528 6.63028C12.8705 6.04392 12.0017 5.71865 11.1014 5.7125C10.4117 5.71035 9.73013 5.86013 9.10512 6.15114C8.48011 6.44216 7.92711 6.86726 7.48553 7.39612C6.45206 8.59383 5.9141 10.1394 5.98098 11.7189C5.90824 13.2234 6.38234 14.7035 7.31598 15.8866C7.69443 16.3793 8.18118 16.7786 8.73868 17.0537C9.29619 17.3288 9.90954 17.4724 10.5314 17.4734C11.0856 17.4723 11.6322 17.3451 12.1297 17.1014C12.6273 16.8577 13.0626 16.504 13.4027 16.0671C13.6868 16.5038 14.0811 16.8581 14.5458 17.0946C15.0105 17.331 15.5293 17.4413 16.0502 17.4142C16.9131 17.4067 17.7628 17.201 18.5334 16.8133C19.304 16.4255 19.975 15.8659 20.4944 15.1779C21.752 13.6652 22.4176 11.7486 22.3677 9.78338C22.3811 8.49226 22.1141 7.21357 21.5851 6.03532C21.0561 4.85708 20.2777 3.80726 19.3034 2.95813ZM12.562 13.4616C12.3624 13.7737 12.0893 14.0322 11.7664 14.2144C11.4436 14.3966 11.0809 14.4971 10.7102 14.5069C10.4614 14.5017 10.2191 14.4272 10.0106 14.2916C9.80214 14.1561 9.6358 13.965 9.53043 13.74C9.21056 13.1562 9.05425 12.4971 9.07794 11.8321C9.03919 11.0265 9.26046 10.2297 9.70918 9.55903C9.87734 9.29628 10.1083 9.0794 10.3813 8.92791C10.6543 8.77642 10.9607 8.69508 11.273 8.69121C11.5451 8.69314 11.8137 8.75183 12.0618 8.86352C12.3098 8.97521 12.5317 9.13743 12.7132 9.33978C12.9287 9.57224 13.0956 9.84532 13.2039 10.143C13.3123 10.4407 13.3601 10.757 13.3444 11.0734C13.3512 11.9336 13.0764 12.7725 12.562 13.4627V13.4616Z" fill="#ED1260"/>
                </svg>
                <p class="ml-4 font-bold">Email Blast</p>
            </div>

            <p class="w-full mt-4">{{konten.description}}</p>
        </div>


        <div class="w-full flex flex-wrap justify-center mt-6">
            <p v-for="data in konten.advantage" :key="data" class="w-1/2 lg:w-1/3 text-sm py-4">{{data}}</p>
        </div>

        <a class="flex text-sm font-bold text-main-color mt-auto align-bottom" href="products" target="_blank">Read More</a>
    </div>
</template>

<script>
    export default {
        name: "Email",
        props: {
            konten: Object
        }
    }
</script>

<style scoped>

</style>