<template>
    <div class="pl-8 flex flex-wrap">
        <div>
            <div class="flex items-center mt-2">
                <svg width="20" height="20" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.1904 5.66015H20.5665V12.5061C20.5913 12.7649 20.5613 13.0261 20.4784 13.2727C20.3955 13.5192 20.2616 13.7456 20.0853 13.9371C19.9091 14.1286 19.6945 14.281 19.4554 14.3843C19.2163 14.4876 18.9582 14.5395 18.6977 14.5367H6.48145V14.8626C6.55358 15.3886 6.81413 15.8708 7.21487 16.2198C7.61561 16.5688 8.12942 16.7611 8.66123 16.7611H18.0014L21.5748 18.8583L21.0562 16.7611H21.1933C21.4264 16.7511 21.6549 16.6929 21.8642 16.5902C22.0736 16.4875 22.2594 16.3425 22.4097 16.1644C22.56 15.9863 22.6717 15.779 22.7376 15.5555C22.8035 15.3321 22.8223 15.0975 22.7927 14.8664V7.28581C22.8173 7.06862 22.793 6.84868 22.7215 6.64206C22.6501 6.43544 22.5334 6.24736 22.3798 6.09156C22.2262 5.93576 22.0398 5.81617 21.834 5.74153C21.6282 5.66689 21.4083 5.63909 21.1904 5.66015Z" fill="#ED1260"/>
                    <path d="M16.8733 0.901611H2.68489C1.43709 0.901611 0 2.00853 0 3.08073V11.6622C0 12.6447 1.21689 13.3544 2.38453 13.4643L1.62446 16.3444L6.493 13.4846H16.8733C18.1221 13.4846 19.2733 12.7286 19.2733 11.6622V3.08073C19.2081 2.48784 18.9282 1.93915 18.4862 1.53784C18.0443 1.13654 17.4707 0.910278 16.8733 0.901611ZM4.84923 8.14862C4.59579 8.14843 4.3481 8.07323 4.13747 7.93252C3.92684 7.79181 3.76272 7.59191 3.66587 7.35809C3.56902 7.12428 3.54377 6.86704 3.59333 6.61891C3.64289 6.37077 3.76503 6.14287 3.9443 5.96403C4.12358 5.78518 4.35194 5.66341 4.60052 5.61412C4.8491 5.56483 5.10674 5.59023 5.34086 5.6871C5.57499 5.78397 5.77509 5.94797 5.91587 6.15836C6.05665 6.36875 6.13179 6.61609 6.13179 6.86912C6.13179 7.03722 6.09861 7.20368 6.03415 7.35898C5.96968 7.51428 5.87519 7.65538 5.75608 7.77421C5.63697 7.89303 5.49557 7.98726 5.33997 8.0515C5.18437 8.11575 5.01761 8.14875 4.84923 8.14862ZM9.63664 8.14862C9.38317 8.14862 9.13538 8.07358 8.92462 7.93299C8.71386 7.79239 8.5496 7.59256 8.4526 7.35876C8.3556 7.12496 8.33022 6.8677 8.37967 6.6195C8.42912 6.3713 8.55118 6.14331 8.73041 5.96437C8.90965 5.78542 9.13801 5.66356 9.38661 5.61419C9.63522 5.56482 9.89291 5.59016 10.1271 5.687C10.3613 5.78385 10.5614 5.94784 10.7023 6.15826C10.8431 6.36867 10.9182 6.61605 10.9182 6.86912C10.9182 7.20846 10.7832 7.53391 10.5429 7.77386C10.3025 8.01382 9.97654 8.14862 9.63664 8.14862ZM14.425 8.14862C14.1715 8.14862 13.9238 8.07358 13.713 7.93299C13.5022 7.79239 13.338 7.59256 13.241 7.35876C13.144 7.12496 13.1186 6.8677 13.168 6.6195C13.2175 6.3713 13.3396 6.14331 13.5188 5.96437C13.698 5.78542 13.9264 5.66356 14.175 5.61419C14.4236 5.56482 14.6813 5.59016 14.9155 5.687C15.1497 5.78385 15.3498 5.94784 15.4906 6.15826C15.6315 6.36867 15.7066 6.61605 15.7066 6.86912C15.7064 7.20838 15.5713 7.53368 15.331 7.77358C15.0907 8.01348 14.7648 8.14837 14.425 8.14862Z" fill="#ED1260"/>
                </svg>
                <p class="ml-4 font-bold">SMS Blast</p>
            </div>

            <p class="w-full mt-4">{{konten.description}}</p>
        </div>

        <div class="w-full flex flex-wrap justify-center mt-6">
            <p v-for="data in konten.advantage" :key="data" class="w-1/2 lg:w-1/3 text-sm py-4">{{data}}</p>
        </div>

        <a class="flex text-sm font-bold text-main-color mt-auto align-bottom" href="products" target="_blank">Read More</a>
    </div>
</template>

<script>
    export default {
        name: "SMS",
        props: {
            konten: Object
        }
    }
</script>

<style scoped>

</style>