<template>
    <div class="pl-8 flex flex-wrap">
        <div>
            <div class="w-full flex items-center mt-2">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.4754 11.4384C23.4568 13.4183 22.9243 15.3594 21.93 17.0725C20.9357 18.7856 19.5135 20.2121 17.8023 21.2127C16.091 22.2134 14.1491 22.754 12.1661 22.7818C10.1832 22.8096 8.22682 22.3236 6.48808 21.3714L0.147949 23.3823L2.21556 17.2952C1.13655 15.5317 0.566123 13.505 0.567131 11.4384C0.567131 8.40612 1.77368 5.49802 3.92136 3.35386C6.06904 1.2097 8.98191 0.00512695 12.0192 0.00512695C15.0565 0.00512695 17.9693 1.2097 20.117 3.35386C22.2647 5.49802 23.4712 8.40612 23.4712 11.4384H23.4754ZM12.0244 1.89986C9.48142 1.89263 7.0394 2.89289 5.23426 4.68115C3.42911 6.46941 2.40829 8.89959 2.39581 11.4384C2.39612 13.4505 3.04052 15.4099 4.23497 17.0306L3.02668 20.5721L6.72701 19.3982C8.17471 20.3453 9.85109 20.8858 11.5802 20.9631C13.3093 21.0403 15.0273 20.6515 16.554 19.8373C18.0806 19.0231 19.3596 17.8136 20.2566 16.3358C21.1536 14.858 21.6356 13.1663 21.652 11.4384C21.6392 8.89986 20.6185 6.47 18.8136 4.68183C17.0088 2.89366 14.5672 1.89318 12.0244 1.89986ZM17.807 14.0509C17.7358 13.9347 17.5492 13.8657 17.2694 13.7265C16.9896 13.5874 15.6084 12.9147 15.3517 12.8226C15.0949 12.7305 14.9063 12.6834 14.7229 12.9617C14.5395 13.24 13.9977 13.8657 13.8342 14.0519C13.6708 14.2381 13.5073 14.2612 13.2254 14.122C12.3987 13.7958 11.6349 13.3289 10.9681 12.742C10.355 12.1811 9.82877 11.5323 9.40663 10.8169C9.24315 10.5386 9.38987 10.388 9.52924 10.2499C9.66862 10.1118 9.8101 9.92555 9.94843 9.76339C10.0634 9.62323 10.1573 9.4671 10.2272 9.2999C10.2658 9.22336 10.2843 9.13829 10.281 9.05265C10.2777 8.96702 10.2527 8.88362 10.2083 8.81026C10.1381 8.67111 9.57955 7.30263 9.34271 6.74604C9.10587 6.18944 8.87532 6.28255 8.71394 6.28255C8.55255 6.28255 8.36287 6.25954 8.17633 6.25954C8.03426 6.26305 7.89443 6.2957 7.76553 6.35546C7.63663 6.41521 7.52141 6.50079 7.42705 6.60689C7.1087 6.90294 6.856 7.2623 6.68526 7.6618C6.51451 8.0613 6.42949 8.49209 6.43568 8.9264C6.52942 9.97682 6.93028 10.9766 7.58843 11.8015C8.75685 13.6231 10.418 15.0773 12.3797 15.9958C15.2333 17.109 15.2333 16.7376 15.7489 16.6905C16.14 16.6154 16.511 16.4589 16.8376 16.2312C17.1642 16.0036 17.4392 15.7098 17.6446 15.3691C17.8264 14.9549 17.8828 14.4967 17.807 14.0509Z" fill="#ED1260"/>
                </svg>
                <p class="ml-4 font-bold">Social Media Blast</p>
            </div>

            <p class="w-full mt-4">{{konten.description}}</p>
        </div>

        <div class="w-full flex flex-wrap justify-center mt-6">
            <p v-for="data in konten.advantage" :key="data" class="w-1/2 lg:w-1/3 text-sm py-4">{{data}}</p>
        </div>

        <a class="flex text-sm font-bold text-main-color mt-auto align-bottom" href="products" target="_blank">Read More</a>
    </div>
</template>

<script>
    export default {
        name: "SocialMedia",
        props: {
            konten: Object
        }
    }
</script>

<style scoped>

</style>