<template>
    <div class="lg:mt-32 w-full flex flex-wrap justify-center">
        <div class="w-full" style="max-width: 1000px">
            <div class="px-8 lg:mt-0 mt-32">
                <p class="font-bold text-3xl">OCA WhatsApp Blast</p>
                <p class="mt-2">Hi, we have some question before you pick this plan</p>
                <p class="text-xs mt-1">why we are asking some question? <a class="text-main-color" href="https://www.whatsapp.com/legal/commerce-policy/">read here.</a></p>
            </div>

            <form class="mt-12 px-12 lg:px-24 mb-12" method="post" @submit="cekSubmit">
                <ol class="list-decimal">
                    <div v-if="$parent.tipe === 'by_oca'">
                        <li class="pl-2 font-medium text-lg">
                            <p class="font-medium text-lg">Apa vertikal bisnis Anda?</p>
                            <div class="relative">
                                <select v-model="vertikal" class="mt-2 block appearance-none w-full text-sm bg-white border border-gray-500 text-gray-700 p-4 rounded-lg leading-tight focus:outline-none focus:bg-white focus:border-gray-500" required>
                                    <option value="" disabled selected hidden>Pilih kategori vertikal bisnis anda</option>
                                    <option>Travel & Hospitality</option>
                                    <option>Transportation & Logistics</option>
                                    <option>Retail & Ecommerce</option>
                                    <option>Financial Services</option>
                                    <option>Customer Engagements ICVs</option>
                                    <option>Health Care</option>
                                    <option>Education</option>
                                    <option>Other/ Don't know</option>
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-4 text-gray-700">
                                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" fill="#ED1260"/></svg>
                                </div>
                            </div>
                        </li>

                        <li class="pl-2 font-medium text-lg mt-8">
                            <p class="font-medium text-lg">Berikan kami gambaran pesan yang akan anda kirim menggunakan WhatsApp</p>

                            <p class="text-xs font-medium">Pihak Whatsapp akan menolak pesan yang dinilai mengandung unsur promosi.</p>

                            <p class="mt-2 text-xs">Contoh : </p>

                            <p class="mt-4 text-xs">Pelanggan {{'\{\{1\}\}'}}, <br><br>
                                Kami informasikan bahwa tagihan {{'\{\{2\}\}'}} anda dengan nomor pelanggan {{'\{\{3\}\}'}} bulan {{'\{\{4\}\}'}} sebesar Rp. {{'\{\{5\}\}'}} telah terbit.
                                Lakukan pembayaran sebelum tanggal 15/{{'\{\{6\}\}'}}/19 agar terhindar dari denda dan isolir.
                                Pembayaran dapat dilakukan di aplikasi Link Aja, ATM, Indomaret/Alfamart, Plasa Telkom, Tokopedia maupun Channel E-Commerce lainnya.
                                <br><br>
                                Jika mengalami kendala silahkan klik link berikut {{'\{\{7\}\}'}} atau hubungi 147. Terimakasih
                            </p>

                            <p class="mt-4 text-xs">#Nb: {{'\{\{...\}\}'}} adalah variabel yang akan di sisipkan dipesan anda, seperti nama pelanggan, nomor pelanggan, jumlah tagihan, dll.</p>

                            <textarea v-model="message" rows="8" maxlength="1024" class="w-full mt-2 py-2 px-6 border-2 text-sm rounded-md focus:outline-none" style="resize: none" @keyup="changeCount" required/>
                            <p class="w-full mt-2 text-xs text-right text-gray-400">{{totalChar}}/1024</p>
                        </li>
                    </div>

                    <div v-if="$parent.tipe === 'own_masking'">
                        <li class="pl-2 font-medium text-lg mt-8">
                            <p class="font-medium text-lg">Nama Perusahaan</p>
                            <p class="mt-1 text-xs font-medium">Brand/Merk yang anda akan gunakan pada WhatsApp</p>
                            <input v-model="namaP" type="text" class="w-full mt-2 border rounded-lg border-gray-400 py-3 px-4 text-sm focus:outline-none" required>
                        </li>

                        <li class="pl-2 font-medium text-lg mt-8">
                            <p class="font-medium text-lg">Nama Anda</p>
                            <p class="mt-1 text-xs font-medium">Siapa yang akan mengkordinasi proses penggunaan Whatsapp</p>
                            <input v-model="nama" type="text" class="w-full mt-2 border rounded-lg border-gray-400 py-3 px-4 text-sm focus:outline-none" required>
                        </li>

                        <li class="pl-2 font-medium text-lg mt-8">
                            <p class="font-medium text-lg">Alamat Email Anda</p>
                            <p class="mt-1 text-xs font-medium">Anda akan segera dihubungi mengenai langkah selanjutnya</p>
                            <input v-model="email" type="email" class="w-full mt-2 border rounded-lg border-gray-400 py-3 px-4 text-sm focus:outline-none" required>
                        </li>

                        <li class="pl-2 font-medium text-lg mt-8">
                            <p class="font-medium text-lg">Facebook Business Manager ID Perusahaan</p>
                            <p class="mt-1 text-xs font-medium">Hal ini harus Business Manager ID dari merk yang akan menggunakan Whatsapp.
                                <br>Lokasi dari ID Facebook anda akan ada seperti contoh dibawah ini.</p>
                            <img src="../../../assets/image/wa_blast/fb.png" class="w-full h-auto lg:px-12 mt-4">
                            <input v-model="business_id" type="text" class="w-full mt-4 border rounded-lg border-gray-400 py-3 px-4 text-sm focus:outline-none" required>
                        </li>

                        <li class="pl-2 font-medium text-lg mt-8">
                            <p class="font-medium text-lg">Nama Brand pada akun Whatsapp</p>
                            <p class="mt-1 text-xs font-medium">Nama yang akan tampil pada Whatsapp profile Anda. Hal ini tidak dapat Anda rubah setelah disetujui,
                                <br>Anda juga harus mengikut aturan Whatsapp untuk tampilan nama anda<br>(https://faq.whatsapp.com/en/android/26000091/?category=5245246)</p>
                            <input v-model="namaB" type="text" class="w-full mt-2 border rounded-lg border-gray-400 py-3 px-4 text-sm focus:outline-none" required>
                        </li>

                        <li class="pl-2 font-medium text-lg mt-8">
                            <p class="font-medium text-lg">Nomor Telepon dari Whatsapp Akun</p>
                            <p class="mt-1 text-xs font-medium">Nomor ini akan tampil pada keterangan yang ada pada akun Whatsapp Anda</p>
                            <img src="../../../assets/image/wa_blast/tlkm.png" class="w-full h-auto lg:px-32 mt-4">
                            <input v-model="no_wa" type="tel" class="w-full mt-2 border rounded-lg border-gray-400 py-3 px-4 text-sm focus:outline-none" required>
                        </li>

                        <li class="pl-2 font-medium text-lg mt-8">
                            <p class="font-medium text-lg">Penjelasan untuk bagian ‘About’ pada bio Whatsapp Anda</p>
                            <p class="mt-1 text-xs font-medium">Maksimal 135 huruf.</p>
                            <textarea v-model="about" rows="4" maxlength="135" class="w-full mt-2 py-2 px-6 border-2 text-sm rounded-md focus:outline-none" style="resize: none" @keyup="changeAbout" required/>
                            <p class="w-full mt-2 text-xs text-right text-gray-400">{{totalAbout}}/135</p>
                        </li>

                        <li class="pl-2 font-medium text-lg mt-8">
                            <p class="font-medium text-lg"> Penjelasan untuk bagian ‘Description’ pada bio Whatsapp Anda</p>
                            <p class="mt-1 text-xs font-medium">Maksimal 200 huruf.</p>
                            <textarea v-model="description" rows="4" maxlength="200" class="w-full mt-2 py-2 px-6 border-2 text-sm rounded-md focus:outline-none" style="resize: none" @keyup="changeDesc" required/>
                            <p class="w-full mt-2 text-xs text-right text-gray-400">{{totalDesc}}/200</p>
                        </li>

                        <li class="pl-2 font-medium text-lg mt-8">
                            <p class="font-medium text-lg">Kategori Bisnis </p>
                            <div class="relative">
                                <select v-model="kategori" class="mt-2 block appearance-none w-full text-sm bg-white border border-gray-500 text-gray-700 p-4 rounded-lg leading-tight focus:outline-none focus:bg-white focus:border-gray-500" required>
                                    <option value="" disabled selected hidden>Pilih kategori bisnis anda</option>
                                    <option>Automotive</option>
                                    <option>Beauty, Spa & Salon</option>
                                    <option>Clothing & Apparel</option>
                                    <option>Education</option>
                                    <option>Entertainment</option>
                                    <option>Event Planning & Service</option>
                                    <option>Finance  Banking</option>
                                    <option>Food & Grocery</option>
                                    <option>Hotel & Lodging</option>
                                    <option>Medical & Health</option>
                                    <option>Non-Profit</option>
                                    <option>Professional Services</option>
                                    <option>Public Service</option>
                                    <option>Shopping & Retail</option>
                                    <option>Travel & Transportation</option>
                                    <option>Restaurant</option>
                                    <option>Lainnya</option>
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-4 text-gray-700">
                                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" fill="#ED1260"/></svg>
                                </div>
                            </div>
                        </li>

                        <li class="pl-2 font-medium text-lg mt-8">
                            <p class="font-medium text-lg">Website Perusahaan</p>
                            <input v-model="web" type="text" class="w-full mt-2 border rounded-lg border-gray-400 py-3 px-4 text-sm focus:outline-none" required>
                        </li>

                        <li class="pl-2 font-medium text-lg mt-8">
                            <p class="font-medium text-lg">Alamat Perusahaan</p>
                            <input v-model="alamatP" type="text" class="w-full mt-2 border rounded-lg border-gray-400 py-3 px-4 text-sm focus:outline-none" required>
                        </li>

                        <li class="pl-2 font-medium text-lg mt-8">
                            <p class="font-medium text-lg">Facebook URL Perusahaan</p>
                            <input v-model="fb_url" type="text" class="w-full mt-2 border rounded-lg border-gray-400 py-3 px-4 text-sm focus:outline-none" required>
                        </li>

                        <li class="pl-2 font-medium text-lg mt-8">
                            <p class="font-medium text-lg">Email Perusahaan</p>
                            <input v-model="emailP" type="email" class="w-full mt-2 border rounded-lg border-gray-400 py-3 px-4 text-sm focus:outline-none" required>
                        </li>

                        <li class="pl-2 font-medium text-lg mt-8">
                            <p class="font-medium text-lg">Logo Perusahaan</p>
                            <p class="mt-1 text-xs font-medium">Logo perusahaan harus memiliki dimesin kotak, contohnya : 640 x 640 pixels dalam format JPG</p>
                            <label class="flex flex-wrap">
                                <div class="flex flex-wrap mt-2 border rounded-lg border-gray-400 py-3 px-4 text-sm focus:outline-none items-center">
                                    <p class="text-sm mr-4" style="width: 200px">{{filename}}</p>
                                    <p class="px-6 py-1 text-xs bg-gray-200 text-gray-600 font-bold rounded-lg">Upload Gambar</p>
                                </div>
                                <input type="file" class="hidden" accept="image/png,image/jpg,application/pdf" @change="changeFileName" required>
                            </label>
                        </li>
                    </div>
                </ol>

                <button class="mt-16 block mx-auto py-2 px-10 bg-main-color rounded text-white text-center">Submit</button>
            </form>
        </div>

        <loading-overlay/>
        <error-overlay/>
    </div>
</template>

<script>
    import LoadingOverlay from "../../../components/LoadingOverlay";
    import ErrorOverlay from "../../../components/ErrorOverlay";
    export default {
        name: "SecondPage",
        components: {ErrorOverlay, LoadingOverlay},
        data: function () {
            return {
                vertikal: '',
                message: '',
                namaP: '',
                nama: '',
                email: '',
                business_id: '',
                namaB: '',
                no_wa: '',
                about: '',
                description: '',
                kategori: '',
                web: '',
                alamatP: '',
                fb_url: '',
                emailP: '',
                totalChar: 0,
                totalAbout: 0,
                totalDesc: 0,
                filename: '',
                logo: null,
            }
        },
        methods: {
            changeCount: function () {
                this.totalChar = this.message.length
            },
            changeAbout: function () {
                this.totalAbout = this.about.length
            },
            changeDesc: function () {
                this.totalDesc = this.description.length
            },

            changeFileName: function (event) {
                this.filename = event.target.files[0].name
                this.logo = event.target.files[0]
            },

            cekSubmit: function (e) {
                e.preventDefault()

                if(this.$parent.tipe === 'by_oca'){
                    this.submitFormByOca()
                }
                else {
                    this.submitform()
                }
            },

            submitFormByOca: function () {

                this.$modal.show('loading')

                const axios = require('axios');
                let main = this

                let formData = new FormData();
                formData.append("vertikal_bisnis", this.vertikal)
                formData.append("gambaran_pesan", this.message)
                formData.append("user_id", this.$parent.user_id)

                axios.post('https://dtp.ocatelkom.co.id/api/dtp/v1/whatsapp/masking/request/by_oca', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(function (response) {
                    if (response.data.success) {
                        window.location.href = "wasuccessed"
                    }
                })
                .catch(function (error) {
                    if(error.response.data) {
                        main.$modal.show('error', {
                            title: "ERROR " + error.response.data.errors[0].code,
                            message: error.response.data.errors[0].message
                        })
                    }
                })
                .finally(() => {
                    main.$modal.hide('loading')
                })
            },

            submitform: function () {

                this.$modal.show('loading')

                const axios = require('axios');
                let main = this

                let formData = new FormData();
                formData.append("logo", this.logo)
                formData.append("nama_perusahaan", this.namaP)
                formData.append("nama", this.nama)
                formData.append("email", this.email)
                formData.append("bussines_manager_id", this.business_id)
                formData.append("brand_name", this.namaB)
                formData.append("nomor_whatsapp", this.no_wa)
                formData.append("about_bio", this.about)
                formData.append("description_bio", this.description)
                formData.append("kategori_bisnis", this.kategori)
                formData.append("website_perusahaan", this.web)
                formData.append("alamat_perusahaan", this.alamatP)
                formData.append("facebook_url", this.fb_url)
                formData.append("email_perusahaan", this.emailP)
                formData.append("user_id", this.$parent.user_id)

                axios.post('https://dtp.ocatelkom.co.id/api/dtp/v1/whatsapp/masking/request', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(function (response) {
                    if (response.data.success) {
                        window.location.href = "wasuccessed"
                    }
                })
                .catch(function (error) {
                    if(error.response.data) {
                        main.$modal.show('error', {
                            title: "ERROR " + error.response.data.errors[0].code,
                            message: error.response.data.errors[0].message
                        })
                    }
                })
                .finally(() => {
                    main.$modal.hide('loading')
                })
            }
        }
    }
</script>

<style scoped>

</style>