<template>
  <div id="app" class="w-screen h-screen flex flex-wrap">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFHTVZD"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="w-full lg:w-1/2 p-12 flex flex-wrap">
      <a href="./">
        <img src="../../assets/image/logo-oca.png" class="w-56 sml:w-48">
      </a>

      <login-user v-show="currentPage === 'login'"/>
      <forgot v-show="currentPage === 'forgot'"/>
    </div>

    <div class="hidden lg:block lg:w-1/2 bg-custom-16 relative">
      <div class="absolute -right-10 -top-10 z-10">
          <svg width="572" height="573" viewBox="0 0 472 473" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M118 236.666C183.169 236.666 236 183.835 236 118.666C236 53.4963 183.169 0.666016 118 0.666016L0 0.666016L0 118.666C0 183.835 52.8303 236.666 118 236.666ZM0 118.666L118 118.666L118 0.666016C52.8303 0.666016 0 53.4963 0 118.666Z" fill="#7DE3D8"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M236 354.666C236 289.497 183.169 236.666 118 236.666C52.8303 236.666 8.00658e-06 289.497 5.15794e-06 354.666L0 472.666L118 472.666C183.169 472.666 236 419.836 236 354.666Z" fill="#3D2C42"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M471.999 116.661C472 116.526 472 116.391 472 116.256C472 52.0496 419.17 0 354 0C288.831 0 236 52.0496 236 116.256C236 116.256 236 116.256 236 116.256H236V236H471.999V116.661Z" fill="#ED1260"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M471.999 236V472H236C236.781 342.009 342.009 236.781 471.999 236Z" fill="#FFB680"/>
          </svg>
      </div>
      <div class="w-full h-full flex flex-wrap items-center">
        <Employee class="z-20"/>
      </div>
    </div>

    <loading-overlay/>
    <error-overlay/>
  </div>
</template>

<script>
  import Employee from "./components/Employee";
  import LoginUser from "./components/LoginUser";
  import Forgot from "./components/Forgot";
  import LoadingOverlay from "../../components/LoadingOverlay";
  import ErrorOverlay from "../../components/ErrorOverlay";
  import "../../google_tag.js"

  export default {
    name: 'App',
    components: {
      ErrorOverlay,
      LoadingOverlay,
      Forgot,
      LoginUser,
      Employee
    },
    data: function () {
      return {
        currentPage: 'login',
        verified: false
      }
    },
    mounted() {
      //Google Analytics script
      let analytic = document.createElement('script')
      analytic.async = true
      analytic.defer = true
      analytic.setAttribute('crossOrigin', 'anonymous')
      analytic.setAttribute('src', 'https://www.googletagmanager.com/gtag/js?id=UA-169935056-1')
      document.head.appendChild(analytic)
    },
    created() {
      if(!this.$cookies.isKey('lang_oca')){
        this.$cookies.set('lang_oca', 'id')
      }

      //APABILA TERDAPAT SESSION, REDIRECT KE LANDING PAGE
      if(this.$session.exists()) {
        window.location.href = './'
      }

      let uri = window.location.search.substring(1);
      let params = new URLSearchParams(uri);
      if(params.get("verified") != null){
        this.verified = true
      }
    },
    methods: {
      changePage: function (value) {
        this.currentPage = value
      }
    },

    //INJECT META HTML
    metaInfo(){
      return {
        title: `Login - Telkom OCA solusi omnichannel - Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast`,
        meta: [
          {
            name: 'keywords',
            content: 'Telkom OCA, omnichannel platform, whatsapp bisnis, email blast, ivr call, sms blast'
          },
          {
            name: 'author',
            content: 'Telkom OCA'
          },
          {
            name: 'description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            name: 'thumbnail',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
          {
            property: 'og:title',
            content: "Telkom OCA Omnichannel Platform"
          },
          {
            property: 'og:description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            property: 'og:image',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
          {
            property: 'twitter:card',
            content: "summary"
          },
          {
            property: 'twitter:site',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:creator',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:title',
            content: 'Telkom OCA Omnichannel Platform'
          },
          {
            property: 'twitter:url',
            content: 'https://ocatelkom.co.id'
          },
          {
            property: 'twitter:description',
            content: 'Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast'
          },
          {
            property: 'twitter:image:src',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
        ]
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

  #app {
    font-family: Lato;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
