<template>
    <form class="flex flex-wrap" method="post" @submit="submitData">
        <div class="lg:w-2/3">
            <p class="p-6 text-xl text-gray-500">BILLING INFORMATION</p>

            <div class="h-1 border-t border-gray-600"></div>

            <!-- FORM -->
            <div class="w-full flex flex-wrap mt-4 px-4">
                <div class="w-full lg:w-1/2 lg:pr-10 flex-wrap mt-4">
                    <label for="first_name" class="block text-sm">First Name</label>
                    <input v-model="first_name" type="text" id="first_name" name="first_name" class="w-full px-6 py-4 border border-gray-400 rounded-lg mt-2 focus:outline-none" required>
                </div>
                <div class="w-full lg:w-1/2 lg:pr-10 flex-wrap mt-4">
                    <label for="last_name" class="block text-sm">Last Name</label>
                    <input v-model="last_name" type="text" id="last_name" name="last_name" class="w-full px-6 py-4 border border-gray-400 rounded-lg mt-2 focus:outline-none" required>
                </div>
                <div class="w-full lg:w-1/2 lg:pr-10 flex-wrap mt-4">
                    <label for="email" class="block text-sm">Email</label>
                    <input v-model="email" type="email" id="email" name="email" class="w-full px-6 py-4 border border-gray-400 rounded-lg mt-2 focus:outline-none" disabled>
                </div>
                <div class="w-full lg:w-1/2 lg:pr-10 flex-wrap mt-4">
                    <label for="phone" class="block text-sm">Phone Number</label>
                    <input v-model="phone" type="tel" id="phone" name="phone" class="w-full px-6 py-4 border border-gray-400 rounded-lg mt-2 focus:outline-none" disabled>
                </div>
                <div class="w-full lg:w-1/2 lg:pr-10 flex-wrap mt-4">
                    <label for="company" class="block text-sm">Company Name</label>
                    <input v-model="company" type="text" id="company" name="company" class="w-full px-6 py-4 border border-gray-400 rounded-lg mt-2 focus:outline-none" required>
                </div>
                <div class="w-full lg:w-1/2 lg:pr-10 flex-wrap mt-4">
                    <label for="industry" class="block text-sm">Industry</label>
                    <div class="relative">
                        <select v-model="industry" id="industry" name="industry" class="appearance-none w-full text-lg h-auto bg-white border border-gray-400 text-gray-700 py-4 px-6 rounded-lg leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mt-2" required>
                            <option value="" disabled selected hidden>Select Industry</option>
                            <option value="Automotive">Automotive</option>
                            <option value="Beauty, Spa & Salon">Beauty, Spa & Salon</option>
                            <option value="Clothing & Apparel">Clothing & Apparel</option>
                            <option value="Education">Education</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Event Planning & Service">Event Planning & Service</option>
                            <option value="Finance  Banking">Finance  Banking</option>
                            <option value="Food & Grocery">Food & Grocery</option>
                            <option value="Hotel & Lodging">Hotel & Lodging</option>
                            <option value="Medical & Health">Medical & Health</option>
                            <option value="Non-Profit">Non-Profit</option>
                            <option value="Professional Services">Professional Services</option>
                            <option value="Public Service">Public Service</option>
                            <option value="Shopping & Retail">Shopping & Retail</option>
                            <option value="Travel & Transportation">Travel & Transportation</option>
                            <option value="Restaurant">Restaurant</option>
                            <option value="Lainnya">Lainnya</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-4 text-gray-700 mt-3">
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" fill="#ED1260"/></svg>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/2 lg:pr-10 flex-wrap mt-4">
                    <label for="city" class="block text-sm">City</label>
                    <input v-model="city" type="text" id="city" name="city" class="w-full px-6 py-4 border border-gray-400 rounded-lg mt-2 focus:outline-none" required>
                </div>
                <div class="w-full lg:w-1/2 lg:pr-10 flex-wrap mt-4">
                    <label for="address" class="block text-sm">Address</label>
                    <input v-model="address" type="text" id="address" name="address" class="w-full px-6 py-4 border border-gray-400 rounded-lg mt-2 focus:outline-none" required>
                </div>
                <div class="w-full lg:w-1/2 lg:pr-10 flex-wrap mt-4">
                    <label for="country" class="block text-sm">Country</label>
                    <input v-model="country" type="text" id="country" name="country" class="w-full px-6 py-4 border border-gray-400 rounded-lg mt-2 focus:outline-none" required>
                </div>
                <div class="w-full lg:w-1/2 lg:pr-10 flex-wrap mt-4">
                    <label for="zipcode" class="block text-sm">Zip Code</label>
                    <input v-model="zipcode" type="text" id="zipcode" name="zipcode" class="w-full px-6 py-4 border border-gray-400 rounded-lg mt-2 focus:outline-none" required>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-1/3 lg:pl-12 mt-10">
            <voucher-box :potongan="discount" :kode="promo_code"/>
            <order-summary :invoice="invoice" :btn="'Select Payment Method'"/>
        </div>
    </form>
</template>

<script>
    import VoucherBox from "./item/VoucherBox";
    import OrderSummary from "./item/OrderSummary";

    export default {
        name: "PaymentDetail",
        components: {OrderSummary, VoucherBox},
        data: function () {
            return {
                first_name: '',
                last_name: '',
                email: '',
                phone: '',
                company: '',
                industry: '',
                city: '',
                address: '',
                country: '',
                zipcode: '',
                invoice: {},
                tipe: 'post',
                discount: '',
                promo_code: ''
            }
        },
        created() {
            //this.loadUser()
            this.loadDetail()
        },
        methods: {
            //AMBIL INFO BILLING, JIKA TIDAK ADA MAKA FORM KOSONG

            loadUser: function () {
                const axios = require('axios')

                let main = this
                let url = 'https://dtp.ocatelkom.co.id/api/dtp/v1/user/detail'
                axios.get(url,{
                    headers: {
                        'Authorization': `Basic ${main.$session.get("token")}`
                    }
                })
                    .then(function (response) {
                        if(response.data.success){
                            main.first_name = response.data.user.first_name
                            main.last_name = response.data.user.last_name
                            main.email = response.data.user.email
                            main.phone = response.data.user.phone_number
                        }
                    })
                    .catch(function (error) {
                        main.$modal.show('error', {
                            title: "ERROR " + error.response.data.errors[0].code,
                            message: error.response.data.errors[0].message
                        })
                    })
            },

            loadDetail: function () {
                const axios = require('axios')

                let main = this
                let url = 'https://payment.ocatelkom.co.id/api/v1/detail-order/' + this.$session.get('order_id')
                axios.get(url,{
                    headers: {
                        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
                    }
                })
                .then(function (response) {
                    console.log(response.data)
                    main.invoice = response.data.invoice

                    //CEK APAKAH DATA BILLING ADA
                    if(response.data.billing_information.first_name){
                        //UBAH TIPE FORM MENJADI PUT
                        main.tipe = 'put'
                        let info = response.data.billing_information

                        main.first_name = info.first_name
                        main.last_name = info.last_name
                        main.email = info.email
                        main.phone = info.phone_number
                        main.company = info.company_name
                        main.industry = info.industry
                        main.city = info.city
                        main.address = info.address
                        main.country = info.country
                        main.zipcode = info.zip_code
                    }
                    else {
                        main.loadUser()
                    }

                    //CEK APABILA ADA KUPON YANG DIPAKAI
                    if(main.invoice.discount.desc[0].desc){
                        main.discount = main.invoice.discount.desc[0].desc.replace('-','')
                        main.promo_code = main.invoice.discount.desc[0].voucher_code
                    }
                })
                .catch(function (error) {
                    main.$modal.show('error', {
                        title: "ERROR " + error.response.data.errors[0].code,
                        message: error.response.data.errors[0].message
                    })
                })
            },

            submitData: function (e) {
                e.preventDefault()
                this.$modal.show('loading')

                const axios = require('axios')

                let main = this

                //CEK APABILA DATA YANG DISUBMIT MERUPAKAN DATA BARU ATAU UPDATE
                if(this.tipe === 'post') {
                    axios.post('https://payment.ocatelkom.co.id/api/v1/billing-information', {
                        order_id: main.$session.get('order_id'),
                        first_name: main.first_name,
                        last_name: main.last_name,
                        email: main.email,
                        phone_number: main.phone,
                        country: main.country,
                        city: main.city,
                        address: main.address,
                        zip_code: main.zipcode,
                        company_name: main.company,
                        industry: main.industry
                    }, {
                        headers: {
                            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
                        }
                    })
                        .then(function (response) {
                            if(response.data.status === 'success'){
                                main.$modal.hide('loading')

                                window.location.href = 'payment?page=method'
                            }
                        })
                        .catch(function (error) {
                            main.$modal.hide('loading')
                            main.$modal.show('error', {
                                title: "ERROR " + error.response.data.errors[0].code,
                                message: error.response.data.errors[0].message
                            })
                        })
                }
                else {
                    axios.put('https://payment.ocatelkom.co.id/api/v1/billing-information', {
                        order_id: main.$session.get('order_id'),
                        first_name: main.first_name,
                        last_name: main.last_name,
                        email: main.email,
                        phone_number: main.phone,
                        country: main.country,
                        city: main.city,
                        address: main.address,
                        zip_code: main.zipcode,
                        company_name: main.company,
                        industry: main.industry
                    }, {
                        headers: {
                            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
                        }
                    })
                        .then(function (response) {
                            if(response.data.status === 'success'){
                                main.$modal.hide('loading')

                                window.location.href = 'payment?page=method'
                            }
                        })
                        .catch(function (error) {
                            main.$modal.hide('loading')
                            main.$modal.show('error', {
                                title: "ERROR " + error.response.data.errors[0].code,
                                message: error.response.data.errors[0].message
                            })
                        })
                }

            }
        }
    }
</script>

<style scoped>

</style>