<template>
    <div class="flex flex-wrap justify-center">
        <div class="w-full flex flex-wrap justify-center">
            <bill-address-box :info="info"/>
            <pay-method-box :payment="payment"/>
            <summary-box :summary="summary"/>
        </div>

        <div class="flex-wrap mt-16 mb-16">
            <p class="text-sm block text-center">By placing the order you agree with our <a :href="url_term" target="_blank" class="text-main-color cursor-pointer">Terms & Conditions</a></p>
            <div class="px-4">
                <button class="w-full p-2 bg-main-color text-white font-bold mt-6 rounded-lg border-2 border-main-color hover:bg-white hover:text-main-color" @click="submitData">Confirm & Pay</button>
            </div>
        </div>
    </div>
</template>

<script>
    import BillAddressBox from "./item/BillAddressBox";
    import SummaryBox from "./item/SummaryBox";
    import PayMethodBox from "./item/PayMethodBox";
    export default {
        name: "PaymentReview",
        components: {PayMethodBox, SummaryBox, BillAddressBox},
        data: function () {
            return {
                info: {},
                payment: {},
                summary: {},
                url_term: ''
            }
        },
        created() {
            this.getTerm()
            this.loadDetail()
        },
        methods: {
            loadDetail: function () {
                const axios = require('axios')

                let main = this
                let url = 'https://payment.ocatelkom.co.id/api/v1/detail-order/' + this.$session.get('order_id')
                axios.get(url, {
                    headers: {
                        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
                    }
                })
                    .then(function (response) {
                        main.info = response.data.billing_information
                        main.payment = response.data.payment_detail
                        main.summary = response.data.invoice
                    })
                    .catch(function (error) {
                        main.$modal.show('error', {
                            title: "ERROR " + error.response.data.errors[0].code,
                            message: error.response.data.errors[0].message
                        })
                    })
            },

            //LOAD LINK TERM AND AGREEMENT
            getTerm: function () {
                const axios = require('axios')
                this.$modal.show('loading')

                let main = this
                axios.get('https://dtpx1.ocatelkom.co.id/api/term')
                .then(function (response) {
                    main.$modal.hide('loading')
                    if(response.data){
                        main.url_term = response.data.link
                    }
                })
                .catch(function (error) {
                    main.$modal.hide('loading')
                    main.$modal.show('error', {
                        title: "ERROR " + error.response.data.errors[0].code,
                        message: error.response.data.errors[0].message
                    })
                })
            },

            submitData: function () {
                const axios = require('axios')
                this.$modal.show('loading')

                let main = this
                axios.post('https://payment.ocatelkom.co.id/api/v1/confirm-order', {
                    order_id: main.$session.get('order_id'),
                }, {
                    headers: {
                        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
                    }
                })
                    .then(function (response) {
                        main.$modal.hide('loading')

                        //CEK APABILA TERDAPAT REDIRECT URL UNTUK PEMBAYARAN
                        if(response.data.order_info.payment_detail.additional_info.redirectUrl !== undefined){
                            main.$session.remove('order_id')
                            window.location.href = response.data.order_info.payment_detail.additional_info.redirectUrl
                        }
                        else {
                            main.$session.set('result', response.data.order_info)
                            window.location.href = 'payment_result'
                        }
                    })
                    .catch(function (error) {
                        main.$modal.hide('loading')
                        main.$modal.show('error', {
                            title: "ERROR " + error.response.data.errors[0].code,
                            message: error.response.data.errors[0].message
                        })
                    })
            }
        }
    }
</script>

<style scoped>

</style>