<template>
    <form class="flex flex-wrap" method="post" @submit="submitData">
        <div class="relative w-full lg:w-2/3">
            <p class="p-6 text-xl text-gray-500">PAYMENT METHOD</p>
            <div class="w-full h-1 border-t border-gray-600"></div>
            <div class="flex-wrap">
                <method-box v-for="data in payitems" :key="data" :judul="data.judul" :konten="data.konten"/>
            </div>
        </div>

        <div class="w-full lg:w-1/3 lg:pl-12 mt-10">
            <voucher-box :potongan="discount" :kode="promo_code"/>
            <order-summary :invoice="invoice" :btn="'Confirm Payment Method'"/>
        </div>
    </form>
</template>

<script>
    import MethodBox from "./item/MethodBox";
    import VoucherBox from "./item/VoucherBox";
    import OrderSummary from "./item/OrderSummary";
    export default {
        name: "PaymentMethod",
        components: {OrderSummary, VoucherBox, MethodBox},
        data: function () {
            return {
                payitems: [],
                paymethod: '',
                product_code: '',
                invoice: {},
                tipe: 'post',
                discount: '',
                promo_code: ''
            }
        },
        created() {
            this.loadDetail()
            this.loadMethod()
        },
        methods: {
            //AMBIL DATA PEMBAYARAN, APABILA SUDAH ADA METODE PEMBAYARAN YANG DIPILIH, AKAN OTOMATIS DI SELECT PADA RADIO BUTTON
            loadDetail: function () {
                const axios = require('axios')

                let main = this
                let url = 'https://payment.ocatelkom.co.id/api/v1/detail-order/' + this.$session.get('order_id')
                axios.get(url,{
                    headers: {
                        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
                    }
                })
                    .then(function (response) {
                        main.invoice = response.data.invoice

                        if(response.data.payment_detail.payment_method_id){
                            main.tipe = 'put'
                            main.paymethod = response.data.payment_detail.payment_method_id
                        }

                        //CEK APABILA ADA KUPON YANG DIPAKAI
                        if(main.invoice.discount.desc[0].desc){
                            main.discount = main.invoice.discount.desc[0].desc.replace('-','')
                            main.promo_code = main.invoice.discount.desc[0].voucher_code
                        }
                    })
                    .catch(function (error) {
                        main.$modal.show('error', {
                            title: "ERROR " + error.response.data.errors[0].code,
                            message: error.response.data.errors[0].message
                        })
                    })
            },

            //AMBIL LIST METODE PEMBAYARAN
            loadMethod: function () {
                const axios = require('axios')

                let main = this
                let url = 'https://payment.ocatelkom.co.id/api/v1/payment-product'
                axios.get(url,{
                    headers: {
                        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
                    }
                })
                    .then(function (response) {
                        main.payitems = []
                        main.payitems.push({
                            judul: 'Credit Card',
                            konten: response.data.credit_card
                        })
                        main.payitems.push({
                            judul: 'Online Payment',
                            konten: response.data.online_payment
                        })
                        main.payitems.push({
                            judul: 'E-Money',
                            konten: response.data.e_money
                        })
                        main.payitems.push({
                            judul: 'Virtual Account Bank',
                            konten: response.data.virtual_account
                        })

                        this.payItems.forEach(function (item) {
                            item.forEach(function (item) {
                                if(item.product_code === main.product_code){
                                    main.paymethod = item.payment_method_id
                                }
                            })
                        })
                    })
                    .catch(function (error) {
                        main.$modal.show('error', {
                            title: "ERROR " + error.response.data.errors[0].code,
                            message: error.response.data.errors[0].message
                        })
                    })
            },

            submitData: function (e) {
                e.preventDefault()
                this.$modal.show('loading')

                const axios = require('axios')

                let main = this
                if(this.tipe === 'post'){
                    axios.post('https://payment.ocatelkom.co.id/api/v1/payment-method', {
                        order_id: main.$session.get('order_id'),
                        payment_method_id: main.paymethod,
                    }, {
                        headers: {
                            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
                        }
                    })
                        .then(function (response) {
                            if(response.data.status === 'success'){
                                main.$modal.hide('loading')

                                window.location.href = 'payment?page=review'
                            }
                        })
                        .catch(function (error) {
                            main.$modal.hide('loading')
                            main.$modal.show('error', {
                                title: "ERROR " + error.response.data.errors[0].code,
                                message: error.response.data.errors[0].message
                            })
                        })
                }
                else {
                    axios.put('https://payment.ocatelkom.co.id/api/v1/payment-method', {
                        order_id: main.$session.get('order_id'),
                        payment_method_id: main.paymethod,
                    }, {
                        headers: {
                            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
                        }
                    })
                        .then(function (response) {
                            if(response.data.status === 'success'){
                                main.$modal.hide('loading')

                                window.location.href = 'payment?page=review'
                            }
                        })
                        .catch(function (error) {
                            main.$modal.hide('loading')
                            main.$modal.show('error', {
                                title: "ERROR " + error.response.data.errors[0].code,
                                message: error.response.data.errors[0].message
                            })
                        })
                }

            }
        }
    }
</script>

<style scoped>

</style>