<template>
    <div class="w-full lg:p-12 p-4 mt-24 lg:mt-10" style="max-width: 800px">
        <div>
            <p style="font-weight: 300; line-height: 20px">Langkah terakhir, Konfirmasikan pesanan Anda dengan membayar sebelum: <br><span style="font-weight: bold">{{hours}} Jam, {{minutes}} Menit, {{seconds}} Detik</span></p>


            <!-- Informasi Pembayaran-->

            <div class="flex flex-wrap mt-12" style="border: solid 1px #D3D3E0; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; padding: 15px 30px 15px 30px; margin-top: 20px;background-color: #FAFAFF;">
                <p class="lg:w-1/2 w-full">Informasi Pembayaran</p>
                <p class="lg:w-1/2 w-full lg:text-right" style="color: #ED1260">{{konten.invoice.invoice_no}}</p>
            </div>
            <div class="w-full flex flex-wrap" style="border: solid 1px #D3D3E0; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; padding: 20px 30px 20px 30px; margin-top: -1px">
                <div class="w-1/2">
                    <p style="color: #D3D3E0">Virtual Account Number</p>
                    <p style="margin-top: 10px">{{konten.payment_detail.additional_info.vanumber}}</p>
                </div>
                <div class="w-1/2">
                    <p style="color: #D3D3E0">Bank</p>
                    <div class="w-24 h-10">
                        <img :src="konten.payment_detail.icon" class="h-full object-contain"/>
                    </div>
                </div>
                <div class="w-1/2 mt-4">
                    <p style="color: #D3D3E0">Total Pembayaran</p>
                    <p style="margin-top: 10px; color: #ED1260; font-weight: 600">IDR {{konten.invoice.total.toLocaleString() | formatQuantity}}</p>
                </div>
            </div>




            <!-- Detail Pembayaran-->

            <div style="display: flex; justify-content: space-between; border: solid 1px #D3D3E0; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; padding: 15px 30px 15px 30px; margin-top: 50px;background-color: #FAFAFF;">
                <p>Detail Pembayaran</p>
            </div>
            <div style="border: solid 1px #D3D3E0; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; padding: 20px 30px 20px 30px; margin-top: -1px">
                <product-item v-for="data in konten.invoice.items" :key="data" :name="data.additional_info.product_name" :desc="data.additional_info.product_desc"/>
            </div>


            <!-- CARA PEMBAYARAN -->

<!--            <div style="padding: 20px">-->
<!--                <p style="font-weight: bold; font-size: 20px; margin-top: 30px">Cara Membayar</p>-->

<!--                <p style="font-size: 13px; margin-top: 30px; color: #383637">* Apabila Anda masih memiliki tagihan BCA Virtual Account yang belum dibayar, maka transaksi sebelumnya akan kami batalkan secara otomatis</p>-->

<!--                <p style="font-size: 13px; margin-top: 20px; color: #383637">Langkah-langkah pembayaran BCA Virtual Account:</p>-->

<!--                <p style="font-size: 14px; font-weight: bold; margin-top: 25px">ATM BCA</p>-->
<!--                <ol class="list list-decimal">-->
<!--                    <li>Masukkan Kartu ATM BCA & PIN</li>-->
<!--                    <li>Pilih menu Transaksi Lainnya > Transfer > ke Rekening BCA Virtual Account</li>-->
<!--                    <li>Masukkan 5 angka kode perusahaan untuk Tokopedia (80777) dan Nomor HP yang terdaftar di akun Tokopedia Anda (Contoh: 80777081297302105)</li>-->
<!--                    <li>Di halaman konfirmasi, pastikan detil pembayaran sudah sesuai seperti No VA, Nama, Perus/Produk dan Total Tagihan</li>-->
<!--                    <li>Masukkan Jumlah Transfer sesuai dengan Total Tagihan</li>-->
<!--                    <li>Ikuti instruksi untuk menyelesaikan transaksi</li>-->
<!--                    <li>Simpan struk transaksi sebagai bukti pembayaran</li>-->
<!--                </ol>-->

<!--                <p style="font-size: 14px; font-weight: bold; margin-top: 25px">m-BCA (BCA mobile)</p>-->
<!--                <ol class="list list-decimal">-->
<!--                    <li>Lakukan log in pada aplikasi BCA Mobile</li>-->
<!--                    <li>Pilih menu m-BCA, kemudian masukkan kode akses m-BCA</li>-->
<!--                    <li>Pilih m-Transfer > BCA Virtual Account</li>-->
<!--                    <li>Pilih dari Daftar Transfer, atau masukkan 5 angka kode perusahaan untuk Tokopedia (80777) dan Nomor HP yang terdaftar di akun Tokopedia Anda (Contoh: 80777081297302105)</li>-->
<!--                    <li>Masukkan pin m-BCA</li>-->
<!--                    <li>Pembayaran selesai.</li>-->
<!--                    <li>Simpan notifikasi yang muncul sebagai bukti pembayaran</li>-->
<!--                </ol>-->

<!--                <p style="font-size: 14px; font-weight: bold; margin-top: 25px">KlikBCA Individual</p>-->
<!--                <ol class="list list-decimal">-->
<!--                    <li>Lakukan log in pada aplikasi KlikBCA Individual (https://ibank.klikbca.com/)</li>-->
<!--                    <li>Masukkan User ID dan PIN</li>-->
<!--                    <li>Pilih Transfer Dana > Transfer ke BCA Virtual Account</li>-->
<!--                    <li>Masukkan nomor BCA Virtual Account (80777) dan Nomor HP yang terdaftar di akun Tokopedia Anda (Contoh: 80777081297302105)</li>-->
<!--                    <li>Masukkan jumlah yang ingin dibayarkan</li>-->
<!--                    <li>Validasi pembayaran</li>-->
<!--                    <li>Cetak nomor referensi sebagai bukti transaksi Anda</li>-->
<!--                </ol>-->

<!--                <p style="font-size: 14px; font-weight: bold; margin-top: 25px">Kantor Bank BCA</p>-->
<!--                <ol class="list list-decimal">-->
<!--                    <li>Ambil nomor antrian transaksi Teller dan isi slip setoran</li>-->
<!--                    <li>Serahkan slip dan jumlah setoran kepada Teller BCA</li>-->
<!--                    <li>Teller BCA akan melakukan validasi transaksi</li>-->
<!--                    <li>Simpan slip setoran hasil validasi sebagai bukti pembayaran</li>-->
<!--                </ol>-->

<!--                <p style="font-size: 14px; font-weight: bold; margin-top: 25px">ATM Bank Lain</p>-->
<!--                <ol class="list list-decimal">-->
<!--                    <li>Masukkan Kartu Debit dan PIN Anda</li>-->
<!--                    <li>Pilih menu Transaksi Lainnya > Transfer > Ke Rek Bank Lain</li>-->
<!--                    <li>Teller BCA akan melakukan validasi transaksi</li>-->
<!--                    <li>Masukkan kode bank BCA (014) kemudian diikuti dengan 5 angka kode perusahaan untuk Tokopedia (80777) dan Nomor HP yang terdaftar di akun Tokopedia Anda (Contoh: 01480777081297302105)</li>-->
<!--                    <li>Ikuti instruksi untuk menyelesaikan transaksi</li>-->
<!--                    <li>Simpan struk transaksi sebagai bukti pembayaran</li>-->
<!--                </ol>-->
<!--            </div>-->
        </div>

        <div style="border-top: dashed #C4C4C4;margin-top: 40px"></div>

        <div>
            <p style="font-size: 13px; margin: 50px">Butuh bantuan? <a href="https://api.whatsapp.com/message/CJYNUR2AAUSVG1" style="color: #ED1260" target="_blank">Hubungi Kami.</a></p>
            <p style="font-size: 13px; margin: 50px; line-height: 20px">Salam<br><span style="color: #ED1260">OCA Indonesia</span></p>

            <img src="../../../assets/image/invoice/footer.png" style="width: 100%; height: auto">

            <div style="display:flex; flex-wrap: wrap; padding: 50px; justify-content: center">
                <p style="width: 100%; font-size: 13px; text-align: center">Ikuti Kami</p>

                <div style="margin-top: 10px" class="flex">
                    <a href="https://www.facebook.com/OCA.IDN" target="_blank"><img src="../../../assets/image/invoice/fb.png" width="25px" height="25px" style="margin-right: 10px"></a>
                    <a href="https://www.instagram.com/oca.indonesia/" target="_blank"><img src="../../../assets/image/invoice/ig.png" width="25px" height="25px" style="margin-right: 10px"></a>
                    <a href="https://medium.com/oca-indonesia" target="_blank"><img src="../../../assets/image/invoice/m.png" width="25px" height="25px" style="margin-right: 10px"></a>
                </div>

                <p style="width: 100%; font-size: 13px; color: #C4C4C4; margin-top: 70px; text-align: center">2020, Omni Communication Assistant by Telkom Indonesia</p>
            </div>
        </div>
    </div>
</template>

<script>
    import ProductItem from "./ProductItem";
    import moment from 'moment';

    export default {
        name: "DetailContent",
        components: {ProductItem},
        props: {
            konten: Object
        },
        data: function () {
            return {
                interval: null,
                countdown: 0,
                hours: 0,
                minutes: 0,
                seconds: 0,
            }
        },
        created() {
            //CEK APABILA METODE PEMBAYARAN MENGGUNAKAN VIRTUAL ACCOUNT
          if(this.konten.payment_detail.paymentType === 'VA'){
              //HITUNG SELISIH WAKTU DEADLINE DENGAN SEKARANG
              let deadline = new Date(moment(this.konten.payment_detail.additional_info.expired_date).format('YYYY/MM/DD HH:mm:ss'))
              let today = new Date()

              if(today < deadline){
                  this.countdown = Math.abs(deadline - today) / 1000
                  //BUAT INTERVAL UNTUK COUNTDOWN TIME LIMIT VIRTUAL ACCOUNT
                  this.interval = setInterval(() => this.changeCountdown(), 1000)
              }
          }
        },
        methods: {
            parseISOString: function(s) {
                var b = s.split(/\D+/);
                return new Date(Date.UTC(b[0], --b[1], b[2], b[3], b[4], b[5], b[6]));
            },
            changeCountdown: function () {
                let cek = this.countdown
                this.hours = Math.floor(cek / 3600) % 24;
                cek -= this.hours * 3600;

                this.minutes = Math.floor(cek / 60) % 60;
                cek -= this.minutes * 60;

                this.seconds = Math.floor(cek % 60);

                this.countdown -= 1
                if(this.countdown === 0){
                    clearInterval(this.interval)
                }
            }
        },
        filters: {
            // you can call this whatever you want to
            formatQuantity (value) {
                return value.replace(/,/g, '.');
            }
        }
    }
</script>

<style scoped>

</style>