<template>
    <div class="mt-2 pl-4">
        <p class="font-semibold text-sm">{{name}}</p>
        <p class="text-xs">{{desc}}</p>
    </div>
</template>

<script>
    export default {
        name: "ProductItem",
        props: {
            name: String,
            desc: String
        }
    }
</script>

<style scoped>

</style>