<template>
    <div class="flex flex-col bg-white pt-0 lg:pt-20">
      <div class="bg-customs-5 mx-12 smx:mx-4">
        <div id="section-1" style="border-radius: 0px 0px 0px 80px;" class="bg-white ">
            <div class="flex relative max-w-screen-xl self-auto items-center mx-auto bg-customs-5">
                <div class="flex flex-1 justify-between bg-white py-10">
                    <div class="flex-1 flex flex-col self-center">
                      <transition name="slide">
                        <div v-if="count2 === 1" @mouseover="activeCarousel2 = true" @mouseleave="activeCarousel2 = false" class="flex flex-1 justify-between bg-white py-10">
                        <div  class="flex-1 flex-col my-12" >
                            <div class="flex flex-row smx:hidden">
                              <div class="text-2xl text-primary font-medium">OCA Blast</div>
                            </div>
                            <div class="smx:text-sm smx:text-center text-primary lg:hidden">OCA Blast</div>
                            <h1 class="text-4/5xl font-semibold text-neutral-600 leading-custom-1 my-2 smx:hidden">Kemudahan kirim pesan <br/>omnichannel <br/>ke semua customer</h1>
                            <h2 class="smx:text-3/4xl smx:text-center font-semibold text-neutral-600 leading-custom-1 my-2 lg:hidden">Kemudahan kirim pesan <br/>omnichannel <br/>ke semua customer</h2>
                            <div class="flex flex-row my-6 smx:hidden">
                            <oca-button @click="gotoHrefRegister()" class="mr-4 px-6 pr-6 text-xsm" classValue="rounded-md" >Coba Gratis</oca-button>
                            <!-- <div class="flex flex-row cursor-pointer mx-4">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="20" cy="20" r="20" fill="#DFE1E6"/>
                                <path d="M28 20L16 26.9282V13.0718L28 20Z" fill="#7A869A"/>
                                </svg>
                                <div class="self-center text-xsm text-neutral-100 font-bold ml-2">Lihat Video</div>
                            </div> -->
                            </div>
                            <div class="flex flex-col my-6 lg:hidden z-0">
                              <button @click="gotoHrefRegister()" class="flex-1 bg-primary text-white rounded-md text-sm font-bold my-2 py-4">Coba Gratis</button>
                              <!-- <div class="flex flex-1 flex-row cursor-pointer my-4 mx-auto z-0">
                                  <svg class="z-0" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="20" cy="20" r="20" fill="#ffffff"/>
                                    <path d="M28 20L16 26.9282V13.0718L28 20Z" fill="#7A869A"/>
                                  </svg>
                                  <div class="self-center text-sm text-neutral-100 font-semibold ml-2">Lihat Video</div>
                              </div> -->
                            </div>
                        </div>
                        </div>
                      </transition>
                      <transition name="slide">
                        <div v-if="count2 === 2" @mouseover="activeCarousel2 = true" @mouseleave="activeCarousel2 = false" class="flex flex-1 justify-between bg-white py-10">
                        <div  class="flex-1 flex-col my-12" >
                            <div class="flex flex-row smx:hidden">
                            <div class="text-2xl text-primary">OCA UMKM</div>
                            </div>
                            <div class="smx:text-sm smx:text-center text-primary lg:hidden">OCA UMKM</div>
                            <h1 class="text-4/5xl font-semibold text-neutral-600 leading-custom-1 my-2 smx:hidden">Solusi UMKM untuk <br> promosi dan <br> balas chat customer</h1>
                            <h2 class="smx:text-3/4xl smx:text-center font-semibold text-neutral-600 leading-custom-1 my-2 lg:hidden">Solusi UMKM untuk <br> promosi dan <br> balas chat customer</h2>
                            <div class="flex flex-row my-6 smx:hidden">
                            <oca-button @click="gotoHrefRegister()" class="mr-4 px-6 pr-6 text-xsm" classValue="rounded-md" >Coba Gratis</oca-button>
                            <!-- <div class="flex flex-row cursor-pointer mx-4">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="20" cy="20" r="20" fill="#DFE1E6"/>
                                <path d="M28 20L16 26.9282V13.0718L28 20Z" fill="#7A869A"/>
                                </svg>
                                <div class="self-center text-xsm text-neutral-100 font-bold ml-2">Lihat Video</div>
                            </div> -->
                            </div>
                            <div class="flex flex-col my-6 lg:hidden z-0">
                              <!-- <oca-button class="px-6 text-xsm" classValue="rounded-md" >Coba Gratis</oca-button> -->
                              <button @click="gotoHrefRegister()" class="flex-1 bg-primary text-white rounded-md text-sm font-bold my-2 py-4">Coba Gratis</button>
                              <!-- <div class="flex flex-1 flex-row cursor-pointer my-4 mx-auto z-0">
                                  <svg class="z-0" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="20" cy="20" r="20" fill="#ffffff"/>
                                    <path d="M28 20L16 26.9282V13.0718L28 20Z" fill="#7A869A"/>
                                  </svg>
                                  <div class="self-center text-sm text-neutral-100 font-semibold ml-2">Lihat Video</div>
                              </div> -->
                            </div>
                        </div>
                        </div>
                      </transition>
                      <transition name="slide">
                        <div v-if="count2 === 3" @mouseover="activeCarousel2 = true" @mouseleave="activeCarousel2 = false" class="flex flex-1 justify-between bg-white py-10">
                        <div  class="flex-1 flex-col my-12" >
                            <div class="flex flex-row smx:hidden">
                            <div class="text-2xl text-primary">OCA Interaction</div>
                            </div>
                            <div class="smx:text-sm smx:text-center text-primary lg:hidden">OCA Interaction</div>
                            <h1 class="text-4/5xl font-semibold text-neutral-600 leading-custom-1 my-2 smx:hidden">CRM untuk admin <br> melakukan penjualan <br> & customer service</h1>
                            <h2 class="smx:text-3/4xl smx:text-center font-semibold text-neutral-600 leading-custom-1 my-2 lg:hidden">CRM untuk admin <br> melakukan penjualan <br> & customer service</h2>
                            <div class="flex flex-row my-6 smx:hidden">
                            <oca-button @click="gotoHrefRegister()" class="mr-4 px-6 pr-6 text-xsm" classValue="rounded-md" >Coba Gratis</oca-button>
                            <!-- <div class="flex flex-row cursor-pointer mx-4">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="20" cy="20" r="20" fill="#DFE1E6"/>
                                <path d="M28 20L16 26.9282V13.0718L28 20Z" fill="#7A869A"/>
                                </svg>
                                <div class="self-center text-xsm text-neutral-100 font-bold ml-2">Lihat Video</div>
                            </div> -->
                            </div>
                            <div class="flex flex-col my-6 lg:hidden z-0">
                              <!-- <oca-button class="px-6 text-xsm" classValue="rounded-md" >Coba Gratis</oca-button> -->
                              <button @click="gotoHrefRegister()" class="flex-1 bg-primary text-white rounded-md text-sm font-bold my-2 py-4">Coba Gratis</button>
                              <!-- <div class="flex flex-1 flex-row cursor-pointer my-4 mx-auto z-0">
                                  <svg class="z-0" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="20" cy="20" r="20" fill="#ffffff"/>
                                    <path d="M28 20L16 26.9282V13.0718L28 20Z" fill="#7A869A"/>
                                  </svg>
                                  <div class="self-center text-sm text-neutral-100 font-semibold ml-2">Lihat Video</div>
                              </div> -->
                            </div>
                        </div>
                        </div>
                      </transition>
                      <div class="flex-1 smx:my-2 smx:mx-auto z-0" style="margin-bottom:3rem">
                          <svg width="46" height="10" viewBox="0 0 46 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle opacity="5" cx="5" cy="5" r="5" :fill="count2 === 1 ? '#979797' : '#E9E9E9' "/>
                          <circle opacity="5" cx="23" cy="5" r="5" :fill="count2 === 2 ? '#979797' : '#E9E9E9' "/>
                          <circle opacity="5" cx="41" cy="5" r="5" :fill="count2 === 3 ? '#979797' : '#E9E9E9' "/>
                          </svg>
                      </div>
                    </div>
                    <div class="flex-1 smx:hidden">
                      <img v-if="count2 === 1" style="width:500px" class="mx-auto" src="../../../assets/image/home/hero-1.webp" alt="">
                      <img v-if="count2 === 2" style="width:500px" class="mx-auto" src="../../../assets/image/home/hero-2.webp" alt="">
                      <img v-if="count2 === 3" style="width:500px" class="mx-auto" src="../../../assets/image/home/hero-3.webp" alt="">
                    </div>
                </div>
            </div> 
        </div>
      </div>
        <div id="section-sub" class="bg-customs-5 smx:bg-white lg:mx-12">
            <div class="flex-col relative max-w-screen-xl self-auto items-center justify-center mx-auto py-6 bg-customs-5 smx:hidden">
                <div class="text-neutral-70 text-center mt-6 pb-2" style="font-size:18px;font-weight:500;color:#5E6C84">Mereka menggunakan OCA</div>
                <div class="flex my-4">
                    <div @mouseover="show.telkom = true" @mouseleave="show.telkom = false" class="flex flex-1 bg-white relative border border-customs-10 mx-4 align-middle">
                      <transition name="slide-up">
                        <div v-if="show.telkom" style="box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.05);border-radius: 12px;" class="absolute bottom-0 w-full bg-white border-2 border-primary p-4 py-6 pr-8">
                          <div class="flex flex-col">
                            <img class="w-20 h-auto" src="../../../assets/image/home/telkom.png" alt="">
                            <div class="py-4 text-sm font-semibold text-neutral-400">PT. TELKOM INDONESIA</div>
                            <div class="text-xsm text-neutral-400">Meningkatkan kapabilitas komunikasi secara keseluruhan dengan menggunakan semua produk OCA.</div>
                          </div>
                        </div>
                      </transition>
                      <img class="mx-auto items-center self-center" src="../../../assets/image/home/telkom.png" alt="">
                    </div>
                    <div @mouseover="show.inalum = true" @mouseleave="show.inalum = false" class="flex flex-1 bg-white relative border border-customs-10 mx-4 align-middle">
                      <transition name="slide-up">
                        <div v-if="show.inalum" style="box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.05);border-radius: 12px;" class="absolute bottom-0 w-full bg-white border-2 border-primary p-4 py-6 pr-8">
                          <div class="flex flex-col">
                            <img class="w-20 h-auto" src="../../../assets/image/home/inalum.png" alt="">
                            <div class="py-4 text-sm font-semibold text-neutral-400">PT. INDONESIA ASAHAN ALUMUNIUM</div>
                            <div class="text-xsm text-neutral-400">Inalum broadcast WhatsApp untuk meningkatkan viewers video di Youtube.</div>
                          </div>
                        </div>
                      </transition>
                      <img class="mx-auto items-center self-center" src="../../../assets/image/home/inalum.png" alt="">
                    </div>
                    <div @mouseover="show.kemensos = true" @mouseleave="show.kemensos = false"  class="flex flex-1 bg-white relative border border-customs-10 mx-4 align-middle">
                      <transition name="slide-up">
                        <div v-if="show.kemensos" style="box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.05);border-radius: 12px;" class="absolute bottom-0 w-full bg-white border-2 border-primary p-4 py-6 pr-8">
                          <div class="flex flex-col">
                            <img class="w-20 h-auto" src="../../../assets/image/home/kemensos.png" alt="">
                            <div class="py-4 text-sm font-semibold text-neutral-400">Kementrian Sosial Republik Indonesia</div>
                            <div class="text-xsm text-neutral-400">Dengan Whatsapp dan  chatbot Kemensos menjawab segala pertanyaan dan aduan mengenai bansos kapan saja dimana saja.</div>
                          </div>
                        </div>
                      </transition>
                      <img class="mx-auto items-center self-center" src="../../../assets/image/home/kemensos.png" alt="">
                    </div>
                    <div @mouseover="show.indihome = true" @mouseleave="show.indihome = false" class="flex flex-1 bg-white relative border border-customs-10 mx-4 align-middle">
                      <transition name="slide-up">
                        <div v-if="show.indihome" style="box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.05);border-radius: 12px;" class="absolute bottom-0 w-full bg-white border-2 border-primary p-4 py-6 pr-8">
                          <div class="flex flex-col">
                            <img class="w-20 h-auto" src="../../../assets/image/home/indihomo.png" alt="">
                            <div class="py-4 text-sm font-semibold text-neutral-400">INDIHOME</div>
                            <div class="text-xsm text-neutral-400">Mengirimkan billing reminder dan informasi ke customernya secara konsisten.</div>
                          </div>
                        </div>
                      </transition>
                      <img class="mx-auto items-center self-center" src="../../../assets/image/home/indihomo.png" alt="">
                    </div>
                    <div @mouseover="show.toeic = true" @mouseleave="show.toeic = false" class="flex flex-1 bg-white relative border border-customs-10 mx-4 align-middle">
                      <transition name="slide-up">
                        <div v-if="show.toeic" style="box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.05);border-radius: 12px;" class="absolute bottom-0 w-full bg-white border-2 border-primary p-4 py-6 pr-8">
                          <div class="flex flex-col">
                            <img class="w-20 h-auto" src="../../../assets/image/home/toeic.png" alt="">
                            <div class="py-4 text-sm font-semibold text-neutral-400">TOEIC - INTERNATIONAL TEST CENTER</div>
                            <div class="text-xsm text-neutral-400">TOEIC menggunakan OCA Profiling untuk mentargetkan ribuan prospek customer baru di Indonesia dan OCA Blast untuk mengirimkan promosi.</div>
                          </div>
                        </div>
                      </transition>
                      <img  class="mx-auto items-center self-center" src="../../../assets/image/home/toeic.png" alt="">
                    </div>
                </div>
                <!-- <div class="marquee flex my-4 w-full">
                    <div class="flex flex-1 relative mx-4 align-middle">
                      <img  class="mx-auto items-center self-center filter-gray" src="../../../assets/image/home/chataja.png" alt="">
                    </div>
                    <div class="flex flex-1 relative mx-4 align-middle">
                      <img class="mx-auto items-center self-center filter-gray" src="../../../assets/image/home/telkom.png" alt="">
                    </div>
                    <div class="flex flex-1 relative mx-4 align-middle">
                      <img class="mx-auto items-center self-center filter-gray" src="../../../assets/image/home/inalum.png" alt="">
                    </div>
                    <div  class="flex flex-1 relative mx-4 align-middle">
                      <img class="mx-auto items-center self-center filter-gray" src="../../../assets/image/home/kemensos.png" alt="">
                    </div>
                    <div class="flex flex-1 relative mx-4 align-middle">
                      <img class="mx-auto items-center self-center filter-gray" src="../../../assets/image/home/indihomo.png" alt="">
                    </div>
                    <div class="flex flex-1 relative mx-4 align-middle">
                      <img  class="mx-auto items-center self-center filter-gray" src="../../../assets/image/home/toeic.png" alt="">
                    </div>
                </div> -->
            </div> 
            <div class="flex-col relative max-w-screen-xl self-auto items-center justify-center mx-auto py-6 lg:hidden">
              <!-- <div class="text-neutral-300 font-medium mx-4">Featured by</div> -->
              <div class="text-neutral-70 text-center mt-6 pb-2" style="font-size:14px;font-weight:400;color:#5E6C84">Mereka menggunakan OCA</div>
              <div class="flex flex-row w-full overflow-x-scroll mx-4 my-6">
                <div style="min-width: 50%;" class="w-1/2 mr-4">
                  <div style="border-radius: 12px;height:241px" class="w-full border border-neutral-40 bg-white p-4 py-6 ">
                    <div class="flex flex-col">
                      <img class="w-20 h-auto mx-auto" src="../../../assets/image/home/telkom.png" alt="">
                      <div class="py-4 text-xsm font-semibold text-neutral-400">PT. TELKOM INDONESIA</div>
                      <div class="text-xsm text-neutral-400">Meningkatkan kapabilitas komunikasi secara keseluruhan dengan menggunakan semua produk OCA. </div>
                    </div>
                  </div>
                </div>
                <div style="min-width: 50%;" class="w-1/2 mr-4">
                  <div style="border-radius: 12px;height:241px" class="w-full border border-neutral-40 bg-white p-4 py-6">
                    <div class="flex flex-col">
                      <img class="w-20 h-auto mx-auto" src="../../../assets/image/home/inalum.png" alt="">
                      <div class="py-4 text-xsm font-semibold text-neutral-400">PT. INDONESIA ASAHAN ALUMUNIUM</div>
                      <div class="text-xsm text-neutral-400">Inalum broadcast WhatsApp untuk meningkatkan viewers video di Youtube. </div>
                    </div>
                  </div>
                </div>
                <div style="min-width: 50%;" class="w-1/2 mr-4">
                  <div style="border-radius: 12px;height:241px" class="w-full border border-neutral-40 bg-white p-4 py-6">
                    <div class="flex flex-col">
                      <img class="w-20 h-auto mx-auto" src="../../../assets/image/home/kemensos.png" alt="">
                      <div class="py-4 text-xsm font-semibold text-neutral-400">Kementrian Sosial Republik Indonesia</div>
                      <div class="text-xsm text-neutral-400">Dengan Whatsapp dan  chatbot Kemensos menjawab segala pertanyaan dan aduan mengenai bansos kapan saja dimana saja. </div>
                    </div>
                  </div>
                </div>
                <div style="min-width: 50%;" class="w-1/2 mr-4">
                  <div style="border-radius: 12px;height:241px" class="w-full border border-neutral-40 bg-white p-4 py-6">
                    <div class="flex flex-col">
                      <img class="w-20 h-auto mx-auto" src="../../../assets/image/home/indihomo.png" alt="">
                      <div class="py-4 text-xsm font-semibold text-neutral-400">INDIHOME</div>
                      <div class="text-xsm text-neutral-400">Mengirimkan billing reminder dan informasi ke customernya secara konsisten. </div>
                    </div>
                  </div>
                </div>
                <div style="min-width: 50%;" class="w-1/2 mr-4">
                  <div style="border-radius: 12px;height:241px" class="w-full border border-neutral-40 bg-white p-4 py-6">
                    <div class="flex flex-col">
                      <img class="w-20 h-auto mx-auto" src="../../../assets/image/home/toeic.png" alt="">
                      <div class="py-4 text-xsm font-semibold text-neutral-400">TOEIC - INTERNATIONAL TEST CENTER</div>
                      <div class="text-xsm text-neutral-400">TOEIC menggunakan OCA Profiling untuk mentargetkan ribuan prospek customer baru di Indonesia dan OCA Blast untuk mengirimkan promosi. </div>
                    </div>
                  </div>
                </div>
                <div style="min-width: 25%;" class="w-1/4">
                </div>
              </div>
            </div> 
        </div>
    </div>
</template>

<script>
import OcaButton from '../../../components/oca_origin/buttons';

export default {
    name: 'App',
    components: {
      OcaButton,
    },
    data: function () {
      return {
        count2: 1,
        activeCarousel2: false,
        show: {
          telkom: false,
          inalum: false,
          kemensos: false,
          indihome: false,
          toeic: false
        }
      }
    },
    created() {
      this.countDownTimer2()
    },
    methods : {
        countDownTimer2() {
          if(this.count2 > 0) {
              setTimeout(() => {
                if (!this.activeCarousel2) {
                  if (this.count2 === 3) {
                    this.count2 = 1
                  }
                  else {
                    this.count2 += 1
                  }
                }
                this.countDownTimer2()
              }, 5000)
          }
      },
      gotoHrefRegister: function () {
          window.location.href = 'https://staging-newdash.ocatelkom.co.id/account/register'
      },
    }
}
</script>
<style>
/* .marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee .newtest {
  display: flex;
  padding-left: 100%;
  animation: marquee 6s linear infinite;
}

.marquee2 .newtest {
  animation-delay: 14s;
}

.marquee .reverse {
  display: flex;
  padding-left: 100%;
  animation: reverseMarquee 14s linear infinite reverse;
} 

.marquee2 .reverse {
  animation-delay: 7s;
}
  .filter-gray {
    filter: grayscale(100%);
  } */

  .header-slide-enter-active, .header-slide-leave-active {
    transition: all .5s ease-in-out;
  }

  .header-slide-enter, .header-slide-leave-active {
    opacity: 0;
    transform: translate(100%, 0);
  }

.slide-up-enter-active, .slide-up-leave-active {
  transition: all .5s ease-out;
}

.slide-up-enter, .slide-up-leave-to {
  margin-bottom: -50px;
  opacity: 0;
}

.slide-up-enter-to, .slide-up-leave {
  margin-bottom: 0px;
  opacity: 1;
}

/* @keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
} */
</style>