<template>
    <div id="section-3" class="bg-white">
    <div class="bg-complementer-5">
        <div class="flex flex-col bg-complementer-5 relative max-w-screen-xl self-auto items-center mx-auto px-4 py-12">
            <h2 class="text-3xl smx:text-xl text-white font-semibold text-center leading-10 smx:leading-8">Platform komunikasi omichannel<br/> dengan fitur lengkap</h2>
            <div class="text-base smx:text-sm text-white text-center smx:leading-5 my-4">Sesuaikan kebutuhan komunikasi Anda dengan fitur yang tersedia di OCA</div>
                <div class="flex flex-col max-w-full relative overflow-hidden w-full mt-8 smx:hidden" style="box-shadow: 19px 0px 0px 0px rgb(0 0 0 / 11%) inset;">
                    <div class="flex relative mb-10">
                        <div class="marquee flex w-full">
                        <div class="newtest">
                            <div class="flex-1 mr-6">
                                <div class="flex flex-row bg-customs-6 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                    <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                    <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <div class="flex flex-col mx-4">
                                    <div class="text-xs leading-3">SMS</div>
                                    <div class="text-base font-bold leading-5">Masking Number</div>
                                    </div>
                                </div>
                            </div>  
                            <div class="flex-1 mx-6">
                            <div class="flex flex-row bg-customs-7 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16.0524" r="16" fill="#3D2C42"/><g clip-path="url(#clip0)"><path d="M21.1404 9.88227C20.4824 9.21815 19.6988 8.69164 18.8352 8.3334C17.9717 7.97517 17.0455 7.79239 16.1106 7.7957C12.1931 7.7957 9.00045 10.9875 8.99687 14.9058C8.99687 16.1608 9.32519 17.3817 9.94506 18.4627L8.93945 22.1487L12.7107 21.1602C13.754 21.7279 14.9228 22.0255 16.1106 22.0258H16.1142C20.0326 22.0258 23.2243 18.8341 23.2279 14.9121C23.2288 13.9774 23.0447 13.0518 22.6863 12.1885C22.3279 11.3253 21.8022 10.5415 21.1395 9.88227H21.1404ZM16.1106 20.822C15.0512 20.8223 14.0112 20.5372 13.1 19.9967L12.8847 19.8675L10.6475 20.4542L11.2449 18.2716L11.105 18.0465C10.5127 17.1048 10.1995 16.0146 10.2016 14.9022C10.2016 11.6495 12.8542 8.99597 16.1142 8.99597C16.8908 8.99458 17.66 9.14692 18.3775 9.44423C19.095 9.74153 19.7465 10.1779 20.2945 10.7282C20.8444 11.2764 21.2804 11.928 21.5772 12.6454C21.8741 13.3629 22.0259 14.1321 22.024 14.9085C22.0204 18.1729 19.3678 20.822 16.1106 20.822ZM19.3535 16.3959C19.1768 16.307 18.3039 15.8774 18.1397 15.8164C17.9765 15.758 17.8572 15.7275 17.7406 15.9052C17.6212 16.0819 17.2804 16.4847 17.1781 16.6004C17.0758 16.7197 16.97 16.7332 16.7924 16.6452C16.6156 16.5555 16.0424 16.3689 15.3642 15.7616C14.835 15.2907 14.4806 14.7076 14.3748 14.5309C14.2725 14.3532 14.3649 14.2582 14.4537 14.1693C14.5318 14.0904 14.6304 13.9612 14.7192 13.859C14.8089 13.7567 14.8385 13.6813 14.8969 13.5629C14.9552 13.4427 14.9274 13.3405 14.8834 13.2516C14.8385 13.1628 14.4842 12.2864 14.3344 11.933C14.1909 11.584 14.0446 11.6324 13.9352 11.628C13.8329 11.6217 13.7136 11.6217 13.5943 11.6217C13.5042 11.6239 13.4156 11.6448 13.3339 11.6829C13.2522 11.721 13.1793 11.7756 13.1198 11.8433C12.9565 12.0209 12.4999 12.4506 12.4999 13.327C12.4999 14.2034 13.1368 15.0458 13.2265 15.1651C13.3144 15.2844 14.477 17.0776 16.2613 17.8491C16.6829 18.033 17.0148 18.1415 17.2741 18.2241C17.7002 18.3604 18.085 18.3398 18.3918 18.2958C18.7327 18.2438 19.4423 17.8652 19.5921 17.4499C19.7392 17.0337 19.7392 16.6784 19.6944 16.604C19.6504 16.5286 19.5311 16.4847 19.3535 16.3959Z" fill="white"/></g>
                                <defs><clipPath id="clip0"><rect width="14.353" height="14.353" fill="white" transform="translate(8.93945 7.79565)"/></clipPath></defs>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">WhatsApp</div>
                                <div class="text-base font-bold leading-5">Verified Account</div>
                                </div>
                            </div>
                            </div> 
                            <div class="flex-1 mx-6">
                            <div class="flex flex-row bg-customs-8 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">Email</div>
                                <div class="text-base font-bold leading-5">Email Template</div>
                                </div>
                            </div>
                            </div> 
                            <div class="flex-1 ml-6">
                            <div class="flex flex-row bg-customs-9 rounded-tr-xlg rounded-bl-xlg py-4 px-6 pr-10">
                                <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">Call</div>
                                <div class="text-base font-bold leading-5">IVR to SMS</div>
                                </div>
                            </div>
                            </div>             
                        </div>
                        </div>
                        <div class="marquee marquee2 flex w-full">
                        <div class="newtest">
                            <div class="flex-1 mr-6">
                            <div class="flex flex-row bg-customs-6 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">SMS</div>
                                <div class="text-base font-bold leading-5">Masking Number</div>
                                </div>
                            </div>
                            </div>  
                            <div class="flex-1 mx-6">
                            <div class="flex flex-row bg-customs-7 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16.0524" r="16" fill="#3D2C42"/><g clip-path="url(#clip0)"><path d="M21.1404 9.88227C20.4824 9.21815 19.6988 8.69164 18.8352 8.3334C17.9717 7.97517 17.0455 7.79239 16.1106 7.7957C12.1931 7.7957 9.00045 10.9875 8.99687 14.9058C8.99687 16.1608 9.32519 17.3817 9.94506 18.4627L8.93945 22.1487L12.7107 21.1602C13.754 21.7279 14.9228 22.0255 16.1106 22.0258H16.1142C20.0326 22.0258 23.2243 18.8341 23.2279 14.9121C23.2288 13.9774 23.0447 13.0518 22.6863 12.1885C22.3279 11.3253 21.8022 10.5415 21.1395 9.88227H21.1404ZM16.1106 20.822C15.0512 20.8223 14.0112 20.5372 13.1 19.9967L12.8847 19.8675L10.6475 20.4542L11.2449 18.2716L11.105 18.0465C10.5127 17.1048 10.1995 16.0146 10.2016 14.9022C10.2016 11.6495 12.8542 8.99597 16.1142 8.99597C16.8908 8.99458 17.66 9.14692 18.3775 9.44423C19.095 9.74153 19.7465 10.1779 20.2945 10.7282C20.8444 11.2764 21.2804 11.928 21.5772 12.6454C21.8741 13.3629 22.0259 14.1321 22.024 14.9085C22.0204 18.1729 19.3678 20.822 16.1106 20.822ZM19.3535 16.3959C19.1768 16.307 18.3039 15.8774 18.1397 15.8164C17.9765 15.758 17.8572 15.7275 17.7406 15.9052C17.6212 16.0819 17.2804 16.4847 17.1781 16.6004C17.0758 16.7197 16.97 16.7332 16.7924 16.6452C16.6156 16.5555 16.0424 16.3689 15.3642 15.7616C14.835 15.2907 14.4806 14.7076 14.3748 14.5309C14.2725 14.3532 14.3649 14.2582 14.4537 14.1693C14.5318 14.0904 14.6304 13.9612 14.7192 13.859C14.8089 13.7567 14.8385 13.6813 14.8969 13.5629C14.9552 13.4427 14.9274 13.3405 14.8834 13.2516C14.8385 13.1628 14.4842 12.2864 14.3344 11.933C14.1909 11.584 14.0446 11.6324 13.9352 11.628C13.8329 11.6217 13.7136 11.6217 13.5943 11.6217C13.5042 11.6239 13.4156 11.6448 13.3339 11.6829C13.2522 11.721 13.1793 11.7756 13.1198 11.8433C12.9565 12.0209 12.4999 12.4506 12.4999 13.327C12.4999 14.2034 13.1368 15.0458 13.2265 15.1651C13.3144 15.2844 14.477 17.0776 16.2613 17.8491C16.6829 18.033 17.0148 18.1415 17.2741 18.2241C17.7002 18.3604 18.085 18.3398 18.3918 18.2958C18.7327 18.2438 19.4423 17.8652 19.5921 17.4499C19.7392 17.0337 19.7392 16.6784 19.6944 16.604C19.6504 16.5286 19.5311 16.4847 19.3535 16.3959Z" fill="white"/></g>
                                <defs><clipPath id="clip0"><rect width="14.353" height="14.353" fill="white" transform="translate(8.93945 7.79565)"/></clipPath></defs>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">WhatsApp</div>
                                <div class="text-base font-bold leading-5">Verified Account</div>
                                </div>
                            </div>
                            </div> 
                            <div class="flex-1 mx-6">
                            <div class="flex flex-row bg-customs-8 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">Email</div>
                                <div class="text-base font-bold leading-5">Email Template</div>
                                </div>
                            </div>
                            </div> 
                            <div class="flex-1 ml-6">
                            <div class="flex flex-row bg-customs-9 rounded-tr-xlg rounded-bl-xlg py-4 px-6 pr-10">
                                <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">Call</div>
                                <div class="text-base font-bold leading-5">IVR to SMS</div>
                                </div>
                            </div>
                            </div>             
                        </div>
                        </div>
                    </div>

                    <div class="flex relative mt-20 mb-10">
                        <div class="marquee flex w-full">
                        <div class="reverse">
                            <div class="flex-1 mr-6">
                            <div class="flex flex-row bg-customs-7 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16.0524" r="16" fill="#3D2C42"/><g clip-path="url(#clip0)"><path d="M21.1404 9.88227C20.4824 9.21815 19.6988 8.69164 18.8352 8.3334C17.9717 7.97517 17.0455 7.79239 16.1106 7.7957C12.1931 7.7957 9.00045 10.9875 8.99687 14.9058C8.99687 16.1608 9.32519 17.3817 9.94506 18.4627L8.93945 22.1487L12.7107 21.1602C13.754 21.7279 14.9228 22.0255 16.1106 22.0258H16.1142C20.0326 22.0258 23.2243 18.8341 23.2279 14.9121C23.2288 13.9774 23.0447 13.0518 22.6863 12.1885C22.3279 11.3253 21.8022 10.5415 21.1395 9.88227H21.1404ZM16.1106 20.822C15.0512 20.8223 14.0112 20.5372 13.1 19.9967L12.8847 19.8675L10.6475 20.4542L11.2449 18.2716L11.105 18.0465C10.5127 17.1048 10.1995 16.0146 10.2016 14.9022C10.2016 11.6495 12.8542 8.99597 16.1142 8.99597C16.8908 8.99458 17.66 9.14692 18.3775 9.44423C19.095 9.74153 19.7465 10.1779 20.2945 10.7282C20.8444 11.2764 21.2804 11.928 21.5772 12.6454C21.8741 13.3629 22.0259 14.1321 22.024 14.9085C22.0204 18.1729 19.3678 20.822 16.1106 20.822ZM19.3535 16.3959C19.1768 16.307 18.3039 15.8774 18.1397 15.8164C17.9765 15.758 17.8572 15.7275 17.7406 15.9052C17.6212 16.0819 17.2804 16.4847 17.1781 16.6004C17.0758 16.7197 16.97 16.7332 16.7924 16.6452C16.6156 16.5555 16.0424 16.3689 15.3642 15.7616C14.835 15.2907 14.4806 14.7076 14.3748 14.5309C14.2725 14.3532 14.3649 14.2582 14.4537 14.1693C14.5318 14.0904 14.6304 13.9612 14.7192 13.859C14.8089 13.7567 14.8385 13.6813 14.8969 13.5629C14.9552 13.4427 14.9274 13.3405 14.8834 13.2516C14.8385 13.1628 14.4842 12.2864 14.3344 11.933C14.1909 11.584 14.0446 11.6324 13.9352 11.628C13.8329 11.6217 13.7136 11.6217 13.5943 11.6217C13.5042 11.6239 13.4156 11.6448 13.3339 11.6829C13.2522 11.721 13.1793 11.7756 13.1198 11.8433C12.9565 12.0209 12.4999 12.4506 12.4999 13.327C12.4999 14.2034 13.1368 15.0458 13.2265 15.1651C13.3144 15.2844 14.477 17.0776 16.2613 17.8491C16.6829 18.033 17.0148 18.1415 17.2741 18.2241C17.7002 18.3604 18.085 18.3398 18.3918 18.2958C18.7327 18.2438 19.4423 17.8652 19.5921 17.4499C19.7392 17.0337 19.7392 16.6784 19.6944 16.604C19.6504 16.5286 19.5311 16.4847 19.3535 16.3959Z" fill="white"/></g>
                                <defs><clipPath id="clip0"><rect width="14.353" height="14.353" fill="white" transform="translate(8.93945 7.79565)"/></clipPath></defs>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">WhatsApp</div>
                                <div class="text-base font-bold leading-5">Failover System</div>
                                </div>
                            </div>
                            </div>    
                            <div class="flex-1 mx-6">
                            <div class="flex flex-row bg-customs-8 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">Email</div>
                                <div class="text-base font-bold leading-5">Email Cleansing</div>
                                </div>
                            </div>
                            </div> 
                            <div class="flex-1 mx-6">
                            <div class="flex flex-row bg-customs-9 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">Call</div>
                                <div class="text-base font-bold leading-5">Drag and Drop</div>
                                </div>
                            </div>
                            </div> 
                            <div class="flex-1 ml-6">
                            <div class="flex flex-row bg-customs-7 rounded-tr-xlg rounded-bl-xlg py-4 px-6 pr-10">
                                <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16.0524" r="16" fill="#3D2C42"/><g clip-path="url(#clip0)"><path d="M21.1404 9.88227C20.4824 9.21815 19.6988 8.69164 18.8352 8.3334C17.9717 7.97517 17.0455 7.79239 16.1106 7.7957C12.1931 7.7957 9.00045 10.9875 8.99687 14.9058C8.99687 16.1608 9.32519 17.3817 9.94506 18.4627L8.93945 22.1487L12.7107 21.1602C13.754 21.7279 14.9228 22.0255 16.1106 22.0258H16.1142C20.0326 22.0258 23.2243 18.8341 23.2279 14.9121C23.2288 13.9774 23.0447 13.0518 22.6863 12.1885C22.3279 11.3253 21.8022 10.5415 21.1395 9.88227H21.1404ZM16.1106 20.822C15.0512 20.8223 14.0112 20.5372 13.1 19.9967L12.8847 19.8675L10.6475 20.4542L11.2449 18.2716L11.105 18.0465C10.5127 17.1048 10.1995 16.0146 10.2016 14.9022C10.2016 11.6495 12.8542 8.99597 16.1142 8.99597C16.8908 8.99458 17.66 9.14692 18.3775 9.44423C19.095 9.74153 19.7465 10.1779 20.2945 10.7282C20.8444 11.2764 21.2804 11.928 21.5772 12.6454C21.8741 13.3629 22.0259 14.1321 22.024 14.9085C22.0204 18.1729 19.3678 20.822 16.1106 20.822ZM19.3535 16.3959C19.1768 16.307 18.3039 15.8774 18.1397 15.8164C17.9765 15.758 17.8572 15.7275 17.7406 15.9052C17.6212 16.0819 17.2804 16.4847 17.1781 16.6004C17.0758 16.7197 16.97 16.7332 16.7924 16.6452C16.6156 16.5555 16.0424 16.3689 15.3642 15.7616C14.835 15.2907 14.4806 14.7076 14.3748 14.5309C14.2725 14.3532 14.3649 14.2582 14.4537 14.1693C14.5318 14.0904 14.6304 13.9612 14.7192 13.859C14.8089 13.7567 14.8385 13.6813 14.8969 13.5629C14.9552 13.4427 14.9274 13.3405 14.8834 13.2516C14.8385 13.1628 14.4842 12.2864 14.3344 11.933C14.1909 11.584 14.0446 11.6324 13.9352 11.628C13.8329 11.6217 13.7136 11.6217 13.5943 11.6217C13.5042 11.6239 13.4156 11.6448 13.3339 11.6829C13.2522 11.721 13.1793 11.7756 13.1198 11.8433C12.9565 12.0209 12.4999 12.4506 12.4999 13.327C12.4999 14.2034 13.1368 15.0458 13.2265 15.1651C13.3144 15.2844 14.477 17.0776 16.2613 17.8491C16.6829 18.033 17.0148 18.1415 17.2741 18.2241C17.7002 18.3604 18.085 18.3398 18.3918 18.2958C18.7327 18.2438 19.4423 17.8652 19.5921 17.4499C19.7392 17.0337 19.7392 16.6784 19.6944 16.604C19.6504 16.5286 19.5311 16.4847 19.3535 16.3959Z" fill="white"/></g>
                                <defs><clipPath id="clip0"><rect width="14.353" height="14.353" fill="white" transform="translate(8.93945 7.79565)"/></clipPath></defs>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">WhatsApp</div>
                                <div class="text-base font-bold leading-5">Rich Media</div>
                                </div>
                            </div>
                            </div>            
                        </div>
                        </div>
                        <div class="marquee marquee2 flex w-full">
                        <div class="reverse">
                            <div class="flex-1 mr-6">
                            <div class="flex flex-row bg-customs-7 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16.0524" r="16" fill="#3D2C42"/><g clip-path="url(#clip0)"><path d="M21.1404 9.88227C20.4824 9.21815 19.6988 8.69164 18.8352 8.3334C17.9717 7.97517 17.0455 7.79239 16.1106 7.7957C12.1931 7.7957 9.00045 10.9875 8.99687 14.9058C8.99687 16.1608 9.32519 17.3817 9.94506 18.4627L8.93945 22.1487L12.7107 21.1602C13.754 21.7279 14.9228 22.0255 16.1106 22.0258H16.1142C20.0326 22.0258 23.2243 18.8341 23.2279 14.9121C23.2288 13.9774 23.0447 13.0518 22.6863 12.1885C22.3279 11.3253 21.8022 10.5415 21.1395 9.88227H21.1404ZM16.1106 20.822C15.0512 20.8223 14.0112 20.5372 13.1 19.9967L12.8847 19.8675L10.6475 20.4542L11.2449 18.2716L11.105 18.0465C10.5127 17.1048 10.1995 16.0146 10.2016 14.9022C10.2016 11.6495 12.8542 8.99597 16.1142 8.99597C16.8908 8.99458 17.66 9.14692 18.3775 9.44423C19.095 9.74153 19.7465 10.1779 20.2945 10.7282C20.8444 11.2764 21.2804 11.928 21.5772 12.6454C21.8741 13.3629 22.0259 14.1321 22.024 14.9085C22.0204 18.1729 19.3678 20.822 16.1106 20.822ZM19.3535 16.3959C19.1768 16.307 18.3039 15.8774 18.1397 15.8164C17.9765 15.758 17.8572 15.7275 17.7406 15.9052C17.6212 16.0819 17.2804 16.4847 17.1781 16.6004C17.0758 16.7197 16.97 16.7332 16.7924 16.6452C16.6156 16.5555 16.0424 16.3689 15.3642 15.7616C14.835 15.2907 14.4806 14.7076 14.3748 14.5309C14.2725 14.3532 14.3649 14.2582 14.4537 14.1693C14.5318 14.0904 14.6304 13.9612 14.7192 13.859C14.8089 13.7567 14.8385 13.6813 14.8969 13.5629C14.9552 13.4427 14.9274 13.3405 14.8834 13.2516C14.8385 13.1628 14.4842 12.2864 14.3344 11.933C14.1909 11.584 14.0446 11.6324 13.9352 11.628C13.8329 11.6217 13.7136 11.6217 13.5943 11.6217C13.5042 11.6239 13.4156 11.6448 13.3339 11.6829C13.2522 11.721 13.1793 11.7756 13.1198 11.8433C12.9565 12.0209 12.4999 12.4506 12.4999 13.327C12.4999 14.2034 13.1368 15.0458 13.2265 15.1651C13.3144 15.2844 14.477 17.0776 16.2613 17.8491C16.6829 18.033 17.0148 18.1415 17.2741 18.2241C17.7002 18.3604 18.085 18.3398 18.3918 18.2958C18.7327 18.2438 19.4423 17.8652 19.5921 17.4499C19.7392 17.0337 19.7392 16.6784 19.6944 16.604C19.6504 16.5286 19.5311 16.4847 19.3535 16.3959Z" fill="white"/></g>
                                <defs><clipPath id="clip0"><rect width="14.353" height="14.353" fill="white" transform="translate(8.93945 7.79565)"/></clipPath></defs>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">WhatsApp</div>
                                <div class="text-base font-bold leading-5">Failover System</div>
                                </div>
                            </div>
                            </div>    
                            <div class="flex-1 mx-6">
                            <div class="flex flex-row bg-customs-8 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">Email</div>
                                <div class="text-base font-bold leading-5">Email Cleansing</div>
                                </div>
                            </div>
                            </div> 
                            <div class="flex-1 mx-6">
                            <div class="flex flex-row bg-customs-9 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">Call</div>
                                <div class="text-base font-bold leading-5">Drag and Drop</div>
                                </div>
                            </div>
                            </div> 
                            <div class="flex-1 ml-6">
                            <div class="flex flex-row bg-customs-7 rounded-tr-xlg rounded-bl-xlg py-4 px-6 pr-10">
                                <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16.0524" r="16" fill="#3D2C42"/><g clip-path="url(#clip0)"><path d="M21.1404 9.88227C20.4824 9.21815 19.6988 8.69164 18.8352 8.3334C17.9717 7.97517 17.0455 7.79239 16.1106 7.7957C12.1931 7.7957 9.00045 10.9875 8.99687 14.9058C8.99687 16.1608 9.32519 17.3817 9.94506 18.4627L8.93945 22.1487L12.7107 21.1602C13.754 21.7279 14.9228 22.0255 16.1106 22.0258H16.1142C20.0326 22.0258 23.2243 18.8341 23.2279 14.9121C23.2288 13.9774 23.0447 13.0518 22.6863 12.1885C22.3279 11.3253 21.8022 10.5415 21.1395 9.88227H21.1404ZM16.1106 20.822C15.0512 20.8223 14.0112 20.5372 13.1 19.9967L12.8847 19.8675L10.6475 20.4542L11.2449 18.2716L11.105 18.0465C10.5127 17.1048 10.1995 16.0146 10.2016 14.9022C10.2016 11.6495 12.8542 8.99597 16.1142 8.99597C16.8908 8.99458 17.66 9.14692 18.3775 9.44423C19.095 9.74153 19.7465 10.1779 20.2945 10.7282C20.8444 11.2764 21.2804 11.928 21.5772 12.6454C21.8741 13.3629 22.0259 14.1321 22.024 14.9085C22.0204 18.1729 19.3678 20.822 16.1106 20.822ZM19.3535 16.3959C19.1768 16.307 18.3039 15.8774 18.1397 15.8164C17.9765 15.758 17.8572 15.7275 17.7406 15.9052C17.6212 16.0819 17.2804 16.4847 17.1781 16.6004C17.0758 16.7197 16.97 16.7332 16.7924 16.6452C16.6156 16.5555 16.0424 16.3689 15.3642 15.7616C14.835 15.2907 14.4806 14.7076 14.3748 14.5309C14.2725 14.3532 14.3649 14.2582 14.4537 14.1693C14.5318 14.0904 14.6304 13.9612 14.7192 13.859C14.8089 13.7567 14.8385 13.6813 14.8969 13.5629C14.9552 13.4427 14.9274 13.3405 14.8834 13.2516C14.8385 13.1628 14.4842 12.2864 14.3344 11.933C14.1909 11.584 14.0446 11.6324 13.9352 11.628C13.8329 11.6217 13.7136 11.6217 13.5943 11.6217C13.5042 11.6239 13.4156 11.6448 13.3339 11.6829C13.2522 11.721 13.1793 11.7756 13.1198 11.8433C12.9565 12.0209 12.4999 12.4506 12.4999 13.327C12.4999 14.2034 13.1368 15.0458 13.2265 15.1651C13.3144 15.2844 14.477 17.0776 16.2613 17.8491C16.6829 18.033 17.0148 18.1415 17.2741 18.2241C17.7002 18.3604 18.085 18.3398 18.3918 18.2958C18.7327 18.2438 19.4423 17.8652 19.5921 17.4499C19.7392 17.0337 19.7392 16.6784 19.6944 16.604C19.6504 16.5286 19.5311 16.4847 19.3535 16.3959Z" fill="white"/></g>
                                <defs><clipPath id="clip0"><rect width="14.353" height="14.353" fill="white" transform="translate(8.93945 7.79565)"/></clipPath></defs>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">WhatsApp</div>
                                <div class="text-base font-bold leading-5">Rich Media</div>
                                </div>
                            </div>
                            </div>              
                        </div>
                        </div>
                    </div>

                    <div class="flex relative mt-20 mb-10">
                        <div class="marquee flex w-full px-4">
                        <div class="newtest">
                            <div class="flex-1 mr-6">
                                <div class="flex flex-row bg-customs-6 rounded-tr-xlg rounded-bl-xlg py-4 px-6 pr-16">
                                    <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                    <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <div class="flex flex-col mx-4">
                                    <div class="text-xs leading-3">SMS</div>
                                    <div class="text-base font-bold leading-5">OTP</div>
                                    </div>
                                </div>
                            </div>    
                            <div class="flex-1 mx-6">
                                <div class="flex flex-row bg-customs-7 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                    <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16.0524" r="16" fill="#3D2C42"/><g clip-path="url(#clip0)"><path d="M21.1404 9.88227C20.4824 9.21815 19.6988 8.69164 18.8352 8.3334C17.9717 7.97517 17.0455 7.79239 16.1106 7.7957C12.1931 7.7957 9.00045 10.9875 8.99687 14.9058C8.99687 16.1608 9.32519 17.3817 9.94506 18.4627L8.93945 22.1487L12.7107 21.1602C13.754 21.7279 14.9228 22.0255 16.1106 22.0258H16.1142C20.0326 22.0258 23.2243 18.8341 23.2279 14.9121C23.2288 13.9774 23.0447 13.0518 22.6863 12.1885C22.3279 11.3253 21.8022 10.5415 21.1395 9.88227H21.1404ZM16.1106 20.822C15.0512 20.8223 14.0112 20.5372 13.1 19.9967L12.8847 19.8675L10.6475 20.4542L11.2449 18.2716L11.105 18.0465C10.5127 17.1048 10.1995 16.0146 10.2016 14.9022C10.2016 11.6495 12.8542 8.99597 16.1142 8.99597C16.8908 8.99458 17.66 9.14692 18.3775 9.44423C19.095 9.74153 19.7465 10.1779 20.2945 10.7282C20.8444 11.2764 21.2804 11.928 21.5772 12.6454C21.8741 13.3629 22.0259 14.1321 22.024 14.9085C22.0204 18.1729 19.3678 20.822 16.1106 20.822ZM19.3535 16.3959C19.1768 16.307 18.3039 15.8774 18.1397 15.8164C17.9765 15.758 17.8572 15.7275 17.7406 15.9052C17.6212 16.0819 17.2804 16.4847 17.1781 16.6004C17.0758 16.7197 16.97 16.7332 16.7924 16.6452C16.6156 16.5555 16.0424 16.3689 15.3642 15.7616C14.835 15.2907 14.4806 14.7076 14.3748 14.5309C14.2725 14.3532 14.3649 14.2582 14.4537 14.1693C14.5318 14.0904 14.6304 13.9612 14.7192 13.859C14.8089 13.7567 14.8385 13.6813 14.8969 13.5629C14.9552 13.4427 14.9274 13.3405 14.8834 13.2516C14.8385 13.1628 14.4842 12.2864 14.3344 11.933C14.1909 11.584 14.0446 11.6324 13.9352 11.628C13.8329 11.6217 13.7136 11.6217 13.5943 11.6217C13.5042 11.6239 13.4156 11.6448 13.3339 11.6829C13.2522 11.721 13.1793 11.7756 13.1198 11.8433C12.9565 12.0209 12.4999 12.4506 12.4999 13.327C12.4999 14.2034 13.1368 15.0458 13.2265 15.1651C13.3144 15.2844 14.477 17.0776 16.2613 17.8491C16.6829 18.033 17.0148 18.1415 17.2741 18.2241C17.7002 18.3604 18.085 18.3398 18.3918 18.2958C18.7327 18.2438 19.4423 17.8652 19.5921 17.4499C19.7392 17.0337 19.7392 16.6784 19.6944 16.604C19.6504 16.5286 19.5311 16.4847 19.3535 16.3959Z" fill="white"/></g>
                                    <defs><clipPath id="clip0"><rect width="14.353" height="14.353" fill="white" transform="translate(8.93945 7.79565)"/></clipPath></defs>
                                    </svg>
                                    <div class="flex flex-col mx-4">
                                    <div class="text-xs leading-3">WhatsApp</div>
                                    <div class="text-base font-bold leading-5">Failover System</div>
                                    </div>
                                </div>
                            </div>  
                            <div class="flex-1 mx-6">
                                <div class="flex flex-row bg-customs-8 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                    <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                    <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <div class="flex flex-col mx-4">
                                    <div class="text-xs leading-3">Email</div>
                                    <div class="text-base font-bold leading-5">Email Cleansing</div>
                                    </div>
                                </div>
                            </div> 
                            <div class="flex-1 ml-6">
                                <div class="flex flex-row bg-customs-9 rounded-tr-xlg rounded-bl-xlg py-4 px-6 pr-10">
                                    <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                    <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <div class="flex flex-col mx-4">
                                    <div class="text-xs leading-3">Call</div>
                                    <div class="text-base font-bold leading-5">Drag and Drop</div>
                                    </div>
                                </div>
                            </div>               
                        </div>
                        </div>
                        <div class="marquee marquee2 flex w-full px-4">
                        <div class="newtest">
                            <div class="flex-1 mr-6">
                            <div class="flex flex-row bg-customs-6 rounded-tr-xlg rounded-bl-xlg py-4 px-6 pr-16">
                                <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">SMS</div>
                                <div class="text-base font-bold leading-5">OTP</div>
                                </div>
                            </div>
                            </div>    
                            <div class="flex-1 mx-6">
                            <div class="flex flex-row bg-customs-7 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16.0524" r="16" fill="#3D2C42"/><g clip-path="url(#clip0)"><path d="M21.1404 9.88227C20.4824 9.21815 19.6988 8.69164 18.8352 8.3334C17.9717 7.97517 17.0455 7.79239 16.1106 7.7957C12.1931 7.7957 9.00045 10.9875 8.99687 14.9058C8.99687 16.1608 9.32519 17.3817 9.94506 18.4627L8.93945 22.1487L12.7107 21.1602C13.754 21.7279 14.9228 22.0255 16.1106 22.0258H16.1142C20.0326 22.0258 23.2243 18.8341 23.2279 14.9121C23.2288 13.9774 23.0447 13.0518 22.6863 12.1885C22.3279 11.3253 21.8022 10.5415 21.1395 9.88227H21.1404ZM16.1106 20.822C15.0512 20.8223 14.0112 20.5372 13.1 19.9967L12.8847 19.8675L10.6475 20.4542L11.2449 18.2716L11.105 18.0465C10.5127 17.1048 10.1995 16.0146 10.2016 14.9022C10.2016 11.6495 12.8542 8.99597 16.1142 8.99597C16.8908 8.99458 17.66 9.14692 18.3775 9.44423C19.095 9.74153 19.7465 10.1779 20.2945 10.7282C20.8444 11.2764 21.2804 11.928 21.5772 12.6454C21.8741 13.3629 22.0259 14.1321 22.024 14.9085C22.0204 18.1729 19.3678 20.822 16.1106 20.822ZM19.3535 16.3959C19.1768 16.307 18.3039 15.8774 18.1397 15.8164C17.9765 15.758 17.8572 15.7275 17.7406 15.9052C17.6212 16.0819 17.2804 16.4847 17.1781 16.6004C17.0758 16.7197 16.97 16.7332 16.7924 16.6452C16.6156 16.5555 16.0424 16.3689 15.3642 15.7616C14.835 15.2907 14.4806 14.7076 14.3748 14.5309C14.2725 14.3532 14.3649 14.2582 14.4537 14.1693C14.5318 14.0904 14.6304 13.9612 14.7192 13.859C14.8089 13.7567 14.8385 13.6813 14.8969 13.5629C14.9552 13.4427 14.9274 13.3405 14.8834 13.2516C14.8385 13.1628 14.4842 12.2864 14.3344 11.933C14.1909 11.584 14.0446 11.6324 13.9352 11.628C13.8329 11.6217 13.7136 11.6217 13.5943 11.6217C13.5042 11.6239 13.4156 11.6448 13.3339 11.6829C13.2522 11.721 13.1793 11.7756 13.1198 11.8433C12.9565 12.0209 12.4999 12.4506 12.4999 13.327C12.4999 14.2034 13.1368 15.0458 13.2265 15.1651C13.3144 15.2844 14.477 17.0776 16.2613 17.8491C16.6829 18.033 17.0148 18.1415 17.2741 18.2241C17.7002 18.3604 18.085 18.3398 18.3918 18.2958C18.7327 18.2438 19.4423 17.8652 19.5921 17.4499C19.7392 17.0337 19.7392 16.6784 19.6944 16.604C19.6504 16.5286 19.5311 16.4847 19.3535 16.3959Z" fill="white"/></g>
                                <defs><clipPath id="clip0"><rect width="14.353" height="14.353" fill="white" transform="translate(8.93945 7.79565)"/></clipPath></defs>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">WhatsApp</div>
                                <div class="text-base font-bold leading-5">Failover System</div>
                                </div>
                            </div>
                            </div>  
                            <div class="flex-1 mx-6">
                            <div class="flex flex-row bg-customs-8 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">Email</div>
                                <div class="text-base font-bold leading-5">Email Cleansing</div>
                                </div>
                            </div>
                            </div> 
                            <div class="flex-1 ml-6">
                            <div class="flex flex-row bg-customs-9 rounded-tr-xlg rounded-bl-xlg py-4 px-6 pr-10">
                                <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <div class="flex flex-col mx-4">
                                <div class="text-xs leading-3">Call</div>
                                <div class="text-base font-bold leading-5">Drag and Drop</div>
                                </div>
                            </div>
                            </div>              
                        </div>
                        </div>
                    </div>
                    <div class="mt-10"></div>
                </div>
                <div class="flex flex-col max-w-full relative overflow-hidden w-full mt-8 lg:hidden" style="box-shadow: 19px 0px 0px 0px rgb(0 0 0 / 11%) inset;">
                    <div class="flex relative mb-10">
                        <div class="marquee-mobile flex w-full">
                            <div class="newtest">
                                <div class="flex-1 mr-6">
                                    <div class="flex flex-row bg-customs-6 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                        <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                        <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        <div class="flex flex-col mx-4">
                                        <div class="text-xs leading-3">SMS</div>
                                        <div class="text-base font-bold leading-5">Masking Number</div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="flex-1 mx-6">
                                <div class="flex flex-row bg-customs-7 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                    <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16.0524" r="16" fill="#3D2C42"/><g clip-path="url(#clip0)"><path d="M21.1404 9.88227C20.4824 9.21815 19.6988 8.69164 18.8352 8.3334C17.9717 7.97517 17.0455 7.79239 16.1106 7.7957C12.1931 7.7957 9.00045 10.9875 8.99687 14.9058C8.99687 16.1608 9.32519 17.3817 9.94506 18.4627L8.93945 22.1487L12.7107 21.1602C13.754 21.7279 14.9228 22.0255 16.1106 22.0258H16.1142C20.0326 22.0258 23.2243 18.8341 23.2279 14.9121C23.2288 13.9774 23.0447 13.0518 22.6863 12.1885C22.3279 11.3253 21.8022 10.5415 21.1395 9.88227H21.1404ZM16.1106 20.822C15.0512 20.8223 14.0112 20.5372 13.1 19.9967L12.8847 19.8675L10.6475 20.4542L11.2449 18.2716L11.105 18.0465C10.5127 17.1048 10.1995 16.0146 10.2016 14.9022C10.2016 11.6495 12.8542 8.99597 16.1142 8.99597C16.8908 8.99458 17.66 9.14692 18.3775 9.44423C19.095 9.74153 19.7465 10.1779 20.2945 10.7282C20.8444 11.2764 21.2804 11.928 21.5772 12.6454C21.8741 13.3629 22.0259 14.1321 22.024 14.9085C22.0204 18.1729 19.3678 20.822 16.1106 20.822ZM19.3535 16.3959C19.1768 16.307 18.3039 15.8774 18.1397 15.8164C17.9765 15.758 17.8572 15.7275 17.7406 15.9052C17.6212 16.0819 17.2804 16.4847 17.1781 16.6004C17.0758 16.7197 16.97 16.7332 16.7924 16.6452C16.6156 16.5555 16.0424 16.3689 15.3642 15.7616C14.835 15.2907 14.4806 14.7076 14.3748 14.5309C14.2725 14.3532 14.3649 14.2582 14.4537 14.1693C14.5318 14.0904 14.6304 13.9612 14.7192 13.859C14.8089 13.7567 14.8385 13.6813 14.8969 13.5629C14.9552 13.4427 14.9274 13.3405 14.8834 13.2516C14.8385 13.1628 14.4842 12.2864 14.3344 11.933C14.1909 11.584 14.0446 11.6324 13.9352 11.628C13.8329 11.6217 13.7136 11.6217 13.5943 11.6217C13.5042 11.6239 13.4156 11.6448 13.3339 11.6829C13.2522 11.721 13.1793 11.7756 13.1198 11.8433C12.9565 12.0209 12.4999 12.4506 12.4999 13.327C12.4999 14.2034 13.1368 15.0458 13.2265 15.1651C13.3144 15.2844 14.477 17.0776 16.2613 17.8491C16.6829 18.033 17.0148 18.1415 17.2741 18.2241C17.7002 18.3604 18.085 18.3398 18.3918 18.2958C18.7327 18.2438 19.4423 17.8652 19.5921 17.4499C19.7392 17.0337 19.7392 16.6784 19.6944 16.604C19.6504 16.5286 19.5311 16.4847 19.3535 16.3959Z" fill="white"/></g>
                                    <defs><clipPath id="clip0"><rect width="14.353" height="14.353" fill="white" transform="translate(8.93945 7.79565)"/></clipPath></defs>
                                    </svg>
                                    <div class="flex flex-col mx-4">
                                    <div class="text-xs leading-3">WhatsApp</div>
                                    <div class="text-base font-bold leading-5">Verified Account</div>
                                    </div>
                                </div>
                                </div> 
                                <div class="flex-1 mx-6">
                                <div class="flex flex-row bg-customs-8 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                    <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                    <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <div class="flex flex-col mx-4">
                                    <div class="text-xs leading-3">Email</div>
                                    <div class="text-base font-bold leading-5">Email Template</div>
                                    </div>
                                </div>
                                </div> 
                                <div class="flex-1 ml-6">
                                <div class="flex flex-row bg-customs-9 rounded-tr-xlg rounded-bl-xlg py-4 px-6 pr-10">
                                    <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                    <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <div class="flex flex-col mx-4">
                                    <div class="text-xs leading-3">Call</div>
                                    <div class="text-base font-bold leading-5">IVR to SMS</div>
                                    </div>
                                </div>
                                </div>             
                            </div>
                        </div>
                    </div>

                    <div class="flex relative mt-20 mb-10">
                        <div class="marquee-mobile flex w-full">
                        <div class="reverse">
                            <div class="flex-1 mr-6">
                                <div class="flex flex-row bg-customs-7 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                    <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16.0524" r="16" fill="#3D2C42"/><g clip-path="url(#clip0)"><path d="M21.1404 9.88227C20.4824 9.21815 19.6988 8.69164 18.8352 8.3334C17.9717 7.97517 17.0455 7.79239 16.1106 7.7957C12.1931 7.7957 9.00045 10.9875 8.99687 14.9058C8.99687 16.1608 9.32519 17.3817 9.94506 18.4627L8.93945 22.1487L12.7107 21.1602C13.754 21.7279 14.9228 22.0255 16.1106 22.0258H16.1142C20.0326 22.0258 23.2243 18.8341 23.2279 14.9121C23.2288 13.9774 23.0447 13.0518 22.6863 12.1885C22.3279 11.3253 21.8022 10.5415 21.1395 9.88227H21.1404ZM16.1106 20.822C15.0512 20.8223 14.0112 20.5372 13.1 19.9967L12.8847 19.8675L10.6475 20.4542L11.2449 18.2716L11.105 18.0465C10.5127 17.1048 10.1995 16.0146 10.2016 14.9022C10.2016 11.6495 12.8542 8.99597 16.1142 8.99597C16.8908 8.99458 17.66 9.14692 18.3775 9.44423C19.095 9.74153 19.7465 10.1779 20.2945 10.7282C20.8444 11.2764 21.2804 11.928 21.5772 12.6454C21.8741 13.3629 22.0259 14.1321 22.024 14.9085C22.0204 18.1729 19.3678 20.822 16.1106 20.822ZM19.3535 16.3959C19.1768 16.307 18.3039 15.8774 18.1397 15.8164C17.9765 15.758 17.8572 15.7275 17.7406 15.9052C17.6212 16.0819 17.2804 16.4847 17.1781 16.6004C17.0758 16.7197 16.97 16.7332 16.7924 16.6452C16.6156 16.5555 16.0424 16.3689 15.3642 15.7616C14.835 15.2907 14.4806 14.7076 14.3748 14.5309C14.2725 14.3532 14.3649 14.2582 14.4537 14.1693C14.5318 14.0904 14.6304 13.9612 14.7192 13.859C14.8089 13.7567 14.8385 13.6813 14.8969 13.5629C14.9552 13.4427 14.9274 13.3405 14.8834 13.2516C14.8385 13.1628 14.4842 12.2864 14.3344 11.933C14.1909 11.584 14.0446 11.6324 13.9352 11.628C13.8329 11.6217 13.7136 11.6217 13.5943 11.6217C13.5042 11.6239 13.4156 11.6448 13.3339 11.6829C13.2522 11.721 13.1793 11.7756 13.1198 11.8433C12.9565 12.0209 12.4999 12.4506 12.4999 13.327C12.4999 14.2034 13.1368 15.0458 13.2265 15.1651C13.3144 15.2844 14.477 17.0776 16.2613 17.8491C16.6829 18.033 17.0148 18.1415 17.2741 18.2241C17.7002 18.3604 18.085 18.3398 18.3918 18.2958C18.7327 18.2438 19.4423 17.8652 19.5921 17.4499C19.7392 17.0337 19.7392 16.6784 19.6944 16.604C19.6504 16.5286 19.5311 16.4847 19.3535 16.3959Z" fill="white"/></g>
                                    <defs><clipPath id="clip0"><rect width="14.353" height="14.353" fill="white" transform="translate(8.93945 7.79565)"/></clipPath></defs>
                                    </svg>
                                    <div class="flex flex-col mx-4">
                                        <div class="text-xs leading-3">WhatsApp</div>
                                        <div class="text-base font-bold leading-5">Failover System</div>
                                    </div>
                                </div>
                            </div>    
                            <div class="flex-1 mx-6">
                                <div class="flex flex-row bg-customs-8 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                    <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                    <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <div class="flex flex-col mx-4">
                                        <div class="text-xs leading-3">Email</div>
                                        <div class="text-base font-bold leading-5">Email Cleansing</div>
                                    </div>
                                </div>
                            </div> 
                            <div class="flex-1 mx-6">
                                <div class="flex flex-row bg-customs-9 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                    <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                    <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <div class="flex flex-col mx-4">
                                        <div class="text-xs leading-3">Call</div>
                                        <div class="text-base font-bold leading-5">Drag and Drop</div>
                                    </div>
                                </div>
                            </div> 
                            <div class="flex-1 ml-6">
                                <div class="flex flex-row bg-customs-7 rounded-tr-xlg rounded-bl-xlg py-4 px-6 pr-10">
                                    <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="16" cy="16.0524" r="16" fill="#3D2C42"/><g clip-path="url(#clip0)"><path d="M21.1404 9.88227C20.4824 9.21815 19.6988 8.69164 18.8352 8.3334C17.9717 7.97517 17.0455 7.79239 16.1106 7.7957C12.1931 7.7957 9.00045 10.9875 8.99687 14.9058C8.99687 16.1608 9.32519 17.3817 9.94506 18.4627L8.93945 22.1487L12.7107 21.1602C13.754 21.7279 14.9228 22.0255 16.1106 22.0258H16.1142C20.0326 22.0258 23.2243 18.8341 23.2279 14.9121C23.2288 13.9774 23.0447 13.0518 22.6863 12.1885C22.3279 11.3253 21.8022 10.5415 21.1395 9.88227H21.1404ZM16.1106 20.822C15.0512 20.8223 14.0112 20.5372 13.1 19.9967L12.8847 19.8675L10.6475 20.4542L11.2449 18.2716L11.105 18.0465C10.5127 17.1048 10.1995 16.0146 10.2016 14.9022C10.2016 11.6495 12.8542 8.99597 16.1142 8.99597C16.8908 8.99458 17.66 9.14692 18.3775 9.44423C19.095 9.74153 19.7465 10.1779 20.2945 10.7282C20.8444 11.2764 21.2804 11.928 21.5772 12.6454C21.8741 13.3629 22.0259 14.1321 22.024 14.9085C22.0204 18.1729 19.3678 20.822 16.1106 20.822ZM19.3535 16.3959C19.1768 16.307 18.3039 15.8774 18.1397 15.8164C17.9765 15.758 17.8572 15.7275 17.7406 15.9052C17.6212 16.0819 17.2804 16.4847 17.1781 16.6004C17.0758 16.7197 16.97 16.7332 16.7924 16.6452C16.6156 16.5555 16.0424 16.3689 15.3642 15.7616C14.835 15.2907 14.4806 14.7076 14.3748 14.5309C14.2725 14.3532 14.3649 14.2582 14.4537 14.1693C14.5318 14.0904 14.6304 13.9612 14.7192 13.859C14.8089 13.7567 14.8385 13.6813 14.8969 13.5629C14.9552 13.4427 14.9274 13.3405 14.8834 13.2516C14.8385 13.1628 14.4842 12.2864 14.3344 11.933C14.1909 11.584 14.0446 11.6324 13.9352 11.628C13.8329 11.6217 13.7136 11.6217 13.5943 11.6217C13.5042 11.6239 13.4156 11.6448 13.3339 11.6829C13.2522 11.721 13.1793 11.7756 13.1198 11.8433C12.9565 12.0209 12.4999 12.4506 12.4999 13.327C12.4999 14.2034 13.1368 15.0458 13.2265 15.1651C13.3144 15.2844 14.477 17.0776 16.2613 17.8491C16.6829 18.033 17.0148 18.1415 17.2741 18.2241C17.7002 18.3604 18.085 18.3398 18.3918 18.2958C18.7327 18.2438 19.4423 17.8652 19.5921 17.4499C19.7392 17.0337 19.7392 16.6784 19.6944 16.604C19.6504 16.5286 19.5311 16.4847 19.3535 16.3959Z" fill="white"/></g>
                                        <defs><clipPath id="clip0"><rect width="14.353" height="14.353" fill="white" transform="translate(8.93945 7.79565)"/></clipPath></defs>
                                    </svg>
                                    <div class="flex flex-col mx-4">
                                        <div class="text-xs leading-3">WhatsApp</div>
                                        <div class="text-base font-bold leading-5">Rich Media</div>
                                    </div>
                                </div>
                            </div>            
                        </div>
                        </div>
                    </div>
                    <div class="flex relative mt-20 mb-10">
                        <div class="marquee-mobile flex w-full px-4">
                        <div class="newtest">
                            <div class="flex-1 mr-6">
                                <div class="flex flex-row bg-customs-6 rounded-tr-xlg rounded-bl-xlg py-4 px-6 pr-16">
                                    <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                    <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <div class="flex flex-col mx-4">
                                    <div class="text-xs leading-3">SMS</div>
                                    <div class="text-base font-bold leading-5">OTP</div>
                                    </div>
                                </div>
                            </div>    
                            <div class="flex-1 mx-6">
                                <div class="flex flex-row bg-customs-7 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                    <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16.0524" r="16" fill="#3D2C42"/><g clip-path="url(#clip0)"><path d="M21.1404 9.88227C20.4824 9.21815 19.6988 8.69164 18.8352 8.3334C17.9717 7.97517 17.0455 7.79239 16.1106 7.7957C12.1931 7.7957 9.00045 10.9875 8.99687 14.9058C8.99687 16.1608 9.32519 17.3817 9.94506 18.4627L8.93945 22.1487L12.7107 21.1602C13.754 21.7279 14.9228 22.0255 16.1106 22.0258H16.1142C20.0326 22.0258 23.2243 18.8341 23.2279 14.9121C23.2288 13.9774 23.0447 13.0518 22.6863 12.1885C22.3279 11.3253 21.8022 10.5415 21.1395 9.88227H21.1404ZM16.1106 20.822C15.0512 20.8223 14.0112 20.5372 13.1 19.9967L12.8847 19.8675L10.6475 20.4542L11.2449 18.2716L11.105 18.0465C10.5127 17.1048 10.1995 16.0146 10.2016 14.9022C10.2016 11.6495 12.8542 8.99597 16.1142 8.99597C16.8908 8.99458 17.66 9.14692 18.3775 9.44423C19.095 9.74153 19.7465 10.1779 20.2945 10.7282C20.8444 11.2764 21.2804 11.928 21.5772 12.6454C21.8741 13.3629 22.0259 14.1321 22.024 14.9085C22.0204 18.1729 19.3678 20.822 16.1106 20.822ZM19.3535 16.3959C19.1768 16.307 18.3039 15.8774 18.1397 15.8164C17.9765 15.758 17.8572 15.7275 17.7406 15.9052C17.6212 16.0819 17.2804 16.4847 17.1781 16.6004C17.0758 16.7197 16.97 16.7332 16.7924 16.6452C16.6156 16.5555 16.0424 16.3689 15.3642 15.7616C14.835 15.2907 14.4806 14.7076 14.3748 14.5309C14.2725 14.3532 14.3649 14.2582 14.4537 14.1693C14.5318 14.0904 14.6304 13.9612 14.7192 13.859C14.8089 13.7567 14.8385 13.6813 14.8969 13.5629C14.9552 13.4427 14.9274 13.3405 14.8834 13.2516C14.8385 13.1628 14.4842 12.2864 14.3344 11.933C14.1909 11.584 14.0446 11.6324 13.9352 11.628C13.8329 11.6217 13.7136 11.6217 13.5943 11.6217C13.5042 11.6239 13.4156 11.6448 13.3339 11.6829C13.2522 11.721 13.1793 11.7756 13.1198 11.8433C12.9565 12.0209 12.4999 12.4506 12.4999 13.327C12.4999 14.2034 13.1368 15.0458 13.2265 15.1651C13.3144 15.2844 14.477 17.0776 16.2613 17.8491C16.6829 18.033 17.0148 18.1415 17.2741 18.2241C17.7002 18.3604 18.085 18.3398 18.3918 18.2958C18.7327 18.2438 19.4423 17.8652 19.5921 17.4499C19.7392 17.0337 19.7392 16.6784 19.6944 16.604C19.6504 16.5286 19.5311 16.4847 19.3535 16.3959Z" fill="white"/></g>
                                    <defs><clipPath id="clip0"><rect width="14.353" height="14.353" fill="white" transform="translate(8.93945 7.79565)"/></clipPath></defs>
                                    </svg>
                                    <div class="flex flex-col mx-4">
                                    <div class="text-xs leading-3">WhatsApp</div>
                                    <div class="text-base font-bold leading-5">Failover System</div>
                                    </div>
                                </div>
                            </div>  
                            <div class="flex-1 mx-6">
                                <div class="flex flex-row bg-customs-8 rounded-tr-xlg rounded-bl-xlg py-4 px-6">
                                    <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                    <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <div class="flex flex-col mx-4">
                                    <div class="text-xs leading-3">Email</div>
                                    <div class="text-base font-bold leading-5">Email Cleansing</div>
                                    </div>
                                </div>
                            </div> 
                            <div class="flex-1 ml-6">
                                <div class="flex flex-row bg-customs-9 rounded-tr-xlg rounded-bl-xlg py-4 px-6 pr-10">
                                    <svg class="self-center" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#3D2C42"/>
                                    <path d="M20.668 17.8102C20.668 18.0966 20.5542 18.3712 20.3517 18.5737C20.1492 18.7762 19.8746 18.89 19.5882 18.89H13.1095L10.95 21.0496V12.4113C10.95 12.1249 11.0637 11.8503 11.2662 11.6478C11.4687 11.4453 11.7434 11.3315 12.0297 11.3315H19.5882C19.8746 11.3315 20.1492 11.4453 20.3517 11.6478C20.5542 11.8503 20.668 12.1249 20.668 12.4113V17.8102Z" stroke="white" stroke-width="1.04427" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <div class="flex flex-col mx-4">
                                    <div class="text-xs leading-3">Call</div>
                                    <div class="text-base font-bold leading-5">Drag and Drop</div>
                                    </div>
                                </div>
                            </div>               
                        </div>
                        </div>
                    </div>
                    <div class="mt-10"></div>
                </div>
        </div>
    </div>
    </div>
</template>
<script>
export default {
    name: 'App',
}
</script>
<style>
.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee .newtest {
  display: flex;
  padding-left: 100%;
  animation: marquee 6s linear infinite;
}

.marquee2 .newtest {
  animation-delay: 14s;
}

.marquee .reverse {
  display: flex;
  padding-left: 100%;
  animation: reverseMarquee 14s linear infinite reverse;
}

.marquee2 .reverse {
  animation-delay: 7s;
}

.marquee-mobile {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee-mobile .newtest {
  display: flex;
  padding-left: 100%;
  animation: marquee 14s linear infinite;
}

.marquee2-mobile .newtest {
  display: flex;
  padding-left: 100%;
  animation: marquee 6s linear infinite !important ;
}

.marquee2-mobile .newtest {
  animation-delay: 14s;
}

.marquee-mobile .reverse {
  display: flex;
  padding-left: 100%;
  animation: reverseMarquee 14s linear infinite reverse;
}

.marquee2-mobile .reverse {
  animation-delay: 7s;
}

@keyframes reverseMarquee {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
</style>