<template>
    <div id="section-4" class="bg-white">
        <div class="flex flex-col bg-white relative max-w-screen-xl self-auto items-center mx-auto px-4 lg:py-24 smx:py-20">
            <h2 class="text-3xl smx:text-2xl text-customs-2 font-semibold text-center">Gunakan OCA untuk semua kebutuhan bisnis</h2>
            <div class="flex smx:flex-col lg:justify-between py-6 lg:px-10 lg:mt-10">
                <div class="flex-1 mx-4">
                    <div data-aos="fade-up" data-aos-delay="200" style="box-shadow: 11px 0px 100px rgba(0, 0, 0, 0.07), inset 30px 0px 30px rgba(0, 0, 0, 0.01);border-radius: 48px 0px 0px 0px;height: 366px;" class="flex justify-between flex-col border-2 hover:border-primary bg-white px-6 py-8 my-4">
                        <div class="text-sm smx:text-neutral-400 lg:text-neutral-80 font-semibold my-2">OCA Blast</div>
                        <div class="flex-col">
                            <h3 class="text-customs-3 smx:text-neutral-600 text-2xl smx:text-xl leading-7 font-semibold mb-4">UMKM Makanan Sehat ID kirim pesan sehat</h3>
                            <div class="text-neutral-100 text-xsm my-2">Makanan Sehat ID selalu berbagi tips sehat dengan customer melalui whatsapp. WA blast jadi kunci sukses dari Makanan Sehat ID untuk menambah customer dan mengembangkan bisnisnya.</div>
                        </div>
                        <div class="mt-0">
                            <oca-button @click="gotoBlog()" classValue="rounded-md text-xsm my-3 px-6 pr-5" buttonType="ghost" icon="arrow-right">Lebih lanjut</oca-button>
                        </div>
                    </div>
                </div>
                <div class="flex-1 mx-4">
                    <div data-aos="fade-up" data-aos-delay="250" style="box-shadow: 11px 0px 100px rgba(0, 0, 0, 0.07), inset 30px 0px 30px rgba(0, 0, 0, 0.01);border-radius: 48px 0px 0px 0px;height: 366px;" class="flex justify-between flex-col border-2 hover:border-primary bg-white px-6 py-8 my-4">
                    <div class="text-sm smx:text-neutral-400 lg:text-neutral-80 font-semibold my-2">OCA Interaction</div>
                    <div class="flex-col">
                        <h3 class="text-customs-3 smx:text-neutral-600 text-2xl smx:text-xl leading-7 font-semibold mb-4">Taman Safari Indonesia mulai komunikasi digital</h3>
                        <div class="text-neutral-100 text-xsm my-2">TSI menggunakan OCA Blast dan OCA Interaction untuk lakukan promosi, menyebarkan informasi, dan berkomunikasi dengan customernya.</div>
                    </div>
                    <div class="mt-0">
                        <oca-button @click="gotoBlog()" classValue="rounded-md text-xsm my-3 px-6 pr-5" buttonType="ghost" icon="arrow-right">Lebih lanjut</oca-button>
                    </div>
                    </div>
                </div>            
                <div class="flex-1 mx-4">
                    <div data-aos="fade-up" data-aos-delay="300" style="box-shadow: 11px 0px 100px rgba(0, 0, 0, 0.07), inset 30px 0px 30px rgba(0, 0, 0, 0.01);border-radius: 48px 0px 0px 0px;height: 366px;" class="flex justify-between flex-col border-2 hover:border-primary bg-white px-6 py-8 my-4">
                    <div class="text-sm smx:text-neutral-400 lg:text-neutral-80 font-semibold my-2">OCA Enterprise</div>
                    <div class="flex-col">
                        <h3 class="text-customs-3 smx:text-neutral-600 text-2xl smx:text-xl leading-7 font-semibold mb-4">Kementrian Sosial cepat respon pertanyaan rakyat</h3>
                        <div class="text-neutral-100 text-xsm my-2">Kemensos membuka saluran Whatsapp yang diperkuat dengan chatbot yang telah dibuat untuk menjawab segala pertanyaan ataupun aduan mengenai bansos kapan saja dimana saja.</div>
                    </div>
                    
                    <div class="mt-0">
                        <oca-button @click="gotoBlog()" classValue="rounded-md text-xsm my-3 px-6 pr-5" buttonType="ghost" icon="arrow-right">Lebih lanjut</oca-button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import OcaButton from '../../../components/oca_origin/buttons';

export default {
    name: 'App',
    components: {
        OcaButton,
    },
    methods:{
    gotoBlog: function () {
        window.location.href = 'https://ocaindonesia.co.id/blog?page=1'
    },
    }
}
</script>