<template>
    <modal name="video-modal" :width="800" :height="'auto'" :adaptive="true" :styles="'background-color: rgba(0, 0, 0, 0);box-shadow: none;'" @before-open="beforeOpen">
        <div class="p-4">
            <div class="relative w-full video-container">
                <iframe style="width: 100%; height: 100%; position: absolute"
                        :src="url">
                </iframe>
            </div>
        </div>
    </modal>
</template>

<script>
    export default {
        name: "VideoModal",
        data: function () {
            return {
                url: ''
            }
        },
        methods: {
            beforeOpen: function (event) {
                this.url = event.params.url
            }
        }
    }
</script>

<style scoped>
    .video-container {
        padding-bottom: 56.25%;
    }
</style>