<template>
    <div class="relative flex flex-wrap justify-center">
        <div class="w-full lg:mx-0 mx-4" style="max-width: 600px">
            <div class="relative" style="width: 100%; height: auto; padding-top: 56.25%; cursor: pointer" @click="toggleVideo">
                <img :src="thumb" class="absolute top-0 w-full h-full object-cover"/>
                <div class="absolute top-0 w-full h-full flex items-center justify-center">
                    <img src="../../../assets/image/play.png" class="w-16 h-16">
                </div>
            </div>
        </div>

        <!-- MESSAGE BUBBLE, ANIMASI MENGGUNAKAN AOS -->
        <div class="p-8 lg:mx-0 mx-4 w-full lg:w-auto flex-wrap h-auto items-center" style="background-color: #383637;max-width: 600px">
            <div class="align-center">
                <div class="w-full flex justify-end pl-16" data-aos="fade-up">
                    <div class="w-48 h-auto">
                        <img src="../../../assets/image/bubble-chat-1.png" class="w-full h-auto">
                    </div>
                </div>
                <div class="w-full pr-16 mt-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="w-56 h-auto">
                        <img src="../../../assets/image/bubble-chat-2.png" class="w-full h-auto">
                    </div>
                </div>
            </div>
        </div>

        <video-modal/>
    </div>
</template>

<script>
    import VideoModal from "./VideoModal";
    export default {
        name: "VideoView",
        components: {VideoModal},
        data: function () {
            return {
                url: '',
                thumb: ''
            }
        },
        created() {
            this.loadData()
        },
        methods: {
            toggleVideo: function () {
                this.$modal.show("video-modal", {
                    url: this.url,
                    thumb: this.thumb
                })
            },
            loadData: function () {
                const axios = require('axios')

                let main = this
                axios.get('https://dtpx1.ocatelkom.co.id/api/intro_video')
                    .then(function (response) {
                        main.url = response.data.url
                        main.thumb = response.data.url_img
                    })
            }
        }
    }
</script>

<style scoped>

</style>