<template>
<div id="section-3" class="bg-customs-10 smx:bg-white">
    <div style="border-radius: 0px 60px 0px 0px;" class="relative bg-white ">
        <div class="absolute top-0 right-0 smx:hidden">
            <svg width="324" height="314" viewBox="0 0 324 314" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g style="mix-blend-mode:luminosity" opacity="0.05"><path d="M138.511 141.954L85.3718 128.67L18.9485 110.071C8.32072 107.414 5.66377 96.7865 13.6346 88.8157L101.313 11.7646C109.284 6.45072 119.912 9.10765 122.569 17.0785L141.167 78.188L154.452 126.013C157.109 136.641 149.138 144.611 138.511 141.954Z" stroke="url(#paint0_linear)" stroke-width="16.8998" stroke-miterlimit="10"/><path d="M305.896 118.032L226.188 133.974L183.677 141.944C173.05 144.601 165.079 136.631 167.736 126.003L181.02 83.4919L202.276 19.7254C204.933 11.7546 218.217 9.09769 223.531 14.4116L311.21 96.7765C319.181 104.747 313.867 115.375 305.896 118.032Z" stroke="url(#paint1_linear)" stroke-width="16.8998" stroke-miterlimit="10"/><path d="M154.452 171.185L143.824 205.726L122.569 280.12C119.912 288.091 106.627 290.748 101.313 285.434L13.6346 205.726C5.66377 200.412 8.32072 187.127 18.9485 184.47L95.9996 163.215L138.511 152.587C149.138 152.587 157.109 160.558 154.452 171.185Z" stroke="url(#paint2_linear)" stroke-width="16.8998" stroke-miterlimit="10"/><path d="M321.834 288.095C324.491 290.752 324.491 296.066 321.834 301.38L305.892 312.007C303.235 314.664 295.264 314.664 292.607 312.007L260.724 280.124L244.783 306.693C239.469 317.321 223.527 312.007 220.87 301.38L178.359 192.445L173.045 171.19C170.388 165.876 178.359 157.905 183.673 160.562L204.929 171.19L316.52 221.671C327.148 226.985 332.461 240.27 319.177 245.584L289.95 258.869L321.834 288.095Z" fill="#383637"/>
                </g><defs>
                <linearGradient id="paint0_linear" x1="1.81122" y1="77.0322" x2="161.613" y2="77.0322" gradientUnits="userSpaceOnUse"><stop stop-color="#ED1C24"/><stop offset="0.6" stop-color="#ED164B"/><stop offset="1" stop-color="#ED1260"/>
                </linearGradient>
                <linearGradient id="paint1_linear" x1="160.634" y1="77.0222" x2="322.021" y2="77.0222" gradientUnits="userSpaceOnUse"><stop stop-color="#ED1C24"/><stop offset="0.6" stop-color="#ED164B"/><stop offset="1" stop-color="#ED1260"/>
                </linearGradient>
                <linearGradient id="paint2_linear" x1="1.86701" y1="221.383" x2="161.557" y2="221.383" gradientUnits="userSpaceOnUse"><stop stop-color="#ED1C24"/><stop offset="0.6" stop-color="#ED164B"/><stop offset="1" stop-color="#ED1260"/></linearGradient></defs>
            </svg>
        </div>
        <div class="flex-col relative max-w-screen-xl self-auto items-center justify-center mx-auto py-24">
            <div style="letter-spacing: 0.75px;" class="text-neutral-600 font-semibold text-center text-3/4xl smx:text-2xl leading-10 smx:leading-8">Semua fitur dibuat untuk <br/> mengembangkan bisnis Anda</div>
            <div style="letter-spacing: 0.5px;" class="text-neutral-400 text-base text-center leading-6 my-3 smx:hidden">Kami menyesuaikan semua fitur agar bisa memenuhi kebutuhan <br/> komunikasi bisnis di era digital.</div>
            <div style="letter-spacing: 0.5px;" class="text-neutral-400 text-base text-center leading-6 my-4 lg:hidden">Kami menyesuaikan semua fitur agar bisa memenuhi kebutuhan komunikasi bisnis di era digital.</div>
            <div class="flex justify-between my-20 mb-10 smx:hidden">
                <div @click="prevSlide" class="self-center cursor-pointer">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="20" cy="20" r="20" fill="#F4F5F7"/>
                    <path d="M27.7763 20H12.2207" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.9985 27.7777L12.2207 19.9999L19.9985 12.2222" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <transition-group tag="div" :name="transitionName" class="slides-group">
                    <div v-if="currentShow === 1" :key="currentShow" class="flex slide">
                        <div class="flex flex-1 flex-row ml-16">
                        <div class="mr-4">
                            <svg width="2" height="453" viewBox="0 0 2 453" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="1" y1="-4.37114e-08" x2="1.00001" y2="119" stroke="#E9E9E9" stroke-width="2" stroke-linejoin="round" stroke-dasharray="8 8"/>
                            <line x1="1" y1="179" x2="0.999988" y2="453" stroke="#E9E9E9" stroke-width="2" stroke-linejoin="round" stroke-dasharray="8 8"/>
                            <line x1="1" y1="129" x2="0.999998" y2="168" stroke="#E81255" stroke-width="2" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="flex flex-col flex-1 mx-4">
                            <div class="my-2"> 
                            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="50" cy="50" r="50" fill="#EAF3FF"/>
                                <path d="M59.3333 39.3335H40.6667C39.1939 39.3335 38 40.5274 38 42.0002V60.6668C38 62.1396 39.1939 63.3335 40.6667 63.3335H59.3333C60.8061 63.3335 62 62.1396 62 60.6668V42.0002C62 40.5274 60.8061 39.3335 59.3333 39.3335Z" stroke="#0F51A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M55.334 36.6665V41.9998" stroke="#0F51A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M44.666 36.6665V41.9998" stroke="#0F51A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M38 47.3335H62" stroke="#0F51A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            </div>
                            <div style="letter-spacing: 0.5px;" class="text-neutral-400 font-medium text-base mt-10">Scheduler</div>
                            <div style="letter-spacing: 0.25px;" class="text-customs-14 text-base leading-8 my-4">Jadwalkan kapan Anda ingin mengirimkan memulai melakukan penyebaran pesan. Fitur ini akan memudahkan ketika harus mengirimkan pesan secara berulang sesuai kebutuhan bisnis Anda.</div>
                        </div>
                        </div>
                        <div class="flex flex-1 flex-row ml-8">
                        <div class="mr-4">
                            <svg width="2" height="453" viewBox="0 0 2 453" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="1" y1="-4.37114e-08" x2="1.00001" y2="119" stroke="#E9E9E9" stroke-width="2" stroke-linejoin="round" stroke-dasharray="8 8"/>
                            <line x1="1" y1="179" x2="0.999988" y2="453" stroke="#E9E9E9" stroke-width="2" stroke-linejoin="round" stroke-dasharray="8 8"/>
                            <line x1="1" y1="129" x2="0.999998" y2="168" stroke="#E81255" stroke-width="2" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="flex flex-col flex-1 mx-4">
                            <div class="my-2"> 
                            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="50" cy="50" r="50" fill="#EAF3FF"/>
                                <path d="M39.3965 48.0274V37C39.3965 35.3431 40.7396 34 42.3965 34H50.7937H55.6157H59.191C60.8479 34 62.191 35.3431 62.191 37V63C62.191 64.6569 60.8479 66 59.191 66H40.2732V66C39.789 66 39.3965 65.6075 39.3965 65.1233V62.9315" stroke="#96002F" stroke-width="2" stroke-linejoin="round"/>
                                <path d="M29.7528 49.9914C29.7522 49.8761 29.7743 49.7617 29.8179 49.6549C29.8616 49.5481 29.9258 49.4509 30.0071 49.369L33.7244 45.6517C33.8063 45.5705 33.9034 45.5062 34.0102 45.4626C34.1171 45.4189 34.2314 45.3968 34.3468 45.3975C34.4622 45.3968 34.5766 45.4189 34.6834 45.4626C34.7902 45.5062 34.8874 45.5705 34.9693 45.6517L37.4504 48.1328L47.0328 57.7153C47.1141 57.7972 47.1784 57.8944 47.222 58.0012C47.2656 58.108 47.2878 58.2224 47.2871 58.3377V62.055C47.2871 62.2875 47.1947 62.5105 47.0303 62.6749C46.8659 62.8394 46.6429 62.9317 46.4104 62.9317H42.6931C42.5704 62.9384 42.4477 62.9192 42.333 62.8754C42.2182 62.8316 42.1139 62.7642 42.0268 62.6775L32.497 53.095L30.0071 50.6577C29.9271 50.5728 29.8619 50.475 29.8142 50.3684C29.8058 50.2986 29.8058 50.2279 29.8142 50.158C29.8101 50.1172 29.8101 50.0761 29.8142 50.0353L29.7528 49.9914ZM43.0526 61.1783H45.5337V58.6972L36.8279 49.9914L34.3468 52.4725L43.0526 61.1783ZM33.1107 51.2364L35.5918 48.7553L34.3468 47.5191L31.8745 49.9914L33.1107 51.2364Z" fill="#96002F"/>
                                <path d="M50.7946 37.7993C49.661 37.8015 48.5525 38.1332 47.6041 38.7542C46.6557 39.3752 45.9083 40.2585 45.453 41.2967C44.9978 42.3348 44.8542 43.483 45.0399 44.6013C45.2255 45.7196 45.7324 46.7598 46.4987 47.5951V47.5951C47.046 48.1884 47.7103 48.6619 48.4496 48.9857C49.189 49.3095 49.9874 49.4767 50.7946 49.4767C51.6018 49.4767 52.4002 49.3095 53.1395 48.9857C53.8789 48.6619 54.5432 48.1884 55.0905 47.5951V47.5951C55.8568 46.7598 56.3637 45.7196 56.5493 44.6013C56.735 43.483 56.5914 42.3348 56.1361 41.2967C55.6809 40.2585 54.9335 39.3752 53.9851 38.7542C53.0367 38.1332 51.9282 37.8015 50.7946 37.7993V37.7993ZM50.7946 48.3199C49.5838 48.318 48.421 47.8466 47.5507 47.0048C47.815 46.3616 48.2644 45.8115 48.842 45.4243C49.4196 45.0371 50.0992 44.8304 50.7946 44.8304C51.4899 44.8304 52.1696 45.0371 52.7472 45.4243C53.3248 45.8115 53.7742 46.3616 54.0384 47.0048C53.1682 47.8466 52.0053 48.318 50.7946 48.3199ZM49.6256 42.4751C49.6256 42.2439 49.6942 42.0179 49.8226 41.8257C49.9511 41.6334 50.1336 41.4836 50.3472 41.3951C50.5608 41.3067 50.7959 41.2835 51.0226 41.3286C51.2494 41.3737 51.4577 41.4851 51.6212 41.6485C51.7846 41.812 51.896 42.0203 51.9411 42.2471C51.9862 42.4738 51.963 42.7089 51.8746 42.9225C51.7861 43.136 51.6363 43.3186 51.444 43.4471C51.2518 43.5755 51.0258 43.6441 50.7946 43.6441C50.4846 43.6441 50.1872 43.5209 49.968 43.3017C49.7488 43.0825 49.6256 42.7851 49.6256 42.4751ZM54.8333 45.982C54.3111 45.0887 53.5074 44.394 52.548 44.0064C52.8456 43.669 53.0395 43.2529 53.1065 42.8079C53.1734 42.363 53.1106 41.9082 52.9254 41.4982C52.7403 41.0881 52.4408 40.7401 52.0628 40.4961C51.6849 40.252 51.2445 40.1222 50.7946 40.1222C50.3447 40.1222 49.9043 40.252 49.5263 40.4961C49.1484 40.7401 48.8489 41.0881 48.6637 41.4982C48.4786 41.9082 48.4158 42.363 48.4827 42.8079C48.5497 43.2529 48.7436 43.669 49.0412 44.0064C48.0818 44.394 47.2781 45.0887 46.7559 45.982C46.3397 45.2731 46.1198 44.4661 46.1188 43.6441C46.1188 42.404 46.6114 41.2147 47.4883 40.3378C48.3652 39.4609 49.5545 38.9683 50.7946 38.9683C52.0347 38.9683 53.224 39.4609 54.1009 40.3378C54.9778 41.2147 55.4704 42.404 55.4704 43.6441C55.4694 44.4661 55.2495 45.2731 54.8333 45.982V45.982Z" fill="#96002F"/>
                                <line x1="48.2852" y1="52.2876" x2="58.5591" y2="52.2876" stroke="#96002F" stroke-width="2" stroke-linecap="round"/>
                                <line x1="50.916" y1="58.4248" x2="58.5599" y2="58.4248" stroke="#96002F" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                            </div>
                            <div style="letter-spacing: 0.5px;" class="text-neutral-400 font-medium text-base mt-10">Content Builder</div>
                            <div style="letter-spacing: 0.25px;" class="text-customs-14 text-base leading-8 my-4">Fitur ini memudahkan Anda membuat konten yang sesuai dengan target customer Anda. Konten bisa dipersonalisasi seperti memanggil nama customer, memasukan file, gambar, video, dan location.</div>
                        </div>
                        </div>
                        <div class="flex flex-1 flex-row mx-8">
                        <div class="mr-4">
                            <svg width="2" height="453" viewBox="0 0 2 453" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="1" y1="-4.37114e-08" x2="1.00001" y2="119" stroke="#E9E9E9" stroke-width="2" stroke-linejoin="round" stroke-dasharray="8 8"/>
                            <line x1="1" y1="179" x2="0.999988" y2="453" stroke="#E9E9E9" stroke-width="2" stroke-linejoin="round" stroke-dasharray="8 8"/>
                            <line x1="1" y1="129" x2="0.999998" y2="168" stroke="#E81255" stroke-width="2" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="flex flex-col flex-1 mx-4">
                            <div class="my-2"> 
                            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="50" cy="50" r="50" fill="#EAF3FF"/><g clip-path="url(#clip0)"><path d="M45.36 52.3424C45.5571 52.3424 45.7462 52.2713 45.8855 52.1445C46.0249 52.0178 46.1032 51.846 46.1032 51.6668C46.1057 51.6443 46.1057 51.6217 46.1032 51.5992L47.4857 50.3424H47.5996H47.7136L48.5113 51.0677C48.5113 51.0677 48.5113 51.0902 48.5113 51.1037C48.5113 51.2829 48.5896 51.4548 48.729 51.5815C48.8684 51.7082 49.0575 51.7794 49.2546 51.7794C49.4517 51.7794 49.6408 51.7082 49.7801 51.5815C49.9195 51.4548 49.9978 51.2829 49.9978 51.1037V51.0677L51.8014 49.4145C51.9484 49.4145 52.0921 49.3749 52.2144 49.3006C52.3366 49.2264 52.4318 49.1209 52.4881 48.9974C52.5444 48.8739 52.5591 48.7381 52.5304 48.607C52.5017 48.4759 52.4309 48.3556 52.327 48.2611C52.223 48.1666 52.0906 48.1022 51.9464 48.0761C51.8023 48.0501 51.6528 48.0635 51.517 48.1146C51.3812 48.1657 51.2651 48.2523 51.1834 48.3635C51.1018 48.4746 51.0582 48.6052 51.0582 48.7388C51.0558 48.7613 51.0558 48.7839 51.0582 48.8064L49.2695 50.4325H49.1902L48.333 49.6397C48.333 49.4605 48.2547 49.2887 48.1153 49.162C47.9759 49.0352 47.7868 48.9641 47.5897 48.9641C47.3926 48.9641 47.2036 49.0352 47.0642 49.162C46.9248 49.2887 46.8465 49.4605 46.8465 49.6397L45.36 50.9911C45.1629 50.9911 44.9738 51.0623 44.8344 51.189C44.6951 51.3157 44.6167 51.4876 44.6167 51.6668C44.6167 51.846 44.6951 52.0178 44.8344 52.1445C44.9738 52.2713 45.1629 52.3424 45.36 52.3424V52.3424ZM52.0492 54.1442H43.6258V46.4866C43.6258 46.3671 43.5736 46.2525 43.4806 46.1681C43.3877 46.0836 43.2617 46.0361 43.1303 46.0361C42.9988 46.0361 42.8728 46.0836 42.7799 46.1681C42.687 46.2525 42.6348 46.3671 42.6348 46.4866V54.5947C42.6348 54.7142 42.687 54.8287 42.7799 54.9132C42.8728 54.9977 42.9988 55.0451 43.1303 55.0451H52.0492C52.1806 55.0451 52.3066 54.9977 52.3995 54.9132C52.4925 54.8287 52.5447 54.7142 52.5447 54.5947C52.5447 54.4752 52.4925 54.3607 52.3995 54.2762C52.3066 54.1917 52.1806 54.1442 52.0492 54.1442Z" fill="#2F80ED"/></g>
                                <path d="M58.3327 36.6668H56.366C56.0222 35.6942 55.3859 34.8518 54.5445 34.2551C53.703 33.6583 52.6976 33.3364 51.666 33.3335H48.3327C47.3011 33.3364 46.2957 33.6583 45.4542 34.2551C44.6128 34.8518 43.9765 35.6942 43.6327 36.6668H41.666C40.3399 36.6668 39.0682 37.1936 38.1305 38.1313C37.1928 39.069 36.666 40.3407 36.666 41.6668V61.6668C36.666 62.9929 37.1928 64.2647 38.1305 65.2024C39.0682 66.14 40.3399 66.6668 41.666 66.6668H58.3327C59.6588 66.6668 60.9305 66.14 61.8682 65.2024C62.8059 64.2647 63.3327 62.9929 63.3327 61.6668V41.6668C63.3327 40.3407 62.8059 39.069 61.8682 38.1313C60.9305 37.1936 59.6588 36.6668 58.3327 36.6668V36.6668ZM46.666 38.3335C46.666 37.8915 46.8416 37.4675 47.1542 37.155C47.4667 36.8424 47.8907 36.6668 48.3327 36.6668H51.666C52.108 36.6668 52.532 36.8424 52.8445 37.155C53.1571 37.4675 53.3327 37.8915 53.3327 38.3335V40.0002H46.666V38.3335ZM59.9993 61.6668C59.9993 62.1089 59.8238 62.5328 59.5112 62.8453C59.1986 63.1579 58.7747 63.3335 58.3327 63.3335H41.666C41.224 63.3335 40.8001 63.1579 40.4875 62.8453C40.1749 62.5328 39.9993 62.1089 39.9993 61.6668V41.6668C39.9993 41.2248 40.1749 40.8009 40.4875 40.4883C40.8001 40.1758 41.224 40.0002 41.666 40.0002H43.3327V41.6668C43.3327 42.1089 43.5083 42.5328 43.8208 42.8453C44.1334 43.1579 44.5573 43.3335 44.9993 43.3335H54.9993C55.4414 43.3335 55.8653 43.1579 56.1779 42.8453C56.4904 42.5328 56.666 42.1089 56.666 41.6668V40.0002H58.3327C58.7747 40.0002 59.1986 40.1758 59.5112 40.4883C59.8238 40.8009 59.9993 41.2248 59.9993 41.6668V61.6668Z" fill="#2F80ED"/>
                                <line x1="43" y1="57" x2="58.25" y2="57" stroke="#2F80ED" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="54.2832" y1="51.1216" x2="58.6886" y2="51.1216" stroke="#2F80ED" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="54.2832" y1="47.8784" x2="58.6886" y2="47.8784" stroke="#2F80ED" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="54.2832" y1="54.3647" x2="58.6886" y2="54.3647" stroke="#2F80ED" stroke-linecap="round" stroke-linejoin="round"/>
                                <line x1="43" y1="60.75" x2="58.25" y2="60.75" stroke="#2F80ED" stroke-linecap="round" stroke-linejoin="round"/>
                                <defs><clipPath id="clip0"><rect width="11.8919" height="10.8108" fill="white" transform="translate(41.8906 45.1353)"/></clipPath></defs>
                            </svg>
                            </div>
                            <div style="letter-spacing: 0.5px;" class="text-neutral-400 font-medium text-base mt-10">Reporting</div>
                            <div style="letter-spacing: 0.25px;" class="text-customs-14 text-base leading-8 my-4">Amati tingkat keberhasilan setiap pesan yang Anda blast dengan fitur Report. Fitur ini akan membantu dalam mengambil strategi Anda selanjutnya.</div>
                        </div>
                        </div>
                    </div>
                <div v-if="currentShow === 2" :key="currentShow" class="flex slide">
                    <div class="flex flex-1 flex-row ml-16">
                    <div class="mr-4">
                        <svg width="2" height="453" viewBox="0 0 2 453" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="-4.37114e-08" x2="1.00001" y2="119" stroke="#E9E9E9" stroke-width="2" stroke-linejoin="round" stroke-dasharray="8 8"/>
                        <line x1="1" y1="179" x2="0.999988" y2="453" stroke="#E9E9E9" stroke-width="2" stroke-linejoin="round" stroke-dasharray="8 8"/>
                        <line x1="1" y1="129" x2="0.999998" y2="168" stroke="#E81255" stroke-width="2" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="flex flex-col flex-1 mx-4">
                        <div class="my-2"> 
                            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="50" cy="50" r="50" fill="#EAF3FF"/>
                                <path d="M66.2388 57.7036C66.0023 57.7036 65.7711 57.7731 65.5745 57.9033C65.3779 58.0335 65.2246 58.2186 65.1342 58.4352C65.0437 58.6518 65.02 58.8901 65.0661 59.12C65.1122 59.3499 65.2261 59.561 65.3933 59.7268C65.5606 59.8925 65.7736 60.0054 66.0055 60.0512C66.2375 60.0969 66.4779 60.0734 66.6963 59.9837C66.9148 59.894 67.1016 59.7421 67.2329 59.5472C67.3643 59.3523 67.4344 59.1232 67.4344 58.8887C67.4344 58.5744 67.3085 58.273 67.0842 58.0507C66.86 57.8284 66.5559 57.7036 66.2388 57.7036ZM59.0649 57.7036H55.4779C55.1608 57.7036 54.8567 57.8284 54.6325 58.0507C54.4082 58.273 54.2823 58.5744 54.2823 58.8887C54.2823 59.2031 54.4082 59.5045 54.6325 59.7268C54.8567 59.9491 55.1608 60.0739 55.4779 60.0739H59.0649C59.382 60.0739 59.6861 59.9491 59.9103 59.7268C60.1346 59.5045 60.2605 59.2031 60.2605 58.8887C60.2605 58.5744 60.1346 58.273 59.9103 58.0507C59.6861 57.8284 59.382 57.7036 59.0649 57.7036ZM69.8257 57.7036C69.5893 57.7036 69.3581 57.7731 69.1615 57.9033C68.9649 58.0335 68.8116 58.2186 68.7211 58.4352C68.6306 58.6518 68.6069 58.8901 68.6531 59.12C68.6992 59.3499 68.8131 59.561 68.9803 59.7268C69.1475 59.8925 69.3606 60.0054 69.5925 60.0512C69.8244 60.0969 70.0648 60.0734 70.2833 59.9837C70.5018 59.894 70.6885 59.7421 70.8199 59.5472C70.9513 59.3523 71.0214 59.1232 71.0214 58.8887C71.0214 58.5744 70.8954 58.273 70.6712 58.0507C70.447 57.8284 70.1429 57.7036 69.8257 57.7036ZM66.2388 50.5924C66.0023 50.5924 65.7711 50.662 65.5745 50.7922C65.3779 50.9224 65.2246 51.1075 65.1342 51.3241C65.0437 51.5406 65.02 51.7789 65.0661 52.0089C65.1122 52.2388 65.2261 52.4499 65.3933 52.6157C65.5606 52.7814 65.7736 52.8943 66.0055 52.94C66.2375 52.9858 66.4779 52.9623 66.6963 52.8726C66.9148 52.7829 67.1016 52.631 67.2329 52.4361C67.3643 52.2412 67.4344 52.012 67.4344 51.7776C67.4344 51.4633 67.3085 51.1618 67.0842 50.9396C66.86 50.7173 66.5559 50.5924 66.2388 50.5924ZM59.0649 50.5924H55.4779C55.1608 50.5924 54.8567 50.7173 54.6325 50.9396C54.4082 51.1618 54.2823 51.4633 54.2823 51.7776C54.2823 52.092 54.4082 52.3934 54.6325 52.6157C54.8567 52.838 55.1608 52.9628 55.4779 52.9628H59.0649C59.382 52.9628 59.6861 52.838 59.9103 52.6157C60.1346 52.3934 60.2605 52.092 60.2605 51.7776C60.2605 51.4633 60.1346 51.1618 59.9103 50.9396C59.6861 50.7173 59.382 50.5924 59.0649 50.5924ZM69.8257 43.4813C69.5893 43.4813 69.3581 43.5508 69.1615 43.6811C68.9649 43.8113 68.8116 43.9964 68.7211 44.213C68.6306 44.4295 68.6069 44.6678 68.6531 44.8977C68.6992 45.1276 68.8131 45.3388 68.9803 45.5046C69.1475 45.6703 69.3606 45.7832 69.5925 45.8289C69.8244 45.8747 70.0648 45.8512 70.2833 45.7615C70.5018 45.6718 70.6885 45.5199 70.8199 45.325C70.9513 45.1301 71.0214 44.9009 71.0214 44.6665C71.0214 44.3522 70.8954 44.0507 70.6712 43.8285C70.447 43.6062 70.1429 43.4813 69.8257 43.4813ZM69.8257 50.5924C69.5893 50.5924 69.3581 50.662 69.1615 50.7922C68.9649 50.9224 68.8116 51.1075 68.7211 51.3241C68.6306 51.5406 68.6069 51.7789 68.6531 52.0089C68.6992 52.2388 68.8131 52.4499 68.9803 52.6157C69.1475 52.7814 69.3606 52.8943 69.5925 52.94C69.8244 52.9858 70.0648 52.9623 70.2833 52.8726C70.5018 52.7829 70.6885 52.631 70.8199 52.4361C70.9513 52.2412 71.0214 52.012 71.0214 51.7776C71.0214 51.4633 70.8954 51.1618 70.6712 50.9396C70.447 50.7173 70.1429 50.5924 69.8257 50.5924ZM74.6084 43.4813C74.6084 42.5383 74.2304 41.634 73.5578 40.9672C72.8851 40.3004 71.9727 39.9258 71.0214 39.9258H54.2823C53.3309 39.9258 52.4186 40.3004 51.7459 40.9672C51.0732 41.634 50.6953 42.5383 50.6953 43.4813V45.8517C50.7006 46.7288 51.0327 47.573 51.6279 48.2221C51.0327 48.8711 50.7006 49.7153 50.6953 50.5924V52.9628C50.7006 53.8399 51.0327 54.6841 51.6279 55.3332C51.0327 55.9822 50.7006 56.8265 50.6953 57.7036V60.0739C50.6953 61.0169 51.0732 61.9213 51.7459 62.5881C52.4186 63.2549 53.3309 63.6295 54.2823 63.6295H71.0214C71.9727 63.6295 72.8851 63.2549 73.5578 62.5881C74.2304 61.9213 74.6084 61.0169 74.6084 60.0739V57.7036C74.6031 56.8265 74.2709 55.9822 73.6757 55.3332C74.2709 54.6841 74.6031 53.8399 74.6084 52.9628V50.5924C74.6031 49.7153 74.2709 48.8711 73.6757 48.2221C74.2709 47.573 74.6031 46.7288 74.6084 45.8517V43.4813ZM72.2171 60.0739C72.2171 60.3883 72.0911 60.6897 71.8669 60.912C71.6426 61.1342 71.3385 61.2591 71.0214 61.2591H54.2823C53.9652 61.2591 53.661 61.1342 53.4368 60.912C53.2126 60.6897 53.0866 60.3883 53.0866 60.0739V57.7036C53.0866 57.3892 53.2126 57.0878 53.4368 56.8655C53.661 56.6432 53.9652 56.5184 54.2823 56.5184H71.0214C71.3385 56.5184 71.6426 56.6432 71.8669 56.8655C72.0911 57.0878 72.2171 57.3892 72.2171 57.7036V60.0739ZM72.2171 52.9628C72.2171 53.2771 72.0911 53.5786 71.8669 53.8009C71.6426 54.0231 71.3385 54.148 71.0214 54.148H54.2823C53.9652 54.148 53.661 54.0231 53.4368 53.8009C53.2126 53.5786 53.0866 53.2771 53.0866 52.9628V50.5924C53.0866 50.2781 53.2126 49.9767 53.4368 49.7544C53.661 49.5321 53.9652 49.4073 54.2823 49.4073H71.0214C71.3385 49.4073 71.6426 49.5321 71.8669 49.7544C72.0911 49.9767 72.2171 50.2781 72.2171 50.5924V52.9628ZM72.2171 45.8517C72.2171 46.166 72.0911 46.4675 71.8669 46.6898C71.6426 46.912 71.3385 47.0369 71.0214 47.0369H54.2823C53.9652 47.0369 53.661 46.912 53.4368 46.6898C53.2126 46.4675 53.0866 46.166 53.0866 45.8517V43.4813C53.0866 43.167 53.2126 42.8655 53.4368 42.6433C53.661 42.421 53.9652 42.2962 54.2823 42.2962H71.0214C71.3385 42.2962 71.6426 42.421 71.8669 42.6433C72.0911 42.8655 72.2171 43.167 72.2171 43.4813V45.8517ZM66.2388 43.4813C66.0023 43.4813 65.7711 43.5508 65.5745 43.6811C65.3779 43.8113 65.2246 43.9964 65.1342 44.213C65.0437 44.4295 65.02 44.6678 65.0661 44.8977C65.1122 45.1276 65.2261 45.3388 65.3933 45.5046C65.5606 45.6703 65.7736 45.7832 66.0055 45.8289C66.2375 45.8747 66.4779 45.8512 66.6963 45.7615C66.9148 45.6718 67.1016 45.5199 67.2329 45.325C67.3643 45.1301 67.4344 44.9009 67.4344 44.6665C67.4344 44.3522 67.3085 44.0507 67.0842 43.8285C66.86 43.6062 66.5559 43.4813 66.2388 43.4813ZM59.0649 43.4813H55.4779C55.1608 43.4813 54.8567 43.6062 54.6325 43.8285C54.4082 44.0507 54.2823 44.3522 54.2823 44.6665C54.2823 44.9809 54.4082 45.2823 54.6325 45.5046C54.8567 45.7268 55.1608 45.8517 55.4779 45.8517H59.0649C59.382 45.8517 59.6861 45.7268 59.9103 45.5046C60.1346 45.2823 60.2605 44.9809 60.2605 44.6665C60.2605 44.3522 60.1346 44.0507 59.9103 43.8285C59.6861 43.6062 59.382 43.4813 59.0649 43.4813Z" fill="#A358F2"/>
                                <path d="M39.9341 57.7036C39.6976 57.7036 39.4665 57.7731 39.2698 57.9033C39.0732 58.0335 38.92 58.2186 38.8295 58.4352C38.739 58.6518 38.7153 58.8901 38.7614 59.12C38.8076 59.3499 38.9214 59.561 39.0887 59.7268C39.2559 59.8925 39.4689 60.0054 39.7008 60.0512C39.9328 60.0969 40.1732 60.0734 40.3917 59.9837C40.6101 59.894 40.7969 59.7421 40.9283 59.5472C41.0596 59.3523 41.1298 59.1232 41.1298 58.8887C41.1298 58.5744 41.0038 58.273 40.7796 58.0507C40.5553 57.8284 40.2512 57.7036 39.9341 57.7036ZM32.7602 57.7036H29.1732C28.8561 57.7036 28.552 57.8284 28.3278 58.0507C28.1036 58.273 27.9776 58.5744 27.9776 58.8887C27.9776 59.2031 28.1036 59.5045 28.3278 59.7268C28.552 59.9491 28.8561 60.0739 29.1732 60.0739H32.7602C33.0773 60.0739 33.3814 59.9491 33.6056 59.7268C33.8299 59.5045 33.9558 59.2031 33.9558 58.8887C33.9558 58.5744 33.8299 58.273 33.6056 58.0507C33.3814 57.8284 33.0773 57.7036 32.7602 57.7036ZM43.5211 57.7036C43.2846 57.7036 43.0534 57.7731 42.8568 57.9033C42.6602 58.0335 42.5069 58.2186 42.4164 58.4352C42.3259 58.6518 42.3022 58.8901 42.3484 59.12C42.3945 59.3499 42.5084 59.561 42.6756 59.7268C42.8428 59.8925 43.0559 60.0054 43.2878 60.0512C43.5197 60.0969 43.7601 60.0734 43.9786 59.9837C44.1971 59.894 44.3838 59.7421 44.5152 59.5472C44.6466 59.3523 44.7167 59.1232 44.7167 58.8887C44.7167 58.5744 44.5907 58.273 44.3665 58.0507C44.1423 57.8284 43.8382 57.7036 43.5211 57.7036ZM39.9341 50.5924C39.6976 50.5924 39.4665 50.662 39.2698 50.7922C39.0732 50.9224 38.92 51.1075 38.8295 51.3241C38.739 51.5406 38.7153 51.7789 38.7614 52.0089C38.8076 52.2388 38.9214 52.4499 39.0887 52.6157C39.2559 52.7814 39.4689 52.8943 39.7008 52.94C39.9328 52.9858 40.1732 52.9623 40.3917 52.8726C40.6101 52.7829 40.7969 52.631 40.9283 52.4361C41.0596 52.2412 41.1298 52.012 41.1298 51.7776C41.1298 51.4633 41.0038 51.1618 40.7796 50.9396C40.5553 50.7173 40.2512 50.5924 39.9341 50.5924ZM32.7602 50.5924H29.1732C28.8561 50.5924 28.552 50.7173 28.3278 50.9396C28.1036 51.1618 27.9776 51.4633 27.9776 51.7776C27.9776 52.092 28.1036 52.3934 28.3278 52.6157C28.552 52.838 28.8561 52.9628 29.1732 52.9628H32.7602C33.0773 52.9628 33.3814 52.838 33.6056 52.6157C33.8299 52.3934 33.9558 52.092 33.9558 51.7776C33.9558 51.4633 33.8299 51.1618 33.6056 50.9396C33.3814 50.7173 33.0773 50.5924 32.7602 50.5924ZM43.5211 43.4813C43.2846 43.4813 43.0534 43.5508 42.8568 43.6811C42.6602 43.8113 42.5069 43.9964 42.4164 44.213C42.3259 44.4295 42.3022 44.6678 42.3484 44.8977C42.3945 45.1276 42.5084 45.3388 42.6756 45.5046C42.8428 45.6703 43.0559 45.7832 43.2878 45.8289C43.5197 45.8747 43.7601 45.8512 43.9786 45.7615C44.1971 45.6718 44.3838 45.5199 44.5152 45.325C44.6466 45.1301 44.7167 44.9009 44.7167 44.6665C44.7167 44.3522 44.5907 44.0507 44.3665 43.8285C44.1423 43.6062 43.8382 43.4813 43.5211 43.4813ZM43.5211 50.5924C43.2846 50.5924 43.0534 50.662 42.8568 50.7922C42.6602 50.9224 42.5069 51.1075 42.4164 51.3241C42.3259 51.5406 42.3022 51.7789 42.3484 52.0089C42.3945 52.2388 42.5084 52.4499 42.6756 52.6157C42.8428 52.7814 43.0559 52.8943 43.2878 52.94C43.5197 52.9858 43.7601 52.9623 43.9786 52.8726C44.1971 52.7829 44.3838 52.631 44.5152 52.4361C44.6466 52.2412 44.7167 52.012 44.7167 51.7776C44.7167 51.4633 44.5907 51.1618 44.3665 50.9396C44.1423 50.7173 43.8382 50.5924 43.5211 50.5924ZM48.3037 43.4813C48.3037 42.5383 47.9258 41.634 47.2531 40.9672C46.5804 40.3004 45.668 39.9258 44.7167 39.9258H27.9776C27.0263 39.9258 26.1139 40.3004 25.4412 40.9672C24.7685 41.634 24.3906 42.5383 24.3906 43.4813V45.8517C24.3959 46.7288 24.7281 47.573 25.3232 48.2221C24.7281 48.8711 24.3959 49.7153 24.3906 50.5924V52.9628C24.3959 53.8399 24.7281 54.6841 25.3232 55.3332C24.7281 55.9822 24.3959 56.8265 24.3906 57.7036V60.0739C24.3906 61.0169 24.7685 61.9213 25.4412 62.5881C26.1139 63.2549 27.0263 63.6295 27.9776 63.6295H44.7167C45.668 63.6295 46.5804 63.2549 47.2531 62.5881C47.9258 61.9213 48.3037 61.0169 48.3037 60.0739V57.7036C48.2984 56.8265 47.9662 55.9822 47.3711 55.3332C47.9662 54.6841 48.2984 53.8399 48.3037 52.9628V50.5924C48.2984 49.7153 47.9662 48.8711 47.3711 48.2221C47.9662 47.573 48.2984 46.7288 48.3037 45.8517V43.4813ZM45.9124 60.0739C45.9124 60.3883 45.7864 60.6897 45.5622 60.912C45.3379 61.1342 45.0338 61.2591 44.7167 61.2591H27.9776C27.6605 61.2591 27.3564 61.1342 27.1321 60.912C26.9079 60.6897 26.7819 60.3883 26.7819 60.0739V57.7036C26.7819 57.3892 26.9079 57.0878 27.1321 56.8655C27.3564 56.6432 27.6605 56.5184 27.9776 56.5184H44.7167C45.0338 56.5184 45.3379 56.6432 45.5622 56.8655C45.7864 57.0878 45.9124 57.3892 45.9124 57.7036V60.0739ZM45.9124 52.9628C45.9124 53.2771 45.7864 53.5786 45.5622 53.8009C45.3379 54.0231 45.0338 54.148 44.7167 54.148H27.9776C27.6605 54.148 27.3564 54.0231 27.1321 53.8009C26.9079 53.5786 26.7819 53.2771 26.7819 52.9628V50.5924C26.7819 50.2781 26.9079 49.9767 27.1321 49.7544C27.3564 49.5321 27.6605 49.4073 27.9776 49.4073H44.7167C45.0338 49.4073 45.3379 49.5321 45.5622 49.7544C45.7864 49.9767 45.9124 50.2781 45.9124 50.5924V52.9628ZM45.9124 45.8517C45.9124 46.166 45.7864 46.4675 45.5622 46.6898C45.3379 46.912 45.0338 47.0369 44.7167 47.0369H27.9776C27.6605 47.0369 27.3564 46.912 27.1321 46.6898C26.9079 46.4675 26.7819 46.166 26.7819 45.8517V43.4813C26.7819 43.167 26.9079 42.8655 27.1321 42.6433C27.3564 42.421 27.6605 42.2962 27.9776 42.2962H44.7167C45.0338 42.2962 45.3379 42.421 45.5622 42.6433C45.7864 42.8655 45.9124 43.167 45.9124 43.4813V45.8517ZM39.9341 43.4813C39.6976 43.4813 39.4665 43.5508 39.2698 43.6811C39.0732 43.8113 38.92 43.9964 38.8295 44.213C38.739 44.4295 38.7153 44.6678 38.7614 44.8977C38.8076 45.1276 38.9214 45.3388 39.0887 45.5046C39.2559 45.6703 39.4689 45.7832 39.7008 45.8289C39.9328 45.8747 40.1732 45.8512 40.3917 45.7615C40.6101 45.6718 40.7969 45.5199 40.9283 45.325C41.0596 45.1301 41.1298 44.9009 41.1298 44.6665C41.1298 44.3522 41.0038 44.0507 40.7796 43.8285C40.5553 43.6062 40.2512 43.4813 39.9341 43.4813ZM32.7602 43.4813H29.1732C28.8561 43.4813 28.552 43.6062 28.3278 43.8285C28.1036 44.0507 27.9776 44.3522 27.9776 44.6665C27.9776 44.9809 28.1036 45.2823 28.3278 45.5046C28.552 45.7268 28.8561 45.8517 29.1732 45.8517H32.7602C33.0773 45.8517 33.3814 45.7268 33.6056 45.5046C33.8299 45.2823 33.9558 44.9809 33.9558 44.6665C33.9558 44.3522 33.8299 44.0507 33.6056 43.8285C33.3814 43.6062 33.0773 43.4813 32.7602 43.4813Z" fill="#A358F2"/>
                                <path d="M47.5319 34.4243C47.7663 34.1899 47.7663 33.8101 47.5319 33.5757L43.7136 29.7574C43.4793 29.523 43.0994 29.523 42.865 29.7574C42.6307 29.9917 42.6307 30.3716 42.865 30.6059L46.2592 34L42.865 37.3941C42.6307 37.6284 42.6307 38.0083 42.865 38.2426C43.0994 38.477 43.4793 38.477 43.7136 38.2426L47.5319 34.4243ZM25.5859 34.6H47.1077V33.4H25.5859V34.6Z" fill="#A358F2"/>
                                <path d="M51.4681 34.4243C51.2337 34.1899 51.2337 33.8101 51.4681 33.5757L55.2864 29.7574C55.5207 29.523 55.9006 29.523 56.135 29.7574C56.3693 29.9917 56.3693 30.3716 56.135 30.6059L52.7409 34L56.135 37.3941C56.3693 37.6284 56.3693 38.0083 56.135 38.2426C55.9006 38.477 55.5207 38.477 55.2864 38.2426L51.4681 34.4243ZM73.4141 34.6H51.8923V33.4H73.4141V34.6Z" fill="#A358F2"/>
                            </svg>
                        </div>
                        <div style="letter-spacing: 0.5px;" class="text-neutral-400 font-medium text-base mt-10">Failover system</div>
                        <div style="letter-spacing: 0.25px;" class="text-customs-14 text-base leading-8 my-4">Pesan yang gagal terkirim secara otomatis akan dikirimkan ke channel lain yang dimiliki oleh customer. Fitur ini dapat menaikan keberhasilan pengiriman pesan.</div>
                    </div>
                    </div>
                    <div class="flex flex-1 flex-row ml-8">
                    <div class="mr-4">
                        <svg width="2" height="453" viewBox="0 0 2 453" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="-4.37114e-08" x2="1.00001" y2="119" stroke="#E9E9E9" stroke-width="2" stroke-linejoin="round" stroke-dasharray="8 8"/>
                        <line x1="1" y1="179" x2="0.999988" y2="453" stroke="#E9E9E9" stroke-width="2" stroke-linejoin="round" stroke-dasharray="8 8"/>
                        <line x1="1" y1="129" x2="0.999998" y2="168" stroke="#E81255" stroke-width="2" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="flex flex-col flex-1 mx-4">
                        <div class="my-2"> 
                            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="50" cy="50" r="50" fill="#EAF3FF"/>
                            <path d="M61.3327 48.7734V50C61.331 52.8753 60.4 55.6729 58.6785 57.9758C56.9569 60.2787 54.5371 61.9633 51.7798 62.7786C49.0226 63.5938 46.0757 63.4959 43.3786 62.4995C40.6816 61.503 38.3789 59.6615 36.814 57.2494C35.249 54.8374 34.5057 51.9841 34.6949 49.1151C34.8841 46.2461 35.9956 43.5151 37.8637 41.3295C39.7318 39.1438 42.2564 37.6205 45.0609 36.9869C47.8655 36.3532 50.7997 36.6431 53.426 37.8134" stroke="#4DDA89" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M61.3333 39.3334L48 52.68L44 48.68" stroke="#4DDA89" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div style="letter-spacing: 0.5px;" class="text-neutral-400 font-medium text-base mt-10">Verified WhatsApp API</div>
                        <div style="letter-spacing: 0.25px;" class="text-customs-14 text-base leading-8 my-4">Terverifikasi berarti perusahaan Anda adalah asli sehingga tidak ditiru identitasnya. Mendapat tanda centang juga dimaksudkan untuk membantu meningkatkan kepercayaan customer dengan Anda.</div>
                    </div>
                    </div>
                    <div class="flex flex-1 flex-row mx-8">
                    <div class="mr-4">
                        <svg width="2" height="453" viewBox="0 0 2 453" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="-4.37114e-08" x2="1.00001" y2="119" stroke="#E9E9E9" stroke-width="2" stroke-linejoin="round" stroke-dasharray="8 8"/>
                        <line x1="1" y1="179" x2="0.999988" y2="453" stroke="#E9E9E9" stroke-width="2" stroke-linejoin="round" stroke-dasharray="8 8"/>
                        <line x1="1" y1="129" x2="0.999998" y2="168" stroke="#E81255" stroke-width="2" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="flex flex-col flex-1 mx-4">
                        <div class="my-2"> 
                            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="50" cy="50" r="50" fill="#EAF3FF"/>
                            <path d="M57.8696 46.2174V35.7826C57.8696 34.2458 56.6237 33 55.087 33V33H40C38.3431 33 37 34.3431 37 36V62C37 63.6569 38.3431 65 40 65H51.6087" stroke="#5A5959" stroke-width="2" stroke-linejoin="round"/>
                            <circle cx="48.1296" cy="60.8261" r="1.3913" fill="#5A5959"/>
                            <path d="M62.9137 53.3478V51.6087C62.9137 50.4556 62.4556 49.3497 61.6403 48.5343C60.8249 47.7189 59.719 47.2609 58.5659 47.2609C57.4128 47.2609 56.3069 47.7189 55.4915 48.5343C54.6761 49.3497 54.2181 50.4556 54.2181 51.6087V53.3478C53.5262 53.3478 52.8627 53.6227 52.3734 54.1119C51.8842 54.6011 51.6094 55.2646 51.6094 55.9565V62.0435C51.6094 62.7353 51.8842 63.3989 52.3734 63.8881C52.8627 64.3773 53.5262 64.6522 54.2181 64.6522H62.9137C63.6056 64.6522 64.2691 64.3773 64.7583 63.8881C65.2476 63.3989 65.5224 62.7353 65.5224 62.0435V55.9565C65.5224 55.2646 65.2476 54.6011 64.7583 54.1119C64.2691 53.6227 63.6056 53.3478 62.9137 53.3478ZM55.9572 51.6087C55.9572 50.9168 56.232 50.2533 56.7213 49.7641C57.2105 49.2748 57.874 49 58.5659 49C59.2578 49 59.9213 49.2748 60.4105 49.7641C60.8997 50.2533 61.1746 50.9168 61.1746 51.6087V53.3478H55.9572V51.6087ZM63.7833 62.0435C63.7833 62.2741 63.6917 62.4953 63.5286 62.6584C63.3655 62.8214 63.1443 62.913 62.9137 62.913H54.2181C53.9874 62.913 53.7663 62.8214 53.6032 62.6584C53.4401 62.4953 53.3485 62.2741 53.3485 62.0435V55.9565C53.3485 55.7259 53.4401 55.5047 53.6032 55.3416C53.7663 55.1786 53.9874 55.087 54.2181 55.087H62.9137C63.1443 55.087 63.3655 55.1786 63.5286 55.3416C63.6917 55.5047 63.7833 55.7259 63.7833 55.9565V62.0435Z" fill="#5A5959"/>
                            </svg>
                        </div>
                        <div style="letter-spacing: 0.5px;" class="text-neutral-400 font-medium text-base mt-10">Masking Number</div>
                        <div style="letter-spacing: 0.25px;" class="text-customs-14 text-base leading-8 my-4">Untuk menjaga kemanan dan kenyamanan Anda kami menyediakan masking number. Ketika Anda berkomunikasi melalui SMS atau call nomor telepon yang terlihat adalah nomor masking sehingga nomor yang asli akan dirahasiakan.</div>
                    </div>
                    </div>
                </div>
                </transition-group>
                <div @click="nextSlide" class="self-center cursor-pointer">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="20" cy="20" r="20" fill="#F4F5F7"/>
                    <path d="M12.2207 20H27.7763" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20 12.2222L27.7778 19.9999L20 27.7777" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="flex flex-col lg:hidden">
                <div class="flex flex-col py-4 my-2 mt-4 mx-5 relative rounded-md bg-white border border-neutral-40">
                    <div class="absolute right-0 top-0">
                        <svg width="138" height="127" viewBox="0 0 138 127" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.05" clip-path="url(#clip0)">
                            <path d="M94.2929 12.8235L27.6289 26.1961C22.3693 27.2511 18.9608 32.3702 20.0158 37.6299L33.3884 104.294C34.4434 109.553 39.5625 112.962 44.8222 111.907L111.486 98.5344C116.746 97.4793 120.154 92.3602 119.099 87.1006L105.727 20.4366C104.672 15.177 99.5525 11.7685 94.2929 12.8235Z" stroke="#0F51A9" stroke-width="9.63685" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M78.0977 6.16504L81.9184 25.2119" stroke="#0F51A9" stroke-width="9.63685" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M40.0039 13.8066L43.8246 32.8535" stroke="#0F51A9" stroke-width="9.63685" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M23.8379 56.6768L109.549 39.4835" stroke="#0F51A9" stroke-width="9.03454" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                            <rect width="116.558" height="116.558" fill="white" transform="translate(0 11.9248) rotate(-11.3428)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="text-neutral-500 font-semibold text-base mx-4">Scheduler</div>
                    <div class="text-neutral-300 text-base mx-4 mt-4">Jadwalkan kapan Anda ingin <br/> mengirimkan memulai melakukan <br/> penyebaran pesan sesuai kebutuhan <br/> bisnis Anda.</div>
                </div>
                <div class="flex flex-col py-4 my-2 mx-5 relative rounded-md bg-white border border-neutral-40">
                    <div class="absolute right-0 top-0">
                        <svg width="141" height="137" viewBox="0 0 141 137" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.05">
                            <path d="M49.8231 67.3996L39.7025 31.6465C38.1819 26.2747 41.304 20.6872 46.6758 19.1666L73.9015 11.4599L89.5351 7.03454L101.127 3.75321C106.499 2.23261 112.086 5.35467 113.607 10.7265L137.469 95.0239C138.989 100.396 135.867 105.983 130.496 107.504L69.1602 124.866V124.866C67.5903 125.31 65.9574 124.398 65.5131 122.828L63.5015 115.722" stroke="#96002F" stroke-width="5.5" stroke-linejoin="round"/>
                            <g clip-path="url(#clip0)">
                            <path d="M20.3626 82.6178C20.2546 82.2443 20.2213 81.8532 20.2647 81.4669C20.3082 81.0805 20.4274 80.7065 20.6157 80.3663L29.2562 64.9026C29.4473 64.564 29.7033 64.2664 30.0095 64.0269C30.3158 63.7874 30.6663 63.6108 31.0411 63.507C31.4145 63.399 31.8057 63.3657 32.192 63.4091C32.5784 63.4526 32.9524 63.5718 33.2926 63.7601L43.6138 69.5272L83.4766 91.8011C83.8152 91.9921 84.1128 92.2481 84.3523 92.5544C84.5918 92.8607 84.7685 93.2112 84.8722 93.5859L88.2838 105.638C88.4971 106.392 88.4023 107.2 88.0202 107.884C87.638 108.568 86.9998 109.072 86.2459 109.285L74.1938 112.697C73.8022 112.831 73.3867 112.881 72.9743 112.845C72.562 112.808 72.1619 112.685 71.8001 112.484L32.1079 90.1618L21.7985 84.5448C21.461 84.3427 21.1599 84.0855 20.9076 83.7838C20.8161 83.5649 20.7512 83.3359 20.7145 83.1016C20.6637 82.973 20.626 82.8397 20.6018 82.7036L20.3626 82.6178ZM73.75 106.682L81.7942 104.405L79.5171 96.3606L43.3015 76.1246L37.5343 86.4459L73.75 106.682ZM32.3919 83.5725L38.159 73.2512L32.9882 70.3858L27.2414 80.6707L32.3919 83.5725Z" fill="#96002F"/>
                            </g>
                            <g clip-path="url(#clip1)">
                            <path d="M77.3885 23.7779C73.7151 24.8253 70.4256 26.9183 67.9205 29.802C65.4155 32.6857 63.8032 36.2356 63.2798 40.0194C62.7565 43.8031 63.3448 47.6574 64.9731 51.1128C66.6014 54.5681 69.1993 57.4754 72.4506 59.4805C74.7696 60.9017 77.3578 61.8272 80.0521 62.1986C82.7465 62.57 85.4886 62.3793 88.1056 61.6385C90.7226 60.8977 93.1578 59.6229 95.2578 57.8943C97.3577 56.1658 99.0768 54.0211 100.307 51.5953C102.025 48.1836 102.713 44.346 102.289 40.5498C101.865 36.7537 100.346 33.1629 97.9166 30.2148C95.4877 27.2667 92.2539 25.0886 88.6091 23.9457C84.9643 22.8028 81.0658 22.7445 77.3885 23.7779ZM87.0439 57.8877C83.1166 58.9929 78.9138 58.5317 75.3198 56.601C75.5861 54.2732 76.5384 52.0771 78.0558 50.2917C79.5731 48.5064 81.5869 47.2124 83.8414 46.5742C86.0958 45.9361 88.4891 45.9825 90.7171 46.7077C92.9451 47.4329 94.9072 48.804 96.3541 50.6469C94.3052 54.1749 90.9677 56.7705 87.0439 57.8877ZM77.8898 40.0106C77.6776 39.261 77.6925 38.4654 77.9325 37.7242C78.1725 36.9831 78.6269 36.3298 79.2382 35.8469C79.8496 35.364 80.5904 35.0732 81.3669 35.0114C82.1435 34.9495 82.921 35.1193 83.6011 35.4993C84.2812 35.8793 84.8333 36.4524 85.1876 37.1462C85.542 37.84 85.6826 38.6233 85.5918 39.397C85.501 40.1707 85.1828 40.9002 84.6774 41.493C84.172 42.0859 83.5022 42.5156 82.7526 42.7278C81.7474 43.0123 80.6704 42.8859 79.7584 42.3763C78.8465 41.8668 78.1743 41.0158 77.8898 40.0106ZM97.9926 46.6011C95.4797 44.1844 92.2362 42.6694 88.7701 42.2934C89.4253 40.9263 89.6721 39.3991 89.4808 37.8951C89.2895 36.3912 88.6683 34.9744 87.6918 33.8147C86.7153 32.6551 85.4249 31.8018 83.9754 31.3574C82.526 30.9129 80.9791 30.8961 79.5203 31.3091C78.0616 31.722 76.753 32.5471 75.7515 33.6853C74.7501 34.8235 74.0983 36.2265 73.8745 37.726C73.6507 39.2254 73.8643 40.7576 74.4897 42.1386C75.115 43.5197 76.1256 44.691 77.4002 45.5119C74.6454 47.6488 72.6772 50.6391 71.8039 54.0143C69.8039 52.0979 68.3504 49.6834 67.5927 47.0191C66.4546 42.9984 66.9603 38.6903 68.9985 35.0425C71.0368 31.3947 74.4406 28.706 78.4613 27.5679C82.482 26.4298 86.7901 26.9355 90.4379 28.9737C94.0857 31.012 96.7744 34.4159 97.9125 38.4365C98.6637 41.1027 98.6913 43.9208 97.9926 46.6011Z" fill="#96002F"/>
                            </g>
                            <line x1="82.5549" y1="73.0539" x2="115.865" y2="63.6248" stroke="#96002F" stroke-width="6.73919" stroke-linecap="round"/>
                            <line x1="96.717" y1="90.5373" x2="121.5" y2="83.5221" stroke="#96002F" stroke-width="6.73919" stroke-linecap="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                            <rect width="70.9" height="70.9" fill="white" transform="matrix(-0.962194 0.272366 0.272366 0.962194 77.0703 44.3359)"/>
                            </clipPath>
                            <clipPath id="clip1">
                            <rect width="47.2667" height="47.2667" fill="white" transform="translate(53.5781 26.4238) rotate(-15.8051)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="text-neutral-500 font-semibold text-base mx-4">Content Builder</div>
                    <div class="text-neutral-300 text-base mx-4 mt-4">Konten bisa dipersonalisasi seperti <br/> memanggil nama customer, memasukan <br/> file, gambar, video, dan location.</div>
                </div>
                <div class="flex flex-col py-4 my-2 mx-5 relative rounded-md bg-white border border-neutral-40">
                    <div class="absolute right-0 top-0">
                        <svg width="127" height="135" viewBox="0 0 127 135" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.05">
                            <g clip-path="url(#clip0)">
                            <path d="M40.8105 70.4228C41.5471 70.2226 42.1813 69.7646 42.5735 69.1494C42.9657 68.5343 43.0838 67.8125 42.9018 67.1428C42.888 67.0564 42.8651 66.9718 42.8332 66.8903L46.7231 60.7895L47.149 60.6737L47.5749 60.558L51.2928 62.458C51.2928 62.458 51.3157 62.5422 51.3294 62.5927C51.5114 63.2624 51.9786 63.8251 52.6282 64.1571C53.2779 64.4891 54.0567 64.5631 54.7933 64.3629C55.53 64.1627 56.1642 63.7047 56.5564 63.0895C56.9486 62.4744 57.0667 61.7526 56.8847 61.0829L56.8481 60.9482L61.9094 52.9383C62.4587 52.789 62.9555 52.4949 63.3369 52.0933C63.7183 51.6917 63.9671 51.2006 64.0519 50.682C64.1368 50.1635 64.0538 49.6408 63.8135 49.1801C63.5732 48.7194 63.1864 48.3414 62.7019 48.0938C62.2175 47.8463 61.6572 47.7403 61.0919 47.7893C60.5266 47.8383 59.9817 48.0401 59.5261 48.3691C59.0705 48.6982 58.7247 49.1397 58.5323 49.6379C58.34 50.1361 58.3098 50.6686 58.4455 51.168C58.4593 51.2545 58.4823 51.339 58.5141 51.4206L53.4809 59.3144L53.1846 59.395L49.1759 57.3028C48.9939 56.6331 48.5267 56.0704 47.8771 55.7384C47.2275 55.4064 46.4487 55.3324 45.712 55.5326C44.9753 55.7328 44.3411 56.1908 43.9489 56.806C43.5567 57.4211 43.4386 58.1429 43.6207 58.8126L39.4379 65.3726C38.7013 65.5728 38.0671 66.0309 37.6749 66.646C37.2827 67.2611 37.1646 67.9829 37.3466 68.6526C37.5286 69.3223 37.9958 69.885 38.6454 70.217C39.295 70.549 40.0738 70.623 40.8105 70.4228ZM67.6391 70.3624L36.1594 78.9179L28.3817 50.2999C28.2604 49.8535 27.9489 49.4783 27.5158 49.257C27.0828 49.0357 26.5636 48.9863 26.0725 49.1198C25.5813 49.2533 25.1585 49.5586 24.8971 49.9687C24.6356 50.3788 24.5569 50.86 24.6782 51.3065L32.9134 81.6078C33.0347 82.0543 33.3462 82.4294 33.7793 82.6507C34.2124 82.8721 34.7316 82.9214 35.2227 82.7879L68.5541 73.7292C69.0453 73.5958 69.4681 73.2904 69.7295 72.8803C69.991 72.4702 70.0697 71.989 69.9484 71.5426C69.827 71.0961 69.5156 70.7209 69.0825 70.4996C68.6494 70.2783 68.1302 70.2289 67.6391 70.3624Z" fill="#2F80ED"/>
                            </g>
                            <line x1="34.1596" y1="89.8267" x2="99.951" y2="71.9461" stroke="#2F80ED" stroke-width="3.87272" stroke-linecap="round" stroke-linejoin="round"/>
                            <line x1="76.2201" y1="52.2642" x2="93.3415" y2="47.611" stroke="#2F80ED" stroke-width="3.87272" stroke-linecap="round" stroke-linejoin="round"/>
                            <line x1="73.3842" y1="41.8355" x2="90.5056" y2="37.1823" stroke="#2F80ED" stroke-width="3.87272" stroke-linecap="round" stroke-linejoin="round"/>
                            <line x1="80.0014" y1="66.1724" x2="97.1228" y2="61.5192" stroke="#2F80ED" stroke-width="3.87272" stroke-linecap="round" stroke-linejoin="round"/>
                            <line x1="37.8459" y1="103.899" x2="103.898" y2="85.9473" stroke="#2F80ED" stroke-width="3.60253" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M82.7919 15.1531L86.2683 14.2083C93.9483 12.1211 101.866 16.6549 103.953 24.3348L122.85 93.8634C124.937 101.543 120.403 109.461 112.723 111.548L43.1945 130.445C35.5146 132.532 27.5967 127.998 25.5095 120.318L6.61324 50.7895C4.52602 43.1096 9.05979 35.1918 16.7397 33.1045L21.9544 31.6873" stroke="#2F80ED" stroke-width="6.87757"/>
                            <rect x="20.7571" y="23.6627" width="59.3436" height="12.5106" rx="4.45404" transform="rotate(-15.2044 20.7571 23.6627)" stroke="#2F80ED" stroke-width="5.50205"/>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                            <rect width="46.054" height="41.8673" fill="white" transform="translate(20.5215 47.0107) rotate(-15.2044)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="text-neutral-500 font-semibold text-base mx-4">Reporting</div>
                    <div class="text-neutral-300 text-base mx-4 mt-4">Amati tingkat keberhasilan setiap pesan <br/> yang Anda blast dengan fitur Report. <br/> .</div>
                </div>
                <div class="flex flex-col py-4 my-2 mx-5 relative rounded-md bg-white border border-neutral-40">
                    <div class="absolute right-0 top-0">
                        <svg width="167" height="140" viewBox="0 0 167 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.05">
                            <g clip-path="url(#clip0)">
                            <path d="M131.386 67.6722C130.838 67.9519 130.384 68.3865 130.083 68.921C129.781 69.4554 129.645 70.0658 129.691 70.6748C129.737 71.2839 129.965 71.8643 130.343 72.3426C130.722 72.8209 131.236 73.1757 131.82 73.3621C132.403 73.5485 133.031 73.5581 133.623 73.3898C134.214 73.2214 134.744 72.8826 135.144 72.4162C135.544 71.9498 135.797 71.3768 135.871 70.7696C135.945 70.1624 135.837 69.5483 135.56 69.005C135.188 68.2764 134.539 67.7266 133.756 67.4767C132.974 67.2267 132.121 67.297 131.386 67.6722ZM114.757 76.1588L106.443 80.402C105.708 80.7772 105.151 81.4264 104.894 82.2068C104.637 82.9873 104.702 83.8351 105.073 84.5637C105.445 85.2923 106.094 85.842 106.876 86.092C107.659 86.3419 108.512 86.2716 109.247 85.8965L117.561 81.6532C118.296 81.2781 118.854 80.6288 119.11 79.8484C119.367 79.0679 119.303 78.2201 118.931 77.4915C118.559 76.7629 117.91 76.2132 117.128 75.9632C116.345 75.7133 115.492 75.7836 114.757 76.1588ZM139.7 63.4289C139.152 63.7086 138.699 64.1432 138.397 64.6777C138.095 65.2122 137.959 65.8225 138.005 66.4316C138.052 67.0406 138.279 67.621 138.658 68.0993C139.037 68.5776 139.551 68.9324 140.134 69.1188C140.718 69.3052 141.345 69.3148 141.937 69.1465C142.529 68.9781 143.058 68.6393 143.458 68.1729C143.859 67.7065 144.112 67.1335 144.186 66.5263C144.26 65.9191 144.151 65.305 143.874 64.7617C143.502 64.0331 142.854 63.4833 142.071 63.2334C141.288 62.9834 140.436 63.0538 139.7 63.4289ZM122.974 51.1889C122.426 51.4686 121.972 51.9032 121.67 52.4377C121.369 52.9722 121.232 53.5825 121.279 54.1916C121.325 54.8006 121.552 55.381 121.931 55.8593C122.31 56.3377 122.824 56.6924 123.408 56.8788C123.991 57.0652 124.619 57.0748 125.21 56.9065C125.802 56.7381 126.331 56.3993 126.732 55.9329C127.132 55.4665 127.385 54.8935 127.459 54.2863C127.533 53.6791 127.425 53.065 127.147 52.5217C126.775 51.7931 126.127 51.2433 125.344 50.9934C124.561 50.7434 123.709 50.8138 122.974 51.1889ZM106.345 59.6755L98.0305 63.9188C97.2955 64.2939 96.7382 64.9431 96.4814 65.7236C96.2246 66.504 96.2892 67.3518 96.6611 68.0804C97.0329 68.809 97.6815 69.3588 98.4642 69.6087C99.2469 69.8586 100.1 69.7883 100.835 69.4132L109.149 65.1699C109.884 64.7948 110.441 64.1456 110.698 63.3651C110.955 62.5846 110.89 61.7369 110.518 61.0083C110.147 60.2797 109.498 59.7299 108.715 59.48C107.933 59.23 107.08 59.3003 106.345 59.6755ZM122.876 30.4623C122.328 30.7421 121.874 31.1767 121.572 31.7111C121.271 32.2456 121.135 32.856 121.181 33.465C121.227 34.074 121.454 34.6544 121.833 35.1327C122.212 35.6111 122.726 35.9659 123.31 36.1523C123.893 36.3387 124.521 36.3483 125.112 36.1799C125.704 36.0115 126.234 35.6727 126.634 35.2064C127.034 34.74 127.287 34.167 127.361 33.5598C127.435 32.9526 127.327 32.3385 127.049 31.7951C126.678 31.0665 126.029 30.5168 125.246 30.2668C124.464 30.0169 123.611 30.0872 122.876 30.4623ZM131.288 46.9456C130.74 47.2254 130.286 47.6599 129.985 48.1944C129.683 48.7289 129.547 49.3392 129.593 49.9483C129.64 50.5573 129.867 51.1377 130.246 51.616C130.624 52.0944 131.138 52.4492 131.722 52.6355C132.306 52.8219 132.933 52.8316 133.525 52.6632C134.116 52.4948 134.646 52.156 135.046 51.6896C135.446 51.2233 135.7 50.6502 135.774 50.043C135.848 49.4358 135.739 48.8217 135.462 48.2784C135.09 47.5498 134.441 47 133.659 46.7501C132.876 46.5002 132.023 46.5705 131.288 46.9456ZM133.962 24.8046C132.846 22.6188 130.9 20.9696 128.552 20.2197C126.204 19.4699 123.646 19.6809 121.441 20.8063L82.6406 40.6083C80.4355 41.7337 78.7638 43.6813 77.9934 46.0227C77.2229 48.364 77.4168 50.9074 78.5323 53.0932L81.3364 58.5876C82.3862 60.6145 84.1548 62.1784 86.3023 62.9788C85.6905 65.1874 85.9192 67.5372 86.9446 69.5765L89.7487 75.0709C90.7985 77.0978 92.5671 78.6617 94.7145 79.4621C94.1027 81.6706 94.3315 84.0204 95.3569 86.0598L98.161 91.5542C99.2765 93.74 101.222 95.3892 103.57 96.1391C105.918 96.8889 108.476 96.6779 110.682 95.5525L149.482 75.7505C151.687 74.6251 153.359 72.6775 154.129 70.3361C154.9 67.9948 154.706 65.4514 153.59 63.2656L150.786 57.7712C149.737 55.7443 147.968 54.1804 145.821 53.38C146.432 51.1714 146.204 48.8216 145.178 46.7823L142.374 41.2879C141.324 39.261 139.556 37.6971 137.408 36.8967C138.02 34.6882 137.791 32.3384 136.766 30.299L133.962 24.8046ZM148.048 66.0945C148.419 66.8231 148.484 67.6708 148.227 68.4513C147.97 69.2318 147.413 69.881 146.678 70.2561L107.877 90.0581C107.142 90.4332 106.29 90.5036 105.507 90.2536C104.724 90.0037 104.076 89.4539 103.704 88.7253L100.9 83.2309C100.528 82.5023 100.463 81.6545 100.72 80.874C100.977 80.0936 101.534 79.4444 102.269 79.0693L141.07 59.2672C141.805 58.8921 142.658 58.8218 143.44 59.0717C144.223 59.3217 144.872 59.8714 145.243 60.6L148.048 66.0945ZM139.635 49.6112C140.007 50.3398 140.072 51.1876 139.815 51.968C139.558 52.7485 139.001 53.3977 138.266 53.7728L99.4652 73.5748C98.7301 73.95 97.8775 74.0203 97.0948 73.7703C96.3121 73.5204 95.6635 72.9707 95.2916 72.242L92.4875 66.7476C92.1157 66.019 92.0511 65.1712 92.3079 64.3908C92.5647 63.6103 93.1219 62.9611 93.857 62.586L132.658 42.784C133.393 42.4088 134.245 42.3385 135.028 42.5885C135.811 42.8384 136.459 43.3881 136.831 44.1168L139.635 49.6112ZM131.223 33.1279C131.595 33.8565 131.659 34.7043 131.403 35.4847C131.146 36.2652 130.589 36.9144 129.854 37.2895L91.0529 57.0916C90.3178 57.4667 89.4652 57.537 88.6825 57.2871C87.8998 57.0371 87.2512 56.4874 86.8794 55.7588L84.0753 50.2643C83.7034 49.5357 83.6388 48.688 83.8956 47.9075C84.1524 47.127 84.7097 46.4778 85.4447 46.1027L124.245 26.3007C124.98 25.9256 125.833 25.8552 126.616 26.1052C127.398 26.3551 128.047 26.9049 128.419 27.6335L131.223 33.1279ZM114.562 34.7056C114.013 34.9854 113.56 35.42 113.258 35.9544C112.956 36.4889 112.82 37.0992 112.867 37.7083C112.913 38.3173 113.14 38.8977 113.519 39.376C113.898 39.8544 114.412 40.2092 114.995 40.3956C115.579 40.5819 116.206 40.5916 116.798 40.4232C117.39 40.2548 117.919 39.916 118.319 39.4496C118.72 38.9833 118.973 38.4102 119.047 37.803C119.121 37.1959 119.012 36.5817 118.735 36.0384C118.363 35.3098 117.715 34.7601 116.932 34.5101C116.149 34.2602 115.297 34.3305 114.562 34.7056ZM97.9326 43.1922L89.6182 47.4355C88.8832 47.8106 88.326 48.4598 88.0691 49.2403C87.8123 50.0207 87.8769 50.8685 88.2488 51.5971C88.6206 52.3257 89.2692 52.8755 90.0519 53.1254C90.8346 53.3754 91.6873 53.305 92.4223 52.9299L100.737 48.6866C101.472 48.3115 102.029 47.6623 102.286 46.8818C102.543 46.1014 102.478 45.2536 102.106 44.525C101.734 43.7964 101.086 43.2466 100.303 42.9967C99.5203 42.7467 98.6677 42.8171 97.9326 43.1922Z" fill="#A358F2"/>
                            </g>
                            <g clip-path="url(#clip1)">
                            <path d="M70.4056 98.7884C69.8574 99.0681 69.4038 99.5027 69.1021 100.037C68.8004 100.572 68.6642 101.182 68.7106 101.791C68.757 102.4 68.984 102.98 69.3629 103.459C69.7419 103.937 70.2556 104.292 70.8393 104.478C71.423 104.665 72.0503 104.674 72.6421 104.506C73.2338 104.338 73.7633 103.999 74.1636 103.532C74.5639 103.066 74.817 102.493 74.891 101.886C74.9649 101.279 74.8564 100.665 74.5791 100.121C74.2073 99.3926 73.5587 98.8428 72.776 98.5929C71.9933 98.3429 71.1406 98.4133 70.4056 98.7884ZM53.7767 107.275L45.4623 111.518C44.7273 111.893 44.17 112.543 43.9132 113.323C43.6564 114.104 43.721 114.951 44.0929 115.68C44.4647 116.409 45.1133 116.958 45.896 117.208C46.6787 117.458 47.5314 117.388 48.2664 117.013L56.5808 112.769C57.3159 112.394 57.8731 111.745 58.1299 110.965C58.3867 110.184 58.3221 109.336 57.9503 108.608C57.5784 107.879 56.9298 107.329 56.1471 107.079C55.3644 106.83 54.5118 106.9 53.7767 107.275ZM78.72 94.5451C78.1719 94.8249 77.7183 95.2594 77.4166 95.7939C77.1148 96.3284 76.9786 96.9387 77.025 97.5478C77.0714 98.1568 77.2985 98.7372 77.6774 99.2155C78.0563 99.6939 78.5701 100.049 79.1537 100.235C79.7374 100.421 80.3648 100.431 80.9565 100.263C81.5482 100.094 82.0777 99.7555 82.478 99.2891C82.8783 98.8228 83.1314 98.2497 83.2054 97.6425C83.2794 97.0353 83.1708 96.4212 82.8935 95.8779C82.5217 95.1493 81.8731 94.5995 81.0904 94.3496C80.3077 94.0996 79.4551 94.17 78.72 94.5451ZM61.9933 82.3051C61.4452 82.5849 60.9916 83.0194 60.6899 83.5539C60.3881 84.0884 60.2519 84.6987 60.2983 85.3078C60.3447 85.9168 60.5718 86.4972 60.9507 86.9755C61.3296 87.4539 61.8433 87.8087 62.427 87.9951C63.0107 88.1814 63.6381 88.1911 64.2298 88.0227C64.8215 87.8543 65.351 87.5155 65.7513 87.0491C66.1516 86.5828 66.4047 86.0097 66.4787 85.4025C66.5527 84.7953 66.4441 84.1812 66.1668 83.6379C65.795 82.9093 65.1464 82.3595 64.3637 82.1096C63.581 81.8597 62.7284 81.93 61.9933 82.3051ZM45.3645 90.7917L37.05 95.035C36.315 95.4101 35.7578 96.0593 35.5009 96.8398C35.2441 97.6202 35.3088 98.468 35.6806 99.1966C36.0524 99.9252 36.7011 100.475 37.4837 100.725C38.2664 100.975 39.1191 100.905 39.8541 100.529L48.1685 96.2861C48.9036 95.911 49.4608 95.2618 49.7176 94.4813C49.9744 93.7009 49.9098 92.8531 49.538 92.1245C49.1661 91.3959 48.5175 90.8461 47.7348 90.5962C46.9521 90.3462 46.0995 90.4166 45.3645 90.7917ZM61.8955 61.5785C61.3473 61.8583 60.8937 62.2929 60.592 62.8273C60.2903 63.3618 60.154 63.9722 60.2005 64.5812C60.2469 65.1903 60.4739 65.7706 60.8528 66.249C61.2317 66.7273 61.7455 67.0821 62.3292 67.2685C62.9128 67.4549 63.5402 67.4645 64.1319 67.2961C64.7236 67.1278 65.2531 66.789 65.6534 66.3226C66.0537 65.8562 66.3069 65.2832 66.3808 64.676C66.4548 64.0688 66.3463 63.4547 66.069 62.9113C65.6971 62.1827 65.0485 61.633 64.2658 61.383C63.4832 61.1331 62.6305 61.2034 61.8955 61.5785ZM70.3077 78.0618C69.7596 78.3416 69.306 78.7762 69.0043 79.3106C68.7026 79.8451 68.5663 80.4554 68.6127 81.0645C68.6592 81.6735 68.8862 82.2539 69.2651 82.7322C69.644 83.2106 70.1578 83.5654 70.7415 83.7518C71.3251 83.9382 71.9525 83.9478 72.5442 83.7794C73.1359 83.611 73.6654 83.2722 74.0657 82.8059C74.466 82.3395 74.7192 81.7664 74.7931 81.1593C74.8671 80.5521 74.7586 79.938 74.4813 79.3946C74.1094 78.666 73.4608 78.1163 72.6781 77.8663C71.8954 77.6164 71.0428 77.6867 70.3077 78.0618ZM72.9814 55.9208C71.8658 53.735 69.92 52.0858 67.5719 51.3359C65.2239 50.5861 62.6659 50.7971 60.4608 51.9225L21.6601 71.7245C19.455 72.8499 17.7833 74.7975 17.0129 77.1389C16.2424 79.4802 16.4363 82.0236 17.5518 84.2094L20.3559 89.7038C21.4058 91.7307 23.1744 93.2946 25.3218 94.095C24.71 96.3036 24.9388 98.6534 25.9641 100.693L28.7682 106.187C29.818 108.214 31.5866 109.778 33.7341 110.578C33.1223 112.787 33.351 115.137 34.3764 117.176L37.1805 122.67C38.296 124.856 40.2419 126.505 42.5899 127.255C44.938 128.005 47.4959 127.794 49.7011 126.669L88.5017 106.867C90.7069 105.741 92.3785 103.794 93.149 101.452C93.9194 99.111 93.7256 96.5676 92.61 94.3818L89.8059 88.8874C88.7561 86.8605 86.9875 85.2966 84.8401 84.4962C85.4519 82.2877 85.2231 79.9379 84.1977 77.8985L81.3936 72.4041C80.3438 70.3773 78.5752 68.8133 76.4278 68.0129C77.0396 65.8044 76.8108 63.4546 75.7855 61.4153L72.9814 55.9208ZM87.0671 97.2107C87.4389 97.9393 87.5035 98.7871 87.2467 99.5675C86.9899 100.348 86.4327 100.997 85.6976 101.372L46.897 121.174C46.1619 121.549 45.3093 121.62 44.5266 121.37C43.7439 121.12 43.0953 120.57 42.7234 119.842L39.9194 114.347C39.5475 113.619 39.4829 112.771 39.7397 111.99C39.9965 111.21 40.5537 110.561 41.2888 110.185L80.0895 90.3835C80.8245 90.0083 81.6771 89.938 82.4598 90.1879C83.2425 90.4379 83.8911 90.9876 84.263 91.7162L87.0671 97.2107ZM78.6548 80.7274C79.0266 81.456 79.0913 82.3038 78.8344 83.0842C78.5776 83.8647 78.0204 84.5139 77.2854 84.889L38.4847 104.691C37.7497 105.066 36.897 105.137 36.1143 104.887C35.3316 104.637 34.683 104.087 34.3112 103.358L31.5071 97.8638C31.1352 97.1352 31.0706 96.2874 31.3274 95.507C31.5842 94.7265 32.1415 94.0773 32.8765 93.7022L71.6772 73.9002C72.4122 73.5251 73.2649 73.4547 74.0476 73.7047C74.8302 73.9546 75.4788 74.5044 75.8507 75.233L78.6548 80.7274ZM70.2425 64.2441C70.6144 64.9727 70.679 65.8205 70.4222 66.601C70.1653 67.3814 69.6081 68.0306 68.8731 68.4058L30.0724 88.2078C29.3374 88.5829 28.4847 88.6532 27.702 88.4033C26.9193 88.1533 26.2707 87.6036 25.8989 86.875L23.0948 81.3806C22.7229 80.6519 22.6583 79.8042 22.9151 79.0237C23.172 78.2432 23.7292 77.594 24.4642 77.2189L63.2649 57.4169C63.9999 57.0418 64.8526 56.9714 65.6353 57.2214C66.418 57.4713 67.0666 58.0211 67.4384 58.7497L70.2425 64.2441ZM53.581 65.8218C53.0329 66.1016 52.5793 66.5362 52.2776 67.0706C51.9759 67.6051 51.8396 68.2155 51.886 68.8245C51.9325 69.4335 52.1595 70.0139 52.5384 70.4923C52.9173 70.9706 53.4311 71.3254 54.0147 71.5118C54.5984 71.6982 55.2258 71.7078 55.8175 71.5394C56.4092 71.371 56.9387 71.0322 57.339 70.5659C57.7393 70.0995 57.9924 69.5265 58.0664 68.9193C58.1404 68.3121 58.0319 67.698 57.7546 67.1546C57.3827 66.426 56.7341 65.8763 55.9514 65.6263C55.1687 65.3764 54.3161 65.4467 53.581 65.8218ZM36.9522 74.3084L28.6377 78.5517C27.9027 78.9268 27.3455 79.576 27.0887 80.3565C26.8319 81.1369 26.8965 81.9847 27.2683 82.7133C27.6402 83.4419 28.2888 83.9917 29.0715 84.2416C29.8541 84.4916 30.7068 84.4213 31.4418 84.0461L39.7563 79.8028C40.4913 79.4277 41.0485 78.7785 41.3053 77.998C41.5622 77.2176 41.4975 76.3698 41.1257 75.6412C40.7539 74.9126 40.1052 74.3628 39.3226 74.1129C38.5399 73.863 37.6872 73.9333 36.9522 74.3084Z" fill="#A358F2"/>
                            </g>
                            <path d="M61.4538 36.1558C61.8935 34.7994 61.1504 33.3434 59.7941 32.9037L37.6911 25.738C36.3347 25.2983 34.8787 26.0414 34.439 27.3978C33.9993 28.7541 34.7423 30.2101 36.0987 30.6498L55.7458 37.0193L49.3763 56.6664C48.9366 58.0228 49.6797 59.4788 51.036 59.9185C52.3924 60.3582 53.8484 59.6152 54.2881 58.2588L61.4538 36.1558ZM10.2849 63.1189L60.1715 37.6592L57.8243 33.06L7.93774 58.5198L10.2849 63.1189Z" fill="#A358F2"/>
                            <path d="M69.286 32.1588C67.9296 31.7191 67.1866 30.2631 67.6263 28.9067L74.7919 6.8037C75.2317 5.44735 76.6877 4.70427 78.044 5.14399C79.4004 5.58371 80.1435 7.03972 79.7037 8.39607L73.3342 28.0432L92.9814 34.4127C94.3377 34.8524 95.0808 36.3084 94.6411 37.6648C94.2014 39.0211 92.7453 39.7642 91.389 39.3245L69.286 32.1588ZM121.142 6.54273L71.2558 32.0025L68.9086 27.4033L118.795 1.9436L121.142 6.54273Z" fill="#A358F2"/>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                            <rect width="74.677" height="74.0232" fill="white" transform="translate(65.9805 42.1875) rotate(-27.0376)"/>
                            </clipPath>
                            <clipPath id="clip1">
                            <rect width="74.677" height="74.0232" fill="white" transform="translate(5 73.3037) rotate(-27.0376)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="text-neutral-500 font-semibold text-base mx-4">Failover system</div>
                    <div class="text-neutral-300 text-base mx-4 mt-4">Pesan yang gagal terkirim secara <br/> otomatis akan dikirimkan ke channel lain <br/> yang dimiliki oleh customer.</div>
                </div>
                <div class="flex flex-col py-4 my-2 mx-5 relative rounded-md bg-white border border-neutral-40">
                    <div class="absolute right-0 top-0">
                        <svg width="138" height="138" viewBox="0 0 138 138" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.05" clip-path="url(#clip0)">
                            <path d="M115.718 54.7931L116.594 59.1847C118.639 69.4794 117.303 80.1596 112.782 89.6324C108.262 99.1053 100.801 106.863 91.5119 111.749C82.2225 116.635 71.6025 118.388 61.2359 116.745C50.8692 115.102 41.3113 110.152 33.9877 102.634C26.664 95.115 21.9669 85.4303 20.597 75.0241C19.2271 64.6179 21.2577 54.0476 26.3861 44.8898C31.5144 35.7319 39.4657 28.4772 49.054 24.2075C58.6423 19.9378 69.3539 18.8819 79.5913 21.1973" stroke="#4DDA89" stroke-width="12.0717" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M108.982 20.9969L70.7716 78.2931L53.5971 66.827" stroke="#4DDA89" stroke-width="12.0717" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                            <rect width="116.816" height="116.816" fill="white" transform="translate(0.162109 22.834) rotate(-11.2721)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="text-neutral-500 font-semibold text-base mx-4">Verifed Whatsapp API</div>
                    <div class="text-neutral-300 text-base mx-4 mt-4">Terverifikasi berarti perusahaan Anda <br/> adalah asli sehingga tidak ditiru <br/> identitasnya.</div>
                </div>
                <div class="flex flex-col py-4 my-2 mx-5 relative rounded-md bg-white border border-neutral-40">
                    <div class="absolute right-0 top-0">
                        <svg width="124" height="128" viewBox="0 0 124 128" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.05">
                            <path d="M74.36 49.1891L66.4407 17.0247C65.2743 12.2876 60.4887 9.39297 55.7517 10.5593V10.5593L17.6788 19.9334C7.91508 22.3373 1.94881 32.2012 4.35278 41.965L19.9332 105.245C22.3371 115.009 32.201 120.975 41.9648 118.571L69.3161 111.837" stroke="#5A5959" stroke-width="5.4" stroke-linejoin="round"/>
                            <ellipse cx="55.4226" cy="101.613" rx="4.41667" ry="4.41667" transform="rotate(-13.8319 55.4226 101.613)" fill="#5A5959"/>
                            <path d="M95.3257 67.3415L94.0058 61.9808C93.1307 58.4264 90.8794 55.3652 87.7473 53.4707C84.6151 51.5762 80.8587 51.0035 77.3043 51.8787C73.7499 52.7538 70.6887 55.0051 68.7942 58.1372C66.8997 61.2694 66.327 65.0258 67.2022 68.5802L68.522 73.941C66.3894 74.466 64.5527 75.8168 63.416 77.6961C62.2793 79.5754 61.9357 81.8293 62.4608 83.9619L67.0804 102.724C67.6055 104.857 68.9562 106.694 70.8355 107.831C72.7148 108.967 74.9687 109.311 77.1013 108.786L103.905 102.186C106.038 101.661 107.874 100.31 109.011 98.4312C110.148 96.5519 110.491 94.298 109.966 92.1654L105.347 73.4028C104.822 71.2702 103.471 69.4335 101.592 68.2968C99.7122 67.16 97.4584 66.8164 95.3257 67.3415ZM72.5629 67.2603C72.0378 65.1277 72.3814 62.8738 73.5181 60.9945C74.6548 59.1152 76.4915 57.7645 78.6242 57.2394C80.7568 56.7143 83.0107 57.0579 84.89 58.1946C86.7693 59.3313 88.12 61.168 88.6451 63.3007L89.965 68.6614L73.8828 72.6211L72.5629 67.2603ZM104.606 93.4853C104.781 94.1962 104.666 94.9474 104.287 95.5739C103.908 96.2003 103.296 96.6506 102.585 96.8256L75.7814 103.425C75.0706 103.6 74.3193 103.486 73.6928 103.107C73.0664 102.728 72.6161 102.115 72.4411 101.405L67.8215 82.642C67.6465 81.9311 67.761 81.1798 68.1399 80.5534C68.5188 79.927 69.1311 79.4767 69.8419 79.3017L96.6456 72.7023C97.3565 72.5272 98.1078 72.6418 98.7342 73.0207C99.3606 73.3996 99.8109 74.0118 99.9859 74.7227L104.606 93.4853Z" fill="#5A5959"/>
                            </g>
                        </svg>
                    </div>
                    <div class="text-neutral-500 font-semibold text-base mx-4">Masking Number</div>
                    <div class="text-neutral-300 text-base mx-4 mt-4">Menjaga keamanan nomor asli Anda <br/> menggunakan masking number. <br/> .</div>
                </div>
            </div>
            <div class="flex justify-center smx:hidden">
                <svg width="28" height="10" viewBox="0 0 28 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle opacity="0.5" cx="5" cy="5" r="5" :fill="currentShow === 1 ? '#979797' : '#E9E9E9'"/>
                    <circle opacity="0.5" cx="23" cy="5" r="5" :fill="currentShow === 2 ? '#979797' : '#E9E9E9'"/>
                </svg>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    name: 'App',
    data: function () {
      return {
            transitionName: "fade",
            currentShow: 1
      }
    },
    methods: {
        nextSlide: function() {
            this.currentShow = this.currentShow === 2 ? 1 : 2;
            this.transitionName = "slide-next"
        },
        prevSlide: function() {
            this.currentShow = this.currentShow === 2 ? 1 : 2;
            this.transitionName = "slide-prev"
        }
    }
}
</script>

<style>
/* FADE IN */
.fade-enter-active {
  transition: opacity 1s;
}
.fade-enter {
  opacity: 0;
}

.slides-group {
    width: 100%;
    height: 455px;
    position: relative;
}

.slide {
    width: 100%;
    height: 455px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* GO TO NEXT SLIDE */
.slide-next-enter-active,
.slide-next-leave-active {
  transition: transform 0.5s ease-in-out;
}
.slide-next-enter {
  transform: translate(100%);
}
.slide-next-leave-to {
  transform: translate(-100%);
}

/* GO TO PREVIOUS SLIDE */
.slide-prev-enter-active,
.slide-prev-leave-active {
  transition: transform 0.5s ease-in-out;
}
.slide-prev-enter {
  transform: translate(-100%);
}
.slide-prev-leave-to {
  transform: translate(100%);
}
</style>