<template>
    <div id="section-1" class="relative flex flex-col bg-customs-15">
      <div style="border-radius: 0px 60px 0px 0px;" class="flex relative bg-white">
        <div class="relative flex-col max-w-screen-xl w-full self-auto items-center mx-auto my-12 mb-16 bg-white">
          <div class="flex flex-1 flex-col mt-10 smx:mt-0">
            <div data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" style="letter-spacing: 0.75px;" class="text-neutral-600 font-semibold text-center text-3/4xl leading-10 smx:hidden">OCA membantu kirim <br/> lebih dari 100 juta blast SMS <br/> WhatsApp, Email, & IVR</div>
            <div class="text-neutral-600 font-semibold text-2xl text-center leading-8 my-4 lg:hidden">OCA membantu kirim <br/> lebih dari 100 juta Blast, SMS <br/> WhatsApp, Email, & IVR</div>
            <div class="flex flex-1 smx:flex-col lg:justify-between bg-white py-10 smx:py-0">
              <div class="flex-1">
                <img data-aos="fade-right" data-aos-delay="100" data-aos-duration="500" class="mx-auto smx:hidden" src="../../../../assets/image/product/illustration_blast-2.png" alt="">
                <img style="width: 345px;" class="h-auto mx-auto lg:hidden" src="../../../../assets/image/product/illustration_blast-2.png" alt="">
              </div>
              <div class="self-center flex-1 ">
                <div data-aos="fade-left" data-aos-delay="100" data-aos-duration="500" style="letter-spacing: 0.5px;" class="text-xl text-neutral-300 leading-8 mx-auto my-2 smx:hidden">Kami mengerti pentingnya terhubung dengan <br/> customer. Fitur OCA Blast dibuat untuk <br/> memudahkan Anda mengirimkan pesan teks <br/> maupun suara ke banyak Channel dengan <br/> keberhasilan yang tinggi. Kami percaya komunikasi <br/> dengan pesan dan channel yang tepat bisa <br/> meningkatkan customer experince dan bisnis.</div>
                <div style="letter-spacing: 0.5px;" class="text-neutral-300 text-base text-center leading-6 lg:hidden">Kami mengerti pentingnya terhubung dengan customer. Fitur OCA Blast dibuat untuk memudahkan Anda mengirimkan pesan teks maupun suara ke banyak Channel dengan keberhasilan yang tinggi. Kami percaya komunikasi dengan pesan dan channel yang tepat bisa meningkatkan customer experince dan bisnis.</div>
              </div>
            </div>
          </div>
          <div class="lg:mt-40 smx:mt-10"></div>
        </div>
        <div class="absolute bottom-0 right-0 smx:hidden">
          <img src="../../../../assets/image/product/bg_blast-1.png" alt="">
        </div>
        <div class="absolute bottom-40 right-0 lg:hidden">
          <img style="width: 200px;" class="h-auto" src="../../../../assets/image/product/bg_blast-1.png" alt="">
        </div>
      </div>
      <div style="bottom: 29%;" class="absolute flex w-full z-50 smx:hidden">
        <div class="flex flex-1 relative max-w-screen-xl self-auto items-center mx-auto">
          <div class="flex flex-1 flex-col my-10">
            <div style="letter-spacing: 0.5px;" class="text-neutral-600 font-semibold text-center text-3/4xl leading-10">Semua bisa dilakukan dengan OCA Blast</div>
            <div style="box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.03), inset 0px 5px 15px rgba(0, 0, 0, 0.03);" class="flex flex-1 justify-between rounded-md bg-white py-10 pb-6 px-8 my-10">
              <div class="flex-1">
                <div class="flex flex-col justify-between mx-4">
                  <div></div>
                  <div @click="currentActive = 1" class="flex flex-col cursor-pointer my-2">
                    <svg class="mx-auto" width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect y="0.385254" width="48" height="48" rx="15" :fill="currentActive === 1 ? '#FF8B8B' : '#FFADAD'"/>
                      <path d="M33.5024 25.4577C31.9456 25.4577 30.571 26.228 29.7345 27.4085L27.8322 26.1384C28.0542 25.5974 28.1777 25.0049 28.1777 24.3845C28.1777 24.0552 28.1424 23.7333 28.0762 23.4231L30.3814 22.0956C31.2032 22.8497 32.2984 23.3113 33.5024 23.3113C36.0531 23.3113 38.12 21.2444 38.12 18.6937C38.12 16.1431 36.0531 14.0761 33.5024 14.0761C30.9518 14.0761 28.8848 16.1431 28.8848 18.6937C28.8848 19.1994 28.9671 19.686 29.1185 20.1418L27.0324 21.3429C26.4312 20.6578 25.6314 20.1506 24.7214 19.9139V17.472C26.709 16.9575 28.1777 15.1507 28.1777 13.0029C28.1777 10.4522 26.1107 8.38525 23.56 8.38525C21.0094 8.38525 18.9424 10.4522 18.9424 13.0029C18.9424 15.1522 20.411 16.9575 22.3986 17.472V19.9139C21.5945 20.1227 20.8756 20.5416 20.3037 21.1106L18.1324 19.661C18.1985 19.3494 18.2353 19.0245 18.2353 18.6937C18.2353 16.1431 16.1683 14.0761 13.6176 14.0761C11.067 14.0761 9 16.1431 9 18.6937C9 21.2444 11.067 23.3113 13.6176 23.3113C14.9951 23.3113 16.2315 22.7071 17.0768 21.7515L19.1217 23.1173C19.0071 23.5201 18.9439 23.9464 18.9439 24.386C18.9439 24.902 19.0306 25.3989 19.1864 25.862L17.1106 27.0572C16.2638 26.0781 15.0142 25.4592 13.6176 25.4592C11.067 25.4592 9 27.5262 9 30.0768C9 32.6275 11.067 34.6944 13.6176 34.6944C16.1683 34.6944 18.2353 32.6275 18.2353 30.0768C18.2353 29.7578 18.2029 29.4461 18.1412 29.1462L20.4625 27.8099C21.0064 28.3024 21.668 28.667 22.3986 28.8566V31.2985C20.411 31.813 18.9424 33.6198 18.9424 35.7676C18.9424 38.3183 21.0094 40.3853 23.56 40.3853C26.1107 40.3853 28.1777 38.3183 28.1777 35.7676C28.1777 33.6183 26.7105 31.813 24.7214 31.2985V28.8566C25.355 28.692 25.9357 28.3965 26.4326 28.001L28.9054 29.6519C28.8921 29.7916 28.8848 29.9342 28.8848 30.0783C28.8848 32.6289 30.9518 34.6959 33.5024 34.6959C36.0531 34.6959 38.12 32.6289 38.12 30.0783C38.12 27.5247 36.0531 25.4577 33.5024 25.4577ZM33.5024 16.3842C34.7785 16.3842 35.812 17.4191 35.812 18.6937C35.812 19.9698 34.7785 21.0033 33.5024 21.0033C32.2264 21.0033 31.1929 19.9683 31.1929 18.6937C31.1929 17.4176 32.2264 16.3842 33.5024 16.3842ZM13.6176 21.0047C12.3416 21.0047 11.3081 19.9698 11.3081 18.6952C11.3081 17.4191 12.343 16.3856 13.6176 16.3856C14.8937 16.3856 15.9272 17.4206 15.9272 18.6952C15.9272 19.9698 14.8922 21.0047 13.6176 21.0047ZM13.6176 32.3849C12.3416 32.3849 11.3081 31.3499 11.3081 30.0753C11.3081 28.7993 12.343 27.7658 13.6176 27.7658C14.8937 27.7658 15.9272 28.8007 15.9272 30.0753C15.9272 31.3514 14.8922 32.3849 13.6176 32.3849ZM21.2505 13.0044C21.2505 11.7283 22.2854 10.6948 23.56 10.6948C24.8361 10.6948 25.8696 11.7298 25.8696 13.0044C25.8696 14.2804 24.8361 15.3139 23.56 15.3139C22.284 15.3139 21.2505 14.2789 21.2505 13.0044ZM25.8696 35.7662C25.8696 37.0422 24.8361 38.0757 23.56 38.0757C22.284 38.0757 21.2505 37.0407 21.2505 35.7662C21.2505 34.4901 22.2854 33.4566 23.56 33.4566C24.8361 33.4551 25.8696 34.4901 25.8696 35.7662ZM33.5024 32.3849C32.2264 32.3849 31.1929 31.3499 31.1929 30.0753C31.1929 28.7993 32.2278 27.7658 33.5024 27.7658C34.7785 27.7658 35.812 28.8007 35.812 30.0753C35.8134 31.3514 34.7785 32.3849 33.5024 32.3849Z" fill="white"/>
                    </svg>
                    <div :class="{'text-neutral-80': currentActive !== 1, 'text-neutral-500': currentActive === 1 }" class="text-sm text-center font-semibold leading-6 my-2">Terhubung dengan <br/> banyak channel</div>
                  </div>
                  <transition name="slide-bar"> 
                    <div v-if="currentActive === 1" class=" bg-primary rounded-full h-2"></div>
                  </transition>
                </div>
              </div>
              <div class="flex-1">
                <div class="flex flex-col justify-between mx-4">
                  <div></div>
                  <div @click="currentActive = 2" class="flex flex-col cursor-pointer my-2">
                    <svg class="mx-auto" width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect y="0.385254" width="48" height="48" rx="15" :fill="currentActive === 2 ? '#FED95F' : '#FFE380'" />
                      <path d="M24.5 9.38525C23.2986 9.38525 22.3242 10.3597 22.3242 11.5611V12.5687C18.5741 13.5358 15.7985 16.9315 15.7985 20.986V29.6856L12.8993 32.5849V34.0354H21.9901C21.7355 34.4765 21.6007 34.9766 21.5989 35.486C21.5989 37.0879 22.8981 38.3853 24.4982 38.3853C26.1 38.3853 27.3974 37.086 27.3974 35.486C27.3956 34.9766 27.2608 34.4765 27.0043 34.0354H36.097V32.5849L33.1978 29.6856V20.986C33.1978 16.9333 30.424 13.5358 26.6721 12.5687V11.5611C26.6758 10.3597 25.7014 9.38525 24.5 9.38525ZM15.6675 9.50521C12.2275 12.1553 10 16.3058 10 20.986H12.8993C12.8993 17.2415 14.682 13.9215 17.4336 11.8028L15.6675 9.50521ZM33.3325 9.50521L31.5664 11.801C34.318 13.9215 36.1007 17.2415 36.1007 20.9841H39C39 16.3058 36.7743 12.1553 33.3325 9.50521ZM24.5 15.1856C27.6982 15.1856 30.3004 17.7878 30.3004 20.986V29.6856V30.887L30.5495 31.1362H18.4505L18.6996 30.887V29.6856V20.986C18.7015 17.7878 21.3018 15.1856 24.5 15.1856Z" fill="white"/>
                    </svg>

                    <div :class="{'text-neutral-80': currentActive !== 2, 'text-neutral-500': currentActive === 2 }" class="text-sm text-center font-semibold leading-6 my-2">Push <br/> notification</div>
                  </div>
                  <transition name="slide-bar"> 
                    <div v-if="currentActive === 2" class=" bg-primary rounded-full h-2"></div>
                  </transition>
                </div>
              </div>
              <div class="flex-1">
                <div class="flex flex-col justify-between mx-4">
                  <div></div>
                  <div @click="currentActive = 3" class="flex flex-col cursor-pointer my-2">
                    <svg class="mx-auto" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect y="0.385254" width="48" height="48" rx="15" :fill="currentActive === 3 ? '#D1A6FF' : '#E4CAFF'"  />
                      <path d="M23.5112 10.3853C22.1814 10.3853 21.0932 11.4734 21.0932 12.8033V23.6867L24.721 20.0589H30.7669C32.0967 20.0589 33.1849 18.9707 33.1849 17.6409V12.8033C33.1849 11.4734 32.0967 10.3853 30.7669 10.3853H23.5112ZM23.5112 12.8033H30.7669V17.6409H23.5112V12.8033ZM15.0458 17.6409C13.0111 17.6409 11.418 19.2339 11.418 21.2687C11.418 23.3035 13.0126 24.8965 15.0458 24.8965C17.0791 24.8965 18.6736 23.3035 18.6736 21.2687C18.6736 19.2339 17.0791 17.6409 15.0458 17.6409ZM15.0458 20.0589C15.7477 20.0589 16.2556 20.5684 16.2556 21.2687C16.2556 21.969 15.7477 22.4785 15.0458 22.4785C14.344 22.4785 13.8361 21.969 13.8361 21.2687C13.8361 20.5684 14.344 20.0589 15.0458 20.0589ZM15.0458 26.1063C11.5981 26.1063 9 27.8671 9 30.1989V32.1521H21.0932V30.1989C21.0917 27.8655 18.4936 26.1063 15.0458 26.1063ZM15.0458 28.5243C16.822 28.5243 18.0564 29.1338 18.4966 29.7341H11.595C12.0352 29.1338 13.2696 28.5243 15.0458 28.5243Z" fill="white"/>
                      <path d="M38.8277 22.8356H36.4097C36.4097 29.5325 30.9749 34.9673 24.278 34.9673V37.3853C32.2878 37.3853 38.8277 30.8454 38.8277 22.8356ZM33.8685 22.8356H31.4505C31.4505 26.782 28.1398 30.0927 24.1934 30.0927V32.5108C29.4819 32.5108 33.8685 28.1241 33.8685 22.8356ZM29.0787 22.8356H26.6606C26.6606 24.2501 25.6048 25.2736 24.3303 25.2182L24.2257 27.6347C26.8854 27.7501 29.0787 25.526 29.0787 22.8356Z" fill="white"/>
                    </svg>
                    <div :class="{'text-neutral-80': currentActive !== 3, 'text-neutral-500': currentActive === 3 }" class="text-sm text-center font-semibold leading-6 my-2">Pesan suara <br/> IVR</div>
                  </div>
                  <transition name="slide-bar"> 
                    <div v-if="currentActive === 3" class=" bg-primary rounded-full h-2"></div>
                  </transition>
                </div>
              </div>
              <div class="flex-1">
                <div class="flex flex-col justify-between mx-4">
                  <div></div>
                  <div @click="currentActive = 4"  class="flex flex-col cursor-pointer my-2">
                    <svg class="mx-auto" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect y="0.385254" width="48" height="48" rx="15" :fill="currentActive === 4 ? '#C8C8D6' : '#DFDFEB'"/>
                      <path d="M15.8486 31.7932H13.2529V20.5256H18.3253C18.5017 19.7297 18.7842 18.974 19.1571 18.2727H15.5073V17.1455C15.5073 14.5814 17.4491 12.6382 20.0146 12.6382C21.4473 12.6382 22.6706 13.2592 23.4851 14.2415C24.1993 13.926 24.9608 13.7023 25.7567 13.5804C24.5664 11.6616 22.4468 10.3853 20.0146 10.3853C16.2702 10.3853 13.2544 13.4011 13.2544 17.1455V18.2727C12.6664 18.2727 12.0655 18.4878 11.641 18.9137C11.2165 19.3382 11 19.9391 11 20.5271V31.7947C11 32.3826 11.2151 32.9835 11.641 33.408C12.0655 33.8325 12.6664 34.049 13.2544 34.049H15.8486V31.7932Z" fill="white"/>
                      <path d="M27.1172 15.7214C23.3728 15.7214 20.3569 18.7373 20.3569 22.4817V23.6089C19.7689 23.6089 19.1681 23.824 18.7436 24.2499C18.3191 24.6744 18.1025 25.2753 18.1025 25.8633V37.1308C18.1025 37.7188 18.3176 38.3197 18.7436 38.7442C19.1681 39.1687 19.7689 39.3852 20.3569 39.3852H33.8774C34.4654 39.3852 35.0663 39.1701 35.4908 38.7442C35.9153 38.3197 36.1318 37.7188 36.1318 37.1308V25.8633C36.1318 25.2753 35.9167 24.6744 35.4908 24.2499C35.0663 23.8254 34.4654 23.6089 33.8774 23.6089V22.4817C33.8774 18.7359 30.8616 15.7214 27.1172 15.7214ZM27.1172 17.9744C29.6813 17.9744 31.6245 19.9161 31.6245 22.4817V23.6089H22.6113V22.4817C22.6099 19.9161 24.553 17.9744 27.1172 17.9744ZM20.3569 25.8618H33.8774V37.1294H20.3569V25.8618ZM27.1172 29.242C25.8781 29.242 24.8642 30.2559 24.8642 31.4949C24.8642 32.734 25.8781 33.7478 27.1172 33.7478C28.3562 33.7478 29.3701 32.734 29.3701 31.4949C29.3701 30.2559 28.3562 29.242 27.1172 29.242Z" fill="white"/>
                    </svg>

                    <div :class="{'text-neutral-80': currentActive !== 4, 'text-neutral-500': currentActive === 4 }" class="text-sm text-center font-semibold leading-6 my-2">Pengiriman kode <br/> OTP</div>
                  </div>
                  <transition name="slide-bar"> 
                    <div v-if="currentActive === 4" class=" bg-primary rounded-full h-2"></div>
                  </transition>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex bg-neutral-10 smx:hidden">
        <div class="flex relative max-w-screen-xl self-auto items-center mx-auto bg-neutral-10">
          <div class="flex flex-1 justify-between py-16 mt-16 smx:pb-0">
              <div class="flex-1 flex flex-col ">
                <transition name="slider"> 
                  <div v-if="currentActive === 1" class="flex-1 justify-between my-12 mx-auto">
                      <div style="letter-spacing: 0.25px;" class="text-2xl font-semibold text-neutral-600 my-2">Kirim ke channel yang sering digunakan customer</div>
                      <div class="flex flex-col">
                        <div style="letter-spacing: 0.25px;" class="text-sm text-neutral-300 leading-7 my-4">Anda bisa blast pesan ke pelanggan di mana pun mereka ingin berinteraksi — dari SMS, email, panggilan telepon, hingga WhatsApp — dari satu platform. Dengan komunikasi omnichannel, Anda dapat menemukan kombinasi yang tepat yang akan menghasilkan CPA (Cost Per Acquisition) terendah.</div>
                        <div style="letter-spacing: 0.25px;" class="text-sm text-neutral-300 leading-7 my-4">Dengan channel yang tersedia Anda dapat menargetkan demografi dan perilaku customer dengan lebih baik. Semakin banyak channel yang digunakan, semakin baik peluang untuk melakukan penjualan.</div>
                      </div>
                      <div></div>
                  </div>
                </transition>
                <transition name="slider"> 
                  <div v-if="currentActive === 2" class="flex-1 justify-between my-12 mx-auto">
                      <div style="letter-spacing: 0.25px;" class="text-2xl font-semibold text-neutral-600 my-2">Tingkatkan Engagement dengan Push Notification</div>
                      <div class="flex flex-col">
                        <div style="letter-spacing: 0.25px;" class="text-sm text-neutral-300 leading-7 my-4">Push notification membantu banyak brand menyampaikan informasi yang relevan dan tepat waktu kepada customer dan menjadi top of mind dari customer</div>
                        <div style="letter-spacing: 0.25px;" class="text-sm text-neutral-300 leading-7 my-4">Push notification sangat membantu dalam memberi tahu customer tentang informasi dari layanan atau produk yang Anda berikan. Notification bisa digunakan untuk banyak tujuan dan jenis layanan dan disebar melalui banyak channel seperti WhatsApp, email, SMS, dan IVR.</div>
                      </div>
                      <div></div>
                  </div>
                </transition>
                <transition name="slider"> 
                  <div v-if="currentActive === 3" class="flex-1 justify-between my-12 mx-auto">
                      <div style="letter-spacing: 0.25px;" class="text-2xl font-semibold text-neutral-600 my-2">Layanan call ke customer dengan IVR</div>
                      <div style="letter-spacing: 0.25px;" class="text-sm text-neutral-300 leading-7 my-6">Call dengan IVR yang lebih efisien, Anda dapat membantu customer mendapatkan apa yang mereka cari lebih cepat, meningkatkan loyalitas customer, dan lebih hemat biaya untuk bisnis Anda. Semua fitur IVR bisa memandu customer melakukan self-service dengan mudah.</div>
                      <div class="flex flex-col">
                        <div class="flex my-3">
                          <div class="flex flex-row flex-1">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="13" cy="13" r="13" fill="#EBECF0"/>
                              <circle cx="13" cy="13" r="10" fill="#6B778C"/>
                            </svg>
                            <div style="letter-spacing: 0.25px;" class="self-center text-sm font-medium text-neutral-300 mx-4">Terhubung dengan live agent</div>
                          </div>
                          <div class="flex flex-row flex-1">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="13" cy="13" r="13" fill="#EBECF0"/>
                              <circle cx="13" cy="13" r="10" fill="#6B778C"/>
                            </svg>
                            <div style="letter-spacing: 0.25px;" class="self-center text-sm font-medium text-neutral-300 mx-4">Dialog teks menjadi suara</div>
                          </div>
                        </div>
                        <div class="flex my-3">
                          <div class="flex flex-row flex-1">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="13" cy="13" r="13" fill="#EBECF0"/>
                              <circle cx="13" cy="13" r="10" fill="#6B778C"/>
                            </svg>
                            <div style="letter-spacing: 0.25px;" class="self-center text-sm font-medium text-neutral-300 mx-4">Rekam suara autentifikasi</div>
                          </div>
                          <div class="flex flex-row flex-1">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="13" cy="13" r="13" fill="#EBECF0"/>
                              <circle cx="13" cy="13" r="10" fill="#6B778C"/>
                            </svg>
                            <div style="letter-spacing: 0.25px;" class="self-center text-sm font-medium text-neutral-300 mx-4">Hubungkan ke channel lain</div>
                          </div>
                        </div>
                        <div class="flex my-3">
                          <div class="flex flex-row flex-1">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="13" cy="13" r="13" fill="#EBECF0"/>
                              <circle cx="13" cy="13" r="10" fill="#6B778C"/>
                            </svg>
                            <div style="letter-spacing: 0.25px;" class="self-center text-sm font-medium text-neutral-300 mx-4">Pilihan informasi</div>
                          </div>
                          <div class="flex flex-row flex-1">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="13" cy="13" r="13" fill="#EBECF0"/>
                              <circle cx="13" cy="13" r="10" fill="#6B778C"/>
                            </svg>
                            <div style="letter-spacing: 0.25px;" class="self-center text-sm font-medium text-neutral-300 mx-4">Missed Called OTP</div>
                          </div>
                        </div>
                      </div>
                  </div>
                </transition>
                <transition name="slider"> 
                  <div v-if="currentActive === 4" class="flex-1 justify-between my-12 mx-auto">
                      <div style="letter-spacing: 0.25px;" class="text-2xl font-semibold text-neutral-600 my-2">Layanan OTP untuk keamanan data customer</div>
                      <div style="letter-spacing: 0.25px;" class="text-sm text-neutral-300 leading-7 my-6">One-Time Password (OTP) adalah lapisan keamanan yang menambah keamanan data customer Anda saat melakukan transaksi, mengubah password, pengaktifan atau penghapusan akun, hingga merubah password.</div>
                      <div class="flex flex-col">
                        <div class="flex my-3">
                          <div class="flex flex-row flex-1">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="13" cy="13" r="13" fill="#EBECF0"/>
                              <circle cx="13" cy="13" r="10" fill="#6B778C"/>
                            </svg>
                            <div style="letter-spacing: 0.25px;" class="self-center text-sm font-medium text-neutral-300 mx-4">Aman dari hack</div>
                          </div>
                          <div class="flex flex-row flex-1">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="13" cy="13" r="13" fill="#EBECF0"/>
                              <circle cx="13" cy="13" r="10" fill="#6B778C"/>
                            </svg>
                            <div style="letter-spacing: 0.25px;" class="self-center text-sm font-medium text-neutral-300 mx-4">Real-time report</div>
                          </div>
                        </div>
                        <div class="flex my-3">
                          <div class="flex flex-row flex-1">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="13" cy="13" r="13" fill="#EBECF0"/>
                              <circle cx="13" cy="13" r="10" fill="#6B778C"/>
                            </svg>
                            <div style="letter-spacing: 0.25px;" class="self-center text-sm font-medium text-neutral-300 mx-4">Dynamic password</div>
                          </div>
                          <div class="flex flex-row flex-1">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="13" cy="13" r="13" fill="#EBECF0"/>
                              <circle cx="13" cy="13" r="10" fill="#6B778C"/>
                            </svg>
                            <div style="letter-spacing: 0.25px;" class="self-center text-sm font-medium text-neutral-300 mx-4">Cost efficient</div>
                          </div>
                        </div>
                        <div class="flex my-3">
                          <div class="flex flex-row flex-1">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="13" cy="13" r="13" fill="#EBECF0"/>
                              <circle cx="13" cy="13" r="10" fill="#6B778C"/>
                            </svg>
                            <div style="letter-spacing: 0.25px;" class="self-center text-sm font-medium text-neutral-300 mx-4">2 Langkah authentification</div>
                          </div>
                          <div class="flex flex-row flex-1">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="13" cy="13" r="13" fill="#EBECF0"/>
                              <circle cx="13" cy="13" r="10" fill="#6B778C"/>
                            </svg>
                            <div style="letter-spacing: 0.25px;" class="self-center text-sm font-medium text-neutral-300 mx-4">Keamanan tinggi</div>
                          </div>
                        </div>
                        <div class="flex my-3">
                          <div class="flex flex-row flex-1">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="13" cy="13" r="13" fill="#EBECF0"/>
                              <circle cx="13" cy="13" r="10" fill="#6B778C"/>
                            </svg>
                            <div style="letter-spacing: 0.25px;" class="self-center text-sm font-medium text-neutral-300 mx-4">User Friendly</div>
                          </div>
                        </div>
                      </div>
                  </div>
                </transition>
              </div>
              <div class="flex-1 z-50">
                <img class="mx-auto" src="../../../../assets/image/product/header_blast-2.png" alt="">
              </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col bg-white lg:hidden">
        <div class="text-neutral-600 font-semibold text-center text-3/4xl smx:text-2xl leading-10 smx:leading-8">Semua bisa dilakukan dengan OCA Blast</div>
        <div @click="currentShow = 1" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 1.40156px 4.52115px rgba(0, 0, 0, 0.05);" class="flex flex-col justify-center py-5 my-4 mx-5 rounded-md bg-white">
          <svg class="mx-auto" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="48" height="48" rx="15" fill="#FF8B8B"/>
            <path d="M33.5024 25.0725C31.9456 25.0725 30.571 25.8428 29.7345 27.0233L27.8322 25.7531C28.0542 25.2121 28.1777 24.6197 28.1777 23.9993C28.1777 23.67 28.1424 23.348 28.0762 23.0378L30.3814 21.7103C31.2032 22.4645 32.2984 22.9261 33.5024 22.9261C36.0531 22.9261 38.12 20.8591 38.12 18.3084C38.12 15.7578 36.0531 13.6908 33.5024 13.6908C30.9518 13.6908 28.8848 15.7578 28.8848 18.3084C28.8848 18.8142 28.9671 19.3008 29.1185 19.7565L27.0324 20.9576C26.4312 20.2725 25.6314 19.7653 24.7214 19.5286V17.0868C26.709 16.5722 28.1777 14.7655 28.1777 12.6176C28.1777 10.067 26.1107 8 23.56 8C21.0094 8 18.9424 10.067 18.9424 12.6176C18.9424 14.7669 20.411 16.5722 22.3986 17.0868V19.5286C21.5945 19.7374 20.8756 20.1564 20.3037 20.7253L18.1324 19.2758C18.1985 18.9641 18.2353 18.6392 18.2353 18.3084C18.2353 15.7578 16.1683 13.6908 13.6176 13.6908C11.067 13.6908 9 15.7578 9 18.3084C9 20.8591 11.067 22.9261 13.6176 22.9261C14.9951 22.9261 16.2315 22.3219 17.0768 21.3663L19.1217 22.732C19.0071 23.1348 18.9439 23.5612 18.9439 24.0007C18.9439 24.5167 19.0306 25.0136 19.1864 25.4767L17.1106 26.6719C16.2638 25.6928 15.0142 25.0739 13.6176 25.0739C11.067 25.0739 9 27.1409 9 29.6916C9 32.2422 11.067 34.3092 13.6176 34.3092C16.1683 34.3092 18.2353 32.2422 18.2353 29.6916C18.2353 29.3725 18.2029 29.0609 18.1412 28.761L20.4625 27.4246C21.0064 27.9171 21.668 28.2817 22.3986 28.4714V30.9132C20.411 31.4278 18.9424 33.2345 18.9424 35.3824C18.9424 37.933 21.0094 40 23.56 40C26.1107 40 28.1777 37.933 28.1777 35.3824C28.1777 33.2331 26.7105 31.4278 24.7214 30.9132V28.4714C25.355 28.3067 25.9357 28.0112 26.4326 27.6157L28.9054 29.2667C28.8921 29.4064 28.8848 29.549 28.8848 29.693C28.8848 32.2437 30.9518 34.3107 33.5024 34.3107C36.0531 34.3107 38.12 32.2437 38.12 29.693C38.12 27.1394 36.0531 25.0725 33.5024 25.0725ZM33.5024 15.9989C34.7785 15.9989 35.812 17.0339 35.812 18.3084C35.812 19.5845 34.7785 20.618 33.5024 20.618C32.2264 20.618 31.1929 19.583 31.1929 18.3084C31.1929 17.0324 32.2264 15.9989 33.5024 15.9989ZM13.6176 20.6195C12.3416 20.6195 11.3081 19.5845 11.3081 18.3099C11.3081 17.0339 12.343 16.0004 13.6176 16.0004C14.8937 16.0004 15.9272 17.0353 15.9272 18.3099C15.9272 19.5845 14.8922 20.6195 13.6176 20.6195ZM13.6176 31.9996C12.3416 31.9996 11.3081 30.9647 11.3081 29.6901C11.3081 28.414 12.343 27.3805 13.6176 27.3805C14.8937 27.3805 15.9272 28.4155 15.9272 29.6901C15.9272 30.9661 14.8922 31.9996 13.6176 31.9996ZM21.2505 12.6191C21.2505 11.343 22.2854 10.3096 23.56 10.3096C24.8361 10.3096 25.8696 11.3445 25.8696 12.6191C25.8696 13.8952 24.8361 14.9287 23.56 14.9287C22.284 14.9287 21.2505 13.8937 21.2505 12.6191ZM25.8696 35.3809C25.8696 36.657 24.8361 37.6905 23.56 37.6905C22.284 37.6905 21.2505 36.6555 21.2505 35.3809C21.2505 34.1048 22.2854 33.0714 23.56 33.0714C24.8361 33.0699 25.8696 34.1048 25.8696 35.3809ZM33.5024 31.9996C32.2264 31.9996 31.1929 30.9647 31.1929 29.6901C31.1929 28.414 32.2278 27.3805 33.5024 27.3805C34.7785 27.3805 35.812 28.4155 35.812 29.6901C35.8134 30.9661 34.7785 31.9996 33.5024 31.9996Z" fill="white"/>
          </svg>
          <div class="text-neutral-600 font-semibold text-center text-xl leading-6 my-4">Terhubung dengan banyak <br/> channel</div>
          <svg :style="currentShow === 1 ? 'transform: rotate(0deg);transition-duration: 0.5s;' : 'transform: rotate(-180deg);transition-duration: 0.5s;'" class="mx-auto -rotate-180 mt-3" width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 10L10 2L2 10" stroke="#ED1260" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <transition name="fade">
          <div v-if="currentShow === 1" class="flex flex-col mx-5">
            <div style="letter-spacing: 0.25px;" class="text-neutral-400 text-base font-semibold">Kirim ke channel yang sering digunakan customer</div>
            <div class="text-neutral-300 text-base leading-6 my-4">Anda bisa blast pesan ke pelanggan di mana pun mereka ingin berinteraksi — dari SMS, email, panggilan telepon, hingga WhatsApp — dari satu platform. Dengan komunikasi omnichannel, Anda dapat menemukan kombinasi yang tepat yang akan menghasilkan CPA (Cost Per Acquisition) terendah.</div>
            <div class="text-neutral-300 text-base leading-6 mt-2">Dengan channel yang tersedia Anda dapat menargetkan demografi dan perilaku customer dengan lebih baik. Semakin banyak channel yang digunakan, semakin baik peluang untuk melakukan penjualan.</div>
          </div>
        </transition>
        <div @click="currentShow = 2" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 1.40156px 4.52115px rgba(0, 0, 0, 0.05);" class="flex flex-col justify-center py-5 my-4 mx-5 rounded-md bg-white">
          <svg class="mx-auto" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="48" height="48" rx="15" fill="#FED95F"/>
            <path d="M24.5 9C23.2986 9 22.3242 9.97442 22.3242 11.1758V12.1835C18.5741 13.1505 15.7985 16.5462 15.7985 20.6007V29.3004L12.8993 32.1996V33.6502H21.9901C21.7355 34.0913 21.6007 34.5914 21.5989 35.1007C21.5989 36.7026 22.8981 38 24.4982 38C26.1 38 27.3974 36.7008 27.3974 35.1007C27.3956 34.5914 27.2608 34.0913 27.0043 33.6502H36.097V32.1996L33.1978 29.3004V20.6007C33.1978 16.548 30.424 13.1505 26.6721 12.1835V11.1758C26.6758 9.97442 25.7014 9 24.5 9ZM15.6675 9.11996C12.2275 11.7701 10 15.9206 10 20.6007H12.8993C12.8993 16.8562 14.682 13.5362 17.4336 11.4176L15.6675 9.11996ZM33.3325 9.11996L31.5664 11.4157C34.318 13.5362 36.1007 16.8562 36.1007 20.5989H39C39 15.9206 36.7743 11.7701 33.3325 9.11996ZM24.5 14.8004C27.6982 14.8004 30.3004 17.4025 30.3004 20.6007V29.3004V30.5018L30.5495 30.7509H18.4505L18.6996 30.5018V29.3004V20.6007C18.7015 17.4025 21.3018 14.8004 24.5 14.8004Z" fill="white"/>
          </svg>
          <div class="text-neutral-600 font-semibold text-center text-xl leading-6 my-4">Push notification</div>
          <svg :style="currentShow === 2 ? 'transform: rotate(0deg);transition-duration: 0.5s;' : 'transform: rotate(-180deg);transition-duration: 0.5s;'" class="mx-auto -rotate-180 mt-3" width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 10L10 2L2 10" stroke="#ED1260" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <transition name="fade">
          <div v-if="currentShow === 2" class="flex flex-col mx-5">
            <div style="letter-spacing: 0.25px;" class="text-neutral-400 text-base font-semibold">Tingkatkan Engagement dengan Push Notification</div>
            <div class="text-neutral-300 text-base leading-6 my-4">Push notification membantu banyak brand menyampaikan informasi yang relevan dan tepat waktu kepada customer dan menjadi top of mind dari customer.</div>
            <div class="text-neutral-300 text-base leading-6 mt-2">Push notification sangat membantu dalam memberi tahu customer tentang informasi dari layanan atau produk yang Anda berikan. Notification bisa digunakan untuk banyak tujuan dan jenis layanan dan disebar melalui banyak channel seperti WhatsApp, email, SMS, dan IVR.</div>
          </div>
        </transition>
        <div @click="currentShow = 3" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 1.40156px 4.52115px rgba(0, 0, 0, 0.05);" class="flex flex-col justify-center py-5 my-4 mx-5 rounded-md bg-white">
          <svg class="mx-auto" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="48" height="48" rx="15" fill="#D1A6FF"/>
            <path d="M23.5112 10C22.1814 10 21.0932 11.0882 21.0932 12.418V23.3015L24.721 19.6736H30.7669C32.0967 19.6736 33.1849 18.5855 33.1849 17.2556V12.418C33.1849 11.0882 32.0967 10 30.7669 10H23.5112ZM23.5112 12.418H30.7669V17.2556H23.5112V12.418ZM15.0458 17.2556C13.0111 17.2556 11.418 18.8486 11.418 20.8834C11.418 22.9182 13.0126 24.5112 15.0458 24.5112C17.0791 24.5112 18.6736 22.9182 18.6736 20.8834C18.6736 18.8486 17.0791 17.2556 15.0458 17.2556ZM15.0458 19.6736C15.7477 19.6736 16.2556 20.1831 16.2556 20.8834C16.2556 21.5837 15.7477 22.0932 15.0458 22.0932C14.344 22.0932 13.8361 21.5837 13.8361 20.8834C13.8361 20.1831 14.344 19.6736 15.0458 19.6736ZM15.0458 25.721C11.5981 25.721 9 27.4818 9 29.8137V31.7669H21.0932V29.8137C21.0917 27.4803 18.4936 25.721 15.0458 25.721ZM15.0458 28.139C16.822 28.139 18.0564 28.7485 18.4966 29.3488H11.595C12.0352 28.7485 13.2696 28.139 15.0458 28.139Z" fill="white"/>
            <path d="M38.8258 22.4502H36.4077C36.4077 29.1471 30.973 34.5819 24.2761 34.5819V36.9999C32.2859 36.9999 38.8258 30.46 38.8258 22.4502ZM33.8666 22.4502H31.4486C31.4486 26.3966 28.1378 29.7074 24.1914 29.7074V32.1254C29.48 32.1254 33.8666 27.7388 33.8666 22.4502ZM29.0767 22.4502H26.6587C26.6587 23.8647 25.6028 24.8882 24.3284 24.8328L24.2237 27.2493C26.8834 27.3647 29.0767 25.1407 29.0767 22.4502Z" fill="white"/>
          </svg>
          <div class="text-neutral-600 font-semibold text-center text-xl leading-6 my-4">Pesan suara IVR</div>
          <svg :style="currentShow === 3 ? 'transform: rotate(0deg);transition-duration: 0.5s;' : 'transform: rotate(-180deg);transition-duration: 0.5s;'" class="mx-auto -rotate-180 mt-3" width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 10L10 2L2 10" stroke="#ED1260" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <transition name="fade">
          <div v-if="currentShow === 3" class="flex flex-col mx-5">
            <div style="letter-spacing: 0.25px;" class="text-neutral-400 text-base font-semibold">Layanan call ke customer dengan IVR</div>
            <div class="text-neutral-300 text-base leading-6 my-4 mb-2">Call dengan IVR yang lebih efisien, Anda dapat membantu customer mendapatkan apa yang mereka cari lebih cepat, meningkatkan loyalitas customer, dan lebih hemat biaya untuk bisnis Anda. Semua fitur IVR bisa memandu customer melakukan self-service dengan mudah.</div>
            <div class="flex flex-col">
              <div class="flex flex-row">
                <svg class="self-center" width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <ellipse cx="11.2384" cy="12.3389" rx="10.8009" ry="12" fill="#EBECF0"/>
                  <ellipse cx="11.2362" cy="12.3392" rx="8.30842" ry="9.23077" fill="#6B778C"/>
                </svg>
                <div class="self-center text-neutral-300 text-base my-2 ml-4">Terhubung dengan live agent</div>
              </div>
              <div class="flex flex-row">
                <svg class="self-center" width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <ellipse cx="11.2384" cy="12.3389" rx="10.8009" ry="12" fill="#EBECF0"/>
                  <ellipse cx="11.2362" cy="12.3392" rx="8.30842" ry="9.23077" fill="#6B778C"/>
                </svg>
                <div class="self-center text-neutral-300 text-base my-2 ml-4">Rekam suara autentifikasi</div>
              </div>
              <div class="flex flex-row">
                <svg class="self-center" width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <ellipse cx="11.2384" cy="12.3389" rx="10.8009" ry="12" fill="#EBECF0"/>
                  <ellipse cx="11.2362" cy="12.3392" rx="8.30842" ry="9.23077" fill="#6B778C"/>
                </svg>
                <div class="self-center text-neutral-300 text-base my-2 ml-4">Pilihan informasi</div>
              </div>
              <div class="flex flex-row">
                <svg class="self-center" width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <ellipse cx="11.2384" cy="12.3389" rx="10.8009" ry="12" fill="#EBECF0"/>
                  <ellipse cx="11.2362" cy="12.3392" rx="8.30842" ry="9.23077" fill="#6B778C"/>
                </svg>
                <div class="self-center text-neutral-300 text-base my-2 ml-4">Dialog teks menjadi suara</div>
              </div>
              <div class="flex flex-row">
                <svg class="self-center" width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <ellipse cx="11.2384" cy="12.3389" rx="10.8009" ry="12" fill="#EBECF0"/>
                  <ellipse cx="11.2362" cy="12.3392" rx="8.30842" ry="9.23077" fill="#6B778C"/>
                </svg>
                <div class="self-center text-neutral-300 text-base my-2 ml-4">Hubungkan ke channel lain</div>
              </div>
              <div class="flex flex-row">
                <svg class="self-center" width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <ellipse cx="11.2384" cy="12.3389" rx="10.8009" ry="12" fill="#EBECF0"/>
                  <ellipse cx="11.2362" cy="12.3392" rx="8.30842" ry="9.23077" fill="#6B778C"/>
                </svg>
                <div class="self-center text-neutral-300 text-base my-2 ml-4">Missed Called OTP</div>
              </div>
            </div>
          </div>
        </transition>
        <div @click="currentShow = 4" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 1.40156px 4.52115px rgba(0, 0, 0, 0.05);" class="flex flex-col justify-center py-5 my-4 mx-5 rounded-md bg-white">
          <svg class="mx-auto" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="48" height="48" rx="15" fill="#C8C8D6"/>
            <path d="M15.8486 31.408H13.2529V20.1404H18.3253C18.5017 19.3445 18.7842 18.5887 19.1571 17.8875H15.5073V16.7603C15.5073 14.1961 17.4491 12.2529 20.0146 12.2529C21.4473 12.2529 22.6706 12.8739 23.4851 13.8562C24.1993 13.5407 24.9608 13.317 25.7567 13.1951C24.5664 11.2763 22.4468 10 20.0146 10C16.2702 10 13.2544 13.0159 13.2544 16.7603V17.8875C12.6664 17.8875 12.0655 18.1026 11.641 18.5285C11.2165 18.953 11 19.5539 11 20.1418V31.4094C11 31.9974 11.2151 32.5983 11.641 33.0228C12.0655 33.4472 12.6664 33.6638 13.2544 33.6638H15.8486V31.408Z" fill="white"/>
            <path d="M27.1162 15.3364C23.3718 15.3364 20.3559 18.3523 20.3559 22.0967V23.2239C19.768 23.2239 19.1671 23.439 18.7426 23.8649C18.3181 24.2894 18.1016 24.8903 18.1016 25.4783V36.7458C18.1016 37.3338 18.3167 37.9347 18.7426 38.3592C19.1671 38.7837 19.768 39.0002 20.3559 39.0002H33.8765C34.4644 39.0002 35.0653 38.7851 35.4898 38.3592C35.9143 37.9347 36.1308 37.3338 36.1308 36.7458V25.4783C36.1308 24.8903 35.9157 24.2894 35.4898 23.8649C35.0653 23.4404 34.4644 23.2239 33.8765 23.2239V22.0967C33.8765 18.3509 30.8606 15.3364 27.1162 15.3364ZM27.1162 17.5894C29.6803 17.5894 31.6235 19.5311 31.6235 22.0967V23.2239H22.6103V22.0967C22.6089 19.5311 24.5521 17.5894 27.1162 17.5894ZM20.3559 25.4768H33.8765V36.7444H20.3559V25.4768ZM27.1162 28.857C25.8772 28.857 24.8633 29.8709 24.8633 31.1099C24.8633 32.3489 25.8772 33.3628 27.1162 33.3628C28.3552 33.3628 29.3691 32.3489 29.3691 31.1099C29.3691 29.8709 28.3552 28.857 27.1162 28.857Z" fill="white"/>
          </svg>
          <div class="text-neutral-600 font-semibold text-center text-xl leading-6 my-4">Pengiriman kode OTP</div>
          <svg :style="currentShow === 4 ? 'transform: rotate(0deg);transition-duration: 0.5s;' : 'transform: rotate(-180deg);transition-duration: 0.5s;'" class="mx-auto -rotate-180 mt-3" width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 10L10 2L2 10" stroke="#ED1260" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <transition name="fade">
          <div v-if="currentShow === 4" class="flex flex-col mx-5">
            <div style="letter-spacing: 0.25px;" class="text-neutral-400 text-base font-semibold">Layanan OTP untuk keamanan data customer</div>
            <div class="text-neutral-300 text-base leading-6 my-4 mb-2">Call dengan IVR yang lebih efisien, Anda dapat membantu customer mendapatkan apa yang mereka cari lebih cepat, meningkatkan loyalitas customer, dan lebih hemat biaya untuk bisnis Anda. Semua fitur IVR bisa memandu customer melakukan self-service dengan mudah.</div>
            <!-- <div class="text-neutral-300 text-base mt-2">Dengan channel yang tersedia Anda dapat menargetkan demografi dan perilaku customer dengan lebih baik. Semakin banyak channel yang digunakan, semakin baik peluang untuk melakukan penjualan.</div> -->
            <div class="flex flex-col">
              <div class="flex flex-row">
                <svg class="self-center" width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <ellipse cx="11.2384" cy="12.3389" rx="10.8009" ry="12" fill="#EBECF0"/>
                  <ellipse cx="11.2362" cy="12.3392" rx="8.30842" ry="9.23077" fill="#6B778C"/>
                </svg>
                <div class="self-center text-neutral-300 text-base my-2 ml-4">Aman dari hack</div>
              </div>
              <div class="flex flex-row">
                <svg class="self-center" width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <ellipse cx="11.2384" cy="12.3389" rx="10.8009" ry="12" fill="#EBECF0"/>
                  <ellipse cx="11.2362" cy="12.3392" rx="8.30842" ry="9.23077" fill="#6B778C"/>
                </svg>
                <div class="self-center text-neutral-300 text-base my-2 ml-4">Dynamic password</div>
              </div>
              <div class="flex flex-row">
                <svg class="self-center" width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <ellipse cx="11.2384" cy="12.3389" rx="10.8009" ry="12" fill="#EBECF0"/>
                  <ellipse cx="11.2362" cy="12.3392" rx="8.30842" ry="9.23077" fill="#6B778C"/>
                </svg>
                <div class="self-center text-neutral-300 text-base my-2 ml-4">2 Langkah authentification</div>
              </div>
              <div class="flex flex-row">
                <svg class="self-center" width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <ellipse cx="11.2384" cy="12.3389" rx="10.8009" ry="12" fill="#EBECF0"/>
                  <ellipse cx="11.2362" cy="12.3392" rx="8.30842" ry="9.23077" fill="#6B778C"/>
                </svg>
                <div class="self-center text-neutral-300 text-base my-2 ml-4">User Friendly</div>
              </div>
              <div class="flex flex-row">
                <svg class="self-center" width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <ellipse cx="11.2384" cy="12.3389" rx="10.8009" ry="12" fill="#EBECF0"/>
                  <ellipse cx="11.2362" cy="12.3392" rx="8.30842" ry="9.23077" fill="#6B778C"/>
                </svg>
                <div class="self-center text-neutral-300 text-base my-2 ml-4">Real-time report</div>
              </div>
              <div class="flex flex-row">
                <svg class="self-center" width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <ellipse cx="11.2384" cy="12.3389" rx="10.8009" ry="12" fill="#EBECF0"/>
                  <ellipse cx="11.2362" cy="12.3392" rx="8.30842" ry="9.23077" fill="#6B778C"/>
                </svg>
                <div class="self-center text-neutral-300 text-base my-2 ml-4">Cost efficient</div>
              </div>
              <div class="flex flex-row">
                <svg class="self-center" width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <ellipse cx="11.2384" cy="12.3389" rx="10.8009" ry="12" fill="#EBECF0"/>
                  <ellipse cx="11.2362" cy="12.3392" rx="8.30842" ry="9.23077" fill="#6B778C"/>
                </svg>
                <div class="self-center text-neutral-300 text-base my-2 ml-4">Keamanan tinggi</div>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
</template>
<script>
export default {
    name: 'App',
    data: function () {
      return {
        currentActive: 1,
        currentShow: 0,
      }
    },
}
</script>
<style>
  .slide-bar-enter-active, .slide-up-leave-active {
    transition: all .3s ease-out;
  }

  .slide-bar-enter, .slide-up-leave-to {
    opacity: 0;
    width: 0%;
  }

  .slide-bar-enter-to, .slide-up-leave {
    opacity: 1;
    width: 100%;
  }

  .slider-enter-active, .slide-up-leave-active {
    transition: all .5s ease-out;
  }

  .slider-enter, .slide-up-leave-to {
    opacity: 0;
    transform: translate(100%, 0);
  }

  .slider-enter-to, .slide-up-leave {
    opacity: 1;
  }
</style>