<template>
  <div id="app" class="relative w-screen h-screen flex flex-wrap">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFHTVZD"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <loading-overlay/>
    <error-overlay/>
    <div class="hidden lg:block lg:w-1/2 register-bg">
      <div class="w-full h-full flex flex-wrap">
        <a href="./" class="lg:p-12">
          <logo-oca/>
        </a>

        <div class="w-full lg:pl-4 xl:pl-10 lg:pr-24 xl:pr-32">
          <message-item2 :konten="konten[0]"/>
          <message-item :konten="konten[1]"/>
        </div>
      </div>
    </div>

    <div class="lg:hidden w-full flex flex-wrap bg-main-color">
      <div class="w-full h-auto flex flex-wrap p-12">
        <a href="./">
          <img src="../../assets/image/logo_white.png" class="w-56">
        </a>
      </div>
    </div>

    <div class="w-full lg:w-1/2 lg:p-12 flex flex-wrap items-center">
      <div class="w-full flex flex-wrap mx-10 lg:mx-24 xl:mx-40">
        <form class="w-full" @submit="submitData" method="post">
          <p class="text-center text-3xl font-bold lg:mt-0 mt-16">Create a <span class="text-main-color">Free Account</span></p>
          <p class="text-center text-sm mt-8">Register using your email address:</p>
          <input type="text" v-model="firstName" id="first_name" name="first_name" class="w-full px-8 py-4 border border-gray-400 rounded-lg mt-3 focus:outline-none focus:border-2 focus:border-main-color" placeholder="First name" required/>
          <input type="text" v-model="lastName" id="last_name" name="last_name" class="w-full px-8 py-4 border border-gray-400 rounded-lg mt-6 focus:outline-none focus:border-2 focus:border-main-color" placeholder="Last name" required/>
          <input type="email" v-model="email" id="email" name="email" class="w-full px-8 py-4 border border-gray-400 rounded-lg mt-6 focus:outline-none focus:border-2 focus:border-main-color" placeholder="Email" required/>
          <input type="tel" v-model="phone" id="phone" name="phone" class="w-full px-8 py-4 border border-gray-400 rounded-lg mt-6 focus:outline-none focus:border-2 focus:border-main-color" placeholder="Phone Number" required/>
          <input type="password" v-model="password" id="password" name="password" minlength="6" class="w-full px-8 py-4 border border-gray-400 rounded-lg mt-6 focus:outline-none focus:border-2 focus:border-main-color" placeholder="Password" required/>
          <!-- <p class="text-center mt-6">Or</p>
          <div class="w-full flex flex-wrap px-8 py-3 border border-gray-400 rounded-lg mt-6 items-center justify-center cursor-pointer" @click="googleSignUp">
            <img src="../../assets/image/login/google.png" class="w-auto h-8">
            <p class="ml-2 text-sm">Sign up with Google</p>
          </div> -->
          <input type="submit" class="w-full lg:mb-0 mb-6 px-8 py-4 bg-main-color text-white text-center rounded-lg mt-6" value="Create Account"/>
          <div class="flex mt-4">
            <p class="text-sm">Already have an account?</p>
            <a class="ml-2 text-sm text-main-color" href="login">Log In.</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import LogoOca from '../../assets/svg/logo_oca_white.svg'
  import MessageItem from "./components/MessageItem";
  import MessageItem2 from "./components/MessageItem2";
  import LoadingOverlay from "../../components/LoadingOverlay";
  import ErrorOverlay from "../../components/ErrorOverlay";
  import "../../google_tag.js"

  export default {
    name: 'App',
    components: {
      ErrorOverlay,
      LoadingOverlay,
      MessageItem2,
      MessageItem,
      LogoOca
    },
    data: function () {
      return {
        firstName: '',
        lastName: '',
        email: '',
        phone: '',
        password: '',
        error: '',
        konten: []
      }
    },
    mounted() {
        //Google Analytics script
        let analytic = document.createElement('script')
        analytic.async = true
        analytic.defer = true
        analytic.setAttribute('crossOrigin', 'anonymous')
        analytic.setAttribute('src', 'https://www.googletagmanager.com/gtag/js?id=UA-169935056-1')
        document.head.appendChild(analytic)

        let _linkedin_partner_id = "2753236"; 
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; 
        window._linkedin_data_partner_ids.push(_linkedin_partner_id); 
        //Linkedin script
        let Linkedinanalytic = document.createElement('script')
        Linkedinanalytic.async = true
        Linkedinanalytic.defer = true
        Linkedinanalytic.setAttribute('crossOrigin', 'anonymous')
        Linkedinanalytic.setAttribute('src', 'https://snap.licdn.com/li.lms-analytics/insight.min.js')
        document.head.appendChild(Linkedinanalytic)
    },
    created() {
      if(!this.$cookies.isKey('lang_oca')){
        this.$cookies.set('lang_oca', 'id')
      }

      if(this.$session.exists()) {
        window.location.href = './'
      }

      let uri = window.location.search.substring(1);
      let params = new URLSearchParams(uri);
      if(params.get("email") != null){
        this.email = params.get("email");
      }

      this.loadData()
    },
    methods :{
      //LOAD KONTEN MESSAGE BUBBLE
      loadData: function () {
        const axios = require('axios');
        let main = this
        let url = 'https://dtpx1.ocatelkom.co.id/api/register/' + this.$cookies.get('lang_oca')
        axios.get(url)
          .then(function (response) {
            main.konten = response.data
          })
      },

      submitData: function (e) {
        e.preventDefault()
        this.$modal.show('loading')

        const axios = require('axios');
        let main = this

        axios.post('https://dtp.ocatelkom.co.id/api/dtp/v1/user/add', {
          first_name: main.firstName,
          last_name: main.lastName,
          email: main.email,
          phone_number: main.phone,
          password: main.password
        })
        .then(function (response) {
          if (response.data.success) {
            main.$cookies.set("temp_id", response.data.user_id)
            window.location.href = "registered"
          }
        })
        .catch(function (error) {
          if(error.response.data) {
            main.$modal.show('error', {
              title: "ERROR " + error.response.data.errors[0].code,
              message: error.response.data.errors[0].message
            })
          }
        })
        .finally(() => {
          main.$modal.hide('loading')
        })
      },

      googleSignUp: function () {
        this.$modal.show('loading')
        const axios = require('axios');

        let main = this
        axios.get('https://dtp.ocatelkom.co.id/api/dtp/v1/google/url')
          .then(function (response) {
            if (response.data.url) {
              window.location.href = response.data.url
            }
          })
          .catch(function (error) {
            main.$modal.show('error', {
              title: "ERROR " + error.response.data.errors[0].code,
              message: error.response.data.errors[0].message
            })
          })
          .finally(() => {
            main.$modal.hide('loading')
          })
      },
    },

    //INJECT META HTML
    metaInfo(){
      return {
        title: `Register - Telkom OCA solusi omnichannel - Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast`,
        meta: [
          {
            name: 'keywords',
            content: 'Telkom OCA, omnichannel platform, whatsapp bisnis, email blast, ivr call, sms blast'
          },
          {
            name: 'author',
            content: 'Telkom OCA'
          },
          {
            name: 'description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            name: 'thumbnail',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
          {
            property: 'og:title',
            content: "Telkom OCA Omnichannel Platform"
          },
          {
            property: 'og:description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            property: 'og:image',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
          {
            property: 'twitter:card',
            content: "summary"
          },
          {
            property: 'twitter:site',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:creator',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:title',
            content: 'Telkom OCA Omnichannel Platform'
          },
          {
            property: 'twitter:url',
            content: 'https://ocatelkom.co.id'
          },
          {
            property: 'twitter:description',
            content: 'Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast'
          },
          {
            property: 'twitter:image:src',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
        ]
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

  #app {
    font-family: Lato;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
