<template>
  <div id="app" class="relative h-screen">
    <div class="fixed right-2 bottom-7 z-50">
      <img @click="changeWaFloating" class="w-16 cursor-pointer" src="../../assets/image/wa-floating.png">
    </div>
    <transition name="fade">
      <wa-barcode v-if="showWaFloating" class="fixed xxxl:right-6 xxl:right-7 xls:right-8 right-8 bottom-7 xls:bottom-6 shadow-lg z-50" />
    </transition>
  <div class="overflow-hidden">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFHTVZD"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="z-20 w-full relative bg-main-color pb-56">
      <Navbar id="nav" v-bind:is-shown="false" :isUmkm="false" class="z-20 fixed bg-main-color"/>
        <transition name="fade">
          <wa-barcode v-if="showWa" class="z-50 absolute xxxl:right-17 xxl:right-19 xls:right-22 right-25 top-22 shadow-lg" />
        </transition>
    </div>

    <div class="flex flex-wrap mt-12">
      <share-layout :share-count="konten.total_share"/>
      <blog-content :url="url" :title="konten.title" :konten="konten.description" :img="konten.post_img_url"/>
      <terbaru class="lg:mt-0 mt-16"/>
    </div>

    <div class="h-1 border-gray-400 mt-16" :class="{'border-t-2' : !this.$session.exists()}"></div>

    <try-oca v-show="!this.$session.exists()"/>
    <Footer/>

      <!-- KOMPONEN MODAL -->
      <loading-overlay/>
      <error-overlay/>
  </div>
  </div>
</template>

<script>
  import Footer from "../../components/Footer";
  import WaBarcode from "../../components/waBarcode";
  import TryOca from "../../components/tryOca";
  import Navbar from "../../components/Navbar";
  import ShareLayout from "./components/ShareLayout";
  import BlogContent from "./components/BlogContent";
  import Terbaru from "./components/Terbaru";
  import LoadingOverlay from "../../components/LoadingOverlay";
  import ErrorOverlay from "../../components/ErrorOverlay";
  import "../../google_tag.js"

  export default {
    name: 'App',
    components: {
        ErrorOverlay,
        LoadingOverlay,
      Terbaru,
      BlogContent,
      ShareLayout,
      TryOca,
      Footer,
      Navbar,
      WaBarcode
    },
    data: function () {
      return {
        show: false,
          konten: {},
          url: '',
          blogtitle: 'ASD',
        showWa: false,
        showWaFloating: false,
      }
    },
    mounted() {
        //DEKLARASI SCRIPT UNTUK CHATBOT
      let liveChat = document.createElement('script')
      liveChat.async = true
      liveChat.defer = true
      liveChat.setAttribute('crossOrigin', 'anonymous')
      liveChat.setAttribute('src', 'https://code.jivosite.com/widget/aAlTqVN5rV')
      document.head.appendChild(liveChat)

      //Google Analytics script
      let analytic = document.createElement('script')
      analytic.async = true
      analytic.defer = true
      analytic.setAttribute('crossOrigin', 'anonymous')
      analytic.setAttribute('src', 'https://www.googletagmanager.com/gtag/js?id=UA-169935056-1')
      document.head.appendChild(analytic)
    },
    methods: {
        //UBAH WARNA BACKGROUND NAVBAR SAAT DI SCROLL
        handleScroll: function () {
            var nav = document.querySelector('#nav')
            var navHead = document.querySelector('#nav_head')
            if(window.scrollY > 70 && this.show === false){
                nav.classList.toggle('scrolled')
                navHead.classList.toggle('hidden')
                this.show = true
            }

            if(window.scrollY < 70 && this.show === true){
                nav.classList.toggle('scrolled')
                navHead.classList.toggle('hidden')
                this.show = false
            }
        },

        changeWa: function () {
          this.showWa = !this.showWa  
          this.showWaFloating = false
        },
        changeWaFloating: function () {
          this.showWaFloating = !this.showWaFloating  
          this.showWa = false
        },

        loadDetail: function (blogID) {
            this.$modal.show('loading')
            const axios = require('axios')

            let main = this
            let url = 'https://dtpx1.ocatelkom.co.id/api/blogs/read/' + this.$cookies.get('lang_oca') + '/' + blogID
            axios.get(url)
                .then(function (response) {
                    main.konten = response.data
                })
                .catch(function (error) {

                    //PANGGIL MODAL DENGAN PARAMETER
                    main.$modal.show('error', {
                        title: "ERROR " + error.response.data.errors[0].code,
                        message: error.response.data.errors[0].message
                    })
                })
        }
    },
    created: function () {
        if(!this.$cookies.isKey('lang_oca')){
            this.$cookies.set('lang_oca', 'id')
        }

        //LISTENER UNTUK SCROLL NAVBAR
      window.addEventListener('scroll', this.handleScroll);

        //SIMPAN URL DALAM VARIABLE UNTUK SHARE SOCIAL MEDIA
        this.url = window.location.href

        //AMBIL PARAMETER GET
        let uri = window.location.search.substring(1);
        let params = new URLSearchParams(uri);
        if(params.get("blog") != null){
          //LOAD DETAIL BLOG
            this.loadDetail(params.get("blog"))
        }
    },
    destroyed: function () {
      window.removeEventListener('scroll', this.handleScroll);
    },

    //INJECT META HTML
    metaInfo(){
      return {
        title: `${this.$cookies.get("title")} - Telkom OCA`,
        meta: [
          {
            'http-equiv': 'X-UA-Compatible',
            content: 'IE=edge,chrome=1'
          },
          {
            'http-equiv': 'Content-Type',
            content: 'text/html; charset=utf-8'
          },
          {
            name: 'keywords',
            content: this.$cookies.get("keywords")
          },
          {
            name: 'twitter:site',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:account_id',
            content: '1144449564482494464'
          },
          {
            property: 'fb:page_id',
            content: '105307700816182'
          },
          {
            property: 'og:image',
            content: this.$cookies.get("thumbnail")
          },
          {
            property: 'og:title',
            content: this.$cookies.get("title") + ' - Telkom OCA'
          },
          {
            property: 'og:description',
            content: this.$cookies.get("description")
          },
          {
            property: 'og:type',
            content: 'article'
          },
          {
            property: 'og:site_name',
            content: 'Telkom OCA - Omnichannel platform'
          },
          {
            property: 'og:url',
            content: window.location.href
          },
          {
            property: 'twitter:title',
            content: this.$cookies.get("title") + ' - Telkom OCA'
          },
          {
            property: 'twitter:description',
            content: this.$cookies.get("description")
          },
          {
            property: 'twitter:card',
            content: "summary_large_image"
          },
          {
            property: 'twitter:image:src',
            content: this.$cookies.get("thumbnail")
          },
          {
            property: 'twitter:creator',
            content: "@Ask_OCA"
          },
        ]
      }
    }
  }
</script>

<style scoped>

  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

  #app {
    font-family: Lato;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

</style>
