<template>
    <div id="section-8" class="bg-complementer-4 smx:bg-complementer-6 z-50">
    <div style="border-radius: 80px 0px 0px 0px" class=" bg-complementer-5 pt-16 lg:pt-24 px-8 lg:ml-8">
      <div class="bg-complementer-5 relative lg:max-w-screen-xl self-auto items-center justify-center mx-auto">
        <div style="border-radius: 80px 0px 0px 0px" class="flex flex-col bg-complementer-5 ">
          <div class="flex smx:flex-col lg:justify-between w-full lg:pb-10">
              <div class="flex-col justify-center">
                  <div class="w-56 h-auto">
                      <img src="../../assets/image/logo_white.png" class="w-full">
                  </div>
                  <p class="text-sm text-white mt-6">Jl. Timor No.16, RT.9/RW.4, Gondangdia,<br/> Kec. Menteng, Kota Jakarta Pusat, Daerah <br/> Khusus Ibukota Jakarta 10350</p>

              </div>
              <div class="flex flex-wrap justify-center">
                  <div class="w-full flex justify-end smx:hidden">
                    <div class="flex flex-col pr-4 lg:pr-12">
                      <a class="text-md hover:text-white text-white font-semibold mb-4">Product</a>
                      <a @click="goto('product/blast');" class="cursor-pointer text-md hover:text-white text-white my-1">OCA Blast</a>
                      <a @click="goto('product/interaction');" class="cursor-pointer text-md hover:text-white text-white my-1">OCA Interaction</a>
                      <a @click="goto('product/profiling');" class="cursor-pointer text-md hover:text-white text-white my-1">OCA Profiling</a>
                    </div>
                    <!-- <div class="flex flex-col pr-4 lg:pr-12">
                      <a class="text-md hover:text-white text-white font-semibold mb-4">Solutions</a>
                      <a class="text-md hover:text-white cursor-pointer text-white my-1">UMKM</a>
                      <a class="text-md hover:text-white cursor-pointer text-white my-1">Startup</a>
                      <a class="text-md hover:text-white cursor-pointer text-white my-1">SME</a>
                      <a class="text-md hover:text-white cursor-pointer text-white my-1">Enterprise</a>
                    </div> -->
                    <div class="flex flex-col pr-4 lg:pr-12">
                      <a class="text-md hover:text-white text-white font-semibold mb-4">Pricing</a>
                      <a @click="goto('pricing');" class="cursor-pointer text-md hover:text-white text-white my-1">Pricing</a>
                    </div>
                    <!-- <div class="flex flex-col pr-4 lg:pr-12">
                      <a class="text-md hover:text-white cursor-pointer text-white font-semibold mb-4">Resources</a>
                      <a class="text-md hover:text-white cursor-pointer text-white my-1 ">FAQ</a>
                      <a class="text-md hover:text-white cursor-pointer text-white my-1">API Documentation</a>
                    </div> -->
                    <div class="flex flex-col pr-4 lg:pr-12">
                      <a class="text-md hover:text-white text-white font-semibold mb-4">Company</a>
                      <!-- <a @click="goto('about-us/tentang-oca')" class="text-md cursor-pointer hover:text-white text-white my-1">Tentang OCA</a> -->
                      <!-- <a class="text-md hover:text-white cursor-pointer text-white my-1">Career</a> -->
                      <a href="https://ocaindonesia.co.id/blog?page=1" target="_blank" class="text-md hover:text-white cursor-pointer text-white my-1">Blog</a>
                    </div>
                  </div>
                  <div class="w-full flex my-4 lg:hidden">
                    <div class="flex flex-1 flex-col">
                      <div class="flex flex-col my-4">
                        <a class="text-md hover:text-white text-white font-semibold mb-4">Product</a>
                        <a @click="goto('product/blast');" class="text-md hover:text-white cursor-pointer text-white my-1">OCA Blast</a>
                        <a @click="goto('product/interaction');" class="text-md hover:text-white cursor-pointer text-white my-1">OCA Integration</a>
                        <a @click="goto('product/profiling');" class="text-md hover:text-white cursor-pointer text-white my-1">OCA Profiling</a>
                      </div>
                      <!-- <div class="flex flex-col my-4">
                        <a class="text-md hover:text-white text-white font-semibold mb-4">Resources</a>
                        <a class="text-md hover:text-white text-white cursor-pointer my-1 ">FAQ</a>
                        <a class="text-md hover:text-white text-white cursor-pointer my-1">API Documentation</a>
                      </div> -->
                      <div class="flex flex-col my-4">
                        <a class="text-md hover:text-white text-white font-semibold mb-4">Pricing</a>
                        <a @click="goto('pricing');" class="text-md cursor-pointer hover:text-white text-white my-1">Pricing</a>
                      </div>
                    </div>
                    <div class="flex flex-1 flex-col">
                      <!-- <div class="flex flex-col my-4">
                        <a class="text-md hover:text-white text-white font-semibold mb-4">Solutions</a>
                        <a class="text-md hover:text-white text-white my-1 cursor-pointer">UMKM</a>
                        <a class="text-md hover:text-white text-white my-1 cursor-pointer">Startup</a>
                        <a class="text-md hover:text-white text-white my-1 cursor-pointer">SME</a>
                        <a class="text-md hover:text-white text-white my-1 cursor-pointer">Enterprise</a>
                      </div> -->
                      <div class="flex flex-col my-4">
                        <a class="text-md hover:text-white text-white font-semibold mb-4">Company</a>
                        <!-- <a @click="goto('about-us/tentang-oca')" class="cursor-pointer text-md hover:text-white text-white my-1">Tentang OCA</a> -->
                        <!-- <a class="text-md hover:text-white text-white cursor-pointer my-1">Career</a> -->
                        <a href="https://ocaindonesia.co.id/blog?page=1" target="_blank" class="text-md hover:text-white text-white cursor-pointer my-1">Blog</a>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="w-full border-t border-b border-neutral-40 my-4 smx:hidden">
            <div class="flex justify-between py-4">
              <div class="flex flex-row invisible">
                <div class="self-center text-sm text-white">Subscribe newsletter kami.</div>
                <oca-button class="mx-4" classValue="rounded-md" >Subscribe</oca-button>
              </div>
              <div class="flex flex-row">
                <a class="self-center mx-2" target="_blank" href="https://www.linkedin.com/company/ocaindonesia/mycompany/">
                <svg class="self-center mx-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.868 2.625H4.13203C3.3 2.625 2.625 3.3 2.625 4.13203V19.868C2.625 20.7 3.3 21.375 4.13203 21.375H19.868C20.7 21.375 21.375 20.7 21.375 19.868V4.13203C21.375 3.3 20.7 2.625 19.868 2.625ZM19.868 19.875C9.37266 19.8727 4.125 19.8703 4.125 19.868C4.12734 9.37266 4.12969 4.125 4.13203 4.125C14.6273 4.12734 19.875 4.12969 19.875 4.13203C19.8727 14.6273 19.8703 19.875 19.868 19.875ZM5.40469 9.65391H8.18672V18.6023H5.40469V9.65391ZM6.79688 8.43047C7.68516 8.43047 8.40937 7.70859 8.40937 6.81797C8.40937 6.60621 8.36767 6.39653 8.28663 6.20089C8.2056 6.00525 8.08682 5.82749 7.93709 5.67776C7.78735 5.52802 7.60959 5.40925 7.41395 5.32821C7.21831 5.24718 7.00863 5.20547 6.79688 5.20547C6.58512 5.20547 6.37544 5.24718 6.1798 5.32821C5.98416 5.40925 5.8064 5.52802 5.65667 5.67776C5.50693 5.82749 5.38815 6.00525 5.30712 6.20089C5.22608 6.39653 5.18437 6.60621 5.18437 6.81797C5.18203 7.70859 5.90391 8.43047 6.79688 8.43047ZM12.7102 14.175C12.7102 13.0078 12.9328 11.8781 14.3789 11.8781C15.8039 11.8781 15.825 13.2117 15.825 14.25V18.6023H18.6047V13.6945C18.6047 11.2852 18.0844 9.43125 15.2695 9.43125C13.9172 9.43125 13.0102 10.1742 12.6375 10.8773H12.6V9.65391H9.93047V18.6023H12.7102V14.175Z" fill="white"/>
                </svg>
                </a>

                <a class="self-center mx-2" target="_blank" href="https://www.facebook.com/OCA.IDN/">
                <svg class="self-center mx-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.625 2.625H3.375C2.96016 2.625 2.625 2.96016 2.625 3.375V20.625C2.625 21.0398 2.96016 21.375 3.375 21.375H20.625C21.0398 21.375 21.375 21.0398 21.375 20.625V3.375C21.375 2.96016 21.0398 2.625 20.625 2.625ZM19.875 19.875H15.5602V14.1141H17.9977L18.3633 11.2852H15.5602V9.47812C15.5602 8.65781 15.7875 8.1 16.9617 8.1H18.4594V5.56875C18.1992 5.53359 17.3109 5.45625 16.275 5.45625C14.1141 5.45625 12.6352 6.77578 12.6352 9.19687V11.2828H10.193V14.1117H12.6375V19.875H4.125V4.125H19.875V19.875Z" fill="white"/>
                </svg>
                </a>

                <a class="self-center mx-2" target="_blank" href="https://www.instagram.com/oca.indonesia/?hl=id">
                <svg class="self-center mx-2" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 0C6.55762 0 6.2505 0.01125 5.29087 0.054C4.33125 0.099 3.67762 0.24975 3.105 0.4725C2.50436 0.698421 1.9603 1.0528 1.51088 1.51088C1.05309 1.96053 0.698746 2.50452 0.4725 3.105C0.24975 3.6765 0.097875 4.33125 0.054 5.2875C0.01125 6.24937 0 6.55538 0 9.00113C0 11.4446 0.01125 11.7506 0.054 12.7103C0.099 13.6688 0.24975 14.3224 0.4725 14.895C0.703125 15.4867 1.01025 15.9885 1.51088 16.4891C2.01038 16.9897 2.51213 17.298 3.10388 17.5275C3.67763 17.7502 4.33013 17.9021 5.28863 17.946C6.24938 17.9888 6.55538 18 9 18C11.4446 18 11.7495 17.9888 12.7103 17.946C13.6676 17.901 14.3235 17.7502 14.8961 17.5275C15.4964 17.3015 16.04 16.9471 16.4891 16.4891C16.9897 15.9885 17.2969 15.4867 17.5275 14.895C17.7491 14.3224 17.901 13.6688 17.946 12.7103C17.9888 11.7506 18 11.4446 18 9C18 6.55538 17.9888 6.24938 17.946 5.28863C17.901 4.33125 17.7491 3.6765 17.5275 3.105C17.3013 2.5045 16.9469 1.96051 16.4891 1.51088C16.0398 1.05264 15.4957 0.698226 14.895 0.4725C14.3212 0.24975 13.6665 0.097875 12.7091 0.054C11.7484 0.01125 11.4435 0 8.99775 0H9.00113H9ZM8.19337 1.62225H9.00113C11.4041 1.62225 11.6887 1.63013 12.6371 1.674C13.5146 1.71338 13.9916 1.86075 14.3089 1.98338C14.7285 2.1465 15.0289 2.34225 15.3439 2.65725C15.6589 2.97225 15.8535 3.2715 16.0166 3.69225C16.1404 4.00838 16.2866 4.48538 16.326 5.36287C16.3699 6.31125 16.3789 6.59588 16.3789 8.99775C16.3789 11.3996 16.3699 11.6854 16.326 12.6337C16.2866 13.5112 16.1392 13.9871 16.0166 14.3044C15.8723 14.6952 15.642 15.0485 15.3427 15.3383C15.0277 15.6532 14.7285 15.8479 14.3078 16.011C13.9928 16.1348 13.5157 16.281 12.6371 16.3215C11.6887 16.3643 11.4041 16.3744 9.00113 16.3744C6.59813 16.3744 6.31238 16.3643 5.364 16.3215C4.4865 16.281 4.01062 16.1348 3.69338 16.011C3.30244 15.8669 2.94877 15.637 2.65837 15.3383C2.35884 15.048 2.12819 14.6944 1.98338 14.3032C1.86075 13.9871 1.71338 13.5101 1.674 12.6326C1.63125 11.6842 1.62225 11.3996 1.62225 8.9955C1.62225 6.5925 1.63125 6.309 1.674 5.36062C1.7145 4.48312 1.86075 4.00612 1.9845 3.68887C2.14762 3.26925 2.34337 2.96887 2.65837 2.65387C2.97337 2.33888 3.27262 2.14425 3.69338 1.98112C4.01062 1.85738 4.4865 1.71113 5.364 1.67062C6.19425 1.63238 6.516 1.62113 8.19337 1.62V1.62225ZM13.8049 3.11625C13.663 3.11625 13.5226 3.14419 13.3916 3.19846C13.2605 3.25274 13.1415 3.33229 13.0412 3.43257C12.9409 3.53286 12.8614 3.65192 12.8071 3.78295C12.7528 3.91398 12.7249 4.05442 12.7249 4.19625C12.7249 4.33808 12.7528 4.47852 12.8071 4.60955C12.8614 4.74058 12.9409 4.85964 13.0412 4.95993C13.1415 5.06021 13.2605 5.13976 13.3916 5.19404C13.5226 5.24831 13.663 5.27625 13.8049 5.27625C14.0913 5.27625 14.366 5.16246 14.5686 4.95993C14.7711 4.75739 14.8849 4.48268 14.8849 4.19625C14.8849 3.90982 14.7711 3.63511 14.5686 3.43257C14.366 3.23004 14.0913 3.11625 13.8049 3.11625ZM9.00113 4.3785C8.38808 4.36894 7.77926 4.48142 7.2101 4.70941C6.64094 4.9374 6.12283 5.27633 5.68592 5.70648C5.24901 6.13662 4.90203 6.64939 4.6652 7.21492C4.42836 7.78045 4.30639 8.38744 4.30639 9.00056C4.30639 9.61368 4.42836 10.2207 4.6652 10.7862C4.90203 11.3517 5.24901 11.8645 5.68592 12.2946C6.12283 12.7248 6.64094 13.0637 7.2101 13.2917C7.77926 13.5197 8.38808 13.6322 9.00113 13.6226C10.2145 13.6037 11.3717 13.1084 12.2231 12.2437C13.0745 11.3789 13.5516 10.2141 13.5516 9.00056C13.5516 7.78706 13.0745 6.62221 12.2231 5.75747C11.3717 4.89272 10.2145 4.39743 9.00113 4.3785ZM9.00113 5.99963C9.79687 5.99963 10.56 6.31573 11.1227 6.87841C11.6854 7.44109 12.0015 8.20425 12.0015 9C12.0015 9.79575 11.6854 10.5589 11.1227 11.1216C10.56 11.6843 9.79687 12.0004 9.00113 12.0004C8.20538 12.0004 7.44222 11.6843 6.87954 11.1216C6.31686 10.5589 6.00075 9.79575 6.00075 9C6.00075 8.20425 6.31686 7.44109 6.87954 6.87841C7.44222 6.31573 8.20538 5.99963 9.00113 5.99963Z" fill="white"/>
                </svg>
                </a>

                <a class="self-center mx-2" target="_blank" href="https://oca-telekomunikasi.medium.com/">
                <svg class="self-center mx-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.5633 6.55781L21 5.17734V4.875H16.0242L12.4781 13.7438L8.44453 4.875H3.22734V5.17734L4.90547 7.20703C5.06953 7.35703 5.15391 7.57734 5.13281 7.79766V15.7734C5.18438 16.0617 5.09297 16.3547 4.89141 16.5633L3 18.8672V19.1648H8.35781V18.8625L6.46875 16.5656C6.36754 16.4629 6.2914 16.3381 6.24628 16.2011C6.20116 16.0641 6.18826 15.9186 6.20859 15.7758V8.87578L10.9125 19.1695H11.4586L15.5039 8.87578V17.0766C15.5039 17.2922 15.5039 17.3367 15.3633 17.4797L13.9078 18.893V19.1953H20.9672V18.893L19.5633 17.5125C19.4414 17.4188 19.3781 17.2617 19.4039 17.1094V6.96094C19.3918 6.88562 19.4002 6.80843 19.4282 6.73748C19.4563 6.66654 19.5029 6.60447 19.5633 6.55781Z" fill="white"/>
                </svg>
                </a>

                <a class="self-center mx-2" target="_blank" href="https://twitter.com/Ask_OCA?s=20">
                  <svg class="self-center mx-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 8.64844C17.5625 8.84375 17.0898 8.97656 16.582 9.04688C17.1133 8.73438 17.4766 8.27734 17.6719 7.67578C17.1641 7.97266 16.6406 8.17188 16.1016 8.27344C15.625 7.75781 15.0273 7.5 14.3086 7.5C13.6289 7.5 13.0488 7.74023 12.5684 8.2207C12.0879 8.70117 11.8477 9.28125 11.8477 9.96094C11.8477 10.1875 11.8672 10.375 11.9062 10.5234C10.8984 10.4688 9.95312 10.2148 9.07031 9.76172C8.1875 9.30859 7.4375 8.70312 6.82031 7.94531C6.59375 8.33594 6.48047 8.75 6.48047 9.1875C6.48047 10.0781 6.83594 10.7617 7.54688 11.2383C7.17969 11.2305 6.78906 11.1289 6.375 10.9336V10.957C6.375 11.543 6.57031 12.0645 6.96094 12.5215C7.35156 12.9785 7.83203 13.2617 8.40234 13.3711C8.17578 13.4336 7.97656 13.4648 7.80469 13.4648C7.70312 13.4648 7.55078 13.4492 7.34766 13.418C7.51172 13.9102 7.80273 14.3164 8.2207 14.6367C8.63867 14.957 9.11328 15.1211 9.64453 15.1289C8.73828 15.832 7.71875 16.1836 6.58594 16.1836C6.38281 16.1836 6.1875 16.1719 6 16.1484C7.15625 16.8828 8.41406 17.25 9.77344 17.25C10.6484 17.25 11.4688 17.1113 12.2344 16.834C13 16.5566 13.6562 16.1855 14.2031 15.7207C14.75 15.2559 15.2207 14.7207 15.6152 14.1152C16.0098 13.5098 16.3027 12.877 16.4941 12.2168C16.6855 11.5566 16.7812 10.8984 16.7812 10.2422C16.7812 10.1016 16.7773 9.99609 16.7695 9.92578C17.2617 9.57422 17.6719 9.14844 18 8.64844ZM21 6.375V17.625C21 18.5547 20.6699 19.3496 20.0098 20.0098C19.3496 20.6699 18.5547 21 17.625 21H6.375C5.44531 21 4.65039 20.6699 3.99023 20.0098C3.33008 19.3496 3 18.5547 3 17.625V6.375C3 5.44531 3.33008 4.65039 3.99023 3.99023C4.65039 3.33008 5.44531 3 6.375 3H17.625C18.5547 3 19.3496 3.33008 20.0098 3.99023C20.6699 4.65039 21 5.44531 21 6.375Z" fill="white"/>
                  </svg>
                </a>

                <a class="self-center mx-2" target="_blank" href="https://www.youtube.com/channel/UCLNMdDMoe9RTdJw1_yjesfA">
                  <svg class="self-center mx-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.6338 7.98131C20.5314 7.60124 20.3312 7.25462 20.0532 6.97597C19.7751 6.69731 19.429 6.49633 19.0491 6.39303C17.6407 6.0063 12.0062 6.00001 12.0062 6.00001C12.0062 6.00001 6.37262 5.99371 4.96331 6.36335C4.58371 6.4714 4.23826 6.67523 3.96013 6.95525C3.682 7.23528 3.48052 7.5821 3.37504 7.96242C3.0036 9.37082 3 12.292 3 12.292C3 12.292 2.9964 15.2275 3.36514 16.6215C3.572 17.3922 4.17907 18.0011 4.95072 18.2089C6.37352 18.5956 11.9927 18.6019 11.9927 18.6019C11.9927 18.6019 17.6273 18.6082 19.0357 18.2394C19.4156 18.1363 19.7621 17.9358 20.0408 17.6577C20.3195 17.3796 20.5209 17.0336 20.6248 16.6539C20.9972 15.2464 20.9999 12.3261 20.9999 12.3261C20.9999 12.3261 21.0179 9.38971 20.6338 7.98131ZM10.2039 14.9981L10.2084 9.60196L14.8914 12.3045L10.2039 14.9981Z" fill="white"/>
                  </svg>
                </a>

                <a class="self-center mx-2" target="_blank" href="https://vt.tiktok.com/ZSJUKdkhB/">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.2131 3.015C13.1956 3 14.1705 3.0075 15.1455 3C15.2055 4.14749 15.618 5.31747 16.458 6.12746C17.298 6.95995 18.483 7.34245 19.638 7.46994V10.4924C18.558 10.4549 17.4705 10.2299 16.488 9.76492C16.0605 9.56992 15.663 9.32242 15.273 9.06742C15.2655 11.2574 15.2805 13.4474 15.258 15.6298C15.198 16.6798 14.853 17.7223 14.2455 18.5848C13.2631 20.0248 11.5606 20.9623 9.8131 20.9923C8.74062 21.0523 7.66813 20.7598 6.75314 20.2198C5.23816 19.3273 4.17317 17.6923 4.01568 15.9373C4.00068 15.5623 3.99318 15.1873 4.00818 14.8199C4.14317 13.3949 4.84817 12.0299 5.94315 11.0999C7.18814 10.0199 8.92811 9.50242 10.5556 9.80991C10.5706 10.9199 10.5256 12.0299 10.5256 13.1399C9.7831 12.8999 8.91312 12.9674 8.26062 13.4174C7.78813 13.7249 7.42813 14.1974 7.24064 14.7299C7.08314 15.1123 7.12814 15.5323 7.13564 15.9373C7.31563 17.1673 8.50062 18.2023 9.7606 18.0898C10.6006 18.0823 11.4031 17.5948 11.8381 16.8823C11.9806 16.6348 12.1381 16.3798 12.1456 16.0873C12.2206 14.7449 12.1906 13.4099 12.1981 12.0674C12.2056 9.04492 12.1906 6.02996 12.2131 3.015Z" fill="white"/>
                  </svg>
                </a>

              </div>
            </div>
          </div>
          <div class="w-full lg:hidden my-4">
            <div class="flex flex-col">
              <div class="flex justify-between border-t border-b border-neutral-40 py-4">
                <div class="self-center text-sm text-white">Subscribe newsletter kami.</div>
                <oca-button classValue="rounded-md" >Subscribe</oca-button>
              </div>
              <div class="flex flex-row my-4">
                <a class="self-center mx-2" target="_blank" href="https://www.linkedin.com/company/ocaindonesia/mycompany/">
                <svg class="self-center mx-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.868 2.625H4.13203C3.3 2.625 2.625 3.3 2.625 4.13203V19.868C2.625 20.7 3.3 21.375 4.13203 21.375H19.868C20.7 21.375 21.375 20.7 21.375 19.868V4.13203C21.375 3.3 20.7 2.625 19.868 2.625ZM19.868 19.875C9.37266 19.8727 4.125 19.8703 4.125 19.868C4.12734 9.37266 4.12969 4.125 4.13203 4.125C14.6273 4.12734 19.875 4.12969 19.875 4.13203C19.8727 14.6273 19.8703 19.875 19.868 19.875ZM5.40469 9.65391H8.18672V18.6023H5.40469V9.65391ZM6.79688 8.43047C7.68516 8.43047 8.40937 7.70859 8.40937 6.81797C8.40937 6.60621 8.36767 6.39653 8.28663 6.20089C8.2056 6.00525 8.08682 5.82749 7.93709 5.67776C7.78735 5.52802 7.60959 5.40925 7.41395 5.32821C7.21831 5.24718 7.00863 5.20547 6.79688 5.20547C6.58512 5.20547 6.37544 5.24718 6.1798 5.32821C5.98416 5.40925 5.8064 5.52802 5.65667 5.67776C5.50693 5.82749 5.38815 6.00525 5.30712 6.20089C5.22608 6.39653 5.18437 6.60621 5.18437 6.81797C5.18203 7.70859 5.90391 8.43047 6.79688 8.43047ZM12.7102 14.175C12.7102 13.0078 12.9328 11.8781 14.3789 11.8781C15.8039 11.8781 15.825 13.2117 15.825 14.25V18.6023H18.6047V13.6945C18.6047 11.2852 18.0844 9.43125 15.2695 9.43125C13.9172 9.43125 13.0102 10.1742 12.6375 10.8773H12.6V9.65391H9.93047V18.6023H12.7102V14.175Z" fill="white"/>
                </svg>
                </a>

                <a class="self-center mx-2" target="_blank" href="https://www.facebook.com/OCA.IDN/">
                <svg class="self-center mx-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.625 2.625H3.375C2.96016 2.625 2.625 2.96016 2.625 3.375V20.625C2.625 21.0398 2.96016 21.375 3.375 21.375H20.625C21.0398 21.375 21.375 21.0398 21.375 20.625V3.375C21.375 2.96016 21.0398 2.625 20.625 2.625ZM19.875 19.875H15.5602V14.1141H17.9977L18.3633 11.2852H15.5602V9.47812C15.5602 8.65781 15.7875 8.1 16.9617 8.1H18.4594V5.56875C18.1992 5.53359 17.3109 5.45625 16.275 5.45625C14.1141 5.45625 12.6352 6.77578 12.6352 9.19687V11.2828H10.193V14.1117H12.6375V19.875H4.125V4.125H19.875V19.875Z" fill="white"/>
                </svg>
                </a>
                <a class="self-center mx-2" target="_blank" href="https://www.instagram.com/oca.indonesia/?hl=id">
                <svg class="self-center mx-2" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 0C6.55762 0 6.2505 0.01125 5.29087 0.054C4.33125 0.099 3.67762 0.24975 3.105 0.4725C2.50436 0.698421 1.9603 1.0528 1.51088 1.51088C1.05309 1.96053 0.698746 2.50452 0.4725 3.105C0.24975 3.6765 0.097875 4.33125 0.054 5.2875C0.01125 6.24937 0 6.55538 0 9.00113C0 11.4446 0.01125 11.7506 0.054 12.7103C0.099 13.6688 0.24975 14.3224 0.4725 14.895C0.703125 15.4867 1.01025 15.9885 1.51088 16.4891C2.01038 16.9897 2.51213 17.298 3.10388 17.5275C3.67763 17.7502 4.33013 17.9021 5.28863 17.946C6.24938 17.9888 6.55538 18 9 18C11.4446 18 11.7495 17.9888 12.7103 17.946C13.6676 17.901 14.3235 17.7502 14.8961 17.5275C15.4964 17.3015 16.04 16.9471 16.4891 16.4891C16.9897 15.9885 17.2969 15.4867 17.5275 14.895C17.7491 14.3224 17.901 13.6688 17.946 12.7103C17.9888 11.7506 18 11.4446 18 9C18 6.55538 17.9888 6.24938 17.946 5.28863C17.901 4.33125 17.7491 3.6765 17.5275 3.105C17.3013 2.5045 16.9469 1.96051 16.4891 1.51088C16.0398 1.05264 15.4957 0.698226 14.895 0.4725C14.3212 0.24975 13.6665 0.097875 12.7091 0.054C11.7484 0.01125 11.4435 0 8.99775 0H9.00113H9ZM8.19337 1.62225H9.00113C11.4041 1.62225 11.6887 1.63013 12.6371 1.674C13.5146 1.71338 13.9916 1.86075 14.3089 1.98338C14.7285 2.1465 15.0289 2.34225 15.3439 2.65725C15.6589 2.97225 15.8535 3.2715 16.0166 3.69225C16.1404 4.00838 16.2866 4.48538 16.326 5.36287C16.3699 6.31125 16.3789 6.59588 16.3789 8.99775C16.3789 11.3996 16.3699 11.6854 16.326 12.6337C16.2866 13.5112 16.1392 13.9871 16.0166 14.3044C15.8723 14.6952 15.642 15.0485 15.3427 15.3383C15.0277 15.6532 14.7285 15.8479 14.3078 16.011C13.9928 16.1348 13.5157 16.281 12.6371 16.3215C11.6887 16.3643 11.4041 16.3744 9.00113 16.3744C6.59813 16.3744 6.31238 16.3643 5.364 16.3215C4.4865 16.281 4.01062 16.1348 3.69338 16.011C3.30244 15.8669 2.94877 15.637 2.65837 15.3383C2.35884 15.048 2.12819 14.6944 1.98338 14.3032C1.86075 13.9871 1.71338 13.5101 1.674 12.6326C1.63125 11.6842 1.62225 11.3996 1.62225 8.9955C1.62225 6.5925 1.63125 6.309 1.674 5.36062C1.7145 4.48312 1.86075 4.00612 1.9845 3.68887C2.14762 3.26925 2.34337 2.96887 2.65837 2.65387C2.97337 2.33888 3.27262 2.14425 3.69338 1.98112C4.01062 1.85738 4.4865 1.71113 5.364 1.67062C6.19425 1.63238 6.516 1.62113 8.19337 1.62V1.62225ZM13.8049 3.11625C13.663 3.11625 13.5226 3.14419 13.3916 3.19846C13.2605 3.25274 13.1415 3.33229 13.0412 3.43257C12.9409 3.53286 12.8614 3.65192 12.8071 3.78295C12.7528 3.91398 12.7249 4.05442 12.7249 4.19625C12.7249 4.33808 12.7528 4.47852 12.8071 4.60955C12.8614 4.74058 12.9409 4.85964 13.0412 4.95993C13.1415 5.06021 13.2605 5.13976 13.3916 5.19404C13.5226 5.24831 13.663 5.27625 13.8049 5.27625C14.0913 5.27625 14.366 5.16246 14.5686 4.95993C14.7711 4.75739 14.8849 4.48268 14.8849 4.19625C14.8849 3.90982 14.7711 3.63511 14.5686 3.43257C14.366 3.23004 14.0913 3.11625 13.8049 3.11625ZM9.00113 4.3785C8.38808 4.36894 7.77926 4.48142 7.2101 4.70941C6.64094 4.9374 6.12283 5.27633 5.68592 5.70648C5.24901 6.13662 4.90203 6.64939 4.6652 7.21492C4.42836 7.78045 4.30639 8.38744 4.30639 9.00056C4.30639 9.61368 4.42836 10.2207 4.6652 10.7862C4.90203 11.3517 5.24901 11.8645 5.68592 12.2946C6.12283 12.7248 6.64094 13.0637 7.2101 13.2917C7.77926 13.5197 8.38808 13.6322 9.00113 13.6226C10.2145 13.6037 11.3717 13.1084 12.2231 12.2437C13.0745 11.3789 13.5516 10.2141 13.5516 9.00056C13.5516 7.78706 13.0745 6.62221 12.2231 5.75747C11.3717 4.89272 10.2145 4.39743 9.00113 4.3785ZM9.00113 5.99963C9.79687 5.99963 10.56 6.31573 11.1227 6.87841C11.6854 7.44109 12.0015 8.20425 12.0015 9C12.0015 9.79575 11.6854 10.5589 11.1227 11.1216C10.56 11.6843 9.79687 12.0004 9.00113 12.0004C8.20538 12.0004 7.44222 11.6843 6.87954 11.1216C6.31686 10.5589 6.00075 9.79575 6.00075 9C6.00075 8.20425 6.31686 7.44109 6.87954 6.87841C7.44222 6.31573 8.20538 5.99963 9.00113 5.99963Z" fill="white"/>
                </svg>
                </a>

                <a class="self-center mx-2" target="_blank" href="https://oca-telekomunikasi.medium.com/">
                <svg class="self-center mx-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.5633 6.55781L21 5.17734V4.875H16.0242L12.4781 13.7438L8.44453 4.875H3.22734V5.17734L4.90547 7.20703C5.06953 7.35703 5.15391 7.57734 5.13281 7.79766V15.7734C5.18438 16.0617 5.09297 16.3547 4.89141 16.5633L3 18.8672V19.1648H8.35781V18.8625L6.46875 16.5656C6.36754 16.4629 6.2914 16.3381 6.24628 16.2011C6.20116 16.0641 6.18826 15.9186 6.20859 15.7758V8.87578L10.9125 19.1695H11.4586L15.5039 8.87578V17.0766C15.5039 17.2922 15.5039 17.3367 15.3633 17.4797L13.9078 18.893V19.1953H20.9672V18.893L19.5633 17.5125C19.4414 17.4188 19.3781 17.2617 19.4039 17.1094V6.96094C19.3918 6.88562 19.4002 6.80843 19.4282 6.73748C19.4563 6.66654 19.5029 6.60447 19.5633 6.55781Z" fill="white"/>
                </svg>
                </a>

                <a class="self-center mx-2" target="_blank" href="https://oca-telekomunikasi.medium.com/">
                  <svg class="self-center mx-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 8.64844C17.5625 8.84375 17.0898 8.97656 16.582 9.04688C17.1133 8.73438 17.4766 8.27734 17.6719 7.67578C17.1641 7.97266 16.6406 8.17188 16.1016 8.27344C15.625 7.75781 15.0273 7.5 14.3086 7.5C13.6289 7.5 13.0488 7.74023 12.5684 8.2207C12.0879 8.70117 11.8477 9.28125 11.8477 9.96094C11.8477 10.1875 11.8672 10.375 11.9062 10.5234C10.8984 10.4688 9.95312 10.2148 9.07031 9.76172C8.1875 9.30859 7.4375 8.70312 6.82031 7.94531C6.59375 8.33594 6.48047 8.75 6.48047 9.1875C6.48047 10.0781 6.83594 10.7617 7.54688 11.2383C7.17969 11.2305 6.78906 11.1289 6.375 10.9336V10.957C6.375 11.543 6.57031 12.0645 6.96094 12.5215C7.35156 12.9785 7.83203 13.2617 8.40234 13.3711C8.17578 13.4336 7.97656 13.4648 7.80469 13.4648C7.70312 13.4648 7.55078 13.4492 7.34766 13.418C7.51172 13.9102 7.80273 14.3164 8.2207 14.6367C8.63867 14.957 9.11328 15.1211 9.64453 15.1289C8.73828 15.832 7.71875 16.1836 6.58594 16.1836C6.38281 16.1836 6.1875 16.1719 6 16.1484C7.15625 16.8828 8.41406 17.25 9.77344 17.25C10.6484 17.25 11.4688 17.1113 12.2344 16.834C13 16.5566 13.6562 16.1855 14.2031 15.7207C14.75 15.2559 15.2207 14.7207 15.6152 14.1152C16.0098 13.5098 16.3027 12.877 16.4941 12.2168C16.6855 11.5566 16.7812 10.8984 16.7812 10.2422C16.7812 10.1016 16.7773 9.99609 16.7695 9.92578C17.2617 9.57422 17.6719 9.14844 18 8.64844ZM21 6.375V17.625C21 18.5547 20.6699 19.3496 20.0098 20.0098C19.3496 20.6699 18.5547 21 17.625 21H6.375C5.44531 21 4.65039 20.6699 3.99023 20.0098C3.33008 19.3496 3 18.5547 3 17.625V6.375C3 5.44531 3.33008 4.65039 3.99023 3.99023C4.65039 3.33008 5.44531 3 6.375 3H17.625C18.5547 3 19.3496 3.33008 20.0098 3.99023C20.6699 4.65039 21 5.44531 21 6.375Z" fill="white"/>
                  </svg>
                </a>

                <a class="self-center mx-2" target="_blank" href="https://oca-telekomunikasi.medium.com/">
                  <svg class="self-center mx-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.6338 7.98131C20.5314 7.60124 20.3312 7.25462 20.0532 6.97597C19.7751 6.69731 19.429 6.49633 19.0491 6.39303C17.6407 6.0063 12.0062 6.00001 12.0062 6.00001C12.0062 6.00001 6.37262 5.99371 4.96331 6.36335C4.58371 6.4714 4.23826 6.67523 3.96013 6.95525C3.682 7.23528 3.48052 7.5821 3.37504 7.96242C3.0036 9.37082 3 12.292 3 12.292C3 12.292 2.9964 15.2275 3.36514 16.6215C3.572 17.3922 4.17907 18.0011 4.95072 18.2089C6.37352 18.5956 11.9927 18.6019 11.9927 18.6019C11.9927 18.6019 17.6273 18.6082 19.0357 18.2394C19.4156 18.1363 19.7621 17.9358 20.0408 17.6577C20.3195 17.3796 20.5209 17.0336 20.6248 16.6539C20.9972 15.2464 20.9999 12.3261 20.9999 12.3261C20.9999 12.3261 21.0179 9.38971 20.6338 7.98131ZM10.2039 14.9981L10.2084 9.60196L14.8914 12.3045L10.2039 14.9981Z" fill="white"/>
                  </svg>
                </a>

                <a class="self-center mx-2" target="_blank" href="https://oca-telekomunikasi.medium.com/">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.2131 3.015C13.1956 3 14.1705 3.0075 15.1455 3C15.2055 4.14749 15.618 5.31747 16.458 6.12746C17.298 6.95995 18.483 7.34245 19.638 7.46994V10.4924C18.558 10.4549 17.4705 10.2299 16.488 9.76492C16.0605 9.56992 15.663 9.32242 15.273 9.06742C15.2655 11.2574 15.2805 13.4474 15.258 15.6298C15.198 16.6798 14.853 17.7223 14.2455 18.5848C13.2631 20.0248 11.5606 20.9623 9.8131 20.9923C8.74062 21.0523 7.66813 20.7598 6.75314 20.2198C5.23816 19.3273 4.17317 17.6923 4.01568 15.9373C4.00068 15.5623 3.99318 15.1873 4.00818 14.8199C4.14317 13.3949 4.84817 12.0299 5.94315 11.0999C7.18814 10.0199 8.92811 9.50242 10.5556 9.80991C10.5706 10.9199 10.5256 12.0299 10.5256 13.1399C9.7831 12.8999 8.91312 12.9674 8.26062 13.4174C7.78813 13.7249 7.42813 14.1974 7.24064 14.7299C7.08314 15.1123 7.12814 15.5323 7.13564 15.9373C7.31563 17.1673 8.50062 18.2023 9.7606 18.0898C10.6006 18.0823 11.4031 17.5948 11.8381 16.8823C11.9806 16.6348 12.1381 16.3798 12.1456 16.0873C12.2206 14.7449 12.1906 13.4099 12.1981 12.0674C12.2056 9.04492 12.1906 6.02996 12.2131 3.015Z" fill="white"/>
                  </svg>
                </a>

              </div>
            </div>
          </div>
          <div class="flex flex-col w-full lg:py-10 pb-10">
            <div class="flex flex-row my-4">
              <div @click="goto('termcondition')" class="cursor-pointer text-white text-sm font-semibold mr-4">Privacy & Terms</div>
              <div @click="gotoWa()" class="cursor-pointer text-white text-sm font-semibold mx-4">Contact Us</div>
              <div class="flex flex-row mx-4">
                <div class="self-center text-white text-sm font-semibold">ID</div>
                <svg class="self-center mx-1" width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="18" height="6" fill="#F71530"/>
                  <rect y="6" width="18" height="6" fill="white"/>
                </svg>
                <svg class="self-center" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 6L8 10L12 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
            <div class="text-white text-sm my-4">© Copyright 2021 OCA Indonesia, Inc. All rights reserved. Various trademarks held by their respective owners.</div>
          </div>
        </div>
      </div>
    </div>
    </div>
</template>
<script>
import OcaButton from './buttons';
export default {
    name: 'App',
    components: {
      OcaButton,
    },
    methods:{
       goto: function (url) {
          window.location.replace(`${window.location.protocol}//${window.location.host}/${url}`)
      },
      gotoTerms: function () {
          window.location.href = 'https://drive.google.com/file/d/1lHuOa4whOp9iFMVmaAf843tj2MYJtV2i/view'
      },
    gotoWa(){
      window.location.href = "https://api.whatsapp.com/message/CJYNUR2AAUSVG1"
    }
    }
}
</script>