<template>
    <div class="flex justify-between border rounded-md border-neutral-100 focus:border-neutral-100 p-2" >
        <input class="text-sm outline-none" v-bind="$attrs" v-on="$listeners" :type="type === 'password' && currPassword ? 'password' : 'text'" :value="value" @input="$emit('update', $event.target.value)" />
        <div @click="switchVisibility" v-if="type === 'password'" class="cursor-pointer self-center">
            <svg v-if="currPassword"  width="22" height="22" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.9196 7.6C18.8996 2.91 15.0996 0 10.9996 0C6.89958 0 3.09958 2.91 1.07958 7.6C1.02452 7.72617 0.996094 7.86234 0.996094 8C0.996094 8.13766 1.02452 8.27383 1.07958 8.4C3.09958 13.09 6.89958 16 10.9996 16C15.0996 16 18.8996 13.09 20.9196 8.4C20.9746 8.27383 21.0031 8.13766 21.0031 8C21.0031 7.86234 20.9746 7.72617 20.9196 7.6ZM10.9996 14C7.82958 14 4.82958 11.71 3.09958 8C4.82958 4.29 7.82958 2 10.9996 2C14.1696 2 17.1696 4.29 18.8996 8C17.1696 11.71 14.1696 14 10.9996 14ZM10.9996 4C10.2085 4 9.43509 4.2346 8.7773 4.67412C8.1195 5.11365 7.60681 5.73836 7.30406 6.46927C7.00131 7.20017 6.9221 8.00444 7.07644 8.78036C7.23078 9.55628 7.61174 10.269 8.17115 10.8284C8.73056 11.3878 9.44329 11.7688 10.2192 11.9231C10.9951 12.0775 11.7994 11.9983 12.5303 11.6955C13.2612 11.3928 13.8859 10.8801 14.3255 10.2223C14.765 9.56448 14.9996 8.79113 14.9996 8C14.9996 6.93913 14.5782 5.92172 13.828 5.17157C13.0779 4.42143 12.0604 4 10.9996 4ZM10.9996 10C10.604 10 10.2173 9.8827 9.88844 9.66294C9.55954 9.44318 9.30319 9.13082 9.15182 8.76537C9.00044 8.39991 8.96084 7.99778 9.03801 7.60982C9.11518 7.22186 9.30566 6.86549 9.58537 6.58579C9.86507 6.30608 10.2214 6.1156 10.6094 6.03843C10.9974 5.96126 11.3995 6.00087 11.7649 6.15224C12.1304 6.30362 12.4428 6.55996 12.6625 6.88886C12.8823 7.21776 12.9996 7.60444 12.9996 8C12.9996 8.53043 12.7889 9.03914 12.4138 9.41421C12.0387 9.78929 11.53 10 10.9996 10Z" fill="#7A869A"/>
            </svg>
            <svg v-if="!currPassword" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.94018 5.08C10.2909 5.02624 10.6453 4.99949 11.0002 5C14.1802 5 17.1702 7.29 18.9102 11C18.6441 11.5646 18.3435 12.1123 18.0102 12.64C17.9044 12.8038 17.8487 12.995 17.8502 13.19C17.8524 13.4082 17.926 13.6198 18.0596 13.7923C18.1933 13.9648 18.3798 14.0889 18.5905 14.1455C18.8013 14.2022 19.0248 14.1883 19.227 14.1061C19.4291 14.0238 19.5988 13.8777 19.7102 13.69C20.1761 12.9579 20.5808 12.1887 20.9202 11.39C20.9738 11.2652 21.0015 11.1308 21.0015 10.995C21.0015 10.8592 20.9738 10.7248 20.9202 10.6C18.9002 5.91 15.1002 3 11.0002 3C10.5309 2.99764 10.0623 3.0378 9.60019 3.12C9.46886 3.14233 9.34322 3.1903 9.23044 3.26118C9.11766 3.33206 9.01994 3.42446 8.94287 3.5331C8.8658 3.64175 8.81088 3.76451 8.78125 3.89438C8.75162 4.02425 8.74786 4.15868 8.77018 4.29C8.79251 4.42132 8.84048 4.54696 8.91136 4.65975C8.98224 4.77253 9.07464 4.87024 9.18329 4.94732C9.29193 5.02439 9.41469 5.07931 9.54456 5.10894C9.67443 5.13857 9.80886 5.14233 9.94018 5.12V5.08ZM2.71019 1.29C2.61695 1.19676 2.50626 1.1228 2.38443 1.07234C2.26261 1.02188 2.13204 0.995911 2.00019 0.995911C1.86833 0.995911 1.73776 1.02188 1.61594 1.07234C1.49411 1.1228 1.38342 1.19676 1.29019 1.29C1.10188 1.47831 0.996094 1.7337 0.996094 2C0.996094 2.2663 1.10188 2.5217 1.29019 2.71L4.39019 5.8C2.97576 7.16153 1.85004 8.79399 1.08019 10.6C1.02512 10.7262 0.996701 10.8623 0.996701 11C0.996701 11.1377 1.02512 11.2738 1.08019 11.4C3.10019 16.09 6.90019 19 11.0002 19C12.7973 18.9876 14.552 18.4525 16.0502 17.46L19.2902 20.71C19.3831 20.8037 19.4937 20.8781 19.6156 20.9289C19.7375 20.9797 19.8682 21.0058 20.0002 21.0058C20.1322 21.0058 20.2629 20.9797 20.3848 20.9289C20.5066 20.8781 20.6172 20.8037 20.7102 20.71C20.8039 20.617 20.8783 20.5064 20.9291 20.3846C20.9798 20.2627 21.006 20.132 21.006 20C21.006 19.868 20.9798 19.7373 20.9291 19.6154C20.8783 19.4936 20.8039 19.383 20.7102 19.29L2.71019 1.29ZM9.07018 10.48L11.5202 12.93C11.3512 12.9785 11.176 13.002 11.0002 13C10.4698 13 9.96104 12.7893 9.58597 12.4142C9.2109 12.0391 9.00019 11.5304 9.00019 11C8.99814 10.8242 9.02172 10.649 9.07018 10.48ZM11.0002 17C7.82018 17 4.83019 14.71 3.10019 11C3.74627 9.57375 4.66326 8.28658 5.80019 7.21L7.57019 9C7.15443 9.7588 6.99592 10.6319 7.11844 11.4885C7.24096 12.345 7.6379 13.1387 8.24971 13.7505C8.86152 14.3623 9.65522 14.7592 10.5117 14.8817C11.3682 15.0043 12.2414 14.8458 13.0002 14.43L14.5902 16C13.5013 16.6409 12.2636 16.9856 11.0002 17Z" fill="#7A869A"/>
            </svg>
        </div>

    </div>
</template>

<script>
const TYPES = [
  'text', 
  'password', 
  'email', 
  'number', 
  'url', 
  'tel', 
  'search',  
  'color'
]
const includes = types => type => types.includes(type)

export default {
    name: 'OcaInput',
    inheritAttrs: false,
    data: function () {
        return {
            currPassword: true
        }
    },
    props: {
        value: {
            type: [String, Number],
            default: ''
        },
        type: {
            type: String,
            default: 'text',
            validator (value) {
                const isValid = includes(TYPES)(value)
                if (!isValid) {
                console.warn(`allowed types are ${TYPES}`);
                }
                return isValid
            }
        }
    },
    model: {
        prop: "value",
        event: "update"
    },
    methods: {
        switchVisibility() {
            this.currPassword = !this.currPassword
        }
    }
}
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

    #app {
        font-family: Inter;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* ::-webkit-input-placeholder { 
        letter-spacing: 0.025em;
    }
    ::-moz-placeholder { 
        letter-spacing: 0.025em;
    }
    :-ms-input-placeholder {
        letter-spacing: 0.025em;
    }
    :-moz-placeholder { 
        letter-spacing: 0.025em;
    } */

    input[type=number] {
        -moz-appearance: textfield;
    }

    .bg-loading {
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>