<template>
    <!-- BEFORE OPEN DIPANGGIL SAAT MODAL AKAN TERBUKA -->
    <modal name="error" :height="'auto'" :adaptive="false" :resizeable="false" :clickToClose="false" @before-open="beforeOpen">
        <div class="mx-auto">
            <p class="text-lg font-bold text-center">{{title}}</p>
            <p class="mt-4 text-center">{{message}}</p>
            <button class="mt-6 block mx-auto py-2 px-6 rounded-lg bg-main-color text-white focus:outline-none" @click="closeModal">Tutup</button>
        </div>
    </modal>
</template>

<script>
    export default {
        name: "ErrorOverlay",
        data: function () {
            return {
                title: '',
                message: ''
            }
        },
        methods: {
            //AMBIL DATA SAAT DEKLARASI MODAL
            beforeOpen: function (event) {
                this.title = event.params.title
                this.message = event.params.message
            },

            closeModal: function () {
                this.$modal.hide('error')
            }
        }
    }
</script>

<style scoped>
    .bg-loading {
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>