<template>
    <div class="justify-center">
        <div class="flex flex-row md:mx-10 lg:mx-24 justify-center">
            <div class="flex-1 justify-center lg:mt-0 mt-6">
                <img src="../../../assets/image/head-2.png" class="block w-auto h-auto content-end" style="max-height: 700px">
            </div>
            <div class="flex-1 p-6 self-center justify-end">
                <div class="flex flex-col xl:pr-70 xl:ml-8">
                    <div class="text-main-color uppercase font-semibold">Fitur Kami</div>
                    <div class="text-3xl text-custom-4 font-light mt-2 mr-4">Solusi menyebarkan pesan ke pelanggan Anda</div>
                    <div class="text-lg mt-4 text-custom-4">OCA merupakan aplikasi Komunikasi yang berbasis web untuk membantu Anda menjangkau jutaan pelanggan melalui Call, SMS, Email, dan WhatsApp yang dapat diakses secara cepat, mudah, dan kapanpun</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Features",
        data: function () {
            return {
                feature: [

                ]
            }
        },
        created() {
            this.loadFeature()
        },
        methods: {
            loadFeature: function () {
                this.feature = []
                const axios = require('axios')

                let main = this
                let url = 'https://dtpx1.ocatelkom.co.id/api/features/' + this.$cookies.get('lang_oca')
                axios.get(url)
                    .then(function (response) {
                        response.data.forEach(function (item, index) {
                            main.feature.push({
                                judul: item.title,
                                konten: item.description,
                                url_img: item.url_img,
                                index: index
                            })
                        })
                    })
            }
        }
    }
</script>

<style scoped>

</style>