<template>
<!--  ml-24 -->
<div>
    <div class="justify-center sml:hidden">
        <div class="flex flex-col justify-center lg:p-12 xl:px-24 mx-12">
            <p class="text-center text-xl lg:text-3xl xl:text-4xl font-bold text-custom-2 content-font"><span class="text-main-color">OCA </span>untuk UMKM </p>
            <p class="text-center text-md xl:text-xl mt-2 text-custom-2 xl:mx-40 xxl:mx-70">Penawaran paket terbaik dari Kami yang dikhususkan untuk UMKM Indonesia. Dengan mengaktifkan paket manapun Anda dapat segera menggunakan seluruh layanan OCA.</p>
        </div>
        <pricingUmkm v-if="status" :dataPricing="umkm" />
        <pricingNotUmkm v-if="!status" :dataPricing="umkm" />

        <div class="border-t border-custom-7 xl:mx-32 xls:mx-40 slx:mx-56 my-16">
            <div class="flex flex-col mt-6">
                <div class="text-custom-7 text-sm">Terms & Condition:</div>
                <div class="text-custom-7 text-sm my-2">Pengguna akan mendapatkan akun untuk membuka dashboard OCA setelah selesai melakukan pembayaran dan dimulainya proyek ini. Pengguna menggunakan layanan SMS dengan menggunakan masking/username “OCA by Telkom”. SMS hanya dapat dikirim ke provider Telkomsel, Three, dan Smartfren. Konten dalam format teks. Count 1 SMS =160 karakter, 2 SMS = >160 atau 320 karakter, dan seterusnya. Hindari special karakter. Untuk menjadikan email lebih baik, kami sarankan menggunakan HTML. Untuk IVR , kuota yang tertera diatas adalah satuan detik. Penggunaan yang melibihi kuota akan membuat pesan anda tidak dapat terkirim.</div>
            </div>
        </div>
    </div>
<div class="justify-center relative xl:hidden">
        <div class=" absolute top-30 -z-10">
          <svg width="372" height="373" viewBox="0 0 472 473" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M118 236.666C183.169 236.666 236 183.835 236 118.666C236 53.4963 183.169 0.666016 118 0.666016L0 0.666016L0 118.666C0 183.835 52.8303 236.666 118 236.666ZM0 118.666L118 118.666L118 0.666016C52.8303 0.666016 0 53.4963 0 118.666Z" fill="#7DE3D8"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M236 354.666C236 289.497 183.169 236.666 118 236.666C52.8303 236.666 8.00658e-06 289.497 5.15794e-06 354.666L0 472.666L118 472.666C183.169 472.666 236 419.836 236 354.666Z" fill="#3D2C42"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M471.999 116.661C472 116.526 472 116.391 472 116.256C472 52.0496 419.17 0 354 0C288.831 0 236 52.0496 236 116.256C236 116.256 236 116.256 236 116.256H236V236H471.999V116.661Z" fill="#ED1260"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M471.999 236V472H236C236.781 342.009 342.009 236.781 471.999 236Z" fill="#FFB680"/>
          </svg>
      </div>
    <div class="flex flex-col justify-center mx-12">
        <p class="text-center text-2xl font-bold text-custom-2 content-font"><span class="text-main-color">OCA </span>untuk UMKM </p>
        <p class="text-center text-sm mt-3 text-custom-2">Persembahan dari OCA teruntuk UMKM yang ada di Indonesia. Menghadirkan sebuah solusi untuk memudahkan penggunanya dalam berhubungan dengan pelanggan yang dimiliki dengan skala besar.</p>
    </div>
    <div class="flex flex-wrap mx-10 justify-center">
        <agile :dots="false" ref="carousel" @after-change="showCurrentSlide($event)">
            <div v-for="n in 3" :key="n" class="w-full bg-white rounded-xl mt-6 flex flex-wrap justify-center shadow-2xl">
                <div class="relative w-full h-full z-0  px-4" >
                    <div class="relative w-full h-full flex flex-wrap justify-center py-4">
                        <p class="w-full mt-4 text-center text-sm text-white uppercase font-semibold tracking-widest">.</p>
                        <p class="w-full mt-1 text-center text-2xl text-custom-14 font-semibold leading-tight"><span class="text-custom-13 text-sm">OCA BLAST</span> <br/>SMALL</p>
                        
                        <!-- KONTEN PRODUCT -->
                        <div class="w-full mt-4 mb-4">
                            <div class="flex flex-col mx-10">
                                <div class="text-custom-1 font-semibold text-center text-base my-1">4.700 Detik</div>
                                <div class="text-custom-1 font-semibold text-center text-base my-1">290 SMS</div>
                                <div class="text-custom-1 font-semibold text-center text-base my-1">5.700 Email</div>
                            </div>
                        </div>

                        <div class="w-full mb-6">
                            <p class="w-full m-4 text-sm text-custom-5 font-semibold">Biaya langganan:</p>
                            <div class="flex flex-col my-2">
                                <div class="flex flex-row border-b border-custom-16 p-2">
                                    <input class="self-center" type="radio" id="male" name="gender" value="male">
                                    <div class="flex-1 text-custom-1 font-semibold text-sm px-4">1 bulan</div>
                                    <div class="flex-1 text-custom-1 text-sm text-right px-4">Rp 360,000</div>
                                </div>
                                <div class="flex flex-row border-b border-custom-16 p-2">
                                    <input class="self-center" type="radio" id="male" name="gender" value="male">
                                    <div class="flex-1 text-custom-1 font-semibold text-sm px-4">3 bulan</div>
                                    <div class="flex-1 text-custom-1 text-sm text-right px-4">Rp 1,066,000</div>
                                </div>
                                <div class="flex flex-row border-b border-custom-16 p-2">
                                    <input class="self-center" type="radio" id="male" name="gender" value="male">
                                    <div class="flex-1 text-custom-1 font-semibold text-sm px-4">6 bulan</div>
                                    <div class="flex-1 text-custom-1 text-sm text-right px-4">Rp 2,131,000</div>
                                </div>
                                <div class="flex flex-row p-2">
                                    <input class="self-center" type="radio" id="male" name="gender" value="male">
                                    <div class="flex-1 text-custom-1 font-semibold text-sm px-4">12 bulan</div>
                                    <div class="flex-1 text-custom-1 text-sm text-right px-4">Rp 4,261,000</div>
                                </div>
                            </div>
                            <div class="w-full mt-4">
                                <a href=""><button class="transition duration-300 ease-in-out block mx-auto px-12 py-2 border bg-custom-9 text-white text-lg rounded-lg shadow-lg">Pilih</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </agile>
    </div>
    <div class="flex flex-col justify-center mx-12 my-2">
        <div class="border border-custom-7 my-6"></div>
        <p class="text-left text-sm mt-2 text-custom-7">Terms & Condition:</p>
        <p class="text-left text-sm mt-2 text-custom-7">Pengguna akan mendapatkan akun untuk membuka dashboard OCA setelah selesai melakukan pembayaran dan dimulainya proyek ini. Pengguna menggunakan layanan SMS dengan menggunakan masking/username “OCA by Telkom”. SMS hanya dapat dikirim ke provider Telkomsel, Three, dan Smartfren. Konten dalam format teks. Count 1 SMS =160 karakter, 2 SMS = >160 atau 320 karakter, dan seterusnya. Hindari special karakter. Untuk menjadikan email lebih baik, kami sarankan menggunakan HTML. Untuk IVR , kuota yang tertera diatas adalah satuan detik. Penggunaan yang melibihi kuota akan membuat pesan anda tidak dapat terkirim.</p>
    </div>
</div>
</div>
</template>

<script>
import { VueAgile } from 'vue-agile';
import PricingUmkm from './Pricing'
import PricingNotUmkm from './PricingNotUmkm'
    export default {
        name: "HeaderContent",
        data: function () {
            return {
                show: 'medium',
                umkm: {},
                product_choosen: '',
                status: false
            }
        },
        components: {
            agile: VueAgile,
            PricingUmkm,
            PricingNotUmkm
        },
        created() {
            this.loadData()
            this.checkUmkm()
        },
        methods: {
        loadData: function () {
            const axios = require('axios')

            let main = this
            axios.get('https://payment.ocatelkom.co.id/api/v1/price-list', {
                headers: {
                    'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
                }
            })
            .then(function (response) {
                console.log(response);
                main.umkm = response.data.product

                main.blastExtra.push(response.data.product.call)
                main.blastExtra.push(response.data.product.sms)
                main.blastExtra.push(response.data.product.email)

                main.waExtra = response.data.product.whatsapp
                main.profilingPrice = response.data.product.profiling
                main.interactionPrice = response.data.product.interaction
            })
        },

        checkUmkm: function () {
            const axios = require('axios')

            let main = this
            axios.get('https://dtp.ocatelkom.co.id/api/dtp/v1/check-umkm/' + main.$session.get('user_id'), {
            })
            .then(function (response) {
                main.status = response.data.umkm;
                console.log(main.status);
            })
        },

        setModal(type) {
            this.$modal.show('loading')
            if (!this.$session.exists()) {
                this.$modal.show('error', {
                    title: "ERROR " + 'Verification',
                    message: 'You are currently not login as umkm'
                })
                this.$modal.hide('loading')
                setTimeout(() => {
                    window.location.href = "./login"
                }, 2000);
                return;
            }
            if (!this.status) {
                this.$modal.show('error', {
                    title: "ERROR " + 'Verification',
                    message: 'Your account is currently not verified as umkm'
                })
                this.$modal.hide('loading')
                return;
            }
            this.$modal.hide('loading')
            window.location.href = `/plan?package=${type}&plan=${this.product_choosen}`
            return;
        }
            
        }
        
    }
</script>

<style scoped>

</style>