<template>
    <img src="../../../assets/image/bg-atas-2.png" class="w-full" style="max-height: 700px; min-height: 600px"/>
</template>

<script>
    export default {
        name: "HeaderBG"
    }
</script>

<style scoped>

</style>