<!-- TIDAK DIPAKAI TAPI MASIH DISIMPAN BUAT JAGA-JAGA -->
<template>
    <div class="fixed flex voucher-container" style="bottom: 20%">
        <div id="konten" class="voucher-background flex flex-wrap justify-center items-center h-auto bg-gray-800 voucher-form" style="width: 500px;">
            <div class="w-auto">
               <p class="text-sm font-bold text-white text-center">Enter your email address, your voucher will be<br>sent into your email</p>
                <form class="mt-2 w-full flex flex-wrap items-center">
                    <input type="email" class="w-2/3 px-3 py-1 rounded-lg">
                    <div class="w-1/3 px-2">
                        <a class="px-5 py-2 bg-main-color rounded-lg text-white font-bold text-sm">Get It</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="flex flex-wrap px-0 py-10 bg-main-color rounded-r-lg" @click="open" style="cursor:pointer;">
            <p class="w-auto text-white text-sm font-bold diskon">Get 10%<br>voucher</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "KuponFLoat",
        methods: {
            open: function () {
                let konten = document.querySelector('#konten')
                konten.classList.toggle('open')
            }
        }
    }
</script>

<style scoped>
    .diskon {
        /*writing-mode: vertical-rl;*/
        /*text-orientation: mixed;*/
        -webkit-transform: rotate(90deg);
    }
</style>