<template>
    <div>
        <div class="flex flex-col justify-center mt-8 mx-20 -z-10">
            <p class="font-semibold text-md xl:text-xl text-custom-2 xl:mx-20 xls:mx-40 xxl:mx-78">Harga bulanan</p>
            <div class="flex flex-wrap mx-6 mt-12 justify-center">
                <div class="w-full bg-white xl:w-296px xxl:w-326px lg:mt-0 mt-6 mx-5 flex flex-wrap justify-center">
                    <div class="relative w-full h-full z-0 border-2 border-white cursor-pointer rounded-lg justify-center" style="box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
                        <div class="relative w-full h-full flex flex-wrap justify-center py-4">
                            <p class="w-full mt-8 text-center text-black font-semibold">{{dataPricing.umkm.small[0].default_qty}} Bulan</p>
                            <img src="../../../assets/image/small.png" class="w-32 h-auto mt-2">
                            <!-- <p class="w-full mt-4 text-center text-lg md:text-md lg:text-lg xl:text-3xl text-custom-6 font-semibold">Small</p> -->
                            <div class="w-full xxl:mt-3 text-center">
                                <p class="inline text-lg md:text-md lg:text-lg xl:text-2xl xxl:text-3xl text-main-color font-semibold ">Rp {{Number(dataPricing.umkm.small[0].original_price).toLocaleString() | formatQuantity}}</p>
                            </div>
                            <p class="w-full mb-8 text-center text-black font-semibold">Bayar setiap bulan.</p>
                        </div>
                    </div>
                </div>
                <div class="w-full bg-white xl:w-296px xxl:w-326px px-1 lg:mt-0 mt-6 mx-4 flex flex-wrap justify-center">
                    <div class="relative w-full h-full z-0 border-2 cursor-pointer rounded-xlg justify-center border-white" style="box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
                        <div class="relative w-full h-full flex flex-wrap justify-center py-4">
                            <p class="w-full mt-8 text-center text-black font-semibold">{{dataPricing.umkm.medium[0].default_qty}} Bulan</p>
                            <img src="../../../assets/image/medium.png" class="w-32 h-auto mt-2">
                            <!-- <p class="w-full mt-4 text-center text-lg md:text-md lg:text-lg xl:text-3xl text-custom-6 font-semibold">Small</p> -->
                            <div class="w-full xxl:mt-3 text-center">
                                <p class="inline text-lg md:text-md lg:text-lg xl:text-2xl xxl:text-3xl text-main-color font-semibold ">Rp  {{Number(dataPricing.umkm.medium[0].original_price).toLocaleString() | formatQuantity}}</p>
                            </div>
                            <p class="w-full mb-8 text-center text-black font-semibold">Menghemat 13%.</p>
                        </div>
                    </div>
                </div>
                <div class="w-full bg-white xl:w-296px xxl:w-326px px-1 lg:mt-0 mt-6 mx-4 flex flex-wrap justify-center">
                    <div class="relative w-full h-full z-0 border-2 border-white cursor-pointer rounded-lg justify-center" style="box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
                        <div class="relative w-full h-full flex flex-wrap justify-center py-4">
                            <p class="w-full mt-8 text-center text-black font-semibold">{{dataPricing.umkm.large[0].default_qty}} Bulan</p>
                            <img src="../../../assets/image/large.png" class="w-32 h-auto mt-2">
                            <!-- <p class="w-full mt-4 text-center text-lg md:text-md lg:text-lg xl:text-3xl text-custom-6 font-semibold">Small</p> -->
                            <div class="w-full xxl:mt-3 text-center">
                                <p class="inline text-lg md:text-md lg:text-lg xl:text-2xl xxl:text-3xl text-main-color font-semibold ">Rp {{Number(dataPricing.umkm.large[0].original_price).toLocaleString() | formatQuantity}}</p>
                            </div>
                            <p class="w-full mb-8 text-center text-black font-semibold">Menghemat 27%.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center mt-12 mx-20 -z-10">
            <p class="font-semibold text-md xl:text-xl text-custom-2 xl:mx-20 xls:mx-40 xxl:mx-78">Kuota blast</p>
            <div class="flex flex-wrap mx-auto mt-8 justify-center">
                <div class="xl:w-296px xxl:w-326px bg-white mt-6 mx-5 flex flex-wrap justify-center ">
                    <div class="relative w-full h-full z-0 rounded-lg justify-center" style="box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
                        <div class="relative w-full h-full flex flex-wrap justify-center py-4 px-6">
                            <span class="w-full inline text-center tracking-wide text-black font-semibold">Penggunaan Telpon</span>
                            <div class="w-full flex justify-center my-2">
                                <span class="inline font-semibold text-2xl text-custom-17">Rp {{dataPricing.call.original_price}} <p class="inline text-sm text-gray-800">/ Detik</p> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xl:w-296px xxl:w-326px bg-white mt-6 mx-5 flex flex-wrap justify-center ">
                    <div class="relative w-full h-full z-0 rounded-lg justify-center" style="box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
                        <div class="relative w-full h-full flex flex-wrap justify-center py-4 px-6">
                            <span class="w-full inline text-center tracking-wide text-black font-semibold">Penggunaan SMS</span>
                            <div class="w-full flex justify-center my-2">
                                <span class="inline font-semibold text-2xl text-custom-18">Rp {{dataPricing.sms.original_price}} <p class="inline text-sm text-gray-800">/ Pesan</p> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xl:w-296px xxl:w-326px bg-white mt-6 mx-5 flex flex-wrap justify-center ">
                    <div class="relative w-full h-full z-0 rounded-lg justify-center" style="box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
                        <div class="relative w-full h-full flex flex-wrap justify-center py-4 px-6">
                            <span class="w-full inline text-center tracking-wide text-black font-semibold">Penggunaan Email</span>
                            <div class="w-full flex justify-center my-2">
                                <span class="inline font-semibold text-2xl text-custom-19">Rp {{dataPricing.email.original_price}} <p class="inline text-sm text-gray-800">/ Email</p> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="flex justify-center mt-10 mx-4">   
                    <div @click="setModal" class="self-center text-white cursor-pointer text-sm xxl:text-base text-center rounded-lg bg-main-color px-6 py-2">Daftar sebagai UMKM</div>
                </div>
        </div>
        <confirm-modal />
    </div>
</template>

<script>
import ConfirmModal from "./modal/ConfirmationOverlay"
    export default {
        name: "PricingNotUmkm",
        components: {ConfirmModal},
        props: {
            dataPricing: Object,
        },
        data: function () {
            return {
                umkm: '',
                product_choosen: '',
                status: false
            }
        },
        methods: {
            setModal: function() {
                if (this.$session.exists()) {
                    this.$modal.show('confirm-modal', {
                        title: "ERROR " + 'Verification',
                        message: 'Anda harus terverifikasi sebagai user UMKM. Silakan untuk logout dan daftar akun baru sebagai UMKM.'
                    })
                    this.$modal.hide('loading')
                    return;
                }
                else {
                    window.location.href = './login_umkm'
                }
            }
        }
    }

</script>
<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

#app {
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

</style>