<template>
    <div>
        <div class="flex flex-col justify-center mt-8 mx-20 -z-10">
            <p class="font-semibold text-md xl:text-xl text-custom-2 xl:mx-20 xls:mx-40 xxl:mx-78">1. Pilih rencana berlangganan OCA Blast UMKM</p>
            <div class="flex flex-wrap mx-6 mt-12 justify-center">
                <div class="w-full bg-white xl:w-296px xxl:w-326px lg:mt-0 mt-6 mx-5 flex flex-wrap justify-center">
                    <div @click="show = 'small'" class="relative w-full h-full z-0 border-2 cursor-pointer rounded-lg justify-center" :class="{'border-main-color': show === 'small', 'border-white': show !== 'small'}" style="box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
                        <div v-if="show === 'small'" class="absolute w-full h-full bg-custom-20 rounded-xlg"></div>
                        <div v-if="show === 'small'" class="absolute right-5 top-5">
                            <img src="../../../assets/image/check.png" class="w-auto xxl:w-6 h-auto">
                        </div>
                        <div class="relative w-full h-full flex flex-wrap justify-center py-4">
                            <p class="w-full mt-8 text-center text-black font-semibold">{{dataPricing.umkm.small[0].default_qty}} Bulan</p>
                            <img src="../../../assets/image/small.png" class="w-32 h-auto mt-2">
                            <!-- <p class="w-full mt-4 text-center text-lg md:text-md lg:text-lg xl:text-3xl text-custom-6 font-semibold">Small</p> -->
                            <div class="w-full xxl:mt-3 text-center">
                                <p class="inline text-lg md:text-md lg:text-lg xl:text-2xl xxl:text-3xl text-main-color font-semibold ">Rp {{Number(dataPricing.umkm.small[0].original_price).toLocaleString() | formatQuantity}}</p>
                            </div>
                            <p class="w-full mb-8 text-center text-black font-semibold">Bayar setiap bulan.</p>
                        </div>
                    </div>
                </div>
                <div class="w-full bg-white xl:w-296px xxl:w-326px px-1 lg:mt-0 mt-6 mx-4 flex flex-wrap justify-center">
                    <div @click="show = 'medium'" class="relative w-full h-full z-0 border-2 cursor-pointer rounded-xlg justify-center" :class="{'border-main-color': show === 'medium', 'border-white': show !== 'medium'}" style="box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
                        <div v-if="show === 'medium'" class="absolute w-full h-full bg-custom-20 rounded-xlg"></div>
                        <div v-if="show === 'medium'" class="absolute right-5 top-5">
                            <img src="../../../assets/image/check.png" class="w-auto xxl:w-6 h-auto">
                        </div>
                        <div class="relative w-full h-full flex flex-wrap justify-center py-4">
                            <p class="w-full mt-8 text-center text-black font-semibold">{{dataPricing.umkm.medium[0].default_qty}} Bulan</p>
                            <img src="../../../assets/image/medium.png" class="w-32 h-auto mt-2">
                            <!-- <p class="w-full mt-4 text-center text-lg md:text-md lg:text-lg xl:text-3xl text-custom-6 font-semibold">Small</p> -->
                            <div class="w-full xxl:mt-3 text-center">
                                <p class="inline text-lg md:text-md lg:text-lg xl:text-2xl xxl:text-3xl text-main-color font-semibold ">Rp  {{Number(dataPricing.umkm.medium[0].original_price).toLocaleString() | formatQuantity}}</p>
                            </div>
                            <p class="w-full mb-8 text-center text-black font-semibold">Menghemat 13%.</p>
                        </div>
                    </div>
                </div>
                <div class="w-full bg-white xl:w-296px xxl:w-326px px-1 lg:mt-0 mt-6 mx-4 flex flex-wrap justify-center">
                    <div @click="show = 'large'" class="relative w-full h-full z-0 border-2 cursor-pointer rounded-lg justify-center" :class="{'border-main-color': show === 'large', 'border-white': show !== 'large'}" style="box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
                        <div v-if="show === 'large'" class="absolute w-full h-full bg-custom-20 rounded-xlg"></div>
                        <div v-if="show === 'large'" class="absolute right-5 top-5">
                            <img src="../../../assets/image/check.png" class="w-auto xxl:w-6 h-auto">
                        </div>
                        <div class="relative w-full h-full flex flex-wrap justify-center py-4">
                            <p class="w-full mt-8 text-center text-black font-semibold">{{dataPricing.umkm.large[0].default_qty}} Bulan</p>
                            <img src="../../../assets/image/large.png" class="w-32 h-auto mt-2">
                            <!-- <p class="w-full mt-4 text-center text-lg md:text-md lg:text-lg xl:text-3xl text-custom-6 font-semibold">Small</p> -->
                            <div class="w-full xxl:mt-3 text-center">
                                <p class="inline text-lg md:text-md lg:text-lg xl:text-2xl xxl:text-3xl text-main-color font-semibold ">Rp {{Number(dataPricing.umkm.large[0].original_price).toLocaleString() | formatQuantity}}</p>
                            </div>
                            <p class="w-full mb-8 text-center text-black font-semibold">Menghemat 27%.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center mt-12 mx-20 -z-10">
            <p class="font-semibold text-md xl:text-xl text-custom-2 xl:mx-20 xls:mx-40 xxl:mx-78">2. Sesuikan kuota pertama mu</p>
            <p class=" text-sm xl:text-base text-custom-2 xl:mx-20 xls:mx-40 xxl:mx-78">Tambahkan kuota pertama sesuai dengan kebutuhan bisnis mu</p>
            <p class=" text-sm xl:text-base text-custom-2 xl:mx-20 xls:mx-40 xxl:mx-78">Wajib memilih dan mengisi kuota pertama minimal pada 1 saluran komunkasi</p>
            <div class="flex flex-col mx-auto mt-6 justify-center">
                <div class="w-900 bg-white mt-6 mx-5 flex flex-wrap justify-center ">
                    <div class="relative w-full h-full z-0 rounded-lg border-t-4 border-custom-17 justify-center" style="box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
                        <div class="relative w-full h-full flex flex-wrap justify-center py-4 px-6">
                            <span class="w-full inline text-black font-semibold">Kuota Telpon <p class="inline text-gray-600 font-normal italic px-2">(IDR {{dataPricing.call.original_price}},- / detik)</p> </span>
                            <div class="w-full flex justify-between border-b border-gray-300 mt-2">
                                <input v-model="extraQuota.call" type="number" class="flex-1 italic focus:outline-none focus:appearance-none m-0 text-custom-1" placeholder="Masukkan jumlah quota">
                                <!-- <p class="inline text-lg md:text-md lg:text-lg xl:text-2xl xxl:text-3xl text-main-color font-semibold ">Rp 19 </p> -->
                                <p class="inline text-gray-500">detik</p>
                            </div>
                            <div class="w-full flex justify-end my-2">
                                <p class="inline font-semibold text-sm text-gray-500" :class="{'text-gray-500': total_call === '0', 'text-custom-1': total_call !== '0'}">Rp {{total_call | formatQuantity}},-</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-900 bg-white mt-6 mx-5 flex flex-wrap justify-center ">
                    <div class="relative w-full h-full z-0 rounded-lg border-t-4 border-custom-18 justify-center" style="box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
                        <div class="relative w-full h-full flex flex-wrap justify-center py-4 px-6">
                            <span class="w-full inline text-black font-semibold">Kuota SMS <p class="inline text-gray-600 font-normal italic px-2">(IDR {{dataPricing.sms.original_price}},- / pesan)</p> </span>
                            <div class="w-full flex justify-between border-b border-gray-300 mt-2">
                                <input v-model="extraQuota.sms" type="number" class="flex-1 italic outline-none text-custom-1" placeholder="Masukkan jumlah quota">
                                <!-- <p class="inline text-lg md:text-md lg:text-lg xl:text-2xl xxl:text-3xl text-main-color font-semibold ">Rp 19 </p> -->
                                <p class="inline text-gray-500">pesan</p>
                            </div>
                            <div class="w-full flex justify-end my-2">
                                <p class="inline font-semibold text-sm text-gray-500" :class="{'text-gray-500': total_sms === '0', 'text-custom-1': total_sms !== '0'}">Rp {{total_sms | formatQuantity}},-</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-900 bg-white mt-6 mx-5 flex flex-wrap justify-center ">
                    <div class="relative w-full h-full z-0 rounded-lg border-t-4 border-custom-19 justify-center" style="box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
                        <div class="relative w-full h-full flex flex-wrap justify-center py-4 px-6">
                            <span class="w-full inline text-black font-semibold">Kuota Email<p class="inline text-gray-600 font-normal italic px-2">(IDR {{dataPricing.email.original_price}},- / email)</p> </span>
                            <div class="w-full flex justify-between border-b border-gray-300 mt-2">
                                <input v-model="extraQuota.email" type="number" class="flex-1 italic outline-none text-custom-1" placeholder="Masukkan jumlah quota">
                                <!-- <p class="inline text-lg md:text-md lg:text-lg xl:text-2xl xxl:text-3xl text-main-color font-semibold ">Rp 19 </p> -->
                                <p class="inline text-gray-500">email</p>
                            </div>
                            <div class="w-full flex justify-end my-2">
                                <p class="inline font-semibold text-sm" :class="{'text-gray-500': total_email === '0', 'text-custom-1': total_email !== '0'}" >Rp {{total_email | formatQuantity}},-</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-end mt-8 mx-4">
                    <div class="flex flex-col self-center px-4">
                        <p class=" font-semibold text-sm text-custom-5">Total</p>
                        <p class=" font-semibold text-base text-custom-2 ">Rp {{total_price | formatQuantity}},-</p>
                    </div>
                    
                    <div v-if="extraQuota.call || extraQuota.sms || extraQuota.email" @click="submitPackage" class="self-center text-white cursor-pointer text-sm xxl:text-base text-center rounded-lg bg-main-color px-6 py-2">Mulai berlangganan</div>
                    <div v-if="!extraQuota.call && !extraQuota.sms && !extraQuota.email" class="self-center text-gray-100 cursor-pointer text-sm xxl:text-base text-center rounded-lg bg-custom-9 px-6 py-2">Mulai berlangganan</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PricingUmkm",
        props: {
            dataPricing: Object,
        },
        data: function () {
            return {
                show: 'medium',
                umkm: '',
                product_choosen: '',
                total: 0,
                extraQuota: {
                    call: '',
                    sms: '',
                    email: ''
                }
            }
        },
        computed: {
            total_price: function () {
                var total = 0;
                if(this.dataPricing.umkm){
                    switch (this.show) {
                        case "small":
                        total += Number(this.dataPricing.umkm.small[0].original_price)
                        break
                        case "medium":
                        total += Number(this.dataPricing.umkm.medium[0].original_price)
                        break
                        case "large":
                        total += Number(this.dataPricing.umkm.large[0].original_price)
                        break
                    }
                }

                if(this.dataPricing.call && this.dataPricing.sms && this.dataPricing.email){
                    total += Number(this.extraQuota.call) * Number(this.dataPricing.call.price)
                    total += Number(this.extraQuota.sms) * Number(this.dataPricing.sms.price)
                    total += Number(this.extraQuota.email) * Number(this.dataPricing.email.price)
                }
                return total.toLocaleString()
            },
            total_call: function() {
                var total = 0;
                if (this.dataPricing.call) {
                     total += Number(this.extraQuota.call) * Number(this.dataPricing.call.price)
                }
                return total.toLocaleString()
            },
            total_sms: function() {
                var total = 0;
                if (this.dataPricing.sms) {
                     total += Number(this.extraQuota.sms) * Number(this.dataPricing.sms.price)
                }
                return total.toLocaleString()
            },
            total_email: function() {
                var total = 0;
                if (this.dataPricing.email) {
                     total += Number(this.extraQuota.email) * Number(this.dataPricing.email.price)
                }
                return total.toLocaleString()
            }
        },
        methods: {
            submitPackage: function () {
                this.$modal.show('loading')
                const axios = require('axios')
                var products = []

                    if(this.dataPricing.umkm){
                        switch (this.show) {
                            case "small":
                            products.push({
                                product_id: this.dataPricing.umkm.small[0].product_id,
                                qty: 1
                            })
                            break
                            case "medium":
                            products.push({
                                product_id: this.dataPricing.umkm.medium[0].product_id,
                                qty: 1
                            })
                            break
                            case "large":
                            products.push({
                                product_id: this.dataPricing.umkm.large[0].product_id,
                                qty: 1
                            })
                            break
                        }
                    }

                    if(this.dataPricing.call && this.dataPricing.sms && this.dataPricing.email){
                        if(Number(this.extraQuota.call) > 0){
                            products.push({
                                product_id: this.dataPricing.call.product_id,
                                qty: Number(this.extraQuota.call)
                            })
                        }
                        if(Number(this.extraQuota.sms) > 0){
                            products.push({
                                product_id: this.dataPricing.sms.product_id,
                                qty: Number(this.extraQuota.sms)
                            })
                        }
                        if(Number(this.extraQuota.email) > 0){
                            products.push({
                                product_id: this.dataPricing.email.product_id,
                                qty: Number(this.extraQuota.email)
                            })
                        }
                    }
                let main = this
                axios.post('https://payment.ocatelkom.co.id/api/v1/create-order', {
                    user_id: main.$session.get('user_id'),
                    product_subscription: products
                }, {
                    headers: {
                        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
                    }
                })
                .then(function (response) {
                    main.$modal.hide('loading')
                    main.$session.set('order_id', response.data.order_id)

                    window.location.href = 'payment'
                })
                .catch(function (error) {
                    main.$modal.hide('loading')
                    main.$modal.show('error', {
                        title: "ERROR " + error.response.data.errors[0].code,
                        message: error.response.data.errors[0].message
                    })
                })
            }
        },
        filters: {
            formatQuantity (value) {
                return value.replace(/,/g, '.');
            }
        }
    }

</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

  #app {
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
</style>
