<template>
    <div class="flex justify-center relative border-t-2 border-gray-400">
        <div class="absolute left-15 top-15">
            <img src="../../../assets/image/Icon-Interaction.png" alt="">
        </div>
        <div class="absolute left-20 top-70">
            <img src="../../../assets/image/Icon-ChatAja.png" alt="">
        </div>
        <div class="absolute right-10 top-70">
            <img src="../../../assets/image/Icon-WA.png" alt="">
        </div>
        <div class="absolute right-10 top-15">
            <img src="../../../assets/image/Icon-Email.png" alt="">
        </div>
        <div class="absolute right-20 top-40">
            <img src="../../../assets/image/Icon-SMS.png" alt="">
        </div>
        <div class="absolute left-5 top-40">
            <img src="../../../assets/image/Icon-Call.png" alt="">
        </div>
        <div class="flex flex-col my-6 xl:w-78">
            <div class="text-custom-2 text-center text-2xl font-semibold px-4 mx-2 mt-2">Create a <span class="text-main-color">Free Account</span></div>
            <div class="text-custom-4 font-semibold text-center text-sm px-4 mb-4 mx-2">Register using your email address:</div>
            <input type="text" id="Full name" name="Full name" class="px-4 py-2 border border-custom-12 rounded-md mt-3 focus:outline-none focus:border-2 focus:border-main-color" placeholder="Full name" required/>
            <input type="text" id="Email" name="Email" class="px-4 py-2 border border-custom-12 rounded-md mt-3 focus:outline-none focus:border-2 focus:border-main-color" placeholder="Email" required/>
            <input type="text" id="Phone number" name="Phone number" class="px-4 py-2 border border-custom-12 rounded-md mt-3 focus:outline-none focus:border-2 focus:border-main-color" placeholder="Phone number" required/>
            <input type="text" id="Organization name" name="Organization name" class="px-4 py-2 border border-custom-12 rounded-md mt-3 focus:outline-none focus:border-2 focus:border-main-color" placeholder="Organization name" required/>
            <input type="text" id="Password" name="Password" class="px-4 py-2 border border-custom-12 rounded-md mt-3 focus:outline-none focus:border-2 focus:border-main-color" placeholder="Password" required/>
            <div class="text-white rounded-lg text-center bg-main-color px-4 py-2 m-8 mb-2">Sign up free</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "createAccount",
        data: function () {
            return {
                konten: [

                ]
            }
        },
        created() {
            this.loadData()
        },
        methods: {
            loadData: function () {
                this.konten = []
                const axios = require('axios')

                let main = this
                let url = 'https://dtpx1.ocatelkom.co.id/api/qna/' + this.$cookies.get('lang_oca')
                axios.get(url)
                    .then(function (response) {
                        response.data.forEach(function (item) {
                            main.konten.push({
                                judul: item.question,
                                konten: item.answer
                            })
                        })
                    })
            }
        }
    }
</script>

<style scoped>

</style>