<template>
    <a @click="openBlog" class="cursor-pointer">
        <div class="flex flex-wrap my-6 px-4 lg:px-10 lg:border-0">
            <div class="w-full lg:w-1/3 h-56 lg:h-32">
                <img :src="konten.post_thumbnail_url" class="w-full h-full object-cover"/>
            </div>
            <div class="lg:w-2/3 flex flex-wrap px-6 lg:mt-0 mt-6">
                <div>
                    <p class="text-md font-bold mb-2" style="font-family: Rubik">{{konten.title}}</p>
                </div>
                <div class="w-full flex flex-wrap align-bottom lg:mt-auto mt-6">
                    <a class="text-sm tracking-widest font-semibold" href="#" style="font-family: Rubik">{{new Date(konten.created_at.replace(/-/g, "/")) | dateFormat('DD/MM/YYYY')}}</a>
                </div>
            </div>
        </div>
    </a>
</template>

<script>
    export default {
        name: "TerbaruKonten",
        props: {
            konten: Object
        },
        methods: {
            openBlog: function () {
                this.$cookies.set("title", this.konten.title)
                this.$cookies.set("description",  this.konten.short_description)
                this.$cookies.set("thumbnail", this.konten.post_thumbnail_url)
                this.$cookies.set("keywords", this.konten.meta_keyword)
                window.location.href = 'blog_detail?blog=' + this.konten.slug
            }
        }
    }
</script>

<style scoped>

</style>