<template>
  <div id="app" class="w-screen h-screen flex flex-wrap">
    <div class="fixed top-0 z-20 w-full py-6 px-10 bg-main-color">
      <a>
        <div class="w-56 h-auto">
          <img src="../../assets/image/logo_white.png" class="w-full">
        </div>
      </a>
    </div>

<!--    <first-page v-show="currentPage === 'first'"/>-->
    <form-content/>
  </div>
</template>

<script>
  import FormContent from "./components/FormContent";

  export default {
    name: 'App',
    components: {
      FormContent,
    },
    data: function () {
      return {
        user_id: '',
        tipe: ''
      }
    },
    created() {
      if(!this.$cookies.isKey('lang_oca')){
        this.$cookies.set('lang_oca', 'id')
      }

      let uri = window.location.search.substring(1);
      let params = new URLSearchParams(uri);
      if(params.get("user_id") != null){
        this.user_id = params.get("user_id");
      }
      if(params.get("type") != null){
        this.tipe = params.get("type");
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

  #app {
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
