<template>
  <div id="app" class="flex flex-wrap">
    <navbar-short/>

    <div class="w-full flex px-8 lg:px-16 items-center mt-56 lg:mt-32">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.707 17.293L8.414 13 18 13 18 11 8.414 11 12.707 6.707 11.293 5.293 4.586 12 11.293 18.707z" fill="#ED1764"/></svg>
      <a href="order_history" class="text-lg text-main-color">Order & Payment</a>
    </div>

    <div class="w-full flex flex-wrap justify-center items-center px-10">
      <detail-content :konten="konten"/>
    </div>
  </div>
</template>

<script>
  import DetailContent from "./components/DetailContent";
  import NavbarShort from "../../components/NavbarShort";

  export default {
    name: 'App',
    components: {
      NavbarShort,
      DetailContent,
    },
    created() {
      if(!this.$cookies.isKey('lang_oca')){
        this.$cookies.set('lang_oca', 'id')
      }

      this.konten = this.$session.get('result')
      this.$session.remove('order_id')
    },
    data: function () {
      return {
        konten: {}
      }
    },
    destroyed() {
      this.$session.remove('result')
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

  #app {
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .block:not(:last-child){
    margin-bottom: 0 !important;
  }
</style>
