<template>
    <div class="relative flex flex-wrap mt-10">
        <!-- INFO QUOTA -->
        <div class="w-full flex flex-wrap px-4 lg:px-24">
            <info-item v-for="(data, i) in info" :key="i" :nama="data.nama" :jml="data.jml" :color="data.color" :ind="data.ind"/>
        </div>

        <div class="w-full flex flex-wrap px-4 lg:px-24 p-2">
            <div class="w-full flex flex-wrap rounded-lg shadow-lg dashboard" style="background-color: #F7F7FF;">

                <!-- MENU DI BAGIAN SAMPING -->
                <div class="w-full lg:w-3/12 lg:h-full border-r border-gray-500 lg:p-0 p-4">
                    <div class="lg:py-6 lg:px-4 xl:px-10 flex flex-wrap justify-between">

                        <!--CALL-->
                        <div :class="{'bg-main-color': type === 'call'}" class="lg:w-full bg-transparent py-2 px-2 lg:py-3 lg:px-6 flex rounded-lg lg:rounded-full items-center justify-center lg:justify-start lg:my-6" style="cursor:pointer;" @click="changeTab('call')">
                            <div v-show="type === 'call'">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.0516 15.3828L16.0896 12.4246C15.7947 12.1427 15.3999 11.9887 14.9917 11.9965C14.5834 12.0043 14.1948 12.1731 13.9109 12.4661L12.4179 13.9555L12.1254 13.7919C10.8059 13.1126 9.59593 12.2398 8.53571 11.2024C7.49318 10.141 6.61546 8.92988 5.93164 7.60931C5.87666 7.50574 5.8279 7.41355 5.77083 7.3224L6.77304 6.32392L7.26584 5.83192C7.55927 5.54831 7.72817 5.16017 7.73556 4.75249C7.74295 4.34481 7.58822 3.95082 7.30526 3.6568L4.3443 0.697585C4.04965 0.415102 3.65481 0.260823 3.24637 0.26859C2.83794 0.276357 2.44927 0.445535 2.1656 0.739016L1.33562 1.57696L1.35845 1.59975C1.07161 1.96832 0.839907 2.37653 0.6706 2.8116C0.515249 3.20665 0.410668 3.61977 0.359357 4.04107C-0.0317714 7.2789 1.44974 10.2381 5.47204 14.2538C11.0319 19.8035 15.5117 19.385 15.7057 19.3643C16.1288 19.3136 16.5437 19.2092 16.9403 19.0536C17.3746 18.8854 17.782 18.6551 18.15 18.37L18.1687 18.3866L19.0142 17.5579C19.3069 17.2738 19.475 16.8856 19.482 16.4781C19.489 16.0705 19.3343 15.6768 19.0516 15.3828Z" fill="#FFFFFF"/>
                                </svg>
                            </div>
                            <div v-show="type !== 'call'">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.0516 15.3828L16.0896 12.4246C15.7947 12.1427 15.3999 11.9887 14.9917 11.9965C14.5834 12.0043 14.1948 12.1731 13.9109 12.4661L12.4179 13.9555L12.1254 13.7919C10.8059 13.1126 9.59593 12.2398 8.53571 11.2024C7.49318 10.141 6.61546 8.92988 5.93164 7.60931C5.87666 7.50574 5.8279 7.41355 5.77083 7.3224L6.77304 6.32392L7.26584 5.83192C7.55927 5.54831 7.72817 5.16017 7.73556 4.75249C7.74295 4.34481 7.58822 3.95082 7.30526 3.6568L4.3443 0.697585C4.04965 0.415102 3.65481 0.260823 3.24637 0.26859C2.83794 0.276357 2.44927 0.445535 2.1656 0.739016L1.33562 1.57696L1.35845 1.59975C1.07161 1.96832 0.839907 2.37653 0.6706 2.8116C0.515249 3.20665 0.410668 3.61977 0.359357 4.04107C-0.0317714 7.2789 1.44974 10.2381 5.47204 14.2538C11.0319 19.8035 15.5117 19.385 15.7057 19.3643C16.1288 19.3136 16.5437 19.2092 16.9403 19.0536C17.3746 18.8854 17.782 18.6551 18.15 18.37L18.1687 18.3866L19.0142 17.5579C19.3069 17.2738 19.475 16.8856 19.482 16.4781C19.489 16.0705 19.3343 15.6768 19.0516 15.3828Z" fill="#C6CCD1"/>
                                </svg>
                            </div>
                            <p :style="[type === 'call' ? {color: '#FFFFFF'} : {color: '#C6CCD1'}]" class="pl-2 lg:pl-4 text-xs lg:text-lg">Call</p>
                        </div>

                        <!--SMS-->
                        <div :class="{'bg-main-color': type === 'sms'}" class="lg:w-full bg-transparent py-2 px-2 lg:py-3 lg:px-6 flex rounded-lg lg:rounded-full items-center justify-center lg:justify-start lg:my-6" style="cursor:pointer;" @click="changeTab('sms')">
                            <div v-show="type === 'sms'">
                                <svg width="20" height="20" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.1904 5.66015H20.5665V12.5061C20.5913 12.7649 20.5613 13.0261 20.4784 13.2727C20.3955 13.5192 20.2616 13.7456 20.0853 13.9371C19.9091 14.1286 19.6945 14.281 19.4554 14.3843C19.2163 14.4876 18.9582 14.5395 18.6977 14.5367H6.48145V14.8626C6.55358 15.3886 6.81413 15.8708 7.21487 16.2198C7.61561 16.5688 8.12942 16.7611 8.66123 16.7611H18.0014L21.5748 18.8583L21.0562 16.7611H21.1933C21.4264 16.7511 21.6549 16.6929 21.8642 16.5902C22.0736 16.4875 22.2594 16.3425 22.4097 16.1644C22.56 15.9863 22.6717 15.779 22.7376 15.5555C22.8035 15.3321 22.8223 15.0975 22.7927 14.8664V7.28581C22.8173 7.06862 22.793 6.84868 22.7215 6.64206C22.6501 6.43544 22.5334 6.24736 22.3798 6.09156C22.2262 5.93576 22.0398 5.81617 21.834 5.74153C21.6282 5.66689 21.4083 5.63909 21.1904 5.66015Z" fill="#FFFFFF"/>
                                    <path d="M16.8733 0.901611H2.68489C1.43709 0.901611 0 2.00853 0 3.08073V11.6622C0 12.6447 1.21689 13.3544 2.38453 13.4643L1.62446 16.3444L6.493 13.4846H16.8733C18.1221 13.4846 19.2733 12.7286 19.2733 11.6622V3.08073C19.2081 2.48784 18.9282 1.93915 18.4862 1.53784C18.0443 1.13654 17.4707 0.910278 16.8733 0.901611ZM4.84923 8.14862C4.59579 8.14843 4.3481 8.07323 4.13747 7.93252C3.92684 7.79181 3.76272 7.59191 3.66587 7.35809C3.56902 7.12428 3.54377 6.86704 3.59333 6.61891C3.64289 6.37077 3.76503 6.14287 3.9443 5.96403C4.12358 5.78518 4.35194 5.66341 4.60052 5.61412C4.8491 5.56483 5.10674 5.59023 5.34086 5.6871C5.57499 5.78397 5.77509 5.94797 5.91587 6.15836C6.05665 6.36875 6.13179 6.61609 6.13179 6.86912C6.13179 7.03722 6.09861 7.20368 6.03415 7.35898C5.96968 7.51428 5.87519 7.65538 5.75608 7.77421C5.63697 7.89303 5.49557 7.98726 5.33997 8.0515C5.18437 8.11575 5.01761 8.14875 4.84923 8.14862ZM9.63664 8.14862C9.38317 8.14862 9.13538 8.07358 8.92462 7.93299C8.71386 7.79239 8.5496 7.59256 8.4526 7.35876C8.3556 7.12496 8.33022 6.8677 8.37967 6.6195C8.42912 6.3713 8.55118 6.14331 8.73041 5.96437C8.90965 5.78542 9.13801 5.66356 9.38661 5.61419C9.63522 5.56482 9.89291 5.59016 10.1271 5.687C10.3613 5.78385 10.5614 5.94784 10.7023 6.15826C10.8431 6.36867 10.9182 6.61605 10.9182 6.86912C10.9182 7.20846 10.7832 7.53391 10.5429 7.77386C10.3025 8.01382 9.97654 8.14862 9.63664 8.14862ZM14.425 8.14862C14.1715 8.14862 13.9238 8.07358 13.713 7.93299C13.5022 7.79239 13.338 7.59256 13.241 7.35876C13.144 7.12496 13.1186 6.8677 13.168 6.6195C13.2175 6.3713 13.3396 6.14331 13.5188 5.96437C13.698 5.78542 13.9264 5.66356 14.175 5.61419C14.4236 5.56482 14.6813 5.59016 14.9155 5.687C15.1497 5.78385 15.3498 5.94784 15.4906 6.15826C15.6315 6.36867 15.7066 6.61605 15.7066 6.86912C15.7064 7.20838 15.5713 7.53368 15.331 7.77358C15.0907 8.01348 14.7648 8.14837 14.425 8.14862Z" fill="#FFFFFF"/>
                                </svg>
                            </div>
                            <div v-show="type !== 'sms'">
                                <svg width="20" height="20" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.1904 5.66015H20.5665V12.5061C20.5913 12.7649 20.5613 13.0261 20.4784 13.2727C20.3955 13.5192 20.2616 13.7456 20.0853 13.9371C19.9091 14.1286 19.6945 14.281 19.4554 14.3843C19.2163 14.4876 18.9582 14.5395 18.6977 14.5367H6.48145V14.8626C6.55358 15.3886 6.81413 15.8708 7.21487 16.2198C7.61561 16.5688 8.12942 16.7611 8.66123 16.7611H18.0014L21.5748 18.8583L21.0562 16.7611H21.1933C21.4264 16.7511 21.6549 16.6929 21.8642 16.5902C22.0736 16.4875 22.2594 16.3425 22.4097 16.1644C22.56 15.9863 22.6717 15.779 22.7376 15.5555C22.8035 15.3321 22.8223 15.0975 22.7927 14.8664V7.28581C22.8173 7.06862 22.793 6.84868 22.7215 6.64206C22.6501 6.43544 22.5334 6.24736 22.3798 6.09156C22.2262 5.93576 22.0398 5.81617 21.834 5.74153C21.6282 5.66689 21.4083 5.63909 21.1904 5.66015Z" fill="#C6CCD1"/>
                                    <path d="M16.8733 0.901611H2.68489C1.43709 0.901611 0 2.00853 0 3.08073V11.6622C0 12.6447 1.21689 13.3544 2.38453 13.4643L1.62446 16.3444L6.493 13.4846H16.8733C18.1221 13.4846 19.2733 12.7286 19.2733 11.6622V3.08073C19.2081 2.48784 18.9282 1.93915 18.4862 1.53784C18.0443 1.13654 17.4707 0.910278 16.8733 0.901611ZM4.84923 8.14862C4.59579 8.14843 4.3481 8.07323 4.13747 7.93252C3.92684 7.79181 3.76272 7.59191 3.66587 7.35809C3.56902 7.12428 3.54377 6.86704 3.59333 6.61891C3.64289 6.37077 3.76503 6.14287 3.9443 5.96403C4.12358 5.78518 4.35194 5.66341 4.60052 5.61412C4.8491 5.56483 5.10674 5.59023 5.34086 5.6871C5.57499 5.78397 5.77509 5.94797 5.91587 6.15836C6.05665 6.36875 6.13179 6.61609 6.13179 6.86912C6.13179 7.03722 6.09861 7.20368 6.03415 7.35898C5.96968 7.51428 5.87519 7.65538 5.75608 7.77421C5.63697 7.89303 5.49557 7.98726 5.33997 8.0515C5.18437 8.11575 5.01761 8.14875 4.84923 8.14862ZM9.63664 8.14862C9.38317 8.14862 9.13538 8.07358 8.92462 7.93299C8.71386 7.79239 8.5496 7.59256 8.4526 7.35876C8.3556 7.12496 8.33022 6.8677 8.37967 6.6195C8.42912 6.3713 8.55118 6.14331 8.73041 5.96437C8.90965 5.78542 9.13801 5.66356 9.38661 5.61419C9.63522 5.56482 9.89291 5.59016 10.1271 5.687C10.3613 5.78385 10.5614 5.94784 10.7023 6.15826C10.8431 6.36867 10.9182 6.61605 10.9182 6.86912C10.9182 7.20846 10.7832 7.53391 10.5429 7.77386C10.3025 8.01382 9.97654 8.14862 9.63664 8.14862ZM14.425 8.14862C14.1715 8.14862 13.9238 8.07358 13.713 7.93299C13.5022 7.79239 13.338 7.59256 13.241 7.35876C13.144 7.12496 13.1186 6.8677 13.168 6.6195C13.2175 6.3713 13.3396 6.14331 13.5188 5.96437C13.698 5.78542 13.9264 5.66356 14.175 5.61419C14.4236 5.56482 14.6813 5.59016 14.9155 5.687C15.1497 5.78385 15.3498 5.94784 15.4906 6.15826C15.6315 6.36867 15.7066 6.61605 15.7066 6.86912C15.7064 7.20838 15.5713 7.53368 15.331 7.77358C15.0907 8.01348 14.7648 8.14837 14.425 8.14862Z" fill="#C6CCD1"/>
                                </svg>
                            </div>
                            <p :style="[type === 'sms' ? {color: '#FFFFFF'} : {color: '#C6CCD1'}]" class="pl-2 lg:pl-4 text-xs lg:text-lg">SMS</p>
                        </div>

                        <!--EMAIL-->
                        <div :class="{'bg-main-color': type === 'email'}" class="lg:w-full bg-transparent py-2 px-2  lg:py-3 lg:px-6 flex rounded-lg lg:rounded-full items-center justify-center lg:justify-start lg:my-6" style="cursor:pointer;" @click="changeTab('email')">
                            <div v-show="type === 'email'">
                                <svg width="20" height="20" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.3034 2.95813C17.2254 1.06455 14.4907 0.0529118 11.6785 0.137473C10.1738 0.107251 8.67809 0.375333 7.2779 0.926195C5.87772 1.47706 4.60091 2.29976 3.52138 3.34666C2.42725 4.36582 1.56133 5.60443 0.980421 6.98122C0.399513 8.35802 0.116748 9.84188 0.150679 11.3355C0.130495 12.7959 0.40374 14.2456 0.954264 15.5988C1.50479 16.952 2.32142 18.1813 3.35591 19.2141C4.49036 20.3325 5.84515 21.2034 7.33443 21.7717C8.8237 22.3399 10.415 22.593 12.0074 22.5151C14.2221 22.51 16.4122 22.0515 18.4424 21.168C18.7726 21.0287 19.0351 20.7658 19.1735 20.4357C19.312 20.1055 19.3153 19.7344 19.1829 19.4018C19.1145 19.233 19.0129 19.0797 18.8842 18.9508C18.7555 18.8219 18.6022 18.7199 18.4335 18.6511C18.2647 18.5822 18.0839 18.5477 17.9015 18.5496C17.7192 18.5516 17.5392 18.5899 17.3719 18.6624C15.6821 19.4171 13.8553 19.818 12.0043 19.8402C10.8074 19.9117 9.60919 19.7216 8.49338 19.2833C7.37757 18.8449 6.37098 18.1688 5.54381 17.3021C4.04698 15.6826 3.22856 13.5521 3.25683 11.3487C3.22553 10.2044 3.42658 9.06556 3.84789 8.00087C4.26919 6.93618 4.90202 5.96767 5.70825 5.15367C6.48454 4.34775 7.41957 3.71106 8.45447 3.2837C9.48937 2.85634 10.6017 2.64758 11.7214 2.67056C13.7648 2.61599 15.7514 3.34596 17.2718 4.71007C18.0023 5.34875 18.5836 6.13962 18.9747 7.02694C19.3657 7.91425 19.5571 8.87641 19.5353 9.84558C19.5817 11.1017 19.2174 12.3387 18.4975 13.3699C18.2768 13.7593 17.9659 14.0903 17.5907 14.3352C17.2156 14.58 16.7872 14.7316 16.3413 14.7771C15.9389 14.7771 15.7376 14.563 15.7376 14.1286C15.7422 13.7152 15.7681 13.3023 15.8153 12.8916L16.6671 5.9501H13.7407L13.5528 6.63028C12.8705 6.04392 12.0017 5.71865 11.1014 5.7125C10.4117 5.71035 9.73013 5.86013 9.10512 6.15114C8.48011 6.44216 7.92711 6.86726 7.48553 7.39612C6.45206 8.59383 5.9141 10.1394 5.98098 11.7189C5.90824 13.2234 6.38234 14.7035 7.31598 15.8866C7.69443 16.3793 8.18118 16.7786 8.73868 17.0537C9.29619 17.3288 9.90954 17.4724 10.5314 17.4734C11.0856 17.4723 11.6322 17.3451 12.1297 17.1014C12.6273 16.8577 13.0626 16.504 13.4027 16.0671C13.6868 16.5038 14.0811 16.8581 14.5458 17.0946C15.0105 17.331 15.5293 17.4413 16.0502 17.4142C16.9131 17.4067 17.7628 17.201 18.5334 16.8133C19.304 16.4255 19.975 15.8659 20.4944 15.1779C21.752 13.6652 22.4176 11.7486 22.3677 9.78338C22.3811 8.49226 22.1141 7.21357 21.5851 6.03532C21.0561 4.85708 20.2777 3.80726 19.3034 2.95813ZM12.562 13.4616C12.3624 13.7737 12.0893 14.0322 11.7664 14.2144C11.4436 14.3966 11.0809 14.4971 10.7102 14.5069C10.4614 14.5017 10.2191 14.4272 10.0106 14.2916C9.80214 14.1561 9.6358 13.965 9.53043 13.74C9.21056 13.1562 9.05425 12.4971 9.07794 11.8321C9.03919 11.0265 9.26046 10.2297 9.70918 9.55903C9.87734 9.29628 10.1083 9.0794 10.3813 8.92791C10.6543 8.77642 10.9607 8.69508 11.273 8.69121C11.5451 8.69314 11.8137 8.75183 12.0618 8.86352C12.3098 8.97521 12.5317 9.13743 12.7132 9.33978C12.9287 9.57224 13.0956 9.84532 13.2039 10.143C13.3123 10.4407 13.3601 10.757 13.3444 11.0734C13.3512 11.9336 13.0764 12.7725 12.562 13.4627V13.4616Z" fill="#FFFFFF"/>
                                </svg>
                            </div>
                            <div v-show="type !== 'email'">
                                <svg width="20" height="20" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.3034 2.95813C17.2254 1.06455 14.4907 0.0529118 11.6785 0.137473C10.1738 0.107251 8.67809 0.375333 7.2779 0.926195C5.87772 1.47706 4.60091 2.29976 3.52138 3.34666C2.42725 4.36582 1.56133 5.60443 0.980421 6.98122C0.399513 8.35802 0.116748 9.84188 0.150679 11.3355C0.130495 12.7959 0.40374 14.2456 0.954264 15.5988C1.50479 16.952 2.32142 18.1813 3.35591 19.2141C4.49036 20.3325 5.84515 21.2034 7.33443 21.7717C8.8237 22.3399 10.415 22.593 12.0074 22.5151C14.2221 22.51 16.4122 22.0515 18.4424 21.168C18.7726 21.0287 19.0351 20.7658 19.1735 20.4357C19.312 20.1055 19.3153 19.7344 19.1829 19.4018C19.1145 19.233 19.0129 19.0797 18.8842 18.9508C18.7555 18.8219 18.6022 18.7199 18.4335 18.6511C18.2647 18.5822 18.0839 18.5477 17.9015 18.5496C17.7192 18.5516 17.5392 18.5899 17.3719 18.6624C15.6821 19.4171 13.8553 19.818 12.0043 19.8402C10.8074 19.9117 9.60919 19.7216 8.49338 19.2833C7.37757 18.8449 6.37098 18.1688 5.54381 17.3021C4.04698 15.6826 3.22856 13.5521 3.25683 11.3487C3.22553 10.2044 3.42658 9.06556 3.84789 8.00087C4.26919 6.93618 4.90202 5.96767 5.70825 5.15367C6.48454 4.34775 7.41957 3.71106 8.45447 3.2837C9.48937 2.85634 10.6017 2.64758 11.7214 2.67056C13.7648 2.61599 15.7514 3.34596 17.2718 4.71007C18.0023 5.34875 18.5836 6.13962 18.9747 7.02694C19.3657 7.91425 19.5571 8.87641 19.5353 9.84558C19.5817 11.1017 19.2174 12.3387 18.4975 13.3699C18.2768 13.7593 17.9659 14.0903 17.5907 14.3352C17.2156 14.58 16.7872 14.7316 16.3413 14.7771C15.9389 14.7771 15.7376 14.563 15.7376 14.1286C15.7422 13.7152 15.7681 13.3023 15.8153 12.8916L16.6671 5.9501H13.7407L13.5528 6.63028C12.8705 6.04392 12.0017 5.71865 11.1014 5.7125C10.4117 5.71035 9.73013 5.86013 9.10512 6.15114C8.48011 6.44216 7.92711 6.86726 7.48553 7.39612C6.45206 8.59383 5.9141 10.1394 5.98098 11.7189C5.90824 13.2234 6.38234 14.7035 7.31598 15.8866C7.69443 16.3793 8.18118 16.7786 8.73868 17.0537C9.29619 17.3288 9.90954 17.4724 10.5314 17.4734C11.0856 17.4723 11.6322 17.3451 12.1297 17.1014C12.6273 16.8577 13.0626 16.504 13.4027 16.0671C13.6868 16.5038 14.0811 16.8581 14.5458 17.0946C15.0105 17.331 15.5293 17.4413 16.0502 17.4142C16.9131 17.4067 17.7628 17.201 18.5334 16.8133C19.304 16.4255 19.975 15.8659 20.4944 15.1779C21.752 13.6652 22.4176 11.7486 22.3677 9.78338C22.3811 8.49226 22.1141 7.21357 21.5851 6.03532C21.0561 4.85708 20.2777 3.80726 19.3034 2.95813ZM12.562 13.4616C12.3624 13.7737 12.0893 14.0322 11.7664 14.2144C11.4436 14.3966 11.0809 14.4971 10.7102 14.5069C10.4614 14.5017 10.2191 14.4272 10.0106 14.2916C9.80214 14.1561 9.6358 13.965 9.53043 13.74C9.21056 13.1562 9.05425 12.4971 9.07794 11.8321C9.03919 11.0265 9.26046 10.2297 9.70918 9.55903C9.87734 9.29628 10.1083 9.0794 10.3813 8.92791C10.6543 8.77642 10.9607 8.69508 11.273 8.69121C11.5451 8.69314 11.8137 8.75183 12.0618 8.86352C12.3098 8.97521 12.5317 9.13743 12.7132 9.33978C12.9287 9.57224 13.0956 9.84532 13.2039 10.143C13.3123 10.4407 13.3601 10.757 13.3444 11.0734C13.3512 11.9336 13.0764 12.7725 12.562 13.4627V13.4616Z" fill="#C6CCD1"/>
                            </svg>
                            </div>
                            <p :style="[type === 'email' ? {color: '#FFFFFF'} : {color: '#C6CCD1'}]" class="pl-2 lg:pl-4 text-xs lg:text-lg">Email</p>
                        </div>

                        <!--WHATSAPP-->
                        <div :class="{'bg-main-color': type === 'whatsapp'}" class="lg:w-full bg-transparent py-2 px-2 lg:py-3 lg:px-6 flex rounded-lg lg:rounded-full items-center justify-center lg:justify-start lg:my-6" style="cursor:pointer;" @click="changeTab('whatsapp')">
                            <div v-show="type === 'whatsapp'">
                                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.4754 11.4384C23.4568 13.4183 22.9243 15.3594 21.93 17.0725C20.9357 18.7856 19.5135 20.2121 17.8023 21.2127C16.091 22.2134 14.1491 22.754 12.1661 22.7818C10.1832 22.8096 8.22682 22.3236 6.48808 21.3714L0.147949 23.3823L2.21556 17.2952C1.13655 15.5317 0.566123 13.505 0.567131 11.4384C0.567131 8.40612 1.77368 5.49802 3.92136 3.35386C6.06904 1.2097 8.98191 0.00512695 12.0192 0.00512695C15.0565 0.00512695 17.9693 1.2097 20.117 3.35386C22.2647 5.49802 23.4712 8.40612 23.4712 11.4384H23.4754ZM12.0244 1.89986C9.48142 1.89263 7.0394 2.89289 5.23426 4.68115C3.42911 6.46941 2.40829 8.89959 2.39581 11.4384C2.39612 13.4505 3.04052 15.4099 4.23497 17.0306L3.02668 20.5721L6.72701 19.3982C8.17471 20.3453 9.85109 20.8858 11.5802 20.9631C13.3093 21.0403 15.0273 20.6515 16.554 19.8373C18.0806 19.0231 19.3596 17.8136 20.2566 16.3358C21.1536 14.858 21.6356 13.1663 21.652 11.4384C21.6392 8.89986 20.6185 6.47 18.8136 4.68183C17.0088 2.89366 14.5672 1.89318 12.0244 1.89986ZM17.807 14.0509C17.7358 13.9347 17.5492 13.8657 17.2694 13.7265C16.9896 13.5874 15.6084 12.9147 15.3517 12.8226C15.0949 12.7305 14.9063 12.6834 14.7229 12.9617C14.5395 13.24 13.9977 13.8657 13.8342 14.0519C13.6708 14.2381 13.5073 14.2612 13.2254 14.122C12.3987 13.7958 11.6349 13.3289 10.9681 12.742C10.355 12.1811 9.82877 11.5323 9.40663 10.8169C9.24315 10.5386 9.38987 10.388 9.52924 10.2499C9.66862 10.1118 9.8101 9.92555 9.94843 9.76339C10.0634 9.62323 10.1573 9.4671 10.2272 9.2999C10.2658 9.22336 10.2843 9.13829 10.281 9.05265C10.2777 8.96702 10.2527 8.88362 10.2083 8.81026C10.1381 8.67111 9.57955 7.30263 9.34271 6.74604C9.10587 6.18944 8.87532 6.28255 8.71394 6.28255C8.55255 6.28255 8.36287 6.25954 8.17633 6.25954C8.03426 6.26305 7.89443 6.2957 7.76553 6.35546C7.63663 6.41521 7.52141 6.50079 7.42705 6.60689C7.1087 6.90294 6.856 7.2623 6.68526 7.6618C6.51451 8.0613 6.42949 8.49209 6.43568 8.9264C6.52942 9.97682 6.93028 10.9766 7.58843 11.8015C8.75685 13.6231 10.418 15.0773 12.3797 15.9958C15.2333 17.109 15.2333 16.7376 15.7489 16.6905C16.14 16.6154 16.511 16.4589 16.8376 16.2312C17.1642 16.0036 17.4392 15.7098 17.6446 15.3691C17.8264 14.9549 17.8828 14.4967 17.807 14.0509Z" fill="#FFFFFF"/>
                                </svg>
                            </div>
                            <div v-show="type !== 'whatsapp'">
                                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.4754 11.4384C23.4568 13.4183 22.9243 15.3594 21.93 17.0725C20.9357 18.7856 19.5135 20.2121 17.8023 21.2127C16.091 22.2134 14.1491 22.754 12.1661 22.7818C10.1832 22.8096 8.22682 22.3236 6.48808 21.3714L0.147949 23.3823L2.21556 17.2952C1.13655 15.5317 0.566123 13.505 0.567131 11.4384C0.567131 8.40612 1.77368 5.49802 3.92136 3.35386C6.06904 1.2097 8.98191 0.00512695 12.0192 0.00512695C15.0565 0.00512695 17.9693 1.2097 20.117 3.35386C22.2647 5.49802 23.4712 8.40612 23.4712 11.4384H23.4754ZM12.0244 1.89986C9.48142 1.89263 7.0394 2.89289 5.23426 4.68115C3.42911 6.46941 2.40829 8.89959 2.39581 11.4384C2.39612 13.4505 3.04052 15.4099 4.23497 17.0306L3.02668 20.5721L6.72701 19.3982C8.17471 20.3453 9.85109 20.8858 11.5802 20.9631C13.3093 21.0403 15.0273 20.6515 16.554 19.8373C18.0806 19.0231 19.3596 17.8136 20.2566 16.3358C21.1536 14.858 21.6356 13.1663 21.652 11.4384C21.6392 8.89986 20.6185 6.47 18.8136 4.68183C17.0088 2.89366 14.5672 1.89318 12.0244 1.89986ZM17.807 14.0509C17.7358 13.9347 17.5492 13.8657 17.2694 13.7265C16.9896 13.5874 15.6084 12.9147 15.3517 12.8226C15.0949 12.7305 14.9063 12.6834 14.7229 12.9617C14.5395 13.24 13.9977 13.8657 13.8342 14.0519C13.6708 14.2381 13.5073 14.2612 13.2254 14.122C12.3987 13.7958 11.6349 13.3289 10.9681 12.742C10.355 12.1811 9.82877 11.5323 9.40663 10.8169C9.24315 10.5386 9.38987 10.388 9.52924 10.2499C9.66862 10.1118 9.8101 9.92555 9.94843 9.76339C10.0634 9.62323 10.1573 9.4671 10.2272 9.2999C10.2658 9.22336 10.2843 9.13829 10.281 9.05265C10.2777 8.96702 10.2527 8.88362 10.2083 8.81026C10.1381 8.67111 9.57955 7.30263 9.34271 6.74604C9.10587 6.18944 8.87532 6.28255 8.71394 6.28255C8.55255 6.28255 8.36287 6.25954 8.17633 6.25954C8.03426 6.26305 7.89443 6.2957 7.76553 6.35546C7.63663 6.41521 7.52141 6.50079 7.42705 6.60689C7.1087 6.90294 6.856 7.2623 6.68526 7.6618C6.51451 8.0613 6.42949 8.49209 6.43568 8.9264C6.52942 9.97682 6.93028 10.9766 7.58843 11.8015C8.75685 13.6231 10.418 15.0773 12.3797 15.9958C15.2333 17.109 15.2333 16.7376 15.7489 16.6905C16.14 16.6154 16.511 16.4589 16.8376 16.2312C17.1642 16.0036 17.4392 15.7098 17.6446 15.3691C17.8264 14.9549 17.8828 14.4967 17.807 14.0509Z" fill="#C6CCD1"/>
                                </svg>
                            </div>
                            <p :style="[type === 'whatsapp' ? {color: '#FFFFFF'} : {color: '#C6CCD1'}]" class="pl-2 lg:pl-4 text-xs lg:text-lg">Whatsapp</p>
                        </div>
                    </div>
                </div>

                <!-- KONTEN DASHBOARD -->
                <div class="w-full lg:w-9/12">
                    <call-broadcast v-if="type === 'call'"/>
                    <sms-broadcast v-else-if="type === 'sms'"/>
                    <email-broadcast v-else-if="type === 'email'"/>
                    <whatsapp-broadcast v-else-if="type === 'whatsapp'"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import InfoItem from "./item/infoItem";
    import CallBroadcast from "./page/CallBroadcast";
    import SmsBroadcast from "./page/SmsBroadcast";
    import EmailBroadcast from "./page/EmailBroadcast";
    import WhatsappBroadcast from "./page/WhatsappBroadcast";

    export default {
        name: "Dashboard",
        components: {WhatsappBroadcast, EmailBroadcast, SmsBroadcast, CallBroadcast, InfoItem},
        data: function () {
            return {
                type: 'call',
                info: [
                    {
                        nama: 'Call Quota',
                        jml: '-',
                        ind: '',
                        color: 'color: #41AFFF'
                    },
                    {
                        nama: 'SMS Quota',
                        jml: '-',
                        ind: 'SMS',
                        color: 'color: #F3A356'
                    },
                    {
                        nama: 'Email Quota',
                        jml: '-',
                        ind: 'Mails',
                        color: 'color: #FB2DE3'
                    },
                    {
                        nama: 'WhatsApp Quota',
                        jml: '-',
                        ind: 'Messages',
                        color: 'color: #25C2AF'
                    },
                ]
            }
        },
        created() {
            this.loadQuota()
        },
        methods: {
            changeTab: function (type) {
                this.type = type
            },
            loadQuota: function () {
                if(this.$session.exists()) {
                    const axios = require('axios')

                    let main = this
                    axios.get("https://backend.ocatelkom.co.id/api/v1/billing/channel", {
                        headers: {
                            'Authorization': `Basic ${main.$session.get("token")}`
                        }
                    })
                    .then(function (response) {
                        if (response.data.quota) {
                            let quota = response.data.quota

                            quota.forEach(function (item) {
                                if(item.type === 'call') {
                                    main.info[0].jml = item.remain_quota + ""
                                }
                                else if(item.type === 'sms') {
                                    main.info[1].jml = item.remain_quota + ""
                                }
                                else if(item.type === 'email') {
                                    main.info[2].jml = item.remain_quota + ""
                                }
                                else if(item.type === 'whatsapp') {
                                    main.info[3].jml = item.remain_quota + ""
                                }
                            })
                        }

                    })
                }
            }
        }
    }
</script>

<style scoped>

</style>