<template>
    <div class="relative flex flex-wrap mt-10" style="height: 920px">
        <overlay/>
    </div>
</template>

<script>
    import Overlay from "./Overlay";
    export default {
        name: "DashboardNotLogged",
        components: {Overlay}
    }
</script>

<style scoped>

</style>