<template>
    <img src="../../../assets/image/bg-atas-2.png" class="w-full" style="height: 700px"/>
</template>

<script>
    export default {
        name: "HeaderBG"
    }
</script>

<style scoped>

</style>