<template>
    <div class="flex flex-wrap lg:px-56 justify-center">
        <div class="mx-4 md:mx-24 lg:mx-56">
            <p v-show="!this.$session.exists()" class="text-3xl text-center font-bold mt-4 text-white">Halo, kamu harus Sign up / Log in terlebih dahulu untuk mencoba dashboard trial</p>
            <p v-show="this.$session.exists()" class="text-xl lg:text-3xl lg:text-center font-bold mt-4 text-white">Halo {{this.$session.get('first_name')}}, Nikmati pengalaman kemudahan dalam menyebarkan pesan disini.</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "HeaderContent"
    }
</script>

<style scoped>

</style>