<template>
    <div class="absolute z-10 top-0 w-full h-full p-4 lg:px-24">
        <div class="w-full h-full flex flex-wrap bg-not-logged items-center justify-center">
            <div>
                <img src="../../../assets/image/dashboard/lock.png" style="width: 200px; height: 200px" class="block mx-auto">
                <p class="font-semibold mt-6 text-center"><a href="register" class="text-main-color">Sign Up</a> / <a href="login" class="text-main-color">Login</a> terlebih dahulu untuk mencoba OCA</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Overlay"
    }
</script>

<style scoped>

</style>