<template>
    <div class="w-full my-16 py-12 lg:px-32 flex flex-wrap" style="background: linear-gradient(90deg, rgba(249,156,93,1) 0%, rgba(242,90,144,1) 100%);">
        <div class="lg:w-1/2 px-8 lg:px-20">
            <p class="text-3xl text-white font-black mt-1" style="font-family: Poppins">Unlock all features</p>
            <p class="text-md text-white mt-1">Nikmati seluruh fitur yang dimiliki OCA untuk memudahkan
                Anda dalam berkomunikasi melalui berbagai saluran komunikasi
                Tingkatkan Layananmu sekarang.</p>
        </div>
        <div class="w-full lg:mt-0 mt-6 lg:w-1/2 px-8 lg:px-20 flex flex-wrap lg:justify-end justify-center items-center">
            <a href="pricing"><button class="lg:mx-2 bg-white rounded-lg py-3 px-16 font-semibold tracking-widest" style="color: #F46A84">Upgrade</button></a>
            <a v-show="this.$session.exists()" class="lg:mx-2 bg-main-color rounded-lg py-3 px-6 font-semibold tracking-widest text-white lg:mt-0 mt-4" href="http://dashboard.ocatelkom.co.id/" target="_blank">Go to full dashboard</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Upgrade"
    }
</script>

<style scoped>

</style>