<template>
  <div id="app" class="overflow-x-hidden bg-customs-15">
    <!-- <div class="bg-neutral-600 smx:hidden">
      <div class="relative text-white text-xsm max-w-screen-xl self-auto items-center justify-center mx-auto py-2">
          <span class="font-semibold">Update terbaru Covid 19:</span> Completely restore maintainable convergence whereas covalent mindshare. Objectively morph frictionless alignments before technically sound networks. Objectively unleash.
      </div>
    </div> -->
    <div v-if="menuShow" style="transform: translate(-50%,-50%);width: 371px;height: 524px;z-index: 999" class="fixed left-50 top-50 bg-white shadow-xl rounded-xlg overflow-y-scroll py-8 px-5">
      <div style="" class="flex-col h-full overflow-y-scroll">
        <div class="flex-col">
          <div class="text-sm text-neutral-600 font-semibold uppercase">Produk</div>
          <div @click="goto('product/blast');" class="text-base text-neutral-400 my-4 ml-6">OCA Blast</div>
          <div  @click="goto('product/interaction');" class="text-base text-neutral-400 my-4 ml-6">OCA Interaction</div>
          <div @click="goto('product/profiling');" class="text-base text-neutral-400 my-4 ml-6">OCA Profiling</div>
        </div>
        <!-- <div class="flex-col">
          <div class="text-sm text-neutral-600 font-semibold uppercase">Solution</div>
          <div class="text-base text-neutral-400 my-4 ml-6">OCA Blast</div>
          <div class="text-base text-neutral-400 my-4 ml-6">OCA Interaction</div>
          <div class="text-base text-neutral-400 my-4 ml-6">OCA Profiling</div>
        </div> -->
        <div class="flex-col">
          <div  class="text-sm text-neutral-600 font-semibold uppercase">Harga</div>
          <div @click="goto('pricing');" class="text-base text-neutral-400 my-4 ml-6">Harga</div>
        </div>
        <!-- <div class="flex-col">
          <div class="text-sm text-neutral-600 font-semibold uppercase">Resources</div>
          <div class="text-base text-neutral-400 my-4 ml-6">FAQ</div>
          <div class="text-base text-neutral-400 my-4 ml-6">API Documentation</div>
        </div> -->
        <div class="flex-col">
          <div class="text-sm text-neutral-600 font-semibold uppercase">Tentang Kami</div>
          <div @click="goto('about-us/tentang-oca')" class="text-base text-neutral-400 my-4 ml-6">Tentang OCA</div>
          <div @click="goto('about-us/blog')" class="text-base text-neutral-400 my-4 ml-6">Blog</div>
        </div>
      </div>
    </div>
    <oca-navbar></oca-navbar>
    <div class="bg-customs-15">
      <oca-header-content></oca-header-content>
      <div style="border-radius: 0px 80px 0px 80px;" class="relative bg-white mt-16 ">
        <oca-customer-profiling></oca-customer-profiling>
        <oca-product-interest></oca-product-interest>
        <div class="relative smx:pb-14">
          <div style="top: -200px;" class="absolute right-0 bg-white smx:hidden">
            <svg width="479" height="522" viewBox="0 0 479 522" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g style="mix-blend-mode:luminosity" opacity="0.05">
              <path d="M228.219 234.169L139.504 211.97L28.6091 180.892C10.8659 176.452 6.43013 158.693 19.7375 145.374L166.118 16.6197C179.425 7.74011 197.169 12.1799 201.604 25.4992L232.655 127.614L254.834 207.531C259.27 225.29 245.962 238.609 228.219 234.169Z" stroke="url(#paint0_linear)" stroke-width="22.1789" stroke-miterlimit="10"/>
              <path d="M507.677 194.196L374.603 220.835L303.631 234.154C285.888 238.594 272.58 225.274 277.016 207.515L299.195 136.479L334.681 29.924C339.117 16.6047 361.296 12.1649 370.167 21.0445L516.548 158.678C529.855 171.997 520.984 189.756 507.677 194.196Z" stroke="url(#paint1_linear)" stroke-width="22.1789" stroke-miterlimit="10"/>
              <path d="M254.834 283.016L237.091 340.733L201.605 465.046C197.169 478.366 174.99 482.805 166.118 473.926L19.7375 340.733C6.43013 331.853 10.8659 309.655 28.6091 305.215L157.247 269.697L228.219 251.938C245.962 251.938 259.27 265.257 254.834 283.016Z" stroke="url(#paint2_linear)" stroke-width="22.1789" stroke-miterlimit="10"/>
              <path d="M534.279 478.372C538.715 482.812 538.715 491.691 534.279 500.571L507.664 518.33C503.229 522.77 489.921 522.77 485.485 518.33L432.256 465.053L405.641 509.45C396.77 527.21 370.155 518.33 365.719 500.571L294.747 318.54L285.875 283.022C281.439 274.142 294.747 260.823 303.618 265.263L339.105 283.022L525.407 367.378C543.151 376.257 552.022 398.456 529.843 407.336L481.05 429.534L534.279 478.372Z" fill="#383637"/>
              </g>
              <defs>
              <linearGradient id="paint0_linear" x1="-0.00173864" y1="125.683" x2="266.788" y2="125.683" gradientUnits="userSpaceOnUse">
              <stop stop-color="#F7F7F7"/>
              <stop offset="0.6" stop-color="#F7F7F7"/>
              <stop offset="1" stop-color="#F7F7F7"/>
              </linearGradient>
              <linearGradient id="paint1_linear" x1="265.159" y1="125.668" x2="534.597" y2="125.668" gradientUnits="userSpaceOnUse">
              <stop stop-color="#F7F7F7"/>
              <stop offset="0.6" stop-color="#F7F7F7"/>
              <stop offset="1" stop-color="#F7F7F7"/>
              </linearGradient>
              <linearGradient id="paint2_linear" x1="0.0914067" y1="366.896" x2="266.695" y2="366.896" gradientUnits="userSpaceOnUse">
              <stop stop-color="#F7F7F7"/>
              <stop offset="0.6" stop-color="#F7F7F7"/>
              <stop offset="1" stop-color="#F7F7F7"/>
              </linearGradient>
              </defs>
            </svg>
          </div>
          <div style="top: -50px;" class="absolute right-0 lg:hidden">
            <svg width="250" height="240" viewBox="0 0 250 240" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g style="mix-blend-mode:luminosity" opacity="0.05">
              <path d="M105.273 108.005L64.5407 97.8123L13.6257 83.5432C5.47932 81.5048 3.44271 73.3511 9.5525 67.2358L76.7602 8.12103C82.87 4.04416 91.0164 6.08259 93.053 12.1979L107.309 59.082L117.492 95.7739C119.529 103.928 113.419 110.043 105.273 108.005Z" stroke="url(#paint0_linear-1)" stroke-width="10.183" stroke-miterlimit="10"/>
              <path d="M233.581 89.6513L172.483 101.882L139.898 107.997C131.751 110.036 125.641 103.92 127.678 95.7665L137.861 63.1516L154.154 14.2291C156.19 8.11384 166.373 6.07541 170.446 10.1523L237.654 73.3438C243.764 79.4591 239.691 87.6128 233.581 89.6513Z" stroke="url(#paint1_linear-1)" stroke-width="10.183" stroke-miterlimit="10"/>
              <path d="M117.492 130.431L109.346 156.931L93.0531 214.007C91.0165 220.122 80.8335 222.16 76.7603 218.084L9.5525 156.931C3.4427 152.854 5.47932 142.662 13.6257 140.623L72.6871 124.316L105.273 116.162C113.419 116.162 119.529 122.277 117.492 130.431Z" stroke="url(#paint2_linear-1)" stroke-width="10.183" stroke-miterlimit="10"/>
              <path d="M245.796 220.125C247.833 222.163 247.833 226.24 245.796 230.317L233.576 238.471C231.54 240.509 225.43 240.509 223.393 238.471L198.954 214.009L186.735 234.394C182.661 242.547 170.442 238.471 168.405 230.317L135.82 146.741L131.746 130.434C129.71 126.357 135.82 120.241 139.893 122.28L156.186 130.434L241.723 169.164C249.869 173.241 253.942 183.433 243.759 187.51L221.357 197.702L245.796 220.125Z" fill="#383637"/>
              </g>
              <defs>
              <linearGradient id="paint0_linear-1" x1="0.489645" y1="58.1953" x2="122.981" y2="58.1953" gradientUnits="userSpaceOnUse">
              <stop stop-color="#ED1C24"/>
              <stop offset="0.6" stop-color="#ED164B"/>
              <stop offset="1" stop-color="#ED1260"/>
              </linearGradient>
              <linearGradient id="paint1_linear-1" x1="122.234" y1="58.188" x2="245.941" y2="58.188" gradientUnits="userSpaceOnUse">
              <stop stop-color="#ED1C24"/>
              <stop offset="0.6" stop-color="#ED164B"/>
              <stop offset="1" stop-color="#ED1260"/>
              </linearGradient>
              <linearGradient id="paint2_linear-1" x1="0.53241" y1="168.943" x2="122.938" y2="168.943" gradientUnits="userSpaceOnUse">
              <stop stop-color="#ED1C24"/>
              <stop offset="0.6" stop-color="#ED164B"/>
              <stop offset="1" stop-color="#ED1260"/>
              </linearGradient>
              </defs>
            </svg>
          </div>
          <oca-interest-desc></oca-interest-desc>
        </div>
      </div>
    </div>

    <!-- <div id="section-1" class="bg-customs-15">
      <div class="flex-col relative max-w-screen-xl self-auto items-center justify-center mx-auto py-24">
        <div class="flex relative bg-customs-15 my-4">
          <svg class="mx-auto" width="1136" height="618" viewBox="0 0 1136 618" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M42.5315 537.987C36.1956 545.233 36.6356 561.15 49.8392 568.565C57.4656 572.848 67.3922 565.551 75.333 572.746C85.1204 581.615 76.8221 593.393 87.8657 602.015C96.5068 608.761 109.103 605.915 114.396 602.959" stroke="#DFE1E6" stroke-width="4"/>
            <path d="M60.8362 521.531C54.5003 528.778 54.9403 544.695 68.1438 552.11C75.7703 556.393 85.6969 549.096 93.6377 556.291C103.425 565.159 95.1268 576.938 106.17 585.56C114.811 592.306 127.408 589.46 132.701 586.503" stroke="#DFE1E6" stroke-width="4"/>
            <path d="M79.1408 505.076C72.805 512.322 73.245 528.24 86.4485 535.654C94.075 539.937 104.002 532.64 111.942 539.835C121.73 548.704 113.431 560.483 124.475 569.104C133.116 575.85 145.713 573.004 151.006 570.048" stroke="#DFE1E6" stroke-width="4"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M190.249 0.894531L0.751953 3.5039L55.5229 179.908L108.565 109.43V509H930.982C938.858 556.623 981.32 593 1032.52 593C1089.32 593 1135.37 548.229 1135.37 493C1135.37 437.772 1089.32 393 1032.52 393C1031.02 393 1029.52 393.032 1028.03 393.094V70.9995H137.488L190.249 0.894531ZM1028.03 393.094V509H930.982C930.12 503.79 929.672 498.446 929.672 493C929.672 439.235 973.311 395.38 1028.03 393.094ZM137.488 70.9995L108.565 109.43V70.9995H137.488Z" fill="#FAFBFC"/>
            <path d="M218.27 105.5H867.926C874.277 105.5 879.426 110.648 879.426 117V435C879.426 441.351 874.277 446.5 867.926 446.5H218.27C211.918 446.5 206.77 441.351 206.77 435V117C206.77 110.648 211.918 105.5 218.27 105.5Z" fill="white" stroke="#EBECF0"/>
          </svg>
          <div style="transform: translate(-50%, -50%);top: 45%;" class="absolute left-50 flex-1 flex-col px-10 py-8">
              <div style="letter-spacing: 0.75px;" class="text-center font-medium text-3xl text-neutral-600 leading-9 my-6">“Dengan SMS dan WhatsApp blast <br/> memudahkan penyebaran penagihan <br/> IndiHome dan Wifi.id yang sampai <br/> kepada pelanggan”</div>
              <div class="flex justify-center mt-12">
                <img class="mr-4" src="../../../assets/image/product/face-1.png" alt="">
                <div class="flex-col">
                  <div class="text-base font-semibold text-customs-11">Bea Js</div>
                  <div class="text-xs text-customs-12">Founder of <span class="text-customs-13 font-semibold">Telkom</span></div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div> -->
    <oca-testimony></oca-testimony>
    <oca-footer-sub></oca-footer-sub>
    <oca-footer></oca-footer>
  </div>
</template>

<script>
  import OcaNavbar from '../../../components/oca_origin/navbar';
  import OcaFooter from '../../../components/oca_origin/footer';
  import OcaHeaderContent from "./components/HeaderContent";
  import OcaCustomerProfiling from "./components/CustomerProfiling";
  import OcaProductInterest from "./components/ProductInterest";
  import OcaTestimony from "./components/Testimony";
  import OcaInterestDesc from "./components/InterestDescription";
  import OcaFooterSub from "./components/FooterSub";

  export default {
    name: 'App',
    components: {
      OcaNavbar,
      OcaFooter,
      OcaHeaderContent,
      OcaCustomerProfiling,
      OcaProductInterest,
      OcaInterestDesc,
      OcaTestimony,
      OcaFooterSub
    },
    data: function () {
      return {
        menuShow:false
      }
    },
    mounted() {

    },
    methods: {
      menuShowMobile: function () {
        this.menuShow = !this.menuShow
      },
      goto: function (url) {
          window.location.replace(`${window.location.protocol}//${window.location.host}/${url}`)
      },
    },
    created: function () {

    },
    destroyed: function () {

    },

    //INJECT META HTML
    metaInfo(){
      return {
        title: `OCA Interaction - Telkom OCA solusi omnichannel - Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast`,
        meta: [
          {
            name: 'keywords',
            content: 'Telkom OCA, omnichannel platform, whatsapp bisnis, email blast, ivr call, sms blast'
          },
          {
            name: 'author',
            content: 'Telkom OCA'
          },
          {
            name: 'description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            name: 'thumbnail',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
          {
            property: 'og:title',
            content: "Telkom OCA Omnichannel Platform"
          },
          {
            property: 'og:description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            property: 'og:image',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
          {
            property: 'twitter:card',
            content: "summary"
          },
          {
            property: 'twitter:site',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:creator',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:title',
            content: 'Telkom OCA Omnichannel Platform'
          },
          {
            property: 'twitter:url',
            content: 'https://ocatelkom.co.id'
          },
          {
            property: 'twitter:description',
            content: 'Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast'
          },
          {
            property: 'twitter:image:src',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
        ]
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


  #app {
    font-family: Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
