<template>
    <div class="w-full lg:w-1/3 lg:pr-12 lg:mt-0 mt-6">
        <div class="p-8 h-full" style="box-shadow: 0px 4px 13px 2px rgba(0,0,0,0.1);">
            <div class="relative flex flex-wrap items-center">
                <div class="w-1/2">
                    <p class="text-lg">Billing Address</p>
                    <p class="text-sm text-gray-500 mt-2">{{info.company_name === null ? '' : info.company_name}}</p>
                </div>

                <div class="w-1/2 flex flex-wrap justify-end">
                    <a href="payment?page=detail" class="px-8 py-2 border border-main-color rounded-lg text-main-color hover:bg-main-color hover:text-white">Edit</a>
                </div>
            </div>

            <div class="h-1 border-t border-gray-600 my-4"></div>

            <div>
                <p class="text-sm text-gray-500">{{userName}}</p>
                <p class="text-sm text-gray-500">{{info.email}}</p>
                <p class="text-sm text-gray-500">{{info.phone_number}}</p>
            </div>

            <div class="h-1 border-t border-gray-600 my-4"></div>

            <p class="text-sm text-gray-500">{{info.address}}<br>{{info.city !== undefined ? info.city + ', ' + info.country + ', ' + info.zip_code : ''}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "BillAddressBox",
        props: {
            info: Object
        },
        data: function () {
            return {
                sub_address: ''
            }
        },
        created() {
            this.sub_address
        },
        computed: {
            userName: function () {
                if(this.info.first_name != null){
                    return this.info.first_name + ' ' + this.info.last_name
                }
                return ''
            }
        }
    }
</script>

<style scoped>

</style>