<template>
    <div class="relative w-auto py-4 border-b border-gray-500 flex flex-wrap items-center">
        <input type="radio" name="paymethod" :value="konten.payment_method_id" class="mr-4" v-model="$parent.$parent.paymethod" required/>
        <img :src="konten.icon" class="w-16 h-8 object-contain ml-4">
        <p class="ml-8">{{konten.product_name}}</p>
    </div>
</template>

<script>
    export default {
        name: "MethodItem",
        props: {
            konten: Object
        },
    }
</script>

<style scoped>

</style>