<template>
    <div class="mt-6 w-auto" style="max-width: 400px">
        <p class="text-md font-semibold">{{judul}}</p>
        <div class="mt-2 lg:pl-8">
            <method-item v-for="data in konten" :key="data" :konten="data"/>
        </div>
    </div>
</template>

<script>
    import MethodItem from "./MethodItem";
    export default {
        name: "MethodBox",
        components: {MethodItem},
        props:{
            judul: String,
            konten: Array
        }
    }
</script>

<style scoped>

</style>