<template>
    <div class="w-full p-8 rounded-lg" style="box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.25);">
        <p class="mb-6">Order Summary</p>
        <product-item v-for="data in invoice.items" :key="data" :name="data.item_name" :price="Number(data.amount).toLocaleString()"/>

        <div class="h-1 border-t border-gray-600 mt-6 mb-2"></div>
        <sub-item :name="'Sub Total'" :price="Number(invoice.sub_total).toLocaleString()"/>
        <div class="h-1 border-t border-gray-600 my-2"></div>

        <sub-item :name="'Voucher'" :price="Number(invoice.discount.total).toLocaleString()" :diskon="true"/>
        <sub-item :name="'Admin Fee'" :price="Number(invoice.transaction_fee.total).toLocaleString()"/>
        <sub-item :name="'Tax (10%)'" :price="Number(invoice.tax.total).toLocaleString()"/>

        <div class="h-1 border-t border-gray-600 my-2"></div>
        <div class="flex mb-6 justify-between pl-16">
            <p class="text-sm text-gray-500">Total</p>
            <p class="text-sm text-main-color font-semibold text-right">IDR {{Number(invoice.total).toLocaleString() | formatQuantity}},-</p>
        </div>
        <button class="block w-full p-2 rounded-lg bg-main-color text-center text-white">{{btn}}</button>
    </div>
</template>

<script>
    import ProductItem from "../detail_item/productItem";
    import SubItem from "../detail_item/subItem";
    export default {
        name: "OrderSummary",
        components: {SubItem, ProductItem},
        props: {
            invoice: Object,
            btn: String
        },
        filters: {
            // you can call this whatever you want to
            formatQuantity (value) {
                return value.replace(/,/g, '.');
            }
        }
    }
</script>

<style scoped>

</style>