<template>
    <div class="w-full lg:w-1/3 lg:px-6 lg:mt-0 mt-6">
        <div class="p-8 h-full" style="box-shadow: 0px 4px 13px 2px rgba(0,0,0,0.1);">
            <div class="relative flex flex-wrap items-center">
                <div class="w-1/2">
                    <p class="text-lg">Payment Method</p>
                    <p class="text-sm text-gray-500 mt-2">{{payment.productName}}</p>
                </div>

                <div class="w-1/2 flex flex-wrap justify-end">
                    <a href="payment?page=method" class="px-8 py-2 border border-main-color rounded-lg text-main-color hover:bg-main-color hover:text-white">Edit</a>
                </div>
            </div>

            <div class="h-1 border-t border-gray-600 my-4"></div>

            <div class="flex flex-wrap items-center justify-between">
                <div v-if="payment.paymentType === 'VA'">
                    <p class="text-sm text-gray-500">Virtual Account Number</p>
                    <p class="text-sm text-gray-500 font-bold">{{payment.additional_info.vanumber}}</p>
                </div>
                <p v-else class="text-sm text-gray-500">{{payment.productName}}</p>

                <div class="w-32 h-10 flex justify-end">
                    <img :src="payment.icon" class="h-full object-contain">
                </div>

            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "PayMethodBox",
        props: {
            payment: Object
        }
    }
</script>

<style scoped>

</style>