<template>
    <div class="w-full lg:w-1/3 lg:pl-12 lg:mt-0 mt-6">
        <div class="p-8 h-full flex flex-wrap" style="box-shadow: 0px 4px 13px 2px rgba(0,0,0,0.1);">
            <div class="w-full">
                <div class="w-full h-auto flex justify-between items-center">
                    <div>
                        <p class="text-lg">Order Summary</p>
                    </div>

                    <div class="flex flex-wrap justify-end">
                        <button class="px-8 py-2 border border-main-color rounded-lg text-main-color hover:bg-main-color hover:text-white" @click="showDetail">Detail</button>
                    </div>
                </div>

                <div class="w-full">
                    <p class="text-sm text-gray-500" v-for="data in summary.items" :key="data">{{data.item_name}}</p>
                </div>
            </div>

            <div class="w-full flex align-bottom mt-auto">
                <p class="w-1/2 text-sm text-gray-500">Total</p>
                <p class="w-1/2 text-sm text-main-color font-semibold text-right">IDR {{summary.total == null ? '0' : (formatQuantity(Number(summary.total).toLocaleString() ))}},-</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SummaryBox",
        props: {
            summary: Object
        },
        methods: {
            showDetail: function () {
                let main = this
                this.$modal.show('detail', {
                    invoice: main.summary,
                })
            },            
            formatQuantity (value) {
                return value.replace(/,/g, '.');
            }
        },
        filters: {
            // you can call this whatever you want to
            // formatQuantity (value) {
            //     console.log(value.replace(/,/g, '.'))
            //     return value.replace(/,/g, '.');
            // }
        }
    }
</script>

<style scoped>

</style>