<template>
    <div class="w-full py-6 px-8 mb-8 rounded-lg" style="background-color: #404040; box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.25);">
        <div v-show="potongan === ''">
            <p class="font-bold text-white">Punya kode voucher</p>
            <form class="mt-4" method="post" @submit="submitVoucher">
                <input v-model="kode" type="text" class="w-full rounded-lg px-4 py-2" required>
                <input type="submit" class="block w-full mt-2 p-2 rounded-lg bg-main-color text-center text-white">
            </form>
        </div>
        <div v-show="potongan !== ''">
            <p class="text-white font-bold">Voucher Applied</p>
            <p class="mt-1 text-xl text-white font-bold">{{kode}}</p>
            <p class="mt-1 text-sm text-white">Potongan harga senilai IDR {{potongan}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "VoucherBox",
        props: {
            potongan: String,
            kode: String
        },
        methods: {
            submitVoucher: function (e) {
                e.preventDefault()

                this.$modal.show('loading')
                const axios = require('axios')

                let main = this
                axios.post('https://payment.ocatelkom.co.id/api/v1/redeem-voucher', {
                    order_id: main.$session.get('order_id'),
                    voucher_code: main.kode,
                }, {
                    headers: {
                        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
                    }
                })
                    .then(function (response) {
                        if(response.data.status === 'success'){
                            main.$modal.hide('loading')

                            main.potongan = response.data.desc.discount.replace('-', '')

                            main.$parent.loadDetail()
                        }
                    })
                    .catch(function (error) {
                        main.$modal.hide('loading')
                        main.$modal.show('error', {
                            title: "ERROR " + error.response.data.errors[0].code,
                            message: error.response.data.errors[0].message
                        })
                    })
            }
        }
    }
</script>

<style scoped>

</style>