<template>
   <div id="app" class="relative overflow-x-hidden">
    <div v-if="menuShow" style="transform: translate(-50%,-50%);width: 371px;height: 524px;z-index: 999" class="fixed left-50 top-50 bg-white shadow-xl rounded-xlg overflow-y-scroll py-8 px-5">
      <div style="" class="flex-col h-full overflow-y-scroll">
        <div class="flex-col">
          <div class="text-sm text-neutral-600 font-semibold uppercase">Produk</div>
          <div @click="goto('product/blast');" class="text-base text-neutral-400 my-4 ml-6">OCA Blast</div>
          <div  @click="goto('product/interaction');" class="text-base text-neutral-400 my-4 ml-6">OCA Interaction</div>
          <div @click="goto('product/profiling');" class="text-base text-neutral-400 my-4 ml-6">OCA Profiling</div>
        </div>
        <!-- <div class="flex-col">
          <div class="text-sm text-neutral-600 font-semibold uppercase">Solution</div>
          <div class="text-base text-neutral-400 my-4 ml-6">OCA Blast</div>
          <div class="text-base text-neutral-400 my-4 ml-6">OCA Interaction</div>
          <div class="text-base text-neutral-400 my-4 ml-6">OCA Profiling</div>
        </div> -->
        <div class="flex-col">
          <div  class="text-sm text-neutral-600 font-semibold uppercase">Harga</div>
          <div @click="goto('pricing');" class="text-base text-neutral-400 my-4 ml-6">Harga</div>
        </div>
        <!-- <div class="flex-col">
          <div class="text-sm text-neutral-600 font-semibold uppercase">Resources</div>
          <div class="text-base text-neutral-400 my-4 ml-6">FAQ</div>
          <div class="text-base text-neutral-400 my-4 ml-6">API Documentation</div>
        </div> -->
        <div class="flex-col">
          <div class="text-sm text-neutral-600 font-semibold uppercase">Tentang Kami</div>
          <div @click="goto('about-us/tentang-oca')" class="text-base text-neutral-400 my-4 ml-6">Tentang OCA</div>
          <div @click="goto('about-us/blog')" class="text-base text-neutral-400 my-4 ml-6">Blog</div>
        </div>
      </div>
    </div>
      <!-- <div v-if="this.newsShow" class="bg-neutral-600 smx:hidden" style="position:fixed;width:100%;z-index:9999">
        <div class="relative text-white text-xsm max-w-screen-xl self-auto items-center justify-center mx-auto py-2">
          <div class="flex justify-between">
            <div ><span class="font-semibold text-primary">Update terbaru Covid 19:</span> Completely restore maintainable convergence whereas covalent mindshare. Objectively morph frictionless alignments before technically sound networks. Objectively unleash.</div>
            <svg @click="newsShowMobile()" class="self-center cursor-pointer" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5 3.5L3.5 10.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M3.5 3.5L10.5 10.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      </div> -->
      <oca-navbar></oca-navbar>
      <oca-header> </oca-header>

      <div id="section-2" class="overflow-hidden bg-white"> 
        <div style="flex: 0 auto; background: linear-gradient(126.94deg, rgba(244, 245, 247, 0) 0%, #FFFFFF 14.99%);border-radius: 0px 80px 0px 0px;" class="flex-col relative max-w-screen-xl self-auto items-center justify-center mx-auto py-24 smx:pt-12">
          <h2 class="text-3xl smx:text-2xl text-neutral-600 font-semibold text-center ">Mulai dari pesan pertama hingga <br/>meningkatkan customer experience</h2>
          <div class="flex my-10">
            <div class="flex-col lg:ml-12 smx:ml-10 lg:mr-24 smx:mr-10">
              <div class="flex-col items-center relative w-3 smx:w-2|3 h-full">
                <div :style="{ height: currentHeight + '%' , 'will-change': 'width, height'}" class="absolute w-3 smx:w-2|3 bg-primary rounded-t-full rounded-b-full"></div>
                <div class="w-3 smx:w-2|3 h-full"></div>
                <div style="left: 0.5px;top: -220px;width: 521px;height: 440px;" class="relative z-50 smx:hidden">
                  <div :style="{'will-change': 'transform', 'transform-style': 'preserve-3d', left: '-20px' , transform: `translate3d(${lineCurve.horizontal}px, ${lineCurve.vertical}px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)`}" 
                      class="absolute bg-white rounded-xlg z-10 inset-0">
                  </div>
                  <img style="position:absolute;" class="inset-0 " src="../../assets/image/home/line-curves.png" alt="">
                </div>
                <div style="left: 0.5px;top: -190px;width: 521px;height: 440px;" class="relative z-50 lg:hidden">
                  <div :style="{'will-change': 'transform', 'transform-style': 'preserve-3d', left: '-20px' , transform: `translate3d(${lineCurve.horizontal}px, ${lineCurve.vertical}px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)`}" 
                      class="absolute bg-white rounded-xlg z-10 inset-0">
                  </div>
                  <img style="position:absolute;" class="inset-0" src="../../assets/image/home/line-curves-mobile.png" alt="">
                </div>
              </div>
            </div>
            <div class="w-full">
              <div class="mt-24"></div>
              <div style="height: 400px" class="w-full smx:flex smx:flex-col relative mt-12">
                <div style="left: -139px;" class="absolute top-0 text-center smx:hidden" data-aos="fade-up" data-aos-delay="100" >
                  <img src="../../assets/image/home/logo-product-2.png" alt="">
                </div>
                <div style="left: -72px;transform: (200%);" class="absolute top-0 text-center lg:hidden" data-aos="fade-up" data-aos-delay="100" >
                  <img class="w-14 h-auto" src="../../assets/image/home/logo-product-2.png" alt="">
                </div>
                <div class="lg:w-8/12 relative float-left" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                  <img style="width: 420px" src="../../assets/image/home/oca_blast.webp" class="mx-auto smx:hidden"  alt=""/>
                  <img src="../../assets/image/home/oca_blast.webp" class="w-48 h-auto lg:hidden"  alt=""/>
                </div>
                <div class="lg:w-4/12 relative float-left z-50" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                  <div class="flex flex-col my-5 ">
                    <div class="text-base text-neutral-600 font-semibold my-2">OCA Blast</div>
                    <h3 class="text-3/4xl smx:text-sm text-neutral-600 leading-10 font-semibold">Kirim SMS, Email, Call, hingga WhatsApp Blast</h3>
                    <div class="text-base smx:text-sm text-neutral-200 leading-6 my-2">Promosi blast atau menghubungi pelanggan langsung ke SMS, Email, Call, hingga WhatsApp. Perbesar konversi dengan marketing yang konsisten.</div>
                    <div @click="goto('product/blast');" class="cursor-pointer text-base smx:text-sm text-primary my-2">Selengkapnya</div>
                  </div>
                </div>
                <div style="right: -421px; bottom:30px;" class="absolute text-center z-0 smx:hidden">
                  <img src="../../assets/image/home/oca-watermark.png" alt="">
                </div>
              </div>
              <div style="height: 400px" class="w-full smx:flex smx:flex-col relative mt-12 smx:mt-16">
                <div style="left: -139px;" class="absolute top-0 text-center smx:hidden" data-aos="fade-up" data-aos-delay="100" >
                  <img src="../../assets/image/home/logo-product-2.png" alt="">
                </div>
                <div style="left: -72px;transform: translateY(200%);" class="absolute top-0 text-center lg:hidden" data-aos="fade-up" data-aos-delay="100" >
                  <img class="w-14 h-auto" src="../../assets/image/home/logo-product-2.png" alt="">
                </div>
                <div class="lg:w-8/12 relative float-left z-50" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                  <img style="width: 420px" src="../../assets/image/home/oca_interaction.webp" class="mx-auto smx:hidden"  alt=""/>
                  <img src="../../assets/image/home/oca_interaction.webp" class="w-48 h-auto lg:hidden"  alt=""/>
                </div>
                <div class="lg:w-4/12 relative float-left z-50" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                  <div class="flex flex-col my-5">
                    <div class="text-base text-neutral-600 font-semibold my-2">OCA Interaction</div>
                    <h3 class="text-3/4xl smx:text-sm text-neutral-600 leading-10 font-semibold">Balas semua chat customer di satu CRM</h3>
                    <div class="text-base smx:text-sm text-neutral-200 leading-6 my-2">Bangun customer relationship yang lebih kuat dengan live chat Anda di satu tempat. Simpan kontak customer untuk memudahkan admin.</div>
                    <div @click="goto('product/interaction');" class="cursor-pointer text-base smx:text-sm text-primary my-2">Selengkapnya</div>
                  </div>
                </div>
              </div>
              <div style="height: 400px" class="w-full smx:flex smx:flex-col relative mt-12 smx:mt-16">
                <div style="left: -139px;" class="absolute top-0 text-center smx:hidden" data-aos="fade-up" data-aos-delay="100" >
                  <img src="../../assets/image/home/logo-product-2.png" alt="">
                </div>
                <div style="left: -72px;transform: translateY(200%);" class="absolute top-0 text-center lg:hidden" data-aos="fade-up" data-aos-delay="100" >
                  <img class="w-14 h-auto" src="../../assets/image/home/logo-product-2.png" alt="">
                </div>
                <div class="lg:w-8/12 relative float-left z-50" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                  <img style="width: 420px" src="../../assets/image/home/oca_profilling.webp" class="mx-auto smx:hidden"  alt="">
                  <img src="../../assets/image/home/oca_profilling.webp" class="w-48 h-auto lg:hidden"  alt="">
                </div>
                <div class="lg:w-4/12 relative float-left z-50" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                  <div class="flex flex-col my-5">
                    <div class="text-base text-neutral-600 font-semibold my-2">OCA Profiling</div>
                    <h3 class="text-3/4xl smx:text-sm text-neutral-600 leading-10 font-semibold">Promosi ke 11jt+ customer base OCA</h3>
                    <div class="text-base smx:text-sm text-neutral-200 leading-6 my-2">Atur targeting customer Anda sesuai kriteria customer agar promosi jadi tepat sasaran dan memperbesar kemungkinan untuk dibaca.</div>
                    <div @click="goto('product/profiling');" class="cursor-pointer text-base smx:text-sm text-primary my-2">Selengkapnya</div>
                  </div>
                </div>
                <div style="right: -421px; top: -90px" class="absolute text-center z-0 smx:hidden">
                  <img src="../../assets/image/home/oca-big-watermark.webp" alt="">
                </div>
              </div>
              <div style="height: 400px" class="w-full smx:flex smx:flex-col relative mt-12 smx:mt-16">
                <div style="left: -139px;" class="absolute top-0 text-center smx:hidden" data-aos="fade-up" data-aos-delay="100" >
                  <img src="../../assets/image/home/logo-product-2.png" alt="">
                </div>
                <div style="left: -72px;transform: translateY(200%);" class="absolute top-0 text-center lg:hidden" data-aos="fade-up" data-aos-delay="100" >
                  <img class="w-14 h-auto" src="../../assets/image/home/logo-product-2.png" alt="">
                </div>
                <div class="lg:w-8/12 relative float-left z-50" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <img style="width: 420px" src="../../assets/image/home/oca_api.webp" class="mx-auto smx:hidden"  alt=""/>
                    <img src="../../assets/image/home/oca_api.webp" class="w-48 h-auto lg:hidden"  alt="">
                </div>
                <div class="lg:w-4/12 relative float-left z-50" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                  <div class="flex flex-col my-5">
                    <div class="text-base text-neutral-600 font-semibold my-2">OCA API</div>
                    <h3 class="text-3/4xl smx:text-sm text-neutral-600 leading-10 font-semibold">Hubungkan platform lain dengan OCA API</h3>
                    <div class="text-base smx:text-sm text-neutral-200 leading-6 my-2">Tambah API dari platform yang Anda sudah miliki ke dashboard kami. Anda juga bisa memiliki WhatsApp Business dan Chatbot.</div>
                    <!-- <div class="cursor-pointer text-base text-primary my-2">Selengkapnya</div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <oca-product-sub></oca-product-sub>
      <oca-usecase></oca-usecase>
      <oca-testimony></oca-testimony>

      <div id="section-6" class="mt-5">
        <div style="background: linear-gradient(90deg, #FFFFFF 16.02%, rgba(255, 255, 255, 0) 51.45%), linear-gradient(270deg, #FFFFFF 15.12%, rgba(255, 255, 255, 0) 51.13%), linear-gradient(180deg, rgba(237, 18, 96, 0.08) -31.06%, rgba(255, 255, 255, 0) 100%), #FFFFFF;" class="flex flex-col relative max-w-screen-xl self-auto items-center mx-auto py-20 lg:px-24">
          <div class="text-2xl text-customs-2 smx:text-neutral-600 font-medium smx:font-semibold lg:tracking-wide text-center mx-4">Percaya dengan kami <br/> dalam pengiriman pesan Anda</div>
          <div class="flex lg:justify-between smx:flex-col w-full py-6 px-10 lg:mt-12 smx:mt-6">
            <div class="flex flex-col smx:mx-auto smx:my-8">
              <svg class="smx:mx-auto" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29.3332 2.66667L14.6665 17.3333" stroke="#E81255" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M29.3332 2.66667L19.9998 29.3333L14.6665 17.3333L2.6665 12L29.3332 2.66667Z" stroke="#E81255" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <intersect @enter="animateValue( 0, 102853835, 1000, 514268)">
                <div class="text-3xl smx:text-2xl smx:text-center text-customs-2 font-semibold smx:font-bold my-2">{{testcount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}} </div>
              </intersect>
              <div class="text-customs-3 smx:text-center text-base">Pesan terkirim ke pelanggan</div>
            </div>
            <div class="flex flex-col smx:mx-auto smx:my-8">
              <svg class="smx:mx-auto" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 29.3333C23.3638 29.3333 29.3333 23.3638 29.3333 16C29.3333 8.63619 23.3638 2.66666 16 2.66666C8.6362 2.66666 2.66667 8.63619 2.66667 16C2.66667 23.3638 8.6362 29.3333 16 29.3333Z" stroke="#E81255" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2.66667 16H29.3333" stroke="#E81255" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16 2.66666C19.335 6.31779 21.2303 11.056 21.3333 16C21.2303 20.9439 19.335 25.6822 16 29.3333C12.665 25.6822 10.7697 20.9439 10.6667 16C10.7697 11.056 12.665 6.31779 16 2.66666V2.66666Z" stroke="#E81255" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <intersect @enter="animateValue2( 0, 5000, 1000, 25)">
                <div class="text-3xl smx:text-2xl smx:text-center text-customs-2 font-semibold smx:font-bold my-2">{{testcount2.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}}+</div>
              </intersect>
              <div class="text-customs-3 smx:text-center text-base">Perusahaan memilih OCA</div>
            </div>
            <div class="flex flex-col smx:mx-auto smx:my-8">
              <svg class="smx:mx-auto" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.6667 28V25.3333C22.6667 23.9188 22.1048 22.5623 21.1046 21.5621C20.1044 20.5619 18.7478 20 17.3333 20H6.66668C5.25219 20 3.89563 20.5619 2.89544 21.5621C1.89525 22.5623 1.33334 23.9188 1.33334 25.3333V28" stroke="#E81255" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 14.6667C14.9455 14.6667 17.3333 12.2789 17.3333 9.33333C17.3333 6.38781 14.9455 4 12 4C9.05447 4 6.66666 6.38781 6.66666 9.33333C6.66666 12.2789 9.05447 14.6667 12 14.6667Z" stroke="#E81255" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M30.6667 28V25.3333C30.6658 24.1516 30.2725 23.0037 29.5485 22.0698C28.8245 21.1358 27.8108 20.4688 26.6667 20.1733" stroke="#E81255" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21.3333 4.17334C22.4806 4.46707 23.4974 5.13427 24.2235 6.06975C24.9497 7.00523 25.3438 8.15578 25.3438 9.34001C25.3438 10.5242 24.9497 11.6748 24.2235 12.6103C23.4974 13.5457 22.4806 14.2129 21.3333 14.5067" stroke="#E81255" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <intersect @enter="animateValue3( 0, 2927294, 1000, 14635)">
                <div class="text-3xl smx:text-2xl smx:text-center text-customs-2 font-semibold smx:font-bold my-2">{{testcount3.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}}</div>
              </intersect>
              <div class="text-customs-3 smx:text-center text-base">Pelanggan Terjangkau</div>
            </div>
          </div>
        </div>
      </div>
    <oca-footer-sub></oca-footer-sub>
    <oca-footer></oca-footer>
      <error-overlay/>
  </div>
</template>

<script>
  // import OcaButton from '../../components/oca_origin/buttons';
  import ErrorOverlay from "../../components/oca_origin/navbarMobile";
  import Intersect from 'vue-intersect';
  import OcaProductSub from "./components/ProductSub";

  const OcaNavbar = () => import(/* webpackPrefetch: true */ '../../components/oca_origin/navbar');
  const OcaFooter = () => import(/* webpackPrefetch: true */ '../../components/oca_origin/footer');
  const OcaHeader = () => import(/* webpackPrefetch: true */ "./components/Header");
  const OcaUsecase = () => import(/* webpackPrefetch: true */ "./components/UseCase");
  const OcaTestimony = () => import(/* webpackPrefetch: true */ "./components/Testimony");
  const OcaFooterSub = () => import(/* webpackPrefetch: true */ "./components/FooterSub");

  export default {
    name: 'App',
    components: {
      // OcaButton,
      ErrorOverlay,
      OcaNavbar,
      OcaHeader,
      OcaFooter,
      OcaFooterSub,
      OcaTestimony,
      OcaProductSub,
      OcaUsecase,
      Intersect 
    },
    data: function () {
      return {
        interval: null,
        count: 1,
        count2: 1,
        activeCarousel: false,
        newsShow: true,
        menuShow: false,
        tabNavbar: false,
        testcount: 0,
        testcount2: 0,
        testcount3: 0,
        currentHeight: 0,
        lineCurve: {
          vertical: 0,
          horizontal: 0
        }
      }
    },
    mounted() {

    },
    created() {
      this.countDownTimer()
      this.countDownTimer2()
      window.addEventListener('scroll', this.handleScroll);
    },
    destroyed () {
      window.removeEventListener('scroll', this.handleScroll);
    },
    methods: {
        goto: function (url) {
          console.log(`${window.location.protocol} + ${window.location.host} + '/' + ${url}`);
          window.location.replace(`${window.location.protocol}//${window.location.host}/${url}`)
      },
      newsShowMobile: function () {
        this.newsShow = !this.newsShow
      },
      menuShowMobile: function () {
        this.menuShow = !this.menuShow
      },
      toggleNavbar: function () {
        this.tabNavbar = !this.tabNavbar
      },
      countDownTimer() {
          if(this.count > 0) {
              setTimeout(() => {
                if (!this.activeCarousel) {
                  if (this.count === 3) {
                    this.count = 1
                  }
                  else {
                    this.count += 1
                  }
                }
                this.countDownTimer()
              }, 3000)
          }
      },
      countDownTimer2() {
          if(this.count2 > 0) {
              setTimeout(() => {
                if (!this.activeCarousel2) {
                  if (this.count2 === 3) {
                    this.count2 = 1
                  }
                  else {
                    this.count2 += 1
                  }
                }
                this.countDownTimer2()
              }, 3000)
          }
      },
      animateValue(start, end, duration, counter) {
          if (start === end) return;
          var range = end - start;
          var current = start;
          var increment = end > start? counter : -counter;
          var stepTime = Math.abs(Math.floor(duration / range));
          var timer = setInterval(() => {
              current += increment;
              this.testcount = current;
              if (current > end) {
                  this.testcount = 102853835;
                  clearInterval(timer);
              }
          }, stepTime);
      },
      animateValue2(start, end, duration, counter) {
          if (start === end) return;
          var range = end - start;
          var current = start;
          var increment = end > start? counter : -counter;
          var stepTime = Math.abs(Math.floor(duration / range));
          var timer = setInterval(() => {
              current += increment;
              this.testcount2 = current;
              if (current > end) {
                  this.testcount2 = 5000;
                  clearInterval(timer);
              }
          }, stepTime);
      },
      animateValue3(start, end, duration, counter) {
          if (start === end) return;
          var range = end - start;
          var current = start;
          var increment = end > start? counter : -counter;
          var stepTime = Math.abs(Math.floor(duration / range));
          var timer = setInterval(() => {
              current += increment;
              this.testcount3 = current;
              if (current > end) {
                  this.testcount3 = 2927294;
                  clearInterval(timer);
              }
          }, stepTime);
      },
      handleScroll () {
      // Any code to be executed when the window is scrolled
        // console.log(window.scrollY);
        let x = 2372 - window.scrollY
        let a = x / 1968 * 100
        let b = 100 - a
        if (b <= 92) {
          this.currentHeight = b
          this.lineCurve.vertical = 0
          this.lineCurve.horizontal = 0
        }
        if (b > 92 && b <= 97) {
          let ax = 97 - b
          let bx = ax * 100 / 5
          let cx = 100 - bx
          this.lineCurve.vertical = 255 * cx / 100
          this.lineCurve.horizontal = 0
        }
        if (b > 97 && b <= 120) {
          let ax = 100 - b
          let bx = ax * 100 / 3
          let cx = 100 - bx
          let vertical = 520 * cx / 100
          if (vertical > 255) {
            this.lineCurve.vertical = vertical
          }
          if (b > 98) {
            this.lineCurve.horizontal = 260 * cx / 100
          }

        }
        console.log(this.currentHeight);
      },
    },

    computed: {

    },
    //INJECT META HTML
    metaInfo(){
        return {
            title: `Omnichannel Marketing Platform OCA: Blast pesan dan CRM`,
            meta: [
                {
                    name: 'keywords',
                    content: 'OCA, Omnichannel, CRM, WhatsApp blast, SMS blast, email blast, WhatsApp business, UMKM.'
                },
                {
                    name: 'author',
                    content: 'Telkom OCA'
                },
                {
                    name: 'description',
                    content: "Telkom OCA adalah solusi komunikasi omnichannel Anda dengan customer mengirim pesan OTP, WhatsApp blast, SMS blast, Email blast, CRM, untuk UMKM & Enterprise"
                },
                {
                    name: 'thumbnail',
                    content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
                },
                {
                    property: 'og:title',
                    content: "Omnichannel Marketing Platform OCA: Blast pesan dan CRM"
                },
                {
                    property: 'og:description',
                    content: "Telkom OCA adalah solusi komunikasi omnichannel Anda dengan customer mengirim pesan OTP, WhatsApp blast, SMS blast, Email blast, CRM, untuk UMKM & Enterprise"
                },
                {
                    property: 'og:image',
                    content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
                },
                {
                    property: 'twitter:card',
                    content: "summary"
                },
                {
                    property: 'twitter:site',
                    content: "@Ask_OCA"
                },
                {
                    property: 'twitter:creator',
                    content: "@Ask_OCA"
                },
                {
                    property: 'twitter:title',
                    content: 'Telkom OCA Omnichannel Platform'
                },
                {
                    property: 'twitter:url',
                    content: 'https://ocatelkom.co.id'
                },
                {
                    property: 'twitter:description',
                    content: 'Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast'
                },
                {
                    property: 'twitter:image:src',
                    content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
                },
            ]
        }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

    #app {
        font-family: Inter;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .bg-loading {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .arrow-curve.graphic {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-image: url("../../assets/image/home/line-curve.png");
      background-position: 50% 50%;
      background-size: 516px;
      background-repeat: no-repeat;
    }

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee .newtest {
  display: flex;
  padding-left: 100%;
  animation: marquee 14s linear infinite;
}

.marquee2 .newtest {
  animation-delay: 7s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.marquee .reverse {
  display: flex;
  padding-left: 100%;
  animation: reverseMarquee 14s linear infinite reverse;
}

.marquee2 .reverse {
  animation-delay: 7s;
}

@keyframes reverseMarquee {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

</style>
