<template>
<div class="mx-12 smx:mx-4">
    <div class="max-w-screen-xl mx-auto">
        <div class="wrapper-featured mt-16 lg:mt-24">
            <div class="headline mb-16 leading-9 text-center">
                <h1 class="text-3/4xl font-semibold">Butuh layanan lebih? </h1>
                <h1 class="text-3/4xl font-semibold">subscribe dan tambah didalam!</h1>
            </div>
            <div class="wrapper-box" style="border: 1px solid ##EBECF0;width: 70%;margin: 0 auto;border-radius: 5px;">
                <table class="table-featured">
                    <tr style=" background-color: #FAFBFC;">
                        <td style="border-right:0px;padding:20px 30px">
                        <div class="text-base font-normal">Kuota Tambahan Blast</div>
                        <div class="text-neutral-100 text-xs font-normal">Tambah kuota Call, SMS, Email melalui <br> dahsboard bila sudah berlangganan</div>
                        </td>
                        <td style="border-left:0px;padding:20px 30px">
                        <div class="text-base font-normal">Rp 19,- /Detik Telepon</div>
                        <div class="text-base font-normal">Rp 449,- /Pesan SMS </div>
                        <div class="text-base font-normal">Rp 22,- /Email </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right:0px;padding:20px 30px">
                        <div class="text-base font-normal">Email Validation</div>
                        <div class="text-neutral-100 text-xs font-normal">Deteksi email bounce, email  <br> temporer, email tidak aktif</div>
                        </td>
                        <td style="border-left:0px;padding:20px 30px">
                        <div class="text-base font-normal">Rp 15,- /Email </div>
                        </td>
                    </tr>
                    <tr style=" background-color: #FAFBFC;">
                        <td style="border-right:0px;padding:20px 30px">
                        <div class="text-base font-normal">Number Validation</div>
                        <div class="text-neutral-100 text-xs font-normal">Validasi nomor telepon ke aktifan  <br> menggunakan sistem missed call </div>
                        </td>
                        <td style="border-left:0px;padding:20px 30px">
                        <div class="text-base font-normal">Rp 15,- /Nomor Telepon </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right:0px;padding:20px 30px">
                        <div class="text-base font-normal">WhatsApp Business Verified Account</div>
                        <div class="text-neutral-100 text-xs font-normal">OCA dapat membantu WhatsApp <br> Business bisa terverifikasi</div>
                        </td>
                        <td style="border-left:0px;padding:20px 30px">
                        <div class="text-base font-normal">Rp 10,000,000,-</div>
                        <div class="text-base font-normal">Satu kali bayar</div>
                        </td>
                    </tr>
                    <tr style=" background-color: #FAFBFC;">
                        <td style="border-right:0px;padding:20px 30px">
                        <div class="text-base font-normal">Social Media Account</div>
                        <div class="text-neutral-100 text-xs font-normal">Tambah akun sosial media untuk <br> berinteraksi lebih luas</div>
                        </td>
                        <td style="border-left:0px;padding:20px 30px">
                        <div class="text-base font-normal">Rp 149,000,- / Akun / Bulan</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right:0px;padding:20px 30px">
                        <div class="text-base font-normal">Chatbot</div>
                        <div class="text-neutral-100 text-xs font-normal">Buat chatbot sesuai kebutuhan Anda</div>
                        </td>
                        <td style="border-left:0px;padding:20px 30px">
                        <div class="flex align-center;">
                            <div class="text-base font-normal">Mulai dari Rp 500,000,- / Akun / Bulan</div>
                        </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="you-know mt-16 lg:mt-24 mb-16 lg:mb-24 mx-auto" style="width:70%">
                <h1 class="text-3/4xl font-semibold text-center mb-12">Yang perlu Anda tahu</h1>
                <ul class="leading-8">
                    <li class="text-sm font-normal text-neutral-300 mb-1">Line wajib menggunakan official account</li>
                    <li class="text-sm font-normal text-neutral-300 mb-1">SMS Masking bisa diajukan sesuai jika memenuhi syarat, Jika tidak anda dapat menggunakan Long Number</li>
                    <li class="text-sm font-normal text-neutral-300 mb-1">Jumlah User interaction dihitung secara keseluruhan baik SPV, Owner ataupun Agent</li>
                    <li class="text-sm font-normal text-neutral-300 mb-1">Whatsapp Verified account dapa diajukan jika memenuhi syarat, anda juga dapat menggunakan Masking "OCA Indonesia"</li>
                </ul>
            </div>
            <!-- <div class="faq mt-16 lg:mt-24 mx-auto" style="width:70%">
                <h1 class="text-3/4xl font-semibold text-center mb-4 lg:mb-4">FAQ</h1>
                <div class="text-base font-normal text-center" style="color:#83888E;">Completely scale synergistic expertise vis-a-vis granular communities.</div>
             <div class="py-10">
                <div class="container-tabs my-3" style="border:1px solid #EFF1F1;box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);border-radius: 5px;">
                    <transition name="slider">
                    <div @click="checkTab1()" class="flex items-center tab-item relative justify-between cursor-pointer px-6" style="border:1px solid #EFF1F1;box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);border-radius: 5px;">
                        <div class="flex items-center tab-item py-8 ">
                        <h3 class="text-customs-3 font-medium text-sm">Globally e-enable enterprise ROI via adaptive?</h3>
                        </div>
                        <div class="">
                        <img style="width:20px" v-if="tab1 === false" src="../../../assets/image/pricing_bg/up.png" alt="">
                        <img style="width:20px" v-if="tab1 === true" src="../../../assets/image/pricing_bg/down.png" alt="">
                        </div>
                    </div>
                    </transition>
                    <div v-if="tab1 === true" class="px-6" style="background-color:#FBFBFC">
                    <div class="text-custom-42 font-normal text-sm leading-7 mb-3 my-4 mx-auto">Appropriately productize low-risk high-yield best practices through global intellectual capital. Dynamically monetize transparent e-business after plug-and-play markets. Credibly architect principle-centered applications after resource maximizing e-services. Professionally transition sticky models vis-a-vis proactive infrastructures. Intrinsicly aggregate prospective niches and state of the art technologies.</div>
                    </div>
                </div>
                <div class="container-tabs my-3" style="border:1px solid #EFF1F1;box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);border-radius: 5px;">
                    <transition name="slider">
                    <div @click="checkTab2()" class="flex items-center tab-item relative justify-between cursor-pointer px-6" style="border:1px solid #EFF1F1;box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);border-radius: 5px;">
                        <div class="flex items-center tab-item py-8 ">
                        <h3 class="text-customs-3 font-medium text-sm">Dramatically synthesize B2B resources vis-a-vis diverse.?</h3>
                        </div>
                        <div class="">
                        <img style="width:20px" v-if="tab2 === false" src="../../../assets/image/pricing_bg/up.png" alt="">
                        <img style="width:20px" v-if="tab2 === true" src="../../../assets/image/pricing_bg/down.png" alt="">
                        </div>
                    </div>
                    </transition>
                    <div v-if="tab2 === true" class="px-6" style="background-color:#FBFBFC">
                    <div class="text-custom-42 font-normal text-sm leading-7 mb-3 my-4 mx-auto">Appropriately productize low-risk high-yield best practices through global intellectual capital. Dynamically monetize transparent e-business after plug-and-play markets. Credibly architect principle-centered applications after resource maximizing e-services. Professionally transition sticky models vis-a-vis proactive infrastructures. Intrinsicly aggregate prospective niches and state of the art technologies.</div>
                    </div>
                </div>
                <div class="container-tabs my-3" style="border:1px solid #EFF1F1;box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);border-radius: 5px;">
                    <transition name="slider">
                    <div @click="checkTab3()" class="flex items-center tab-item relative justify-between cursor-pointer px-6" style="border:1px solid #EFF1F1;box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);border-radius: 5px;">
                        <div class="flex items-center tab-item py-8 ">
                        <h3 class="text-customs-3 font-medium text-sm">Completely enable exceptional platforms through bricks-and-clicks.?</h3>
                        </div>
                        <div class="">
                        <img style="width:20px" v-if="tab3 === false" src="../../../assets/image/pricing_bg/up.png" alt="">
                        <img style="width:20px" v-if="tab3 === true" src="../../../assets/image/pricing_bg/down.png" alt="">
                        </div>
                    </div>
                    </transition>
                    <div v-if="tab3 === true" class="px-6" style="background-color:#FBFBFC">
                    <div class="text-custom-42 font-normal text-sm leading-7 mb-3 my-4 mx-auto">Appropriately productize low-risk high-yield best practices through global intellectual capital. Dynamically monetize transparent e-business after plug-and-play markets. Credibly architect principle-centered applications after resource maximizing e-services. Professionally transition sticky models vis-a-vis proactive infrastructures. Intrinsicly aggregate prospective niches and state of the art technologies.</div>
                    </div>
                </div>
                <div class="container-tabs my-3" style="border:1px solid #EFF1F1;box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);border-radius: 5px;">
                    <transition name="slider">
                    <div @click="checkTab4()" class="flex items-center tab-item relative justify-between cursor-pointer px-6" style="border:1px solid #EFF1F1;box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);border-radius: 5px;">
                        <div class="flex items-center tab-item py-8 ">
                        <h3 class="text-customs-3 font-medium text-sm">Continually deliver exceptional communities through intuitive.?</h3>
                        </div>
                        <div class="">
                        <img style="width:20px" v-if="tab4 === false" src="../../../assets/image/pricing_bg/up.png" alt="">
                        <img style="width:20px" v-if="tab4 === true" src="../../../assets/image/pricing_bg/down.png" alt="">
                        </div>
                    </div>
                    </transition>
                    <div v-if="tab4 === true" class="px-6" style="background-color:#FBFBFC">
                    <div class="text-custom-42 font-normal text-sm leading-7 mb-3 my-4 mx-auto">Appropriately productize low-risk high-yield best practices through global intellectual capital. Dynamically monetize transparent e-business after plug-and-play markets. Credibly architect principle-centered applications after resource maximizing e-services. Professionally transition sticky models vis-a-vis proactive infrastructures. Intrinsicly aggregate prospective niches and state of the art technologies.</div>
                    </div>
                </div>
                <div class="container-tabs my-3" style="border:1px solid #EFF1F1;box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);border-radius: 5px;">
                    <transition name="slider">
                    <div @click="checkTab5()" class="flex items-center tab-item relative justify-between cursor-pointer px-6" style="border:1px solid #EFF1F1;box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);border-radius: 5px;">
                        <div class="flex items-center tab-item py-8 ">
                        <h3 class="text-customs-3 font-medium text-sm">Compellingly network frictionless human capital whereas.</h3>
                        </div>
                        <div class="">
                        <img style="width:20px" v-if="tab5 === false" src="../../../assets/image/pricing_bg/up.png" alt="">
                        <img style="width:20px" v-if="tab5 === true" src="../../../assets/image/pricing_bg/down.png" alt="">
                        </div>
                    </div>
                    </transition>
                    <div v-if="tab5 === true" class="px-6" style="background-color:#FBFBFC">
                    <div class="text-custom-42 font-normal text-sm leading-7 mb-3 my-4 mx-auto">Appropriately productize low-risk high-yield best practices through global intellectual capital. Dynamically monetize transparent e-business after plug-and-play markets. Credibly architect principle-centered applications after resource maximizing e-services. Professionally transition sticky models vis-a-vis proactive infrastructures. Intrinsicly aggregate prospective niches and state of the art technologies.</div>
                    </div>
                </div>
                <div class="container-tabs my-3" style="border:1px solid #EFF1F1;box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);border-radius: 5px;">
                    <transition name="slider">
                    <div @click="checkTab6()" class="flex items-center tab-item relative justify-between cursor-pointer px-6" style="border:1px solid #EFF1F1;box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);border-radius: 5px;">
                        <div class="flex items-center tab-item py-8 ">
                        <h3 class="text-customs-3 font-medium text-sm">Continually deliver B2B outsourcing rather than.</h3>
                        </div>
                        <div class="">
                        <img style="width:20px" v-if="tab6 === false" src="../../../assets/image/pricing_bg/up.png" alt="">
                        <img style="width:20px" v-if="tab6 === true" src="../../../assets/image/pricing_bg/down.png" alt="">
                        </div>
                    </div>
                    </transition>
                    <div v-if="tab6 === true" class="px-6" style="background-color:#FBFBFC">
                    <div class="text-custom-42 font-normal text-sm leading-7 mb-3 my-4 mx-auto">Appropriately productize low-risk high-yield best practices through global intellectual capital. Dynamically monetize transparent e-business after plug-and-play markets. Credibly architect principle-centered applications after resource maximizing e-services. Professionally transition sticky models vis-a-vis proactive infrastructures. Intrinsicly aggregate prospective niches and state of the art technologies.</div>
                    </div>
                </div>
           
              </div>
         
            </div> -->
        </div>
    </div>
</div>
</template>

<script>
export default {
    name:"App",
    data:function(){
        return {
        selectedTab: 1,
        tab1:false,
        tab2:false,
        tab3:false,
        tab4:false,
        tab5:false,
        tab6:false,
        }
    },
    methods:{
        checkTab1:function(){
            this.tab1 = !this.tab1
        },
        checkTab2:function(){
            this.tab2 = !this.tab2
        },
        checkTab3:function(){
            this.tab3 = !this.tab3
        },
        checkTab4:function(){
            this.tab4 = !this.tab4
        },
        checkTab5:function(){
            this.tab5 = !this.tab5
        },
        checkTab6:function(){
            this.tab6 = !this.tab6
        },
    }
}
</script>

<style scoped>

</style>