<template>
  <section class="jumbotron pt-12 md:pt-32 lg:pt-40">
    <div class="nav-jumbotron bg-white pt-12 lg:pt-12 xl:pt-2" style="border-radius: 0px 0px 80px 0">
      <div class="mx-12 smx:mx-4">
        <div class="max-w-screen-xl mx-auto">
          <div class="wrap-headline text-center mt-12">
            <h1 class="text-neutral-600 font-bold" style="font-size:52px; line-height:0.8">Terms & Condition</h1>
          </div>
        <div class="flex my-12">
          <div class="" style="width:20%">
          <div @click="buttonShow()" class="cursor-pointer text-custom-2 text-sm font-semibold">Kebijakan Privasi OCA</div>
          <div @click="buttonPrivacy()" class="cursor-pointer text-custom-2 text-sm font-semibold mt-2">Terms & Condition</div>
          </div>
          <div class="" style="width:75%">
            <div v-if="showTerm" class="wrapper-content-term">
            <div class="para-1">
            <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Terima kasih sudah memilih OCA. OCA merupakan aplikasi berbasis web yang dikelola oleh PT. TELEKOMUNIKASI INDONESIA, Tbk yang menyediakan layanan untuk mem-broadcast pesan dalam bentuk tertulis ataupun suara, berikut dengan layanan lainnya yang dapat dikembangkan dari waktu ke waktu. Dengan mendaftar atau menggunakan layanan OCA apapun, berikut dengan semua fitur dan fungsi, situs web, dan dashboard pengguna yang terkait, yang berhubungan dengan layanan kami (disebut “layanan OCA” atau “layanan”).</div>
            <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Perjanjian Anda dengan kami, termasuk Ketentuan ini dan ketentuan lain yang Anda setujui, sebagaimana dibahas di bagian Keseluruhan Ketentuan di bawah, selain ketentuan dengan pihak ketiga manapun. Ketentuan mencakup hal-hal mengenai perubahan yang akan datang pada Ketentuan, perpanjangan otomatis, batasan tanggung jawab, privasi, dan lainnya. Apabila Anda ingin membaca Ketentuan ini, versi Ketentuan yang saat ini berlaku dapat ditemukan di situs web OCA. Anda mengakui bahwa Anda telah membaca dan memahami Ketentuan, menerima Ketentuan ini, dan menyetujui untuk terikat dalam Ketentuan ini. Apabila anda tidak setuju dengan (atau tidak dapat mematuhi) Ketentuan, maka Anda tidak dapat menggunakan Layanan Oca atau mengakses Konten apapun.</div>
            <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Agar dapat menggunakan Layanan OCA dan mengakses layanan, Anda harus (1) memenuhi semua persyaratan dalam Ketentuan ini, dan (2) menyetujui keseluruhan isi dari Ketentuan ini.</div>
            </div>
            <div class="para-2">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Perubahan ketentuan</h1>
            <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Kami sesekali dapat melakukan perubahan pada Ketentuan karena alasan yang sah, seperti meningkatkan fungsi atau fitur yang ada atau menambahkan fungsi atau fitur baru ke Layanan, menerapkan kemajuan dalam sains dan teknologi, dan penyesuaian teknis yang wajar pada Layanan, memastikan pengoperasian keamanan Layanan, dan karena alasan hukum atau peraturan. Saat kami melakukan perubahan yang signifikan pada Ketentuan ini, kami akan memberikan Anda pemberitahuan yang sesuai dengan keadaan, misalnya dengan menampilkan pemberitahuan penting atau berusaha mendapatkan persetujuan Anda dalam Layanan atau dengan mengirimkan email kepada Anda. Dalam beberapa hal, kami akan memberitahu Anda sebelumnya, dan penggunaan Layanan secara terus-menerus setelah perubahan dilakukan merupakan penerimaan Anda atas perubahan tersebut. Oleh karena itu, pastikan Anda membaca pemberitahuan tersebut dengan teliti dan seksama. Apabila Anda telah mendapatkan pemberitahuan sebagaimana dimaksud dan tidak ada respon/tanggapan selama 14 (empat belas hari) hari terhitung sejak tanggal penerimaan pemberitahuan, maka Anda dianggap setuju dengan segala perubahan yang terjadi. Apabila Anda tidak ingin lagi menggunakan Layanan berdasarkan versi baru Ketentuan, Anda dapat menutup akun Anda dengan menghubungi kami. Apabila Anda menerima Percobaan atau Langganan Berbayar melalui Pihak Ketiga, Anda harus membatalkan Langganan Berbayar yang berlaku melalui Pihak Ketiga tersebut.</div>
            </div>
            <div class="para-3">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Menikmati OCA</h1>
            <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Berikut beberapa informasi tentang semua cara yang dapat Anda lakukan untuk menikmati Layanan OCA.</div>
            <ul style="list-style:inherit;padding-left:1rem">
              <li class="font-semibold text-neutral-600 text-lg my-2">Akun OCA</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Untuk menggunakan Layanan, Anda akan diminta untuk membuat akun OCA. Anda akan diminta untuk menyediakan alamat e-mail dan kami akan mengirimkan password pada alamat email yang anda daftarkan. Anda hanya mendapatkan layanan terbatas yang tersedia secara umum di publik, hingga anda mendaftar untuk akun OCA. <br> Anda bertanggung jawab sepenuhnya atas semua penggunaan dari Layanan dibawah akun OCA dan sub-akun apapun, termasuk kualitas dan integritas Data Pelanggan Anda dan setiap end-user milik anda. Anda juga bertanggung jawab penuh atas semua tindakan dan kelalaian siapapun yang memiliki akses menuju ataupun menggunakan Layanan dengan akun Anda. Anda setuju untuk mengambil semua tindakan pencegahan yang wajar untuk mencegah baik menuju ataupun menggunakan Layanan, dan akan segera memberitahu Kami jika ada penggunaan yang tidak sah. Kami tidak akan bertanggung jawab atas kehilangan atau kerusakan yang timbul yang disebabkan Pengguna yang tidak diberikan kuasa menggunakan akun Anda. Anda akan bertanggung jawab sepenuhnya atas biaya Anda sendiri, untuk memperoleh, memasang dan pemeliharaan semua perangkat keras, lunak dan peralatan lain yang mungkin diperlukan bagi Anda dan setiap pengguna Akhir untuk terhubung, mengakses, dan menggunakan Layanan.</div>
              <li class="font-semibold text-neutral-600 text-lg my-2">Legalitas dan yurisdiksi</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Layanan OCA pada dasarnya tidak ditujukan untuk digunakan oleh Pengguna di bawah umur, yaitu setiap orang yang belum mencapai batas usia dewasa atau usia cakap menurut yurisdiksi.</div>
              <li class="font-semibold text-neutral-600 text-lg my-2">Percobaan</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Dari waktu ke waktu, Kami atau pihak lain atas nama Kami dapat menawarkan percobaan Langganan Berbayar dengan kuota tertentu tanpa biaya atau dengan harga yang lebih rendah, selanjutnya disebut (“Percobaan”). OCA dapat menentukan kelayakan Anda menggunakan Percobaan, membatalkan atau memodifikasi Percobaan kapanpun tanpa pemberitahuan terlebih dahulu dan tanpa kewajiban, selama diizinkan berdasarkan hukum yang berlaku. Penjelasan lebih lanjut terdapat dalam Pasal 7 Ketentuan ini dan Perjanjian/Kontrak antara Anda dengan OCA.</div>
            </ul>
            </div>
            <div class="para-4">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Costumer data</h1>
            <ul style="list-style:inherit;padding-left:1rem">
              <li class="font-semibold text-neutral-600 text-lg my-2">Penggunaan dalam data pelanggan</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">“Data Pelanggan dan Data End Customer Pelanggan” yang dimaksud adalah berupa alamat email, alamat kedudukan pelanggan, nomor telepon serta nomor telepon yang terhubung ke aplikasi Whatsapp daripada Pelanggan OCA terhadap end customer Pelanggan OCA.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">“Data Pelanggan” terdiri dari data dan informasi lain yang disediakan oleh pelanggan yang diisi untuk Kami melalui penggunaan Layanan berdasarkan ketentuan ini, termasuk penggunaan data pelanggan dan konten milik pelanggan yang berupa nomor telepon serta alamat email serta informasi pribadi lainnya dari pelanggan.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Informasi Pribadi adalah Pelanggan atau individu mengirimkan Informasi Pribadi ke OCA saat menggunakan Layanan. Informasi Pribadi termasuk, tetapi tidak terbatas pada, nama, alamat, pekerjaan, nomor telepon, alamat email, rekening bank dan detail kartu kredit, jenis kelamin, identifikasi (termasuk KTP, SIM, atau Paspor) atau tanda pengenal lainnya yang dikeluarkan oleh pemerintah, dan kewarganegaraan. Selain itu, untuk informasi lainnya, seperti profil pribadi, dan/atau informasi biometrik yang dikaitkan atau dihubungkan dengan Informasi Pribadi, maka informasi tersebut juga dianggap sebagai Informasi Pribadi. Informasi Pribadi yang kami kumpulkan dapat diberikan oleh Anda secara langsung atau oleh pihak ketiga. Kami dapat mengumpulkan informasi dalam berbagai macam bentuk dan tujuan (termasuk tujuan yang diizinkan berdasarkan peraturan perundang-undangan yang berlaku).</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">“Data End Customer Pelanggan” adalah data yang diproses oleh OCA untuk tujuan mengirimkan dan mendistribusikan konten dengan konsumen dari pelanggan; termasuk data yang digunakan untuk “Konten Pelanggan” berarti: (a) Konten yang dipertukarkan dengan penggunaan Layanan OCA, seperti teks, badan pesan, media suara dan video, gambar, dan suara; (b) data yang disimpan atas nama Pelanggan melalui Layanan OCA seperti log komunikasi; (c) data personal seperti pengirim, penerima, dan menyalin informasi identifikasi penerima, informasi kontak, informasi pekerjaan; (d) setiap data pribadi lain yang dipilih Pelanggan untuk disertakan dalam menggunakan Layanan.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda menyatakan bahwa anda sudah membaca Ketentuan ini dan paham bahwa ini akan menetapkan bagaimana Kami akan memproses Data Anda termasuk di dalamnya tindakan, namun tidak terbatas pada; mengumpulkan, menyimpan dan menggunakan Data Pelanggan Anda sesuai dengan tujuan penggunaan Data Anda dan dengan ketentuan hukum yang berlaku kecuali pada suatu kondisi tertentu dan diperlukan sesuai dengan ketentuan hukum yang berlaku. Jika Anda tidak setuju dengan Kebijakan Privasi kami, maka Anda harus segera berhenti menggunakan Layanan kami.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda menginstruksikan Kami untuk menggunakan dan mengungkapkan Data Pelanggan sebagaimana diperlukan dan sesuai dengan hukum yang berlaku untuk (a) memberikan Layanan sesuai dengan Kebijakan Privasi OCA yang berlaku saat itu, termasuk di dalamnya tindakan, namun tidak terbatas pada mendeteksi, mencegah, dan menyelidiki insiden keamanan, penipuan, spam atau penggunaan Layanan yang melanggar hukum, dan (b) menanggapi setiap masalah teknis atau pertanyaan Anda juga memastikan cara kerja Layanan yang tepat. Anda mengetahui bahwa email dan SMS adalah media tidak aman yang umumnya tidak dienkripsi dalam transit dan keamanan informasi yang dikirimkan melalui Internet tidak pernah dapat dijamin, oleh karena itu, Kami (OCA) tidak bertanggung jawab atas intersepsi atau gangguan komunikasi apapun melalui internet atau untuk perubahan atau kehilangan yang disebabkan oleh tindakan Anda sendiri.</div>
              <li class="font-semibold text-neutral-600 text-lg my-2">Pengembalian dan penghapusan dari data penggunaan pelanggan dan konten pelanggan</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Setelah pengakhiran Ketentuan ini, untuk keperluan Layanan Kami dapat menyimpan, menggunakan, dan mengungkapkan Data Pelanggan untuk : (a) tujuan akuntansi, pajak, penagihan, audit, dan penyesuaian; dan/atau (b) untuk menyelidiki penipuan, spam, atau penggunaan Layanan yang melanggar hukum.
Data end customer dari Pelanggan yang tersimpan pada sistem OCA secara otomatis akan terhapus pada sistem OCA setelah jangka waktu 1 (satu) tahun setelah kontrak berlangganan dan/atau kontrak kerjasama telah habis/daluarsa apabila tidak ada rekonsiliasi dari Pelanggan.</div>
            </ul>
            </div>
            <div class="para-5">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Restrictions and Requirements</h1>
            <ul style="list-style:inherit;padding-left:1rem">
              <li class="font-semibold text-neutral-600 text-lg my-2">Acceptable Use Policy (AUP)</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Kami sangat senang melihat apa yang Anda lakukan dalam menggunakan Layanan Kami. Namun, anda harus mengetahui ada beberapa batasan atas apa yang Anda dapat lakukan pada Layanan Kami dan ketentuan yang Anda harus ikuti jika menggunakan Layanan.</div>
              <div class="wrap-p-5" style="padding-left:1rem">
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda tidak dapat menggunakan Layanan OCA tanpa menyetujui AUP ini. Dengan demikian, anda setuju untuk tidak menggunakan, tidak menganjurkan atau mengizinkan Pelanggan mana saja untuk menggunakan Layanan OCA dengan cara-cara yang dilarang sebagai berikut:</div>
              <ul style="list-style-type: upper-alpha">
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Menggunakan Layanan OCA untuk mendukung apapun yang ilegal, perbuatan kasar atau lainnya yang
     secara material maupun non material mengganggu kegiatan ataupun bisnis OCA.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Mencoba untuk mendobrak atau menghancurkan mekanisme keamanan apapun pada Layanan OCA, atau
     menggunakan Layanan OCA dengan cara apapun yang menimbulkan resiko keamanan material atau
     layanan bagi OCA ataupun hak privasi dari pelanggan lainnya.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Merekayasa ulang Layanan OCA untuk menemukan keterbatasan, kerentanan atau menghindari
     kemampuan penyaringan.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Menjalankan atau memfasilitasi, bagi secara sengaja ataupun tidak sengaja, penyangkalan serangan
     layanan terhadap Layanan apapun yang diberikan OCA secara material dan berdampak negatif pada
     ketersediaan, ataupun stabilitas Layanan OCA.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Mengirimkan materi apapun yang mengandung virus, Trojan, spyware, worm, atau apapun program yang
    merugikan, berbahaya ataupun merusak Layanan OCA.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Menggunakan Layanan OCA dengan cara apapun yang dapat menyebabkan penyedia telekomunikasi
    mengeluh terhadap penggunaan Anda kepada OCA atau secara material melanggar hal-hal berikut: (a)
    standard industry, kebijakan, dan ketentuan dari provider yang ada; (b) Ketentuan penyedia
    telekomunikasi dan persyaratan penggunaan sebagaimana dikomunikasikan secara tertulis oleh OCA
    kepada Anda.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Terlibat dalam iklan, pemasaran, atau aktivitas lain apapun yang dilarang oleh Undang- undang atau
     peraturan yang berlaku ataupun Undang-undang anti-spam, perlindungan data pribadi, atau privasi di
     yurisdiksi manapun yang berlaku.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Menggunakan Layanan OCA sehubungan dengan komunikasi yang tidak diminta, tidak diinginkan, atau
     melecehkan (komersial atau sebaliknya, tidak terbatas pada panggilan telepon, pesan SMS atau MMS,
     obrolan pesan suara, video, atau faks.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Menggunakan Layanan OCA untuk mengumpulkan informasi tentang Individu, baik Data Pribadi Umum
   selain dari hal tersebut, yaitu; nama lengkap, jenis kelamin, kewarganegaraan dan agama seseorang, dan
   Data Pribadi Spesifik seperti, namun tidak terbatas pada; data kesehatan, data biometrik, data genetika,
   kehidupan/orientasi seksual, pandangan politik, catatan kejahatan, data anak dan keluarga, data keuangan
   pribadi, termasuk alamat email, nomor telepon dan/atau data lainnya yang bertentangan dengan hukum
   yang berlaku, yang memungkinkan untuk mengidentifikasi seseorang secara spesifik, tanpa persetujuan
   eksplisit atau dengan alasan palsu dan/atau yang dapat merugikan individu tersebut.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Menggunakan Layanan OCA untuk terlibat, atau sehubungan dengan aktivitas penipuan dan/atau
    penggelapan.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Menggunakan Layanan OCA untuk menerima, mengirim atau memproses informasi Kesehatan yang
    dilindungi.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Melanggar atau memfasilitasi pelanggaran terhadap hukum atau peraturan-peraturan yang berlaku baik
    pada Negara Kesatuan Republik Indonesia ataupun peraturan- peraturan Negara lain/asing.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Menggunakan layanan OCA dengan cara yang memicu penegakan hukum, pemerintah, atau badan
     pengatur hukum untuk meminta penangguhan Layanan OCA kepada Anda dan/atau nomor telepon Anda
     juga kepada Pihak lainnya termasuk Pelanggan lain.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Menggunakan Layanan OCA untuk mengirimkan materi apapun yang melanggar Hak Kekayaan
     Intelektual, Hak Privasi individu, atau hak-hak lain dari Pihak Ketiga termasuk Pelanggan lain.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Menggunakan Layanan OCA untuk mengirimkan materi apapun yang memfasilitasi, atau menimbulkan
     fitnah, memfitnah, mencemarkan nama baik, diskriminatif juga ucapan ataupun tindakan yang merugikan
     dan/atau berbahaya kepada orang atau entitas manapun, tidak terbatas pada pidato dan/atau ujaran
     kebencian (hate speech), dan materi lain apapun yang OCA percaya akan menurunkan, mengintimidasi,
     menghasut kekerasan, mendorong tindakan prasangka terhadap siapapun.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Menggunakan Layanan OCA untuk mengirimkan konten apapun yang menyinggung, mengancam,
    melecehkan, mengandung pornografi dan/atau tidak senonoh, ilegal, atau tidak dapat diterima oleh orang
    atau entitas manapun.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Membuat identitas/data pribadi palsu atau memalsukan alamat email atau header, nomor telepon, atau
     berupaya menyesatkan orang lain mengenai identitas/data pribadi pengirim dan/atau orang lain, atau asal pesan juga panggilan telepon.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Menggunakan Layanan OCA dengan teridentifikasi melakukan perbuatan yang melawan hukum, tindak
    pidana, dapat merugikan, mengganggu dan/atau perbuatan melawan hukum lainnya terhadap Kami
    dan/atau Pengguna Layanan OCA yang lain. Perbuatan dimaksud dapat dibuktikan dengan adanya rekam
    jejak baik secara elektronik maupun non elektronik, dan/atau laporan dari Pihak yang merasa dirugikan
    tersebut.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Bertentangan dengan Ketentuan ini dan/atau dengan Perjanjian/Kontrak antara Anda dengan OCA.</li>
              </ul>
              </div>
            </ul>
            <li class="font-semibold text-neutral-600 text-lg my-2">Layanan OCA</li>
            <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Dengan menggunakan Layanan OCA, <strong>Anda setuju</strong> bahwa :</div>
            <ul style="list-style-type: upper-alpha;padding-left:1rem">
              <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda akan memastikan bahwa Layanan OCA digunakan sesuai dengan semua Hukum yang berlaku di
    Negara Republik Indonesia dan ketentuan dari Pihak Ketiga, serta ketentuan dan kebijakan pada bagian
   (5.1) di atas, sebagaimana diubah dari waktu ke waktu;</li>
              <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda akan memastikan Kami berhak menggunakan Data Pelanggan Anda, sebagaimana diperlukan yang
    telah dilakukan kesepakatan sebelumnya dan sesuai dengan hukum yang berlaku untuk menyediakan
    Layanan OCA;</li>
              <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda tidak menggunakan Layanan OCA dengan cara apapun yang melanggar Hukum yang berlaku dan
    Ketentuan ini;</li>
              <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Kecuali jika anda diizinkan oleh Hukum yang berlaku, anda tidak akan merekayasa balik, mendekompilasi,
    membongkar, membuat atau menurunkan, mengizinkan ataupun membantu orang lain untuk membuat
    ataupun menurunkan kode sumber perangkat lunak apapun yang disediakan sehubungan dengan
    Layanan OCA.</li>
              </ul>
            </div>
            <div class="para-6">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Perubahan pelayanan sewaktu-waktu</h1>
            <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Fitur dan fungsi Layanan dari OCA dapat berubah seiring waktu, merupakan tanggung jawab Anda untuk memastikan bahwa permintaan yang Anda buat terhadap Layanan sesuai dengan Layanan yang kami berikan pada saat itu. Kami pun mencoba untuk menghindari membuat perubahan pada Layanan yang tidak kompatibel terhadap Layanan sebelumnya, jika ada perubahan yang diperlukan, Kami akan melakukan upaya yang wajar untuk memberitahu anda setidaknya empat belas (14) hari sebelum menerapkan perubahan tersebut sehubungan dengan Layanan OCA.</div>
            <h1 class="font-semibold text-neutral-600 text-2xl my-2" style="border-bottom:1px solid;display:inline-block">Fees, Payment Terms, and Taxes</h1>
            <ul style="list-style:inherit;padding-left:1rem">
              <li class="font-semibold text-neutral-600 text-lg my-2">Tagihan; Langganan berbayar, free trial</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda dapat membeli Langganan Berbayar secara langsung dari OCA atau melalui Pihak Ketiga, dengan (1) membayar biaya langganan di muka atau interval berulang lainnya yang diberitahukan kepada Anda sebelum melakukan pembelian; (2) pembayaran di muka memberikan Anda akses ke Layanan OCA untuk jangka waktu (periode) tertentu.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">OCA dapat mengubah harga Langganan Berbayar, termasuk Biaya Langganan, atau Biaya quota tambahan, dari waktu ke waktu, dan OCA akan memberitahu perubahan harga kepada Anda sebelumnya, dan apabila berlaku, cara menerima perubahan tersebut. Perubahan harga akan mulai berlaku di awal periode langganan berikutnya setelah tanggal perubahan harga. Dengan tunduk pada hukum yang berlaku, Anda menerima harga baru dengan terus menggunakan Layanan OCA setelah perubahan harga diberlakukan. Apabila Anda tidak setuju dengan perubahan harga, Anda berhak menolak perubahan tersebut dengan berhenti dari Langganan Berbayar sebelum perubahan biaya diberlakukan.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda dapat mendaftar untuk menggunakan Layanan Percobaan/free trial, dengan ketentuan membuat account terlebih dahulu pada Layanan Kami. Apabila periode Layanan Percobaan telah selesai maka secara otomatis Layanan terhenti dan Kami tidak mengenakan biaya berlangganan apapun kepada Anda.
Apabila Anda membeli Langganan Berbayar tanpa Percobaan, Anda setuju bahwa akan membayar biaya langganan di muka atau interval berulang lainnya yang diberitahukan kepada Anda sebelum melakukan pembelian Layanan Kami. Anda mengetahui apabila besaran biaya langganan, periode langganan (1 bulan, 3 bulan, 6 bulan, atau 12 bulan), dan quota langganan yang ada adalah sesuai dengan pilihan Layanan yang tersedia dalam sistem Kami.</div>
              <li class="font-semibold text-neutral-600 text-lg my-2">Pemberhentian; perpanjangan; pembatalan </li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda mengetahui bahwa Layanan akan secara otomatis terhenti setelah periode langganan selesai sesuai dengan Layanan yang Anda pilih sebelumnya, meskipun quota yang Anda miliki masih tersedia. Kecuali dalam hal periode berlangganan Anda belum selesai dan Anda hendak melakukan top-up quota, Anda dapat melakukan top-up quota sesuai dengan ketentuan Kami.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda setuju bahwa apabila Anda melakukan pembelian Layanan untuk periode berlangganan selama 3 bulan hingga 12 bulan, Anda tidak dapat membatalkan Layanan di saat Layanan tersebut sedang berlangsung/sebelum akhir periode langganan yang sedang berjalan, karena pada periode berlangganan tersebut penagihan biaya langganan akan secara otomatis terkirim kepada Anda.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Apabila Anda membeli Langganan Berbayar melalui OCA dan Anda membatalkan pembayaran atau Langganan Berbayar dan/atau mengakhiri Kontrak antara Anda dengan OCA (1) pada saat Layanan sedang berlangsung/sebelum akhir periode langganan yang sedang berjalan (2) adanya kesalahan/kelalaian yang dilakukan oleh Anda, Kami tidak akan mengembalikan biaya langganan apapun yang sudah dibayarkan kepada Kami.</div>
              <li class="font-semibold text-neutral-600 text-lg my-2">Metode pembayaran</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda sepakat untuk melakukan pembayaran Langganan Berbayar melalui metode yang telah tersedia. Jika Anda menggunakan dan/atau ketika melakukan pembayaran atau transfer dilakukan melalui uang elektronik dan/atau fasilitas dompet elektronik yang disediakan oleh kami, termasuk namun tidak terbatas pada pilihan pembayaran seperti; online payment (Jenius, e-Pay BRI), b. e- money (LinkAja), dan/atau c. virtual bank (BNI VA, Mandiri VA dan lainnya).</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Dalam hal Anda melakukan pembayaran, maka Anda memahami konsekuensi atas segala transaksi di luar dari metode yang sudah disediakan (mengalami kerugian) yang mana hal tersebut akan menjadi tanggung jawab Anda sendiri.</div>
            </ul>
            </div>
            <div class="para-7">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Batas dan modifikasi layanan</h1>
            <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">OCA akan melakukan upaya yang wajar untuk menjaga pengoperasian Layanan OCA. Akan tetapi, kesulitan teknis, gangguan terhadap segala sesuatu yang terdapat dalam Layanan (termasuk data pelanggan), pemeliharaan, atau pengujian tertentu, atau pembaruan yang diperlukan untuk mencerminkan perubahan dalam Undang-undang dan persyaratan peraturan yang relevan dari waktu ke waktu dapat mengakibatkan gangguan sementara. OCA berhak memodifikasi atau menghentikan fungsi dan fitur Layanan OCA secara berkala dan kapan pun, baik sementara atau selamanya, dengan pemberitahuan sebelumnya apabila memungkinkan, semua tanpa tanggung jawab kepada Anda, kecuali apabila dilarang berdasarkan hukum yang berlaku, karena alasan yang sah, seperti dalam hal terjadi gangguan, modifikasi, atau penghentian Layanan OCA atau fungsi atau fiturnya, atau keharusan memperbaiki, memelihara, atau meningkatkan fungsi atau fitur yang sudah ada, atau menambahkan fungsi atau fitur baru ke Layanan, atau menerapkan kemajuan dalam ilmu pengetahuan dan teknologi atau memastikan pengoperasian atau keamanan Layanan, penalaran hukum dan peraturan yang berlaku.</div>
            <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda memahami, menyetujui, dan menerima bahwa OCA akan melakukan upaya yang wajar meskipun tidak berkewajiban untuk memelihara, mendukung, meningkatkan, atau memperbaharui Layanan. OCA dan/atau Pelanggan dapat, dari waktu ke waktu, menghapus Konten tersebut tanpa pemberitahuan. Pasal ini akan dilaksanakan selama diizinkan berdasarkan hukum yang berlaku.</div>
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Kepemilikan dan kerahasiaan</h1>
            <ul style="list-style:inherit;padding-left:1rem">
              <li class="font-semibold text-neutral-600 text-lg my-2">Umum</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Diantara Anda dan OCA, kami secara eksklusif memiliki dan menyimpan semua hak, kepemilikan, dan kepentingan dalam dan atas Layanan, Dokumentasi, Informasi Rahasia dan Data Layanan Pelanggan kami; serta feedback, rekomendasi, permintaan koreksi, atau saran dari Anda atau Pengguna Akhir apapun tentang Layanan (“Kontribusi”). Diantara Anda dan OCA, Anda secara eksklusif memiliki dan menyimpan semua hak, kepemilikan, dan kepentingan untuk setiap Pelanggan dan Informasi Rahasia Anda.</div>
              <li class="font-semibold text-neutral-600 text-lg my-2">Saran dan kontribusi</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Kami dengan senang hati menerima kontribusi Anda tentang Layanan OCA. Tetapi ketahuilah bahwa dengan mengirimkan Kontribusi Anda setuju bahwa; (a) Kami akan menjaga kerahasiaan sehubungan dengan Kontribusi Anda; (b) Kami dapat menggunakan atau mengungkapkan (atau memilih untuk tidak menggunakan atau mengungkapkan) kontribusi Anda untuk tujuan apapun dan dengan cara apapun; (c) Kami memiliki kontribusi Anda, dan; (d) Anda tidak berhak atas kompensasi atau penggantian apapun dari Kami dalam keadaan apapun untuk Kontribusi Anda tersebut.</div>
              <li class="font-semibold text-neutral-600 text-lg my-2">Kerahasiaan</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">‘Informasi Rahasia’ berarti setiap informasi atau data, terlepas dari apakah itu dalam bentuk nyata, dinyatakan oleh salah satu pihak yang ditandai atau ditunjuk sebagai rahasia atau kepemilikan atau yang seharusnya dipahami secara wajar sebagai rahasia mengingat sifat dari informasi dan keadaan pengungkapan. Informasi Rahasia tidak termasuk informasi yang: (a) tersedia untuk umum bukan karena kesalahan pihak penerima; (b) diketahui dengan baik kepada pihak penerima, tanpa pembatasan, sebelum diungkapkan oleh pihak pemberitahu rahasia; (c) telah diungkapkan kepada pihak penerima, tanpa batas, oleh orang lain tanpa melanggar hak-hak pihak yang mengungkapkan; atau (d) dikembangkan secara independen oleh pihak penerima tanpa menggunakan atau merujuk dari Informasi Rahasia pihak yang mengungkapkan.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Pihak penerima setuju bahwa pihaknya akan menggunakan Informasi Rahasia pihak pengungkap semata-mata sesuai dengan Ketentuan ini dan tidak akan mengungkapkan Informasi Rahasia tersebut kepada Pihak Ketiga manapun tanpa persetujuan tertulis sebelumnya dari pihak yang mengungkapkan, kecuali (a) sebagaimana diizinkan, pihak penerima dapat menggunakan dan mengungkapkan Informasi Rahasia Anda sebagaimana diperlukan untuk penyediaan Layanan atau keadaan tertentu sebagaimana ditentukan dalam peraturan perundang-undangan yang berlaku. Pihak penerima setuju untuk berhati-hati dalam melindungi Informasi Rahasia pihak pengungkap dari penggunaan dan pemberitahuan yang tidak sah. (b) Pihak penerima dapat mengungkapkan Informasi Rahasia pihak pengungkap, secara keseluruhan atau sebagian kepada Karyawan, Perwakilannya, Investor Aktual dan Potensial; juga Subkontraktor, Aparat Penegak Hukum yang mana semata-mata berkenaan. Laporan (Informasi Rahasia OCA) kepada pengguna Akhir, yang memiliki kebutuhan untuk mengetahui dan terikat secara hukum untuk menjaga kerahasiaan informasi tersebut sesuai dengan ketentuan. Pihak penerima dapat mengungkapkan Informasi Rahasia pihak pengungkap sebagaimana diharuskan oleh Hukum yang berlaku asalkan, sebelum mengungkapkan rahasia, pihak penerima akan, jika diizinkan: (a) segera memberitahukan pihak pengungkap secara tertulis untuk membiarkan pihak pengungkap kesempatan secara wajar untuk menolak pengungkapan tersebut dan/atau mencari perlindungan, dan (b) secara wajar bekerja sama dengan pihak pengungkap dalam melindungi terhadap pembocoran rahasia tersebut dan/atau mendapat perintah perlindungan mempersempit ruang lingkup pengungkapan tersebut. Dalam hal perlindungan terhadap pengungkapan tersebut tidak diberikan, maka pihak penerima akan berhak untuk mengungkapkan Informasi rahasia dari pihak yang menerbitkan, tetapi hanya sesuai dengan yang diperlukan untuk secara hukum mematuhi pengungkapan yang dipaksa tersebut.</div>
            </ul>
            </div>
            <div class="para-8">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Term; termination; suspension</h1>
            <ul style="list-style:inherit;padding-left:1rem">
              <li class="font-semibold text-neutral-600 text-lg my-2">Term</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Ketentuan ini dapat diperbaharui dari waktu ke waktu, akan diberlakukan pada saat ketentuan diterima dan disetujui oleh Anda, dan berlanjut sampai dengan Perjanjian/Kontrak diakhiri sesuai dengan bagian 10.2 dibawah ini.</div>
              <li class="font-semibold text-neutral-600 text-lg my-2">Termination dan suspension</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Salah satu pihak dapat mengakhiri Ketentuan ini dan/atau Perjanjian/Kontrak, dan menutup akun OCA yang dimiliki dengan alasan yang terdapat dalam Ketentuan ini, Kontrak antara Anda dengan OCA dan/atau yang disepakati bersama setelah tiga puluh (30) hari pemberitahuan tertulis kepada pihak lain. Tidak berlaku seperti pernyataan sebelumnya, jika terdapat Formulir Pemesanan yang berlaku, maka ketentuan ini tidak akan berakhir sampai 
                dengan Formulir Pemesanan tersebut sudah tidak berlaku lagi atau telah dihentikan. OCA, atas kebijakannya sendiri, dapat mengakhiri ketentuan ini dan menutup akun OCA Anda jika pada saat Anda melakukan pelanggaran apapun dari Ketentuan ini dan/atau Perjanjian/Kontrak dan tidak dapat memperbaiki pelanggaran tersebut dalam waktu 7 (tujuh) hari setelah OCA memberikan pemberitahuan tertulis mengenai pelanggaran tersebut. Anda juga dapat mengakhiri Ketentuan ini pada saat kami (OCA) melakukan kelalaian dalam menyediakan layanan 
                (operational issue) dan gagal memperbaikinya dalam waktu 14 (empat belas) hari setelah Anda memberikan pemberitahuan tertulis mengenai pelanggaran yang kami lakukan.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Selain suspensi dari Layanan untuk non-pembayaran, Kami juga dapat memberhentikan Layanan dengan segera (baik sementara atau permanen) setelah pemberitahuan yang disebabkan oleh namun tidak terbatas pada:</div>
              <ul style="list-style-type: decimal;padding-left:1rem">
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda melanggar atau memberi kami alasan untuk percaya anda telah melanggar kebijakan Penggunaan yang telah kami informasikan;</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Ada alasan untuk percaya aktivitas yang anda buat dari penggunaan Layanan atau penggunaan Layanan yang anda lakukan adalah penipuan dan/atau perbuatan melawan hukum lainnya yang berdampak negatif/merugikan kepada kemampuan operasional Layanan OCA;</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Kami menentukan, atas kebijakan Kami sendiri bahwa, menyediakan Layanan dilarang oleh Hukum yang berlaku, atau alasan regulasi untuk menyediakan Layanan; atau</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Tunduk kepada Hukum yang berlaku, setelah likuidasi, dimulainya proses pembubaran, pelepasan aset yang anda miliki atau perubahan kendali, kegagalan untuk melanjutkan bisnis, penugasan untuk kepentingan kreditor, atau jika Anda menjadi subjek kebangkrutan ataupun serupa.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda meminta pengakhiran menggunakan Layanan OCA, baik sebelum atau setelah habisnya jangka waktu layanan.</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda mencabut hak Kami untuk memproses data terkait Layanan, dan/atau meminta penundaan, melakukan perubahan dan/atau tindakan lainnya terhadap data Anda.</li>
              </ul>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Kami akan menggunakan upaya yang wajar secara komersial untuk (1) memberi Anda pemberitahuan sebelumnya sejelas mungkin tentang situasi apapun yang kami ketahui yang dapat mengarah pada hak untuk mensuspend yang dijelaskan dalam paragraf ini, (2) berkerjasama dengan Anda untuk memperbaiki situasi apapun yang dapat mengarah kepada hak untuk mensuspend yang dijelaskan dalam paragraf ini jika situasi tersebut dapat diperbaiki, dan (3) membatasi suspensi sebanyak mungkin mengingat keadaan yang mengarah ke suspensi (misalnya, ke nomor telepon tertentu, sub-akun atau subset lain dari aktivitas).</div>
            </ul>
            </div>
            <div class="para-9">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2" style="border-bottom:1px solid;display:inline-block">Representasi dan jaminan; warranty disclaimer</h1>
            <ul style="list-style:inherit;padding-left:1rem">
              <li class="font-semibold text-neutral-600 text-lg my-2">Representasi dan jaminan</li>
              <ul style="list-style:inherit;padding-left:1rem">
                <li class="text-sm font-medium text-neutral-600 my-2 leading-7 text-justify">Data pelanggan</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda menyatakan dan menjamin bahwa Anda telah memberikan pemberitahuan yang memadai, terjamin kebenarannya dan memperoleh izin serta persetujuan yang diperlukan untuk memberikan 
                Data Pelanggan kepada Kami untuk digunakan dan diungkapkan sesuai dengan Bagian Penggunaan Data Pelanggan dalam Layanan OCA.</div>
                <li class="text-sm font-medium text-neutral-600 my-2 leading-7 text-justify">Layanan</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Kami menyatakan dan menjamin bahwa Layanan akan beroperasi sesuai dengan Dokumentasi yang berlaku dan secara material akan sesuai dengan spesifikasi yang terkandung di dalamnya. 
                Merupakan kewajiban OCA dan kewajiban Anda jika terjadi kegagalan oleh OCA untuk mematuhi Bagian ini. Berdasarkan pilihan OCA, Kami akan melakukan upaya yang wajar apabila Layanan Anda terkena dampak.</div>
              </ul>
            </ul>
            <ul style="list-style:inherit">
              <li class="font-semibold text-neutral-600 text-lg my-2">Pembatalan garansi</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify" style="text-transform: lowercase;">TANPA MEMBATASI JAMINAN DAN KEWAJIBAN KAMI MENYAMPAIKAN BAHWA, DENGAN INI KAMI MENOLAK SETIAP DAN SELURUH JAMINAN BAIK TERSURAT MAUPUN TERSIRAT, TERMASUK, TIDAK TERBATAS PADA JAMINAN DARI DIPERDAGANGKAN, NON-PELANGGARAN DAN KELAYAKAN UNTUK TUJUAN TERTENTU DAN JAMINAN BERKAITAN DENGAN BAHAN, LAYANAN ATAU PERANGKAT LUNAK PIHAK KETIGA. KECUALI JAMINAN YANG SUDAH KAMI SAMPAIKAN PADA BAGIAN INI DAN KEWAJIBAN KAMI YANG ADA PADA SLA OCA DAN PERSYARATAN DUKUNGAN. LAYANAN INI DISEDIAKAN “SEBAGAIMANA ADANYA” SEJAUH YANG DIIZINKAN OLEH 
                HUKUM YANG BERLAKU DI NEGARA REPUBLIK INDONESIA. TERHADAP KONFLIK PERNYATAAN TERSEBUT DENGAN UNDANG-UNDANG YANG BERLAKU, RUANG LINGKUP DAN DURASI DARI GARANSI YANG BERLAKU 
                AKAN MENJADI MINIMUM YANG DIIZINKAN DI BAWAH HUKUM TERSEBUT. OCA TIDAK AKAN BERTANGGUNG JAWAB, DAN TIDAK AKAN MEMILIKI KEWAJIBAN UNTUK MENGGANTI DATA SENSITIF (SEBAGAI 
                DITETAPKAN DIBAWAH INI) YANG DIKIRIM KE OCA.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">“Data sensitif” yang dimaksud adalah:</div>
              <ul style="list-style:inherit;padding-left:1rem">
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Nomor Jaminan Sosial, nomor Paspor, nomor SIM/KTP ataupun pengenal serupa (termasuk bagiannya);</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Nomor kartu kredit atau debit (selain dari kartu kredit atau debit yang terpotong pada empat digit terakhir), informasi keuangan, nomor rekening perbankan ataupun kata sandi;</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Informasi perkerjaan, keuangan, genetik, biometrik atau kesehatan;</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Ras, etnis, politik atau Agama, keanggotaan serikat pekerja, atau informasi tentang kehidupan seksual atau orientasi seksual;</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Kata sandi akun, nama gadis ibu, atau tanggal lahir;</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Sejarah kriminal/kejahatan/tindak pidana, atau</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Setiap informasi lain atau kombinasi informasi yang termasuk dalam definisi “kategori data khusus” di bawah hukum yang berlaku yang terkait dengan privasi dan perlindungan data.</li>
              </ul>
            </ul>
            <ul style="list-style:inherit">
              <li class="font-semibold text-neutral-600 text-lg my-2">Layanan Beta</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Dari waktu ke waktu, anda akan memiliki opsi untuk berpartisipasi dalam sebuah program bersama kami, dimana Anda dapat menggunakan alpha, beta, non-GA, perilisan yang terbatas, pratinjau pengembang, atau layanan, fitur produk, dan dokumentasi serupa yang ditawarkan oleh OCA (“Layanan Beta”). OCA dapat menghentikan Layanan 
                Beta kapan saja atas kebijakan sendiri dan dapat memutuskan kapan pun untuk membuat Layanan Beta tersebut tidak tersedia untuk umum.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify" style="text-transform: lowercase;">LAYANAN BETA INI TIDAK TERSEDIA SECARA UMUM DAN MUNGKIN MENGANDUNG BUGS, KESALAHAN, KERUSAKAN ATAU KOMPONEN YANG BERBAHAYA. OCA MENYEDIAKAN LAYANAN BETA KEPADA ANDA “SEBAGAIMANA ADANYA”, ATAU TANPA PELANGGARAN.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify" style="text-transform: lowercase;">OCA TIDAK MEMBUAT JAMINAN APAPUN UNTUK MENGHORMATI LAYANAN BETA INI, BAIK TERSURAT, PERNYATAAN, ATAUPUN JAMINAN LAINNYA, TERMASUK JAMINAN TERSIRAT DARI KEMAMPUAN DAGANG, KECOCOKAN UNTUK KEPERLUAN TERTENTU, ATAUPUN UNTUK TUJUAN TERTENTU. TANPA MENGETAHUI APA SAJA DALAM KETENTUAN INI ATAUPUN DOKUMENTASI YANG DITERBITKAN YANG SUDAH DINYATAKAN, 
                OCA TIDAK MENJAMIN BAHWA LAYANAN BETA AKAN BEBAS DARI KESALAHAN ATAU AKAN MEMENUHI TINGKAT LAYANAN TERTENTU, ATAU TIDAK AKAN BEROPERASI TANPA ADA INTERUPSI. OCA TIDAK AKAN BERTANGGUNG JAWAB ATAS KERJA ATAU KERUSAKAN YANG TIMBUL DARI ATAU DALAM SAMBUNGAN LAYANAN BETA.</div>
            </ul>
            </div>
            <div class="para-10">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Batasan Tanggung Jawab ; Layanan Darurat</h1>
            <ul style="list-style:inherit;padding-left:1rem">
              <li class="font-semibold text-neutral-600 text-lg my-2">Kerusakan tidak langsung</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify" style="text-transform: lowercase;">TIDAK DIBAWAH KEADAAN APAPUN, DAN TIDAK DIBAWAH TEORI HUKUM MANAPUN, BAIK DALAM KETENTUAN KONTRAK ATAUPUN LAINNYA, SALAH SATU PIHAK AKAN BERTANGGUNG JAWAB TERHADAP PIHAK LAINNYA UNTUK APAPUN SECARA TIDAK LANGSUNG, SPESIAL, TIDAK SENGAJA, KONSEKUENSIAL ATAU KERUSAKAN HUKUM DARI KARAKTER MANAPUN, TERMASUK, TANPA BATASAN, DALAM KERUGIAN DARI KERJASAMA, KEHILANGAN KEUNTUNGAN, KEHILANGAN PENJUALAN ATAUPUN BISNIS, PEMBERHENTIAN PEKERJAAN, KEGAGALAN KOMPUTER ATAU MALFUNGSI, KEHILANGAN DATA, ATAU UNTUK SEMUA KERUSAKAN DAN KERUSAKAN LAINNYA ATAU KEHILANGAN, BAHKAN JIKA PIHAK YANG TELAH DISARANKAN, MENGETAHUI ATAU HARUS MENYADARI HAL INI. BAGIAN INI TIDAK MEMBATASI: 
                (A) KEWAJIBAN ANDA DARI PELANGGARAN PADA BAGIAN (PEMBATASAN DAN PERSYARATAN); ATAU (B) KEWAJIBAN PENGGANTIAN RUGI ANTAR PIHAK BERDASARKAN PERSYARATAN INI.</div>
              <li class="font-semibold text-neutral-600 text-lg my-2">Kerusakan langsung</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify" style="text-transform: lowercase;">TIDAK DIBAWAH KEADAAN APAPUN, DAN TIDAK DIBAWAH TEORI HUKUM MANAPUN, BAIK DALAM KETENTUAN KONTRAK ATAUPUN LAINNYA, SALAH SATU PIHAK AKAN BERTANGGUNG JAWAB TERHADAP PIHAK LAINNYA UNTUK SETIAP KERUSAKAN SECARA LANGSUNG, BIAYA ATAU KEWAJIBAN DALAM KELEBIHAN JUMLAH YANG DIBAYARKAN ATAU PEMBAYARAN OLEH ANDA SELAMA 12 (DUA BELAS) BULAN MEMPRESISI INSIDEN ATAU KLAIM. BAGIAN INI TIDAK MEMBATASI: 
                (A) KEWAJIBAN ANDA DARI PELANGGARAN PADA BAGIAN (PEMBATASAN DAN PERSYARATAN); ATAU (B) KEWAJIBAN PENGGANTIAN RUGI ANTAR PIHAK BERDASARKAN PERSYARATAN INI. <br>
KETENTUAN DARI BAGIAN INI MENGALOKASI RESIKO BERDASARKAN KETENTUAN- KETENTUAN ANTARA PIHAK, DAN PIHAK YANG MEMILIKI HUBUNGAN DENGAN BATASAN YANG TELAH DITETAPKAN DALAM KETENTUAN-KETENTUAN INI.</div>
              <li class="font-semibold text-neutral-600 text-lg my-2">Penolakan layanan darurat</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify" style="text-transform: lowercase;">LAYANAN INI TIDAK DIMAKSUDKAN UNTUK MENDUKUNG ATAU MELAKUKAN PANGGILAN DARURAT ATAU PESAN SMS UNTUK SETIAP LAYANAN DARURAT. BAIK OCA ATAUPUN PERWAKILANNYA AKAN BERTANGGUNG JAWAB ATAS HUKUM UNTUK 
                KLAIM, KERUSAKAN ATAU KERUGIAN (DAN PELANGGAN AKAN MENYATAKAN OCA TIDAK BERTANGGUNG JAWAB ATAS SELURUH KLAIM APAPUN) TERKAIT DENGAN KETIDAKMAMPUAN UNTUK MENGGUNAKAN LAYANAN UNTUK MENGHUBUNGI LAYANAN DARURAT.</div>
            </ul>
            </div>
            <div class="para-11">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Umum</h1>
            <ul style="list-style:inherit;padding-left:1rem">
              <li class="font-semibold text-neutral-600 text-lg my-2">Kepatuhan terhadap hukum</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Baik Anda maupun OCA akan mematuhi Hukum yang berlaku terkait dengan masing- masing kegiatan (Layanan) sesuai dengan Ketentuan ini. Apabila terdapat perbuatan yang melanggar/melawan hukum dan/atau perbuatan serta hal 
                yang belum diatur dalam Ketentuan ini, maka berlaku peraturan yang terdapat dalam Perjanjian/Kontrak antara Anda dan OCA.</div>
              <li class="font-semibold text-neutral-600 text-lg my-2">Tidak ada pengabaian</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Kegagalan Kami kapanpun dalam menegakkan dari Ketentuan ini, Kebijakan Penggunaan yang dapat diterima, atau kebijakan lainnya tidak berarti hal tersebut diabaikan untuk selamanya di kemudian hari. Setiap pengesampingan harus secara tertulis 
                ditandatangani oleh Anda dan Kami untuk mengikat secara Hukum.</div>
              <li class="font-semibold text-neutral-600 text-lg my-2">Penugasan</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda tidak akan menetapkan atau menyebarkan Ketentuan ini, secara keseluruhan atau sebagian, tanpa adanya persetujuan tertulis dari OCA. Upaya apapun yang Anda lakukan untuk menetapkan, mendelegasikan, atau menyebarkan Ketentuan ini akan menjadi tidak sah ataupun batal. OCA dapat menetapkan Ketentuan ini, secara keseluruhan atau sebagian, tanpa persetujuan pihak manapun. Pada bagian ini, 
                Ketentuan ini akan mengikat Anda dan OCA juga masing-masing penerus dan penerima.</div>
              <li class="font-semibold text-neutral-600 text-lg my-2">Relasi</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda dan OCA adalah kontraktor independen dalam melaksanakan setiap bagian dari Ketentuan ini. Tidak ada dalam Ketentuan ini dimaksudkan untuk menciptakan ataupun ditafsirkan sebagai pembuatan hubungan majikan-karyawan atau kemitraan, agensi, joint venture ataupun franchise. Anda dan OCA bertanggung jawab penuh atas semua karyawan dan agen masing-masing yang termasuk di dalamnya biaya tenaga kerja serta biaya masing-masing yang timbul sehubungan dengan karyawan ataupun agen masing-masing. Anda dan OCA juga akan sepenuhnya bertanggung jawab atas setiap dan semua klaim, kewajiban atau kerusakan atau tanggung jawab dalam bentuk apapun yang mungkin timbul karena setiap kegiatan masing-masing dalam pelaksanaannya, 
                tanpa ada kewajiban salah satu pihak untuk bertanggung jawab dalam kegiatan tersebut.</div>
            </ul>
            </div>
            <div class="para-12">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Jangka waktu dan penghentian</h1>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Ketentuan ini akan terus berlaku bagi Anda hingga diakhiri oleh Anda atau OCA sebagaimana tercantum dalam Perjanjian/Kontrak yang telah disepakati antara Anda dengan OCA. OCA dapat mengakhiri Ketentuan ini atau menangguhkan akses Anda ke Layanan OCA kapan pun, termasuk dalam hal penggunaan Layanan OCA dan/atau Konten yang sebenarnya atau diduga tidak sah oleh Anda, ketidakpatuhan terhadap Ketentuan dan/atau terhadap Perjanjian/Kontrak, atau apabila kami menarik Layanan dan/atau Konten (dalam hal itu kami akan memberikan Anda pemberitahuan yang wajar terlebih dahulu sebelum melakukannya). Apabila Anda atau OCA mengakhiri Perjanjian/Kontrak, atau apabila OCA menangguhkan akses Anda ke Layanan OCA, Anda setuju bahwa OCA tidak berkewajiban atau bertanggung jawab kepada Anda, dan OCA tidak akan mengembalikan uang dalam jumlah berapa pun yang telah Anda bayarkan, selama diizinkan berdasarkan Undang-undang yang berlaku. 
                Anda dapat mengakhiri Perjanjian kapanpun sesuai dengan ketentuan yang tercantum dalam Perjanjian/Kontrak antara 
                Anda dengan OCA.</div>
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Batasan</h1>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify" style="text-transform: lowercase;">DALAM HAL APAPUN, OCA, PEJABAT/DIREKSI (C-LEVEL) DAN KARYAWAN, TIDAK BERTANGGUNG JAWAB ATAS:</div>
            <ul style="list-style-type: decimal;padding-left:1rem">
              <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify" style="text-transform: lowercase;">KERUGIAN ATAU KERUSAKAN (TERMASUK GANTI RUGI TIDAK LANGSUNG, KHUSUS, INSIDENTAL, PUNITIF, ATAU YANG BERSIFAT MENJERAKAN) YANG TIDAK DAPAT DIPERKIRAKAN. KERUGIAN ATAU KERUSAKAN DAPAT DIPERKIRAKAN APABILA JELAS AKAN TERJADI ATAU APABILA PADA SAAT KONTRAK DIBUAT, 
                ANDA DAN KAMI MENGETAHUI HAL ITU MUNGKIN AKAN TERJADI;</li>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Setiap : </div>
              <ul style="list-style-type: lower-latin;padding-left:1rem">
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify" style="text-transform: lowercase;">HILANGNYA PENGGUNAAN;</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify" style="text-transform: lowercase;">HILANGNYA DATA;</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify" style="text-transform: lowercase;">HILANGNYA BISNIS;</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify" style="text-transform: lowercase;">HILANGNYA KEUNTUNGAN; ATAU</li>
                <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify" style="text-transform: lowercase;">KERUSAKAN PADA PERANGKAT,</li>
                <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify" style="text-transform: lowercase;">SELAMA ANDA DAPAT MENGHINDARINYA DENGAN MENGIKUTI SARAN KAMI UNTUK MENERAPKAN PEMBARUAN LAYANAN ATAU APABILA KERUSAKAN DISEBABKAN KARENA ANDA TIDAK MENGIKUTI PETUNJUK PEMAKAIAN DENGAN BENAR ATAU MEMILIKI PERSYARATAN MINIMUM SISTEM YANG KAMI SARANKAN, DALAM SEMUA KASUS YANG TIMBUL DARI PENGGUNAAN ATAU KETIDAKMAMPUAN UNTUK MENGGUNAKAN LAYANAN OCA, PERAN DARI PIHAK KETIGA, TANPA TEORI HUKUM, TANPA MEMPERHATIKAN APAKAH OCA TELAH DIBERITAHU MENGENAI KEMUNGKINAN KERUSAKAN TERSEBUT, 
                  DAN BAHKAN APABILA UPAYA PEMULIHAN GAGAL MENCAPAI TUJUAN UTAMANYA;</div>
              </ul>
              <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify" style="text-transform: lowercase;">KEWAJIBAN AGREGAT UNTUK SEMUA GUGATAN YANG BERKAITAN DENGAN LAYANAN OCA, PERAN DARI PIHAK KETIGA LEBIH
     DARI JUMLAH YANG DIBAYARKAN OLEH ANDA KEPADA OCA SELAMA JANGKA WAKTU DALAM PERJANJIAN/KONTRAK; ATAU</li>
              <li class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify" style="text-transform: lowercase;">TIDAK DILAKSANAKANNYA ATAU TIDAK MEMADAINYA PELAKSANAAN ATAU KETERLAMBATAN KEWAJIBAN YANG BERASAL DARI
      PERJANJIAN/KONTRAK YANG DISEBABKAN KEADAAN MEMAKSA YANG TIDAK DAPAT DIPERKIRAKAN SECARA WAJAR ATAU DI
      LUAR KENDALI OCA YANG WAJAR (FORCE MAJEURE).</li>
            </ul>
            </div>
            <div class="para-13">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Keseluruhan ketentuan</h1>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Selain yang disebutkan dalam Ketentuan ini atau yang secara jelas disetujui secara tertulis antara Anda dan OCA, 
                Ketentuan berisi semua syarat dan ketentuan yang disepakati antara Anda dan OCA.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Akan tetapi, harap diingat bahwa aspek lainnya dari penggunaan Layanan OCA oleh Anda akan diatur lebih lanjut dalam sebuah Perjanjian/Kontrak, yang kedudukannya tidak dapat dipisahkan dan saling melengkapi dengan Ketentuan ini. 
                Termasuk di dalamnya, namun tidak terbatas pada Hak dan Kewajiban Para Pihak, Biaya Berlangganan, dan Ketentuan Layanan lainnya.</div>
            </div>
            <div class="para-14">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Keterpisahan, Pengesampingan, dan Penafsiran</h1>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Kecuali dinyatakan lain dalam Ketentuan ini, apabila hal di dalam Ketentuan dianggap tidak berlaku atau tidak dapat dilaksanakan dengan alasan apapun atau sampai batas tertentu, ketidakabsahan atau pelaksanaannya dengan cara apa pun tidak akan memengaruhi atau membuat ketentuan lain dalam Ketentuan ini 
                menjadi tidak sah atau tidak dapat dilaksanakan, dan penerapan Ketentuan ini harus dilaksanakan selama diizinkan berdasarkan hukum.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Setiap kelalaian OCA atau penerima manfaat pihak ketiga untuk melaksanakan 
                Ketentuan ini tidak akan mengesampingkan hak OCA atau penerima manfaat pihak ketiga yang berlaku untuk melakukannya.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Sebagaimana digunakan dalam Ketentuan ini, kata “termasuk” 
                dan variasinya akan dianggap diikuti dengan kata-kata “tanpa terbatas pada.”</div>
            </div>
            <div class="para-15">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Pengalihan</h1>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">OCA dapat mengalihkan Ketentuan dan hak-haknya dengan atau tanpa pemberitahuan terlebih dahulu, baik secara keseluruhan maupun sebagian, dan OCA dapat melimpahkan kewajibannya berdasarkan Ketentuan ini dan/atau Perjanjian/Kontrak. Anda tidak dapat mengalihkan Ketentuan dan/atau Perjanjian/Kontrak, baik secara keseluruhan maupun sebagian, 
                atau pun memindahtangankan atau mensublisensikan hak Anda berdasarkan Ketentuan ini dan/atau Perjanjian kepada Pihak Ketiga mana pun.</div>
            </div>
            <div class="para-16">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Ganti rugi</h1>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda setuju untuk mengganti rugi dan membebaskan OCA dari dan atas semua kerusakan, kerugian, dan biaya apapun (termasuk biaya pengacara yang wajar) yang timbul akibat atau terkait dengan: (1) pelanggaran Ketentuan atau salah satunya oleh Anda; (2) Konten Pengguna yang Anda posting atau berikan; (3) setiap aktivitas yang Anda lakukan dengan atau melalui Layanan OCA; 
                dan (4) pelanggaran Anda terhadap hukum atau hak pihak ketiga.</div>
            </div>
            <div class="para-17">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Penyelesaian Perselisihan; Pilihan Hukum, Arbitrase.</h1>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Anda dan OCA berkewajiban untuk berupaya sungguh-sungguh menyelesaikan semua perselisihan yang timbul dari atau berhubungan dengan Ketentuan ini atau interpretasinya selama dan/atau setelah pelaksanaan Layanan ini secara musyawarah. Apabila perselisihan yang terjadi antara Anda dan OCA tidak dapat diselesaikan secara musyawarah, maka Anda dan OCA dalam hal ini sepakat untuk menyerahkan semua perselisihan yang timbul kepada Badan Arbitrase Nasional Indonesia (BANI) 
                di Jakarta, dan keputusan BANI tersebut bersifat final dan mengikat bagi Anda dan OCA.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Kecuali dikarenakan suatu tindak pidana (perbuatan kriminal) (dan sengketa/klaim non- kontraktual apapun yang timbul akibat atau sehubungan dengan hal tersebut) yang dilakukan oleh Anda, maka diwajibkan berdasarkan hukum yang harus dipatuhi di Negara Republik Indonesia, Ketentuan ini dan/atau 
                Perjanjian/Kontrak agar tunduk pada Undang-Undang Negara Republik Indonesia, 
                tanpa memperhatikan pilihan atau benturan prinsip hukum.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Selanjutnya, Anda dan OCA menyepakati penyelesaian perselisihan melalui yurisdiksi Pengadilan untuk menyelesaikan setiap sengketa, klaim, 
                atau perselisihan yang timbul terkait dengan Ketentuan dan/atau Perjanjian/Kontrak antara Anda dengan OCA.</div>
            </div>
            <div class="para-18">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Hubungi kami.</h1>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Apabila ada pertanyaan terkait Layanan OCA atau Ketentuan ini, harap hubungi Layanan Pelanggan OCA dengan mengunjungi bagian Tentang Kami di situs web kami.</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">
Terima kasih telah membaca Ketentuan kami. Selamat menikmati OCA!</div>
              <div class="text-sm font-normal text-neutral-600 my-2 leading-7 text-justify">Entitas Kontak: <br>
Admin OCA (+62 811 8483 400)</div>
            </div>
            </div>
            <div v-if="showPrivacy" class="wrapper-privacy">
            <div class="para-19">
            <div class="text-sm font-normal text-neutral-600 my-2 leading-7">Kebijakan privasi berikut menjelaskan bagaimana kami, Omni Communication Assistant (“OCA” atau “Kami”) mengumpulkan, menyimpan menggunakan, mengolah, menguasai, mentransfer, mengungkapkan, dan melindungi informasi Privasi Anda. Kebijakan Privasi ini berlaku bagi seluruh pengguna layanan OCA kecuali diatur pada kebijakan privasi yang terpisah.</div>
            <div class="text-sm font-normal text-neutral-600 my-2 leading-7">Dengan menggunakan layanan kami maka Anda telah setuju dengan pengumpulan dan penggunaan informasi terkait dengan kebijakan ini. Mohon baca Kebijakan Privasiini dengan seksama untuk memastikan bahwa Anda memahami bagaimana proses pengolahan data kami. Kecuali didefinisikan lain, semua istilah dengan huruf kapital yang digunakan dalam Kebijakan Privasi ini memiliki arti yang sama dengan yang tercantum dalam Syarat dan Ketentuan.</div>
            </div>
            <div class="para-20">
              <div class="head-table-content my-8">
              <h1 class="text-neutral-600 font-bold" style="font-size:32px; line-height:0.8">Tabel Konten</h1>
              </div>
              <div class="wrap-table-content">
               <div class="wrap-table-1">
                  <a href="#" class="flex items-center text-primary font-sm font-semibold underline">
                  <div class="flex items-center text-primary font-sm font-semibold mr-2">Informasi yang Kami kumpulkan</div>
                  <img style="width:15px" src="../../../assets/image/termcondition/up.png" alt="">
                </a> <br>
                <div style="padding-left:1rem;margin-top:-10px">
                  <a href="#" class="text-primary font-sm font-semibold leading-7 underline" style="margin-bottom:2rem !important">Informasi pribadi</a> <br>
                  <a href="#" class="text-primary font-sm font-semibold leading-7 underline" style="margin-bottom:2rem !important">Data pelanggan</a> <br>
                  <a href="#" class="text-primary font-sm font-semibold leading-7 underline" style="margin-bottom:2rem !important">Informasi lainnya</a> <br>
                  <a href="#" class="text-primary font-sm font-semibold leading-7 underline" style="margin-bottom:2rem !important">Informasi pihak ketiga</a>
                </div>
               </div>
               <div class="wrap-table-2 mt-3">
                <a href="#" class="flex items-center text-primary font-sm font-semibold leading-7 underline">
                   <div class="flex items-center text-primary font-sm font-semibold mr-2">Bagaimana kami menggunakan informasi</div>
                <img style="width:15px" src="../../../assets/image/termcondition/up.png" alt="">
                </a><br>
                <div style="padding-left:1rem;margin-top:-10px">
                  <a href="#" class="text-primary font-sm font-semibold leading-7 underline">Penyimpanan data pribadi</a><br>
                  <a href="#" class="text-primary font-sm font-semibold leading-7 underline">Pengembalian dan penghapusan dari data penggunaan pelanggan dan konten pelanggan</a>
               </div>
               </div>
               <div class="wrap-table-3 mt-3">
                  <a href="#" class="flex items-center text-primary font-sm font-semibold leading-7">
                    <div class="flex items-center text-primary font-sm font-semibold mr-2">Keamanan informasi privasi Anda</div>
                  <img style="width:15px" src="../../../assets/image/termcondition/up.png" alt="">
                </a> <br>
                <div style="padding-left:1rem;margin-top:-10px">
                  <a href="#" class="text-primary font-sm font-semibold leading-7 underline">Penampilan, pengumuman, pengiriman, penyebarluasan, dan/atau pembukaan akses data pribadi</a> <br>
                  <a href="#" class="text-primary font-sm font-semibold leading-7 underline">Pengembalian dan penghapusan dari data penggunaan pelanggan dan konten pelanggan</a>
               </div>
               </div>
               <div class="wrap-table-4 mt-3">
                  <a href="#" class="flex items-center text-primary font-sm font-semibold leading-7 underline">
                     <div class="flex items-center text-primary font-sm font-semibold mr-2">Tentang layanan Kami</div>
           
                  <img style="width:15px" src="../../../assets/image/termcondition/up.png" alt="">
                </a> <br>
                <div style="padding-left:1rem;margin-top:-10px">
                  <a href="#" class="text-primary font-sm font-semibold leading-7 underline">Perubahan kebijakan privasi</a> <br>
                  <a href="#" class="text-primary font-sm font-semibold leading-7 underline">Cara menghubungi Kami</a>
               </div>
               </div>
              </div>
            </div>
            <div class="para-21 mt-6">
            <h1 class="font-semibold leading-7 text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Informasi yang Kami kumpulkan</h1>
            <div class="text-sm font-normal text-neutral-600 my-2 leading-7">Kami dapat mengumpulkan dan menerima “Informasi Pribadi” serta data lainnya ("Informasi Lain") dengan berbagai cara:</div>
            <h1 class="font-medium text-neutral-600 text-lg my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Informasi pribadi</h1>
            <div class="text-sm font-normal text-neutral-600 my-2 leading-7">Pelanggan atau individu mengirimkan Informasi Pribadi ke OCA saat menggunakan Layanan. Informasi Pribadi termasuk, tetapi tidak terbatas pada, nama, alamat, pekerjaan, nomor telepon, alamat email, rekening bank dan detail kartu kredit, jenis kelamin, identifikasi (termasuk KTP, SIM, atau Paspor) atau tanda pengenal lainnya yang dikeluarkan oleh pemerintah, dan kewarganegaraan. Selain itu, untuk informasi lainnya, seperti profil pribadi, dan/atau informasi biometrik yang dikaitkan atau dihubungkan dengan Informasi Pribadi, maka informasi tersebut juga dianggap sebagai Informasi Pribadi. Informasi Pribadi yang kami kumpulkan dapat diberikan oleh Anda secara langsung atau oleh pihak ketiga. Kami dapat mengumpulkan informasi dalam berbagai macam 
              bentuk dan tujuan (termasuk tujuan yang diizinkan berdasarkan peraturan perundang-undangan yang berlaku).</div>
            <h1 class="font-medium text-neutral-600 text-lg my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Data pelanggan</h1>
            <div class="text-sm font-normal text-neutral-600 my-2 leading-7">Anda menyatakan dan menjamin bahwa Anda telah memberikan pemberitahuan yang memadai, terjamin kebenarannya dan memperoleh izin serta persetujuan yang diperlukan untuk memberikan Data Pelanggan kepada Kami untuk digunakan dan diungkapkan 
              sesuai dengan Bagian Penggunaan Data Pelanggan dalam Layanan OCA.</div>
              <ul style="list-style-type: decimal;padding-left:1rem">
              <li class="font-normal text-neutral-600 text-sm my-2 leading-7">Data Pelanggan’ terdiri dari data dan informasi lain yang disediakan untuk Kami melalui penggunaan 
                  Layanan berdasarkan ketentuan ini, termasuk penggunaan data pelanggan dan konten milik konsumen.</li>
              <li class="font-normal text-neutral-600 text-sm my-2 leading-7">“Data End Customer Pelanggan” adalah data yang diproses oleh OCA untuk tujuan mengirimkan dan 
                mendistribusikan konten dengan konsumen dari pelanggan, termasuk data yang digunakan untuk “Konten Pelanggan”.</li>
              <li class="font-normal text-neutral-600 text-sm my-2 leading-7">Konten Pelanggan adalah Konten yang disebarkan dengan penggunaan Layanan OCA, 
                seperti teks, badan pesan, media suara dan video, gambar dan suara.</li>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Serta data yang butuhkan adalah seperti :</div>
              <ul style="list-style-type: lower-latin;padding-left:1rem">
              <li class="font-normal text-neutral-600 text-sm my-2 leading-7">data yang disimpan atas nama Pelanggan melalui Layanan OCA seperti log komunikasi;</li>
              <li class="font-normal text-neutral-600 text-sm my-2 leading-7">data personal seperti pengirim, penerima, dan menyalin informasi identifikasi penerima, informasi kontak, informasi pekerjaan;</li>
              </ul>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Setiap data pribadi lain yang dipilih Pelanggan sukarela untuk disertakan dalam menggunakan Layanan.</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Anda menyatakan bahwa Anda sudah membaca ‘Privacy Policy’/Ketentuan ini dan paham bahwa ini akan menetapkan bagaimana Kami akan memproses Data Anda termasuk di dalamnya tindakan, namun tidak terbatas pada; mengumpulkan, menyimpan dan menggunakan Data Pelanggan Anda sesuai dengan tujuan penggunaan Data Anda dan dengan ketentuan hukum yang berlaku kecuali pada suatu kondisi tertentu dan diperlukan sesuai dengan ketentuan hukum yang berlaku. 
                Jika Anda tidak setuju dengan Kebijakan Privasi kami, maka Anda harus segera berhenti menggunakan Layanan kami.</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Anda menginstruksikan Kami untuk menggunakan dan mengungkapkan Data Pelanggan sebagaimana diperlukan dan sesuai dengan hukum yang berlaku untuk (a) memberikan Layanan sesuai dengan Kebijakan Privasi OCA yang berlaku saat itu, termasuk di dalamnya tindakan, namun tidak terbatas pada mendeteksi, mencegah, dan menyelidiki insiden keamanan, penipuan, spam atau penggunaan Layanan yang melanggar hukum, dan (b) menanggapi setiap masalah teknis atau pertanyaan Anda juga memastikan cara kerja Layanan yang tepat. Anda mengetahuibahwa email dan SMS adalah media tidak aman yang umumnya tidak dienkripsi dalam transit dan keamanan informasi yang dikirimkan melalui Internet tidak pernah dapat dijamin, oleh karena itu, Kami (OCA) tidak bertanggung jawab atas intersepsi atau 
                gangguan komunikasi apapun melalui internet atau untuk perubahan atau kehilangan yang disebabkan oleh tindakan Anda sendiri.</div>
              </ul>
            </div>
            <div class="para-22">
            <h1 class="font-medium text-neutral-600 lg my-2 leading-7 leading-none" style="border-bottom:2px solid;display:inline-block">Informasi lainnya</h1>
            <div class="text-sm font-normal text-neutral-600 my-2 leading-7">Kami juga mengumpulkan, menghasilkan, dan/atau menerima Informasi Lainnya:</div>
              <ul style="list-style-type: decimal;padding-left:1rem">
              <li class="font-normal text-neutral-600 text-sm my-2 leading-7">Informasi akun: Ketika Anda mendaftar dan membuat akun dengan menggunakan Aplikasi kami, Anda harus memberikan kepada kami Informasi Pribadi tertentu, termasuk nama, alama email, nomor ponsel Anda, dan / atau kata sandi yang akan Anda gunakan untuk mengakses Website/layanan setelah pendaftaran.</li>
                <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Informasi dashboard: Ketika Anda menggunakan dashboard, Anda harus memberi kami informasi yang relevan yang mungkin diperlukan oleh kami agar Dashboard dapat berfungsi, misalnya:</div>
                 <ul style="list-style-type: lower-latin;padding-left:1rem">
                <li class="font-normal text-neutral-600 text-sm my-2 leading-7">Jika Anda menggunakan dashboard pemegang akun terdaftar atau terverifikasi dari fasilitas pembayaran paket berlangganan yang disediakan oleh kami, Anda akan memberikan kepada kami informasi yang diperlukan termasuk tetapi tidak terbatas pada nama lengkap Anda, nomor kartu identitas Anda, jenis kartu identitas yang Anda gunakan untuk registrasi, alamat kedudukan Anda dan/atau perusahaan Anda, jenis industri perusahaan Anda, 
                  negara asal perusahaan Anda serta kode pos kedudukan Anda dan/atau perusahaan Anda.</li>
                <li class="font-normal text-neutral-600 text-sm my-2 leading-7">Jika Anda menggunakan dan / atau ketika pembayaran atau transfer dilakukan melalui uang elektronik dan / atau fasilitas dompet elektronik yang disediakan oleh kami, jika Anda adalah pembayarannya, Anda akan memberikan kepada kami informasi yang berkaitan dengan pemanfaatan, pembayaran atau transfer, termasuk tetapi tidak terbatas pada pilihan pembayaran (online payment, e- money atau virtual bank), rincian transfer dan/atau penerima pembayaran, 
                  billing address (rincian data diri pelanggan), order summary (rincian orderan), jumlah pembayaran yang dibayarkan.</li>
              </ul>
              </ul>
            </div>
            <div class="para-23">
            <h1 class="font-medium text-neutral-600 text-lg my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Informasi pihak ketiga</h1>
              <ul style="list-style-type: decimal;padding-left:1rem">
              <li class="font-normal text-neutral-600 text-sm my-2 leading-7">Informasi Lainnya yang disediakan Terhadap Anda. Kami menerima informasi yang diberikan pihak lain kepada Kami, yang mungkin termasuk informasi tentang Anda. Misalnya, ketika pengguna lain yang Anda kenal menggunakan OCA, mereka dapat memberikan nomor telepon Anda dari kontak nomor telepon seluler mereka (seperti yang Anda berikan pada mereka), atau mereka dapat mengirimi Anda pesan, dan/atau mengirim pesan ke grup tempat Anda berada.</li>
              <li class="font-normal text-neutral-600 text-sm my-2 leading-7">Penyedia Pihak Ketiga. Kami bekerja dengan penyedia pihak ketiga untuk membantu untuk memudahkan, mengoperasikan, menyediakan, meningkatkan, memahami, menyesuaikan, mendukung, dan memasarkan OCA. Misalnya, Kami bekerja dengan perusahaan pembayaran digital untuk memudahkan proses pembayaran, membantu Penyedia ini dapat memberikan kami informasi tentang Anda dalam keadaan tertentu; misalnya, media sosial dapat memberikan kami laporan untuk membantu kami mendiagnosis dan memperbaiki masalah layanan.</li>
              </ul>
            </div>
            <div class="para-24">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Bagaimana Kami menggunakan informasi</h1>
              <div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Anda memahami bahwa melalui penggunaan Layanan Anda setuju atas pengumpulan dan penggunaan (sebagaimana diatur dalam Kebijakan Privasi) dari informasi ini, termasuk pemindahan informasi ini dalam penyimpanan, pengolahan, keamanan dan penggunaan oleh OCA. Anda dapat menggunakan Layanan untuk mengubah nama akun, kata sandi, dan Alamat perusahaan kapan saja tanpa harus menghubungi Kami. 
                Jika, Anda akan mengubah data atau informasi lainnya, Anda dapat menghubungi kami melalui layanan Pelanggan OCA melalui web kami (OCA Interaction) ataupun entitas kontak admin OCA (+62 811 8483 400).</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">OCA menggunakan Informasi Lain untuk meningkatkan kepentingan sah kami dalam mengoperasikan Layanan, 
                Situs Web, dan bisnis kami. Lebih khusus, OCA menggunakan Informasi Lain untuk:</div>
              </div>
              <div class="font-medium text-neutral-600 text-lg my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Untuk menyediakan, memperbarui, memelihara, dan melindungi Layanan, Situs Web, dan bisnis Kami</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Termasuk penggunaan Informasi Lain untuk mendukung pengiriman Layanan berdasarkan Syarat dan Ketentuan yang disetujui oleh Pelanggan, mencegah atau mengatasi kesalahan layanan, masalah keamanan atau teknis, menganalisis dan memantau penggunaan, 
                tren dan kegiatan lainnya, atau atas permintaan Pengguna yang Sah.</div>
              <div class="font-medium text-neutral-600 text-lg my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Kami bekerja dengan penyedia pihak ketiga untuk membantu Kami memudahkan,  mengoperasikan, </div>
              <div class="font-medium text-neutral-600 text-lg my-2 leading-none" style="border-bottom:2px solid;display:inline-block"> meningkatkan, memahami, menyesuakan mendukung, dan memasarkan.</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Ketika Kami berbagi informasi dengan penyedia pihak ketiga, kami meminta penyedia pihak ketiga untuk menggunakan informasi Anda sesuai dengan instruksi dan ketentuan Kami atau dengan izin tertulis dari Anda atau sesuai dengan ketentuan hukum yang berlaku.</div>
              <div class="font-medium text-neutral-600 text-lg my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Sebagaimana disyaratkan oleh hukum, proses hukum atau peraturan yang berlaku</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">(termasuk tetapi tidak terbatas pada menanggapi pertanyaan, penyelidikan, atau arahan peraturan, atau mematuhi persyaratan pengarsipan dan pelaporan menurut undang-undang atau peraturan), untuk tujuan yang ditentukan dalam Hukum yang Berlaku.</div>
              <div class="font-medium text-neutral-600 text-lg my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Untuk berkomunikasi dengan Anda dengan menanggapi permintaan, komentar, dan pertanyaan Anda</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Jika Anda menghubungi kami melalui layanan pelanggan di web, sosial media ataupun menghubungi admin, kami dapat merespons anda melalui layanan sosial media.</div>
              <div class="font-medium text-neutral-600 text-lg my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Materi pemasaran dan komunikasi lainnya</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Kami dapat mengirimi Anda layanan, email administratif, teknis, dan administrasi lainnya, dan jenis komunikasi lainnya. Kami juga dapat menhubungi Anda untuk memberitahu Anda tentang perubahan dalam Layanan kami, penawaran Layanan kami, dan pemberitahuan terkait Layanan yang penting, seperti pemberitahuan keamanan dan penipuan. Komunikasi ini dianggap sebagai bagian dari Layanan dan Anda tidak boleh memilih untuk tidak ikut serta. Selain itu, kami terkadang mengirim email tentang fitur produk baru, komunikasi promosi, atau berita lain tentang OCA. Ini adalah pesan pemasaran sehingga Anda dapat mengontrol apakah Anda menerimanya. Jika Anda memiliki pertanyaan tambahan tentang 
                pesan yang Anda terima dari OCA, harap hubungi mekanisme kontak yang dijelaskan di bawah ini.</div>
              <div class="font-medium text-neutral-600 text-lg my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Untuk penagihan, pengelolaan akun, dan masalah administrasi lainnya</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">OCA mungkin perlu menghubungi Anda untuk faktur, manajemen akun, dan alasan serupa dan kami menggunakan data akun untuk mengelola akun dan melacak penagihan dan pembayaran.</div>
              <div class="font-medium text-neutral-600 text-lg my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Untuk menyelidiki dan membantu mencegah masalah keamanan dan penyalahgunaan</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Selain sebagaimana diatur dalam Kebijakan Privasi ini, kami dapat mengungkapkan atau memberikan Informasi Pribadi Anda jika kami memberitahu Anda dan kamitelah memperoleh persetujuan Anda untuk pengungkapan atau berbagi kecuali dibutuhkan untuk kepentingan hukum dan/atau dibutuhkan oleh 
                pihak berwajib termasuk namun tidak terbatas pada aparat penegak hukum, dan lembaga negara.</div>
            </div>
            <div class="para-25">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Penyimpanan data pribadi</h1>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Data Pribadi Pelanggan yang disimpan dalam database OCA yang telah melalui proses verifikasi dan terenkripsi selama Layanan beroperasi. Apabila Pelanggan telah berhenti menggunakan Layanan Kami, maka Kami berhak menyimpan dan menggunakan Data Pribadi Pelanggan sampai paling lama 5 (lima) tahun. OCA menggunakan database dengan infrastruktur & server Pihak Ketiga (third party), cloud, atau semacamnya untuk 
                menampung perolehan dan pengumpulan data pribadi, serta menggunakan perangkat lunak yang legal.</div>
            </div>
            <div class="para-26">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Pengembalian dan penghapusan dari data penggunaan pelanggan dan </h1>
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">konten pelanggan</h1>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Setelah pengakhiran Ketentuan ini, untuk keperluan Layanan Kami dapat menyimpan, menggunakan, dan mengungkapkan Data Pelanggan untuk : (a) tujuan akuntansi, pajak, penagihan, audit, dan penyesuaian; dan/atau (b) 
                untuk menyelidiki penipuan, spam, atau penggunaan Layanan yang melanggar hukum.</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Data end customer dari Pelanggan yang tersimpan pada database OCA secara otomatis akan terhapus pada sistem OCA setelah jangka waktu 5 (lima) tahun setelah kontrak berlangganan dan/atau kontrak kerjasama 
                telah habis/daluarsa apabila tidak ada rekonsiliasi dari Pelanggan.</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Dalam hal penyimpanan data pelanggan/end customer dalam database OCA, pelanggan/end customer berhak untuk menyampaikan permintaan langsung apabila datanya ingin dihapus sebelum jangka waktu maksimal 5 (lima) tahun tersebut, dan apabila hal tersebut terjadi, maka Kami akan segera 
                melakukan penghapusan data milik pelanggan/end customer.</div>
            </div>
            <div class="para-27">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Keamanan informasi privasi Anda</h1>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Kerahasiaan Informasi Privasi Anda sangat penting bagi kami. Kami akanmenggunakan semua upaya yang wajar untuk melindungi dan mengamankan Informasi Privasi Anda dari akses, pengumpulan, penggunaan atau pengungkapan oleh orang yang tidak berwenang dan terhadap pemrosesan yang melanggar hukum, kehilangan, kerusakan dan kerusakan yang tidak disengaja atau risiko serupa. Sayangnya, pengiriman informasi melalui Internet tidak sepenuhnya aman. Meskipun kami akan melakukan yang terbaik untuk melindungi Informasi Privasi Anda, Anda mengakui bahwa kami tidak dapat menjamin integritas dan keakuratan Informasi Privasi yang Anda kirimkan melalui Internet, atau menjamin bahwa Informasi Privasi tersebut tidak akan dicegat, diakses, diungkapkan, diubah atau dihancurkan oleh pihak ketiga yang tidak sah, karena faktor-faktor di luar kendali kami. Anda bertanggung jawab untuk merahasiakan detail akun Anda dan Anda tidak boleh membagikan detail akun Anda. Kehilangan, kerusakan data dan/atau lainnya 
                yang disebabkan oleh kesalahan/kelalaian Anda, bukan merupakan tanggung jawab kami.</div>
            </div>
            <div class="para-28">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Penampilan, pengumuman, pengiriman, penyebarluasan, dan/atau </h1>
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">pembukaan akses data pribadi</h1>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Dengan ini menjamin bahwa Kami hanya akan menampilkan, mengumumkan, mengirimkan, menyebarluaskan, dan/atau membuka akses data pribadi dalam sistem berdasarkan keadaan seperti berikut:</div>
              <ul>
                <li class="font-normal text-neutral-600 text-sm my-2 leading-7">Atas Persetujuan Pelanggan kecuali ditentukan lain oleh ketentuan perundang-undangan;</li>
                <li class="font-normal text-neutral-600 text-sm my-2 leading-7">Telah dilakukan verifikasi keakuratan dan kesesuaian dengan tujuan perolehan dan pengumpulan data   pribadi tersebut; dan</li>
              </ul>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Untuk keperluan proses penegakan hukum, di mana penyelenggara sistem elektronik wajib memberikan data pribadi yang terdapat dalam sistem elektronik atau data pribadi yang dihasilkan oleh sistem elektronik atas permintaan yang sah dari aparat penegak hukum berdasarkan ketentuan peraturan perundang undangan.</div>
            </div>
            <div class="para-29">
            <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Tentang layanan Kami</h1> <br>
              <div class="font-medium text-neutral-600 text-lg my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Pendaftaran</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Anda harus mendaftar OCA menggunakan data yang akurat, dan memberikan nomor ponsel dan alamat email Anda saat ini. Anda setuju untuk menerima Missedcall atau SMS OTP dari Kami untuk mendaftar pada OCA.</div>
            </div>
            <div class="para-30">
              <div class="font-medium text-neutral-600 text-lg my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Kontak nomor ponsel dan email</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Anda memberikan kami nomor telepon pengguna OCA dan kontak Anda lainnya di kontak nomor ponsel serta email Anda secara berkala. Anda mengkonfirmasi bahwa Anda mempunyai wewenang dalam memberikan nomor tersebut kepada Kami untuk memungkinkan kami memberikan Layanan Kami.</div>
            </div>
            <div class="para-30">
              <div class="font-medium text-neutral-600 text-lg my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Perangkat dan perangkat lunak</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Anda harus menyediakan perangkat, perangkat lunak, dan koneksi data tertentu untuk menggunakan OCA, yang tidak kami sediakan selama Anda menggunakan OCA.</div>
            </div>
            <div class="para-31">
              <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Perubahan kebijakan privasi</h1>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Kami dapat meninjau dan mengubah Kebijakan Privasi ini atas dasar kebijakan kami dan feedback pelanggan dari waktu ke waktu, untuk memastikan bahwa itu konsisten dengan perkembangan di masa depan, dan/atau perubahan dalam persyaratan hukum atau peraturan privasi data yang berlaku di Indonesia. Jika kami memutuskanuntuk mengubah Kebijakan Privasi ini, kami akan memberitahu Anda tentang perubahan tersebut melalui pemberitahuan umum yang dipublikasikan pada situs web, atau sebaliknya ke alamat email Anda yang tercantum dalam akun Anda. Ketika kami memposting perubahan pada Kebijakan, kami akan merevisi tanggal "terakhir diperbarui" di bagian bawah dokumen. Namun, kami sangat menganjurkan Anda untuk memeriksa tanggal Kebijakan setiap kali Anda mengakses OCA dan meninjau Kebijakan secara teratur agar Anda selalu ter-update.</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Anda setuju bahwa Anda bertanggung jawab untuk meninjau Kebijakan Privasi ini secara teratur untuk informasi terbaru tentang 
pemrosesan data dan praktik perlindungan data kami, dan bahwa Anda terus menggunakan situs web, komunikasidengan kami, atau akses 
ke dan penggunaan layanan berikut setiap perubahan pada Kebijakan Privasi ini akan merupakan penerimaan Anda terhadap Kebijakan 
Privasi ini dan semua perubahannya.</div>
            </div>
            <div class="para-32">
              <h1 class="font-semibold text-neutral-600 text-2xl my-2 leading-none" style="border-bottom:2px solid;display:inline-block">Cara menghubungi kami</h1>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Kami dapat meninjau dan mengubah Kebijakan Privasi ini atas dasar kebijakan kami dan feedback pelanggan dari waktu ke waktu, untuk memastikan bahwa itu konsisten dengan perkembangan di masa depan, dan/atau perubahan dalam persyaratan hukum atau peraturan privasi data yang berlaku di Indonesia. Jika kami memutuskanuntuk mengubah Kebijakan Privasi ini, kami akan memberitahu Anda tentang perubahan tersebut melalui pemberitahuan umum yang dipublikasikan pada situs web, atau sebaliknya ke alamat email Anda yang tercantum dalam akun Anda. Ketika kami memposting perubahan pada Kebijakan, kami akan merevisi tanggal "terakhir diperbarui" di bagian bawah dokumen. Namun, kami sangat menganjurkan Anda untuk memeriksa tanggal Kebijakan setiap kali Anda mengakses OCA dan meninjau Kebijakan secara teratur agar Anda selalu ter-update.</div>
              <div class="font-normal text-neutral-600 text-sm my-2 leading-7">Jika Anda memiliki pertanyaan mengenai Kebijakan Privasi ini atau Anda ingin mendapatkan akses dan/atau melakukan koreksi terhadap Informasi Privasi Anda, Anda dapat menghubungi kami melalui layanan Pelanggan OCA melalui web kami (OCA Interaction) ataupun entitas kontak admin OCA (+62 811 8483 400).</div>
            </div>
            </div>
          </div>
        </div>
     
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  name:"TermComp",
  components:{
  },
  data:function(){
    return{
      showTerm :true,
      showPrivacy :false
    }
  },
  methods:{
    gotoRegister(){
      window.location.href = "https://staging-newdash.ocatelkom.co.id/account/register"
    },
    gotoWa(){
      window.location.href = "https://api.whatsapp.com/message/CJYNUR2AAUSVG1"
    },
    buttonShow(){
      this.showTerm = true
       this.showPrivacy = false
    },
    buttonPrivacy(){
      this.showPrivacy = true
      this.showTerm = false
    }
  }

  
}
</script>

<style scoped>
.header-slide-enter-active, .header-slide-leave-active {
    transition: all .5s ease-in-out;
  }

  .header-slide-enter, .header-slide-leave-active {
    opacity: 0;
    transform: translate(100%, 0);
  }

.slide-up-enter-active, .slide-up-leave-active {
  transition: all .5s ease-out;
}

.slide-up-enter, .slide-up-leave-to {
  margin-bottom: -50px;
  opacity: 0;
}

.slide-up-enter-to, .slide-up-leave {
  margin-bottom: 0px;
  opacity: 1;
}
</style>