<template>
    <div class="p-4 lg:p-12">
        <p class="text-2xl text-main-color mx-2">Whatsapp Broadcast</p>

        <div class="w-full bg-white rounded-md border border-gray-400 p-4 lg:py-6 lg:px-8 mt-6">
            <div class="w-full flex flex-wrap items-center">
                <div class="hidden lg:w-1/2 lg:block">
                    <p class="text-main-color">Report</p>
                </div>
                <div class="w-full lg:w-1/2 flex justify-end">
                    <div class="flex rounded-lg border-2 border-main-color mr-4 px-1 items-center" style="cursor: pointer" @click="loadList">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 11H7.101c0-.003 0-.006.001-.009.065-.319.163-.634.291-.937.126-.297.281-.583.461-.85.178-.264.384-.513.61-.74C8.691 8.238 8.94 8.032 9.206 7.853c.266-.18.551-.334.848-.46.302-.128.617-.226.938-.291.658-.135 1.357-.135 2.018 0 .318.065.634.163.937.291.296.125.581.281.85.461.266.179.514.384.738.609l1.416-1.412c-.314-.316-.664-.604-1.036-.855-.373-.252-.773-.47-1.188-.646-.425-.18-.868-.317-1.315-.408-.923-.189-1.899-.189-2.819 0-.449.092-.892.229-1.316.409C8.858 5.727 8.458 5.944 8.086 6.196 7.716 6.445 7.368 6.733 7.05 7.05S6.445 7.716 6.197 8.085c-.252.373-.47.773-.646 1.19-.18.424-.317.867-.408 1.315C5.115 10.725 5.1 10.863 5.08 11H2l4 4L10 11zM14 13h2.899c-.001.003 0 .006-.001.008-.066.324-.164.639-.292.938-.123.293-.278.579-.459.848-.179.264-.385.514-.613.742-.225.225-.473.43-.739.61-.268.18-.553.335-.849.461-.303.128-.618.226-.938.291-.657.135-1.357.135-2.017 0-.319-.065-.634-.163-.937-.291-.297-.126-.583-.281-.85-.461-.264-.178-.513-.384-.74-.61L7.05 16.95c.317.317.666.605 1.035.854.373.252.773.47 1.19.646.424.18.867.317 1.315.408C11.051 18.952 11.525 19 12 19s.949-.048 1.408-.142c.449-.091.893-.229 1.317-.409.415-.176.815-.393 1.188-.645.372-.251.722-.54 1.035-.854.317-.317.605-.666.855-1.037.254-.377.472-.777.645-1.187.178-.42.315-.863.408-1.316.027-.135.043-.273.063-.41H22l-4-4L14 13z" fill="#ED1260"/></svg>
                    </div>
                    <div class="flex px-3 bg-main-color rounded-lg items-center" @click="addWa" style="cursor: pointer">
                        <p class="text-2xl text-white">+</p>
                        <p class="text-sm text-white ml-2">Add whatsapp broadcast</p>
                    </div>
                </div>
            </div>

<!--            <table class="w-full mt-8">-->
<!--                <tr class="border-t border-b">-->
<!--                    <th class="py-2 text-sm" style="color: #969AA0; width: 30%">Phone Number</th>-->
<!--                    <th class="py-2 text-sm" style="color: #969AA0">Message</th>-->
<!--                    <th class="py-2 text-sm" style="color: #969AA0">Status</th>-->
<!--                </tr>-->
<!--                <tr>-->

<!--                </tr>-->
<!--            </table>-->

            <div class="listdata relative mt-8" style="min-height: 400px">
                <div v-show="loadState" class="z-20 w-full h-full absolute top-0 rounded-lg flex flex-wrap items-center justify-center">
                    <p class="text-xl font-bold">Loading</p>
                </div>
                <b-table v-show="data.length <= 0" class="py-2 text-sm" :data="data" :columns="columns" :mobile-cards="false"></b-table>
                <b-table class="py-2 text-sm"
                         style="overflow-y: auto; overflow-x: hidden"
                         v-show="data.length > 0"
                         :data="data"
                         :paginated="true"
                         :pagination-simple="false"
                         :pagination-position="'bottom'"
                         :per-page="6"
                         :sticky-header="true"
                         :height="450"
                         :mobile-cards="false"
                         :current-page.sync="currentPage"
                         :aria-next-label="'Next page'"
                         :aria-previous-label="'Previous page'"
                         :aria-page-label="'Page'"
                         :aria-current-label="'Current page'">
                    <template slot-scope="props">
                        <b-table-column field="phone" label="Phone Number" width="200" centered>
                            {{ props.row.phone }}
                        </b-table-column>

                        <b-table-column field="message" label="Message" centered>
                            {{ isMobile() ? $options.filters.truncate(props.row.message, 20, "...") : $options.filters.truncate(props.row.message, 100, "...")}}
                        </b-table-column>

                        <b-table-column field="status" label="Status" width="200" centered>
                            {{ props.row.status }}
                        </b-table-column>
                    </template>
                </b-table>

                <div v-show="data.length <= 0 && loadState === false" class="w-full flex flex-wrap justify-center my-12">
                    <div class="flex flex-wrap justify-center">
                        <div class="bg-gray-300 rounded-full h-40 w-40"></div>
                        <p class="w-full mt-4 text-sm text-center" style="color: #969AA0">kamu belum membuat whatsapp broadcast</p>
                        <button class="mt-4 rounded-lg bg-main-color p-2 text-sm text-white" @click="addWa">Add whatsapp broadcast</button>
                    </div>
                </div>
            </div>

        </div>

        <!--        <div class="w-full bg-white rounded-md border border-gray-400 px-8 py-4 mt-6">-->
        <!--            <p class="text-xs text-gray-500">Call status</p>-->
        <!--            <p class="mt-2 text-xs text-gray-500">Answered: Telepon diterima dan diangkat oleh penerima.</p>-->
        <!--            <p class="text-xs text-gray-500">RNA: (Ring not Answer) Telepon berhasil dilakukan tetapi tidak diangkat oleh penerima. </p>-->
        <!--            <p class="text-xs text-gray-500">Failed: Telepon gagal dilakukan.</p>-->
        <!--        </div>-->
    </div>
</template>

<script>
    export default {
        name: "WaList",
        data: function () {
            return {
                data: [],
                columns: [
                    {
                        field: 'phone',
                        label: 'Phone Number',
                        centered: true,
                        width: 200
                    },
                    {
                        field: 'message',
                        label: 'Message',
                        centered: true
                    },
                    {
                        field: 'status',
                        label: 'Status',
                        centered: true,
                        width: 200
                    },
                ],
                currentPage: 1,
                loadState: false
            }
        },
        created() {
            if(this.$session.exists()) {
                this.loadList()
            }
        },
        methods: {
            addWa: function () {
                this.$parent.changePage('add')
            },
            loadList: function () {
                if (!this.loadState) {
                    this.loadState = true
                    this.data = []

                    const axios = require('axios')

                    let main = this
                    axios.get('https://wa01.ocatelkom.co.id/api/v1/history', {
                        headers: {
                            'Authorization': `Basic ${main.$session.get("token")}`
                        }
                    })
                        .then(function (response) {
                            let history = response.data

                            history.forEach(function (item) {
                                main.data.push({
                                    phone: item.phone_number,
                                    message: item.message_body,
                                    status: item.status
                                })
                            })
                        })
                        .catch(function (error) {
                            main.$modal.show('error', {
                                title: "ERROR " + error.response.data.errors[0].code,
                                message: error.response.data.errors[0].message
                            })
                        })
                        .finally(() => this.loadState = false)
                }
            },

            isMobile() {
                if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    return true
                } else {
                    return false
                }
            }
        },
        filters: {
            //DIGUNAKAN UNTUK ME-LIMIT JUMLAH KARAKTER
            truncate: function (text, length, suffix) {
                return text.substring(0, length) + suffix;
            },
        },
    }
</script>

<style scoped>

</style>