<template>
    <div class="w-1/2 lg:w-1/4 p-2">
        <div class="flex flex-wrap items-center justify-between p-4 rounded-lg bg-white shadow-lg">
            <p class="w-full lg:w-auto text-xs lg:text-sm text-gray-500">{{nama}}</p>
            <p :style="color" class="w-full lg:w-auto text-xs lg:text-sm font-semibold mr-4">{{jml}} {{ind}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "infoItem",
        props: {
            nama: String,
            jml: String,
            ind: String,
            color: String
        }
    }
</script>

<style scoped>

</style>