<template>
  <div id="app" class="relative" style="background:#F4F5F7">
    <!-- <div class="bg-neutral-600">
      <div class="relative text-white text-xsm max-w-screen-xl self-auto items-center justify-center mx-auto py-2">
          <span class="font-semibold text-primary">Update terbaru Covid 19:</span> Completely restore maintainable convergence whereas covalent mindshare. Objectively morph frictionless alignments before technically sound networks. Objectively unleash.
      </div>
    </div> -->
    <oca-navbar></oca-navbar>
    <div class="wrapper-thankyou smx:mx-4">
    <div class="container max-w-screen-xl mx-auto">
        <img src="../../assets/image/success.png" class="mb-3" alt="">
        <h1 class="mb-3">Pembayaran Berhasil!</h1>
        <p class="mb-10">Anda telah membayar Rp1049K untuk plan Startup. <br>
            Lihat status pembayaran dengan klik button ini.</p>
        <a href="/" class="btn-active mx-4 px-6 py-2 btn btn-lg text-left oca-button btn-daftar">Lihat status pembayaran</a>
    </div>
    </div>
  </div>
</template>

<script>
  import OcaNavbar from '../../components/oca_origin/navbar';

  export default {
    name: 'App',
    components: {
      OcaNavbar,
    },
    data: function () {
      return {
      }
    },
    mounted() {

    },
    methods: {
  gotoHome(){
    window.location.href = 'https://staging-newdash.ocatelkom.co.id/account/register'
  }
    },
    created: function () {

    },
    destroyed: function () {

    },

    //INJECT META HTML
    metaInfo(){
      return {
        title: `OCA Interaction - Telkom OCA solusi omnichannel - Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast`,
        meta: [
          {
            name: 'keywords',
            content: 'Telkom OCA, omnichannel platform, whatsapp bisnis, email blast, ivr call, sms blast'
          },
          {
            name: 'author',
            content: 'Telkom OCA'
          },
          {
            name: 'description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            name: 'thumbnail',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
          {
            property: 'og:title',
            content: "Telkom OCA Omnichannel Platform"
          },
          {
            property: 'og:description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            property: 'og:image',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
          {
            property: 'twitter:card',
            content: "summary"
          },
          {
            property: 'twitter:site',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:creator',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:title',
            content: 'Telkom OCA Omnichannel Platform'
          },
          {
            property: 'twitter:url',
            content: 'https://ocatelkom.co.id'
          },
          {
            property: 'twitter:description',
            content: 'Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast'
          },
          {
            property: 'twitter:image:src',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
        ]
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


  #app {
    font-family: Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.bg-transparent-nav{
  background-color: transparent !important;
}

.btn-active{
  background-color: #E81255;
}

.wrapper-thankyou .container{
  transform: translate(-50%, 50%);
  position: absolute;
  left: 50%;
  text-align: center;
}

.wrapper-thankyou img{
  width: 121px;
  display: inline-block;
}

.wrapper-thankyou h1{
  color: #091E42;
  font-weight: 700;
  font-size: 52px;
}

.wrapper-thankyou p{
  color: #5E6C84;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
}

.wrapper-thankyou a{
  background: #E81255;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

</style>
