<template>
    <div class="w-full flex flex-wrap justify-center mt-6">
        <div class="w-full" style="max-width: 1000px">
            <!-- TANGGAL TAMPIL APABILA DATA TERSEBUT MEMILIKI TANGGAL YANG BERBEDA DARI DATA SEBELUMNYA -->
            <p v-show="tgl !== ''" class="w-full font-bold mb-2 mt-10" style="max-width: 1000px">{{tgl}}</p>

            <!-- KONTEN -->
            <div class="w-full flex flex-wrap border border-gray-500 rounded p-6 shadow-lg" style="max-width: 1000px">
                <!-- PRODUK YANG DIBELI -->
                <div class="w-full lg:w-1/4 mb-2">
                    <p class="text-xs">Products</p>
                    <product-item v-for="data in konten.invoice.items" :key="data" :name="data.additional_info.product_name" :desc="data.additional_info.product_desc"/>
                </div>

                <!-- INVOICE DAN STATUS-->
                <div class="w-full lg:w-2/4 border-t lg:border-t-0 lg:border-l lg:border-r border-gray-500 lg:px-6 py-6 lg:py-0 mt-6 lg:mt-0">
                    <p class="text-xs">Invoice Number</p>
                    <div class="flex items-center">
                        <p class="font-semibold text-sm mr-2">{{konten.invoice.invoice_no === '' ? '-' : konten.invoice.invoice_no}}</p>
                        <a v-show="konten.status === 'successed'" target="_blank" :href="'invoice?order_id=' + konten.order_id"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M12 16L16 11 13 11 13 4 11 4 11 11 8 11z" fill="#ED1260"/><path d="M20,18H4v-7H2v7c0,1.103,0.897,2,2,2h16c1.103,0,2-0.897,2-2v-7h-2V18z" fill="#ED1260"/></svg></a>
                    </div>

                    <p class="mt-4 text-xs">Status</p>
                    <div class="flex mt-1 items-center">
                        <p class="py-1 px-2 rounded-lg text-xs text-white font-bold" :style="{'background-color' : statusColor(konten.status)}">{{getStatus(konten.status)}}</p>
                        <p v-show="konten.status === 'confirmed'" class="text-xs ml-2">Waiting for payment</p>
                        <p v-show="konten.status === 'pending'" class="text-xs ml-2 ">Please complete your order <a class="text-main-color cursor-pointer" @click="completeOrder">here</a></p>
                    </div>
                </div>

                <!-- PEMBAYARAN -->
                <div class="w-full lg:w-1/4 lg:p-10 border-t lg:border-t-0 border-gray-500">
                    <p class="text-xs">Total Payment</p>
                    <p class="text-main-color font-semibold">Rp. {{Number(konten.invoice.total).toLocaleString() | formatQuantity}}</p>
                </div>

                <div class="w-full" v-show="konten.status === 'confirmed'">
                    <div class="w-full flex bg-gray-300 rounded-lg justify-center p-2 mt-6" v-show="konten.payment_detail.paymentType === 'VA'">
                        <p class="text-xs">You have <span class="font-bold">{{hours}} Hours, {{minutes}} Minutes, {{seconds}} Seconds</span> to complete your payment.</p>
                    </div>

                    <div class="border-t border-gray-500 px-4 py-8 flex justify-between mt-6">
                        <div>
                            <p class="text-xs mb-2">Payment Method : {{konten.payment_detail.productName}}</p>
                            <p class="text-xs" v-if="konten.payment_detail.paymentType === 'VA'">Virtual Account Number : {{konten.payment_detail.additional_info.vanumber}}</p>
                        </div>
                        <div>
                            <div class="w-32 h-10 lg:h-16 flex justify-center block mx-auto">
                                <img :src="konten.payment_detail.icon" class="h-full object-contain">
                            </div>
                            <div class="w-auto flex justify-center mt-4">
                                <a class="w-full px-16 lg:px-20 py-1 border border-gray-500 text-gray-500 rounded-lg text-xs cursor-pointer" @click="seeDetail">{{konten.payment_detail.paymentType !== 'VA' ? 'Continue' : 'Details'}}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- LIHAT DETAIL ORDER -->
                <div v-show="konten.status === 'successed' || konten.status === 'expired'" class="w-full mt-2 border-t border-gray-500 px-2 pt-2 flex items-center">
                    <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 5.43834C1 5.43834 3.18182 1.07471 7 1.07471C10.8182 1.07471 13 5.43834 13 5.43834C13 5.43834 10.8182 9.80198 7 9.80198C3.18182 9.80198 1 5.43834 1 5.43834Z" stroke="#D3D3E0" stroke-width="1.09091" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.00013 7.07497C7.90387 7.07497 8.6365 6.34235 8.6365 5.43861C8.6365 4.53487 7.90387 3.80225 7.00013 3.80225C6.09639 3.80225 5.36377 4.53487 5.36377 5.43861C5.36377 6.34235 6.09639 7.07497 7.00013 7.07497Z" stroke="#D3D3E0" stroke-width="1.09091" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <a class="ml-2 text-xs text-gray-500 cursor-pointer" @click="orderDetail">See Detail</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ProductItem from "./item/ProductItem";
    import moment from "moment";
    export default {
        name: "HistoryItem",
        components: {ProductItem},
        props: {
            konten: Object,
            tgl: String,
        },
        data: function () {
            return {
                interval: null,
                countdown: 0,
                hours: 0,
                minutes: 0,
                seconds: 0,
            }
        },
        created() {
            if(this.konten.payment_detail.paymentType === 'VA'){
                let deadline = new Date(moment(this.konten.payment_detail.additional_info.expired_date).format('YYYY/MM/DD HH:mm:ss'))
                let today = new Date()

                if(today < deadline){
                    this.countdown = Math.abs(deadline - today) / 1000

                    this.interval = setInterval(() => this.changeCountdown(), 1000)
                }
            }
        },
        methods: {
            statusColor: function (status) {
                switch (status) {
                    case 'successed':
                        return '#27AE60'
                    case 'confirmed':
                        return '#2F80ED'
                    case 'pending':
                        return '#F2994A'
                    case 'expired':
                        return '#EB5757'
                    case 'failed':
                        return '#EB5757'
                }
                return '#000000'
            },
            getStatus: function (status){
                switch (status) {
                    case 'successed':
                        return 'Payment Successfull'
                    case 'confirmed':
                        return 'Confirmed'
                    case 'pending':
                        return 'Pending'
                    case 'expired':
                        return 'Payment Edpired'
                    case 'failed':
                        return 'Payment Failed'
                }
                return ''
            },
            completeOrder: function () {
                this.$session.set('order_id', this.konten.order_id)
                window.location.href = 'payment'
            },

            parseISOString: function(s) {
                var b = s.split(/\D+/);
                return new Date(Date.UTC(b[0], --b[1], b[2], b[3], b[4], b[5], b[6]));
            },

            changeCountdown: function () {
                let cek = this.countdown
                this.hours = Math.floor(cek / 3600) % 24;
                cek -= this.hours * 3600;

                this.minutes = Math.floor(cek / 60) % 60;
                cek -= this.minutes * 60;

                this.seconds = Math.floor(cek % 60);

                this.countdown -= 1
                if(this.countdown === 0){
                    clearInterval(this.interval)
                }
            },

            seeDetail: function () {
                if(this.konten.payment_detail.paymentType === 'VA'){
                    this.$session.set('result', this.konten)
                    window.location.href = 'payment_result'
                }
                else {
                    window.location.href = this.konten.payment_detail.additional_info.redirectUrl
                }

            },
            orderDetail: function () {
                this.$session.set('result', this.konten)
                window.location.href = 'order_detail'
            },
        },
        filters: {
            // you can call this whatever you want to
            formatQuantity (value) {
                return value.replace(/,/g, '.');
            }
        }
    }
</script>

<style scoped>

</style>