<template>
  <div id="app" class="w-screen h-screen flex flex-wrap">
    <div class="fixed top-0 z-20 w-full py-6 px-10 bg-main-color">
      <a href="./">
        <div class="w-56 h-auto">
          <img src="../../assets/image/logo_white.png" class="w-full">
        </div>
      </a>
    </div>

    <div class="w-screen h-screen flex flex-wrap justify-center items-center">
      <div>
        <p class="font-bold text-3xl text-center">Check your email!</p>
        <img src="../../assets/image/mail.png" style="max-width: 350px; min-width: 250px;" class="mt-6 block mx-auto">
        <p class="mt-8 text-md text-center">Selamat, akun anda telah berhasil terdaftar, kami telah mengirimkan E-mail untuk memverifikasi akun Anda.
          <br>Silahkan cek inbox atau spam di email anda.</p>
        <p class="mt-6 text-sm text-center">Tidak mendapatkan email? Kirim verifikasi ulang melalui :</p>
        <div class="flex justify-center mt-2 -ml-8">
          <a class="text-main-color text-sm cursor-pointer" @click="inputNumber('wa')">Whatsapp</a>
          <p class="text-sm mx-4">atau</p>
          <a class="text-main-color text-sm cursor-pointer" @click="inputNumber('sms')">SMS</a>
        </div>
      </div>
    </div>

    <loading-overlay/>
    <error-overlay/>
    <number-input/>
  </div>
</template>

<script>
  import LoadingOverlay from "../../components/LoadingOverlay";
  import ErrorOverlay from "../../components/ErrorOverlay";
  import NumberInput from "./NumberInput";
  export default {
    name: 'App',
    components: {NumberInput, ErrorOverlay, LoadingOverlay},
    data: function () {
      return {
        id: ''
      }
    },
    created() {
      if(!this.$cookies.isKey('lang_oca')){
        this.$cookies.set('lang_oca', 'id')
      }

      this.id = this.$cookies.get("temp_id")
      this.$cookies.remove("temp_id")
    },
    mounted() {
        //Google Analytics script
        let analytic = document.createElement('script')
        analytic.async = true
        analytic.defer = true
        analytic.setAttribute('crossOrigin', 'anonymous')
        analytic.setAttribute('src', 'https://www.googletagmanager.com/gtag/js?id=UA-169935056-1')
        document.head.appendChild(analytic)

        let _linkedin_partner_id = "2753236"; 
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; 
        window._linkedin_data_partner_ids.push(_linkedin_partner_id); 
        //Linkedin script
        let Linkedinanalytic = document.createElement('script')
        Linkedinanalytic.async = true
        Linkedinanalytic.defer = true
        Linkedinanalytic.setAttribute('crossOrigin', 'anonymous')
        Linkedinanalytic.setAttribute('src', 'https://snap.licdn.com/li.lms-analytics/insight.min.js')
        document.head.appendChild(Linkedinanalytic)

        this.loadImage()
    },
    methods: {
      inputNumber: function (tipe) {
        this.$modal.show('nomor', {
          tipe: tipe,
        })
      },
      sendSMS: function (nomor) {
        this.$modal.hide('nomor')
        this.$modal.show('loading')
        const axios = require('axios')

        let main = this
        axios.post('https://dtp.ocatelkom.co.id/api/dtp/v1/resend/sms', {
          user_id: main.id,
          phone_number: nomor
        })
        .then(function (response) {
          if(response.data.success){
            main.$modal.hide('loading')
            main.$modal.show('error', {
              title: "Sukses",
              message: "Link Verifikasi berhasil dikirim"
            })
          }
        })
        .catch(function (error) {
          main.$modal.hide('loading')
          main.$modal.show('error', {
            title: "ERROR " + error.response.data.errors[0].code,
            message: error.response.data.errors[0].message
          })
        })
      },
      sendWA: function (nomor) {
        this.$modal.hide('nomor')
        this.$modal.show('loading')
        const axios = require('axios')

        let main = this
        axios.post('https://dtp.ocatelkom.co.id/api/dtp/v1/resend/wa', {
          user_id: main.id,
          phone_number: nomor
        })
        .then(function (response) {
          if(response.data.success){
            main.$modal.hide('loading')
            main.$modal.show('error', {
              title: "Sukses",
              message: "Link Verifikasi berhasil dikirim"
            })
          }
        })
        .catch(function (error) {
          main.$modal.hide('loading')
          main.$modal.show('error', {
            title: "ERROR " + error.response.data.errors[0].code,
            message: error.response.data.errors[0].message
          })
        })
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

  #app {
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
