<template>
    <modal name="nomor" :width="400" :height="'auto'" :adaptive="true" :resizeable="true" @before-open="beforeOpen">
        <form class="py-6 px-12" method="post" @submit="closeModal">
            <p class="text-lg font-bold text-center">Masukkan Nomor HP Anda</p>
            <input type="tel" v-model="nomor" class="w-full mt-4 border px-4 py-2 rounded-lg" required/>
            <button class="mt-6 block mx-auto py-2 px-6 rounded-lg bg-main-color text-white focus:outline-none">Kirim Link Verifikasi</button>
        </form>
    </modal>
</template>

<script>
    export default {
        name: "NumberInput",
        data: function () {
            return {
                tipe: '',
                nomor: ''
            }
        },
        methods: {
            beforeOpen: function (event) {
                this.tipe = event.params.tipe
            },
            closeModal: function (e) {
                e.preventDefault()

                if(this.tipe === 'sms'){
                    this.$parent.sendSMS(this.nomor)
                }
                else {
                    this.$parent.sendWA(this.nomor)
                }
            }
        }
    }
</script>

<style scoped>

</style>