<template>
   <section class="bg-white lg:pb-0 xl:pb-48 pt-12 md:pt-0">
       <div class="mx-12 smx:mx-4">
        <div class="line max-w-screen-xl mx-auto w-10/12 hidden lg:block"></div>
        <div class="max-w-screen-xl mx-auto md:pb-20 relative lg:pt-32">
        <div class="title-testimoni text-center">
            <h2 class="text-neutral-600 text-xl md:text-4/5xl font-semibold mb-2 w-full md:w-6/12 lg:w-6/12 xl:w-5/12 mx-auto" style="line-height:1.2" data-aos="fade-top" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1200">Client kami terbantu oleh OCA Interaction</h2>
        </div>
        <div class="py-6 lg:pt-12 xl:pt-32 md:pb-48 section-testimoni relative hidden md:block" data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1200">
            <img src="../../../../assets/image/product_oca/Exclude.png" alt="" class="absolute hidden md:block image-bg" style="z-index:1" >
            <img src="../../../../assets/image/product_oca/exclude_mobile.png" alt="" class="absolute w-full image-bg md:hidden" style="z-index:1">
            <div class="content-bg w-9/12 md:w-7/12 lg:w-4/12 bg-white rounded-lg border-2 border-custom-34 mr-5 p-4 lg:p-4 xl:p-8 shadow relative" style="z-index:2">
                <div class="text-xsm md:text-sm text-custom-35 leading-7 w-full md:w-11/12">"Completely parallel task error-free methods of empowerment before interdependent technologies. Monotonectally unleash top-line technology without customized scenarios. Credibly brand intermandated strategic."</div>
                <div class="name-icon flex items-center mt-3 md:mt-6">
                    <img src="../../../../assets/image/product_oca/Ellipse 78.png" alt="">
                    <div class="ml-3">
                        <div class="text-xxsm md:text-base font-semibold">Samantha William</div>
                        <div class="text-xxsm md:text-base text-sxm text-custom-31">Founder of <span class="text-custom-32 font-semibold text-sxm">Samantha Beauty Center</span></div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="py-6 lg:pt-12 xl:pt-32 md:pb-48 section-testimoni relative md:hidden pb-68" data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1200">
            <!-- <div class="relative image-mobile">

            </div> -->
            <img src="../../../../assets/image/product_oca/exclude_mobile.png" alt="" class="absolute w-full image-bg md:hidden" style="z-index:1">
            <div class="content-bg mobile-bg w-9/12 md:w-7/12 lg:w-4/12 bg-white rounded-lg border-2 border-custom-34 mr-5 p-2 xl:p-8 shadow relative" style="z-index:2">
                <div class="text-xs md:text-sm text-custom-35 leading-7 w-full md:w-11/12" style="font-size:10px">"Completely parallel task error-free methods of empowerment before interdependent technologies. Monotonectally unleash top-line technology without customized."</div>
                <div class="name-icon flex items-center mt-3">
                    <img src="../../../../assets/image/product_oca/Ellipse 78.png" alt="">
                    <div class="ml-3">
                        <div class="text-xxsm md:text-base font-semibold" style="font-size:10px">Samantha William</div>
                        <div class="text-xxsm md:text-base text-sxm text-custom-31" style="font-size:10px">Founder of <span class="text-custom-32 font-semibold text-sxm">Samantha Beauty Center</span></div> 
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
   </section>
</template>
<script>
export default {
    name:"TestimoniSub"
}
</script> 
<style scoped>
/* .image-mobile{
    background-image: url("../../../../assets/image/product_oca/exclude_mobile.png");
} */
.line{
    border: 1px solid #EBECF0;
}
.image-bg{
    z-index: 1;
}

.content-bg{
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 233px;
}

@media only screen and (max-width: 320px) {
.mobile-bg{
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 151px !important;
}
}
@media only screen and (max-width: 767px) {
.mobile-bg{
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 205px;
}
}
@media only screen and (min-width: 768px) {
.content-bg{
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 166px;
}
}
@media only screen and (min-width: 1024px) {
.content-bg{
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 233px;
}
}

@media only screen and (min-width: 1200px) {
.content-bg{
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 190px;
}
.image-bg{
    z-index: 1;
    /* height: 100%; */
    width: 100%;
    top: 0;
}
}

</style>