<template>
    <!-- BEFORE OPEN DIPANGGIL SAAT MODAL AKAN TERBUKA -->
    <!-- <modal name="form-modal" :height="600" :width="600" :adaptive="true" :resizeable="false" :clickToClose="false" @before-open="beforeOpen"> -->
        <div id="modal" class="w-full flex flex-wrap lg:mx-24 xl:ml-40 xl:mr-10">
            <transition name="slid">
            <div v-show="step === 1" class="flex flex-col justify-between h-full w-full">
                <div class="flex flex-col  overflow-y-auto">
                    <div class="flex flex-col my-2">
                        <progress id="file" value="32" max="100" class="progressbar"></progress>
                        <div class="mb-10 mt-12">
                            <div class="text-big-company text-neutral-600 font-semibold">How big is your company?</div>
                            <div class="text-neutral-400 text-xsm">Let us know how many employees work of your company, so we can select the best solution for you.</div>
                        </div>
                    <div class="text-sm font-medium text-neutral-600">Ukuran Perusahaan</div>
                    <div class="flex my-2">
                        <div class="flex-1" @click.prevent="next()">
                            <div @click="form.bussinessSize = '< 10 employees'" :class="{'border border-custom-29': form.bussinessSize !== '< 10 employees', 'border-2 border-main-color': form.bussinessSize === '< 10 employees'}" class="flex flex-col cursor-pointer justify-center rounded-lg h-24 mr-4">
                                <div :class="{'text-custom-29 ': form.bussinessSize !== '< 10 employees', 'text-main-color font-medium': form.bussinessSize === '< 10 employees'}" class="text-center text-sm select-none">&lt; 10</div>
                                <div :class="{'text-custom-29 ': form.bussinessSize !== '< 10 employees', 'text-main-color font-medium': form.bussinessSize === '< 10 employees'}" class="text-center text-xsm select-none">Employees</div>
                            </div>
                        </div>
                        <div class="flex-1" @click.prevent="next()">
                            <div @click="form.bussinessSize = '10-49 employees'" :class="{'border border-custom-29': form.bussinessSize !== '10-49 employees', 'border-2 border-main-color': form.bussinessSize === '10-49 employees'}"  class="flex flex-col cursor-pointer justify-center rounded-lg h-24 mr-4">
                                <div :class="{'text-custom-29 ': form.bussinessSize !== '10-49 employees', 'text-main-color font-medium': form.bussinessSize === '10-49 employees'}" class="text-center text-sm select-none">10 - 49</div>
                                <div :class="{'text-custom-29 ': form.bussinessSize !== '10-49 employees', 'text-main-color font-medium': form.bussinessSize === '10-49 employees'}" class="text-center text-xsm select-none">Employees</div>
                            </div>
                        </div>
                        <div class="flex-1" @click.prevent="next()">
                            <div @click="form.bussinessSize = '50-249 employees'" :class="{'border border-custom-29': form.bussinessSize !== '50-249 employees', 'border-2 border-main-color': form.bussinessSize === '50-249 employees'}"  class="flex flex-col cursor-pointer justify-center rounded-lg h-24 mr-4">
                                <div :class="{'text-custom-29 ': form.bussinessSize !== '50-249 employees', 'text-main-color font-medium': form.bussinessSize === '50-249 employees'}" class="text-center text-sm select-none">50 - 249</div>
                                <div :class="{'text-custom-29 ': form.bussinessSize !== '50-249 employees', 'text-main-color font-medium': form.bussinessSize === '50-249 employees'}" class="text-center text-xsm select-none">Employees</div>
                            </div>
                        </div>
                        <div class="flex-1" @click.prevent="next()">
                            <div @click="form.bussinessSize = '> 500 employees'"  :class="{'border border-custom-29': form.bussinessSize !== '> 500 employees', 'border-2 border-main-color': form.bussinessSize === '> 500 employees'}" class="flex flex-col cursor-pointer justify-center rounded-lg h-24 mr-4">
                                <div :class="{'text-custom-29 ': form.bussinessSize !== '> 500 employees', 'text-main-color font-medium': form.bussinessSize === '> 500 employees'}" class="text-center text-sm select-none">&gt; 250</div>
                                <div :class="{'text-custom-29 ': form.bussinessSize !== '> 500 employees', 'text-main-color font-medium': form.bussinessSize === '> 500 employees'}" class="text-center text-xsm select-none">Employees</div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </transition>

            <transition name="slid">   
            <div v-show="step === 2" class="flex flex-col justify-between h-full w-full">
                <div class="flex flex-col overflow-y-auto">
                    <progress id="file" value="50" max="100" class="progressbar"></progress>
                    <div class="text-big-company text-neutral-600 font-semibold mb-2 mt-12">Where do you work?</div>
                    <div class="flex flex-col mb-2 ">
                        <div class="text-sm font-medium text-custom-26">Company website / social media</div>
                        <input v-model="form.bussinessName" class="flex border text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="Enter Company website">
                    </div>
                    <div class="flex flex-col mb-2 ">
                        <div class="text-sm font-medium text-custom-26">Company name</div>
                        <input v-model="form.bussinessSite" class="flex border text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="Enter Company name">
                    </div>
                    <div class="flex flex-col mb-2">
                        <div class="text-sm font-medium text-neutral-100">Industry</div>
                        <select class="border text-xsm bg-white border-custom-25 text-neutral-100 rounded-md p-2 my-2">
                            <option value="finance">Finance</option>
                            <option value="finance">Finance</option>
                            <option value="finance">Finance</option>
                        </select>
                        <!-- <input v-model="form.bussinessSite" class="flex border text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="ocaindonesia.co.id"> -->
                    </div>
                 
                </div>
                <div class="flex justify-between mb-12 -mt-12">
                    <button class="py-2 px-6 rounded-md bg-white border border-main-color text-main-color text-xsm font-semibold focus:outline-none" @click.prevent="prev()">Back</button>
                    <button :class="checkSecondPage ? 'mx-2 py-2 px-6 rounded-md bg-white border border-main-color text-main-color text-xsm font-semibold focus:outline-none':'bg-primary text-white text-center border border-main-color text-white'" class="mx-2 py-2 px-6 rounded-md text-xsm font-semibold focus:outline-none" @click.prevent="next()" v-on:keyup.enter="loadData">Next</button>
                </div>
            </div>
            </transition>
            <transition name="slid">   
            <div v-show="step === 3" class="flex flex-col justify-between h-full w-full">
                <div class="flex flex-col overflow-y-auto">
                    <progress id="file" value="80" max="100" class="progressbar"></progress>
                    <div class="text-big-company text-neutral-600 font-semibold mb-2 mt-12">What’s your name and role?</div>
                    <div class="flex flex-row mb-2 justify-between">
                        <div class="w-full mr-4">
                            <div class="text-sm font-medium text-custom-26">First Name</div>
                            <input v-model="form.bussinessName" class="flex border w-full text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="Enter First Name">
                        </div>
                        <div class="w-full">
                            <div class="text-sm font-medium text-custom-26">Lastname Name</div>
                            <input v-model="form.bussinessName" class="flex border w-full text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="Enter Last Name">
                        </div>
                    </div>
                    <div class="flex flex-col mb-2 ">
                        <div class="text-sm font-medium text-custom-26">Your Role</div>
                        <input v-model="form.bussinessSite" class="flex border text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="Enter Your Role">
                    </div>
                    <div class="flex flex-col">
                        <div class="text-sm font-medium text-neutral-100">Personal mobile number</div>
                        <input v-model="form.bussinessSite" class="flex border text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="Enter Personal mobile number">
                    </div>
                 
                </div>
                <div class="flex justify-between mb-12 -mt-12">
                    <button class="mx-2 py-2 px-6 rounded-md bg-white border border-main-color text-main-color text-xsm font-semibold focus:outline-none" @click.prevent="prev()">Back</button>
                    <button :class="checkSecondPage ? 'mx-2 py-2 px-6 rounded-md bg-white border border-main-color text-main-color text-xsm font-semibold focus:outline-none':'bg-primary text-white text-center border border-main-color text-white'" class="mx-2 py-2 px-6 rounded-md text-xsm font-semibold focus:outline-none" @click.prevent="next()" v-on:keyup.enter="loadData">Next</button>
                </div>
            </div>
            </transition>
        </div>
    <!-- </modal> -->
</template>

<script>
    export default {
        name: "FormRegister",
        data: function () {
            return {
                title: '',
                message: '',
                show: false,
                step:1,
                form: {
                    name: '',
                    email: '',
                    PhoneNumber: '',
                    bussinessName: '',
                    bussinessSite: '',
                    bussinessSosmed: '',
                    bussinessSize: '',
                    bussinesType: ''
                },
            
            }
        },
        computed: {
            checkFirstPage: function() {
                const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (this.form.name === '' || !re.test(String(this.form.email).toLowerCase()) || this.form.PhoneNumber === '') {
                    return true
                }
                else {
                    return false
                }
            },
            checkSecondPage: function() {
                if (this.form.bussinessName === '' || this.form.bussinessSize === '' || this.form.bussinessSosmed === '' || this.form.bussinesType === '') {
                    return true
                }
                else {
                    return false
                }
            },
        },
        mounted() {
            this.show = false
        },
        methods: {
            //AMBIL DATA SAAT DEKLARASI MODAL
            beforeOpen: function (event) {
                this.title = event.params.title
                this.message = event.params.message
            },
            prev() {
            this.step--;
            },
            next() {
            this.step++;
            },
            closeModal: function () {
                this.show = false
                this.form = {
                    name: '',
                    email: '',
                    PhoneNumber: '',
                    bussinessName: '',
                    bussinessSite: '',
                    bussinessSosmed: '',
                    bussinessSize: '',
                    bussinesType: ''
                }
                this.$modal.hide('form-modal')
            },

            logout: function () {
                this.$session.destroy()
                window.location.href = "./login_umkm"
            },
            setShow() {
                if (this.checkFirstPage) {
                    return
                }
                this.show = !this.show
            },
            loadData: function () {
                if (this.checkSecondPage) {
                    return
                }
                var wnd = window.open(`https://docs.google.com/forms/u/0/d/e/1FAIpQLSfzYaV2KnJfOnvMyJY3f-OUTw8Src8tR5RmtA7Xh58rjU60Gg/formResponse?entry.1148435351=${this.form.name}&entry.1307991968=${this.form.PhoneNumber}&entry.1266835486=${this.form.email}&entry.1109933139=${this.form.bussinessName}&entry.781615330=${this.form.bussinessSite}&entry.1128121676=${this.form.bussinessSosmed}&entry.243036263=${this.form.bussinessSize}&entry.669533724=${this.form.bussinesType}`);
                setTimeout(function() {
                    wnd.close();
                }, 500);
                this.$modal.show('thanks-modal')
                this.closeModal()
            }
        },
    }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

    #modal {
        font-family: Inter;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .bg-loading {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .text-big-company{
        font-size: 24px;
    }
    progress {
    width: 97%;
    height: 6px;
    }
    progress::-webkit-progress-bar {
    background-color: #E9E9E9;
    border-radius: 7px;
    }
    progress::-webkit-progress-value {
    background-color: #FF276B;
    border-radius: 7px;
    }
</style>
