<template>
    <div class="w-full md:w-1/2 lg:w-1/4 px-1 lg:mt-0 mt-6 flex flex-wrap justify-center">
        <div class="z-10 mx-auto px-6 py-2 flex rounded-full shadow-xl bg-gray-800 opacity-0">
            <p class="text-xs font-bold text-white tracking-widest">MOST POPULAR</p>
        </div>

        <div class="relative w-full h-full z-0 -mt-5 border border-gray-400 rounded-lg justify-center" style="box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
            <img src="../../../../assets/image/enterprise.png" class="z-0 w-full h-full absolute top-0 overflow-auto rounded-md">

            <div class="relative w-full h-full flex flex-wrap justify-center">
                <div class="w-full h-full" align="center">
                    <p style="color: #FFB680" class="text-lg md:text-md lg:text-lg xl:text-xl text-white font-semibold tracking-widest mt-8">ENTERPRISE</p>
                    <div class="w-full flex items-center mt-4 mb-24" style="min-height: 400px">
                        <p class="px-8">
                            {{$cookies.get('lang_oca') === 'id' ? desc_id : desc_eng}}
                        </p>
                    </div>


                    <div class="w-full absolute bottom-0">
                        <a href="https://api.whatsapp.com/message/CJYNUR2AAUSVG1" target="_blank"><button class="px-8 py-2 border bg-white rounded-lg shadow-lg" style="border-color: #FFB680; color: #FFB680">Let's Talk</button></a>
                        <div class="flex justify-center items-center mt-4 mb-4">
                            <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 5.43834C1 5.43834 3.18182 1.07471 7 1.07471C10.8182 1.07471 13 5.43834 13 5.43834C13 5.43834 10.8182 9.80198 7 9.80198C3.18182 9.80198 1 5.43834 1 5.43834Z" stroke="#ED1260" stroke-width="1.09091" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.00013 7.07497C7.90387 7.07497 8.6365 6.34235 8.6365 5.43861C8.6365 4.53487 7.90387 3.80225 7.00013 3.80225C6.09639 3.80225 5.36377 4.53487 5.36377 5.43861C5.36377 6.34235 6.09639 7.07497 7.00013 7.07497Z" stroke="#ED1260" stroke-width="1.09091" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

                            <a class="ml-1 text-sm text-main-color" href="pricing">See Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Enterprise",
        data: function () {
            return {
                desc_id: 'Untuk seluruh paket layanan OCA dan untuk mendapatkan harga terbaik dari kami.',
                desc_eng: 'For the entire OCA services and for the best price from us'
            }
        }
    }
</script>

<style scoped>

</style>