<template>
    <div class="lg:w-7/12 px-4 lg:px-10 lg:mt-0 mt-8">
        <p class="text-3xl font-bold">{{title}}</p>
        <p class="text-sm">{{new Date($parent.konten.created_at.replace(/-/g, "/")) | dateFormat('DD MMM YYYY')}}, by {{$parent.konten.author}}</p>
        <img :src="img" class="w-full h-auto my-6"/>

        <!-- KONTEN BLOG -->
        <div class="w-full">
            <html-content :konten="konten"/>
        </div>
        <p class="text-xl text-gray-600 mt-10 lg:px-4">Discussion about this post</p>

        <!--PLUGIN FACEBOOK COMMENT -->
        <div class="fb-comments w-full mt-4 px-2 lg:px-8 -mx-4" :data-href="url" data-width="100%" data-numposts="5"></div>
    </div>
</template>

<script>
    import HtmlContent from "./HtmlContent";
    export default {
        name: "BlogContent",
        components: {HtmlContent},
        props: {
            url: String,
            title: String,
            konten: null,
            img: String
        },
        mounted() {
            //DEKLARASI SCRIPT FACEBOOK COMMENT
            this.url = window.location.href
            let fbScript = document.createElement('script')
            fbScript.async = true
            fbScript.defer = true
            fbScript.setAttribute('crossOrigin', 'anonymous')
            fbScript.setAttribute('src', 'https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v6.0')
            document.head.appendChild(fbScript)
        },
    }
</script>

<style scoped>

</style>