<template>
    <div class="konten-html">
        <span v-html="konten">{{konten}}</span>
    </div>
</template>

<script>
    export default {
        name: "HtmlContent",
        props: {
            konten: null
        }
    }
</script>

<!--OVERRIDE STYLING DARI TAILWIND AGAR BLOG TAMPIL DENGAN BENAR -->
<!--STYLING SCOPED TIDAK BERLAKU UNTUK KOMPONEN YANG MENGGUNAKN V-HTML SEHINGGA STYLE PERLU DI OVERRIDE DI CLASS SPESIFIK -->
<style>

    .konten-html blockquote,
    .konten-html dl,
    .konten-html dd,
    .konten-html h1,
    .konten-html h2,
    .konten-html h3,
    .konten-html h4,
    .konten-html h5,
    .konten-html h6,
    .konten-html hr,
    .konten-html figure,
    .konten-html p,
    .konten-html pre {
        margin: 1.12em 0 !important;
    }

    .konten-html h1,
    .konten-html h2,
    .konten-html h3,
    .konten-html h4,
    .konten-html h5,
    .konten-html h6 {
        font-weight: bolder !important;
    }

    .konten-html h1 {
        font-size: 2em !important;
    }
    .konten-html h2 {
        font-size: 1.5em !important;
    }
    .konten-html h3 {
        font-size: 1.17em !important;
    }

    .konten-html ol,
    .konten-html ul {
        margin: 1.12em 0 !important;
        margin-left: 40px !important;
    }

    .konten-html li {
        padding-left: 10px !important;
        margin-bottom: 10px !important;
    }

    .konten-html ol {
        list-style-type: decimal !important;
    }

    .konten-html ul {
        list-style-type: disc !important;
    }

    .konten-html a {
        color: #ED1260 !important;
    }

</style>