<template>
    <div class="lg:w-1/12 flex flex-wrap justify-center px-4 lg:px-10 content-start items-center">
        <div>
            <p class="w-full text-center text-lg" @click="addCount">{{shareCount}}</p>
            <p class="w-full text-center text-sm text-gray-500">SHARES</p>
        </div>

        <!-- SHARING SOCIAL MEDIA MENGGUNAKAN LIBRARY VUE SOCIAL SHARING -->
        <social-sharing :url="$parent.url"
                        :title="$parent.konten.title"
                        :quote="$parent.konten.title"
                        inline-template
                        @open="addCount">
            <div class="flex lg:flex-wrap lg:ml-0 ml-4 justify-center">
                <network network="facebook">
                    <div class="w-10 lg:mt-4 mx-2 focus:outline-none">
                        <img src="../../../assets/image/blog/face.png">
                    </div>
                </network>
                <network network="twitter">
                    <div class="w-10 lg:mt-4 mx-2 focus:outline-none">
                        <img src="../../../assets/image/blog/twitter.png">
                    </div>
                </network>
                <network network="line">
                    <div class="w-10 lg:mt-4 mx-2 focus:outline-none">
                        <img src="../../../assets/image/blog/line.png">
                    </div>
                </network>
                <network network="whatsapp">
                    <div class="w-10 lg:mt-4 mx-2 focus:outline-none">
                        <img src="../../../assets/image/blog/wa.png">
                    </div>
                </network>
            </div>
        </social-sharing>
    </div>
</template>

<script>
    export default {
        name: "ShareLayout",
        props: {
            shareCount: String
        },
        created() {

        },
        methods: {
            //TAMBAH JUMLAH SHARE SAAT TOMBOL SOCIAL MEDIA DI KLIK
            addCount: function () {
                this.$modal.show('loading')
                const axios = require('axios')

                let main = this
                axios.post('https://dtpx1.ocatelkom.co.id/api/blogs', {
                    id: main.$parent.konten.id
                }, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                })
                    .then(function (response) {
                        if(response.data){
                            main.$modal.hide('loading')
                        }
                    })
                    .catch(function (error) {
                        main.$modal.hide('loading')
                        main.$modal.show('error', {
                            title: "ERROR " + error.response.data.errors[0].code,
                            message: error.response.data.errors[0].message
                        })
                    })

                // axios.request({
                //     method: 'POST',
                //     url: 'https://dtpx1.ocatelkom.co.id/api/blogs',
                //     headers: {
                //         'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                //     },
                //     data: {
                //         'id' : main.$parent.konten.id
                //     }
                // })
                //     .then(function (response) {
                //         if(response.data){
                //             main.$modal.hide('loading')
                //         }
                //     })
                //     .catch(function (error) {
                //         main.$modal.hide('loading')
                //         main.$modal.show('error', {
                //             title: "ERROR " + error.response.data.errors[0].code,
                //             message: error.response.data.errors[0].message
                //         })
                //     })
            },
        }
    }
</script>

<style scoped>

</style>