<template>
    <div class="lg:w-4/12 content-start">
        <p class="mx-4 font-bold">Terbaru</p>
        <terbaru-konten v-for="data in blogs" :key="data" :konten="data"/>
    </div>
</template>

<script>
    import TerbaruKonten from "./item/TerbaruKonten";
    export default {
        name: "Terbaru",
        components: {TerbaruKonten},
        data: function () {
            return {
                blogs: []
            }
        },
        created() {
            let uri = window.location.search.substring(1);
            let params = new URLSearchParams(uri);
            if(params.get("blog") != null){
                this.loadBlog(params.get("blog"))
            }

        },
        methods: {
            loadBlog: function (blogID) {
                const axios = require('axios')

                let main = this
                let url = 'https://dtpx1.ocatelkom.co.id/api/blogs/lastest_post/' + this.$cookies.get('lang_oca') + '/' + blogID
                axios.get(url)
                    .then(function (response) {
                        main.blogs = response.data
                    })
                    .catch(function (error) {
                        main.$modal.show('error', {
                            title: "ERROR " + error.response.data.errors[0].code,
                            message: error.response.data.errors[0].message
                        })
                    })
            }
        }
    }
</script>

<style scoped>

</style>