<template>
  <div id="app" class="relative h-screen">
  <div class=" overflow-hidden">
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFHTVZD"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="mt-20">
      <div class="flex justify-center">
        <oca-button class="mx-1" classValue="rounded-md" icon="arrow-right" >Ini Primary</oca-button>
        <oca-button class="mx-1" classValue="rounded-md" buttonType="ghost">Ini Primary-2</oca-button>
        <oca-button class="mx-1" classValue="rounded-md" icon="send-message" iconPosition="left" background="secondary" >Ini Secondary</oca-button>
        <oca-button class="mx-1" classValue="rounded-md" background="secondary" buttonType="ghost" >Ini Secondary-2</oca-button>
        <oca-button class="mx-1" classValue="rounded-md" background="complementer" >Ini Complementer</oca-button>
        <oca-button class="mx-1" classValue="rounded-md" background="complementer" buttonType="ghost" >Ini Complementer-2</oca-button>
      </div>
    </div>

    <div class="mt-5">
      <div class="flex justify-center">
        <oca-input class="mx-1" type="text" placeholder="Masukan nama" v-model="name" label="Name"> </oca-input>
        <oca-input class="mx-1" type="email" placeholder="Masukan email" v-model="email" label="Email"> </oca-input>
        <oca-input class="mx-1" type="password" placeholder="Masukan password" v-model="password" label="Password"> </oca-input>
      </div>
    </div>

    <div class="mt-5"> 
      <div class="w-full" :class="{'border-b-2 border-custom-3': isUmkm}"> 
        <nav class="w-full flex items-center justify-between flex-wrap py-2 px-8 mb-2 ml-5" >
            <div class="flex items-center flex-shrink-0 text-white">
                <a href="./">
                    <div class="w-56 h-auto">
                        <img src="../../assets/image/logo-oca.png" class="w-full">
                    </div>
                </a>
            </div>
            <div class="block lg:hidden">
                <button class="flex-grow items-center px-3 py-2 border rounded text-teal-200 border-pink-400 hover:text-white hover:border-white focus:outline-none" v-on:click="toggleMenu">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                </button>
            </div>
            <div :class="{block: isShown, hidden: !isShown}" class="flex flex-wrap lg:block lg:items-center lg:mr-6 lg:mt-0 mt-4">
                <div class="text-sm flex flex-wrap items-center">
                    <a class="text-neutral-300 transition duration-300 ease-in-out mt-4 w-full lg:w-auto lg:mt-0 font-bold text-sm  mr-10">
                        Product
                    </a> 
                    <a class="text-neutral-300 transition duration-300 ease-in-out mt-4 w-full lg:w-auto lg:mt-0 font-bold text-sm mr-10">
                        Solutions
                    </a>
                    <a class="text-neutral-300 transition duration-300 ease-in-out mt-4 w-full lg:w-auto lg:mt-0 font-bold text-sm mr-10">
                        Pricing
                    </a>
                    <a class="text-neutral-300 transition duration-300 ease-in-out mt-4 w-full lg:w-auto lg:mt-0 font-bold text-sm mr-10">
                        Resources
                    </a>
                    <a class="text-neutral-300 transition duration-300 ease-in-out mt-4 w-full lg:w-auto lg:mt-0 font-bold text-sm mr-10">
                        About Us
                    </a>
                    <oca-button class="mx-1" classValue="rounded-md" >Ini Primary</oca-button>
                </div>
            </div>
        </nav>
      </div>
    </div>

    <div class="mt-5">
      <div style="border-radius: 80px 0px 0px 0px" class="flex flex-col bg-customs-1 pt-24 px-8 ml-5">
        <div class="flex justify-between pb-10">
            <div class="flex-col justify-center">
                <div class="w-56 h-auto">
                    <img src="../../assets/image/logo_white.png" class="w-full">
                </div>
                <p class="text-sm text-white mt-6">Jl. Timor No.16, RT.9/RW.4, Gondangdia,<br/> Kec. Menteng, Kota Jakarta Pusat, Daerah <br/> Khusus Ibukota Jakarta 10350</p>

            </div>
            <div class="flex flex-wrap justify-center">
                <div class="w-full flex justify-center lg:justify-end">
                  <div class="flex flex-col pr-4 lg:pr-12">
                    <a class="text-md text-white font-semibold mb-4">Product</a>
                    <a class="text-md text-white my-1">OCA Blast</a>
                    <a class="text-md text-white my-1">OCA Integration</a>
                    <a class="text-md text-white my-1">OCA Profiling</a>
                  </div>
                  <div class="flex flex-col pr-4 lg:pr-12">
                    <a class="text-md text-white font-semibold mb-4">Solutions</a>
                    <a class="text-md text-white my-1">Solutions</a>
                    <a class="text-md text-white my-1">Solutions</a>
                  </div>
                  <div class="flex flex-col pr-4 lg:pr-12">
                    <a class="text-md text-white font-semibold mb-4">Pricing</a>
                    <a class="text-md text-white my-1">Pricing</a>
                  </div>
                  <div class="flex flex-col pr-4 lg:pr-12">
                    <a class="text-md text-white font-semibold mb-4">Resources</a>
                    <a class="text-md text-white my-1 ">FAQ</a>
                    <a class="text-md text-white my-1">API Documentation</a>
                  </div>
                  <div class="flex flex-col pr-4 lg:pr-12">
                    <a class="text-md text-white font-semibold mb-4">Company</a>
                    <a class="text-md text-white my-1">Company</a>
                    <a class="text-md text-white my-1">Company</a>
                    <a class="text-md text-white my-1">Company</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="border-t border-b border-neutral-40 my-4">
          <div class="flex justify-between py-4">
            <div class="flex flex-row">
              <div class="self-center text-sm text-white">Subscribe newsletter kami.</div>
              <oca-button class="mx-4" classValue="rounded-md" >Subscribe</oca-button>
            </div>
            <div class="flex flex-row">
              <svg class="self-center mx-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.868 2.625H4.13203C3.3 2.625 2.625 3.3 2.625 4.13203V19.868C2.625 20.7 3.3 21.375 4.13203 21.375H19.868C20.7 21.375 21.375 20.7 21.375 19.868V4.13203C21.375 3.3 20.7 2.625 19.868 2.625ZM19.868 19.875C9.37266 19.8727 4.125 19.8703 4.125 19.868C4.12734 9.37266 4.12969 4.125 4.13203 4.125C14.6273 4.12734 19.875 4.12969 19.875 4.13203C19.8727 14.6273 19.8703 19.875 19.868 19.875ZM5.40469 9.65391H8.18672V18.6023H5.40469V9.65391ZM6.79688 8.43047C7.68516 8.43047 8.40937 7.70859 8.40937 6.81797C8.40937 6.60621 8.36767 6.39653 8.28663 6.20089C8.2056 6.00525 8.08682 5.82749 7.93709 5.67776C7.78735 5.52802 7.60959 5.40925 7.41395 5.32821C7.21831 5.24718 7.00863 5.20547 6.79688 5.20547C6.58512 5.20547 6.37544 5.24718 6.1798 5.32821C5.98416 5.40925 5.8064 5.52802 5.65667 5.67776C5.50693 5.82749 5.38815 6.00525 5.30712 6.20089C5.22608 6.39653 5.18437 6.60621 5.18437 6.81797C5.18203 7.70859 5.90391 8.43047 6.79688 8.43047ZM12.7102 14.175C12.7102 13.0078 12.9328 11.8781 14.3789 11.8781C15.8039 11.8781 15.825 13.2117 15.825 14.25V18.6023H18.6047V13.6945C18.6047 11.2852 18.0844 9.43125 15.2695 9.43125C13.9172 9.43125 13.0102 10.1742 12.6375 10.8773H12.6V9.65391H9.93047V18.6023H12.7102V14.175Z" fill="white"/>
              </svg>

              <svg class="self-center mx-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.625 2.625H3.375C2.96016 2.625 2.625 2.96016 2.625 3.375V20.625C2.625 21.0398 2.96016 21.375 3.375 21.375H20.625C21.0398 21.375 21.375 21.0398 21.375 20.625V3.375C21.375 2.96016 21.0398 2.625 20.625 2.625ZM19.875 19.875H15.5602V14.1141H17.9977L18.3633 11.2852H15.5602V9.47812C15.5602 8.65781 15.7875 8.1 16.9617 8.1H18.4594V5.56875C18.1992 5.53359 17.3109 5.45625 16.275 5.45625C14.1141 5.45625 12.6352 6.77578 12.6352 9.19687V11.2828H10.193V14.1117H12.6375V19.875H4.125V4.125H19.875V19.875Z" fill="white"/>
              </svg>

              <svg class="self-center mx-2" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 0C6.55762 0 6.2505 0.01125 5.29087 0.054C4.33125 0.099 3.67762 0.24975 3.105 0.4725C2.50436 0.698421 1.9603 1.0528 1.51088 1.51088C1.05309 1.96053 0.698746 2.50452 0.4725 3.105C0.24975 3.6765 0.097875 4.33125 0.054 5.2875C0.01125 6.24937 0 6.55538 0 9.00113C0 11.4446 0.01125 11.7506 0.054 12.7103C0.099 13.6688 0.24975 14.3224 0.4725 14.895C0.703125 15.4867 1.01025 15.9885 1.51088 16.4891C2.01038 16.9897 2.51213 17.298 3.10388 17.5275C3.67763 17.7502 4.33013 17.9021 5.28863 17.946C6.24938 17.9888 6.55538 18 9 18C11.4446 18 11.7495 17.9888 12.7103 17.946C13.6676 17.901 14.3235 17.7502 14.8961 17.5275C15.4964 17.3015 16.04 16.9471 16.4891 16.4891C16.9897 15.9885 17.2969 15.4867 17.5275 14.895C17.7491 14.3224 17.901 13.6688 17.946 12.7103C17.9888 11.7506 18 11.4446 18 9C18 6.55538 17.9888 6.24938 17.946 5.28863C17.901 4.33125 17.7491 3.6765 17.5275 3.105C17.3013 2.5045 16.9469 1.96051 16.4891 1.51088C16.0398 1.05264 15.4957 0.698226 14.895 0.4725C14.3212 0.24975 13.6665 0.097875 12.7091 0.054C11.7484 0.01125 11.4435 0 8.99775 0H9.00113H9ZM8.19337 1.62225H9.00113C11.4041 1.62225 11.6887 1.63013 12.6371 1.674C13.5146 1.71338 13.9916 1.86075 14.3089 1.98338C14.7285 2.1465 15.0289 2.34225 15.3439 2.65725C15.6589 2.97225 15.8535 3.2715 16.0166 3.69225C16.1404 4.00838 16.2866 4.48538 16.326 5.36287C16.3699 6.31125 16.3789 6.59588 16.3789 8.99775C16.3789 11.3996 16.3699 11.6854 16.326 12.6337C16.2866 13.5112 16.1392 13.9871 16.0166 14.3044C15.8723 14.6952 15.642 15.0485 15.3427 15.3383C15.0277 15.6532 14.7285 15.8479 14.3078 16.011C13.9928 16.1348 13.5157 16.281 12.6371 16.3215C11.6887 16.3643 11.4041 16.3744 9.00113 16.3744C6.59813 16.3744 6.31238 16.3643 5.364 16.3215C4.4865 16.281 4.01062 16.1348 3.69338 16.011C3.30244 15.8669 2.94877 15.637 2.65837 15.3383C2.35884 15.048 2.12819 14.6944 1.98338 14.3032C1.86075 13.9871 1.71338 13.5101 1.674 12.6326C1.63125 11.6842 1.62225 11.3996 1.62225 8.9955C1.62225 6.5925 1.63125 6.309 1.674 5.36062C1.7145 4.48312 1.86075 4.00612 1.9845 3.68887C2.14762 3.26925 2.34337 2.96887 2.65837 2.65387C2.97337 2.33888 3.27262 2.14425 3.69338 1.98112C4.01062 1.85738 4.4865 1.71113 5.364 1.67062C6.19425 1.63238 6.516 1.62113 8.19337 1.62V1.62225ZM13.8049 3.11625C13.663 3.11625 13.5226 3.14419 13.3916 3.19846C13.2605 3.25274 13.1415 3.33229 13.0412 3.43257C12.9409 3.53286 12.8614 3.65192 12.8071 3.78295C12.7528 3.91398 12.7249 4.05442 12.7249 4.19625C12.7249 4.33808 12.7528 4.47852 12.8071 4.60955C12.8614 4.74058 12.9409 4.85964 13.0412 4.95993C13.1415 5.06021 13.2605 5.13976 13.3916 5.19404C13.5226 5.24831 13.663 5.27625 13.8049 5.27625C14.0913 5.27625 14.366 5.16246 14.5686 4.95993C14.7711 4.75739 14.8849 4.48268 14.8849 4.19625C14.8849 3.90982 14.7711 3.63511 14.5686 3.43257C14.366 3.23004 14.0913 3.11625 13.8049 3.11625ZM9.00113 4.3785C8.38808 4.36894 7.77926 4.48142 7.2101 4.70941C6.64094 4.9374 6.12283 5.27633 5.68592 5.70648C5.24901 6.13662 4.90203 6.64939 4.6652 7.21492C4.42836 7.78045 4.30639 8.38744 4.30639 9.00056C4.30639 9.61368 4.42836 10.2207 4.6652 10.7862C4.90203 11.3517 5.24901 11.8645 5.68592 12.2946C6.12283 12.7248 6.64094 13.0637 7.2101 13.2917C7.77926 13.5197 8.38808 13.6322 9.00113 13.6226C10.2145 13.6037 11.3717 13.1084 12.2231 12.2437C13.0745 11.3789 13.5516 10.2141 13.5516 9.00056C13.5516 7.78706 13.0745 6.62221 12.2231 5.75747C11.3717 4.89272 10.2145 4.39743 9.00113 4.3785ZM9.00113 5.99963C9.79687 5.99963 10.56 6.31573 11.1227 6.87841C11.6854 7.44109 12.0015 8.20425 12.0015 9C12.0015 9.79575 11.6854 10.5589 11.1227 11.1216C10.56 11.6843 9.79687 12.0004 9.00113 12.0004C8.20538 12.0004 7.44222 11.6843 6.87954 11.1216C6.31686 10.5589 6.00075 9.79575 6.00075 9C6.00075 8.20425 6.31686 7.44109 6.87954 6.87841C7.44222 6.31573 8.20538 5.99963 9.00113 5.99963Z" fill="white"/>
              </svg>

              <svg class="self-center mx-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.5633 6.55781L21 5.17734V4.875H16.0242L12.4781 13.7438L8.44453 4.875H3.22734V5.17734L4.90547 7.20703C5.06953 7.35703 5.15391 7.57734 5.13281 7.79766V15.7734C5.18438 16.0617 5.09297 16.3547 4.89141 16.5633L3 18.8672V19.1648H8.35781V18.8625L6.46875 16.5656C6.36754 16.4629 6.2914 16.3381 6.24628 16.2011C6.20116 16.0641 6.18826 15.9186 6.20859 15.7758V8.87578L10.9125 19.1695H11.4586L15.5039 8.87578V17.0766C15.5039 17.2922 15.5039 17.3367 15.3633 17.4797L13.9078 18.893V19.1953H20.9672V18.893L19.5633 17.5125C19.4414 17.4188 19.3781 17.2617 19.4039 17.1094V6.96094C19.3918 6.88562 19.4002 6.80843 19.4282 6.73748C19.4563 6.66654 19.5029 6.60447 19.5633 6.55781Z" fill="white"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="flex flex-col py-10">
          <div class="flex flex-row my-4">
            <div class="text-white text-sm font-semibold mr-4">Privacy & Terms</div>
            <div class="text-white text-sm font-semibold mx-4">Contact Us</div>
            <div class="flex flex-row mx-4">
              <div class="self-center text-white text-sm font-semibold">ID</div>
              <svg class="self-center mx-1" width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="18" height="6" fill="#F71530"/>
                <rect y="6" width="18" height="6" fill="white"/>
              </svg>
              <svg class="self-center" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 6L8 10L12 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
          <div class="text-white text-sm my-4">© Copyright 2021 OCA Indonesia, Inc. All rights reserved. Various trademarks held by their respective owners.</div>
        </div>
      </div>
    </div>

      <!-- KOMPONEN MODAL -->
      <loading-overlay/>
  </div>
    </div>
</template>

<script>
  import LoadingOverlay from "../../components/LoadingOverlay";
  import ClickOutside from 'vue-click-outside';
  import OcaButton from '../../components/oca_origin/buttons';
  import OcaInput from '../../components/oca_origin/inputs';
  import "../../google_tag.js";

  export default {
    name: 'App',
    components: {
      LoadingOverlay,
      OcaButton,
      OcaInput
    },
    data: function () {
      return {
        password: '',
        show: false,
        showWa: false,
        showWaFloating: false,
      }
    },
    mounted() {
        //Google Analytics script
        let analytic = document.createElement('script')
        analytic.async = true
        analytic.defer = true
        analytic.setAttribute('crossOrigin', 'anonymous')
        analytic.setAttribute('src', 'https://www.googletagmanager.com/gtag/js?id=UA-169935056-1')
        document.head.appendChild(analytic)

        let _linkedin_partner_id = "2753236"; 
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; 
        window._linkedin_data_partner_ids.push(_linkedin_partner_id); 
        //Linkedin script
        let Linkedinanalytic = document.createElement('script')
        Linkedinanalytic.async = true
        Linkedinanalytic.defer = true
        Linkedinanalytic.setAttribute('crossOrigin', 'anonymous')
        Linkedinanalytic.setAttribute('src', 'https://snap.licdn.com/li.lms-analytics/insight.min.js')
        document.head.appendChild(Linkedinanalytic)

        this.loadImage()
    },
    methods: {
      handleScroll: function () {
        var nav = document.querySelector('#nav')
        var navHead = document.querySelector('#nav_head')
        if(window.scrollY > 70 && this.show === false){
          nav.classList.toggle('scrolled')
          navHead.classList.toggle('hidden')
          this.show = true
        }

        if(window.scrollY < 70 && this.show === true){
          nav.classList.toggle('scrolled')
          navHead.classList.toggle('hidden')
          this.show = false
        }
      },
        loadImage: function () {
            let axios = require("axios")

            let main = this
            axios.get("https://dtpx1.ocatelkom.co.id/api/promo")
                .then(function (response) {
                    if (response.data.show === "yes"){
                        main.$modal.show("news-modal", {
                            img: "https://dtpx1.ocatelkom.co.id/public/promo/" + response.data.img,
                            url: response.data.redirect_url
                        });
                    }
                })
        },
        changeWa: function () {
          this.showWa = !this.showWa  
          this.showWaFloating = false
        },
        changeWaFloating: function () {
          this.showWaFloating = !this.showWaFloating  
          this.showWa = false
        }
    },
    created: function () {
        if(!this.$cookies.isKey('lang_oca')){
            this.$cookies.set('lang_oca', 'id')
        }

      window.addEventListener('scroll', this.handleScroll);
    },
    destroyed: function () {
      window.removeEventListener('scroll', this.handleScroll);
    },
    directives: {
      ClickOutside
    },

      //INJECT META HTML
      //INJECT META HTML
      metaInfo(){
          return {
              title: `Telkom OCA solusi omnichannel - Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast`,
              meta: [
                  {
                      name: 'keywords',
                      content: 'Telkom OCA, omnichannel platform, whatsapp bisnis, email blast, ivr call, sms blast'
                  },
                  {
                      name: 'author',
                      content: 'Telkom OCA'
                  },
                  {
                      name: 'description',
                      content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
                  },
                  {
                      name: 'thumbnail',
                      content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
                  },
                  {
                      property: 'og:title',
                      content: "Telkom OCA Omnichannel Platform"
                  },
                  {
                      property: 'og:description',
                      content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
                  },
                  {
                      property: 'og:image',
                      content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
                  },
                  {
                      property: 'twitter:card',
                      content: "summary"
                  },
                  {
                      property: 'twitter:site',
                      content: "@Ask_OCA"
                  },
                  {
                      property: 'twitter:creator',
                      content: "@Ask_OCA"
                  },
                  {
                      property: 'twitter:title',
                      content: 'Telkom OCA Omnichannel Platform'
                  },
                  {
                      property: 'twitter:url',
                      content: 'https://ocatelkom.co.id'
                  },
                  {
                      property: 'twitter:description',
                      content: 'Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast'
                  },
                  {
                      property: 'twitter:image:src',
                      content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
                  },
              ]
          }
      }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

  #app {
      font-family: Inter;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

</style>
