<template>
  <div id="app" class="relative h-screen">
    <div class="fixed right-2 bottom-7 z-50">
      <img @click="changeWaFloating" class="w-16 cursor-pointer" src="../../assets/image/wa-floating.png">
    </div>
    <transition name="fade">
      <wa-barcode v-if="showWaFloating" class="fixed xxxl:right-6 xxl:right-7 xls:right-8 right-8 bottom-7 xls:bottom-6 shadow-lg z-50" />
    </transition>
  <div class="overflow-hidden">
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFHTVZD"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="flex flex-grow">
      <header-b-g class="absolute flex-1"/>
      <div class="w-full relative lg:bg-transparent bg-main-color">
<!--        <navbar-scrolled id="nav" class="fixed navbar-default z-20"/>-->
        <Navbar id="nav" v-bind:is-shown="false" :isUmkm="false" class="z-20 fixed navbar-default lg:bg-transparent bg-main-color"/>
        <transition name="fade">
          <wa-barcode v-if="showWa" class="absolute xxxl:right-17 xxl:right-19 xls:right-22 right-25 top-22 shadow-lg" />
        </transition>
        <header-content class="mt-40"/>
      </div>
    </div>

      <!-- DASHBOARD UTAMA, TAMPIL APABILA TERDAPAT SESSION -->
      <dashboard v-if="logged"/>

      <!-- DASHBOARD LOCKED, TAMPIL APABILA TIDAK ADA USER YANG LOGIN -->
      <dashboard-not-logged v-else/>

    <upgrade/>
    <Footer/>

      <!-- KOMPONEN MODAL -->
      <error-overlay/>
      <loading-overlay/>
  </div>
  </div>
</template>

<script>
  import HeaderBG from "./components/HeaderBG";
  import Navbar from "../../components/Navbar";
    import WaBarcode from "../../components/waBarcode";
  import HeaderContent from "./components/HeaderContent";
  import Footer from "../../components/Footer";
  import Dashboard from "./components/Dashboard";
  import Upgrade from "./components/Upgrade";
  import DashboardNotLogged from "./components/DashboardNotLogged";
  import ErrorOverlay from "../../components/ErrorOverlay";
  import LoadingOverlay from "../../components/LoadingOverlay";
  import "../../google_tag.js"

  export default {
    name: 'App',
    components: {
        LoadingOverlay,
        ErrorOverlay,
        DashboardNotLogged,
      Upgrade,
      Dashboard,
      HeaderContent,
      Navbar,
      HeaderBG,
      WaBarcode,
      Footer
    },
    data: function () {
      return {
          show: false,
          logged: false,
          showWa: false,
          showWaFloating: false,
      }
    },
    mounted() {
        //DEKLARASI SCRIPT UNTUK CHATBOT
      let liveChat = document.createElement('script')
      liveChat.async = true
      liveChat.defer = true
      liveChat.setAttribute('crossOrigin', 'anonymous')
      liveChat.setAttribute('src', 'https://code.jivosite.com/widget/aAlTqVN5rV')
      document.head.appendChild(liveChat)
    },
    methods: {
      handleScroll: function () {
        var nav = document.querySelector('#nav')
        var navHead = document.querySelector('#nav_head')
        if(window.scrollY > 70 && this.show === false){
          nav.classList.toggle('scrolled')
          navHead.classList.toggle('hidden')
          this.show = true
        }

        if(window.scrollY < 70 && this.show === true){
          nav.classList.toggle('scrolled')
          navHead.classList.toggle('hidden')
          this.show = false
        }
      },
      changeWa: function () {
        this.showWa = !this.showWa  
        this.showWaFloating = false
      },
      changeWaFloating: function () {
        this.showWaFloating = !this.showWaFloating  
        this.showWa = false
      }
    },
    created: function () {
        if(!this.$cookies.isKey('lang_oca')){
            this.$cookies.set('lang_oca', 'id')
        }

      window.addEventListener('scroll', this.handleScroll);

      if(this.$session.exists()) {
          this.logged = true
      }
    },
    destroyed: function () {
      window.removeEventListener('scroll', this.handleScroll);
    },
    //INJECT META HTML
      metaInfo(){
          return {
              title: `Dashboard Trial - Telkom OCA solusi omnichannel - Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast`,
              meta: [
                  {
                      name: 'keywords',
                      content: 'Telkom OCA, omnichannel platform, whatsapp bisnis, email blast, ivr call, sms blast'
                  },
                  {
                      name: 'author',
                      content: 'Telkom OCA'
                  },
                  {
                      name: 'description',
                      content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
                  },
                  {
                      name: 'thumbnail',
                      content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
                  },
                  {
                      property: 'og:title',
                      content: "Telkom OCA Omnichannel Platform"
                  },
                  {
                      property: 'og:description',
                      content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
                  },
                  {
                      property: 'og:image',
                      content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
                  },
                  {
                      property: 'twitter:card',
                      content: "summary"
                  },
                  {
                      property: 'twitter:site',
                      content: "@Ask_OCA"
                  },
                  {
                      property: 'twitter:creator',
                      content: "@Ask_OCA"
                  },
                  {
                      property: 'twitter:title',
                      content: 'Telkom OCA Omnichannel Platform'
                  },
                  {
                      property: 'twitter:url',
                      content: 'https://ocatelkom.co.id'
                  },
                  {
                      property: 'twitter:description',
                      content: 'Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast'
                  },
                  {
                      property: 'twitter:image:src',
                      content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
                  },
              ]
          }
      }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

  #app {
    font-family: Lato;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

</style>
