<template>
  <div id="app" class="w-screen h-screen flex flex-wrap">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFHTVZD"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="w-full lg:w-1/2 flex flex-wrap xl:py-12 lg:py-12 lg:pl-12 xl:pl-12 md:px-0">
      <a href="./" class="pl-10 pt-7 md:pl-20 md:pt-10 lg:pl-0 lg:pt-0 xl:pl-0 xl:pt-0">
        <img src="../../assets/image/logo-oca.png" class="w-56">
      </a>

      <register-user v-show="currentPage === 'register'"/>
      <form-register v-show="currentPage === 'stepform'"/>
    </div>

    <div class="lg:block lg:w-1/2 md:w-9/12 md:my-0 md:mx-auto md:pb-10" v-show="currentPage === 'register'">
      <div class="w-full h-full flex flex-wrap items-center">
        <Employee/>
      </div>
    </div>

    <div class="lg:block lg:w-1/2 md:w-9/12 md:my-0 md:mx-auto md:pb-10" v-show="currentPage === 'stepform'">
      <div class="w-full h-full flex flex-wrap items-center" >
        <div class="lg:ml-4 xl:mr-40 lg-mr-24 xl:ml-5 xl:w-10/12 md:my-0 md:mx-auto">
         <img class="sm:w-11/12 xl:w-11/12 lg:w-9/12 md:my-0 md:mx-auto" src="../../assets/image/register/bg-register-step1.png">
      </div>
      </div>
    </div>

    <!-- <loading-overlay/>
    <error-overlay/> -->
  </div>
</template>

<script>
  import Employee from "./components/Employee";
  import RegisterUser from "./components/RegisterUser";
  import FormRegister from "./components/FormRegister";

  export default {
    name: 'App',
    components: {
      Employee,
      RegisterUser,
      FormRegister
    },
    data: function () {
      return {
        currentPage: 'register',
        verified: false
      }
    },
    mounted() {

    },
    created() {

    },
    methods: {
    changePage: function (value) {
        this.currentPage = value
      }
    },
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

    #app {
        font-family: Inter;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .bg-loading {
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>
