<template>
    <div class="w-full h-auto flex flex-wrap lg:pl-10 xl:pl-40 my-2">
        <div class="w-full h-auto flex flex-wrap px-10 py-6 message2-bg">
            <p class="w-10/12 text-sm pr-6 text-white">{{konten.description}}</p>
            <div class="w-2/12 flex justify-end items-center">
                <div style="width: 100%; height: auto">
                    <img :src="konten.author_img_url" class="rounded-full">
                </div>
            </div>
        </div>
        <p class="w-full text-right text-white text-sm">{{konten.author_name}}</p>
    </div>
</template>

<script>
    export default {
        name: "MessageItem2",
        props: {
            konten: Object
        }
    }
</script>

<style scoped>

</style>