<template>
  <div id="app" class="relative h-screen">
    <div class="fixed right-2 bottom-7 z-50">
      <img @click="changeWaFloating" class="w-16 cursor-pointer" src="../../assets/image/wa-floating.png">
    </div>
    <transition name="fade">
      <wa-barcode v-if="showWaFloating" class="fixed xxxl:right-6 xxl:right-7 xls:right-8 right-8 bottom-7 xls:bottom-6 shadow-lg z-50" />
    </transition>
  <div class=" overflow-hidden">
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFHTVZD"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="flex flex-grow">
      <header-b-g class="absolute flex-1"/>
      <div class="z-20 w-full relative lg:bg-transparent bg-main-color">
<!--        <NavbarScrolled id="nav" class="fixed navbar-default"/>-->
        <Navbar id="nav" v-bind:is-shown="false" :isUmkm="false" class="fixed navbar-default lg:bg-transparent bg-main-color"/>
        <transition name="fade">
          <wa-barcode v-if="showWa" class="absolute top-8 shadow-lg" :class="{'xxxl:right-8 xxl:right-8 xls:right-10 right-10': !this.$session.exists(), 'xxxl:right-17 xxl:right-19 xls:right-22 right-25': this.$session.exists()}" />
        </transition>
        <header-content class="mt-40"/>
      </div>
    </div>
    <featured class="mt-8"/>
    <video-view class="mt-16"/>
    <tab-view class="mt-32"/>
    <features class="mt-16"/>
    <pricing class="mt-40"/>
    <testimony class="mt-40"/>
    <try-oca style="box-shadow: inset 0px 8px 7px -5px rgba(0,0,0,0.2);" v-show="!this.$session.exists()"/>
    <question/>

    <Footer/>

      <!-- KOMPONEN MODAL -->
      <loading-overlay/>
      <news-modal/>
  </div>
    </div>
</template>

<script>
  import Navbar from "../../components/Navbar";
  import WaBarcode from "../../components/waBarcode";
  import HeaderBG from "./components/HeaderBG";
  import HeaderContent from "./components/HeaderContent";
  import Featured from "./components/Featured";
  import VideoView from "./components/VideoView";
  import TabView from "./components/TabView";
  import Features from "./components/Features";
  import Pricing from "./components/Pricing";
  import Testimony from "./components/Testimony";
  import tryOca from "../../components/tryOca";
  import Footer from "../../components/Footer";
  import Question from "./components/Question";
  import LoadingOverlay from "../../components/LoadingOverlay";
  import NewsModal from "../../components/NewsModal";
  import ClickOutside from 'vue-click-outside'
  import "../../google_tag.js";

  export default {
    name: 'App',
    components: {
        NewsModal,
        LoadingOverlay,
      Question,
      Navbar,
      HeaderBG,
      HeaderContent,
      Featured,
      VideoView,
      TabView,
      Features,
      Pricing,
      Testimony,
      tryOca,
      WaBarcode,
      Footer
    },
    data: function () {
      return {
        show: false,
        showWa: false,
        showWaFloating: false,
      }
    },
    mounted() {
        //DEKLARASI SCRIPT UNTUK CHATBOT
      let liveChat = document.createElement('script')
      liveChat.async = true
      liveChat.defer = true
      liveChat.setAttribute('crossOrigin', 'anonymous')
      liveChat.setAttribute('src', 'https://code.jivosite.com/widget/aAlTqVN5rV')
      document.head.appendChild(liveChat)

        //Google Analytics script
        let analytic = document.createElement('script')
        analytic.async = true
        analytic.defer = true
        analytic.setAttribute('crossOrigin', 'anonymous')
        analytic.setAttribute('src', 'https://www.googletagmanager.com/gtag/js?id=UA-169935056-1')
        document.head.appendChild(analytic)

        let _linkedin_partner_id = "2753236"; 
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; 
        window._linkedin_data_partner_ids.push(_linkedin_partner_id); 
        //Linkedin script
        let Linkedinanalytic = document.createElement('script')
        Linkedinanalytic.async = true
        Linkedinanalytic.defer = true
        Linkedinanalytic.setAttribute('crossOrigin', 'anonymous')
        Linkedinanalytic.setAttribute('src', 'https://snap.licdn.com/li.lms-analytics/insight.min.js')
        document.head.appendChild(Linkedinanalytic)

        this.loadImage()
    },
    methods: {
      handleScroll: function () {
        var nav = document.querySelector('#nav')
        var navHead = document.querySelector('#nav_head')
        if(window.scrollY > 70 && this.show === false){
          nav.classList.toggle('scrolled')
          navHead.classList.toggle('hidden')
          this.show = true
        }

        if(window.scrollY < 70 && this.show === true){
          nav.classList.toggle('scrolled')
          navHead.classList.toggle('hidden')
          this.show = false
        }
      },
        loadImage: function () {
            let axios = require("axios")

            let main = this
            axios.get("https://dtpx1.ocatelkom.co.id/api/promo")
                .then(function (response) {
                    if (response.data.show === "yes"){
                        main.$modal.show("news-modal", {
                            img: "https://dtpx1.ocatelkom.co.id/public/promo/" + response.data.img,
                            url: response.data.redirect_url
                        });
                    }
                })
        },
        changeWa: function () {
          this.showWa = !this.showWa  
          this.showWaFloating = false
        },
        changeWaFloating: function () {
          this.showWaFloating = !this.showWaFloating  
          this.showWa = false
        }
    },
    created: function () {
        if(!this.$cookies.isKey('lang_oca')){
            this.$cookies.set('lang_oca', 'id')
        }

      window.addEventListener('scroll', this.handleScroll);
    },
    destroyed: function () {
      window.removeEventListener('scroll', this.handleScroll);
    },
    directives: {
      ClickOutside
    },

      //INJECT META HTML
      //INJECT META HTML
      metaInfo(){
          return {
              title: `Telkom OCA solusi omnichannel - Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast`,
              meta: [
                  {
                      name: 'keywords',
                      content: 'Telkom OCA, omnichannel platform, whatsapp bisnis, email blast, ivr call, sms blast'
                  },
                  {
                      name: 'author',
                      content: 'Telkom OCA'
                  },
                  {
                      name: 'description',
                      content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
                  },
                  {
                      name: 'thumbnail',
                      content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
                  },
                  {
                      property: 'og:title',
                      content: "Telkom OCA Omnichannel Platform"
                  },
                  {
                      property: 'og:description',
                      content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
                  },
                  {
                      property: 'og:image',
                      content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
                  },
                  {
                      property: 'twitter:card',
                      content: "summary"
                  },
                  {
                      property: 'twitter:site',
                      content: "@Ask_OCA"
                  },
                  {
                      property: 'twitter:creator',
                      content: "@Ask_OCA"
                  },
                  {
                      property: 'twitter:title',
                      content: 'Telkom OCA Omnichannel Platform'
                  },
                  {
                      property: 'twitter:url',
                      content: 'https://ocatelkom.co.id'
                  },
                  {
                      property: 'twitter:description',
                      content: 'Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast'
                  },
                  {
                      property: 'twitter:image:src',
                      content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
                  },
              ]
          }
      }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

#app {
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

</style>
