<template>
    <div class="lg:w-1/2 px-10 flex flex-wrap">
        <div style="width: 100%; height: auto">
            <img src="../../../assets/image/api.png" class="z-0 px-10" style="width: 100%">
        </div>
        <div class="z-10 rounded-lg lg:px-16 px-4 py-6 -mt-6 lg:-mt-16 xl:-mt-24" style="background: linear-gradient(120deg, rgba(28,216,210,1) 0%, rgba(147,237,199,1) 100%); min-height: 180px">
            <p class="text-2xl text-white font-bold">{{konten.name}}</p>
            <p class="text-sm text-white">{{konten.description}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Api",
        props: {
            konten: Object
        },
    }
</script>

<style scoped>

</style>