<template>
    <div class="px-6 pb-6 bg-white lg:bg-transparent">
        <!-- <div class="absolute text-xl lg:text-3xl text-center text-black">Gratis 1 Bulan CRM OCA Interaction</div> -->
        <!-- <p class="text-xl lg:text-3xl text-center text-black font-bold px-10 lg:px-24 xl:px-40 lg:mx-24 xl:mx-40 -mt-78">Gratis 1 Bulan <br/> CRM OCA Interaction</p> -->
        <img src="../../../assets/image/interaction/bg-interaction.png" class="block select-none drag- mx-auto lg:px-20 mt-6" style="max-height: 500px; user-drag: none;">
        <div class="flex justify-center mt-4">   
            <div @click="setModal" class="bg-custom-2 rounded-md text-center cursor-pointer text-white text-sm px-10 py-2">Pesan</div>   
        </div>
    </div>
</template>

<script>
    export default {
        name: "HeaderContent",
        data: function () {
            return {
                judul: '',
                konten: '',
                url_img: ''
            }
        },
        created() {
            this.loadData()
        },
        methods: {
            loadData: function () {
                const axios = require('axios')

                let main = this
                let url = 'https://dtpx1.ocatelkom.co.id/api/product_header/' + this.$cookies.get('lang_oca')
                axios.get(url)
                    .then(function (response) {
                        main.judul = response.data.main_text
                        main.konten = response.data.short_desc
                        main.url_img = response.data.url_img
                    })
            },
            setModal: function() {
                this.$modal.show('form-modal')
            }
        }
    }
</script>

<style scoped>

</style>