<template>
    <img src="../../../assets/image/bg.png" class="w-full" style="max-height: 530px; min-height: 200px"/>
</template>

<script>
    export default {
        name: "HeaderBg"
    }
</script>

<style scoped>

</style>