<template>
    <div class="flex flex-wrap px-10 lg:px-24">
        <div class="lg:w-3/5 lg:p-10">
            <img style="max-height: 400px;" src="../../../assets/image/interaction/bg-4.png" class="mr-auto">
        </div>
        <div class="lg:w-2/5 self-center lg:pr-10 lg:mt-0 mt-10 mx-auto">
            <p class="text-sm font-bold text-main-color">Insight</p>
            <p class="text-3xl font-bold text-custom-4">Laporan data interaksi konsumen dan kinerja agen</p>
            <p class="text-md text-custom-4 tracking-wide mt-2">Insight memberikan laporan rinci tentang produktivitas tim, kualitas pelayanan konsumen, channel yang sering dihubungi, hingga melihat history dan isi percakapan.</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Ticket",
        props: {
            konten: Object
        },
    }
</script>

<style scoped>

</style>