<template>
    <div class="py-20 mx-0 lg:mx-20">
        <p class="text-xl lg:text-2xl xl:text-3xl text-main-color text-center font-bold">{{judul}}</p>
        <p class="mt-6 px-10 lg:mx-24 lg:px-24 text-center">{{konten}}</p>

        <voice-blast :konten="voiceblast"/>
        <div class="h-1 m-8 border-b border-gray-400"></div>
        <text-blast :konten="textblast"/>

        <div class="w-full flex flex-wrap mt-10 rounded-lg shadow-lg py-10 px-10 lg:px-16 xl:px-24" style="background: linear-gradient(90deg, rgba(255,81,47,1) 0%, rgba(221,36,118,1) 100%);">
            <extra-item v-for="data in extra" :key="data" :img="data.img" :judul="data.judul" :desc="data.desc"/>
        </div>
    </div>
</template>

<script>
    import VoiceBlast from "./oca_blast/VoiceBlast";
    import TextBlast from "./oca_blast/TextBlast";
    import ExtraItem from "./oca_blast/ExtraItem";

    export default {
        name: "OCABlast",
        components: {
            VoiceBlast,
            TextBlast,
            ExtraItem
        },
        data: function () {
            return {
                judul: '',
                konten: '',
                voiceblast: {},
                textblast: {},
                extra: []
            }
        },
        created() {
            this.loadData()
            this.loadExtra()
        },
        methods: {
            loadData: function () {
                const axios = require('axios')

                let main = this
                let url = 'https://dtpx1.ocatelkom.co.id/api/product_oca_blast/' + this.$cookies.get('lang_oca')
                axios.get(url)
                    .then(function (response) {
                        main.judul = response.data.name
                        main.konten = response.data.description
                        main.voiceblast = response.data.oca_blast[0]
                        main.textblast = response.data.oca_blast[1]
                    })
            },
            loadExtra: function () {
                const axios = require('axios')

                let main = this
                let url = 'https://dtpx1.ocatelkom.co.id/api/oca_blast_addition/' + this.$cookies.get('lang_oca')
                axios.get(url)
                    .then(function (response) {
                       response.data.forEach(function (item) {
                           main.extra.push({
                               img: item.img_url,
                               judul: item.name,
                               desc: item.description
                           })
                       })
                    })
            }
        }
    }
</script>

<style scoped>

</style>