<template>
    <div class="flex flex-wrap px-10 lg:px-24">
        <div class="lg:w-3/5 lg:p-10">
            <img style="max-height: 400px;" src="../../../assets/image/interaction/bg-2.png" class="mr-auto">
        </div>
        <div class="lg:w-2/5 self-center lg:pr-10 lg:mt-0 mt-10 mx-auto">
            <p class="text-sm font-bold text-main-color">Inbox</p>
            <p class="text-3xl font-bold text-custom-4">Balas chat lebih cepat dan mudah di satu tempat</p>
            <p class="text-md text-custom-4 tracking-wide mt-2">Jawab pertanyaan konsumen dan leads langsung dari satu Inbox. Anda bisa melihat dari channel apa konsumen menghubungi. Sistem kami membagi pesan baru, pesan yang sedang ditangani, dan yang selesai dengan baik.</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OCAInteraction",
        props: {
            konten: Object
        },
    }
</script>

<style scoped>

</style>