<template>
    <div class="flex flex-wrap px-10 lg:px-24">
        <div class="lg:w-2/5 self-center lg:pl-10 lg:mt-0 mt-10 mx-auto">
            <p class="text-sm font-bold text-main-color">Omnichannel</p>
            <p class="text-3xl font-bold text-custom-4">Terhubung dengan konsumen di banyak channel</p>
            <p class="text-md text-custom-4 tracking-wide mt-2">Selalu ada untuk konsumen Anda di semua channel yang biasa mereka gunakan. OCA Interaction terhubung ke SMS, WhatsApp, Telegram, Email, Instagram, Twitter, dan lebih banyak lagi.</p>
        </div>
        <div class="lg:w-3/5 lg:p-10">
            <img style="max-height: 400px;" src="../../../assets/image/interaction/bg-1.png" class="ml-auto">
        </div>
    </div>
</template>

<script>
    export default {
        name: "OCAProfiling",
        props: {
            konten: Object
        },
    }
</script>

<style scoped>

</style>