<template>
    <div class="flex flex-wrap px-10 lg:px-24">
        <div class="lg:w-2/5 self-center lg:pl-10 lg:mt-0 mt-10 mx-auto">
            <p class="text-sm font-bold text-main-color">Ticket</p>
            <p class="text-3xl font-bold text-custom-4">Atasi masalah rumit konsumen dan lakukan alokasi agen</p>
            <p class="text-md text-custom-4 tracking-wide mt-2">Manage masalah konsumen yang lebih rumit dengan ticketing. Kebutuhan konsumen yang khusus bisa Anda kategorikan dan tentukan siapa yang menangani. Alokasi tim untuk menjawab seperti sales, tech, atau support.</p>
        </div>
        <div class="lg:w-3/5 lg:p-10">
            <img style="max-height: 400px;" src="../../../assets/image/interaction/bg-3.png" class="ml-auto">
        </div>
    </div>
</template>

<script>
    export default {
        name: "Ticket",
        props: {
            konten: Object
        },
    }
</script>

<style scoped>

</style>