<template>
    <div class="flex justify-between my-1">
        <p class="text-sm text-gray-500">{{name}}</p>
        <p class="text-sm text-gray-500 text-right">IDR {{price | formatQuantity}},-</p>
    </div>
</template>

<script>
    export default {
        name: "productItem",
        props: {
            name: String,
            price: String
        },
        filters: {
            // you can call this whatever you want to
            formatQuantity (value) {
                return value.replace(/,/g, '.');
            }
        }
    }
</script>

<style scoped>

</style>