<template>
    <div class="flex justify-between pl-16">
        <p class="text-sm text-gray-500">{{name}}</p>
        <p class="text-sm text-gray-500 text-right">{{diskon ? '( - ) ' : ''}}IDR {{price | formatQuantity}},-</p>
    </div>
</template>

<script>
    export default {
        name: "subItem",
        props: {
            name: String,
            price: String,
            diskon: Boolean
        },
        filters: {
            // you can call this whatever you want to
            formatQuantity (value) {
                return value.replace(/,/g, '.');
            }
        }
    }
</script>

<style scoped>

</style>