
.agile {
    width: 100%;
    background: transparent;
}

.agile__actions {
	display: none;
}

.slide--1 {
	background-color: #f1c40f;
}

.slide--2 {
	background-color: #e67e22;
}

.slide--3 {
	background-color: #e74c3c;
}

.slide--4 {
	background-color: #9b59b6;
}

.slide--5 {
	background-color: #3498db;
}

.slide--6 {
	background-color: #2ecc71;
}