table {
    border-collapse: collapse;
    width: 100%;
    /* overflow: hidden; */
  }
  
  td, th {
    border: 1px solid #C1C7D0;
    text-align: left;
    padding: 8px;
    border-radius: 5px;
  }

  .wrapper-box td {
    border: 1px solid #F4F5F7;
    text-align: left;
    padding: 8px;
    border-radius: 5px;
  }

  .wrapper-table-pricing td,th{
    padding: 12px 8px;
    position: relative;
    z-index: 2;
  }

  .price-wrapper{
    position: relative; 
    display: block;
  }

  .price-slash{
    position: absolute;
    width: 33%;
    height: 0px;
    border-top: 2px solid #6B778C;
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);
    top: 9px;
    /* right: 55%; */
    left: 32%;
  }

  .price{
    /* color: #253858; */
    /* font-size: 16px; */
    font-weight: 600;
  }

  .line-startup{
    border-left: 2px solid #E81255;
    border-right: 2px solid #E81255;
  }

  .top-line-popular{
    background: #E81255;
    border: 1px solid #C1C7D0;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
    height: 8px;
    position: absolute;
    top: -4px;
    width: 101%;
    margin-left: -9px;
  }

  .top-line{
    background: #5E6C84;
    border: 1px solid #C1C7D0;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
    height: 8px;
    position: absolute;
    top: -4px;
    width: 101%;
    margin-left: -9px;
  }

  /* .wrapper-table-pricing th,td:hover{
    border: 1px solid #E81255;
    box-sizing: border-box;
    border-radius: 5px;
  } */

   /* .wrapper-table-pricing .box-top:hover::after { 
    border: 2px solid #E81255 !important;
    border-bottom: 2px solid #E81255 !important;
    content: '';
    height: 1800px;    
    left: 0;
    position: absolute;  
    top: 0px;
    width: 100%;
    z-index: -1;        
    overflow: hidden;
    overflow:hidden;
  } */
 

  .oca-blast{
      background-color: #F4F5F7;
  }

  table.table-featured {
    border-collapse: collapse;
    width: 100%;
    /* overflow: hidden; */
  }
  
  .tb-row td {
    border: 1px solid #FAFBFC;
    text-align: left;
    padding: 8px;
  }
  
  .tb-row:nth-child(odd) {
    background-color: #FAFBFC;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
  }
.tb-row{
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
  }

  .you-know ul{
      list-style: inherit;
  }


  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 12px;
    padding: 6px 10px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .off-border{
    border-bottom: 0px;
    border-top: 0px;
  }

  .popular{
    position: absolute;
    background-color: #2F80ED;
    border-radius: 25px;
    padding: 3px 20px;
    top: 0px;
    transform: translate(-50%, -50%);
    left: 50%;
  }