.pen-heading {
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

.tab-item {
  /* background: white; */
  /* border: 1px #D5DADF solid; */
  /* border-left: 5px solid #D5DADF; */
  /* box-shadow: 0 2px 3px rgba(213,218,223,0.35); */
  /* padding: 30px; */
  /* border-radius: 3px; */
  cursor: pointer;
  transition: all .2s ease;
  /* margin-bottom: 15px; */
}

/* .tab-item:hover, .tab-item.active {
  box-shadow: 0px 3px 3px 2px rgba(213,218,223,0.35);
  border-left: 5px solid #28AB26;
} */

.tab-item__heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.3em;
  letter-spacing: 0.02em;
  color: #314f8d;
  margin: 0px;
}

.tab-item__subheading {
  font-size: 18px;
  color: #333;
  margin: 0px;
}

.tab-content__header {
  color: #314f8d;
  font-weight: bold;
   margin: 0px 0px 30px;
  font-size: 36px;
  line-height: 1.3em;
  letter-spacing: 0.02em;
}

.tab-content__text {
  margin: 0px 0px 30px;
  font-size: 1.25em;
}

.tab-content__btn {
  display: inline-block;
  margin-bottom: 30px;
  padding: 16px 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  transition: all .3s ease;
  text-align: center;
  line-height: 1;
  border: 2px solid;
  border-radius: 3px;
  background-color: transparent;
  box-shadow: 0 2px 3px rgba(213,218,223,0.35);
  color: #24a926;
  fill: #24a926;
  border-color: #24a926;
}

.tab-content__btn:hover {
  color: #24a926;
  text-decoration: none;
  box-shadow: 0px 3px 3px 2px rgba(213,218,223,0.35);
}

.tab-content__testimonial {
  margin-bottom: 15px;
  font-size: 1em;
  color: rgba(0,0,0,.75);
  font-style: italic;
}

.tab-content__testimonial-author {
  margin-bottom: 5px;
  font-size: 1em;
  color: rgba(0,0,0,.75);
  font-weight: bold;
}

.classname {
  animation-name: cssAnimation;
  animation-duration:3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  from {
    transform: rotate(0deg) scale(1) skew(0deg) translate(100px);
  }
  to {
    transform: rotate(0deg) scale(2) skew(0deg) translate(100px);
  }
}

.element{
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.7);
  }
  100% {
    transform: scale(1);
  }
}