@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./unreset.scss";

@media screen and (min-width: 1000px){
    .try-background{
        background-image: url("../image/bg-try.png");
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1000px){
    .navbar-default{
        transition:300ms ease;
        background-color: transparent;
    }
    .navbar-default.scrolled{
        background-color: #ED1260;
    }
}

@media screen and (min-width: 1000px){
    .dashboard{
        height: 800px;
    }
    .listdata {
        height: 400px;
    }
    .addblast {
        max-height: 700px;
    }
}

.home-component{
    transition:300ms ease;
    opacity: 1;
    visibility: visible;
}

.home-component.shown{
    opacity: 0;
    visibility: hidden;
}

.arrow-curve-graphic {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

.blast-bg{
    background-image: url("../image/pricing_bg/bg_blast.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.wa-bg{
    background-image: url("../image/pricing_bg/bg_wa.png");
    background-color: #FFFFFF;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.login-bg{
    background-image: url("../image/login/bg_reverse.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.register-bg{
    background-image: url("../image/login/bg.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.message-bg{
    background-image: url("../image/bubble.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.message2-bg{
    background-image: url("../image/bubble-2.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.diskon-bg {
    background-image: url("../image/pricing_bg/disc.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-not-logged{
    background-image: url("../image/dashboard/blur.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.voucher-background{
    background-image: url("../image/input_email.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.voucher-form{
    transition:300ms ease-in;
    margin-left: -500px;
}

.voucher-form.open{
    margin-left: 0;
}

.voucher-container{
    visibility: hidden;
}

@media screen and (min-width: 1000px){
    .voucher-container{
        visibility: visible;
    }
}


.strikethrough {
    position: relative;
}
.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid;
    border-color: #ED1260;

    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}

.pagination-link.is-current {
    background-color: #ED1260 !important;
    border-color: #ED1260 !important;
}

.pagination-link:focus {
    border-color: #ED1260 !important;
}

.typed-element {
    display: inline-block !important;
}

.floating {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

.slide-enter-active {
  transition: .3s;
}
.slide-enter {
  transform: translate(100%, 0);
}

.slides-enter-active {
  transition: .3s;
}
.slides-enter {
  transform: translate(-100%, 0);
}
