<template>
    <div class="features">
        <section class="mb-24">
            <div class="flex items-center">
                <div class="flex-1">
                    <div class="bg-neutral-600 px-12 py-40 relative" style="border-radius: 20px 0 0 20px;">
                       <div class="line-dashed absolute"></div>
                       <div class="flex mb-16 items-center">
                            <div class="flex flex-col relative" style="z-index:2">
                            <img src="../../../../assets/image/solutions/icon-kami.png" alt="" >
                        </div>
                        <div class="flex flex-col">
                           <div class="ml-8">
                            <div class="text-custom-3 text-xl font-semibold mb-2">Sederhanakan pekerjaan</div>
                            <div class="text-white font-light text-sm w-9/12 leading-7">Kerja lebih cepat bukan lebih sulit. Jadikan kerja keras kamu cepat dan mudah, karena OCA menyederhanakan komunikasi untuk kebutuhan bisnis Anda.</div>
                           </div>
                        </div>
                       </div>
                       <div class="flex mb-16 items-center">
                        <div class="flex flex-col relative" style="z-index:2">
                            <img src="../../../../assets/image/solutions/icon-kami.png" alt="">
                        </div>
                        <div class="flex flex-col">
                           <div class="ml-8">
                            <div class="text-custom-3 text-xl font-semibold mb-2">Layani dari awal hingga akhir</div>
                            <div class="text-white font-light text-sm w-9/12 leading-7">Berikan pelayanan terbaik kepada customer Anda. Gunakan OCA untuk mempermudah pengiriman promosi hingga menangani keluhan pelanggan.</div>
                           </div>
                        </div>
                       </div>
                       <div class="flex items-center">
                        <div class="flex flex-col relative" style="z-index:2">
                            <img src="../../../../assets/image/solutions/icon-kami.png" alt="" style="width:85px">
                        </div>
                        <div class="flex flex-col">
                            <div class="ml-8">
                            <div class="text-custom-3 text-xl font-semibold mb-2">24/7 Support</div>
                            <div class="text-white font-light text-sm w-9/12 leading-7">Jangan khawatir tentang masalah teknis. Laporan kepada kami kapan saja, kami akan membantu semua kebutuhan Anda.</div>
                            </div>
                        </div>
                       </div>
                    </div>
                </div>
                <div class="flex-1 ">
                    <div class="pl-24">
                    <div class="font-semibold text-custom-38 text-4/5xl mb-2">Kami ada untuk Anda</div>
                    <div class="text-primary text-xl font-light mb-2">Bekerja harus mudah dan produktif dengan OCA</div>
                    <div class="text-base mb-12 w-8/12">Bayangkan jika semua komunikasi Anda dan pelanggan menjadi simpel dan jelas. Kami akan mengurus masalah teknikal komunikasi dan Anda bisa fokus ke strategi dan customer engagement.</div>
                    <img src="../../../../assets/image/solutions/hero-kami.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="py-24 mt-32">
            <div class="bg-white mx-6 relative py-12" style="box-shadow: 2px 2px 1px #fff;border-radius: 5px;">
                <img src="../../../../assets/image/solutions/coma-startup.png" alt="" class="absolute" style="top: -70px;left: 97px;">
            <div class="flex items-center max-w-screen-xl mx-auto">
                <div class="flex-1">
                    <div class="font-medium text-neutral-600 text-3xl mb-10 pt-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam ac sed eget maecenas odio nulla elementum lectus mi. Facilisi massa aliquam dui arcu, diam feugiat vitae, sodales. Viverra non laoreet at enim rhoncus ut a enim etiam. </div>
                    <div class="text-neutral-600 text-3xl">Eadmund Florentin</div>
                    <div class="font-light text-neutral-600 text-2xl">CEO OF PT. ABC</div>
                </div>
                <div class="flex-1">
                    <img src="../../../../assets/image/solutions/line-bg-testimoni.png" alt="" class="absolute" style="z-index: 1;right: 163px;bottom: -85px;height: 120%;">
                    <img src="../../../../assets/image/solutions/testimoni-startup.png" alt="" class="absolute" style="top: -50px;right: 13%;height: 122%;z-index:2">
                </div>
            </div>
            </div>
        </section>
        <section class="pt-24">
            <div class="font-semibold text-center text-custom-38 text-4/5xl w-5/12 mx-auto mb-5">Cerita mereka tentang OCA</div>
            <div class="max-w-screen-xl mx-auto pt-12 pb-24 relative">
            <img src="../../../../assets/image/solutions/top-left-testimoni.png" alt="" class="absolute" style="left: 25px;top: -58px;">
            <img src="../../../../assets/image/solutions/bg-testimoni-profil.png" alt="" class="absolute" style="z-index:1; right: 84px;top: 7px;width: 78%;height: 73%;">
            <div class="flex items-center justify-between mx-32 relative" style="box-shadow: 1px 1px 5px #ebecf0;background-color: #F4F5F7;border: 2px solid #ebecf0;border-radius: 5px 100px 0 5px;z-index:2">
                <img src="../../../../assets/image/solutions/bottom-right-testimoni.png" alt="" class="absolute" style="bottom: -44px;right: -92px;">
                <div class="flex-1 px-8">
                    <div class="text-primary text-xs font-semibold">Success story</div>
                    <div class="text-custom-39 text-3/4xl font-semibold mb-3">MakananSehat.ID</div>
                    <div class="text-custom-39 text-sm leading-7 mb-12">Vestibulum faucibus tincidunt amet, tortor a. Sed sit sed facilisi vitae. Enim tortor non nam imperdiet penatibus blandit purus. Adipiscing purus leo neque sed fermentum nascetur tortor condimentum orci. Orci pharetra at egestas nunc ultricies. Iaculis enim phasellus commodo, massa tincidunt quis eleifend. Sem malesuada dolor nec mauris diam lacus. At scelerisque facilisis ipsum enim at neque rhoncus. Semper tincidunt mauris varius pharetra. Eu dictum elementum volutpat turpis volutpat, viverra egestas interdum senectus. Tempus nunc vel tempus pellentesque sit. At morbi donec aliquet in est eleifend malesuada lacinia.</div>
                    <div class="flex items-center">
                        <div><img src="../../../../assets/image/solutions/profile-testimoni.png" alt=""></div>
                        <div class="ml-3">
                            <div class="text-sm font-semibold mb-1">Samantha William</div>
                            <div class="text-xs text-customs-2">Founder & CEO @makanansehat.id</div>
                        </div>
                    </div>
                </div>
                <div class="flex-1">
                    <img src="../../../../assets/image/solutions/testimoni-1.png" alt="" class="ml-auto">
                </div>
            </div>
            <!-- <oca-button class="mx-4 px-6 pr-6 mt-12 mx-auto" classValue="rounded-md" buttonType="ghost" icon="arrow-right">Baca cerita sukses lainnya</oca-button> -->
            </div>
        </section>
    </div>
</template>
<script>
// import OcaButton from "../../../../components/oca_origin/buttons"

export default {
    name:"Features",
    components:{
    // OcaButton
    }
}
</script>

<style scoped>
.line-dashed {
    border-left: 2px dashed #E81255;
    border-style: dashed;
    height: 47%;
    left: 78px;
    z-index: 1;
    top: 28%;
}
</style>