<template>
    <div id="section-7" style="box-shadow: 0px -40px 100px rgba(0, 0, 0, 0.03);border-radius: 0px 80px 0px 0px;" class="bg-complementer-4 relative z-0">
      <div style="top: 15px;" class="absolute right-0 ">
        <img src="../../../../assets/image/home/oca-watermark-2.png" alt="">
      </div>
      <div style="border-radius: 0px 80px 0px 0px;box-shadow: 0px -40px 100px rgba(0, 0, 0, 0.03);" class="flex flex-col bg-complementer-4 max-w-screen-xl self-auto items-center mx-auto py-24">
        <div class="text-3xl text-white font-semibold text-center relative">Coba gunakan OCA sekarang <br/> dan mulai kirim pesan</div>
        <div class="text-sm text-white text-center my-2 relative">Kontak kami untuk kebutuhan Enterprise</div>
        <div class="flex justify-center my-6 relative">
          <oca-button @click="gotoHrefRegister()" class="mx-4 px-6 pr-6" classValue="rounded-md" icon="arrow-right">Coba OCA</oca-button>
          <oca-button @click="gotoWa()" class="mx-4 px-6 pr-6" classValue="rounded-md" buttonType="ghost" icon="arrow-right">Kontak kami</oca-button>
        </div>
      </div>
    </div>
</template>
<script>
import OcaButton from '../../../../components/oca_origin/buttons';

export default {
    name: 'App',
    components: {
      OcaButton,
    },
     methods:{
      gotoHrefRegister: function () {
          window.location.href = 'https://staging-newdash.ocatelkom.co.id/account/register'
      },
      gotoWa(){
      window.location.href = "https://api.whatsapp.com/message/CJYNUR2AAUSVG1"
    }
    }
}
</script>