<template>
    <section class="jumbotron bg-white md:pt-20 md:pb-12" style="border-radius: 0 0 0 100px;">
        <div class="flex max-w-screen-xl  items-center mx-auto">
            <div class="left text-xxsm flex-1">
                <div class="text-primary font-normal mb-2">OCA untuk Startup</div>
                <div class="text-neutral-600 text-4/5xl mb-5 font-semibold w-10/12 relative" style="line-height:1.3; letter-spacing:1.3px">Solusi startup dan bisnis yang berkembang</div>
                <div class="text-base text-neutral-200 mb-8 md:w-8/12" style="line-height:1.7">Percepat pertumbuhan bisnis Anda dengan menggunakan OCA. Kami dapat membantu Anda berinovasi, berkomunikasi, membangun & mengembangkan bisnis Anda.</div>
                <oca-button classValue="rounded-md text-sm font-bold" >Coba Gratis</oca-button>
            </div>
            <div class="right flex-1">
                <img src="../../../../assets/image/solutions/jumbo_startup.png" style="width:400px" class="mx-auto" alt="">
            </div>
        </div>
    </section>
</template>
<script>
import OcaButton from '../../../../components/oca_origin/buttons';

export default {
    name:"Jumbotron",
    components:{
    OcaButton
    }
}
</script>
<style scoped>

</style>