<template>
  <div class="startup-customer relative">
        <img src="../../../../assets/image/solutions/iconic-right.png" alt="" class="absolute" style="top:200px;right:0">
        <img src="../../../../assets/image/solutions/iconic-right.png" alt="" class="absolute" style="bottom:104px;right:0">
        <img src="../../../../assets/image/solutions/iconic-left.png" alt="" class="absolute" style="bottom:32%;left:0">
        <section class="max-w-screen-xl mx-auto py-12 mt-10 relative">
            <div class="font-semibold text-center text-custom-38 text-3/4xl mb-16 w-5/12 mx-auto">Hubungkan bisnis & startup ke banyak customer</div>
            <div class="flex items-center py-12 mb-10">
                <div class="flex-1 relative">
                    <img src="../../../../assets/image/solutions/line-bg.png" alt="" class="line-bg">
                    <!-- <div class="line-bg"></div> -->
                    <img src="../../../../assets/image/solutions/customer-baru.png" alt="" class="w-10/12 mx-auto relative" style="z-index:2">
                </div>
                <div class="flex-1">
                    <div class="ml-24">
                    <div class="font-semibold text-neutral-600 text-3/4xl mb-10">Temukan customer baru</div>
                    <div class="text-neutral-100 w-11/12" style="letter-spacing:0.5px;line-height:1.7">Kumpulkan customer setia dan customer baru di satu dashboard yang sama. Anda bisa menemukan lebih banyak customer dan mengirimkan semua promosi dengan segmentasi yang tepat.</div>
                    </div>
                </div>
            </div>
            <div class="flex items-center py-12 mb-10">
                <div class="flex-1">
                    <div class="font-semibold text-neutral-600 text-3/4xl mb-5 w-5/12">Kirim layanan verifikasi OTP</div>
                    <div class="text-neutral-100 w-9/12" style="letter-spacing:0.5px;line-height:1.7">Utamakan keamanan data customer dengan mengirimkan OTP dan naikan kepercayaan mereka terhadap brand Anda. Kirim OTP ke channel yang paling sering digunakan customer Anda.</div>
                </div>
                <div class="flex-1 relative">
                    <img src="../../../../assets/image/solutions/line-bg.png" alt="" class="line-bg-dua">
                    <img src="../../../../assets/image/solutions/otp.png" alt="" class="w-10/12 mx-auto relative" style="z-index:2">
                </div>
            </div>
                  <div class="flex items-center py-12 mb-3">
                <div class="flex-1 relative">
                    <img src="../../../../assets/image/solutions/line-bg.png" alt="" class="line-bg">
                    <img src="../../../../assets/image/solutions/customer-baru.png" alt="" class="w-10/12 mx-auto relative" style="z-index:2">
                </div>
                <div class="flex-1">
                    <div class="ml-24">
                    <div class="font-semibold text-neutral-600 text-3/4xl mb-5 w-8/12">Maksimalkan strategi customer engagement</div>
                    <div class="text-neutral-100 w-10/12" style="letter-spacing:0.5px;line-height:1.7">Bisnis kamu yang sedang berkembang harus bisa fokus ke semua perencanaan dan strategi.  Jadwalkan dan kirim event, promo, customer service, ucapan hari special, dan lainnya. Semua kebutuhan komunikasi Anda cukup dengan OCA.</div>
                    </div>
                </div>
            </div>
        </section>
  </div>
</template>
<script>
export default {
    name:"StartupCustomer"
}
</script>

<style scoped>
.line-bg{
    z-index: 1;
    top: -47px;
    position: absolute;
    width: 80%;
}
.line-bg-dua{
    z-index: 1;
    top: -47px;
    position: absolute;
    width: 80%;
    right: 0;
}
</style>