<template>
    <div class="py-16 lg:px-32 flex flex-wrap" style="background: linear-gradient(90deg, rgba(249,156,93,1) 0%, rgba(242,90,144,1) 100%);">
        <div class="lg:w-1/2 px-8 lg:px-20">
            <p class="text-md tracking-widest text-white" style="font-family: Poppins">ENTERPRISE</p>
            <p class="text-2xl text-white font-bold mt-1" style="font-family: Poppins">{{$cookies.get('lang_oca') === 'id' ? title_id : title_eng}}</p>
            <p class="text-md text-white mt-1">{{$cookies.get('lang_oca') === 'id' ? desc_id : desc_eng}}</p>
        </div>
        <div class="w-full lg:mt-0 mt-6 lg:w-1/2 px-8 lg:px-20 flex flex-wrap lg:justify-end justify-center items-center">
            <a href="https://api.whatsapp.com/message/CJYNUR2AAUSVG1" target="_blank"><button class="lg:mr-10 bg-white rounded-lg py-2 px-16 font-semibold border border-white" style="color: #F46A84">Contact Sales</button></a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Enterprise",
        data: function () {
            return {
                title_id: 'Butuh Solusi Kustom?',
                title_eng: 'Need Custom Solution?',
                desc_id: 'Kami akan berikan solusi terbaik untuk kebutuhan spesial yang Anda inginkan. Hubungi kami sekarang',
                desc_eng: 'We will provide the best solution for your needs\n' +
                    'The specials you want. Contact us Now'
            }
        }
    }
</script>

<style scoped>

</style>