<template>
    <img src="../../../assets/image/bg-atas-3.png" class="w-full" style="max-height: 450px; min-height: 300px"/>
</template>

<script>
    export default {
        name: "HeaderBg"
    }
</script>

<style scoped>

</style>