<template>
    <div class="flex flex-wrap px-6 pb-6 bg-main-color lg:bg-transparent">
        <div class="lg:w-1/2 lg:p-12 xl:px-20 p-8">
            <p class="lg:text-xl xl:text-3xl xxl:text-3/4xl tracking-wide font-bold text-white">{{judul}}</p>
            <p class="text-lg xl:text-xl xxl:text-2xl tracking-wide text-white font-medium">{{konten}}</p>
        </div>

        <div class="lg:w-1/2 px-8 flex justify-center items-center lg:mt-0 mt-2">
            <a href="dashboard" class="transition duration-300 ease-in-out inline-block text-lg font-medium px-6 py-3 leading-none rounded bg-blue-500 text-center text-white hover:text-blue-400 hover:bg-white h-auto">
                {{$cookies.get('lang_oca') === 'id' ? 'Coba Sekarang - Gratis' : 'Try it for free'}}
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "HeaderContent",
        data: function () {
            return {
                judul: '',
                konten: '',
            }
        },
        created() {
            this.loadData()
        },
        methods: {
            loadData: function () {
                const axios = require('axios')

                let main = this
                let url = 'https://dtpx1.ocatelkom.co.id/api/pricing_header/' + this.$cookies.get('lang_oca')
                axios.get(url)
                    .then(function (response) {
                        main.judul = response.data.main_text
                        main.konten = response.data.short_desc
                    })
            }
        }
    }
</script>

<style scoped>

</style>