<template>
    <div class="flex flex-wrap justify-center">
        <div class="w-full flex flex-wrap px-10 lg:px-32">
            <div class="lg:w-2/3">
                <p class="text-2xl text-main-color font-bold" style="font-family: Poppins">{{konten.title}}</p>
                <p class="mt-2" style="font-family: Poppins">{{konten.description}}</p>
                <p class="mt-16" style="font-family: Poppins">Choose your plan : </p>
            </div>
        </div>
        <div class="w-full flex-wrap lg:flex mt-8 px-10 lg:px-32">
            <div class="w-full xl:w-4/12 px-2">
                <content-box :konten-item="konten.detail"/>
            </div>

            <div class="w-full xl:w-8/12 flex flex-wrap xl:mt-0 mt-6">
                <div v-for="(data, index) in price" :key="data" class="w-full lg:w-1/3 px-2">
                    <price-item :header="data.header" :header_title="data.header_title" :header_bg="data.header_bg" :title="priceData[index].subscription_type" :title_color="data.title_color" :price="Number(priceData[index].price).toLocaleString()" :discount="priceData[index].discount" :discount_price="Number(priceData[index].original_price).toLocaleString()" :btn_color="data.btn_color" :link="data.link"/>
                </div>
            </div>
        </div>

        <div class="w-full mx-16 lg:mx-40 my-16">
            <p class="lg:text-2xl text-xl font-semibold" style="font-family: Poppins">{{konten.ext_quota}}</p>
            <p class="lg:text-lg">{{konten.ext_desc}}</p>
        </div>

        <!-- EXTRA QUOTA -->
        <div class="px-10 flex flex-wrap justify-center">
            <extra-item v-for="(data, index) in extra" :key="data" :judul="$cookies.get('lang_oca') === 'id' ? data.judul : data.judul_eng" :harga="'IDR ' + Number(extraData[index].price).toLocaleString()" :ket="data.ket"/>
        </div>
    </div>
</template>

<script>
    import ContentBox from "./oca_blast/ContentBox";
    import ExtraItem from "./oca_blast/ExtraItem";
    import PriceItem from "./item/PriceItem";

    export default {
        name: "OcaBlast",
        components: {
            PriceItem,
            ContentBox,
            ExtraItem
        },
        props: {
            priceData: Array,
            extraData: Array,
            konten: Array
        },
        data: function () {
            return {
                extra: [
                    {
                        judul: 'Penggunaan Telpon',
                        judul_eng: 'Call Usage',
                        harga: 'IDR 19',
                        ket: 'Detik'
                    },
                    {
                        judul: 'Penggunaan SMS',
                        judul_eng: 'SMS Usage',
                        harga: 'IDR 334',
                        ket: 'SMS'
                    },
                    {
                        judul: 'Penggunaan Email',
                        judul_eng: 'Email Usage',
                        harga: 'IDR 22',
                        ket: 'Email'
                    },
                ],
                price: [
                    {
                        header: false,
                        header_bg: '',
                        header_title: '-',
                        title_color: 'color: #ED1260',
                        title: '1 Month',
                        price: '5.750.000',
                        discount: '',
                        discount_price: '',
                        btn_color: 'background-color: #ED1260',
                        link: 'plan?package=blast&plan=1'
                    },
                    {
                        header: true,
                        header_bg: 'background-color: #313131',
                        header_title: 'MOST POPULAR',
                        title_color: 'color: #ED1260',
                        title: '3 Month',
                        price: '5.175.000',
                        discount: '-10%',
                        discount_price: '5.750.000',
                        btn_color: 'background-color: #ED1260',
                        link: 'plan?package=blast&plan=3'
                    },
                    {
                        header: true,
                        header_bg: 'background-color: #ED1260',
                        header_title: 'BEST OFFER',
                        title_color: 'color: #ED1260',
                        title: '6 Month',
                        price: '4.600.000',
                        discount: '-20%',
                        discount_price: '5.750.000',
                        btn_color: 'background-color: #ED1260',
                        link: 'plan?package=blast&plan=6'
                    },
                ]
            }
        }
    }
</script>

<style scoped>

</style>