<template>
    <div class="flex flex-wrap">
        <div class="lg:w-2/3 px-6 lg:pr-32 lg:pl-0 mt-2">
            <p class="text-xl lg:text-3xl text-main-color font-bold" style="font-family: Poppins">{{konten.title}}</p>
            <p class="text-md" style="font-family: Poppins">{{konten.description}}</p>
        </div>
        <div class="w-full lg:w-1/3 flex flex-wrap lg:justify-end justify-center lg:mt-0 mt-6">
            <div class="rounded-lg p-6 flex flex-wrap justify-center" style="background-color: #F7F7FF; width: 400px">
                <p class="w-full text-center text-md tracking-widest" style="color: #ED6673">START FROM</p>
                <p class="w-full text-center text-2xl font-bold mt-5" style="color: #F46687">IDR {{Number(price.price).toLocaleString() | formatQuantity}} <span class="text-sm text-black font-thin"> / Data</span></p>
                <p class="w-full text-center text-xs">{{$cookies.get('lang_oca') === 'id' ? desc : desc_eng}}</p>
                <a href="https://api.whatsapp.com/message/CJYNUR2AAUSVG1" target="_blank"><button class="rounded-lg border py-2 px-6 bg-white mt-5" style="color:#F57879; border-color: #F57879">Contact Sales</button></a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OcaProfiling",
        props: {
            konten: Object,
            price: Object
        },
        data: function () {
            return {
                desc: '*Harga belum termasuk biaya pengiriman pesan',
                desc_eng: '*Price does not include Messages Blast charges'
            }
        },
        filters: {
            // you can call this whatever you want to
            formatQuantity (value) {
                return value.replace(/,/g, '.');
            }
        }
    }
</script>

<style scoped>

</style>