<template>
    <div class="flex flex-wrap rounded-lg p-10 lg:p-16" style="background-color: #F7F7FF">
        <div class="lg:w-2/3 lg:pr-32 mt-2">
            <p class="text-xl lg:text-3xl text-main-color font-bold" style="font-family: Poppins">Reseller</p>
            <p class="text-md mt-2" style="font-family: Poppins">{{$cookies.get('lang_oca') === 'id' ? desc_id : desc_eng}}</p>
        </div>
        <div class="w-full lg:w-1/3 flex flex-wrap justify-center items-center lg:mt-0 mt-6">
            <a href="https://api.whatsapp.com/message/CJYNUR2AAUSVG1" target="_blank"><button class="rounded-lg py-4 px-16 bg-white font-semibold" style="color:#F46A84">Contact Sales</button></a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Reseller",
        data: function () {
            return {
                desc_id: 'Kami akan berikan solusi terbaik untuk kebutuhan spesial yang Anda inginkan. Hubungi kami sekarang',
                desc_eng: 'We will provide the best solution for your needs. Tell us now.'
            }
        }
    }
</script>

<style scoped>

</style>