<template>
    <div class="flex flex-wrap justify-center">
        <div class="w-full flex-wrap justify-center lg:flex mt-8 px-10 lg:px-32">
            <div class="xl:w-45% xxl:w-4/12 px-2 mx-4">
                <div class="flex flex-wrap border border-gray-400 mt-4 px-6 py-6 rounded-lg shadow-lg justify-center">
                    <div class="w-full flex flex-wrap">
                        <div class="w-full flex flex-wrap">
                            <div class="w-full flex flex-col">
                                <div class="text-main-color font-semibold text-sm tracking-.3rem" style="font-family: Poppins;">OCA BLAST PROMO</div>
                                <div class="text-custom-6 text-xsm" style="font-family: Poppins;">Sampai Akhir Tahun</div>
                                <div class="flex flex-wrap my-2">
                                    <div class="w-1/2 py-2">
                                        <div class="py-2 border-r-2 border-gray-500">
                                            <div class="flex flex-col py-1">
                                                <div class="flex flex-row">
                                                    <img src="https://dtpx1.ocatelkom.co.id/public/pricing/pricing_1585620417_2010774321.png" class="w-8 h-8 self-center">
                                                    <div class="text-gray-700 text-sm xxl:text-base font-semibold py-1 m-2">180.000 Detik Telpon</div>
                                                </div>
                                                <div class="flex flex-row">
                                                  <img src="https://dtpx1.ocatelkom.co.id/public/pricing/email.png" class="w-8 h-8 self-center">
                                                    <div class="text-gray-700 text-sm xxl:text-base font-semibold py-1 m-2">15.000 Email</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-1/2 p-2">
                                        <div class="text-gray-700 text-center p-2">
                                            <div class="flex flex-col">
                                                <div class="text-gray-700 text-center xls:px-4 xxxl:px-4 py-2">
                                                    <div :class="{'opacity-0': Number(discount) <= 0}" class="flex flex-wrap justify-center">
                                                        <div class="w-auto inline-block relative mx-auto pt-2 mb-0">
                                                            <p class="text-lg xxl:text-xl font-bold text-gray-500 px-2 strikethrough z-20">IDR {{actual_price | formatQuantity}}</p>
                                                            <div class="absolute -top-50 right-0 -mr-6 diskon-bg z-0 h-12 w-12 flex flex-wrap justify-center items-center">
                                                                <p class="text-xs font-semibold text-white">-50%</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-gray-700 text-center xls:px-4 xxx  l:px-4 py-2">
                                                    <p class="text-xl xxl:text-2xl font-bold text-gray-800 px-2 z-20">IDR {{discount_price | formatQuantity}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex justify-center">
                                    <a :href="this.$session.exists() ? 'plan?package=promo_ocaBlast&plan=' + priceData.product_id : 'login'" class="text-white text-center text-sm bg-main-color border border-main-color cursor-pointer rounded-md px-8 py-2 m-2">Pilih</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="xl:w-45% xxl:w-4/12 px-2 mx-4">
                <div class="flex flex-wrap border border-gray-400 mt-4 px-6 py-6 rounded-lg shadow-lg justify-center relative">
                    <div class="absolute -bottom-20 right-0 -z-10">
                    <svg width="172" height="173" viewBox="0 0 472 473" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M118 236.666C183.169 236.666 236 183.835 236 118.666C236 53.4963 183.169 0.666016 118 0.666016L0 0.666016L0 118.666C0 183.835 52.8303 236.666 118 236.666ZM0 118.666L118 118.666L118 0.666016C52.8303 0.666016 0 53.4963 0 118.666Z" fill="#7DE3D8"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M236 354.666C236 289.497 183.169 236.666 118 236.666C52.8303 236.666 8.00658e-06 289.497 5.15794e-06 354.666L0 472.666L118 472.666C183.169 472.666 236 419.836 236 354.666Z" fill="#3D2C42"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M471.999 116.661C472 116.526 472 116.391 472 116.256C472 52.0496 419.17 0 354 0C288.831 0 236 52.0496 236 116.256C236 116.256 236 116.256 236 116.256H236V236H471.999V116.661Z" fill="#ED1260"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M471.999 236V472H236C236.781 342.009 342.009 236.781 471.999 236Z" fill="#FFB680"/>
                    </svg>
                    </div>
                    <div class="w-full flex flex-wrap">
                        <div class="w-full flex flex-wrap">
                            <div class="w-full flex flex-col">
                                <div class="text-main-color font-semibold text-sm tracking-.3rem" style="font-family: Poppins;">OCA FOR UMKM</div>
                                <div class="flex flex-wrap my-3 mt-2 xxl:mt-4">
                                    <div class="w-full py-2">
                                        <div class="text-gray-700 text-3xl xxl:text-3/4xl font-bold py-2" style="font-family: Poppins;">Maksimalkan Bisnis-mu</div>
                                    </div>
                                    <div class="w-full py-2">
                                        <div class="text-gray-700 text-base" style="font-family: Poppins;">Penawaran paket terbaik dari Kami yang dikhususkan untuk UMKM Indonesia.</div>
                                    </div>
                                </div>
                                <div class="flex justify-center">
                                    <a href="./pricing_umkm" class="text-main-color text-center text-sm bg-white border border-main-color cursor-pointer rounded-md px-8 py-2 m-2">Lihat Penawaran</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OcaBlast",
        props: {
            priceData: Array,
            extraData: Array,
            konten: Array
        },
        data: function () {
            return {
                extra: [
                    {
                        judul: 'Penggunaan Telpon',
                        judul_eng: 'Call Usage',
                        harga: 'IDR 19',
                        ket: 'Detik'
                    },
                    {
                        judul: 'Penggunaan SMS',
                        judul_eng: 'SMS Usage',
                        harga: 'IDR 334',
                        ket: 'SMS'
                    },
                    {
                        judul: 'Penggunaan Email',
                        judul_eng: 'Email Usage',
                        harga: 'IDR 22',
                        ket: 'Email'
                    },
                ],
                price: [
                    {
                        header: false,
                        header_bg: '',
                        header_title: '-',
                        title_color: 'color: #ED1260',
                        title: '1 Month',
                        price: '5.750.000',
                        discount: '',
                        discount_price: '',
                        btn_color: 'background-color: #ED1260',
                        link: 'plan?package=blast&plan=1'
                    },
                    {
                        header: true,
                        header_bg: 'background-color: #313131',
                        header_title: 'MOST POPULAR',
                        title_color: 'color: #ED1260',
                        title: '3 Month',
                        price: '5.175.000',
                        discount: '-10%',
                        discount_price: '5.750.000',
                        btn_color: 'background-color: #ED1260',
                        link: 'plan?package=blast&plan=3'
                    },
                    {
                        header: true,
                        header_bg: 'background-color: #ED1260',
                        header_title: 'BEST OFFER',
                        title_color: 'color: #ED1260',
                        title: '6 Month',
                        price: '4.600.000',
                        discount: '-20%',
                        discount_price: '5.750.000',
                        btn_color: 'background-color: #ED1260',
                        link: 'plan?package=blast&plan=6'
                    },
                ]
            }
        },
        computed: {
            actual_price: function() {
                var total = 0
                total += Number(this.priceData.original_price)

                return total.toLocaleString()
            },
            discount_price: function() {
                var total = 0
                total += Number(this.priceData.original_price) * Number(this.priceData.discount) / 100

                return total.toLocaleString()
            }
        },
        filters: {
            // you can call this whatever you want to
            formatQuantity (value) {
                return value.replace(/,/g, '.');
            }
        }
    }
</script>

<style scoped>

</style>