<template>
    <div class="py-16 lg:px-32 flex flex-wrap bg-gray-100 relative" >
        <div class="absolute -top-30 right-0 z-0">
            <svg width="272" height="273" viewBox="0 0 472 473" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M118 236.666C183.169 236.666 236 183.835 236 118.666C236 53.4963 183.169 0.666016 118 0.666016L0 0.666016L0 118.666C0 183.835 52.8303 236.666 118 236.666ZM0 118.666L118 118.666L118 0.666016C52.8303 0.666016 0 53.4963 0 118.666Z" fill="#7DE3D8"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M236 354.666C236 289.497 183.169 236.666 118 236.666C52.8303 236.666 8.00658e-06 289.497 5.15794e-06 354.666L0 472.666L118 472.666C183.169 472.666 236 419.836 236 354.666Z" fill="#3D2C42"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M471.999 116.661C472 116.526 472 116.391 472 116.256C472 52.0496 419.17 0 354 0C288.831 0 236 52.0496 236 116.256C236 116.256 236 116.256 236 116.256H236V236H471.999V116.661Z" fill="#ED1260"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M471.999 236V472H236C236.781 342.009 342.009 236.781 471.999 236Z" fill="#FFB680"/>
            </svg>
        </div>
        <div class="absolute left-0 -bottom-20 ">
            <svg width="172" height="173" viewBox="0 0 472 473" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M118 236.666C183.169 236.666 236 183.835 236 118.666C236 53.4963 183.169 0.666016 118 0.666016L0 0.666016L0 118.666C0 183.835 52.8303 236.666 118 236.666ZM0 118.666L118 118.666L118 0.666016C52.8303 0.666016 0 53.4963 0 118.666Z" fill="#7DE3D8"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M236 354.666C236 289.497 183.169 236.666 118 236.666C52.8303 236.666 8.00658e-06 289.497 5.15794e-06 354.666L0 472.666L118 472.666C183.169 472.666 236 419.836 236 354.666Z" fill="#3D2C42"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M471.999 116.661C472 116.526 472 116.391 472 116.256C472 52.0496 419.17 0 354 0C288.831 0 236 52.0496 236 116.256C236 116.256 236 116.256 236 116.256H236V236H471.999V116.661Z" fill="#ED1260"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M471.999 236V472H236C236.781 342.009 342.009 236.781 471.999 236Z" fill="#FFB680"/>
            </svg>
        </div>
        <div class="lg:w-1/2 px-8 lg:px-20 lg:pr-5 xxl:pr-20 z-10">
            <p class="text-md tracking-widest text-main-color" style="font-family: Poppins">OCA FOR UMKM</p>
            <p class="text-2xl text-custom-2 font-bold mt-1" style="font-family: Poppins">Penawaran Terbaik untuk UMKM</p>
            <p class="text-md text-custom-5 mt-1">Kami akan berikan solusi terbaik untuk kebutuhan spesial yang Anda inginkan. Hubungi kami sekarang</p>
        </div>
        <div class="w-full lg:mt-0 mt-6 lg:w-1/2 px-8 lg:px-20 flex flex-wrap lg:justify-end justify-center items-center z-50">
            <a :href="pricing_umkm"  class="lg:mr-10 bg-white rounded-xlg cursor-pointer border border-main-color py-2 px-16 font-semibold" style="color: #F46A84">Lihat Penawaran</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Umkm",
        data: function () {
            return {
            
            }
        }
    }
</script>

<style scoped>

</style>