<template>
    <div class="p-6 lg:p-16" style="background-color: #F6F6FF">
        <div class="lg:mx-20">
            <p class="text-2xl font-bold" style="font-family: Poppins;color: #6FD6CA">{{konten.title}}</p>
            <p class="mt-2" style="font-family: Poppins">{{konten.description}}</p>
            <p class="mt-8" style="font-family: Poppins">{{$cookies.get('lang_oca') === 'id' ? regulasi_id : regulasi_eng}} <a href="https://www.whatsapp.com/legal/commerce-policy/" target="_blank" style="color: #48CBBC">{{$cookies.get('lang_oca') === 'id' ? 'baca disini.' : 'read here.'}}</a></p>
            <p class="mt-8" style="font-family: Poppins">Choose your plan : </p>
        </div>
        <div class="w-full flex-wrap lg:flex mt-8 lg:px-20">
            <div class="w-full xl:w-4/12 px-2">
                <content-box :konten-item="konten.detail"/>
            </div>

            <!-- LIST HARGA -->
            <div class="w-full xl:w-8/12 flex flex-wrap xl:mt-0 mt-6">
                <div v-for="(data, index) in price" :key="data" class="w-full lg:w-1/3 px-2">
                    <price-item :header="data.header" :header_title="data.header_title" :header_bg="data.header_bg" :title="priceData[index].subscription_type" :title_color="data.title_color" :price="Number(priceData[index].price).toLocaleString()" :discount="priceData[index].discount" :discount_price="Number(priceData[index].original_price).toLocaleString()" :btn_color="data.btn_color" :link="data.link"/>
                </div>
            </div>
        </div>

        <quota-extra class="mt-8" :konten="konten" :harga="'IDR ' + Number(extraData.price).toLocaleString()"/>
        <custom-mask class="mt-8" :konten="konten"/>
    </div>
</template>

<script>
    import ContentBox from "./whatsapp/ContentBox";
    import QuotaExtra from "./whatsapp/QuotaExtra";
    import PriceItem from "./item/PriceItem";
    import CustomMask from "./whatsapp/CustomMask";
    export default {
        name: "Whatsapp",
        components: {CustomMask, PriceItem, QuotaExtra, ContentBox},
        props: {
            priceData: Array,
            extraData: Object,
            konten: Array
        },
        data: function () {
            return {
                price: [
                    {
                        header: false,
                        header_bg: '',
                        header_title: '-',
                        title_color: 'color: #ED1260',
                        title: '1 Month',
                        price: '5.750.000',
                        discount: '',
                        discount_price: '',
                        btn_color: 'background-color: #6FD6CA',
                        link: 'plan?package=wa&plan=1'
                    },
                    {
                        header: true,
                        header_bg: 'background-color: #313131',
                        header_title: 'MOST POPULAR',
                        title_color: 'color: #ED1260',
                        title: '6 Month',
                        price: '5.290.000',
                        discount: '-8%',
                        discount_price: '5.750.000',
                        btn_color: 'background-color: #6FD6CA',
                        link: 'plan?package=wa&plan=6'
                    },
                    {
                        header: true,
                        header_bg: 'background-color: #6FD6CA',
                        header_title: 'BEST OFFER',
                        title_color: 'color: #ED1260',
                        title: '1 Year',
                        price: '4.820.000',
                        discount: '-16%',
                        discount_price: '5.750.000',
                        btn_color: 'background-color: #6FD6CA',
                        link: 'plan?package=wa&plan=12'
                    },
                ],
                regulasi_id: 'Baca regulasi WhatsApp terlebih dahulu sebelum anda memilih paket ini,',
                regulasi_eng: 'Read WhatsApp regulations first before you choose this package,'
            }
        }
    }
</script>

<style scoped>

</style>