<template>
    <!-- BEFORE OPEN DIPANGGIL SAAT MODAL AKAN TERBUKA -->
    <modal name="form-modal" :height="600" :width="600" :adaptive="true" :resizeable="false" :clickToClose="false" @before-open="beforeOpen">
        <div id="modal" class="pt-8 pb-10 overflow-hidden h-full">
            <transition name="slides">
            <div v-if="!show" class="flex flex-col justify-between h-full">
                <div class="flex flex-col  overflow-y-auto">
                    <div class="flex justify-end mx-4">
                        <svg @click="closeModal" class="cursor-pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 6L6 18" stroke="#8B8B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6 6L18 18" stroke="#8B8B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="text-lg font-semibold mb-2 mx-10">Personal Info</div>
                    <div class="flex flex-col my-2 mx-10">
                        <div class="text-sm font-medium text-custom-26">Nama Anda <span class="text-main-color">*</span></div>
                        <input v-model="form.name" class="flex border text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="Masukan nama Anda">
                    </div>
                    <div class="flex flex-col my-2 mx-10">
                        <div class="text-sm font-medium text-custom-26">Email <span class="text-main-color">*</span></div>
                        <input v-model="form.email" class="flex border text-xsm border-custom-25 rounded-md p-2 my-2" type="email" placeholder="mail@ocaindoensia.co.id">
                    </div>
                    <div class="flex flex-col my-2 mx-10">
                        <div class="text-sm font-medium text-custom-26">Nomor Telepon <span class="text-main-color">*</span></div>
                        <input v-model="form.PhoneNumber" class="flex border text-xsm border-custom-25 rounded-md p-2 my-2" type="number" placeholder="081254321987">
                    </div>
                </div>
                <div class="flex justify-end mx-8 mt-2">
                    <button @click="setShow" v-on:keyup.enter="setShow" :class="checkFirstPage ? 'bg-custom-27 text-custom-28':'bg-main-color text-white'" class="mx-2 py-2 px-6 rounded-md font-semibold text-xsm focus:outline-none">Lanjutkan</button>
                </div>
            </div>
            </transition>

            <transition name="slide">   
            <div v-if="show" class="flex flex-col justify-between h-full">
                <div class="flex flex-col overflow-y-auto">
                    <div class="flex justify-end mx-4">
                        <svg @click="closeModal" class="cursor-pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 6L6 18" stroke="#8B8B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6 6L18 18" stroke="#8B8B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="text-lg font-semibold mb-2 mx-10">Company Info</div>
                    <div class="flex flex-col my-2 mx-10">
                        <div class="text-sm font-medium text-custom-26">Nama Perusahaan <span class="text-main-color">*</span></div>
                        <input v-model="form.bussinessName" class="flex border text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="OCA Indonesia">
                    </div>
                    <div class="flex flex-col my-2 mx-10">
                        <div class="text-sm font-medium text-custom-26">Website</div>
                        <input v-model="form.bussinessSite" class="flex border text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="ocaindonesia.co.id">
                    </div>
                    <div class="flex flex-col my-2 mx-10">
                        <div class="text-sm font-medium text-custom-26">Social Media <span class="text-main-color">*</span></div>
                        <input v-model="form.bussinessSosmed" class="flex border text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="instagram.com/oca.indonesia">
                    </div>
                    <div class="flex flex-col my-2 mx-10">
                        <div class="text-sm font-medium text-custom-26">Ukuran Perusahaan <span class="text-main-color">*</span></div>
                        <div class="flex my-2">
                            <div class="flex-1">
                                <div @click="form.bussinessSize = '< 10 employees'" :class="{'border border-custom-25': form.bussinessSize !== '< 10 employees', 'border-2 border-main-color': form.bussinessSize === '< 10 employees'}" class="flex flex-col cursor-pointer justify-center rounded-lg h-24 mr-4">
                                    <div :class="{'text-custom-25 ': form.bussinessSize !== '< 10 employees', 'text-main-color font-medium': form.bussinessSize === '< 10 employees'}" class="text-center text-sm select-none">&lt; 10</div>
                                    <div :class="{'text-custom-25 ': form.bussinessSize !== '< 10 employees', 'text-main-color font-medium': form.bussinessSize === '< 10 employees'}" class="text-center text-xsm select-none">Employees</div>
                                </div>
                            </div>
                            <div class="flex-1">
                                <div @click="form.bussinessSize = '10-49 employees'" :class="{'border border-custom-25': form.bussinessSize !== '10-49 employees', 'border-2 border-main-color': form.bussinessSize === '10-49 employees'}"  class="flex flex-col cursor-pointer justify-center rounded-lg h-24 mr-4">
                                    <div :class="{'text-custom-25 ': form.bussinessSize !== '10-49 employees', 'text-main-color font-medium': form.bussinessSize === '10-49 employees'}" class="text-center text-sm select-none">10 - 49</div>
                                    <div :class="{'text-custom-25 ': form.bussinessSize !== '10-49 employees', 'text-main-color font-medium': form.bussinessSize === '10-49 employees'}" class="text-center text-xsm select-none">Employees</div>
                                </div>
                            </div>
                            <div class="flex-1">
                                <div @click="form.bussinessSize = '50-249 employees'" :class="{'border border-custom-25': form.bussinessSize !== '50-249 employees', 'border-2 border-main-color': form.bussinessSize === '50-249 employees'}"  class="flex flex-col cursor-pointer justify-center rounded-lg h-24 mr-4">
                                    <div :class="{'text-custom-25 ': form.bussinessSize !== '50-249 employees', 'text-main-color font-medium': form.bussinessSize === '50-249 employees'}" class="text-center text-sm select-none">50 - 249</div>
                                    <div :class="{'text-custom-25 ': form.bussinessSize !== '50-249 employees', 'text-main-color font-medium': form.bussinessSize === '50-249 employees'}" class="text-center text-xsm select-none">Employees</div>
                                </div>
                            </div>
                            <div class="flex-1">
                                <div @click="form.bussinessSize = '> 500 employees'"  :class="{'border border-custom-25': form.bussinessSize !== '> 500 employees', 'border-2 border-main-color': form.bussinessSize === '> 500 employees'}" class="flex flex-col cursor-pointer justify-center rounded-lg h-24 mr-4">
                                    <div :class="{'text-custom-25 ': form.bussinessSize !== '> 500 employees', 'text-main-color font-medium': form.bussinessSize === '> 500 employees'}" class="text-center text-sm select-none">&gt; 250</div>
                                    <div :class="{'text-custom-25 ': form.bussinessSize !== '> 500 employees', 'text-main-color font-medium': form.bussinessSize === '> 500 employees'}" class="text-center text-xsm select-none">Employees</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col my-2 mx-10">
                        <div class="text-sm font-medium text-custom-26">Tipe Bisnis (Telco/F&B/Retail/FMCG, dll) <span class="text-main-color">*</span></div>
                        <input v-model="form.bussinesType" class="flex border text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="Telekomunikasi">
                    </div>
                </div>
                <div class="flex justify-between mx-8 mt-2">
                    <button class="mx-2 py-2 px-6 rounded-md bg-white border border-main-color text-main-color text-xsm font-semibold focus:outline-none" @click="setShow">Kembali</button>
                    <button :class="checkSecondPage ? 'bg-custom-27  border border-custom-27 text-custom-28':'bg-main-color border border-main-color text-white'" class="mx-2 py-2 px-6 rounded-md text-xsm font-semibold focus:outline-none" @click="loadData" v-on:keyup.enter="loadData">Kirim</button>
                </div>
            </div>
            </transition>
        </div>
    </modal>
</template>

<script>
    export default {
        name: "FormModal",
        data: function () {
            return {
                title: '',
                message: '',
                show: false,
                form: {
                    name: '',
                    email: '',
                    PhoneNumber: '',
                    bussinessName: '',
                    bussinessSite: '',
                    bussinessSosmed: '',
                    bussinessSize: '',
                    bussinesType: ''
                }
            }
        },
        computed: {
            checkFirstPage: function() {
                const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (this.form.name === '' || !re.test(String(this.form.email).toLowerCase()) || this.form.PhoneNumber === '') {
                    return true
                }
                else {
                    return false
                }
            },
            checkSecondPage: function() {
                if (this.form.bussinessName === '' || this.form.bussinessSize === '' || this.form.bussinessSosmed === '' || this.form.bussinesType === '') {
                    return true
                }
                else {
                    return false
                }
            },
        },
        mounted() {
            this.show = false
        },
        methods: {
            //AMBIL DATA SAAT DEKLARASI MODAL
            beforeOpen: function (event) {
                this.title = event.params.title
                this.message = event.params.message
            },

            closeModal: function () {
                this.show = false
                this.form = {
                    name: '',
                    email: '',
                    PhoneNumber: '',
                    bussinessName: '',
                    bussinessSite: '',
                    bussinessSosmed: '',
                    bussinessSize: '',
                    bussinesType: ''
                }
                this.$modal.hide('form-modal')
            },

            logout: function () {
                this.$session.destroy()
                window.location.href = "./login_umkm"
            },
            setShow() {
                if (this.checkFirstPage) {
                    return
                }
                this.show = !this.show
            },
            loadData: function () {
                if (this.checkSecondPage) {
                    return
                }
                var wnd = window.open(`https://docs.google.com/forms/u/0/d/e/1FAIpQLSfzYaV2KnJfOnvMyJY3f-OUTw8Src8tR5RmtA7Xh58rjU60Gg/formResponse?entry.1148435351=${this.form.name}&entry.1307991968=${this.form.PhoneNumber}&entry.1266835486=${this.form.email}&entry.1109933139=${this.form.bussinessName}&entry.781615330=${this.form.bussinessSite}&entry.1128121676=${this.form.bussinessSosmed}&entry.243036263=${this.form.bussinessSize}&entry.669533724=${this.form.bussinesType}`);
                setTimeout(function() {
                    wnd.close();
                }, 500);
                this.$modal.show('thanks-modal')
                this.closeModal()
            }
        },
    }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

    #modal {
        font-family: Inter;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .bg-loading {
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>
