<template>
    <!-- BEFORE OPEN DIPANGGIL SAAT MODAL AKAN TERBUKA -->
    <modal name="thanks-modal" :height="400" :width="350" :adaptive="true" :resizeable="false" :clickToClose="false" @before-open="beforeOpen">
        <div id="modal" class="py-10 overflow-hidden h-full">
            <div v-if="!show" class="flex flex-col justify-between h-full">
                <div class="flex justify-center">
                    <img src="../../../../assets/image/interaction/interaction-logo.png" class="block select-none mx-auto" style="max-height: 500px; user-drag: none;">
                </div>
                <div class="flex flex-col">
                    <div class="text-center text-2xl font-semibold mx-auto my-2">Terima kasih!</div>
                    <div class="text-center text-sm mx-auto my-2">Form Anda berhasil terkirim.<br/>Tim kami akan menghubungi Anda. </div>
                </div>
                <div class="flex justify-center mx-8 mt-2">
                    <button @click="closeModal" class="bg-custom-2 text-white mx-2 py-2 px-6 rounded-md font-semibold text-xsm focus:outline-none">Tutup</button>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    export default {
        name: "ThanksModal",
        data: function () {
            return {
                title: '',
                message: '',
                show: false,
            }
        },
        mounted() {
            this.show = false
        },
        methods: {
            //AMBIL DATA SAAT DEKLARASI MODAL
            beforeOpen: function (event) {
                this.title = event.params.title
                this.message = event.params.message
            },

            closeModal: function () {
                this.show = false
                this.$modal.hide('thanks-modal')
            },
        },
    }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

    #modal {
        font-family: Inter;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .bg-loading {
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>
