<template>
    <div id="app" class="bg-customs-15">
      <!-- <div class="bg-neutral-600">
        <div class="relative text-white text-xsm max-w-screen-xl self-auto items-center justify-center mx-auto py-2">
           <span class="font-semibold">Update terbaru Covid 19:</span> Completely restore maintainable convergence whereas covalent mindshare. Objectively morph frictionless alignments before technically sound networks. Objectively unleash.
        </div>
      </div> -->
      <oca-navbar></oca-navbar>
      <jumbotron></jumbotron>
      <startup-customer></startup-customer>
      <features></features>
      <oca-footer-sub></oca-footer-sub>
      <oca-footer style="margin:0"></oca-footer>
    </div>
</template>
<script>
  import OcaNavbar from '../../../components/oca_origin/navbar';
  import Jumbotron from './components/Jumbotron';
  import StartupCustomer from './components/StartupCustomer';
  import Features from './components/Features';
  import OcaFooter from '../../../components/oca_origin/footer';
  import OcaFooterSub from "./components/FooterSub";

export default {
    name:"App",
    components:{
    OcaNavbar,
    Jumbotron,
    StartupCustomer,
    Features,
    OcaFooter,
    OcaFooterSub
    },
    data: function () {
      return {
      }
    },
    mounted() {

    },
    methods: {

    },
    created: function () {

    },
    destroyed: function () {

    },
}

</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


  #app {
    font-family: Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>