<template>
    <div class="w-full mb-2" style="padding-left: 10%;padding-right: 10%">
        <div class="flex items-center mb-1">
            <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 1L4.125 7.875L1 4.75" stroke="#61C378" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p :style="judul_color" class="ml-1 text-md font-semibold text-black">{{ judul }}</p>
        </div>

        <p v-for="data in konten" v-bind:key="data" :style="konten_color" class="ml-4 text-md text-gray-500">{{ data }}</p>
    </div>
</template>

<script>
    export default {
        name: "PriceDesc",
        props:{
            judul: String,
            judul_color: String,
            konten: Array,
            konten_color: String,
        }
    }
</script>

<style scoped>

</style>