<template>
    <div class="p-4 lg:py-12 lg:px-6">
        <form class="overflow-scroll addblast" style="scrollbar-color: #ED1260; overflow-x: hidden" method="post" @submit="broadcast">
            <div class="flex items-center">
                <div @click="backToList" style="cursor: pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 11L6.414 11 11.707 5.707 10.293 4.293 2.586 12 10.293 19.707 11.707 18.293 6.414 13 21 13z" fill="#ED1260"/></svg>
                </div>
                <p class="ml-6 text-2xl text-main-color mx-8">Add SMS Broadcast</p>
            </div>

            <div class="bg-white p-4 lg:py-6 lg:px-10 mt-4">
                <p class="text-main-color">Contact 1</p>
                <p class="text-sm">Kontak person yang akan di hubungi melalui voice broadcast</p>

                <contact-item v-for="(d, i) in data" :key="d" :pos="i"/>

                <div v-show="data.length < 5" class="py-8 flex cursor-pointer" @click="addContact">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13 7L11 7 11 11 7 11 7 13 11 13 11 17 13 17 13 13 17 13 17 11 13 11z" fill="#C6CCD1"/><path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10c5.514,0,10-4.486,10-10S17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8 s3.589-8,8-8s8,3.589,8,8S16.411,20,12,20z" fill="#C6CCD1"/></svg>
                    <p class="ml-2 italic" style="color: #C6CCD1">Add Contact</p>
                </div>
            </div>

            <div class="bg-white flex flex-wrap p-4 lg:py-6 lg:px-10 mt-4 justify-end">
                <p class="w-full text-main-color mb-4">Message</p>
                <textarea v-model="message" rows="3" maxlength="160" class="w-full py-2 px-6 border-2 rounded-md focus:outline-none" style="resize: none" @keyup="changeCount" required/>
                <p class="w-full text-sm text-right">{{totalChar}}/160</p>
                <button class="bg-main-color rounded-lg text-sm font-bold text-white py-2 px-4 mt-6">Submit</button>
            </div>
        </form>
    </div>
</template>

<script>
    import ContactItem from "./ContactItem";
    export default {
        name: "AddSms",
        components: {ContactItem},
        data: function () {
            return {
                data: [
                    {
                        nama: "",
                        phone: "",
                    }
                ],
                message: '',
                totalChar: 0
            }
        },
        methods: {
            changeCount: function () {
                this.totalChar = this.message.length
            },
            backToList: function () {
                this.data = [
                    {
                        nama: "",
                        phone: "",
                    }
                ]
                this.message = ''
                this.$parent.changePage('report')
            },
            addContact: function () {
                if (this.data.length < 5) {
                    this.data.push({
                        nama: "",
                        phone: "",
                    })
                }
            },
            removeContact: function (index) {
                this.data.splice(index, 1)
            },

            broadcast: function (e) {
                e.preventDefault()
                this.$modal.show('loading')

                this.sendBroadcast(0)
            },

            sendBroadcast: function (index) {
                const axios = require('axios')

                let main = this
                axios.post('https://sms.ocatelkom.co.id/api/v1/sms', {
                    phone: main.data[index].phone,
                    message: main.message,
                },{
                    headers: {
                        'Authorization': `Basic ${main.$session.get("token")}`
                    }
                })
                .then(function (response) {
                    if(response.data) {
                        let next = index + 1
                        if (next < main.data.length) {
                            main.sendBroadcast(next)
                        }
                        else {
                            main.$modal.hide('loading')
                            main.$modal.show('error', {
                                title: "SUKSES",
                                message: "SMS berhasil di broadcast"
                            })
                            main.data = [
                                {
                                    nama: "",
                                    phone: "",
                                }
                            ]
                            main.message = ''
                            main.$parent.refresh()
                        }
                    }
                })
                .catch(function (error) {
                    main.$modal.hide('loading')
                    main.$modal.show('error', {
                        title: "ERROR " + error.response.data.errors[0].code,
                        message: error.response.data.errors[0].message
                    })
                })
            }
        }
    }
</script>

<style scoped>
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #ED1260;
        border-radius: 5px;
    }
</style>