<template>
    <div class="xl:mt-0 mt-6 lg:w-1/2 xl:w-1/3 px-4">
        <div class="flex flex-wrap p-8 bg-white lg:h-full" style="box-shadow: 8px 7px 17px -1px rgba(0,0,0,0.41);border-radius: 30px">
            <p class="text-md font-semibold text-main-color">Blog</p>
            <p class="w-full text-lg font-semibold mt-4">{{konten.title}}</p>
            <p class="text-sm text-black mt-4 ellipsis mb-8">{{ strippedContent(konten.short_description) | truncate(300, '...')}}</p>

            <div class="w-full flex items-center mb-2 align-bottom mt-auto justify-between">
                <div class="flex items-center">
                    <img :src="konten.author_img" class="w-auto h-10 min-h-5 mr-4 rounded-full">
                    <div>
                        <p class="text-sm font-semibold">{{konten.author}}</p>
                        <p class="text-xs">in OCA.Indonesia</p>
                    </div>
                </div>
                <a :href="'blog_detail?blog=' + konten.title.replace(/ /g, '-') + '&id=' + konten.id" class="text-sm text-main-color text-right font-bold" target="_blank">Read More</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "BlogItem",
        props: {
            konten: Object
        },
        filters: {
            truncate: function (text, length, suffix) {
                return text.substring(0, length) + suffix;
            },
        },
        methods: {
            strippedContent:function (msg) {
                let regex = /(<([^>]+)>)/ig;
                return msg.replace(regex, "");
            }
        }
    }
</script>

<style scoped>

</style>