<template>
    <div class="w-full xl:mt-0 mt-6 px-4">
        <div class="p-8 bg-white" style="box-shadow: 8px 7px 17px -1px rgba(0,0,0,0.41);border-radius: 30px">
            <p class="text-md text-center font-semibold tracking-lg mx-6" style="font-family: Poppins"><span class="text-main-color">“</span>{{konten.title}}<span class="text-main-color">“</span></p>
            <img :src="konten.img_url" class="mt-2 w-auto ml-auto" style="max-height: 50px; max-width: 150px">
        </div>
    </div>
</template>

<script>
    export default {
        name: "Quote",
        props: {
            konten: Object
        }
    }
</script>

<style scoped>

</style>