<template>
    <div class="p-4 lg:py-12 lg:px-6">
        <form class="overflow-scroll addblast" style="scrollbar-color: #ED1260; overflow-x: hidden" method="post" @submit="broadcast">
            <div class="flex items-center">
                <div @click="backToList" style="cursor: pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 11L6.414 11 11.707 5.707 10.293 4.293 2.586 12 10.293 19.707 11.707 18.293 6.414 13 21 13z" fill="#ED1260"/></svg>
                </div>
                <p class="ml-6 text-2xl text-main-color mx-8">Add Voice Broadcast</p>
            </div>

            <div class="bg-white p-4 lg:py-6 lg:px-10 mt-4">
                <p class="text-main-color">Contact 1</p>
                <p class="text-sm">Kontak person yang akan di hubungi melalui voice broadcast</p>

                <contact-item v-for="(d, i) in data" :key="d" :pos="i"/>

                <!-- TOMBOL ADD HILANG APABILA FIELD KONTAK SUDAH ADA 5 -->
                <div v-show="data.length < 5" class="py-8 flex cursor-pointer" @click="addContact">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13 7L11 7 11 11 7 11 7 13 11 13 11 17 13 17 13 13 17 13 17 11 13 11z" fill="#C6CCD1"/><path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10c5.514,0,10-4.486,10-10S17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8 s3.589-8,8-8s8,3.589,8,8S16.411,20,12,20z" fill="#C6CCD1"/></svg>
                    <p class="ml-2 italic" style="color: #C6CCD1">Add Contact</p>
                </div>
            </div>

            <div class="bg-white p-4 lg:py-6 lg:px-10 mt-4 justify-end">
                <p class="text-main-color">IVR Template</p>
                <p class="text-sm">We have already prepare IVR template, or you can create your own.</p>

                <div class="w-full flex-wrap mt-6">
                    <div class="w-full flex flex-wrap items-center">
                        <input type="radio" name="template" value="stock" class="w-1/12" checked>
                        <div class="w-11/12">
                            <div class="flex-wrap border border-main-color rounded-md p-4">
                                <div class="w-full lg:w-auto lg:flex lg:flex-wrap hidden">
                                    <div class="w-1/3 px-2 flex-wrap">
                                        <p class="text-sm">Text-to-speech</p>
                                    </div>
                                    <div class="w-2/3 px-2 flex flex-wrap items-stretch">
                                        <p class="w-full text-sm">Multiple Choices</p>
                                    </div>
                                </div>
                                <div class="w-full lg:w-auto flex flex-wrap mt-2">
                                    <div class="w-full lg:w-1/3 px-2 flex-wrap items-stretch">
                                        <p class="text-sm lg:hidden">Text-to-speech</p>
                                        <textarea rows="6" class="w-full h-full py-2 px-6 border-2 rounded-md focus:outline-none" style="resize: none" disabled>Halo, kami dari OCA Indonesia, ini merupakan test panggilan dari fitur OCA.
Tekan 1 untuk mendapatkan SMS, tekan 2 untuk mengakhiri.</textarea>
                                    </div>
                                    <div class="w-full lg:w-2/3 px-2 flex flex-wrap items-stretch lg:mt-0 mt-8">
                                        <p class="w-full text-sm lg:hidden">Multiple Choices</p>
                                        <div class="w-full flex flex-wrap py-2 px-6 border-2 rounded-md items-center">
                                            <div class="flex flex-wrap items-center">
                                                <label>Key Press 1</label>
                                                <input type="text" class="w-full lg:w-auto lg:ml-4 py-2 px-4 border rounded-lg" value="Anda akan di SMS." disabled>
                                            </div>
                                            <div class="flex flex-wrap items-center lg:mt-0 mt-4">
                                                <label>Key Press 2</label>
                                                <input type="text" class="w-full lg:w-auto lg:ml-4 py-2 px-4 border rounded-lg" value="Telepon akan diakhiri." disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-full flex flex-wrap justify-end">
                    <button class="bg-main-color rounded-lg text-sm font-bold text-white py-2 px-4 mt-6">Submit</button>
                </div>
            </div>


        </form>
    </div>
</template>

<script>
    import ContactItem from "./ContactItem";
    export default {
        name: "AddCall",
        components: {ContactItem},
        data: function () {
            return {
                data: [
                    {
                        nama: "",
                        phone: "",
                    }
                ]
            }
        },
        methods: {
            backToList: function () {
                this.$parent.changePage('report')
            },

            //TAMBAH FILED KONTAK
            addContact: function () {
                if (this.data.length < 5) {
                    this.data.push({
                        nama: "",
                        phone: "",
                    })
                }
            },

            //HAPUS FIELD KONTAK
            removeContact: function (index) {
                this.data.splice(index, 1)
            },

            //KIRIM BROADCAST
            broadcast: function (e) {
                e.preventDefault()
                this.$modal.show('loading')

                //KIRIM BROADCAST SECARA ITERASI
                this.sendBroadcast(0)
            },

            //PROSES PENGIRIMAN BROADCAST, AKAN DIULANG APABILA TERDAPAT LEBIH DARI SATU KONTAK
            sendBroadcast: function (index) {
                const axios = require('axios')

                let main = this
                axios.post('https://call.ocatelkom.co.id/api/v1/call', {
                    from_number: '02180618533',
                    to_number: main.data[index].phone,
                    ivr_id: '5e5ccf7862fbc700da98d7fd',
                    variable: {
                        name: main.data[index].nama,
                    }
                },{
                    headers: {
                        'Authorization': `Basic ${main.$session.get("token")}`
                    }
                })
                    .then(function (response) {
                        if(response.data.success)
                        {
                            //CEK APABILA MASIH TERDAPAT KONTAK YANG PERLU DIKIRIM
                            let next = index + 1
                            if (next < main.data.length) {
                                main.sendBroadcast(next)
                            }
                            else {
                                main.$modal.hide('loading')
                                main.$modal.show('error', {
                                    title: "SUKSES",
                                    message: "Voice Call berhasil di broadcast"
                                })
                                main.data = [
                                    {
                                        nama: "",
                                        phone: "",
                                    }
                                ]
                                main.$parent.refresh()
                            }
                        }
                    })
                    .catch(function (error) {
                        main.$modal.hide('loading')
                        main.$modal.show('error', {
                            title: "ERROR " + error.response.data.errors[0].code,
                            message: error.response.data.errors[0].message
                        })
                    })
            }
        }
    }
</script>

<style scoped>
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #ED1260;
        border-radius: 5px;
    }
</style>