<template>
    <div class="mt-4 flex flex-wrap items-center">
        <input v-model="$parent.data[pos].nama" type="text" placeholder="Name" class="py-2 px-4 border-2 rounded-md focus:outline-none" required>
        <input v-model="$parent.data[pos].phone" type="number" placeholder="Handphone Number" class="mt-4 lg:mt-0 lg:ml-2 py-2 px-4 border-2 rounded-md focus:outline-none" required>
        <span v-show="pos > 0" class="mdi mdi-trash-can lg:ml-4 mdi-36px cursor-pointer" style="color: #ED1260;" @click="removeItem"></span>
    </div>
</template>

<script>
    export default {
        name: "ContactItem",
        props: {
            pos: Number
        },
        methods: {
            removeItem: function () {
                this.$parent.removeContact(this.pos)
            }
        }
    }
</script>

<style scoped>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>