<template>
    <div class="w-full flex flex-wrap lg:mx-24 xl:mx-40">
        <form class="w-full" method="post" @submit="loginUser">
            <!-- TEKS INI TAMPIL SAAT USER SELESAI VERIFIKASI MELALUI EMAIL -->
            <p class="w-full text-sm text-main-color mb-4" v-show="$parent.verified">Akun anda berhasil diverifikasi. Silahkan Login untuk melanjutkan.</p>

            <p class="text-3xl font-bold lg:mt-0 mt-16">Login</p>
            <input v-model="email" type="email" id="email" name="email" class="w-full px-8 py-4 border border-gray-400 rounded-lg mt-6 focus:outline-none focus:border-2 focus:border-main-color" placeholder="Email" required/>
            <input v-model="password" type="password" id="password" name="password" class="w-full px-8 py-4 border border-gray-400 rounded-lg mt-6 focus:outline-none focus:border-2 focus:border-main-color" placeholder="Password" required/>
            <div class="flex justify-end mt-4">
                <p @click="forgotPass" class="text-main-color text-sm" style="cursor:pointer;">Forgot Password?</p>
            </div>
            <!-- <p class="text-center mt-6">Or</p>
            <div class="w-full flex flex-wrap px-8 py-3 border border-gray-400 rounded-lg mt-6 items-center justify-center cursor-pointer" @click="googleSignUp">
                <img src="../../../assets/image/login/google.png" class="w-auto h-8">
                <p class="ml-2 text-sm">Sign in with Google</p>
            </div> -->
            <input type="submit" class="w-full px-8 py-4 bg-main-color text-white text-center rounded-lg mt-6" value="Log In"/>
            <div class="flex mt-4">
                <p class="text-sm">Don’t have an account?</p>
                <a class="ml-2 text-sm text-main-color" href="register">Sign Up.</a>
            </div>
        </form>

    </div>
</template>

<script>

    export default {
        name: "LoginUser",
        data: function () {
            return {
                email: '',
                password: '',
            }
        },
        methods: {
            forgotPass: function () {
                this.$parent.changePage('forgot')
            },


            loginUser: function (e) {
                e.preventDefault()
                this.$modal.show('loading')

                const axios = require('axios')

                let main = this
                axios.post('https://dtp.ocatelkom.co.id/api/dtp/v1/user/login', {
                    email: main.email,
                    password: main.password
                })
                .then(function (response) {
                    console.log(response.data);
                    if(response.data) {
                        main.$session.start()
                        main.$session.set("user_id", response.data.user_id)
                        main.$session.set("email", response.data.email)
                        main.$session.set("first_name", response.data.first_name)
                        main.$session.set("last_name", response.data.last_name)
                        main.$session.set("token", response.data.token)

                        window.location.href = 'dashboard'
                    }
                })
                .catch(function (error) {
                    main.$modal.show('error', {
                        title: "ERROR " + error.response.data.errors[0].code,
                        message: error.response.data.errors[0].message
                    })
                })
                .finally(() => main.$modal.hide('loading'))
            },

            googleSignUp: function () {
                this.$modal.show('loading')
                const axios = require('axios');

                let main = this
                axios.get('https://dtp.ocatelkom.co.id/api/dtp/v1/google/url')
                    .then(function (response) {
                        if (response.data.url) {
                            window.location.href = response.data.url
                        }
                    })
                    .catch(function (error) {
                        if(error.response.data) {
                            main.$modal.show('error', {
                                title: "ERROR " + error.response.data.errors[0].code,
                                message: error.response.data.errors[0].message
                            })
                        }
                    })
                    .finally(() => {
                        main.$modal.hide('loading')
                    })
            }
        }
    }
</script>

<style scoped>

</style>