<template>
  <div id="app">
    <navbar-short/>

    <!-- TAB -->
    <div class="w-full mt-56 lg:mt-40">
      <ul class="flex justify-center mx-8 sm:mx-16 lg:mx-48">
        <li class="flex-wrap mr-16">
          <p :class="{'border-main-color': currentTab === 'detail', 'text-main-color': currentTab === 'detail', 'font-semibold': currentTab === 'detail'}" class="text-center block border-t-4 border-gray-600 text-md text-gray-600 py-3 lg:px-16 xl:px-24">Payment Details</p>
        </li>
        <li class="flex-wrap mr-16">
          <p :class="{'border-main-color': currentTab === 'method', 'text-main-color': currentTab === 'method', 'font-semibold': currentTab === 'method'}" class="text-center block border-t-4 border-gray-600 text-md text-gray-600 py-3 lg:px-16 xl:px-24">Payment Method</p>
        </li>
        <li class="flex-wrap">
          <p :class="{'border-main-color': currentTab === 'review', 'text-main-color': currentTab === 'review', 'font-semibold': currentTab === 'review'}" class="text-center block border-t-4 border-gray-600 text-md text-gray-600 py-3 lg:px-12 xl:px-20">Review Order and Pay</p>
        </li>
      </ul>
    </div>

    <!-- KONTEN HALAMAN -->
    <div class="w-full mt-16 px-10 lg:px-32 mb-16">
      <payment-detail v-if="currentTab === 'detail'"/>
      <payment-method v-if="currentTab === 'method'"/>
      <payment-review v-if="currentTab === 'review'"/>
    </div>

    <footer-pay class="mb-24"/>
    <loading-overlay/>
    <error-overlay/>
    <detail-modal/>
  </div>
</template>

<script>
  import PaymentDetail from "./components/PaymentDetail";
  import PaymentMethod from "./components/PaymentMethod";
  import PaymentReview from "./components/PaymentReview";
  import FooterPay from "./components/Footer";
  import LoadingOverlay from "../../components/LoadingOverlay";
  import ErrorOverlay from "../../components/ErrorOverlay";
  import DetailModal from "./components/DetailModal";
  import NavbarShort from "../../components/NavbarShort";

  export default {
    name: 'App',
    components: {
      NavbarShort,
      DetailModal,
      ErrorOverlay,
      LoadingOverlay,
      PaymentReview,
      PaymentMethod,
      PaymentDetail,
      FooterPay
    },
    data: function (){
      return {
        currentTab: 'detail',
      }
    },
    created()
    {
      if(!this.$cookies.isKey('lang_oca')){
        this.$cookies.set('lang_oca', 'id')
      }

      let uri = window.location.search.substring(1);
      let params = new URLSearchParams(uri);
      if(params.get("page") != null){
        this.currentTab = params.get("page");
      }

    },
    updated(){
    },
    destroyed() {
      //this.$session.remove('order_id')
    },
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

  #app {
    font-family: Lato;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .block:not(:last-child){
    margin-bottom: 0 !important;
  }
</style>
