<template>
  <section class="jumbotron pt-12 md:pt-32 lg:pt-40">
    <div class="nav-jumbotron bg-white pt-12 lg:pt-12 xl:pt-2" style="border-radius: 0px 0px 80px 0">
      <div class="mx-12 smx:mx-4">
        <div class="max-w-screen-xl mx-auto">
          <div class="wrap-headline text-center">
            <h1 class="custom-38 font-bold" style="font-size:44px; line-height:0.8">Sesuaikan paket</h1>
            <h1 class="custom-38 font-bold" style="font-size:44px">Dengan kebutuhan Anda</h1>
            <div class="text-custom-31 mt-4 mb-20">Oca menyediakan banyak pilihan paket untuk menyesuaikan <br> kebutuhan semua skala bisnis</div>
          </div>

          <!-- Table -->
          <div class="wrapper-table-pricing">
            <table class="relative">
            <tr>
              <th style="width:200px;height:260px;border:0;">
                <div class="text-custom-38 font-bold text-2xl">Daftar & <br> Detail Paket</div>
                <div class="text-custom-31 font-normal">Perbandingan fitur paket </div>
              </th>
              <th class="box-2 box-top " style="text-align:center !important;width:200px;height:260px">
                <div class="top-line"></div>
                <div class="text-neutral-500 text-xl mb-4 font-bold">Free</div>
                <div class="text-neutral-600 text-xs font-normal mb-10">Mulai coba OCA</div>
                <div class="text-neutral-500 text-xl mb-16 font-semibold">Rp0</div>
                <button @click="gotoRegister()" class="text-primary w-full py-1 border-primary font-semibold border rounded-md hover:bg-primary hover:text-custom-41 text-xs">Coba Gratis</button>
              </th>
              <th class=" box-3" style="text-align:center !important;width:200px;height:260px">
                <div class="top-line"></div>
                <div class="text-neutral-500 text-xl mb-4 font-bold">UMKM</div>
                <div class="text-neutral-600 text-xs font-normal mb-6">Paket standar UMKM <br> dan bisnis kecil</div>
                <div class="price-wrapper">
                  <div class="price-slash"></div>
                  <div class="price text-xs text-neutral-200 mb-6 font-semibold">Rp699K</div>
                </div>
                <div class="text-neutral-500 text-xl mb-6 font-semibold">RP{{price.umkm / 1000}}K</div>
                <button @click="gotoRegister()" class="text-primary w-full py-1 border-primary font-semibold border rounded-md hover:bg-primary hover:text-custom-41 text-xs">Pilih</button>
              </th>
              <th class="box-4 line-startup relative line-startup" style="text-align:center !important;width:200px;height:260px;border-top: 2px solid #E81255;">
                <div class="top-line-popular"></div>
                <div class="popular font-normal text-xs text-white">Terpopuler</div>
                <div class="text-neutral-500 text-xl mb-4 font-bold">Startup</div>
                <div class="text-neutral-600 text-xs font-normal mb-6">Komunikasi konsisten dan <br> lebih banyak konsumen</div>
                <div class="price-wrapper">
                  <div class="price-slash"></div>
                  <div class="price text-xs text-neutral-200 mb-6 font-semibold">Rp1049K</div>
                </div>
                <div class="text-neutral-500 text-xl mb-6 font-semibold">RP{{price.startup / 1000}}K</div>
                <button @click="gotoRegister()" class="text-primary w-full py-1 border-primary font-semibold border rounded-md hover:bg-primary hover:text-custom-41 text-xs">Pilih</button>
              </th>
              <th class=" box-5" style="text-align:center !important;width:200px;height:260px;">
                <div class="top-line"></div>
                <div class="text-neutral-500 text-xl mb-4 font-bold">SME</div>
                <div class="text-neutral-600 text-xs font-normal mb-6">Untuk skala tim dan <br> konsumen yang lebih besar</div>
                <div class="price-wrapper">
                  <div class="price-slash"></div>
                  <div class="price text-xs text-neutral-200 mb-6 font-semibold">Rp1499K</div>
                </div>
                <div class="text-neutral-500 text-xl mb-6 font-semibold">RP{{price.sme / 1000}}K</div>
                <button @click="gotoRegister()" class="text-primary w-full py-1 border-primary font-semibold border rounded-md hover:bg-primary hover:text-custom-41 text-xs">Pilih</button>
                </th>
              <th class=" box-6" style="text-align:center !important;width:200px;height:260px">
                <div class="top-line"></div>
                <div class="text-neutral-500 text-xl mb-4 font-bold">Enterprise</div>
                <div class="text-neutral-600 text-xs font-normal mb-10">Butuh lebih?</div>
                <div class="text-neutral-500 font-medium text-sm mb-14">Atur sesuai <br> kebutuhan Anda</div>
                <button @click="gotoWa()" class="text-primary w-full py-1 border-primary font-semibold border rounded-md hover:bg-primary hover:text-custom-41 text-xs">Kontak kami</button>
              </th>
            </tr>
            <tr class="oca-blast">
              <td class="text-base font-bold text-neutral-500">OCA BLAST</td>
              <td class="box-2"></td>
              <td class="box-3"></td>
              <td class="box-4 line-startup line-startup"></td>
              <td class="box-5"></td>
              <td class="box-6"></td>
            </tr>
            <tr>
              <td class="font-normal text-base text-neutral-600 off-border">IVR</td>
              <td class="box-2 text-neutral-600 font-semibold off-border" style="text-align:center !important;">100 detik</td>
              <td class="box-3 off-border"></td>
              <td class="box-4 line-startup off-border line-startup"></td>
              <td class="box-5 off-border"></td>
              <td class="box-6 off-border"></td>
            </tr>
            <tr>
              <td class="font-normal text-base text-neutral-600 off-border">SMS</td>
              <td class="box-2 font-semibold text-neutral-600 text-sm off-border" style="text-align:center !important;">10 SMS</td>
              <td class="box-3 font-semibold text-neutral-600 text-sm off-border" style="text-align:center !important;">
                <div class="flex items-center justify-center" style="text-align:center !important;">
                  Kuota 100K 
                  <div class="div tooltip" >
                    <img  class="ml-4 h-auto cursor-pointer" style="width:15px" src="../../../assets/image/pricing_bg/help-circle.png" alt="">
                      <div style="box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.09);border-radius: 5px;background: #312F30;z-index:100" class="tooltiptext text-xsm text-white absolute font-normal text-xs bottom-0 w-full p-4 py-4 px-4">Kuota senilai 100k wajib dialokasikan menjadi kuota OCA Blast yang Anda dapat atur sendiri saat selesai pembayaran.</div>
                  </div>
                </div>
              </td>
              <td class="box-4 line-startup font-semibold text-neutral-600 text-sm off-border line-startup" style="text-align:center !important;">
                <div class="flex items-center justify-center" style="text-align:center !important;">
                   Kuota 200K
                  <div class="div tooltip" >
                    <img  class="ml-4 h-auto cursor-pointer" style="width:15px" src="../../../assets/image/pricing_bg/help-circle.png" alt="">
                      <div style="box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.09);border-radius: 5px;background: #312F30;z-index:100" class="tooltiptext text-xsm text-white absolute font-normal text-xs bottom-0 w-full p-4 py-4 px-4">Kuota senilai 200k wajib dialokasikan menjadi kuota OCA Blast yang Anda dapat atur sendiri saat selesai pembayaran. </div>
                  </div>
                </div>
              </td>
              <td class="box-5 font-semibold text-neutral-600 text-sm off-border" style="text-align:center !important;">
                <div class="flex items-center justify-center" style="text-align:center !important;">
                   Kuota 350K
                  <div class="div tooltip" >
                      <img  class="ml-4 h-auto cursor-pointer" style="width:15px" src="../../../assets/image/pricing_bg/help-circle.png" alt="">
                      <div style="box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.09);border-radius: 5px;background: #312F30;z-index:100" class="tooltiptext text-xsm text-white absolute font-normal text-xs bottom-0 w-full p-4 py-4 px-4">Kuota senilai 350k wajib dialokasikan menjadi kuota OCA Blast yang Anda dapat atur sendiri saat selesai pembayaran.</div>
                  </div>
                </div>
              </td>
              <td class="box-6 font-semibold text-neutral-600 text-sm off-border" style="text-align:center !important;">Unlimited</td>
            </tr>
            <tr>
              <td class="font-normal text-base text-neutral-600 off-border">Email</td>
              <td class="box-2 font-semibold text-neutral-600 text-sm off-border" style="text-align:center !important;">10 Email</td>
              <td class="box-3 off-border"></td>
              <td class="box-4 line-startup off-border line-startup"></td>
              <td class="box-5 off-border"></td>
              <td class="box-6 off-border"></td>
            </tr>
            <tr>
              <td><span class="font-normal text-base text-neutral-600">Whatsapp</span> <br><span @click="gotoRegister()" class="text-primary">*</span><span class="text-xs font-normal text-neutral-300">Menggunakan masking OCA/ <br>Pengajuan masking sendiri</span></td>
              <td class="box-2" style="font-size:30px;text-align:center !important">-</td>
              <td class="box-3" style="font-size:30px;text-align:center !important">-</td>
              <td class="box-4 line-startup" style="font-size:30px;text-align:center !important">-</td>
              <td class="box-5"><img class="mx-auto my-0" style="width:20px;text-align: center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-6"><img class="mx-auto my-0" style="width:20px;text-align: center !important" src="../../../assets/image/check-new.png" alt=""></td>
            </tr>
            <tr class="oca-blast">
              <td class="text-base font-bold text-neutral-500">OCA Interaction</td>
              <td class="box-2"></td>
              <td class="box-3"></td>
              <td class="box-4 line-startup"></td>
              <td class="box-5"></td>
              <td class="box-6"></td>
            </tr>
             <tr>
              <td class="font-normal text-base text-neutral-600">Jumlah Agent</td>
              <td class="box-2 font-normal text-neutral-600 text-sm" style="text-align:center !important;">1 User</td>
              <td class="box-3 font-normal text-neutral-600 text-sm" style="text-align:center !important;">3 User</td>
              <td class="box-4 line-startup font-normal text-neutral-600 text-sm" style="text-align:center !important;">5 User</td>
              <td class="box-5 font-normal text-neutral-600 text-sm" style="text-align:center !important;">8 User</td>
              <td class="box-6 font-normal text-neutral-600 text-sm" style="text-align:center !important;">Unlimited</td>
            </tr>
             <tr>
              <td class="font-normal text-base text-neutral-600">Ticketing</td>
              <td class="box-2" style="font-size:30px;text-align:center !important">-</td>
              <td class="box-3" style="font-size:30px;text-align:center !important">-</td>
              <td class="box-4 line-startup"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-5"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-6"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
            </tr>
            <tr>
              <td class="font-normal text-base text-neutral-600">Auto Distribution System</td>
              <td class="box-2"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-3"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-4 line-startup"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-5"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-6"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
            </tr>
            <tr>
              <td class="font-normal text-base text-neutral-600">Internal Communication</td>
              <td class="box-2" style="font-size:30px;text-align:center !important">-</td>
              <td class="box-3" style="font-size:30px;text-align:center !important">-</td>
              <td class="box-4 line-startup"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-5"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-6"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
            </tr>
            <tr>
              <td class="font-normal text-base text-neutral-600">Multimedia Message</td>
              <td class="box-2 text-center" style="font-size:30px">-</td>
              <td class="box-3 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-4 line-startup text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-5 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-6 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
            </tr>
            <tr>
              <td class="font-normal text-base text-neutral-600">Labeling</td>
              <td class="box-2 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-3 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-4 line-startup text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-5 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-6 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
            </tr>
            <tr>
              <td class="font-normal text-base text-neutral-600">Quick Reply Template</td>
              <td class="box-2 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-3 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-4 line-startup text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-5 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-6 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
            </tr>
            <tr>
              <td class="font-normal text-base text-neutral-600">Insight & Reporting</td>
              <td class="box-2 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-3 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-4 line-startup text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-5 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-6 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
            </tr>
            <tr>
              <td class="font-normal text-base text-neutral-600">Team Perfomance</td>
              <td class="box-2 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-3 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-4 line-startup text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-5 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-6 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
            </tr>
            <tr>
              <td class="font-normal text-base text-neutral-600">Knowledge Base</td>
              <td class="box-2 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-3 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-4 line-startup text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-5 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-6 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
            </tr>
            <tr>
              <td class="font-normal text-base text-neutral-600">Webchat</td>
              <td class="box-2 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-3 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-4 line-startup text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-5 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-6 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
            </tr>
            <tr>
              <td class="font-normal text-base text-neutral-600">Email</td>
               <td class="box-2 text-center" style="font-size:30px;text-align:center !important">-</td>
              <td class="box-3 text-center" style="font-size:30px;text-align:center !important">-</td>
              <td class="box-4 line-startup text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-5 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
              <td class="box-6 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
            </tr>
            <tr>
              <td class="font-normal text-base text-neutral-600">Social Media</td>
              <td class="box-2 text-center" style="text-align:center !important">
                <div class="flex items-center items-center justify-center" style="text-align:center !important">
                <img style="width:20px" src="../../../assets/image/pricing_bg/fb.png" alt="">
                </div>
              </td>
              <td class="box-3 text-center" style="text-align:center !important">
                <div class="flex items-center items-center justify-center" style="text-align:center !important">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/fb.png" alt="">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/ig.png" alt="">
                <img style="width:20px" src="../../../assets/image/pricing_bg/twitter.png" alt="">
                </div>
              </td>
              <td class="box-4 line-startup text-center" style="text-align:center !important">
                <div class="flex items-center items-center justify-center">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/fb.png" alt="">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/ig.png" alt="">
                <img style="width:20px" src="../../../assets/image/pricing_bg/twitter.png" alt="">
                </div>
              </td>
              <td class="box-5 text-center" style="text-align:center !important">
                <div class="flex items-center items-center justify-center">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/fb.png" alt="">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/ig.png" alt="">
                <img style="width:20px" src="../../../assets/image/pricing_bg/twitter.png" alt="">
                </div>
              </td>
              <td class="box-6 text-center" style="text-align:center !important">
                <div class="flex items-center items-center justify-center">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/fb.png" alt="">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/ig.png" alt="">
                <img style="width:20px" src="../../../assets/image/pricing_bg/twitter.png" alt="">
                </div>
              </td>
            </tr>
            <tr>
              <td class="font-normal text-base text-neutral-600">Social Media Messaging</td>
              <td class="box-2 text-center" style="text-align:center !important">
                <div class="flex items-center items-center justify-center">
                <img style="width:20px" src="../../../assets/image/pricing_bg/mesenger.png" alt="">
                </div>
              </td>
              <td class="box-3 text-center" style="text-align:center !important">
                <div class="flex items-center items-center justify-center">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/mesenger.png" alt="">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/twitter.png" alt="">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/line.png" alt="">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/whatsapp.png" alt="">
                <img style="width:20px" src="../../../assets/image/pricing_bg/telegram.png" alt="">
                </div>
              </td>
              <td class="box-4 line-startup text-center" style="text-align:center !important">
                <div class="flex items-center items-center justify-center">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/mesenger.png" alt="">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/twitter.png" alt="">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/line.png" alt="">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/whatsapp.png" alt="">
                <img style="width:20px" src="../../../assets/image/pricing_bg/telegram.png" alt="">
                </div>
              </td>
              <td class="box-5 text-center" style="text-align:center !important">
                <div class="flex items-center items-center justify-center">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/mesenger.png" alt="">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/twitter.png" alt="">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/line.png" alt="">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/whatsapp.png" alt="">
                <img style="width:20px" src="../../../assets/image/pricing_bg/telegram.png" alt="">
                </div>
              </td>
              <td class="box-6 text-center" style="text-align:center !important">
                <div class="flex items-center items-center justify-center">
                 <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/mesenger.png" alt="">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/twitter.png" alt="">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/line.png" alt="">
                <img style="width:20px" class="mr-4" src="../../../assets/image/pricing_bg/whatsapp.png" alt="">
                <img style="width:20px" src="../../../assets/image/pricing_bg/telegram.png" alt="">
                </div>
              </td>
            </tr>
            <tr>
              <td class="font-normal text-base text-neutral-600">Telephony</td>
              <td class="box-2 text-center" style="font-size:30px;text-align:center !important">-</td>
              <td class="box-3 text-center" style="font-size:30px;text-align:center !important">-</td>
              <td class="box-4 line-startup text-center" style="font-size:30px;text-align:center !important">-</td>
              <td class="box-5 text-center" style="font-size:30px;text-align:center !important">-</td>
              <td class="box-6 text-center"><img class="mx-auto my-0" style="width:20px;text-align:center !important" src="../../../assets/image/check-new.png" alt=""></td>
            </tr>
            <tr class="oca-blast">
              <td class="text-base font-bold text-neutral-500">OCA Profiling</td>
              <td class="box-2 neutral-600 font-medium text-sm text-center" style="text-align:center !important">Hubungi Sales</td>
              <td class="box-3 neutral-600 font-medium text-sm text-center" style="text-align:center !important">Hubungi Sales</td>
              <td class="box-4 line-startup neutral-600 font-medium text-sm text-center" style="text-align:center !important">Hubungi Sales</td>
              <td class="box-5 neutral-600 font-medium text-sm text-center" style="text-align:center !important">Hubungi Sales</td>
              <td class="box-6 neutral-600 font-medium text-sm text-center" style="text-align:center !important">Hubungi Sales</td>
            </tr>
            <tr>
              <td style="border:0;">
                <span class="text-2xl font-bold text-neutral-500 mb-2" style="margin-top:3rem">Daftar & <br/> Detail Paket </span>
                <span class="text-base font-normal text-neutral-400">Perbandingan fitur paket</span>
              </td>
              <td class="box-2 neutral-600 font-medium text-sm text-center" style="width:200px;height:260px;text-align:center !important;position: relative;">
                <div class="text-neutral-500 text-xl mb-4 font-bold">Free</div>
                <div class="text-neutral-600 text-xs font-normal mb-10">Mulai coba OCA</div>
                <div class="text-neutral-500 text-xl mb-16 font-semibold">Rp0</div>
                <button @click="gotoRegister()" class="btn-regist text-primary w-full py-1 border-primary font-semibold border rounded-md hover:bg-primary hover:text-custom-41 text-xs">Coba Gratis</button>
              </td>
              <td class="box-3 neutral-600 font-medium text-sm text-center" style="text-align:center !important;position: relative;">
                <div class="text-neutral-500 text-xl mb-4 font-bold">UMKM</div>
                <div class="text-neutral-600 text-xs font-normal mb-6">Paket standar UMKM <br> dan bisnis kecil</div>
                <div class="text-neutral-500 text-xl mb-16 font-semibold">RP{{price.umkm / 1000}}K</div>
                <button @click="gotoRegister()" class="btn-regist  text-primary w-full py-1 border-primary font-semibold border rounded-md hover:bg-primary hover:text-custom-41 text-xs">Pilih</button>
              </td>
              <td class="box-4 line-startup neutral-600 font-medium text-sm text-center" style="text-align:center !important;position: relative;;border-bottom: 2px solid #E81255;">
                <div class="text-neutral-500 text-xl mb-4 font-bold">Startup</div>
                <div class="text-neutral-600 text-xs font-normal mb-6">Komunikasi konsisten dan <br> lebih banyak konsumen</div>
                <div class="text-neutral-500 text-xl mb-16 font-semibold">RP{{price.startup / 1000}}K</div>
                <button @click="gotoRegister()" class="btn-regist  text-primary w-full py-1 border-primary font-semibold border rounded-md hover:bg-primary hover:text-custom-41 text-xs">Pilih</button>
              </td>
              <td class="box-5 neutral-600 font-medium text-sm text-center" style="text-align:center !important;position: relative;">
                <div class="text-neutral-500 text-xl mb-4 font-bold">SME</div>
                <div class="text-neutral-600 text-xs font-normal mb-6">Untuk skala tim dan <br> konsumen yang lebih besar</div>
                <div class="text-neutral-500 text-xl mb-16 font-semibold">RP{{price.sme / 1000}}K</div>
                <button @click="gotoRegister()" class="btn-regist  text-primary w-full py-1 border-primary font-semibold border rounded-md hover:bg-primary hover:text-custom-41 text-xs">Pilih</button>
              </td>
              <td class="box-6 neutral-600 font-medium text-sm text-center" style="text-align:center !important;position: relative;">
                <div class="text-neutral-500 text-xl mb-4 font-bold">Enterprise</div>
                <div class="text-neutral-600 text-xs font-normal mb-10">Butuh lebih?</div>
                <div class="text-neutral-500 font-medium text-sm mb-14">Atur sesuai <br> kebutuhan Anda</div>
                <button @click="gotoWa()" class="btn-regist  text-primary w-full py-1 border-primary font-semibold border rounded-md hover:bg-primary hover:text-custom-41 text-xs">Kontak kami</button>
              </td>
            </tr>
          </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  name:"PricingComp",
  components:{
  },
  data:function(){
    return{
         show: {
          telkom: false,
          inalum: false,
          kemensos: false,
          indihome: false,
          toeic: false
        },
        price: {
          umkm: 0,
          startup: 0,
          sme: 0
        }
    }
  },
  mounted() {
    this.loadPrice()
  },
  methods:{
    loadPrice: function () {
        const axios = require('axios')

        let main = this
        axios.get('https://payment.ocatelkom.co.id/api/v1/price-list', {
            headers: {
                'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
            }
        })
            .then(function (response) {
                console.log(response.data.product.new_package);
                let priceData = {
                  umkm: response.data.product.new_package[1].price,
                  startup: response.data.product.new_package[2].price,
                  sme: response.data.product.new_package[3].price
                }
                main.price = priceData
            })
    },
    gotoRegister(){
      window.location.href = "https://staging-newdash.ocatelkom.co.id/account/register"
    },
    gotoWa(){
      window.location.href = "https://api.whatsapp.com/message/CJYNUR2AAUSVG1"
    }
  }

  
}
</script>

<style scoped>
.header-slide-enter-active, .header-slide-leave-active {
    transition: all .5s ease-in-out;
  }

  .header-slide-enter, .header-slide-leave-active {
    opacity: 0;
    transform: translate(100%, 0);
  }

.slide-up-enter-active, .slide-up-leave-active {
  transition: all .5s ease-out;
}

.slide-up-enter, .slide-up-leave-to {
  margin-bottom: -50px;
  opacity: 0;
}

.slide-up-enter-to, .slide-up-leave {
  margin-bottom: 0px;
  opacity: 1;
}
</style>