<template>
  <div id="app" class="relative h-screen">
    <div id="ff-compose"></div>
    <div class="fixed right-2 bottom-7 z-50">
      <img @click="changeWaFloating" class="w-16 cursor-pointer" src="../../assets/image/wa-floating.png">
    </div>
    <transition name="fade">
      <wa-barcode v-if="showWaFloating" class="fixed xxxl:right-6 xxl:right-7 xls:right-8 right-8 bottom-7 xls:bottom-6 shadow-lg z-50" />
    </transition>
  <div class="overflow-hidden">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFHTVZD"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="flex flex-grow">
      <div class="z-20 w-full relative lg:bg-white bg-white">
        <Navbar style="background: white !important;" id="nav" v-bind:is-shown="false" :isUmkm="true" class="fixed navbar-default lg:bg-white bg-white pt-1"/>
        <transition name="fade">
          <wa-barcode v-if="showWa" class="absolute xxxl:right-17 xxl:right-19 xls:right-22 right-25 top-8 shadow-lg" />
        </transition>
        <header-content class="mt-40"/>
      </div>
    </div>
    <div class="lg:mx-16">
      <o-c-a-profiling class="mt-12" :konten="profiling"/>
      <o-c-a-interaction class="mt-12" :konten="interaction"/>
      <Ticket class="mt-12" :konten="profiling"/>
      <Insight class="mt-12" :konten="interaction"/>
    </div>
    <div class="flex justify-center mt-12">
      <div class="flex flex-col">
        <div class="text-center text-3xl font-bold text-black">Pre-order sekarang </div>
        <div class="text-center text-md text-custom-4 tracking-wide mt-2">Klaim akun OCA Interaction full feature gratis selama 1 bulan</div>
        <div class="flex justify-center my-4">   
          <div @click="setModal" class="bg-custom-2 rounded-md text-center cursor-pointer text-white text-sm px-10 py-2">Pesan</div>   
        </div>
      </div>
    </div>
    <div class="h-1 border-gray-400 lg:mx-20 mt-16" :class="{'border-t-2' : !this.$session.exists()}"></div>
    <Footer/>

      <loading-overlay/>
  </div>
  <form-modal />
  <thanks-modal />
  </div>
</template>

<script>
  import Navbar from "../../components/Navbar";
  import WaBarcode from "../../components/waBarcode";
  import HeaderContent from "./components/HeaderContent";
  import Footer from "../../components/Footer";
  import OCAProfiling from "./components/OCAProfiling";
  import OCAInteraction from "./components/OCAInteraction";
  import Ticket from "./components/Ticket";
  import Insight from "./components/Insight";
  import LoadingOverlay from "../../components/LoadingOverlay";
  import FormModal from "./components/modal/FormModal";
  import ThanksModal from "./components/modal/ThanksModal";
  import "../../google_tag.js"

  export default {
    name: 'App',
    components: {
      LoadingOverlay,
      OCAInteraction,
      OCAProfiling,
      FormModal,
      ThanksModal,
      Ticket,
      Insight,
      Navbar,
      HeaderContent,
      Footer,
      WaBarcode,
    },
    data: function () {
      return {
        show: false,
        showWa: false,
        showWaFloating: false,
          profiling: {},
          interaction: {},
          api: {},
          chatbot: {}
      }
    },
    mounted() {
      let liveChat = document.createElement('script')
      liveChat.async = true
      liveChat.defer = true
      liveChat.setAttribute('crossOrigin', 'anonymous')
      liveChat.setAttribute('src', 'https://code.jivosite.com/widget/aAlTqVN5rV')
      document.head.appendChild(liveChat)

      //Google Analytics script
      let analytic = document.createElement('script')
      analytic.async = true
      analytic.defer = true
      analytic.setAttribute('crossOrigin', 'anonymous')
      analytic.setAttribute('src', 'https://www.googletagmanager.com/gtag/js?id=UA-169935056-1')
      document.head.appendChild(analytic)
    },
    methods: {
        setModal: function() {
            this.$modal.show('form-modal')
        },
        handleScroll: function () {
            var nav = document.querySelector('#nav')
            var navHead = document.querySelector('#nav_head')
            if(window.scrollY > 70 && this.show === false){
              nav.classList.toggle('scrolled')
              navHead.classList.toggle('hidden')
              this.show = true
            }

            if(window.scrollY < 70 && this.show === true){
              nav.classList.toggle('scrolled')
              navHead.classList.toggle('hidden')
              this.show = false
            }
        },

        loadData: function () {
            const axios = require('axios')

            let main = this
            let url = 'https://dtpx1.ocatelkom.co.id/api/product/' + this.$cookies.get('lang_oca')
            axios.get(url)
                .then(function (response) {
                    main.profiling = response.data.oca_profiling
                    main.interaction = response.data.oca_interaction
                    main.api = response.data.detail[0]
                    main.chatbot = response.data.detail[1]
                })
        },

        changeWa: function () {
          this.showWa = !this.showWa  
          this.showWaFloating = false
        },
        changeWaFloating: function () {
          this.showWaFloating = !this.showWaFloating  
          this.showWa = false
        }
    },
    created: function () {
        if(!this.$cookies.isKey('lang_oca')){
            this.$cookies.set('lang_oca', 'id')
        }
        window.addEventListener('scroll', this.handleScroll);

        this.loadData()
    },
    destroyed: function () {
      window.removeEventListener('scroll', this.handleScroll);
    },

    //INJECT META HTML
    metaInfo(){
      return {
        title: `OCA Interaction - Telkom OCA solusi omnichannel - Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast`,
        meta: [
          {
            name: 'keywords',
            content: 'Telkom OCA, omnichannel platform, whatsapp bisnis, email blast, ivr call, sms blast'
          },
          {
            name: 'author',
            content: 'Telkom OCA'
          },
          {
            name: 'description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            name: 'thumbnail',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
          {
            property: 'og:title',
            content: "Telkom OCA Omnichannel Platform"
          },
          {
            property: 'og:description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            property: 'og:image',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
          {
            property: 'twitter:card',
            content: "summary"
          },
          {
            property: 'twitter:site',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:creator',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:title',
            content: 'Telkom OCA Omnichannel Platform'
          },
          {
            property: 'twitter:url',
            content: 'https://ocatelkom.co.id'
          },
          {
            property: 'twitter:description',
            content: 'Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast'
          },
          {
            property: 'twitter:image:src',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
        ]
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

  #app {
    font-family: Lato;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
