<template>
    <div class="lg:ml-4 xl:ml-5 xl:w-full md:my-0 md:mx-auto">
        <img class="my-0 mx-auto w-9/12 sm:w-10/12 xl:w-10/12 lg:w-full" src="../../../assets/image/register/bg-register.png">
    </div>
</template>

<script>
    export default {
        name: "Employee",
        // data: function () {
        //     return {
        //         konten: {}
        //     }
        // },
        // created() {
        //     this.loadData()
        // },
        // methods: {
        //     loadData: function () {
        //         const axios = require('axios')

        //         let main = this
        //         let url = 'https://dtpx1.ocatelkom.co.id/api/login/' + this.$cookies.get('lang_oca')
        //         axios.get(url)
        //         .then(function (response) {
        //             main.konten = response.data
        //         })
        //     }
        // }
    }
</script>

<style scoped>

</style>