<template>
  <div id="app" class="w-screen h-screen flex flex-wrap bg-main-color justify-center items-center">
    <p class="text-white text-3xl font-bold">MOHON TUNGGU</p>
    <error-overlay/>
  </div>
</template>

<script>

  import ErrorOverlay from "../../components/ErrorOverlay";
  export default {
    name: 'App',
    components: {
      ErrorOverlay,
    },
    created() {
      if(!this.$cookies.isKey('lang_oca')){
        this.$cookies.set('lang_oca', 'id')
      }

      let uri = window.location.search.substring(1);
      let params = new URLSearchParams(uri);
      if(params.get("code") != null){
        this.verifikasi(params.get("code"))
      }
    },
    methods: {
      verifikasi: function (code) {
        const axios = require('axios')

        let url = 'https://dtp.ocatelkom.co.id/api/dtp/v1/account/google/callback?code=' + code
        let main = this
        axios.get(url)
        .then(function (response) {
          main.$session.start()
          main.$session.set("user_id", response.data.user_id)
          main.$session.set("email", response.data.email)
          main.$session.set("first_name", response.data.first_name)
          main.$session.set("last_name", response.data.last_name)
          main.$session.set("token", response.data.token)
          window.location.href = 'dashboard'
        })
        .catch(function (error) {
          //PANGGIL MODAL DENGAN PARAMETER
          main.$modal.show('error', {
            title: "ERROR " + error.response.data.errors[0].code,
            message: error.response.data.errors[0].message
          })
        })
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

  #app {
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
