<template>
    <div class=" my-0 mx-auto w-9/12 flex flex-wrap lg:mx-24 xl:mx-40 md:w-9/12 md:my-0 md:mx-auto">
        <form class="w-full" method="post" @submit="loginUser">
            <!-- TEKS INI TAMPIL SAAT USER SELESAI VERIFIKASI MELALUI EMAIL -->
            <p class="w-full text-sm text-main-color mb-4" v-show="$parent.verified">Akun anda berhasil diverifikasi. Silahkan Login untuk melanjutkan.</p>
            <div class="lg:mb-10">
                <p class="mt-5 text-3xl font-bold lg:mt-0 md:mt-10 xl:mt-16 text-neutral-600">Welcome to OCA!</p>
                <div class="flex mt-1">
                    <p class="text-neutral-200 text-xsm ">Engage your customers with simple action. Already have an account? 
                    <a class="text-xsm text-main-color" style="border-bottom:1px solid;" href="loginV2">Log in here</a>
                    </p>
                </div>
            </div>
            <p class="text-neutral-600 my-2">Email</p>
            <oca-input class="" type="email" placeholder="Masukan email" v-model="email" label="Email"> </oca-input>
            <p class="text-neutral-600 my-2">Password</p>
            <oca-input class="" type="password" placeholder="Masukan password" v-model="password" label="Password"> </oca-input>
            <div class="flex justify-between mt-4">
                <div class="flex items-center">
                    <input type="checkbox" id="remember" class="border-neutral-200 mr-1" name="remember" value="Bike">
                    <label for="remember" class="text-neutral-200 text-xsm">I agree to OCA’s <a href="#" target="_blank" class="text-main-color text-xsm">Terms of Use</a> and <a href="#" target="_blank" class="text-main-color text-xsm">Privacy Policy.</a></label><br>
                </div>
            </div>
            <input @click="stepForm" type="submit" class="px-4 py-2 bg-custom-25 text-white text-center rounded-lg mt-12 text-xxsm cursor-pointer" value="Create an account"/>
        </form>
    </div>
</template>

<script>
  import OcaInput from '../../../components/oca_origin/inputs';

    export default {
        name: "RegisterUser",
        components:{
            OcaInput
        },
        data: function () {
            return {
                email: '',
                password: '',
            }
        },
        methods: {
            forgotPass: function () {
                this.$parent.changePage('forgot')
            },
            stepForm: function () {
                this.$parent.changePage('stepform')
            },
            loginUser: function (e) {
                e.preventDefault()
                this.$modal.show('loading')

                const axios = require('axios')

                let main = this
                axios.post('https://dtp.ocatelkom.co.id/api/dtp/v1/user/login', {
                    email: main.email,
                    password: main.password
                })
                .then(function (response) {
                    console.log(response.data);
                    if(response.data) {
                        main.$session.start()
                        main.$session.set("user_id", response.data.user_id)
                        main.$session.set("email", response.data.email)
                        main.$session.set("first_name", response.data.first_name)
                        main.$session.set("last_name", response.data.last_name)
                        main.$session.set("token", response.data.token)

                        window.location.href = 'dashboard'
                    }
                })
                .catch(function (error) {
                    main.$modal.show('error', {
                        title: "ERROR " + error.response.data.errors[0].code,
                        message: error.response.data.errors[0].message
                    })
                })
                .finally(() => main.$modal.hide('loading'))
            },

            googleSignUp: function () {
                this.$modal.show('loading')
                const axios = require('axios');

                let main = this
                axios.get('https://dtp.ocatelkom.co.id/api/dtp/v1/google/url')
                    .then(function (response) {
                        if (response.data.url) {
                            window.location.href = response.data.url
                        }
                    })
                    .catch(function (error) {
                        if(error.response.data) {
                            main.$modal.show('error', {
                                title: "ERROR " + error.response.data.errors[0].code,
                                message: error.response.data.errors[0].message
                            })
                        }
                    })
                    .finally(() => {
                        main.$modal.hide('loading')
                    })
            }
        }
    }
</script>

<style scoped>

</style>