<template>
    <div class="mx-auto">
        <div class="flex flex-row">
            <div class="flex flex-col m-6 py-2 justify-center">
                <div class="m-1" v-for="item in 4" :key="item" >
                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle v-if="item === currentSelected" cx="5.5" cy="5.5" r="5.5" fill="#ED1260"/>
                        <circle v-if="item === currentSelected" cx="5.5" cy="5.5" r="5.5" fill="#ED1260"/>
                        <circle v-if="item !== currentSelected" cx="5.5" cy="5.5" r="5.5" fill="rgba(187, 193, 200, 0.5)"/>
                    </svg>
                </div>
            </div>
            <div class="flex flex-col justify-center p-1 xl:max-w-lg">
                <agile @after-change="showCurrentSlide($event)" :dots="false" :nav-buttons="false" :autoplay-speed="5000" :speed="2500" fade pause-on-hover pause-on-dots-hover autoplay>
                <div v-for="n in 4" :key="n" class="w-full flex-col px-8 py-8 bg-white xl:w-78" style="border-radius: 25px">
                    <p class="mb-4 text-main-color text-lg font-semibold">{{kontens.name[n]}}</p>
                    <p class="text-xs mb-10 font-medium text-gray-800">{{kontens.description[n]}}</p>
                    <div class="flex items-end">
                        <p class="text-sm text-gray-500">{{companyName[n]}}</p>
                    </div>
                </div>
                </agile>
            </div>
            <div class="self-end flex">
                <img class="xl:w-16 h-auto" src="../../../assets/image/face-1.png">
            </div>
        </div>
    </div>
</template>

<script>
import { VueAgile } from 'vue-agile'
    export default {
        name: "Employee",
        data: function () {
            return {
                currentSelected: 1,
                konten: { },
                kontens: {
                    name: ['', 'Salma Studio', 'Makanan Sehat ID', 'Si Tagor', 'JualPaperBag.com'],
                    description: ['', 'Bisnis pusat kebugaran yang disediakan oleh Salma Studio ini beda dengan yang lainnya, tempat ini hanya dapat diakses oleh wanita. Dengan target yang spesifik tentunya menjaga konsumen yang existing akan menjadi tantangan. Tantangan tersebut dijawab dengan menggunakan OCA, memanfaatkan sistem scheduler yang untuk mengingatkan konsumennya setiap minggu baik untuk datang kembali ataupun promo-promo yang dilakukan.', 'UMKM makanan yang berada di daerah Bintaro ini dikenal dengan berbagai produknya yang bertema dengan makanan & minuman yang sehat. Selalu menceritakan tentang hal yang baru dan berkomunikasi dengan pelanggannya melalui whatsapp membuat Admin mudah dihubungi. Hal ini menjadi kunci sukses dari Makanan Sehat ID untuk terus mengembangkan bisnisnya.', 'Bisnis rumahan yang ini, dikenal dengan spesialisasinya dalam membuat Batagor. Berdomisili di Bandung, membuat bisnis ini mengalami kesulitan untuk mendapatkan kesempatan ekspansi dengan cakupan yang cukup jelas. Hingga akhirnya UMKM ini menggunakan OCA, dengan menggunakan salah ssatu fitur yaitu OCA Profiling  Si Tagor mulai melakukan promosi yang lebih signifikan berdasarkan target pelanggan baik dari lokasi ataupun umur.', 'UMKM yang satu ini sudah dikenal semenjak mulai beralih ke digital, bahkan perusahaan ternama sudah menjadi klien mereka. Setelah mendapatkan banyak konsumen muncul masalah dalam berkomunikasi kepada klien. Hingga akhirnya JualPaperBag.com mulai menggunakan OCA. Dengan pengerjaan yang tepat waktu, bisnis ini dapat mengirimkan pesan secara otomatis kepada seluruh klien mereka pada saat barang pesanan tersebut sudah selesai pengerjaan. Tentunya hal ini dengan menafaatkan  fitur Scheduler dari OCA.']
                },
                companyName: ['', 'instagram: @salma.studio', 'instagram: @makananSehat', 'instagram: @basomalang', 'instagram: @adjie214', ]
            }
        },
        components: {
            agile: VueAgile 
        },
        created() {
            this.loadData()
        },
        methods: {
            loadData: function () {
                const axios = require('axios')

                let main = this
                let url = 'https://dtpx1.ocatelkom.co.id/api/login/' + this.$cookies.get('lang_oca')
                axios.get(url)
                .then(function (response) {
                    main.konten = response.data
                })
            },
            showCurrentSlide(event) {
                this.currentSelected = event.currentSlide +1
            }
        }
    }
</script>

<style scoped>

</style>