<template>
  <label class="file-select">
    <div class="select-button bg-custom-9 text-xsm tracking-wide text-custom-5 py-2 px-6">
      <span v-if="value">Ganti File</span>
      <span v-else>Pilih File</span>
    </div>
    <input type="file" name="file" accept="image/x-png,image/gif,image/jpeg" @change="handleFileChange"/>
  </label>
</template>
<script>
export default {
  props: {
    value: File
  },

  methods: {
    handleFileChange(e) {
      this.$emit('input', e.target.files[0])
    }
  }
}
</script>
<style scoped>
.file-select > .select-button {

  border-radius: .3rem;

  text-align: center;
}

.file-select > input[type="file"] {
  display: none;
}
</style>