<template>
    <div class="w-full flex flex-wrap lg:mx-24 xl:mx-40">
        <form class="w-full">
            <p class="text-3xl font-bold lg:mt-0 mt-16 text-center">Forgot Password</p>
            <form class="mt-10" v-show="!sent" method="post" @submit="resetPass">
                <input v-model="email" type="email" id="email" name="email" class="w-full px-8 py-4 border border-gray-400 rounded-lg mt-6 focus:outline-none focus:border-2 focus:border-main-color" placeholder="Email" required/>
                <input type="submit" class="w-full px-8 py-4 bg-main-color text-white text-center rounded-lg mt-6" value="Reset Password" style="cursor: pointer"/>
            </form>

            <!-- TAMPIL APABILA EMAIL BERHASIL DISUBMIT -->

            <p v-show="sent" class="text-sm mt-10 text-center">If this e-mail address is in our database, we'll send you an email with instructions for resetting your password.</p>

            <div class="w-full mt-16 flex justify-center items-center">
                <div @click="backtoLogin" style="cursor: pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 11L6.414 11 11.707 5.707 10.293 4.293 2.586 12 10.293 19.707 11.707 18.293 6.414 13 21 13z" fill="#ED1260"/></svg>
                </div>
                <p @click="backtoLogin" class="text-main-color ml-2" style="cursor: pointer">Back to Login</p>
            </div>
        </form>

    </div>
</template>

<script>
    export default {
        name: "Forgot",
        data: function () {
          return {
              sent: false,
              email: ''
          }
        },
        methods: {
            backtoLogin: function () {
                this.$parent.changePage('login')
            },
            resetPass: function (e) {
                e.preventDefault()
                this.$modal.show('loading')

                const axios = require('axios')

                let main = this
                axios.post('https://dtp.ocatelkom.co.id/api/dtp/v1/user/forgot-password', {
                    email: main.email,
                })
                    .then(function (response) {
                        if(response.data.success) {
                            main.sent = true
                        }
                    })
                    .catch(function (error) {
                        main.$modal.show('error', {
                            title: "ERROR " + error.response.data.errors[0].code,
                            message: error.response.data.errors[0].message
                        })
                    })
                    .finally(() => main.$modal.hide('loading'))
            }
        }
    }
</script>

<style scoped>

</style>