<template>
    <div class="w-full flex flex-no-wrap xl:mx-24 xxl:mx-40">
        <transition name="slides">
            <form v-if="!show" class="w-full" @submit.prevent="setShow">
                <div class="flex flex-row sml:mt-0 slx:mt-14 xxl:mt-14 mt-6 my-2">
                    <svg @click="gotoBeranda" class="self-center cursor-pointer" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 7L1 7" stroke="#36383A" stroke-opacity="0.5" stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7 13L0.999999 7L7 1" stroke="#36383A" stroke-opacity="0.5" stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p @click="gotoBeranda" class="text-base cursor-pointer text-custom-7 font-bold ml-2">Kembali ke beranda</p>
                </div>
                <p class="text-3xl font-bold sml:mt-0 mt-8 my-4">Daftar sebagai <span class="text-main-color">UMKM</span></p>
                <div class="flex flex-col mt-6">
                    <p class="text-gray-800">Nama Lengkap</p>
                     <input v-model="name" type="text" id="name" name="name" class="w-full px-8 slx:py-3 xxl:py-3 py-2 border border-gray-400 rounded-lg mt-1 focus:outline-none focus:border-2 focus:border-main-color" required/>
                </div>
                <div class="flex flex-col mt-6">
                    <p class="text-gray-800">Alamat Email</p>
                    <input v-model="email" type="email" id="email" name="email" class="w-full px-8 slx:py-3 xxl:py-3 py-2 border border-gray-400 rounded-lg mt-1 focus:outline-none focus:border-2 focus:border-main-color" required/>
                </div>
                <div class="flex flex-col mt-6">
                    <p class="text-gray-800">Nomor Telefon</p>
                    <input v-model="phone" type="number" id="phone" name="phone" class="w-full px-8 slx:py-3 xxl:py-3 py-2 border border-gray-400 rounded-lg mt-1 focus:outline-none focus:border-2 focus:border-main-color" required/>
                </div>
                <button v-if="showStep" type="submit" class="w-full cursor-pointer px-8 py-4 bg-main-color text-white text-center rounded-lg mt-8">
                    <div class="flex flex-row text-center justify-center">
                        <div class="mr-2">Lanjutkan</div>
                        <svg class="self-center" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 7H13" stroke="white" stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7 1L13 7L7 13" stroke="white" stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </button>
                <div v-if="!showStep" class="w-full px-8 py-4 bg-gray-500 text-white text-center rounded-lg mt-8">
                    <div class="flex flex-row text-center justify-center">
                        <div class="mr-2">Lanjutkan</div>
                        <svg class="self-center" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 7H13" stroke="white" stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7 1L13 7L7 13" stroke="white" stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
                <div class="flex mt-4">
                    <p class="text-sm text-custom-4 font-semibold">Sudah terdaftar sebagai UMKM?</p>
                    <a href="login" class="cursor-pointer ml-2 text-sm text-main-color font-semibold" >Log in.</a>
                </div>
            </form>
        </transition>
        <transition name="slide">
            <form v-if="show" class="w-full" @submit="loginUser" method="post">
                <div class="flex flex-row sml:mt-0 slx:mt-14 xxl:mt-14 mt-6 my-2">
                    <svg @click="show=false" class="self-center cursor-pointer" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 7L1 7" stroke="#36383A" stroke-opacity="0.5" stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7 13L0.999999 7L7 1" stroke="#36383A" stroke-opacity="0.5" stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p @click="show=false" class="text-base cursor-pointer text-custom-7 font-bold ml-2">Kembali</p>
                </div>
                <p class="text-3xl font-bold sml:mt-0">Lengkapi Profil <span class="text-main-color">UMKM</span></p>
                <div class="flex flex-col mt-6">
                    <p class="text-gray-800">Nama Usaha</p>
                    <input v-model="usaha_nama" type="text" id="usaha_nama" name="usaha_nama" class="w-full px-4 slx:py-3 xxl:py-3 py-2 border border-gray-400 rounded-lg mt-1 focus:outline-none focus:border-2 focus:border-main-color" required/>
                </div>
                <div class="flex flex-col mt-6">
                    <p class="text-gray-800">Jenis Usaha</p>
                    <input v-model="usaha_jenis" type="text" id="usaha_jenis" name="usaha_jenis" class="w-full px-4 slx:py-3 xxl:py-3 py-2 border border-gray-400 rounded-lg mt-1 focus:outline-none focus:border-2 focus:border-main-color" required/>
                </div>
                <div class="flex flex-col mt-6">
                    <p class="text-gray-800">Website / Link Toko</p>
                    <p class="text-gray-500 text-xsm tracking-wide">Sisipkan website atau link usaha anda pada marketplace</p>
                    <input v-model="usaha_link" type="text" id="usaha_link" name="usaha_link" class="w-full px-4  slx:py-3 xxl:py-3 py-2 border border-gray-400 rounded-lg mt-1 focus:outline-none focus:border-2 focus:border-main-color" required/>
                </div>
                <div class="flex flex-col mt-6">
                    <p class="text-gray-800">Upload Foto Usaha</p>
                    <div class="w-full flex justify-between px-4 slx:py-2 xxl:py-2 py-2 border border-gray-400 rounded-lg mt-1 focus:outline-none focus:border-2 focus:border-main-color">
                        <div class="text-gray-700 xxl:hidden xl:flex text-center text-sm mr-2 self-center truncate"><p v-if="file">{{truncate(file.name, 20)}}</p></div>
                        <div class="text-gray-700 xl:hidden xxl:flex text-center text-sm mr-2 self-center truncate"><p v-if="file">{{truncate(file.name, 30)}}</p></div>
                        <file-select v-model="file"></file-select>
                    </div>
                    <!-- <input v-model="upload" type="text" id="usaha_upload" name="usaha_upload" class="w-full px-8 slx:py-3 xxl:py-3 py-2 border border-gray-400 rounded-lg mt-1 focus:outline-none focus:border-2 focus:border-main-color" required/> -->
                </div>
                <div class="flex text-gray-500 text-sm mt-4 mx-1">
                    <input class="mt-1" type="checkbox" id="vehicle1" name="vehicle1" v-model="aggrement">
                    <p class="text-sm ml-2">Dengan ini saya setuju dengan <a class="text-sm ml-1 text-main-color font-semibold" target="_blank" href="https://dtpx1.ocatelkom.co.id/public/term_condition/TC_OCA_1586429498.pdf">syarat penggunaan </a> dan <a class="text-sm ml-1 text-main-color font-semibold" target="_blank" href="https://dtpx1.ocatelkom.co.id/public/term_condition/TC_OCA_1586429498.pdf"> kebijakan privasi </a> </p>
                </div>
                <input type="submit" class="w-full cursor-pointer px-8 py-4 bg-main-color text-white text-center rounded-lg mt-6" value="Daftar Sebagai UMKM" />
                <div class="flex mt-4">
                    <p class="text-sm text-custom-4 font-semibold">Sudah terdaftar sebagai UMKM?</p>
                    <a class="ml-2 text-sm text-main-color font-semibold" href="register">Log in.</a>
                </div>
            </form>
        </transition>
    </div>
</template>

<script>
    import FileSelect from './FileSelect.vue'
    export default {
        name: "LoginUser",
        data: function () {
            return {
                email: '',
                name: '',
                phone: '',
                show: false,
                file: null,
                usaha_link: '',
                usaha_jenis: '',
                usaha_nama: '',
                aggrement: false
            }
        },
        components: {
            FileSelect
        },
        computed: {
            showStep: function() {
                var regex = /^08|62\d{9,12}$/;
                if (this.email !== '' && this.name !== '' && regex.test(this.phone)) {
                    return true
                }
                return false
            }
        },
        mounted(){
            let uri = window.location.search.substring(1);
            let params = new URLSearchParams(uri);
            if(params.get("name") != null){
                this.name = params.get("name")
                if(params.get("email") != null){
                    this.email = params.get('email')
                    if(params.get("phone") != null){
                        this.phone = params.get("phone")
                        this.show = true
                    }
                }
                else {
                    this.show= false
                }
            }
        },
        methods: {
            forgotPass: function () {
                this.$parent.changePage('forgot')
            },
            truncate(str, n){
                return (str.length > n) ? str.substr(0, n-1) + '...' : str;
            },
            setShow() {
                this.show = !this.show
            },

            gotoBeranda(){
                window.location.href = '/umkm'
            },

            loginUser: function (e) {
                e.preventDefault()
                this.$modal.show('loading')
                if (this.file === null) {
                    this.$modal.show('error', {
                        title: "ERROR " + 'Registration',
                        message: 'You have to upload file to complete registration'
                    })
                    this.$modal.hide('loading')
                    return;
                }
                if (this.aggrement === false) {
                    this.$modal.show('error', {
                        title: "ERROR " + 'Registration',
                        message: 'You have to checked aggrement to complete registration'
                    })
                    this.$modal.hide('loading')
                    return;
                }
                const axios = require('axios')
                let formData = new FormData();
                formData.append('full_name', this.name);
                formData.append('phone_number', this.phone);
                formData.append('company_name', this.usaha_nama);
                formData.append('industry', this.usaha_jenis);
                formData.append('website', this.usaha_link);
                formData.append('email', this.email);
                formData.append('file', this.file);

                let main = this
                axios.post('https://dtp.ocatelkom.co.id/api/dtp/v1/user/add-umkm', formData, {   headers: {
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods": "GET, POST, PATCH, PUT, DELETE, OPTIONS",
                    "Access-Control-Allow-Headers": "Origin, Content-Type, X-Auth-Token"
                }})
                .then(function (response) {
                    main.$cookies.set("temp_id", response.data.user_id)
                    window.location.href = 'verification_umkm'
                })
                .catch(function (error) {
                    main.$modal.show('error', {
                        title: "ERROR " + error.response.data.errors[0].code,
                        message: error.response.data.errors[0].message
                    })
                })
                .finally(() => main.$modal.hide('loading'))
            },

            googleSignUp: function () {
                this.$modal.show('loading')
                const axios = require('axios');

                let main = this
                axios.get('https://dtp.ocatelkom.co.id/api/dtp/v1/google/url')
                    .then(function (response) {
                        if (response.data.url) {
                            window.location.href = response.data.url
                        }
                    })
                    .catch(function (error) {
                        if(error.response.data) {
                            main.$modal.show('error', {
                                title: "ERROR " + error.response.data.errors[0].code,
                                message: error.response.data.errors[0].message
                            })
                        }
                    })
                    .finally(() => {
                        main.$modal.hide('loading')
                    })
            }
        }
    }
</script>

<style scoped>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>