<template>
    <div id="section-7" style="box-shadow: 0px -40px 100px rgba(0, 0, 0, 0.03);border-radius: 0px 80px 0px 0px;" class="bg-complementer-4 relative z-0">
      <div style="top: 50%;transform: translateY(-50%);" class="absolute right-0 smx:hidden">
        <svg width="394" height="397" viewBox="0 0 394 397" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g style="mix-blend-mode:luminosity" opacity="0.15">
        <path d="M173.754 178.135L106.155 161.236L21.6557 137.576C8.13587 134.196 4.75588 120.676 14.8958 110.536L126.435 12.5169C136.575 5.75698 150.095 9.13695 153.475 19.2769L177.134 97.0161L194.034 157.856C197.414 171.375 187.274 181.515 173.754 178.135Z" stroke="url(#paint0_linear1)" stroke-width="16.8998" stroke-miterlimit="10"/>
        <path d="M386.693 147.703L285.294 167.983L231.214 178.123C217.694 181.503 207.554 171.363 210.934 157.843L227.834 103.763L254.874 22.6442C258.254 12.5043 275.154 9.12432 281.914 15.8843L393.453 120.663C403.593 130.803 396.833 144.323 386.693 147.703Z" stroke="url(#paint1_linear1)" stroke-width="16.8998" stroke-miterlimit="10"/>
        <path d="M194.034 215.321L180.514 259.261L153.475 353.9C150.095 364.04 133.195 367.42 126.435 360.66L14.8958 259.261C4.75588 252.501 8.13587 235.601 21.6557 232.221L119.675 205.181L173.754 191.662C187.274 191.662 197.414 201.801 194.034 215.321Z" stroke="url(#paint2_linear1)" stroke-width="16.8998" stroke-miterlimit="10"/>
        <path d="M406.965 364.045C410.345 367.425 410.345 374.185 406.965 380.945L386.685 394.465C383.305 397.845 373.166 397.845 369.786 394.465L329.226 353.905L308.946 387.705C302.186 401.225 281.906 394.465 278.526 380.945L224.447 242.366L217.687 215.327C214.307 208.567 224.447 198.427 231.207 201.807L258.247 215.327L400.205 279.546C413.725 286.306 420.485 303.206 403.585 309.966L366.406 326.866L406.965 364.045Z" fill="#383637"/>
        </g>
        <defs>
        <linearGradient id="paint0_linear1" x1="-0.145068" y1="95.5459" x2="203.143" y2="95.5459" gradientUnits="userSpaceOnUse">
        <stop stop-color="#545463"/>
        <stop offset="0.6" stop-color="#545463"/>
        <stop offset="1" stop-color="#545463"/>
        </linearGradient>
        <linearGradient id="paint1_linear1" x1="201.9" y1="95.5332" x2="407.206" y2="95.5332" gradientUnits="userSpaceOnUse">
        <stop stop-color="#545463"/>
        <stop offset="0.6" stop-color="#545463"/>
        <stop offset="1" stop-color="#545463"/>
        </linearGradient>
        <linearGradient id="paint2_linear1" x1="-0.0740894" y1="279.179" x2="203.072" y2="279.179" gradientUnits="userSpaceOnUse">
        <stop stop-color="#545463"/>
        <stop offset="0.6" stop-color="#545463"/>
        <stop offset="1" stop-color="#545463"/>
        </linearGradient>
        </defs>
        </svg>
      </div>
      <div style="border-radius: 0px 80px 0px 0px;box-shadow: 0px -40px 100px rgba(0, 0, 0, 0.03);" class="flex flex-col bg-complementer-4 max-w-screen-xl self-auto items-center mx-auto py-24">
        <div class="text-3xl text-white font-semibold text-center relative">Pakai CRM OCA sekarang!</div>
        <div style="margin-top:32px;" class="text-sm text-white text-center my-2 relative">Kontak kami untuk kebutuhan OCA Blast</div>
        <div style="margin-top:48px;" class="flex justify-center my-6 relative">
          <oca-button @click="gotoHrefRegister()" class="mx-4 px-6 pr-6" classValue="rounded-md" icon="arrow-right">Coba OCA</oca-button>
          <oca-button @click="gotoWa()" class="mx-4 px-6 pr-6" classValue="rounded-md" buttonType="ghost" icon="arrow-right">Kontak kami</oca-button>
        </div>
      </div>
    </div>
</template>
<script>
import OcaButton from '../../../../components/oca_origin/buttons';

export default {
    name: 'App',
    components: {
      OcaButton,
    },
     methods:{
    gotoHrefRegister: function () {
        window.location.href = 'https://staging-newdash.ocatelkom.co.id/account/register'
    },
     gotoWa(){
      window.location.href = "https://api.whatsapp.com/message/CJYNUR2AAUSVG1"
    }
    }
}
</script>