<template>
  <section class="jumbotron">
        <div class="nav-jumbotron bg-white pt-12 lg:pt-32" style="border-radius: 0px 0px 80px 0">
        <div class="mx-12 smx:mx-4">
        <div class="flex flex-col flex-col-reverse lg:flex-row items-center max-w-screen-xl mx-auto pt-10 pb-32">
            <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000" class="left text-xxsm flex-1 text-center lg:text-left pt-10 md:mt-16 lg:mt-0">
                <div class="text-primary font-normal mb-2 text-2xl">OCA Interaction</div>
                <h1 class="text-neutral-600 mb-6 font-bold md:10/12 lg:mb-0 text-2xl md:text-4/5xl w-full md:w-10/12  lg:w-11/12 xl:w-10/12 mb-12 mx-auto lg:mx-0" style="line-height:1.3;">Balas Chat Customer <br/> dengan CRM</h1>
                <div class="text-base text-neutral-200 my-8 md:w-10/12 hidden lg:block" style="line-height:1.7;letter-spacing:0.5px">Lebih dekat dengan customer menggunakan OCA Interaction. CRM omnichannel untuk menjawab pesan customer dan meningkatkan produktifitas agen.</div>
            </div>
            <div data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000" class="right flex-1">
                <img src="../../../../assets/image/product_oca/jumbo_crm.png" class="mx-auto" alt="">
                <!-- <img src="../../../../assets/image/product_oca/jumbo_mobile.png" class="w-full mx-auto lg:hidden" alt=""> -->
            </div>
        </div>
        </div>
        </div>
      <div class="wrapper-support my-12  mx-12 smx:mx-4">
        <div class="font-medium text-xl text-neutral-300 mb-8 text-center">Supported Platform</div>
        <div class="flex flex-wrap justify-center md:justify-between lg:justify-center items-center max-w-screen-xl mx-auto">
            <img src="../../../../assets/image/product_oca/twitter.png" alt="" class="image-product mr-3 md:mr-0 lg:mr-14 mb-10" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1200">
            <img src="../../../../assets/image/product_oca/fb.png" alt="" class="image-product mr-3 md:mr-0 lg:mr-14 mb-10" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
            <img src="../../../../assets/image/product_oca/mg.png" alt="" class="image-product mr-3 md:mr-0 lg:mr-14 mb-10" data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500">
            <img src="../../../../assets/image/product_oca/ig.png" alt="" class="image-product mr-3 md:mr-0 lg:mr-14 mb-10" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
            <img src="../../../../assets/image/product_oca/line.png" alt="" class="image-product mr-3 md:mr-0 lg:mr-14 mb-10" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1200">
            <img src="../../../../assets/image/product_oca/vc.png" alt="" class="image-product mr-3 md:mr-0 lg:mr-14 mb-10" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1400">
            <img src="../../../../assets/image/product_oca/wa.png" alt="" class="image-product mr-3 md:mr-0 lg:mr-14 mb-10" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1300">
            <img src="../../../../assets/image/product_oca/email.png" alt="" class="image-product mr-3 md:mr-0 lg:mr-14 mb-10" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1300">
            <img src="../../../../assets/image/product_oca/telegram.png" alt="" class="image-product mr-3 md:mr-0 lg:mr-14 mb-10" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1400">
        </div>
      </div>
  </section>

</template>
<script>
export default {
    name:"Jumbotron"
}
</script>
<script>
export default {
    
}
</script>

<style scoped>
@media only screen and (max-width: 767px) {
    .image-product{
        width: 41.6%;
    }
}

@media only screen and (min-width: 768px) {
    .image-product{
        width: unset;
    }
}
/* @media only screen and (min-width: 1024px) {
.image-product{
    width: unset;
}
}

@media only screen and (min-width: 1200px) {
.image-product{
    width: unset;
}
} */
</style>