<template>
    <div id="section-1" style="background: linear-gradient(90deg, #FFFFFF 16.02%, rgba(255, 255, 255, 0) 51.45%), linear-gradient(270deg, #FFFFFF 15.12%, rgba(255, 255, 255, 0) 51.13%), linear-gradient(180deg, #F5F5FE -15.71%, rgba(255, 255, 255, 0) 100%), #FFFFFF;">
      <div class="flex-col relative max-w-screen-xl self-auto items-center justify-center mx-auto py-6 ">
        <div class="flex relative smx:hidden mx-auto">
          <div class="flex flex-1 justify-center text-center text-neutral-600 font-bold text-3/4xl leading-10 mt-10">Client kami terbantu oleh <br/> OCA Interaction</div>
        </div>
        <div class="flex relative bg-white smx:hidden">
          <svg class="mx-auto" width="1136" height="618" viewBox="0 0 1136 618" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M42.5315 537.987C36.1956 545.233 36.6356 561.15 49.8392 568.565C57.4656 572.848 67.3922 565.551 75.333 572.746C85.1204 581.615 76.8221 593.393 87.8657 602.015C96.5068 608.761 109.103 605.915 114.396 602.959" stroke="#DFE1E6" stroke-width="4"/>
            <path d="M60.8362 521.531C54.5003 528.778 54.9403 544.695 68.1438 552.11C75.7703 556.393 85.6969 549.096 93.6377 556.291C103.425 565.159 95.1268 576.938 106.17 585.56C114.811 592.306 127.408 589.46 132.701 586.503" stroke="#DFE1E6" stroke-width="4"/>
            <path d="M79.1408 505.076C72.805 512.322 73.245 528.24 86.4485 535.654C94.075 539.937 104.002 532.64 111.942 539.835C121.73 548.704 113.431 560.483 124.475 569.104C133.116 575.85 145.713 573.004 151.006 570.048" stroke="#DFE1E6" stroke-width="4"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M190.249 0.894531L0.751953 3.5039L55.5229 179.908L108.565 109.43V509H930.982C938.858 556.623 981.32 593 1032.52 593C1089.32 593 1135.37 548.229 1135.37 493C1135.37 437.772 1089.32 393 1032.52 393C1031.02 393 1029.52 393.032 1028.03 393.094V70.9995H137.488L190.249 0.894531ZM1028.03 393.094V509H930.982C930.12 503.79 929.672 498.446 929.672 493C929.672 439.235 973.311 395.38 1028.03 393.094ZM137.488 70.9995L108.565 109.43V70.9995H137.488Z" fill="#FAFBFC"/>
            <path d="M218.27 105.5H867.926C874.277 105.5 879.426 110.648 879.426 117V435C879.426 441.351 874.277 446.5 867.926 446.5H218.27C211.918 446.5 206.77 441.351 206.77 435V117C206.77 110.648 211.918 105.5 218.27 105.5Z" fill="white" stroke="#EBECF0"/>
          </svg>
          <div style="transform: translate(-50%, -50%);top: 45%;" class="absolute left-50 flex-1 flex-col bg-white px-10 py-8">
              <div style="letter-spacing: 0.75px;" class="text-center font-medium text-xl smx:text-base text-neutral-600 leading-8 smx:leading-6 my-6">Kemensos balas chat rakyat dengan CRM dari OCA. Kemensos membuka saluran Whatsapp yang diperkuat dengan chatbot yang telah dibuat untuk menjawab segala pertanyaan ataupun aduan mengenai bansos kapan saja dimana saja.</div>
              <div class="flex justify-center mt-12">
                <div class="flex-col">
                  <img style="mix-blend-mode: luminosity;" class="mx-auto" src="../../../../assets/image/product_oca/kementerian-sosial-1.png" alt="">
                  <div class="text-base text-center text-customs-11">Kementrian Sosial</div>
                  <div @click="goto()" class="flex flex-row cursor-pointer mt-4">
                    <div class="text-base text-primary font-semibold">Lihat selengkapnya</div>
                    <svg class="self-center ml-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M4.1665 10H15.8332" stroke="#E81255" stroke-width="1.5"/>
                      <path d="M10 4.16667L15.8333 10L10 15.8333" stroke="#E81255" stroke-width="1.5" stroke-linecap="round"/>
                    </svg>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="flex relative my-4 mb-10 lg:hidden">
            <svg class="mx-auto" width="371" height="371" viewBox="0 0 371 371" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.3032 346.152C0.215081 348.342 0.360107 353.152 4.7116 355.392C7.22506 356.686 10.4966 354.481 13.1136 356.655C16.3392 359.335 13.6044 362.894 17.244 365.499C20.0919 367.538 24.2433 366.678 25.9877 365.785" stroke="#DFE1E6" stroke-width="1.20866"/>
                <path d="M8.33641 341.18C6.24828 343.37 6.39331 348.179 10.7448 350.42C13.2583 351.714 16.5298 349.509 19.1468 351.683C22.3724 354.363 19.6376 357.922 23.2772 360.527C26.1251 362.566 30.2766 361.706 32.021 360.812" stroke="#DFE1E6" stroke-width="1.20866"/>
                <path d="M14.3677 336.208C12.2795 338.397 12.4246 343.207 16.7761 345.448C19.2895 346.742 22.561 344.537 25.1781 346.711C28.4037 349.391 25.6688 352.95 29.3085 355.555C32.1563 357.593 36.3078 356.733 38.0522 355.84" stroke="#DFE1E6" stroke-width="1.20866"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M66.644 0L4.19141 0.78846L22.2423 54.0916L32.0003 42.2041V332.559H303.209C303.208 332.631 303.208 332.703 303.208 332.775C303.208 349.463 318.384 362.992 337.104 362.992C355.824 362.992 370.999 349.463 370.999 332.775C370.999 316.087 355.824 302.559 337.104 302.559C336.47 302.559 335.84 302.574 335.214 302.605V19.559H50.5887L66.644 0ZM335.214 302.605V332.559H303.209C303.335 316.535 317.453 303.475 335.214 302.605ZM50.5887 19.559L32.0003 42.2041V19.559H50.5887Z" fill="#FAFBFC"/>
                <path d="M64.8737 47.1851C64.8737 45.2659 66.4295 43.7102 68.3486 43.7102H283.599C285.518 43.7102 287.074 45.2659 287.074 47.1851V290.933C287.074 292.852 285.518 294.408 283.599 294.408H68.3486C66.4295 294.408 64.8737 292.852 64.8737 290.933V47.1851Z" fill="white" stroke="#EBECF0" stroke-width="0.302164"/>
                <line x1="324.366" y1="170.71" x2="357" y2="170.408" stroke="black" stroke-width="0.302164"/>
                <path d="M14 107.861L46.6338 107.559" stroke="black" stroke-width="0.302164"/>
            </svg>

            <div style="transform: translate(-53%, -50%);top: 45%;width:222px;height:251px;" class="absolute left-50 flex-1 flex-col bg-white">
                <div class="text-center font-medium text-base text-neutral-600 leading-6 my-6 mx-2">“Dengan SMS dan WhatsApp blast memudahkan penyebaran penagihan IndiHome dan Wifi.id yang sampai kepada pelanggan”</div>
                <div class="flex justify-center mt-8">
                    <img class="mr-4 w-8 h-auto" src="../../../../assets/image/product/face-1.png" alt="">
                    <div class="flex-col">
                        <div class="text-base smx:text-xsm font-semibold text-customs-11">Bea Js</div>
                        <div class="text-xs text-customs-12">Founder of <span class="text-customs-13 font-semibold">Telkom</span></div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</template>
<script>
export default {
    name: 'App',
        methods: {
        goto: function () {
            window.location.replace(`https://ocaindonesia.co.id/blog?page=1`)
        },
    }
}
</script>