<template>
    <div class="flex flex-wrap lg:p-20 border-t-2 border-gray-400">
        <div class="lg:w-1/2 flex flex-wrap lg:justify-start justify-center">
            <div class="w-56 h-auto mt-6">
                <img src="../assets/image/logo-oca.png" class="w-full">
            </div>

            <!-- DESKRIPSI FOOTER -->
            <p class="text-sm px-6 lg:pr-20 mt-6">{{footerMsg}}</p>

            <!-- LIST SOSIAL MEDIA -->
            <div class="w-auto flex mt-16">
                <a class="text-sm px-2 lg:px-6" v-for="data in social" :key="data" :href="data.url" target="_blank">{{data.title}}</a>
            </div>
        </div>
        <div class="lg:w-1/2 flex flex-wrap justify-center lg:justify-end">
            <div class="w-full flex mt-16 justify-center lg:justify-end">
                <a class="text-md font-semibold pr-4 lg:pr-12" href="products">Product</a>
                <a class="text-md font-semibold pr-4 lg:pr-12" href="pricing">Pricing</a>
                <a class="text-md font-semibold pr-4 lg:pr-12" href="blog">Blog</a>
                <a class="text-md font-semibold " href="dashboard">Dashboard</a>
            </div>

            <p class="flex flex-wrap lg:mt-auto mt-16">2020| All Right Reserved.</p>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Footer",
        data: function () {
            return {
                footerMsg: '',
                social: []
            }
        },
        created() {
            this.loadData()
        },
        methods: {
            loadData: function () {
                const axios = require('axios')

                //'this' tidak bisa dipanggil di dalam scope dalam, sehingga perlu di deklarasi menggunakan variable lain dalam scope function
                let main = this
                let url = 'https://dtpx1.ocatelkom.co.id/api/footer/' + this.$cookies.get('lang_oca')
                axios.get(url)
                    .then(function (response) {
                        main.footerMsg = response.data.description
                        main.social = response.data.social_media
                    })
            }
        }
    }
</script>

<style scoped>

    a {
        color: black !important;
    }
</style>