<template>
    <modal name="loading" :width="200" :height="'auto'" :adaptive="true" :resizeable="true" :clickToClose="false">
        <div class="bg-white rounded-lg p-4 flex items-center justify-center">
            <img src="../assets/image/loading-bar.gif" class="mr-4 w-12 h-12 object-contain">
            <p class="tracking-wide">LOADING</p>
        </div>
    </modal>
</template>

<script>
    export default {
        name: "LoadingOverlay"
    }
</script>

<style scoped>
    .bg-loading {
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>