<!-- GA JADI DIPAKAI -->

<template>
    <div class="w-full bg-white border-b-2 border-gray-500 flex flex-wrap p-6 items-center justify-between">
        <div class="w-56 h-auto">
            <a href="./"><img src="../assets/image/logo-oca.png" class="w-full"></a>
        </div>

        <form class="w-full lg:w-auto lg:mt-0 mt-4 flex items-center">
            <input class="bg-white text-sm border-2 border-gray-400 px-4 py-2 rounded-lg focus:outline-none" placeholder="Enter Your Email">
            <div class="ml-2 lg:ml-4 flex lg:justify-center">
                <button class="transition duration-300 ease-in-out border-2 border-main-color bg-main-color text-sm font-semibold text-white py-2 px-2 lg:px-4 rounded-lg hover:bg-white hover:text-main-color">
                    Sign Up Free
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "NavbarScrolled"
    }
</script>

<style scoped>

</style>