<template>
    <div>
        <div class="fixed top-0 z-20 w-full flex flex-wrap items-center justify-between py-6 px-10 bg-main-color">
            <!-- LOGO -->
            <a href="./">
                <div class="w-56 h-auto">
                    <img src="../assets/image/logo_white.png" class="w-full">
                </div>
            </a>

            <!-- Menu -->
            <ul id="nav_head" class="flex flex-wrap justify-end items-center lg:mt-0 mt-6">
                <li class="lg:mr-12 w-full lg:w-auto">
                    <a class="transition duration-300 ease-in-out text-white text-sm hover:text-pink-800" href="https://api.whatsapp.com/message/CJYNUR2AAUSVG1" target="_blank">SUPPORT: +62 821 4749 3975</a>
                </li>
                <li class="lg:w-auto w-full lg:mt-0 mt-2">
                    <p class="transition duration-300 ease-in-out text-white text-sm hover:text-pink-800 cursor-pointer" @click="toggleUserMenu">Hi, {{this.$session.get("email")}}</p>
                </li>
            </ul>
        </div>

        <!-- DROPDOWN MENU -->
        <div v-show="menuShow" class="fixed flex flex-wrap top-0 right-0 mr-10 mt-16 z-40">
            <div class="shadow-lg rounded-lg px-4" style="background-color: #232121">
                <a class="block text-sm text-white px-2 py-1 my-2 cursor-pointer hover:text-white hover:bg-gray-700 rounded-lg" href="order_history">Order & Payments</a>
                <div class="border-b border-white mt-2"></div>
                <a class="block text-sm text-white px-2 py-1  my-2 shadow-lg cursor-pointer hover:text-white hover:bg-gray-700 rounded-lg" @click="logout">Log Out</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NavbarShort",
        data: function () {
            return {
                menuShow: false,
            }
        },
        methods: {
            toggleUserMenu: function () {
                this.menuShow = !this.menuShow
            },
            logout: function () {
                this.$session.destroy()
                window.location.href = "./"
            },
        },
    }
</script>

<style scoped>
    .block:not(:last-child){
        margin-bottom: 0 !important;
    }
</style>