<template>
    <div class="w-full" :class="{'border-b-2 border-custom-3': isUmkm}"> 
        <!-- MENU ATAS -->
        <ul id="nav_head" class="flex flex-wrap px-4 sm:px-8 lg:justify-end justify-between " :class="{'py-3': isUmkm, 'pt-6': !isUmkm}">
            <li class="lg:mr-12">
                <a class="transition duration-300 ease-in-out text-sm cursor-pointer" :class="{'text-custom-1 hover:text-main-color': isUmkm, 'text-white text-sm hover:text-pink-800': !isUmkm}" @click="changeLanguage">Lang: {{$cookies.get('lang_oca').toUpperCase()}}</a>
            </li>
            <li class="lg:mr-12">
                <!-- <a class="transition duration-300 ease-in-out text-sm" :class="{'text-custom-1 hover:text-main-color': isUmkm, 'text-white text-sm hover:text-pink-800': !isUmkm}" href="https://api.whatsapp.com/message/CJYNUR2AAUSVG1" target="_blank">SUPPORT: +62 821 4749 3975</a> -->
                <div class="transition cursor-pointer duration-300 ease-in-out text-sm" :class="{'text-custom-1 hover:text-main-color': isUmkm, 'text-white text-sm hover:text-pink-800': !isUmkm}" @click="changeWa">SUPPORT: +62 821 4749 3975</div>
            </li>
            <li class="lg:mr-16">
                <a v-show="!this.$session.exists()" class="transition duration-300 ease-in-out text-sm" :class="{'text-custom-1 hover:text-main-color': isUmkm, 'text-white text-sm hover:text-pink-800': !isUmkm}" href="login">Log In</a>
                <a v-show="this.$session.exists()" class="transition duration-300 ease-in-out text-sm cursor-pointer" :class="{'text-custom-1 hover:text-main-color': isUmkm, 'text-white text-sm hover:text-pink-800': !isUmkm}" @click="toggleUserMenu">Hi, {{this.$session.get("email")}}</a>
            </li>
        </ul>

        <!-- MENU DROPDOWN -->
        <div v-show="menuShow" class="absolute flex flex-wrap top-0 right-0 mr-24 mt-12">
            <div class="shadow-lg rounded-lg px-4" style="background-color: #232121">
                <a class="block text-sm text-white px-2 py-1 my-2 cursor-pointer hover:text-white hover:bg-gray-700 rounded-lg" href="order_history">Order & Payments</a>
                <div class="border-b border-white mt-2"></div>
                <a class="block text-sm text-white px-2 py-1  my-2 shadow-lg cursor-pointer hover:text-white hover:bg-gray-700 rounded-lg" @click="logout">Log Out</a>
            </div>
        </div>

        <!-- NAVIGATION BAR -->
        <nav class="w-full flex items-center justify-between flex-wrap px-8 " :class="{'bg-white py-2 mb-2': isUmkm, 'py-6': !isUmkm}">
            <!-- LOGO -->
            <div class="flex items-center flex-shrink-0 text-white lg:ml-6">
                <a href="./">
                    <div class="w-56 h-auto">
                        <img v-if="!isUmkm" src="../assets/image/logo_white.png" class="w-full">
                        <img v-if="isUmkm" src="../assets/image/logo-oca.png" class="w-full">
                    </div>
                </a>
            </div>

            <!-- TOMBOL MENU DI LAYAR KECIL -->
            <div class="block lg:hidden">
                <button class="flex-grow items-center px-3 py-2 border rounded text-teal-200 border-pink-400 hover:text-white hover:border-white focus:outline-none" v-on:click="toggleMenu">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                </button>
            </div>

            <!-- MENU -->
            <div :class="{block: isShown, hidden: !isShown}" class="flex flex-wrap lg:block lg:items-center lg:mr-6 lg:mt-0 mt-4">
                <div class="text-sm flex flex-wrap items-center">
                    <a href="umkm" class="transition duration-300 ease-in-out mt-4 w-full lg:w-auto lg:mt-0 font-bold text-lg  mr-10" :class="{'text-custom-1 hover:text-main-color': isUmkm, 'text-white text-sm hover:text-pink-800': !isUmkm}">
                        UMKM
                    </a> 
                    <div class="relative inline-block mt-4 lg:mt-0">
                        <a @click="toggleProductMenu" class="transition duration-300 ease-in-out cursor-pointer mt-4 w-full lg:w-auto lg:mt-0 font-bold text-lg mr-10" :class="{'text-custom-1 hover:text-main-color': isUmkm, 'text-white text-sm hover:text-pink-800': !isUmkm}">
                            Products
                        </a>
                        <div v-if="productShow"  class="absolute bg-gray-100 shadow-xl rounded-lg mt-2 px-2 py-2 hidden w-40 lg:block">
                            <a href="products" class="block text-base font-semibold text-custom-1 hover:text-main-color mt-1">OCA Blast</a>
                            <a href="product_interaction" class="block text-base shadow-2xl font-semibold text-custom-1 hover:text-main-color mt-1 mb-2" >OCA Interaction</a>
                        </div>
                        <div v-if="productShow" class="flex flex-col mx-4 lg:hidden">
                            <a href="products" class="transition duration-300 ease-in-out mt-4 w-full lg:w-auto lg:mt-0 font-bold text-lg mr-10" :class="{'text-custom-1 hover:text-main-color': isUmkm, 'text-white text-sm hover:text-pink-800': !isUmkm}">
                                OCA Blast
                            </a>
                            <a href="product_interaction" class="transition duration-300 ease-in-out mt-4 w-full lg:w-auto lg:mt-0 font-bold text-lg mr-10" :class="{'text-custom-1 hover:text-main-color': isUmkm, 'text-white text-sm hover:text-pink-800': !isUmkm}">
                                OCA Interaction
                            </a>
                        </div>
                    </div>
                    <a href="pricing" class="transition duration-300 ease-in-out mt-4 w-full lg:w-auto lg:mt-0 font-bold text-lg mr-10" :class="{'text-custom-1 hover:text-main-color': isUmkm, 'text-white text-sm hover:text-pink-800': !isUmkm}">
                        Pricing
                    </a>
                    <a href="blog" class="transition duration-300 ease-in-out mt-4 w-full lg:w-auto lg:mt-0 font-bold text-lg mr-10" :class="{'text-custom-1 hover:text-main-color': isUmkm, 'text-white text-sm hover:text-pink-800': !isUmkm}">
                        Blog
                    </a>
                    <a href="dashboard" class="transition duration-300 ease-in-out mt-4 w-full lg:w-auto lg:mt-0 font-bold text-lg mr-10" :class="{'text-custom-1 hover:text-main-color': isUmkm, 'text-white text-sm hover:text-pink-800': !isUmkm}">
                        Dashboard
                    </a>
                    <a v-show="!this.$session.exists()" :href="isUmkm ? 'login_umkm' :'register'" class="transition duration-300 ease-in-out inline-block text-sm px-6 py-3 leading-none rounded bg-blue-500 font-bold text-lg text-white hover:text-white hover:bg-main-color mt-4 lg:mt-0 mr-10">Sign Up</a>
                    <a v-show="this.$session.exists()" href="pricing" class="transition duration-300 ease-in-out inline-block text-sm px-6 py-3 leading-none rounded bg-orange-500 font-bold text-lg text-white hover:text-white hover:bg-main-color mt-4 lg:mt-0 mr-10">Upgrade</a>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>

    export default {
        name: "Navbar",
        props: {
            isShown: Boolean,
            isUmkm: Boolean
        },
        data: function () {
            return {
                menuShow: false,
                productShow: false
            }
        },
        methods:{
            //UNTUK TOGGLE MENU NAVBAR
            toggleMenu: function () {
                this.isShown = !this.isShown
            },

            //UNTUK TOGGLE MENU DROPDOWN
            toggleUserMenu: function () {
                this.menuShow = !this.menuShow
            },

            toggleProductMenu: function () {
                this.productShow = !this.productShow
            },

            changeWa: function () {
              this.$parent.changeWa()  
            },

            logout: function () {
                this.$session.destroy()
                window.location.href = "./"
            },

            changeLanguage: function () {
                if (this.$cookies.get('lang_oca') === 'id') {
                    this.$cookies.set('lang_oca', 'eng')
                }
                else {
                    this.$cookies.set('lang_oca', 'id')
                }
                window.location.reload()
            }
        }
    }
</script>

<style scoped>

    .block:not(:last-child){
        margin-bottom: 0 !important;
    }
</style>