<template>
    <modal name="news-modal" :width="800" :height="'auto'" :adaptive="true" :styles="'background-color: rgba(0, 0, 0, 0);box-shadow: none;'" @before-open="loadImage">
        <div class="p-6 relative bg-transparent">
            <img src="../assets/image/bxs-x-circle.png" class="absolute top-0 right-0 w-12 h-12 z-20 cursor-pointer" @click="closeModal">
            <div class="relative w-full" style="max-width:800px; padding-bottom: 60%">
                <a :href="url" target="_blank"><img :src="img" class="absolute w-full h-full"></a>
            </div>
        </div>
    </modal>
</template>

<script>
    export default {
        name: "NewsModal",
        data: function () {
            return {
                img: '',
                url: ''
            }
        },
        methods: {
            loadImage: function (event) {
                this.img = event.params.img
                this.url = event.params.url
            },
            closeModal: function () {
                this.$modal.hide("news-modal")
            }
        }
    }
</script>

<style scoped>
    div.v--modal-box.v--modal {
        background-color: rgba(0, 0, 0, 0) !important;
    }
</style>