<template>
    <div class="flex flex-wrap items-center justify-center bg-scroll try-background lg:bg-transparent bg-white">
        <div class="flex-wrap justify-center py-24 px-10 lg:px-20">
            <p class="w-full text-3xl text-center text-main-color font-bold" style="font-family: Poppins">Try OCA for free now!</p>
            <div class="flex mt-8 block justify-center">
                <div class="flex items-center justify-center mr-6">
                    <svg width="20" height="17" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 1L4.125 7.875L1 4.75" stroke="#ED1260" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="pl-2 text-black text-center">Free 30-day trial</p>
                </div>
                <div class="flex items-center justify-center mr-6">
                    <svg width="20" height="17" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 1L4.125 7.875L1 4.75" stroke="#ED1260" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="pl-2 text-black text-center">OCA Blast features</p>
                </div>
                <div class="flex items-center justify-center">
                    <svg width="20" height="17" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 1L4.125 7.875L1 4.75" stroke="#ED1260" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="pl-2 text-black text-center">No credit card required</p>
                </div>
            </div>
            <form class="mt-16 flex flex-wrap justify-center" method="post" @submit="registerUser">
                <input v-model="email" class="w-full lg:w-2/3 bg-white border-2 border-main-color px-6 py-4 rounded-lg focus:outline-none" placeholder="Enter Your Email" required>
                <div class="w-full lg:mt-0 mt-4 lg:w-1/3 flex lg:justify-center">
                    <button class="w-full lg:w-auto transition duration-300 ease-in-out border-2 border-main-color bg-main-color text-white py-2 px-2 lg:py-4 lg:px-6 rounded-lg hover:bg-white hover:text-main-color">
                        Sign Up Free
                    </button>
                </div>
            </form>

            <!-- <div class="flex flex-wrap mt-8 justify-center">
                <div class="flex p-2 items-center justify-center cursor-pointer googleSignIn" @click="googleSignUp">
                    <img src="../assets/image/login/google.png" class="w-auto h-4">
                    <p class="ml-2 text-sm font-bold">Sign up with Google</p>
                </div>
            </div> -->

        </div>
    </div>
</template>

<script>
    export default {
        name: "tryOca",
        data: function () {
            return {
                email: ''
            }
        },
        methods: {
            googleSignUp: function () {
                this.$modal.show('loading')
                const axios = require('axios');

                let main = this
                axios.get('https://dtp.ocatelkom.co.id/api/dtp/v1/google/url')
                    .then(function (response) {
                        if (response.data.url) {
                            window.location.href = response.data.url
                        }
                    })
                    .catch(function (error) {
                        if(error.response.data) {
                            main.$modal.show('error', {
                                title: "ERROR " + error.response.data.errors[0].code,
                                message: error.response.data.errors[0].message
                            })
                        }
                    })
                    .finally(() => {
                        main.$modal.hide('loading')
                    })
            },
            registerUser: function (e) {
                e.preventDefault()
                window.location.href = "register?email=" + this.email
            }
        }
    }
</script>

<style scoped>

    .googleSignIn {
        -webkit-box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.36);
        -moz-box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.36);
        box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.36);
    }
</style>