<template>
    <div class="flex flex-col items-center shadow-lg bg-white p-6 w-68 rounded-lg">
        <div class="text-center text-lg font-semibold">Scan to contact our support via WhatsApp</div>
        <div class="text-center my-4" >
            <img src="../assets/image/waBarcode.png">
        </div>
        <div class="text-center text-lg font-semibold mb-2">or</div>
        <a href="https://api.whatsapp.com/message/CJYNUR2AAUSVG1" target="_blank" class="cursor-pointer text-center text-lg bg-custom-21 py-2 text-white w-full rounded-lg">Chat via WhatsApp</a>
    </div>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

#app {
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

</style>