<template>
  <div id="app" class="w-screen h-screen flex flex-wrap">
    <div class="fixed top-0 z-20 w-full py-6 px-10 bg-main-color">
      <a href="./">
        <div class="w-56 h-auto">
          <img src="../../assets/image/logo_white.png" class="w-full">
        </div>
      </a>
    </div>

    <div class="w-screen h-screen flex flex-wrap justify-center items-center">
      <div>
        <img src="../../assets/image/verification.png" style="max-width: 350px; min-width: 250px;" class="block mx-auto">
        <p class="mt-8 mb-4 font-bold text-xl text-center">Akun UMKM berhasil dibuat.
Untuk kepentingan verifikasi, <br> silahkan menunggu max 1x24 jam sebelum menggunakan layanan OCA.</p>
        <a href="./" class="flex justify-center">
          <div class="px-4 py-2 bg-main-color rounded-md text-center text-sm text-white my-4">Kembali ke Home</div>
        </a>
      </div>

    </div>

    <!-- KOMPONEN MODAL -->
    <error-overlay/>
  </div>
</template>

<script>
  import ErrorOverlay from "../../components/ErrorOverlay";

  export default {
    name: 'App',
    components: {ErrorOverlay},
    created() {
      //cek kalau bahasa sudah di declare dalam cookies apa belum
      if(!this.$cookies.isKey('lang_oca')){
        this.$cookies.set('lang_oca', 'id')
      }

      //ambil parameter get
      let uri = window.location.search.substring(1);
      let params = new URLSearchParams(uri);
      if(params.get("code") != null){
        this.verifikasi(params.get("code"))
      }
    },
    methods: {
      verifikasi: function (code) {
        const axios = require('axios');

        let url = 'https://dtp.ocatelkom.co.id/api/dtp/v1/user/activation?code=' + code

        //'this' tidak bisa dipanggil di dalam scope dalam, sehingga perlu di deklarasi menggunakan variable lain dalam scope function
        let main = this

        axios.get(url)
          .then(function (response) {
            if (response.data.success) {
              window.location.href = 'login?verified=1'
            }
          })
          .catch(function (error) {

            //PANGGIL MODAL DENGAN PARAMETER
            main.$modal.show('error', {
              title: "ERROR " + error.response.data.errors[0].code,
              message: error.response.data.errors[0].message
            })
          })
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

  #app {
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
