<template>
    <div class="justify-center">
        <p class="text-main-color text-4xl font-bold text-center mt-8">Features</p>
        <div class="flex flex-wrap md:mx-10 lg:mx-20 justify-center">
            <feature-item v-for="data in feature" :key="data" :judul="data.judul" :konten="data.konten" :url_img="data.url_img" :index="data.index"/>
        </div>
    </div>
</template>

<script>
    import FeatureItem from "./features/FeatureItem";
    export default {
        name: "Features",
        components: {FeatureItem},
        data: function () {
            return {
                feature: [

                ]
            }
        },
        created() {
            this.loadFeature()
        },
        methods: {
            loadFeature: function () {
                this.feature = []
                const axios = require('axios')

                let main = this
                let url = 'https://dtpx1.ocatelkom.co.id/api/features/' + this.$cookies.get('lang_oca')
                axios.get(url)
                    .then(function (response) {
                        response.data.forEach(function (item, index) {
                            main.feature.push({
                                judul: item.title,
                                konten: item.description,
                                url_img: item.url_img,
                                index: index
                            })
                        })
                    })
            }
        }
    }
</script>

<style scoped>

</style>