<template>
    <div class="flex flex-wrap px-6 pb-6">
        <div class="lg:w-1/2 lg:p-12 xl:p-16 p-6">
            <p class="text-xl lg:text-3xl xl:text-4xl font-bold text-white content-font">{{judul}}</p>
            <p class="text-md xl:text-lg mt-2 text-white">{{konten}}</p>
            <div class="w-full flex mt-6 justify-center">
                <a href="dashboard" class="transition duration-300 ease-in-out inline-block text-sm p-4 lg:px-6 lg:py-3 leading-none rounded bg-blue-500 text-center text-white hover:text-blue-400 hover:bg-white mt-4 lg:mt-0 mr-2 lg:mr-6">
                    {{$cookies.get('lang_oca') === 'id' ? 'Coba Sekarang - Gratis' : 'Try it now for free'}}
                </a>
                <a href="https://api.whatsapp.com/message/CJYNUR2AAUSVG1" target="_blank" class="transition duration-300 ease-in-out inline-block text-sm p-4 lg:px-6 lg:py-3 leading-none rounded bg-white text-center text-main-color hover:text-white hover:bg-pink-400 mt-4 lg:mt-0">
                    Talk to Sales
                </a>
            </div>
        </div>

        <div class="lg:w-1/2 px-8 justify-center lg:mt-0 mt-6 pt-12">
            <img :src="gambar" class="block w-auto h-auto content-center mx-auto" style="max-height: 500px">
        </div>
    </div>
</template>

<script>

    export default {
        name: "HeaderContent",
        data: function () {
            return {
                judul: '',
                konten: '',
                gambar: ''
            }
        },
        created() {
            this.loadData()
        },
        methods: {
            loadData: function () {
                const axios = require('axios')

                let main = this
                let url = 'https://dtpx1.ocatelkom.co.id/api/home/' + this.$cookies.get('lang_oca')
                axios.get(url)
                    .then(function (response) {
                        main.judul = response.data.main_text
                        main.konten = response.data.short_desc
                        main.gambar = response.data.url_img
                    })
            },
        }
    }
</script>

<style scoped>

</style>