<template>
    <div class="flex flex-wrap">
        <div class="lg:w-1/2 lg:px-10 px-2">
            <p class="text-3xl font-bold text-main-color">OCA Blast</p>
            <p class="text-md text-gray-800 mt-6">{{konten.description}}</p>
            <div class="flex flex-row mt-8">

                <!-- TAB UNTUK NAVIGASI KONTEN -->
                <ul class="z-10 w-3/12" @click="$parent.stopSlideshow()">
                    <li :class="{'border-r-4' : currentUl === 'call', 'border-main-color' : currentUl === 'call', 'mr-px' : currentUl != 'call'}" class="py-4 pr-4">
                        <a :class="{'text-main-color': currentUl === 'call', 'text-gray-600': currentUl != 'call'}" @click="changeTab('call', 'voice-blast')" style="cursor:pointer;">CALL</a>
                    </li>
                    <li :class="{'border-r-4' : currentUl === 'sms', 'border-main-color' : currentUl === 'sms', 'mr-px' : currentUl != 'sms'}" class="py-4 pr-4">
                        <a :class="{'text-main-color': currentUl === 'sms', 'text-gray-600': currentUl != 'sms'}" @click="changeTab('sms', 's-m-s')" style="cursor:pointer;">SMS</a>
                    </li>
                    <li :class="{'border-r-4' : currentUl === 'email', 'border-main-color' : currentUl === 'email', 'mr-px' : currentUl != 'email'}" class="py-4 pr-4">
                        <a :class="{'text-main-color': currentUl === 'email', 'text-gray-600': currentUl != 'email'}" @click="changeTab('email', 'email')" style="cursor:pointer;">EMAIL</a>
                    </li>
                    <li :class="{'border-r-4' : currentUl === 'social', 'border-main-color' : currentUl === 'social', 'mr-px' : currentUl != 'social'}" class="py-4 pr-4">
                        <a :class="{'text-main-color': currentUl === 'social', 'text-gray-600': currentUl != 'social'}" @click="changeTab('social', 'social-media')" style="cursor:pointer;">SOCIAL MEDIA</a>
                    </li>
                </ul>

                <!-- KONTEN -->
                <voice-blast v-show="currentUl === 'call'" class="w-9/12 z-0 border-l-2 border-gray-500" style="margin-left: -3px;margin-top: -2px" :konten="konten.detail[0]"/>
                <s-m-s v-show="currentUl === 'sms'" class="w-9/12 z-0 border-l-2 border-gray-500" style="margin-left: -3px;margin-top: -2px" :konten="konten.detail[1]"/>
                <email v-show="currentUl === 'email'" class="w-9/12 z-0 border-l-2 border-gray-500" style="margin-left: -3px;margin-top: -2px" :konten="konten.detail[2]"/>
                <social-media v-show="currentUl === 'social'" class="w-9/12 z-0 border-l-2 border-gray-500" style="margin-left: -3px;margin-top: -2px" :konten="konten.detail[3]"/>
            </div>
        </div>
        <div class="lg:w-1/2">
            <img src="../../../assets/image/OCA-Blast-illustration.png" class="w-auto h-auto lg:p-12 p-6">
        </div>
    </div>
</template>

<script>
    import VoiceBlast from "./blast/VoiceBlast";
    import SMS from "./blast/SMS";
    import Email from "./blast/Email";
    import SocialMedia from "./blast/SocialMedia";

    export default {
        name: "OCABlast",
        props: {
          konten: Object
        },
        data: function (){
            return {
                currentUl: 'call',
                currentComp: 'voice-blast'
            }
        },
        components: {
            VoiceBlast,
            SMS,
            Email,
            SocialMedia
        },
        methods: {
            changeTab: function (tab, comp) {
                this.currentUl = tab
                this.currentComp = comp
            }
        }
    }
</script>

<style scoped>

</style>