<template>
    <div class="flex flex-wrap">
        <div class="lg:w-1/2">
            <img src="../../../assets/image/OCA-Profiling-illustration.png" class="w-auto h-auto lg:p-12 p-6">
        </div>
        <div class="lg:w-1/2 lg:px-10 px-2">
            <p class="text-3xl font-bold text-main-color text-right">OCA Profiling</p>
            <p class="text-md text-gray-800 mt-6 lg:ml-16 ml-6 mb-6 text-right">{{konten.description}}</p>

            <option-item v-for="(data, index) in konten.detail" :key="data" :tab="data.id" :judul="data.title" :konten="data.description" :index="index" :icon="data.icon_url"/>
        </div>
    </div>
</template>

<script>

    import OptionItem from "./profiling/optionItem";
    export default {
        name: "OCAProfiling",
        components:{
            OptionItem
            // CircleIcon,
            // AddIcon,
            // IntIcon
        },
        props: {
            konten: Object,
            currentView: String
        },
        methods:{
            changeView: function (view) {
                this.$parent.stopSlideshow()
                this.currentView = view
            }
        }
    }
</script>

<style scoped>

</style>