<template>
    <div class="justify-center">
        <p class="text-main-color text-4xl font-bold text-center mt-8">Pricing</p>
        <div class="flex flex-wrap mx-6 sm:mx-20 lg:mx-32 xl:40 mt-12 justify-center">
            <regular :popular="starterPopular" :img="'starter.png'" :title_color="'color: #C1C6CD'" :title="starterTitle" :price_color="'color: #ED1260'" :price="'FREE'" :desc="starter" :btn_color="'border-color: #F199A1; color: #F199A1'" :detail_color="'#FFFFFF'" :link="this.$session.exists() ? 'dashboard' : 'register'"/>
            <regular :popular="ocaPopular" :img="'popular.png'" :title_color="'color: #FFFFFF'" :title="ocaTitle" :price_color="'color: #FFFFFF'" :price="'IDR ' + Number(price_list.oca_blast[0].price).toLocaleString() | formatQuantity" :desc="oca" :btn_color="'border-color: #FFFFFF; color: #ED1260'" :detail_color="'#ED1260'" :link="'plan?package=blast'"/>
            <regular :popular="waPopular" :img="'wa.png'" :title_color="'color: #C1C6CD'" :title="waTitle" :price_color="'color: #06BEB6'" :price="'IDR ' + Number(price_list.whatsapp_blast[0].price).toLocaleString() | formatQuantity" :desc="wa" :btn_color="'border-color: #06BEB6; color: #06BEB6'" :detail_color="'#06BEB6'" :link="'plan?package=wa'"/>
            <enterprise/>
        </div>
    </div>
</template>

<script>
    import Regular from "./price_items/Regular";
    import Enterprise from "./price_items/Enterprise";

    export default {
        name: "Pricing",
        components:{
            Regular,
            Enterprise
        },
        data: function () {
            return {
                starterTitle: '',
                ocaTitle: '',
                waTitle: '',
                starterPopular: false,
                ocaPopular: false,
                waPopular: false,
                starter: [],
                oca: [],
                wa: [],
                price_list: {}
            }
        },
        created() {
            this.loadData()
            this.loadPrice()
        },
        methods: {
            loadData: function () {
                this.starter = []
                this.wa = []
                this.oca = []
                const axios = require('axios')

                let main = this
                let url = 'https://dtpx1.ocatelkom.co.id/api/home_pricing/' + this.$cookies.get('lang_oca')
                axios.get(url)
                    .then(function (response) {
                        main.starter = []
                        main.wa = []
                        main.oca = []

                        main.starterTitle = response.data[0].title
                        main.ocaTitle = response.data[1].title
                        main.waTitle = response.data[2].title

                        if (response.data[0].most_popular === '1'){
                            main.starterPopular = true
                        }
                        if (response.data[1].most_popular === '1'){
                            main.ocaPopular = true
                        }
                        if (response.data[2].most_popular === '1'){
                            main.waPopular = true
                        }

                        response.data[0].benefit.forEach(function (item) {
                            main.starter.push({
                                title: item.benefit,
                                title_color: 'color: #000000',
                                konten: item.detail,
                                konten_color: 'color: #C1C6CD',
                            })
                        })

                        response.data[1].benefit.forEach(function (item) {
                            main.oca.push({
                                title: item.benefit,
                                title_color: 'color: #FFFFFF',
                                konten: item.detail,
                                konten_color: 'color: #FFFFFF',
                            })
                        })

                        response.data[2].benefit.forEach(function (item) {
                            main.wa.push({
                                title: item.benefit,
                                title_color: 'color: #000000',
                                konten: item.detail,
                                konten_color: 'color: #C1C6CD',
                            })
                        })
                    })
            },

            loadPrice: function () {
                const axios = require('axios')

                let main = this
                axios.get('https://payment.ocatelkom.co.id/api/v1/price-list', {
                    headers: {
                        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
                    }
                })
                    .then(function (response) {
                        main.price_list = response.data.product
                    })
            },
        },
        filters: {
            // you can call this whatever you want to
            formatQuantity (value) {
                return value.replace(/,/g, '.');
            }
        }
    }
</script>

<style scoped>

</style>