<template>
    <div style="background-color: #F6F6FF" class="flex flex-wrap p-6 lg:p-16 justify-center">
        <p class="text-xl lg:text-2xl font-semibold text-main-color">Their experience about a change that</p>
        <p class="w-full text-center text-xl lg:text-2xl font-semibold text-main-color mx-auto">make communication easier</p>
        <div class="w-full flex flex-wrap mt-6 sm:mt-16 lg:mx-20">
            <employee :konten="employeeData"/>
            <div class="lg:w-1/2 xl:w-1/3 flex flex-wrap items-center">
                <quote :konten="quote"/>
                <quote-with-usecase :konten="quote2"/>
            </div>
            <blog-item :konten="blog"/>
        </div>
    </div>
</template>

<script>
    import Employee from "./testimony/Employee";
    import BlogItem from "./testimony/BlogItem";
    import Quote from "./testimony/Quote";
    import QuoteWithUsecase from "./testimony/QuoteWithUsecase";

    export default {
        name: "Testimony",
        components: {
            Employee,
            BlogItem,
            Quote,
            QuoteWithUsecase
        },
        data: function () {
            return {
                employeeData: {},
                quote: {},
                quote2: {},
                blog: {}
            }
        },
        created() {
            this.loadData()
        },
        methods: {
            loadData: function () {
                const axios = require('axios')

                let main = this
                let url = 'https://dtpx1.ocatelkom.co.id/api/testimonial/' + this.$cookies.get('lang_oca')
                axios.get(url)
                    .then(function (response) {
                        main.employeeData = response.data.first_testi
                        main.quote = response.data.second_testi
                        main.quote2 = response.data.third_testi
                        main.blog = response.data.blog
                    })
            }
        }
    }
</script>

<style scoped>

</style>