<template>
    <div class="w-full relative border-b py-6" style="cursor: pointer; border-color: #C1C6CD" @click="toggleContent">
        <p class="text-sm font-bold pr-6">{{judul}}</p>
        <div class="text-sm mt-6" v-show="click" v-html="konten" style="color: #808285">{{konten}}</div>
        <p class="absolute top-0 right-0 text-3xl mt-3" v-show="pointer === '+'">+</p>
        <p class="absolute top-0 right-0 text-5xl -mt-1" v-show="pointer === '-'">-</p>
    </div>
</template>

<script>
    export default {
        name: "QuestionItem",
        props: {
            judul: String,
            konten: String
        },
        data: function () {
            return {
                click: false,
                pointer: "+"
            }
        },
        methods: {
            toggleContent: function () {
                this.click = !this.click
                if (this.pointer === "+") {
                    this.pointer = "-"
                }
                else {
                    this.pointer = "+"
                }
            }
        }
    }
</script>

<style scoped>

</style>