<template>
    <div>
        <div class="flex flex-wrap border border-gray-400 mt-4 px-8 pt-10 pb-20 rounded-lg shadow-lg wa-bg justify-center" style="height: 500px">
            <div class="w-full flex flex-wrap mb-16">
                <div class="flex flex-wrap">
                    <p class="w-full text-2xl font-bold" style="font-family: Poppins">{{kontenItem[0].benefit}}</p>
                    <div class="mt-6 lg:ml-6">
                        <p v-for="data in kontenItem[0].advantage" :key="data" class="text-md" style="font-family: Poppins">{{ data }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ContentBox",
        props: {
            kontenItem: Array,
        },
    }
</script>

<style scoped>

</style>