<template>
    <div class="lg:mx-20 flex flex-wrap bg-white border rounded-lg py-6 px-10 justify-between" style="border-color: #48CBBC">
        <div>
            <p class="text-lg font-semibold tracking-wide" style="font-family: Poppins">{{konten.ext_desc1}}</p>
            <p class="text-sm" style="font-family: Poppins">{{konten.ext_desc2}}</p>
        </div>
        <div class="flex flex-wrap justify-end items-center">
            <a href="https://api.whatsapp.com/message/CJYNUR2AAUSVG1" target="_blank"><button class="text-white rounded-lg border py-2 px-6 bg-white" style="border-color: #48CBBC; background-color: #48CBBC">Contact Sales</button></a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CustomMask",
        props: {
            konten: Object,
        },
    }
</script>

<style scoped>

</style>