<template>
    <div class="lg:mx-20 flex flex-wrap bg-white border rounded-lg py-6 px-10 justify-between" style="border-color: #48CBBC">
        <div>
            <p class="text-lg font-semibold tracking-wide" style="font-family: Poppins">{{konten.ext_quota}}</p>
            <p class="text-sm" style="font-family: Poppins">{{konten.ext_desc}}</p>
        </div>
        <div class="flex flex-wrap justify-end items-center">
            <p class="text-xl font-bold tracking-wide lg:mt-0 mt-4" style="color: #48CBBC">{{harga | formatQuantity}} <span class="text-sm text-black font-thin tracking-normal"> / Push Notification</span></p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "QuotaExtra",
        props: {
            konten: Object,
            harga: String
        },
        filters: {
            // you can call this whatever you want to
            formatQuantity (value) {
                return value.replace(/,/g, '.');
            }
        }
    }
</script>

<style scoped>

</style>