<template>
    <div class="md:mx-8 lg:mx-40 flex flex-wrap bg-white border rounded-lg py-6 px-10" style="border-color: #48CBBC">
        <div class="lg:w-1/2">
            <p class="text-lg font-semibold tracking-wide" style="font-family: Poppins">Whatsapp Business Verified Account</p>
            <p class="text-sm" style="font-family: Poppins">Est. time to get approval is 30 Days</p>
        </div>
        <div class="lg:w-1/2 flex flex-wrap justify-end items-center">
            <button class="py-2 px-6 rounded-lg text-sm text-white lg:mt-0 mt-4" style="background-color: #48CBBC">Contact Sales</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "VerifiedAcc"
    }
</script>

<style scoped>

</style>