<template>
    <div class="w-full md:w-1/2 lg:w-1/4 px-1 lg:mt-0 mt-6 flex flex-wrap justify-center">
        <!-- INDIKATOR MOST POPULAR -->
        <div :class="[{'opacity-1' : popular, 'opacity-0' : !popular}]" class="z-10 mx-auto px-6 py-2 flex rounded-full shadow-xl bg-gray-800">
            <p class="text-xs font-bold text-white tracking-widest">MOST POPULAR</p>
        </div>

        <div class="relative w-full h-full z-0 -mt-5 border border-gray-400 rounded-lg justify-center" style="box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
            <!-- BACKGROUND -->
            <img :src="require('../../../../assets/image/' + img + '')" class="z-0 w-full h-full absolute top-0 overflow-auto rounded-md">

            <div class="relative w-full h-full flex flex-wrap justify-center">
                <div class="w-full h-full justify-center">
                    <p :style="title_color" class="w-full mt-8 text-center text-md text-white font-semibold tracking-widest">{{ title }}</p>
                    <p :style="price_color" class="w-full mt-2 text-center text-lg md:text-md lg:text-lg xl:text-xl text-white font-semibold tracking-widest">{{ price }}</p>

                    <!-- KONTEN PRODUCT -->
                    <div class="w-full mt-4 mb-24" style="min-height: 400px">
                        <price-desc v-for="data in desc" :key="data" :judul="data.title" :konten="data.konten" :judul_color="data.title_color" :konten_color="data.konten_color"/>
                    </div>

                    <div class="w-full absolute bottom-0">
                        <a :href="this.$session.exists() ? link : link === 'register' ? link : 'login'"><button :style="btn_color" class="transition duration-300 ease-in-out block mx-auto px-12 py-2 border bg-white rounded-lg shadow-lg">Start</button></a>
                        <div class="flex justify-center items-center mt-4 mb-4">
                            <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 5.43834C1 5.43834 3.18182 1.07471 7 1.07471C10.8182 1.07471 13 5.43834 13 5.43834C13 5.43834 10.8182 9.80198 7 9.80198C3.18182 9.80198 1 5.43834 1 5.43834Z" :stroke="detail_color" stroke-width="1.09091" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.00013 7.07497C7.90387 7.07497 8.6365 6.34235 8.6365 5.43861C8.6365 4.53487 7.90387 3.80225 7.00013 3.80225C6.09639 3.80225 5.36377 4.53487 5.36377 5.43861C5.36377 6.34235 6.09639 7.07497 7.00013 7.07497Z" :stroke="detail_color" stroke-width="1.09091" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

                            <a :style="'color: ' + detail_color" class="ml-1 text-sm" href="pricing">See Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PriceDesc from "./content/PriceDesc";

    export default {
        name: "Regular",
        props:{
            popular: Boolean,
            img: String,
            title_color: String,
            title: String,
            price_color: String,
            price: String,
            desc: Array,
            btn_color: String,
            detail_color: String,
            link: String
        },
        components: {
            PriceDesc
        }
    }
</script>

<style scoped>

</style>