<template>
    <div class="xl:mt-0 mt-6 lg:w-1/2 xl:w-1/3 px-4">
        <div class="flex flex-wrap px-8 py-10 bg-white lg:h-full" style="box-shadow: 8px 7px 17px -1px rgba(0,0,0,0.41); border-radius: 25px">
            <p class="text-lg">{{konten.description}}</p>
            <div class="w-full flex flex-wrap mt-4 lg:mt-auto align-bottom">
                <div class="lg:w-2/3 flex flex-column items-end">
                    <div>
                        <img :src="konten.img_url">
                        <p class="mt-4 text-sm font-semibold text-gray-500">{{konten.author_name}}</p>
                        <p class="text-sm text-gray-500">{{konten.author_title_company}}</p>
                    </div>
                </div>
                <div class="lg:w-1/3 w-full h-auto flex flex-wrap">
                    <div style="width: 100%; height: auto" class="flex flex-wrap items-bottom">
                        <img :src="konten.author_img_url" class="block mx-auto mt-auto">
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Employee",
        props: {
            konten: Object
        }
    }
</script>

<style scoped>

</style>