<template>
    <div class="w-full mt-6 mt-6 px-4">
        <div class="py-6 px-10 bg-white" style="box-shadow: 8px 7px 17px -1px rgba(0,0,0,0.41);border-radius: 30px">
            <p class="text-main-color text-sm font-semibold">{{konten.title}}</p>
            <p class="text-xs mt-2">
                {{konten.description}}
            </p>
            <img :src="konten.img_url" class="mt-6 w-auto ml-auto" style="max-height: 50px; max-width: 150px">
        </div>
    </div>
</template>

<script>
    export default {
        name: "QuoteWithUsecase",
        props: {
            konten: Object
        }
    }
</script>

<style scoped>

</style>