<template>
  <div id="app">
    <navbar-short/>

    <p class="text-lg text-main-color font-semibold ml-6 lg:ml-16 mt-56 lg:mt-40">Confirm your orders</p>
    <umkm-blast v-if="umkm"/>
    <oca-blast class="mt-6" v-if="blast"/>
    <wa-blast v-if="wa || blast"/>
    <promo-blast v-if="promo" />

    <div class="mt-16 mx-6 lg:mx-16 flex justify-end">
      <div class="relative flex bg-gray-200 py-2 px-6 rounded-lg" style="width: 400px">
        <p class="text-main-color font-medium">Total</p>
        <p class="absolute right-0 px-6 text-main-color font-medium">IDR {{total_price | formatQuantity}}</p>
      </div>
    </div>

    <div class="flex flex-wrap justify-center items-center" style="height: 150px">
      <a v-show="validasi" class="bg-main-color px-8 py-2 text-sm text-white rounded-lg cursor-pointer" @click="submitPackage">Lanjutkan</a>
      <a v-show="!validasi" class="bg-gray-500 px-8 py-2 text-sm text-white rounded-lg">Lanjutkan</a>
    </div>

    <Footer/>

    <loading-overlay/>
    <error-overlay/>
  </div>
</template>

<script>
  import Footer from "./components/Footer";
  import OcaBlast from "./components/OcaBlast";
  import WaBlast from "./components/WaBlast";
  import UmkmBlast from "./components/UmkmBlast";
  import PromoBlast from "./components/promoBlast";
  import LoadingOverlay from "../../components/LoadingOverlay";
  import ErrorOverlay from "../../components/ErrorOverlay";
  import NavbarShort from "../../components/NavbarShort";

  export default {
    name: 'App',
    components: {
      NavbarShort,
      ErrorOverlay,
      LoadingOverlay,
      WaBlast,
      OcaBlast,
      Footer,
      UmkmBlast,
      PromoBlast
    },
    data: function () {
      return {
        //VARIABLE INDIKATOR UNTUK PRODUK YANG DIPILIH
        status: false,
        blast: false,
        umkm: false,
        promo: false,
        wa: false,
        blastPlan: '',
        umkmPlan: {product_id: '1', type: ''},
        promoPlan: {product_id: '1', type: ''},
        waMask: '',
        waPlan: '',
        promoId: '',
        blastAdd: false,
        promoAdd: false,
        umkmAdd: false,
        blastExtra: {
          call: '0',
          sms: '0',
          email: '0'
        },
        promoExtra: {
          call: '0',
          sms: '0',
          email: '0'
        },
        umkmExtra: {
          call: '0',
          sms: '0',
          email: '0'
        },
        waAdd: false,
        ocaInt: false,
        waPush: '0',
        waExtra: {
          call: '0',
          sms: '0',
          email: '0'
        },
        price_list: {},
      }
    },
    mounted() {
      if(!this.$cookies.isKey('lang_oca')){
        this.$cookies.set('lang_oca', 'id')
      }

      this.loadData()
      this.checkUmkm()

      let uri = window.location.search.substring(1);
      let params = new URLSearchParams(uri);
      if(params.get("package") != null){
        let paket = params.get("package").split('_')
        if(paket[0] === 'blast'){
          console.log(this.price_list);
          this.blast = true
          if(params.get("plan") != null){
            this.blastPlan = params.get("plan")
          }
        }
        else if(paket[0] === 'promo'){
          this.promo = true
          this.promoPlan.type = paket[1]
          if(params.get("plan") != null){
            // this.promoPlan.product_id = params.get("plan")
            let data = {
              ocaBlast: [{product_id: '5fa10043593826349036e439', default_qty: '1'}],
            }
              if (data[this.promoPlan.type][0].product_id === params.get("plan")) {
                this.promoPlan.product_id = data[this.promoPlan.type][0].default_qty;
              }
          }
        }
        else if(paket[0] === 'umkm'){
          this.umkm = true
          this.umkmPlan.type = paket[1]
          if(params.get("plan") != null){
            let data = {
              small: [{product_id: '5fa0fa85593826349036e42d', defaul_qty: '1'}, {product_id: '5fa0fadd593826349036e430', defaul_qty: '12'}, {product_id: '5fa0fa96593826349036e42e', defaul_qty: '3'}, {product_id: '5fa0faac593826349036e42f', defaul_qty: '6'}],
              medium: [{product_id: '5fa0fb34593826349036e431', defaul_qty: '1'}, {product_id: '5fa0fb62593826349036e434', defaul_qty: '12'}, {product_id: '5fa0fb45593826349036e432', defaul_qty: '3'}, {product_id: '5fa0fb57593826349036e433', defaul_qty: '6'}],
              large: [{product_id: '5fa0fbc7593826349036e435', defaul_qty: '1'}, {product_id: '5fa0fbe9593826349036e438', defaul_qty: '12'}, {product_id: '5fa0fbd5593826349036e436', defaul_qty: '3'}, {product_id: '5fa0fbe0593826349036e437', defaul_qty: '6'}]
            }
            for (let i = 0; i < 4; i++) {
              if (data[this.umkmPlan.type][i].product_id === params.get("plan")) {
                this.umkmPlan.product_id = data[this.umkmPlan.type][i].defaul_qty;
              }
            }
          }
        }
        else {
          this.wa = true
          if(params.get("plan") != null){
            this.waPlan = params.get("plan")
          }
        }
      }
    },
    computed: {
      validasi: function () {
        var cek = false
        if (this.blast) {
          if (this.blastPlan !== '') {
            cek = true
          }
          else {
            cek = false
          }
        }

        if (this.promo) {
          if (this.promoPlan !== '') {
            cek = true
          }
          else {
            cek = false
          }
        }

        if (this.umkm) {
          if (this.umkmPlan !== '') {
            cek = true
          }
          else {
            cek = false
          }
        }

        if (this.wa) {
          if (this.waMask !== ''){
            if(this.waPlan !== '') {
              cek = true
            }
            else {
              cek = false
            }
          }
          else {
            cek = false
          }
        }

        return cek
      },

      //HITUNG TOTAL BERDASARKAN PRODUK YANG DIPILIH
      total_price: function () {
        var total = 0

        if(this.blast === true){
          if(this.blastPlan !== '') {
            if(this.price_list.oca_blast){
              switch (this.blastPlan) {
                case "1":
                  total += Number(this.price_list.oca_blast[0].total_price)
                  break
                case "3":
                  total += Number(this.price_list.oca_blast[1].total_price)
                  break
                case "6":
                  total += Number(this.price_list.oca_blast[2].total_price)
                  break
              }
            }
          }

          if(this.price_list.call && this.price_list.sms && this.price_list.email){
            total += Number(this.blastExtra.call) * Number(this.price_list.call.price)
            total += Number(this.blastExtra.sms) * Number(this.price_list.sms.price)
            total += Number(this.blastExtra.email) * Number(this.price_list.email.price)
          }
        }

        if(this.promo === true){
          if(this.promoPlan !== '') {
            if(this.price_list.promo){
              switch (this.promoPlan.product_id) {
                case "1":
                  total += Number(this.price_list.promo.original_price * this.price_list.promo.discount / 100)
                  break
              }
            }
            
            if(this.price_list.call && this.price_list.sms && this.price_list.email){
              total += Number(this.promoExtra.call) * Number(this.price_list.call.price)
              total += Number(this.promoExtra.sms) * Number(this.price_list.sms.price)
              total += Number(this.promoExtra.email) * Number(this.price_list.email.price)
            }
          }
        }

        if(this.umkm === true){
          if(this.umkmPlan !== '') {
            if(this.price_list.oca_blast){
              switch (this.umkmPlan.product_id) {
                case "1":
                  total += Number(this.price_list.umkm[this.umkmPlan.type][0].price * this.price_list.umkm[this.umkmPlan.type][0].default_qty)
                  break
                case "3":
                  total += Number(this.price_list.umkm[this.umkmPlan.type][1].price * this.price_list.umkm[this.umkmPlan.type][1].default_qty)
                  break
                case "6":
                  total += Number(this.price_list.umkm[this.umkmPlan.type][2].price * this.price_list.umkm[this.umkmPlan.type][2].default_qty)
                  break
                case "12":
                  total += Number(this.price_list.umkm[this.umkmPlan.type][3].price * this.price_list.umkm[this.umkmPlan.type][3].default_qty)
                  break
              }
            }
            
            if(this.price_list.call && this.price_list.sms && this.price_list.email){
              total += Number(this.umkmExtra.call) * Number(this.price_list.call.price)
              total += Number(this.umkmExtra.sms) * Number(this.price_list.sms.price)
              total += Number(this.umkmExtra.email) * Number(this.price_list.email.price)
            }
          }
        }

        if(this.wa === true){
          if(this.price_list.masking){
            if(this.waMask === 'custom'){
              total += Number(this.price_list.masking[1].price)
            }
            else {
              total += Number(this.price_list.masking[0].price)
            }
          }

          if(this.price_list.whatsapp_blast){
            switch (this.waPlan) {
              case "1":
                total += Number(this.price_list.whatsapp_blast[0].total_price)
                break
              case "6":
                total += Number(this.price_list.whatsapp_blast[1].total_price)
                break
              case "12":
                total += Number(this.price_list.whatsapp_blast[2].total_price)
                break
            }
          }

          if(this.price_list.whatsapp){
            total += Number(this.waPush) * Number(this.price_list.whatsapp.price)
          }

          if(this.blast === false){
            if(this.price_list.call && this.price_list.sms && this.price_list.email){
              total += Number(this.waExtra.call) * Number(this.price_list.call.price)
              total += Number(this.waExtra.sms) * Number(this.price_list.sms.price)
              total += Number(this.waExtra.email) * Number(this.price_list.email.price)
            }
          }
        }

        return total.toLocaleString()
      }
    },
    methods: {
      checkUmkm: function () {
        const axios = require('axios')

        let main = this
        axios.get('https://dtp.ocatelkom.co.id/api/dtp/v1/check-umkm/' + main.$session.get('user_id'), {})
        .then(function (response) {
            main.status = response.data.umkm;
        })
      },
      loadData: function () {
        const axios = require('axios')

        let main = this
        axios.get('https://payment.ocatelkom.co.id/api/v1/price-list', {
          headers: {
            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
          }
        })
        .then(function (response) {
          main.price_list = response.data.product
        })
      },

      submitPackage: function () {
        this.$modal.show('loading')
        const axios = require('axios')

        //HITUNG TOTAL BERDASARKAN PRODUK YANG DIPILIH
        var products = []
        if(this.blast === true){
          if(this.blastPlan !== '') {
            if(this.price_list.oca_blast){
              switch (this.blastPlan) {
                case "1":
                  products.push({
                    product_id: this.price_list.oca_blast[0].product_id,
                    qty: 1
                  })
                  break
                case "3":
                  products.push({
                    product_id: this.price_list.oca_blast[1].product_id,
                    qty: 1
                  })
                  break
                case "6":
                  products.push({
                    product_id: this.price_list.oca_blast[2].product_id,
                    qty: 1
                  })
                  break
              }
            }
          }

          if(this.price_list.call && this.price_list.sms && this.price_list.email){
            if(Number(this.blastExtra.call) > 0){
              products.push({
                product_id: this.price_list.call.product_id,
                qty: Number(this.blastExtra.call)
              })
            }
            if(Number(this.blastExtra.sms) > 0){
              products.push({
                product_id: this.price_list.sms.product_id,
                qty: Number(this.blastExtra.sms)
              })
            }
            if(Number(this.blastExtra.email) > 0){
              products.push({
                product_id: this.price_list.email.product_id,
                qty: Number(this.blastExtra.email)
              })
            }
          }
        }

        if(this.promo === true){
          if(this.promoPlan !== '') {
            if(this.price_list.promo){
              switch (this.promoPlan.product_id) {
                case "1":
                  products.push({
                    product_id: this.price_list.promo.product_id,
                    qty: 1
                  })
                  break
              }
            }
          }

          if(this.price_list.call && this.price_list.sms && this.price_list.email){
            if(Number(this.promoExtra.call) > 0){
              products.push({
                product_id: this.price_list.call.product_id,
                qty: Number(this.promoExtra.call)
              })
            }
            if(Number(this.promoExtra.sms) > 0){
              products.push({
                product_id: this.price_list.sms.product_id,
                qty: Number(this.promoExtra.sms)
              })
            }
            if(Number(this.promoExtra.email) > 0){
              products.push({
                product_id: this.price_list.email.product_id,
                qty: Number(this.promoExtra.email)
              })
            }
          }
        }

        if(this.umkm === true){
          if(this.umkmPlan !== '') {
            if(this.price_list.umkm){
              switch (this.umkmPlan.product_id) {
                case "1":
                  products.push({
                    product_id: this.price_list.umkm[this.umkmPlan.type][0].product_id,
                    qty: 1
                  })
                  break
                case "3":
                  products.push({
                    product_id: this.price_list.umkm[this.umkmPlan.type][1].product_id,
                    qty: 1
                  })
                  break
                case "6":
                  products.push({
                    product_id: this.price_list.umkm[this.umkmPlan.type][2].product_id,
                    qty: 1
                  })
                  break
                case "12":
                  products.push({
                    product_id: this.price_list.umkm[this.umkmPlan.type][3].product_id,
                    qty: 1
                  })
                  break
              }
            }
          }

          if(this.price_list.call && this.price_list.sms && this.price_list.email){
            if(Number(this.umkmExtra.call) > 0){
              products.push({
                product_id: this.price_list.call.product_id,
                qty: Number(this.umkmExtra.call)
              })
            }
            if(Number(this.umkmExtra.sms) > 0){
              products.push({
                product_id: this.price_list.sms.product_id,
                qty: Number(this.umkmExtra.sms)
              })
            }
            if(Number(this.umkmExtra.email) > 0){
              products.push({
                product_id: this.price_list.email.product_id,
                qty: Number(this.umkmExtra.email)
              })
            }
          }
        }

        if(this.wa === true){
          if(this.price_list.masking){
            if(this.waMask === 'custom'){
              products.push({
                product_id: this.price_list.masking[1].product_id,
                qty: 1
              })
            }
            else {
              products.push({
                product_id: this.price_list.masking[0].product_id,
                qty: 1
              })
            }
          }

          if(this.price_list.whatsapp_blast){
            switch (this.waPlan) {
              case "1":
                products.push({
                  product_id: this.price_list.whatsapp_blast[0].product_id,
                  qty: 1
                })
                break
              case "6":
                products.push({
                  product_id: this.price_list.whatsapp_blast[1].product_id,
                  qty: 1
                })
                break
              case "12":
                products.push({
                  product_id: this.price_list.whatsapp_blast[2].product_id,
                  qty: 1
                })
                break
            }
          }

          if(this.price_list.whatsapp){
            if(Number(this.waPush) > 0){
              products.push({
                product_id: this.price_list.whatsapp.product_id,
                qty: Number(this.waPush)
              })
            }
          }

          if(this.blast === false){
            if(this.price_list.call && this.price_list.sms && this.price_list.email){
              if(Number(this.waExtra.call) > 0){
                products.push({
                  product_id: this.price_list.call.product_id,
                  qty: Number(this.waExtra.call)
                })
              }
              if(Number(this.waExtra.sms) > 0){
                products.push({
                  product_id: this.price_list.sms.product_id,
                  qty: Number(this.waExtra.sms)
                })
              }
              if(Number(this.waExtra.email) > 0){
                products.push({
                  product_id: this.price_list.email.product_id,
                  qty: Number(this.waExtra.email)
                })
              }
            }
          }
        }

        let main = this
        axios.post('https://payment.ocatelkom.co.id/api/v1/create-order', {
          user_id: main.$session.get('user_id'),
          product_subscription: products
        }, {
          headers: {
            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
          }
        })
        .then(function (response) {
          main.$modal.hide('loading')
          main.$session.set('order_id', response.data.order_id)

          window.location.href = 'payment'
        })
        .catch(function (error) {
          main.$modal.hide('loading')
          main.$modal.show('error', {
            title: "ERROR " + error.response.data.errors[0].code,
            message: error.response.data.errors[0].message
          })
        })
      }
    },
    filters: {
      // you can call this whatever you want to
      formatQuantity (value) {
        return value.replace(/,/g, '.');
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

  #app {
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
