<template>
  <div id="app" class="w-screen h-screen flex flex-wrap">
    <div class="fixed top-0 z-20 w-full py-6 px-10 bg-main-color">
      <a href="./">
        <div class="w-56 h-auto">
          <img src="../../assets/image/logo_white.png" class="w-full">
        </div>
      </a>
    </div>

    <div class="w-screen h-screen flex flex-wrap justify-center items-center">
      <div>
        <img src="../../assets/image/wa_blast/informasi.png" style="max-width: 350px; min-width: 250px;" class="block mx-auto">
        <p class="mt-8 text-2xl font-bold text-center">Selamat<br>
          informasi yang kami butuhkan sudah berhasil tersimpan!</p>
        <p class="mt-6 text-sm text-center">Informasi anda akan melalui proses verifikasi dalam waktu maksimal 1 x 24 jam.<br>
          Selanjutnya kami akan menginformasikan via email anda.</p>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'App',
    created() {
      if(!this.$cookies.isKey('lang_oca')){
        this.$cookies.set('lang_oca', 'id')
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

  #app {
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
