<template>
    <!-- BEFORE OPEN DIPANGGIL SAAT MODAL AKAN TERBUKA -->
    <modal name="confirm-modal" :height="'auto'" :adaptive="true" :resizeable="true" :clickToClose="false" @before-open="beforeOpen">
        <div class="py-6 px-12">
            <p class="text-lg font-bold text-center">{{title}}</p>
            <p class="mt-4 text-center">{{message}}</p>
            <div class="flex justify-center mt-6">
                 <button class="mx-2 py-2 px-6 rounded-lg bg-main-color text-white focus:outline-none" @click="closeModal">Tutup</button>
                <button class="mx-2 py-2 px-6 rounded-lg bg-main-color text-white focus:outline-none" @click="logout" >Logout & Daftar sebagai UMKM</button>
            </div>
            
           
        </div>
    </modal>
</template>

<script>
    export default {
        name: "ConfirmationOverlay",
        data: function () {
            return {
                title: '',
                message: ''
            }
        },
        methods: {
            //AMBIL DATA SAAT DEKLARASI MODAL
            beforeOpen: function (event) {
                this.title = event.params.title
                this.message = event.params.message
            },

            closeModal: function () {
                this.$modal.hide('confirm-modal')
            },

            logout: function () {
                this.$session.destroy()
                window.location.href = "./login_umkm"
            }
        }
    }
</script>

<style scoped>
    .bg-loading {
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>