<template>
    <div class="pl-8 flex flex-wrap">
        <div>
            <div class="w-full flex items-center mt-2">
                <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.7081 11.2164L10.7009 9.21284C10.501 9.02186 10.2335 8.9176 9.95686 8.92286C9.68019 8.92812 9.41686 9.04246 9.22445 9.2409L8.21274 10.2497L8.01447 10.1388C7.12033 9.67882 6.30035 9.08765 5.58187 8.38504C4.87538 7.66614 4.28058 6.84588 3.81718 5.95147C3.77991 5.88132 3.74687 5.81889 3.7082 5.75715L4.38736 5.08089L4.72132 4.74767C4.92017 4.55558 5.03463 4.29269 5.03963 4.01658C5.04464 3.74046 4.93979 3.47362 4.74803 3.27448L2.74149 1.27024C2.54181 1.07891 2.27424 0.974421 1.99746 0.979682C1.72067 0.984942 1.45728 1.09952 1.26505 1.2983L0.702602 1.86582L0.71807 1.88126C0.523688 2.13089 0.366672 2.40737 0.251938 2.70204C0.146661 2.9696 0.0757904 3.2494 0.0410186 3.53474C-0.224037 5.72769 0.779939 7.73193 3.50572 10.4517C7.27344 14.2105 10.3093 13.927 10.4407 13.913C10.7275 13.8787 11.0086 13.808 11.2774 13.7026C11.5717 13.5886 11.8478 13.4327 12.0972 13.2396L12.1098 13.2508L12.6828 12.6896C12.8811 12.4971 12.9951 12.2342 12.9998 11.9582C13.0046 11.6822 12.8997 11.4155 12.7081 11.2164Z" fill="#EC3670"/>
                </svg>
                <p class="ml-4 font-bold">Voice Blast</p>
            </div>

            <p class="w-full mt-4">{{konten.description}}</p>
        </div>

        <div class="w-full flex flex-wrap justify-center mt-6">
            <p v-for="data in konten.advantage" :key="data" class="w-1/2 lg:w-1/3 text-sm py-4">{{data}}</p>
        </div>

        <a class="flex text-sm font-bold text-main-color mt-auto align-bottom" href="products" target="_blank">Read More</a>
    </div>
</template>

<script>
    export default {
        name: "VoiceBlast",
        props: {
            konten: Object
        }
    }
</script>

<style scoped>

</style>