<template>
    <div class="w-full flex flex-wrap pr-0 lg:pr-20">
        <form class="w-full lg:w-10/12" method="post" @submit="loginUser">
            <!-- TEKS INI TAMPIL SAAT USER SELESAI VERIFIKASI MELALUI EMAIL -->
            <p class="w-full text-sm text-main-color mb-4" v-show="$parent.verified">Akun anda berhasil diverifikasi. Silahkan Login untuk melanjutkan.</p>
            <div class="mb-6 lg:mb-6 xl:mb-10">
                <p class="text-3xl lg:text-4xl font-bold mt-0 lg:mt-0 text-neutral-600 leading-tight">Hai, <br>Log in disini.</p>
                <div class="flex mt-2">
                    <p class="text-sm lg:mt-0 text-neutral-200">Belum memiliki akun? 
                    <a class="ml-2 text-sm text-main-color border-b-2-main-color" style="border-bottom:1px solid;" href="registerV3">Buat akun OCA</a>
                    </p>
                </div>
            </div>
            <p class="text-neutral-600 my-2">Email</p>
            <oca-input class="w-full" type="email" placeholder="Masukan email" v-model="email" label="Email" required> </oca-input>
            <p class="text-neutral-600 my-2">Password</p>
            <oca-input class="w-full" type="password" placeholder="Masukan password" v-model="password" label="Password" required> </oca-input>
            <div class="flex justify-between mt-4 items-center">
                <div class="flex items-center">
                    <input type="checkbox" id="remember" class="border-neutral-200 mr-1" name="remember" value="Bike">
                    <label for="remember" class="text-neutral-200 text-xsm">Ingat saya</label><br>
                </div>
                <p @click="forgotPass" class="font-semibold text-sm text-neutral-200 text-xsm" style="cursor:pointer;">Lupa password?</p>
            </div>
            <input type="submit" class="px-4 py-2 bg-primary text-white text-center rounded-lg mt-12 text-xxsm cursor-pointer" value="Log In"/>
        </form>
    </div>
</template>

<script>
  import OcaInput from '../../../components/oca_origin/inputs';

    export default {
        name: "LoginUser",
        components:{
            OcaInput
        },
        data: function () {
            return {
                email: '',
                password: '',
            }
        },
        methods: {
            forgotPass: function () {
                this.$parent.changePage('forgot')
            },

            loginUser: function (e) {
                e.preventDefault()
                this.$modal.show('loading')

                const axios = require('axios')

                let main = this
                axios.post('https://dtp.ocatelkom.co.id/api/dtp/v1/user/login', {
                    email: main.email,
                    password: main.password
                })
                .then(function (response) {
                    console.log(response.data);
                    if(response.data) {
                        main.$session.start()
                        main.$session.set("user_id", response.data.user_id)
                        main.$session.set("email", response.data.email)
                        main.$session.set("first_name", response.data.first_name)
                        main.$session.set("last_name", response.data.last_name)
                        main.$session.set("token", response.data.token)

                        window.location.href = 'dashboard'
                    }
                })
                .catch(function (error) {
                    main.$modal.show('error', {
                        title: "ERROR " + error.response.data.errors[0].code,
                        message: error.response.data.errors[0].message
                    })
                })
                .finally(() => main.$modal.hide('loading'))
            },

            googleSignUp: function () {
                this.$modal.show('loading')
                const axios = require('axios');

                let main = this
                axios.get('https://dtp.ocatelkom.co.id/api/dtp/v1/google/url')
                    .then(function (response) {
                        if (response.data.url) {
                            window.location.href = response.data.url
                        }
                    })
                    .catch(function (error) {
                        if(error.response.data) {
                            main.$modal.show('error', {
                                title: "ERROR " + error.response.data.errors[0].code,
                                message: error.response.data.errors[0].message
                            })
                        }
                    })
                    .finally(() => {
                        main.$modal.hide('loading')
                    })
            }
        }
    }
</script>

<style scoped>
.word-create-account:hover{
color: #ED1260;
}
</style>