<template>
  <div id="app" class="w-screen h-screen">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFHTVZD"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <a href="./" class="pl-5 sm:pl-24 pt-6 lg:pt-10 xl:px-20 lg:px-20 sm:pt-10 md:pt-10 lg:pt-6 inline-block">
      <img src="../../assets/image/logo-oca.png" class="w-40 lg:w-56">
    </a>
    <div class="w-full px-5 w-full flex flex-wrap xl:px-40 lg:px-20 flex flex-wrap mt-10 md:mt-10">
      <div id="registerId" class="w-full flex flex-wrap">
        <transition>
        <div class="w-full my-0 flex flex-wrap flex-row items-center" v-show="step === 1">
          <div class="flex flex-col md:px-20 md:w-full lg:w-1/2 lg:px-0">
            <form class="w-full" method="post" @submit="loginUser">
                <div class="mb-0 pb-3 lg:pb-0 xl:pb-0 lg:mb-5">
                    <p class="text-2xl md:text-3xl font-bold text-neutral-600">Selamat datang di OCA!</p>
                    <div class="flex mt-1 w-10/12 md:w-9/12 lg:w-10/12 xl:w-8/12">
                        <p class="text-neutral-200 text-xsm md:text-sm">Libatkan pelanggan Anda dengan tindakan sederhana. Sudah memiliki akun?  
                        <a class="text-xsm text-main-color" style="border-bottom:1px solid;" href="loginV2">Log in</a>
                        </p>
                    </div>
                </div>
                <p class="text-neutral-600 my-2">Email</p>
                <oca-input class="w-full lg:w-10/12" type="email" placeholder="Masukan email" v-model="email" label="Email"> </oca-input>
                <p class="text-neutral-600 my-2">Password</p>
                <oca-input class="w-full lg:w-10/12" type="password" placeholder="Masukan password" v-model="password" label="Password"> </oca-input>
                <div class="flex justify-between mt-4 w-full lg:w-10/12">
                    <div class="flex">
                      <div class="">
                          <input @click="clickHandler" type="checkbox" id="remember" class="border-neutral-200 mr-1" name="remember" value="Bike">
                      </div>
                      <div class="">
                          <label for="remember" class="text-neutral-200 text-xsm md:text-sm">Saya menyetujui <a href="#" target="_blank" class="text-main-color text-xsm md:text-sm">Syarat & Ketentuan</a> dan <a href="#" target="_blank" class="text-main-color text-xsm md:text-sm">Kebijakan Privasi</a> yang berlaku.</label>
                      </div>
                    </div>
                </div>
                <input type="submit" :class="aggreprivacy ? 'bg-custom-25' : 'bg-primary'" class="px-4 py-2 text-white text-center rounded-lg mt-5 md:mt-8 text-xxsm cursor-pointer" value="Daftar"/>
            </form>
          </div>
          <div class="hidden lg:w-1/2 md:w-9/12 md:my-0 md:ml-auto lg:block">
            <div class="w-full h-full flex flex-wrap items-center">
              <Employee/>
            </div>
          </div>
        </div>
        </transition>
        <transition name="slid">
          <div v-show="step === 2" class="flex flex-row justify-between h-full w-full items-center">
              <div class="md:px-20 lg:px-0 flex flex-col lg:w-5/12 xl:w-5/12 overflow-y-auto">
                  <div class="flex flex-col my-2">
                      <progress id="file" value="32" max="100" class="progressbar"></progress>
                      <div class="mb-10 mt-12">
                          <div class="lg:text-xl xl:text-3xl text-neutral-600 font-semibold">Sebesar apa perusahaan Anda?</div>
                          <div class="text-neutral-400 text-xsm sm:text-sm xl:text-base">Dengan mengetahui jumlah orang yang bekerja di perusahaan Anda kami dapat menentukan solusi yang sesuai.</div>
                      </div>
                  <div class="text-sm font-medium text-neutral-600">Ukuran Perusahaan</div>
                  <div class="flex my-2">
                      <div class="flex-1 mr-4" @click.prevent="next()">
                          <div @click="form.bussinessSize = '< 10 employees'" :class="{'border border-custom-29': form.bussinessSize !== '< 10 employees', 'border-2 border-main-color': form.bussinessSize === '< 10 employees'}" class="flex flex-col cursor-pointer justify-center rounded-lg h-24">
                              <div :class="{'text-custom-29 ': form.bussinessSize !== '< 10 employees', 'text-main-color font-medium': form.bussinessSize === '< 10 employees'}" class="text-center text-xsm md:text-sm select-none">&lt; 10</div>
                              <div :class="{'text-custom-29 ': form.bussinessSize !== '< 10 employees', 'text-main-color font-medium': form.bussinessSize === '< 10 employees'}" class="text-center text-xs md:text-xsm select-none">Orang</div>
                          </div>
                      </div>
                      <div class="flex-1 mr-4" @click.prevent="next()">
                          <div @click="form.bussinessSize = '10-49 employees'" :class="{'border border-custom-29': form.bussinessSize !== '10-49 employees', 'border-2 border-main-color': form.bussinessSize === '10-49 employees'}"  class="flex flex-col cursor-pointer justify-center rounded-lg h-24">
                              <div :class="{'text-custom-29 ': form.bussinessSize !== '10-49 employees', 'text-main-color font-medium': form.bussinessSize === '10-49 employees'}" class="text-center text-xsm md:text-sm select-none">10 - 49</div>
                              <div :class="{'text-custom-29 ': form.bussinessSize !== '10-49 employees', 'text-main-color font-medium': form.bussinessSize === '10-49 employees'}" class="text-center text-xs md:text-xsm select-none">Orang</div>
                          </div>
                      </div>
                      <div class="flex-1 mr-4" @click.prevent="next()">
                          <div @click="form.bussinessSize = '50-249 employees'" :class="{'border border-custom-29': form.bussinessSize !== '50-249 employees', 'border-2 border-main-color': form.bussinessSize === '50-249 employees'}"  class="flex flex-col cursor-pointer justify-center rounded-lg h-24">
                              <div :class="{'text-custom-29 ': form.bussinessSize !== '50-249 employees', 'text-main-color font-medium': form.bussinessSize === '50-249 employees'}" class="text-center text-xsm md:text-sm select-none">50 - 249</div>
                              <div :class="{'text-custom-29 ': form.bussinessSize !== '50-249 employees', 'text-main-color font-medium': form.bussinessSize === '50-249 employees'}" class="text-center text-xs md:text-xsm select-none">Orang</div>
                          </div>
                      </div>
                      <div class="flex-1 mr-0 md:mr-4" @click.prevent="next()">
                          <div @click="form.bussinessSize = '> 500 employees'"  :class="{'border border-custom-29': form.bussinessSize !== '> 500 employees', 'border-2 border-main-color': form.bussinessSize === '> 500 employees'}" class="flex flex-col cursor-pointer justify-center rounded-lg h-24">
                              <div :class="{'text-custom-29 ': form.bussinessSize !== '> 500 employees', 'text-main-color font-medium': form.bussinessSize === '> 500 employees'}" class="text-center text-xsm md:text-sm select-none">&gt; 250</div>
                              <div :class="{'text-custom-29 ': form.bussinessSize !== '> 500 employees', 'text-main-color font-medium': form.bussinessSize === '> 500 employees'}" class="text-center text-xs md:text-xsm select-none">Orang</div>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
              <div class="hidden lg:block lg:w-1/2 md:w-9/12 md:my-0 md:ml-auto md:pb-10">
                <div class="w-full h-full flex flex-wrap items-center" >
                  <div class="lg:ml-4 xl:ml-5 xl:w-full md:my-0 md:mx-auto">
                  <img class="sm:w-10/12 xl:10/12 lg:10/12 md:my-0 md:ml-auto" src="../../assets/image/register/bg-register-step1.png">
                </div>
                </div>
              </div>
          </div>
        </transition>

        <transition name="slid">   
          <div v-show="step === 3" class="flex flex-row items-center justify-between h-full w-full">
              <div class="w-full mt-10 md:px-20 lg:px-0 flex flex-col overflow-y-auto lg:w-5/12 xl:w-5/12">
                  <progress id="file" value="50" max="100" class="progressbar"></progress>
                  <div class="lg:text-xl xl:text-2xl text-neutral-600 font-semibold mb-3 mt-5 lg:mt-6 xl:mt-7">Ceritakan tentang perusahaan Anda?</div>
                  <div class="flex flex-col mb-2 ">
                      <div class="text-sm font-medium text-custom-26">Website perusahaan / media sosial</div>
                      <input v-model="form.bussinessName" class="flex border text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="Masukan alamat">
                  </div>
                  <div class="flex flex-col mb-2 ">
                      <div class="text-sm font-medium text-custom-26">Nama perusahaan</div>
                      <input v-model="form.bussinessSite" class="flex border text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="Masukan nama perusahaan">
                  </div>
                  <div class="flex flex-col mb-2">
                      <div class="text-sm font-medium text-neutral-100 text-custom-26">Industri</div>
                      <select class="border text-xsm bg-white border-custom-25 text-neutral-100 rounded-md p-2 my-2">
                          <option value="finance">Pilih Industri</option>
                          <option value="finance">Finance</option>
                          <option value="finance">Finance</option>
                      </select>
                      <!-- <input v-model="form.bussinessSite" class="flex border text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="ocaindonesia.co.id"> -->
                  </div>
                  <div class="flex justify-between mb-12 mt-5 lg:mt-2">
                      <button class="py-2 px-6 rounded-md bg-white border border-main-color text-main-color text-xsm font-semibold focus:outline-none" @click.prevent="prev()">Kembali</button>
                      <button :class="checkSecondPage ? 'py-2 px-6 rounded-md bg-white border border-main-color text-main-color text-xsm font-semibold focus:outline-none':'bg-primary text-white text-center border border-main-color text-white'" class="py-2 px-6 rounded-md text-xsm font-semibold focus:outline-none" @click.prevent="next()" v-on:keyup.enter="loadData">Selanjutnya</button>
                  </div>
              </div>
              <!-- <div class="lg:w-1/2 md:w-9/12 md:my-0 md:ml-auto md:pb-10">
                <div class="w-full h-full flex flex-wrap items-center" >
                  <div class="lg:ml-4 xl:mr-24 lg-mr-24 xl:ml-5 xl:w-10/12 md:my-0 md:mx-auto">
                  <img class="sm:w-11/12 xl:w-full lg:w-full md:my-0 md:ml-auto" src="../../assets/image/register/bg-register-step1.png">
                  </div>
                </div>
              </div> -->
              <div class="hidden lg:block lg:w-1/2 md:w-9/12 md:my-0 md:ml-auto md:pb-10">
                <div class="w-full h-full flex flex-wrap items-center" >
                  <div class="lg:ml-4 xl:ml-5 xl:w-full md:my-0 md:mx-auto">
                  <img class="sm:w-10/12 xl:10/12 lg:w-10/12 md:my-0 md:ml-auto" src="../../assets/image/register/bg-register-step1.png">
                </div>
                </div>
              </div>
          </div>
        </transition>
        <transition name="slid">   
          <div v-show="step === 4" class="flex flex-row items-center justify-between h-full w-full">
              <div class="w-full mt-10 md:px-20 lg:px-0 flex flex-col overflow-y-auto lg:w-5/12 xl:w-5/12">
                  <progress id="file" value="80" max="100" class="progressbar"></progress>
                  <div class="lg:text-xl xl:text-3xl text-neutral-600 font-semibold mb-3 mt-5 lg:mt-6 xl:mt-7">Ceritakan sedikit tentang Anda.</div>
                  <div class="flex flex-row mb-2 justify-between">
                      <div class="w-full mr-4">
                          <div class="text-sm font-medium text-custom-26">Nama depan</div>
                          <input v-model="form.bussinessName" class="flex border w-full text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="Masukan nama depan">
                      </div>
                      <div class="w-full">
                          <div class="text-sm font-medium text-custom-26">Nama belakang</div>
                          <input v-model="form.bussinessName" class="flex border w-full text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="Masukan nama belakang">
                      </div>
                  </div>
                  <div class="flex flex-col mb-2 ">
                      <div class="text-sm font-medium text-neutral-100 text-custom-26">Posisi Anda</div>
                      <select class="border text-xsm bg-white border-custom-25 text-neutral-100 rounded-md p-2 my-2">
                          <option value="finance">Pilih Posisi Anda</option>
                          <option value="finance">Finance</option>
                          <option value="finance">Finance</option>
                      </select>
                  </div>
                  <div class="flex flex-col">
                      <div class="text-sm font-medium text-neutral-100 text-custom-26">Nomor Handphone</div>
                      <input v-model="form.bussinessSite" class="flex border text-xsm border-custom-25 rounded-md p-2 my-2" type="text" placeholder="Masukan nomor handphone">
                  </div>
                  <div class="flex justify-between mb-12 mt-5 lg:mt-2">
                      <button class="py-2 px-6 rounded-md bg-white border border-main-color text-main-color text-xsm font-semibold focus:outline-none" @click.prevent="prev()">Kembali</button>
                      <button :class="checkSecondPage ? 'py-2 px-6 rounded-md bg-white border border-main-color text-main-color text-xsm font-semibold focus:outline-none':'bg-primary text-white text-center border border-main-color text-white'" class="py-2 px-6 rounded-md text-xsm font-semibold focus:outline-none" @click.prevent="next()" v-on:keyup.enter="loadData">Selanjutnya</button>
                  </div>
              </div>

              <div class="hidden lg:block  lg:w-1/2 md:w-9/12 md:my-0 md:ml-auto md:pb-10">
                <div class="w-full h-full flex flex-wrap items-center" >
                  <div class="lg:ml-4 xl:ml-5 xl:w-full md:my-0 md:mx-auto">
                  <img class="sm:w-10/12 xl:10/12 lg:w-10/12 md:my-0 md:ml-auto" src="../../assets/image/register/bg-register-step1.png">
                </div>
                </div>
              </div>
              <!-- <div class="lg:w-1/2 md:w-9/12 md:my-0 md:ml-auto md:pb-10">
                <div class="w-full h-full flex flex-wrap items-center" >
                  <div class="lg:ml-4 xl:mr-24 lg-mr-24 xl:ml-5 xl:w-10/12 md:my-0 md:mx-auto">
                  <img class="sm:w-11/12 xl:w-11/12 lg:w-11/12 md:my-0 md:mx-auto" src="../../assets/image/register/bg-register-step1.png">
                  </div>
                </div>
              </div> -->
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
  import Employee from "./components/Employee";
  // import RegisterUser from "./components/RegisterUser";
  // import FormRegister from "./components/FormRegister";
  import OcaInput from '../../components/oca_origin/inputs';

  export default {
    name: 'App',
    components: {
      Employee,
      OcaInput
      // RegisterUser,
      // FormRegister
    },
    data: function () {
       return {
          email: '',
          password: '',
          title: '',
          message: '',
          show: false,
          aggreprivacy:true,
          step:1,
          form: {
              name: '',
              email: '',
              PhoneNumber: '',
              bussinessName: '',
              bussinessSite: '',
              bussinessSosmed: '',
              bussinessSize: '',
              bussinesType: ''
          },
          currentPage: 'register',
           verified: false
      
            }
    },
    mounted() {
      this.show = false
    },
    computed:{
       checkFirstPage: function() {
                const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (this.form.name === '' || !re.test(String(this.form.email).toLowerCase()) || this.form.PhoneNumber === '') {
                    return true
                }
                else {
                    return false
                }
            },
            checkSecondPage: function() {
                if (this.form.bussinessName === '' || this.form.bussinessSize === '' || this.form.bussinessSosmed === '' || this.form.bussinesType === '') {
                    return true
                }
                else {
                    return false
                }
            },
    },
    created() {

    },
    methods: {
      clickHandler:function(e){
        console.log(e.target.checked)
        this.aggreprivacy = !this.aggreprivacy
      },
      changePage: function (value) {
          this.currentPage = value
        },
      //AMBIL DATA SAAT DEKLARASI MODAL
      beforeOpen: function (event) {
          this.title = event.params.title
          this.message = event.params.message
      },
      prev() {
      this.step--;
      },
      next() {
      this.step++;
      },
      closeModal: function () {
          this.show = false
          this.form = {
              name: '',
              email: '',
              PhoneNumber: '',
              bussinessName: '',
              bussinessSite: '',
              bussinessSosmed: '',
              bussinessSize: '',
              bussinesType: ''
          }
          this.$modal.hide('form-modal')
      },
      logout: function () {
          this.$session.destroy()
          window.location.href = "./login_umkm"
      },
      setShow() {
          if (this.checkFirstPage) {
              return
          }
          this.show = !this.show
      },
      loginUser: function (e) {
      e.preventDefault()
      this.$modal.show('loading')
      this.aggreprivacy = !this.aggreprivacy
      this.next();
      const axios = require('axios')

      let main = this
      axios.post('https://dtp.ocatelkom.co.id/api/dtp/v1/user/login', {
          email: main.email,
          password: main.password
      })
      .then(function (response) {
          console.log(response.data);
          if(response.data) {
              main.$session.start()
              main.$session.set("user_id", response.data.user_id)
              main.$session.set("email", response.data.email)
              main.$session.set("first_name", response.data.first_name)
              main.$session.set("last_name", response.data.last_name)
              main.$session.set("token", response.data.token)

              window.location.href = 'dashboard'
          }
      })
      .catch(function (error) {
          main.$modal.show('error', {
              title: "ERROR " + error.response.data.errors[0].code,
              message: error.response.data.errors[0].message
          })
      })
      .finally(() => main.$modal.hide('loading'))
      },

    },
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

    #app {
        font-family: Inter;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .bg-loading {
        background-color: rgba(0, 0, 0, 0.5);
    }
        progress {
    width: 97%;
    height: 6px;
    }
    progress::-webkit-progress-bar {
    background-color: #E9E9E9;
    border-radius: 7px;
    }
    progress::-webkit-progress-value {
    background-color: #FF276B;
    border-radius: 7px;
    }
</style>
