  <template>
        <div class="flex flex-col relative max-w-screen-xl self-auto items-center mx-auto bg-white py-6">
          <div class="flex flex-col py-10 smx:pb-0 lg:pt-24 lg:px-20">
            <div class="text-4/5xl smx:text-2xl text-center text-neutral-600 font-semibold ">Apa itu Customer Profiling?</div>
            <div class="text-center text-neutral-300 leading-6 text-base my-6 smx:hidden">Customer profiling adalah metode untuk menyesuaikan target market, dan membantu bisnis <br/> melakukan strategi pemasaran, penjualan, dan survey lebih akurat, sehingga <br/> meningkatkan keberhasilan dari campaign yang dijalankan.</div>
            <div class="text-center text-neutral-300 leading-6 text-base my-4 lg:hidden">Customer profiling adalah metode untuk <br/> menyesuaikan target market, dan membantu <br/> bisnis melakukan strategi pemasaran, penjualan, <br/> dan survey lebih akurat, sehingga meningkatkan <br/> keberhasilan dari campaign yang dijalankan.</div>
            <div class="border-t border-secondary-hover-2 my-4 lg:mb-10"></div>
            <div class="flex lg:flex-row smx:flex-col my-10 ">
              <img style="width: 400px;" class="mx-auto h-auto smx:hidden" src="../../../../assets/image/product/interaction.png">
              <div class="self-center lg:ml-12">
                <div style="letter-spacing: 0.25px;" class="text-neutral-400 text-2xl font-semibold leading-8 smx:hidden">Customer Profiling menjadikan marketing, sales, <br/> dan retention yang lebih baik.</div>
                <img class="mx-auto lg:hidden" src="../../../../assets/image/product/header_profiling-2.png">
                <div style="letter-spacing: 0.25px;" class="text-neutral-400 text-center text-lg font-semibold leading-6 lg:hidden mt-6">Customer Profiling menjadikan marketing, <br/> sales, dan retention yang lebih baik.</div>
                <div style="letter-spacing: 0.25px;" class="mt-6 text-neutral-300 text-base leading-7 smx:hidden">Kebiasaan digital konsumen, lokasi, lifestyle, umur, konten yang sering <br/> dicari, dan lebih lagi indikator yang penting dalam menargetkan <br/> konsumen. Profiling dengan kriteria yang rinci menjadikan pesan ke <br/> konsumen yang tepat, memaksimalkan marketing, sales, survey, <br/> penyebaran informasi, dan retention.</div>
              </div>
            </div>
          </div>
        </div>
</template>
<script>
export default {
    name: 'App',
}
</script>