<template>
    <div id="section-1" style="border-radius: 0px 0px 80px 0px;" class="relative bg-white mr-10 smx:mr-0 pt-10 lg:pt-32">
          <div class="absolute left-0 bottom-0 wrapper-shadow">
            <!-- <img class="mx-auto" src="../../../../assets/image/product_oca/shadow_header.png" alt=""> -->
            <svg class="img-shadow" viewBox="0 0 154 154" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.5"><path d="M17.6317 117.151C17.6317 122.021 13.6838 125.969 8.8139 125.969C3.94396 125.969 -0.00390625 122.021 -0.00390625 117.151C-0.00390625 112.281 3.94396 108.333 8.8139 108.333C13.6838 108.333 17.6317 112.281 17.6317 117.151Z" fill="#B3BAC5"/>
              <path d="M17.6317 90.697C17.6317 95.5669 13.6838 99.5148 8.8139 99.5148C3.94396 99.5148 -0.00390625 95.5669 -0.00390625 90.697C-0.00390625 85.827 3.94396 81.8792 8.8139 81.8792C13.6838 81.8792 17.6317 85.827 17.6317 90.697Z" fill="#C1C7D0"/>
              <path d="M17.6317 62.9846C17.6317 67.8545 13.6838 71.8024 8.8139 71.8024C3.94396 71.8024 -0.00390625 67.8545 -0.00390625 62.9846C-0.00390625 58.1146 3.94396 54.1667 8.8139 54.1667C13.6838 54.1667 17.6317 58.1146 17.6317 62.9846Z" fill="#DFE1E6"/>
              <path d="M17.6317 36.5309C17.6317 41.4009 13.6838 45.3487 8.8139 45.3487C3.94396 45.3487 -0.00390625 41.4009 -0.00390625 36.5309C-0.00390625 31.661 3.94396 27.7131 8.8139 27.7131C13.6838 27.7131 17.6317 31.661 17.6317 36.5309Z" fill="#EBECF0"/>
              <path d="M17.6317 8.8178C17.6317 13.6877 13.6838 17.6356 8.8139 17.6356C3.94396 17.6356 -0.00390625 13.6877 -0.00390625 8.8178C-0.00390625 3.94787 3.94396 0 8.8139 0C13.6838 0 17.6317 3.94787 17.6317 8.8178Z" fill="#F4F5F7"/>
              <path d="M45.3465 36.5309C45.3465 41.4009 41.3987 45.3487 36.5287 45.3487C31.6588 45.3487 27.7109 41.4009 27.7109 36.5309C27.7109 31.661 31.6588 27.7131 36.5287 27.7131C41.3987 27.7131 45.3465 31.661 45.3465 36.5309Z" fill="#F4F5F7"/>
              <path d="M45.3465 62.9846C45.3465 67.8545 41.3987 71.8024 36.5287 71.8024C31.6588 71.8024 27.7109 67.8545 27.7109 62.9846C27.7109 58.1146 31.6588 54.1667 36.5287 54.1667C41.3987 54.1667 45.3465 58.1146 45.3465 62.9846Z" fill="#EBECF0"/>
              <path d="M71.7997 62.9846C71.7997 67.8545 67.8518 71.8024 62.9819 71.8024C58.1119 71.8024 54.1641 67.8545 54.1641 62.9846C54.1641 58.1146 58.1119 54.1667 62.9819 54.1667C67.8518 54.1667 71.7997 58.1146 71.7997 62.9846Z" fill="#F4F5F7"/>
              <path d="M17.6317 144.864C17.6317 149.734 13.6838 153.682 8.8139 153.682C3.94396 153.682 -0.00390625 149.734 -0.00390625 144.864C-0.00390625 139.994 3.94396 136.046 8.8139 136.046C13.6838 136.046 17.6317 139.994 17.6317 144.864Z" fill="#C1C7D0"/>
              <path d="M45.3465 117.151C45.3465 122.021 41.3987 125.969 36.5287 125.969C31.6588 125.969 27.7109 122.021 27.7109 117.151C27.7109 112.281 31.6588 108.333 36.5287 108.333C41.3987 108.333 45.3465 112.281 45.3465 117.151Z" fill="#C1C7D0"/>
              <path d="M71.7997 117.151C71.7997 122.021 67.8518 125.969 62.9819 125.969C58.1119 125.969 54.1641 122.021 54.1641 117.151C54.1641 112.281 58.1119 108.333 62.9819 108.333C67.8518 108.333 71.7997 112.281 71.7997 117.151Z" fill="#DFE1E6"/>
              <path d="M99.5106 117.151C99.5106 122.021 95.5627 125.969 90.6928 125.969C85.8229 125.969 81.875 122.021 81.875 117.151C81.875 112.281 85.8229 108.333 90.6928 108.333C95.5627 108.333 99.5106 112.281 99.5106 117.151Z" fill="#EBECF0"/>
              <path d="M125.964 117.151C125.964 122.021 122.016 125.969 117.146 125.969C112.276 125.969 108.328 122.021 108.328 117.151C108.328 112.281 112.276 108.333 117.146 108.333C122.016 108.333 125.964 112.281 125.964 117.151Z" fill="#F4F5F7"/>
              <path d="M45.3465 90.697C45.3465 95.5669 41.3987 99.5148 36.5287 99.5148C31.6588 99.5148 27.7109 95.5669 27.7109 90.697C27.7109 85.827 31.6588 81.8792 36.5287 81.8792C41.3987 81.8792 45.3465 85.827 45.3465 90.697Z" fill="#DFE1E6"/><path d="M71.7997 90.697C71.7997 95.5669 67.8518 99.5148 62.9819 99.5148C58.1119 99.5148 54.1641 95.5669 54.1641 90.697C54.1641 85.827 58.1119 81.8792 62.9819 81.8792C67.8518 81.8792 71.7997 85.827 71.7997 90.697Z" fill="#EBECF0"/><path d="M99.5106 90.697C99.5106 95.5669 95.5627 99.5148 90.6928 99.5148C85.8229 99.5148 81.875 95.5669 81.875 90.697C81.875 85.827 85.8229 81.8792 90.6928 81.8792C95.5627 81.8792 99.5106 85.827 99.5106 90.697Z" fill="#F4F5F7"/><path d="M45.3465 144.864C45.3465 149.734 41.3987 153.682 36.5287 153.682C31.6588 153.682 27.7109 149.734 27.7109 144.864C27.7109 139.994 31.6588 136.046 36.5287 136.046C41.3987 136.046 45.3465 139.994 45.3465 144.864Z" fill="#B3BAC5"/><path d="M71.7997 144.864C71.7997 149.734 67.8518 153.682 62.9819 153.682C58.1119 153.682 54.1641 149.734 54.1641 144.864C54.1641 139.994 58.1119 136.046 62.9819 136.046C67.8518 136.046 71.7997 139.994 71.7997 144.864Z" fill="#C1C7D0"/><path d="M99.5106 144.864C99.5106 149.734 95.5627 153.682 90.6928 153.682C85.8229 153.682 81.875 149.734 81.875 144.864C81.875 139.994 85.8229 136.046 90.6928 136.046C95.5627 136.046 99.5106 139.994 99.5106 144.864Z" fill="#DFE1E6"/><path d="M125.964 144.864C125.964 149.734 122.016 153.682 117.146 153.682C112.276 153.682 108.328 149.734 108.328 144.864C108.328 139.994 112.276 136.046 117.146 136.046C122.016 136.046 125.964 139.994 125.964 144.864Z" fill="#EBECF0"/><path d="M153.679 144.864C153.679 149.734 149.731 153.682 144.861 153.682C139.991 153.682 136.043 149.734 136.043 144.864C136.043 139.994 139.991 136.046 144.861 136.046C149.731 136.046 153.679 139.994 153.679 144.864Z" fill="#F4F5F7"/></g>
            </svg>
            <svg class="img-two img-shadow" viewBox="0 0 154 154" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.5">
              <path d="M17.6317 36.8494C17.6317 31.9795 13.6838 28.0316 8.8139 28.0316C3.94396 28.0316 -0.00390625 31.9795 -0.00390625 36.8494C-0.00390625 41.7194 3.94396 45.6672 8.8139 45.6672C13.6838 45.6672 17.6317 41.7194 17.6317 36.8494Z" fill="#B3BAC5"/>
              <path d="M17.6317 63.3029C17.6317 58.433 13.6838 54.4851 8.8139 54.4851C3.94396 54.4851 -0.00390625 58.433 -0.00390625 63.3029C-0.00390625 68.1729 3.94396 72.1207 8.8139 72.1207C13.6838 72.1207 17.6317 68.1729 17.6317 63.3029Z" fill="#C1C7D0"/>
              <path d="M17.6317 91.0153C17.6317 86.1454 13.6838 82.1975 8.8139 82.1975C3.94396 82.1975 -0.00390625 86.1454 -0.00390625 91.0153C-0.00390625 95.8853 3.94396 99.8331 8.8139 99.8331C13.6838 99.8331 17.6317 95.8853 17.6317 91.0153Z" fill="#DFE1E6"/>
              <path d="M17.6317 117.469C17.6317 112.599 13.6838 108.651 8.8139 108.651C3.94396 108.651 -0.00390625 112.599 -0.00390625 117.469C-0.00390625 122.339 3.94396 126.287 8.8139 126.287C13.6838 126.287 17.6317 122.339 17.6317 117.469Z" fill="#EBECF0"/>
              <path d="M17.6317 145.182C17.6317 140.312 13.6838 136.364 8.8139 136.364C3.94396 136.364 -0.00390625 140.312 -0.00390625 145.182C-0.00390625 150.052 3.94396 154 8.8139 154C13.6838 154 17.6317 150.052 17.6317 145.182Z" fill="#F4F5F7"/>
              <path d="M45.3465 117.469C45.3465 112.599 41.3987 108.651 36.5287 108.651C31.6588 108.651 27.7109 112.599 27.7109 117.469C27.7109 122.339 31.6588 126.287 36.5287 126.287C41.3987 126.287 45.3465 122.339 45.3465 117.469Z" fill="#F4F5F7"/>
              <path d="M45.3465 91.0153C45.3465 86.1454 41.3987 82.1975 36.5287 82.1975C31.6588 82.1975 27.7109 86.1454 27.7109 91.0153C27.7109 95.8853 31.6588 99.8331 36.5287 99.8331C41.3987 99.8331 45.3465 95.8853 45.3465 91.0153Z" fill="#EBECF0"/>
              <path d="M71.7997 91.0153C71.7997 86.1454 67.8518 82.1975 62.9819 82.1975C58.1119 82.1975 54.1641 86.1454 54.1641 91.0153C54.1641 95.8853 58.1119 99.8331 62.9819 99.8331C67.8518 99.8331 71.7997 95.8853 71.7997 91.0153Z" fill="#F4F5F7"/>
              <path d="M17.6317 9.13593C17.6317 4.26599 13.6838 0.318127 8.8139 0.318127C3.94396 0.318127 -0.00390625 4.26599 -0.00390625 9.13593C-0.00390625 14.0059 3.94396 17.9537 8.8139 17.9537C13.6838 17.9537 17.6317 14.0059 17.6317 9.13593Z" fill="#C1C7D0"/>
              <path d="M45.3465 36.8494C45.3465 31.9795 41.3987 28.0316 36.5287 28.0316C31.6588 28.0316 27.7109 31.9795 27.7109 36.8494C27.7109 41.7194 31.6588 45.6672 36.5287 45.6672C41.3987 45.6672 45.3465 41.7194 45.3465 36.8494Z" fill="#C1C7D0"/>
              <path d="M71.7997 36.8494C71.7997 31.9795 67.8518 28.0316 62.9819 28.0316C58.1119 28.0316 54.1641 31.9795 54.1641 36.8494C54.1641 41.7194 58.1119 45.6672 62.9819 45.6672C67.8518 45.6672 71.7997 41.7194 71.7997 36.8494Z" fill="#DFE1E6"/>
              <path d="M99.5106 36.8494C99.5106 31.9795 95.5627 28.0316 90.6928 28.0316C85.8229 28.0316 81.875 31.9795 81.875 36.8494C81.875 41.7194 85.8229 45.6672 90.6928 45.6672C95.5627 45.6672 99.5106 41.7194 99.5106 36.8494Z" fill="#EBECF0"/>
              <path d="M125.964 36.8494C125.964 31.9795 122.016 28.0316 117.146 28.0316C112.276 28.0316 108.328 31.9795 108.328 36.8494C108.328 41.7194 112.276 45.6672 117.146 45.6672C122.016 45.6672 125.964 41.7194 125.964 36.8494Z" fill="#F4F5F7"/>
              <path d="M45.3465 63.3029C45.3465 58.433 41.3987 54.4851 36.5287 54.4851C31.6588 54.4851 27.7109 58.433 27.7109 63.3029C27.7109 68.1729 31.6588 72.1207 36.5287 72.1207C41.3987 72.1207 45.3465 68.1729 45.3465 63.3029Z" fill="#DFE1E6"/>
              <path d="M71.7997 63.3029C71.7997 58.433 67.8518 54.4851 62.9819 54.4851C58.1119 54.4851 54.1641 58.433 54.1641 63.3029C54.1641 68.1729 58.1119 72.1207 62.9819 72.1207C67.8518 72.1207 71.7997 68.1729 71.7997 63.3029Z" fill="#EBECF0"/>
              <path d="M99.5106 63.3029C99.5106 58.433 95.5627 54.4851 90.6928 54.4851C85.8229 54.4851 81.875 58.433 81.875 63.3029C81.875 68.1729 85.8229 72.1207 90.6928 72.1207C95.5627 72.1207 99.5106 68.1729 99.5106 63.3029Z" fill="#F4F5F7"/>
              <path d="M45.3465 9.13593C45.3465 4.26599 41.3987 0.318127 36.5287 0.318127C31.6588 0.318127 27.7109 4.26599 27.7109 9.13593C27.7109 14.0059 31.6588 17.9537 36.5287 17.9537C41.3987 17.9537 45.3465 14.0059 45.3465 9.13593Z" fill="#B3BAC5"/>
              <path d="M71.7997 9.13593C71.7997 4.26599 67.8518 0.318127 62.9819 0.318127C58.1119 0.318127 54.1641 4.26599 54.1641 9.13593C54.1641 14.0059 58.1119 17.9537 62.9819 17.9537C67.8518 17.9537 71.7997 14.0059 71.7997 9.13593Z" fill="#C1C7D0"/>
              <path d="M99.5106 9.13593C99.5106 4.26599 95.5627 0.318127 90.6928 0.318127C85.8229 0.318127 81.875 4.26599 81.875 9.13593C81.875 14.0059 85.8229 17.9537 90.6928 17.9537C95.5627 17.9537 99.5106 14.0059 99.5106 9.13593Z" fill="#DFE1E6"/>
              <path d="M125.964 9.13593C125.964 4.26599 122.016 0.318127 117.146 0.318127C112.276 0.318127 108.328 4.26599 108.328 9.13593C108.328 14.0059 112.276 17.9537 117.146 17.9537C122.016 17.9537 125.964 14.0059 125.964 9.13593Z" fill="#EBECF0"/>
              <path d="M153.679 9.13593C153.679 4.26599 149.731 0.318127 144.861 0.318127C139.991 0.318127 136.043 4.26599 136.043 9.13593C136.043 14.0059 139.991 17.9537 144.861 17.9537C149.731 17.9537 153.679 14.0059 153.679 9.13593Z" fill="#F4F5F7"/>
              </g>
            </svg>
          </div>
        <div class="flex relative max-w-screen-xl self-auto items-center mx-auto bg-customs-5">
            <div class="flex flex-1 smx:flex-col lg:justify-between bg-white py-10">
                <div class="flex-1 lg:hidden">
                  <img class="mx-auto" src="../../../../assets/image/product/header_profiling-1.png" alt="">
                </div>
                <div class="flex-1 flex flex-col self-center ml-14 smx:ml-0">
                  <div class="flex-1 flex-col my-12 smx:my-8">
                      <div class="flex flex-row smx:justify-center">
                        <div class="text-2xl smx:text-base smx:text-center smx:font-medium text-primary">OCA Profiling</div>
                      </div>
                      <div style="letter-spacing: 0.75px;line-height: 54px;" class="text-4/5xl font-semibold text-neutral-600 leading-custom-1 my-6 smx:hidden">Buat customer segment dengan Customer Profiling</div>
                      <div style="letter-spacing: 0.75px;" class="text-2xl font-semibold text-center text-neutral-600 leading-8 my-4 lg:hidden">Buat customer segment dengan Customer Profiling</div>
                      <div style="letter-spacing: 0.5px;" class="text-base text-neutral-300 leading-6 my-8 smx:hidden">Rencakan targeting sale dan marketing Anda ke konsumen <br/> yang tepat. Kami membantu Anda lebih efisien menentukan <br/> konsumen terbaik melalui data yang akurat.</div>
                      <div style="letter-spacing: 0.5px;" class="text-base text-neutral-300 text-center leading-6 my-4 lg:hidden">Targetkan sale dan marketing strategi Anda ke konsumen yang tepat. Disini kami membantu Anda lebih efisien menentukan konsumen terbaik melalui data yang akurat.</div>
                  </div>
                </div>
                <div class="flex-1 smx:hidden">
                  <img class="mx-auto" src="../../../../assets/image/product/header_profiling-1.png" alt="">
                </div>
            </div>
        </div> 
    </div>
</template>
<script>
export default {
    name: 'App',
}
</script>

<style scoped>
.img-shadow{
    width: 144px;
    height: 144px;
  }
  .img-two{
    margin-top: 1rem;
  }
    .wrapper-shadow{
    z-index: 1;
  }
@media screen and (max-width: 767px) {
 .wrapper-shadow{
    z-index: 0;
  }
}
@media screen and (max-width: 1400px) {
 .img-shadow{
    width: 104px;
    height: 104px;
  }
  .img-two{
    margin-top: 10px;
  }
  .wrapper-shadow{
    z-index: 1;
  }
}
</style>