<template>
<div>
  <div style="height: 2380px;" class="relative smx:hidden">
    <div style="top: 774px;" class="absolute left-0">
      <svg width="405" height="398" viewBox="0 0 405 398" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g style="mix-blend-mode:luminosity" opacity="0.05">
        <path d="M164.754 178.288L97.1549 161.373L12.6557 137.692C-0.864129 134.309 -4.24412 120.777 5.89578 110.628L117.435 12.5201C127.575 5.75406 141.095 9.13707 144.474 19.2861L168.134 97.0956L185.034 157.99C188.414 171.522 178.274 181.671 164.754 178.288Z" stroke="url(#paint0_linear)" stroke-width="16.8998" stroke-miterlimit="10"/>
        <path d="M377.693 147.829L276.294 168.127L222.214 178.276C208.694 181.659 198.554 171.51 201.934 157.978L218.834 103.85L245.874 22.6572C249.254 12.5082 266.154 9.12515 272.914 15.8912L384.453 120.765C394.593 130.914 387.833 144.446 377.693 147.829Z" stroke="url(#paint1_linear)" stroke-width="16.8998" stroke-miterlimit="10"/>
        <path d="M185.034 215.507L171.514 259.486L144.475 354.21C141.095 364.359 124.195 367.743 117.435 360.977L5.89578 259.486C-4.24412 252.72 -0.864129 235.805 12.6557 232.422L110.675 205.358L164.754 191.826C178.274 191.826 188.414 201.975 185.034 215.507Z" stroke="url(#paint2_linear)" stroke-width="16.8998" stroke-miterlimit="10"/>
        <path d="M397.965 364.365C401.345 367.748 401.345 374.514 397.965 381.28L377.686 394.812C374.306 398.195 364.166 398.195 360.786 394.812L320.226 354.216L299.946 388.046C293.186 401.578 272.906 394.812 269.526 381.28L215.447 242.577L208.687 215.513C205.307 208.747 215.447 198.598 222.207 201.981L249.247 215.513L391.205 279.79C404.725 286.556 411.485 303.471 394.585 310.237L357.406 327.152L397.965 364.365Z" fill="#383637"/>
        </g>
        <defs>
        <linearGradient id="paint0_linear" x1="-9.14507" y1="95.624" x2="194.143" y2="95.624" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ED1C24"/>
        <stop offset="0.6" stop-color="#ED164B"/>
        <stop offset="1" stop-color="#ED1260"/>
        </linearGradient>
        <linearGradient id="paint1_linear" x1="192.9" y1="95.612" x2="398.206" y2="95.612" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ED1C24"/>
        <stop offset="0.6" stop-color="#ED164B"/>
        <stop offset="1" stop-color="#ED1260"/>
        </linearGradient>
        <linearGradient id="paint2_linear" x1="-9.07409" y1="279.422" x2="194.072" y2="279.422" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ED1C24"/>
        <stop offset="0.6" stop-color="#ED164B"/>
        <stop offset="1" stop-color="#ED1260"/>
        </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="flex flex-col relative max-w-screen-xl self-auto items-center mx-auto bg-white py-6">
        <div class="flex flex-col py-10">
            <div style="letter-spacing: 0.75px;" class="text-center text-3/4xl smx:text-2xl text-neutral-600 font-semibold">Untuk Membantu Bisnis Anda</div>
            <div style="letter-spacing: 0.5px;" class="text-base text-center text-neutral-300 my-4 smx:hidden">Kami ingin Anda bisa menggunakan OCA dengan mudah untuk <br/> kebutuhan dan tantangan yang Anda hadapi.</div>
            <div style="letter-spacing: 0.5px;" class="text-base text-center text-neutral-300 leading-6 my-4 lg:hidden">Kami ingin Anda bisa menggunakan OCA <br/> dengan mudah untuk kebutuhan dan tantangan <br/> yang Anda hadapi.</div>
        </div>
        <div class="flex w-full relative">
          <div style="transform: translateX(-50%);" class="absolute left-50">
            <svg width="661" height="2210" viewBox="0 0 661 2210" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M320.961 8V390.427C320.961 429.033 352.258 460.33 390.864 460.33H583.097C621.703 460.33 653 491.627 653 530.233V907.01C653 945.616 621.703 976.913 583.097 976.913H77.9029C39.2965 976.913 8 1008.21 8 1046.82V1414.44C8 1453.3 39.6962 1484.7 78.5562 1484.34L258.444 1482.66C297.304 1482.3 329 1513.7 329 1552.56V2123" stroke="#FF4E85" stroke-width="15" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M284 2095L330 2141L376 2095" stroke="#FF4E85" stroke-width="15" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div style="width: 360px;top: 78px;right: 220px;" class="absolute">
            <div class="flex flex-col">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="48" height="48" rx="12" fill="#2F80ED"/>
                <path d="M27.0154 24.2563C27.6379 23.7175 28.1372 23.051 28.4794 22.3022C28.8216 21.5534 28.9987 20.7397 28.9987 19.9163C28.9987 18.3692 28.3841 16.8855 27.2902 15.7916C26.1962 14.6976 24.7125 14.083 23.1654 14.083C21.6183 14.083 20.1345 14.6976 19.0406 15.7916C17.9466 16.8855 17.332 18.3692 17.332 19.9163C17.332 20.7397 17.5091 21.5534 17.8513 22.3022C18.1936 23.051 18.6929 23.7175 19.3154 24.2563C17.6822 24.9959 16.2966 26.1901 15.3242 27.6963C14.3518 29.2025 13.8337 30.9569 13.832 32.7497C13.832 33.0591 13.9549 33.3558 14.1737 33.5746C14.3925 33.7934 14.6893 33.9163 14.9987 33.9163C15.3081 33.9163 15.6049 33.7934 15.8237 33.5746C16.0424 33.3558 16.1654 33.0591 16.1654 32.7497C16.1654 30.8932 16.9029 29.1127 18.2156 27.7999C19.5284 26.4872 21.3088 25.7497 23.1654 25.7497C25.0219 25.7497 26.8024 26.4872 28.1151 27.7999C29.4279 29.1127 30.1654 30.8932 30.1654 32.7497C30.1654 33.0591 30.2883 33.3558 30.5071 33.5746C30.7259 33.7934 31.0226 33.9163 31.332 33.9163C31.6415 33.9163 31.9382 33.7934 32.157 33.5746C32.3758 33.3558 32.4987 33.0591 32.4987 32.7497C32.497 30.9569 31.979 29.2025 31.0066 27.6963C30.0342 26.1901 28.6485 24.9959 27.0154 24.2563ZM23.1654 23.4163C22.4731 23.4163 21.7964 23.2111 21.2209 22.8265C20.6453 22.4419 20.1967 21.8953 19.9318 21.2557C19.6669 20.6162 19.5976 19.9125 19.7326 19.2335C19.8677 18.5546 20.201 17.931 20.6905 17.4415C21.18 16.952 21.8036 16.6186 22.4825 16.4836C23.1615 16.3485 23.8652 16.4179 24.5048 16.6828C25.1443 16.9477 25.6909 17.3963 26.0755 17.9718C26.4601 18.5474 26.6654 19.2241 26.6654 19.9163C26.6654 20.8446 26.2966 21.7348 25.6402 22.3912C24.9839 23.0476 24.0936 23.4163 23.1654 23.4163ZM34.5287 23.7897C35.2753 22.9489 35.763 21.9102 35.9331 20.7987C36.1032 19.6872 35.9484 18.5503 35.4874 17.5247C35.0264 16.4991 34.2788 15.6286 33.3346 15.018C32.3904 14.4074 31.2898 14.0827 30.1654 14.083C29.8559 14.083 29.5592 14.2059 29.3404 14.4247C29.1216 14.6435 28.9987 14.9403 28.9987 15.2497C28.9987 15.5591 29.1216 15.8558 29.3404 16.0746C29.5592 16.2934 29.8559 16.4163 30.1654 16.4163C31.0936 16.4163 31.9839 16.7851 32.6402 17.4415C33.2966 18.0978 33.6654 18.9881 33.6654 19.9163C33.6637 20.5291 33.5012 21.1307 33.1941 21.661C32.887 22.1913 32.4461 22.6316 31.9154 22.938C31.7424 23.0378 31.5979 23.1803 31.4958 23.3519C31.3937 23.5235 31.3373 23.7184 31.332 23.918C31.3272 24.1161 31.3728 24.3121 31.4646 24.4876C31.5565 24.6632 31.6915 24.8124 31.857 24.9213L32.312 25.2247L32.4637 25.3063C33.87 25.9733 35.0564 27.0283 35.8832 28.347C36.71 29.6658 37.1427 31.1933 37.1304 32.7497C37.1304 33.0591 37.2533 33.3558 37.4721 33.5746C37.6909 33.7934 37.9876 33.9163 38.297 33.9163C38.6065 33.9163 38.9032 33.7934 39.122 33.5746C39.3408 33.3558 39.4637 33.0591 39.4637 32.7497C39.4732 30.9593 39.0248 29.1963 38.1611 27.6281C37.2973 26.0599 36.0469 24.7385 34.5287 23.7897Z" fill="white"/>
                <path d="M16.166 15.25C14.9993 15.25 13.0231 15.702 12.0827 17.5831C10.3327 21.0833 12.666 23.2222 13.8327 24C11.3049 24.9722 7.99935 28.0833 7.99935 32.75" stroke="white" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <div class="text-neutral-600 text-2xl font-semibold my-4">11jt+ konsumen</div>
              <div style="letter-spacing: 0.005em;" class="text-neutral-300 text-base leading-6">Saring calon konsumen Anda dari jutaan orang di customer base OCA. Tambah konsumen Anda dengan menggunakan OCA Profiling.</div>
            </div>
          </div>
          <div style="top: 135px;left: 111px;" class="absolute">
            <img src="../../../../assets/image/product/illustration_profiling-1.png" alt="">
          </div>
          <div style="width: 360px;top: 609px;right: 447px;" class="absolute">
            <div class="flex flex-col items-end">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="48" height="48" rx="12" fill="#BE81FF"/>
                <path d="M18.6673 30.0003C18.4036 30.0003 18.1458 30.0785 17.9266 30.225C17.7073 30.3715 17.5364 30.5798 17.4355 30.8234C17.3346 31.0671 17.3082 31.3351 17.3596 31.5938C17.4111 31.8524 17.538 32.09 17.7245 32.2765C17.911 32.4629 18.1486 32.5899 18.4072 32.6414C18.6658 32.6928 18.9339 32.6664 19.1776 32.5655C19.4212 32.4646 19.6294 32.2937 19.7759 32.0744C19.9225 31.8552 20.0007 31.5974 20.0007 31.3337C20.0007 30.98 19.8602 30.6409 19.6101 30.3909C19.3601 30.1408 19.0209 30.0003 18.6673 30.0003ZM24.0007 10.667C18.6673 10.667 13.334 12.4937 13.334 16.0003V32.0003C13.334 35.507 18.6673 37.3337 24.0007 37.3337C29.334 37.3337 34.6673 35.507 34.6673 32.0003V16.0003C34.6673 12.4937 29.334 10.667 24.0007 10.667ZM32.0007 32.0003C32.0007 32.947 28.9607 34.667 24.0007 34.667C19.0407 34.667 16.0007 32.947 16.0007 32.0003V27.6403C18.4967 28.8269 21.2378 29.4071 24.0007 29.3337C26.7635 29.4071 29.5046 28.8269 32.0007 27.6403V32.0003ZM32.0007 24.0003C32.0007 24.947 28.9607 26.667 24.0007 26.667C19.0407 26.667 16.0007 24.947 16.0007 24.0003V19.6403C18.4967 20.8269 21.2378 21.4071 24.0007 21.3337C26.7635 21.4071 29.5046 20.8269 32.0007 19.6403V24.0003ZM24.0007 18.667C19.0407 18.667 16.0007 16.947 16.0007 16.0003C16.0007 15.0537 19.0407 13.3337 24.0007 13.3337C28.9607 13.3337 32.0007 15.0537 32.0007 16.0003C32.0007 16.947 28.9607 18.667 24.0007 18.667ZM18.6673 22.0003C18.4036 22.0003 18.1458 22.0785 17.9266 22.225C17.7073 22.3715 17.5364 22.5798 17.4355 22.8234C17.3346 23.067 17.3082 23.3351 17.3596 23.5938C17.4111 23.8524 17.538 24.09 17.7245 24.2765C17.911 24.4629 18.1486 24.5899 18.4072 24.6414C18.6658 24.6928 18.9339 24.6664 19.1776 24.5655C19.4212 24.4646 19.6294 24.2937 19.7759 24.0744C19.9225 23.8552 20.0007 23.5974 20.0007 23.3337C20.0007 22.98 19.8602 22.6409 19.6101 22.3909C19.3601 22.1408 19.0209 22.0003 18.6673 22.0003Z" fill="white"/>
              </svg>
              <div class="text-neutral-600 text-2xl font-semibold my-4">Berbasis data</div>
              <div style="letter-spacing: 0.005em;" class="text-neutral-300 text-base text-right leading-6">Data konsumen lengkap dan detail, seperti tempat tinggal, kebiasan konsumen, umur, riwayat pencarian, dan lainnya. </div>
            </div>
          </div>
          <div style="width: 360px;top: 1098px;left: 405px;" class="absolute">
            <div class="flex flex-col">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="48" height="48" rx="12" fill="#FFAB00"/>
                <path d="M34 15H14L22 24.46V31L26 33V24.46L34 15Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <div class="text-neutral-600 text-2xl font-semibold my-4">Filter lebih akurat</div>
              <div style="letter-spacing: 0.005em;" class="text-neutral-300 text-base leading-6">Semakin spesifik filter yang diberikan maka semakin akurat target konsumen dan meningkatkan kualitas keberhasilan campaign.</div>
            </div>
          </div>
          <div style="top: 1369px;right: 65px;" class="absolute">
            <img src="../../../../assets/image/product/illustration_profiling-2.png" alt="">
          </div>
          <div style="width: 360px;top: 1616px;left: 146px;" class="absolute">
            <div class="flex flex-col items-end">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="48" height="48" rx="12" fill="#FF75A0"/>
                <path d="M32.7779 17.314C31.5466 16.6668 30.1107 16.528 28.7783 16.9273C28.7134 15.5721 28.1294 14.2939 27.1473 13.3578C26.1653 12.4216 24.8606 11.8994 23.5039 11.8994C22.1472 11.8994 20.8425 12.4216 19.8605 13.3578C18.8784 14.2939 18.2944 15.5721 18.2295 16.9273C16.9007 16.5271 15.4689 16.6526 14.2299 17.2777C13.3175 17.7573 12.5654 18.4934 12.0664 19.3953C11.5673 20.2973 11.3432 21.3255 11.4215 22.3533C11.4999 23.3811 11.8774 24.3635 12.5074 25.1793C13.1374 25.9951 13.9924 26.6087 14.967 26.9444C14.345 27.8295 14.0077 28.8834 14.0004 29.9652C14.0057 30.269 14.034 30.5719 14.0849 30.8715C14.2884 32.0986 14.9215 33.2134 15.871 34.0169C16.8206 34.8204 18.0248 35.2602 19.2687 35.2577C19.5262 35.2754 19.7846 35.2754 20.042 35.2577C21.4232 35.0401 22.664 34.2896 23.4979 33.1673C24.3405 34.2715 25.58 35.004 26.9537 35.2094C27.2112 35.227 27.4696 35.227 27.727 35.2094C28.6915 35.2083 29.6371 34.9425 30.4608 34.4409C31.2846 33.9393 31.9548 33.2213 32.3985 32.365C32.8423 31.5087 33.0424 30.547 32.9772 29.5848C32.912 28.6226 32.5839 27.6967 32.0287 26.9081C33.008 26.5783 33.8687 25.9676 34.5037 25.1523C35.1386 24.3369 35.5197 23.3528 35.5995 22.3225C35.6794 21.2922 35.4544 20.2611 34.9527 19.3577C34.451 18.4543 33.6947 17.7183 32.7779 17.2415V17.314ZM21.492 14.9698C22.0318 14.4528 22.7504 14.1642 23.4979 14.1642C24.2453 14.1642 24.9639 14.4528 25.5037 14.9698C25.9158 15.3826 26.1957 15.9087 26.3076 16.4812C26.4195 17.0536 26.3584 17.6464 26.132 18.184L25.8179 18.8969L25.0204 19.5977C24.53 19.4294 24.0162 19.3397 23.4979 19.3319C22.8279 19.3325 22.1654 19.4724 21.5524 19.7427L20.8758 18.184C20.6413 17.6488 20.5746 17.055 20.6847 16.4812C20.7947 15.9073 21.0762 15.3803 21.492 14.9698ZM14.1212 23.2348C13.8514 22.6412 13.7923 21.9734 13.9536 21.3416C14.1149 20.7099 14.4869 20.1521 15.0081 19.7605C15.5294 19.3688 16.1687 19.1668 16.8203 19.1877C17.472 19.2087 18.097 19.4513 18.592 19.8756L19.1841 20.3952L19.607 21.3619C19.0017 22.1718 18.6714 23.1541 18.6645 24.1652C18.6502 24.3462 18.6502 24.528 18.6645 24.709H17.9999L16.9849 24.8056C16.4044 24.8669 15.819 24.7493 15.3072 24.4685C14.7953 24.1878 14.3815 23.7573 14.1212 23.2348ZM22.0962 30.5815C21.9507 31.2265 21.5874 31.8017 21.0674 32.2103C20.5475 32.6188 19.9026 32.8356 19.2414 32.8242C18.5803 32.8129 17.9432 32.5741 17.4376 32.1479C16.932 31.7218 16.5886 31.1345 16.4654 30.4848C16.4538 30.3158 16.4538 30.1463 16.4654 29.9773C16.4697 29.4862 16.6025 29.0047 16.8505 28.5808C17.0985 28.1568 17.4531 27.8051 17.8791 27.5606L18.4954 27.1256L19.5949 27.0048C20.288 27.9689 21.3117 28.6442 22.4708 28.9019L22.0962 30.5815ZM23.4979 26.5819C23.0199 26.5819 22.5527 26.4402 22.1552 26.1746C21.7578 25.9091 21.4481 25.5316 21.2652 25.09C21.0822 24.6485 21.0344 24.1625 21.1276 23.6938C21.2209 23.225 21.451 22.7944 21.789 22.4564C22.127 22.1184 22.5576 21.8882 23.0264 21.795C23.4952 21.7017 23.9811 21.7496 24.4227 21.9325C24.8643 22.1154 25.2417 22.4252 25.5072 22.8226C25.7728 23.22 25.9145 23.6873 25.9145 24.1652C25.9145 24.8062 25.6599 25.4209 25.2067 25.8741C24.7535 26.3273 24.1388 26.5819 23.4979 26.5819ZM30.5304 30.4727C30.4057 31.21 29.9964 31.8688 29.3907 32.3073C28.785 32.7457 28.0314 32.9287 27.292 32.8169C26.7095 32.7348 26.1659 32.4767 25.734 32.0772C25.3021 31.6778 25.0025 31.1559 24.8754 30.5815L24.7062 29.8565L24.9599 28.7448C26.0746 28.3818 27.0194 27.626 27.6183 26.6181L28.2224 26.9806H28.3312L29.1287 27.4519C29.6468 27.7478 30.0601 28.1975 30.3113 28.7388C30.5624 29.28 30.639 29.886 30.5304 30.4727ZM32.8745 23.2227C32.6369 23.703 32.2703 24.1077 31.8157 24.3915C31.3612 24.6753 30.8366 24.8271 30.3008 24.8298H30.0108L29.2374 24.709L28.3312 24.2136C28.3295 23.0387 27.9 21.9047 27.1229 21.0236L27.6424 20.5765L28.4037 19.8756C28.9001 19.4343 29.5346 19.1792 30.1984 19.1542C30.8622 19.1291 31.514 19.3356 32.0424 19.7383C32.5707 20.1409 32.9426 20.7147 33.0944 21.3614C33.2462 22.0081 33.1685 22.6874 32.8745 23.2831V23.2227Z" fill="white"/>
              </svg>
              <div class="text-neutral-600 text-2xl font-semibold my-4">Mudah digunakan</div>
              <div style="letter-spacing: 0.005em;" class="text-neutral-300 text-base text-right leading-6">Kami ingin semua orang bisa menggunakan platform kami, untuk itu kami mendesignnya dengan simpel dan mudah dimengerti.</div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div style="height: 1825px;" class="relative lg:hidden">
    <div style="top: 1082px;" class="absolute left-0 lg:hidden">
      <svg width="202" height="199" viewBox="0 0 202 199" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g style="mix-blend-mode:luminosity" opacity="0.05">
        <path d="M82.2529 89.5164L48.5042 81.0716L6.31832 69.2489C-0.431413 67.5599 -2.11886 60.8041 2.94344 55.7372L58.6288 6.75739C63.6911 3.37948 70.4408 5.06843 72.1283 10.1353L83.9403 48.9814L92.3774 79.3826C94.0649 86.1385 89.0026 91.2053 82.2529 89.5164Z" stroke="url(#paint0_linear-1)" stroke-width="8.43717" stroke-miterlimit="10"/>
        <path d="M188.562 74.3093L137.939 84.443L110.94 89.5099C104.19 91.1989 99.1279 86.132 100.815 79.3762L109.253 52.3528L122.752 11.8179C124.439 6.75105 132.877 5.0621 136.251 8.44001L191.937 60.7976C196.999 65.8645 193.624 72.6203 188.562 74.3093Z" stroke="url(#paint1_linear-1)" stroke-width="8.43717" stroke-miterlimit="10"/>
        <path d="M92.3775 108.098L85.6277 130.054L72.1283 177.345C70.4408 182.412 62.0036 184.101 58.6288 180.723L2.94344 130.054C-2.11886 126.677 -0.431413 118.232 6.31833 116.543L55.2539 103.031L82.2529 96.2754C89.0026 96.2754 94.0649 101.342 92.3775 108.098Z" stroke="url(#paint2_linear-1)" stroke-width="8.43717" stroke-miterlimit="10"/>
        <path d="M198.683 182.415C200.371 184.104 200.371 187.482 198.683 190.86L188.559 197.616C186.871 199.305 181.809 199.305 180.121 197.616L159.872 177.348L149.748 194.238C146.373 200.994 136.248 197.616 134.561 190.86L107.562 121.613L104.187 108.101C102.499 104.723 107.562 99.6563 110.936 101.345L124.436 108.101L195.308 140.191C202.058 143.569 205.433 152.014 196.996 155.392L178.434 163.837L198.683 182.415Z" fill="#383637"/>
        </g>
        <defs>
        <linearGradient id="paint0_linear-1" x1="-4.56563" y1="48.2467" x2="96.9251" y2="48.2467" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ED1C24"/>
        <stop offset="0.6" stop-color="#ED164B"/>
        <stop offset="1" stop-color="#ED1260"/>
        </linearGradient>
        <linearGradient id="paint1_linear-1" x1="96.3048" y1="48.2403" x2="198.803" y2="48.2403" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ED1C24"/>
        <stop offset="0.6" stop-color="#ED164B"/>
        <stop offset="1" stop-color="#ED1260"/>
        </linearGradient>
        <linearGradient id="paint2_linear-1" x1="-4.5302" y1="140.007" x2="96.8897" y2="140.007" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ED1C24"/>
        <stop offset="0.6" stop-color="#ED164B"/>
        <stop offset="1" stop-color="#ED1260"/>
        </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="flex flex-col relative max-w-screen-xl self-auto items-center mx-auto bg-white">
        <div class="flex flex-col py-6">
            <div style="letter-spacing: 0.75px;" class="text-center text-3/4xl smx:text-2xl text-neutral-600 font-semibold">Untuk Membantu Bisnis Anda</div>
            <div style="letter-spacing: 0.5px;" class="text-base text-center text-neutral-300 my-4 smx:hidden">Kami ingin Anda bisa menggunakan OCA dengan mudah untuk <br/> kebutuhan dan tantangan yang Anda hadapi.</div>
            <div style="letter-spacing: 0.5px;" class="text-base text-center text-neutral-300 leading-6 my-4 lg:hidden">Kami ingin Anda bisa menggunakan OCA <br/> dengan mudah untuk kebutuhan dan tantangan <br/> yang Anda hadapi.</div>
        </div>
        <div class="flex w-full relative">
          <div style="transform: translateX(-50%);" class="absolute left-50">
            <svg width="351" height="1710" viewBox="0 0 351 1710" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M170.427 4V217.398C170.427 238.946 187.895 256.414 209.443 256.414H307.984C329.532 256.414 347 273.882 347 295.429V505.667C347 527.215 329.532 544.682 307.984 544.682H43.0156C21.4679 544.682 4 562.15 4 583.698V789.195C4 810.743 21.4679 828.211 43.0156 828.211H307.984C329.532 828.211 347 845.678 347 867.226V1116.08C347 1137.63 329.532 1155.1 307.984 1155.1H177.882H43.02C21.4699 1155.1 4 1172.57 4 1194.12V1389.03C4 1410.58 21.4699 1428.05 43.02 1428.05H138.862C160.412 1428.05 177.882 1445.52 177.882 1467.07V1665" stroke="#FF4E85" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M155.5 1653.75L178 1676.25L200.5 1653.75" stroke="#FF4E85" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div style="width: 167px;top: 40px;transform: rotate(-9.5deg);" class="absolute left-0">
            <img src="../../../../assets/image/product/illustration_profiling-1.png" alt="">
          </div>
          <div style="width: 292px;top: 279px;transform: translateX(-50%);" class="absolute left-50">
            <div class="flex flex-col items-end">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="48" height="48" rx="12" fill="#2F80ED"/>
                <path d="M27.0154 24.2563C27.6379 23.7175 28.1372 23.051 28.4794 22.3022C28.8216 21.5534 28.9987 20.7397 28.9987 19.9163C28.9987 18.3692 28.3841 16.8855 27.2902 15.7916C26.1962 14.6976 24.7125 14.083 23.1654 14.083C21.6183 14.083 20.1345 14.6976 19.0406 15.7916C17.9466 16.8855 17.332 18.3692 17.332 19.9163C17.332 20.7397 17.5091 21.5534 17.8513 22.3022C18.1936 23.051 18.6929 23.7175 19.3154 24.2563C17.6822 24.9959 16.2966 26.1901 15.3242 27.6963C14.3518 29.2025 13.8337 30.9569 13.832 32.7497C13.832 33.0591 13.9549 33.3558 14.1737 33.5746C14.3925 33.7934 14.6893 33.9163 14.9987 33.9163C15.3081 33.9163 15.6049 33.7934 15.8237 33.5746C16.0424 33.3558 16.1654 33.0591 16.1654 32.7497C16.1654 30.8932 16.9029 29.1127 18.2156 27.7999C19.5284 26.4872 21.3088 25.7497 23.1654 25.7497C25.0219 25.7497 26.8024 26.4872 28.1151 27.7999C29.4279 29.1127 30.1654 30.8932 30.1654 32.7497C30.1654 33.0591 30.2883 33.3558 30.5071 33.5746C30.7259 33.7934 31.0226 33.9163 31.332 33.9163C31.6415 33.9163 31.9382 33.7934 32.157 33.5746C32.3758 33.3558 32.4987 33.0591 32.4987 32.7497C32.497 30.9569 31.979 29.2025 31.0066 27.6963C30.0342 26.1901 28.6485 24.9959 27.0154 24.2563ZM23.1654 23.4163C22.4731 23.4163 21.7964 23.2111 21.2209 22.8265C20.6453 22.4419 20.1967 21.8953 19.9318 21.2557C19.6669 20.6162 19.5976 19.9125 19.7326 19.2335C19.8677 18.5546 20.201 17.931 20.6905 17.4415C21.18 16.952 21.8036 16.6186 22.4825 16.4836C23.1615 16.3485 23.8652 16.4179 24.5048 16.6828C25.1443 16.9477 25.6909 17.3963 26.0755 17.9718C26.4601 18.5474 26.6654 19.2241 26.6654 19.9163C26.6654 20.8446 26.2966 21.7348 25.6402 22.3912C24.9839 23.0476 24.0936 23.4163 23.1654 23.4163ZM34.5287 23.7897C35.2753 22.9489 35.763 21.9102 35.9331 20.7987C36.1032 19.6872 35.9484 18.5503 35.4874 17.5247C35.0264 16.4991 34.2788 15.6286 33.3346 15.018C32.3904 14.4074 31.2898 14.0827 30.1654 14.083C29.8559 14.083 29.5592 14.2059 29.3404 14.4247C29.1216 14.6435 28.9987 14.9403 28.9987 15.2497C28.9987 15.5591 29.1216 15.8558 29.3404 16.0746C29.5592 16.2934 29.8559 16.4163 30.1654 16.4163C31.0936 16.4163 31.9839 16.7851 32.6402 17.4415C33.2966 18.0978 33.6654 18.9881 33.6654 19.9163C33.6637 20.5291 33.5012 21.1307 33.1941 21.661C32.887 22.1913 32.4461 22.6316 31.9154 22.938C31.7424 23.0378 31.5979 23.1803 31.4958 23.3519C31.3937 23.5235 31.3373 23.7184 31.332 23.918C31.3272 24.1161 31.3728 24.3121 31.4646 24.4876C31.5565 24.6632 31.6915 24.8124 31.857 24.9213L32.312 25.2247L32.4637 25.3063C33.87 25.9733 35.0564 27.0283 35.8832 28.347C36.71 29.6658 37.1427 31.1933 37.1304 32.7497C37.1304 33.0591 37.2533 33.3558 37.4721 33.5746C37.6909 33.7934 37.9876 33.9163 38.297 33.9163C38.6065 33.9163 38.9032 33.7934 39.122 33.5746C39.3408 33.3558 39.4637 33.0591 39.4637 32.7497C39.4732 30.9593 39.0248 29.1963 38.1611 27.6281C37.2973 26.0599 36.0469 24.7385 34.5287 23.7897Z" fill="white"/>
                <path d="M16.166 15.25C14.9993 15.25 13.0231 15.702 12.0827 17.5831C10.3327 21.0833 12.666 23.2222 13.8327 24C11.3049 24.9722 7.99935 28.0833 7.99935 32.75" stroke="white" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <div class="text-neutral-600 text-2xl font-semibold my-4">11jt+ konsumen</div>
              <div style="letter-spacing: 0.005em;" class="text-neutral-300 text-base text-right leading-6">Saring calon konsumen Anda dari jutaan orang di customer base OCA. Tambah konsumen Anda dengan menggunakan OCA Profiling.</div>
            </div>
          </div>
          <div style="width: 292px;top: 582px;transform: translateX(-50%);" class="absolute left-50">
            <div class="flex flex-col">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="48" height="48" rx="12" fill="#BE81FF"/>
                <path d="M18.6673 30.0003C18.4036 30.0003 18.1458 30.0785 17.9266 30.225C17.7073 30.3715 17.5364 30.5798 17.4355 30.8234C17.3346 31.0671 17.3082 31.3351 17.3596 31.5938C17.4111 31.8524 17.538 32.09 17.7245 32.2765C17.911 32.4629 18.1486 32.5899 18.4072 32.6414C18.6658 32.6928 18.9339 32.6664 19.1776 32.5655C19.4212 32.4646 19.6294 32.2937 19.7759 32.0744C19.9225 31.8552 20.0007 31.5974 20.0007 31.3337C20.0007 30.98 19.8602 30.6409 19.6101 30.3909C19.3601 30.1408 19.0209 30.0003 18.6673 30.0003ZM24.0007 10.667C18.6673 10.667 13.334 12.4937 13.334 16.0003V32.0003C13.334 35.507 18.6673 37.3337 24.0007 37.3337C29.334 37.3337 34.6673 35.507 34.6673 32.0003V16.0003C34.6673 12.4937 29.334 10.667 24.0007 10.667ZM32.0007 32.0003C32.0007 32.947 28.9607 34.667 24.0007 34.667C19.0407 34.667 16.0007 32.947 16.0007 32.0003V27.6403C18.4967 28.8269 21.2378 29.4071 24.0007 29.3337C26.7635 29.4071 29.5046 28.8269 32.0007 27.6403V32.0003ZM32.0007 24.0003C32.0007 24.947 28.9607 26.667 24.0007 26.667C19.0407 26.667 16.0007 24.947 16.0007 24.0003V19.6403C18.4967 20.8269 21.2378 21.4071 24.0007 21.3337C26.7635 21.4071 29.5046 20.8269 32.0007 19.6403V24.0003ZM24.0007 18.667C19.0407 18.667 16.0007 16.947 16.0007 16.0003C16.0007 15.0537 19.0407 13.3337 24.0007 13.3337C28.9607 13.3337 32.0007 15.0537 32.0007 16.0003C32.0007 16.947 28.9607 18.667 24.0007 18.667ZM18.6673 22.0003C18.4036 22.0003 18.1458 22.0785 17.9266 22.225C17.7073 22.3715 17.5364 22.5798 17.4355 22.8234C17.3346 23.067 17.3082 23.3351 17.3596 23.5938C17.4111 23.8524 17.538 24.09 17.7245 24.2765C17.911 24.4629 18.1486 24.5899 18.4072 24.6414C18.6658 24.6928 18.9339 24.6664 19.1776 24.5655C19.4212 24.4646 19.6294 24.2937 19.7759 24.0744C19.9225 23.8552 20.0007 23.5974 20.0007 23.3337C20.0007 22.98 19.8602 22.6409 19.6101 22.3909C19.3601 22.1408 19.0209 22.0003 18.6673 22.0003Z" fill="white"/>
              </svg>
              <div class="text-neutral-600 text-2xl font-semibold my-4">Berbasis data</div>
              <div style="letter-spacing: 0.0025em;" class="text-neutral-300 text-base leading-6">Data konsumen lengkap dan detail, seperti tempat tinggal, kebiasan konsumen, umur, riwayat pencarian, dan lainnya.</div>
            </div>
          </div>
          <div style="width: 292px;top: 861px;transform: translateX(-50%);" class="absolute left-50">
            <div class="flex flex-col items-end">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="48" height="48" rx="12" fill="#FFAB00"/>
                <path d="M34 15H14L22 24.46V31L26 33V24.46L34 15Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <div class="text-neutral-600 text-2xl font-semibold my-4">Filter lebih akurat</div>
              <div style="letter-spacing: 0.005em;" class="text-neutral-300 text-base text-right leading-6">Semakin spesifik filter yang diberikan maka semakin akurat target konsumen dan meningkatkan kualitas keberhasilan campaign.</div>
            </div>
          </div>
          <div style="width: 292px;top: 1181px;transform: translateX(-50%);" class="absolute left-50">
            <div class="flex flex-col">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="48" height="48" rx="12" fill="#FF75A0"/>
                <path d="M32.7779 17.314C31.5466 16.6668 30.1107 16.528 28.7783 16.9273C28.7134 15.5721 28.1294 14.2939 27.1473 13.3578C26.1653 12.4216 24.8606 11.8994 23.5039 11.8994C22.1472 11.8994 20.8425 12.4216 19.8605 13.3578C18.8784 14.2939 18.2944 15.5721 18.2295 16.9273C16.9007 16.5271 15.4689 16.6526 14.2299 17.2777C13.3175 17.7573 12.5654 18.4934 12.0664 19.3953C11.5673 20.2973 11.3432 21.3255 11.4215 22.3533C11.4999 23.3811 11.8774 24.3635 12.5074 25.1793C13.1374 25.9951 13.9924 26.6087 14.967 26.9444C14.345 27.8295 14.0077 28.8834 14.0004 29.9652C14.0057 30.269 14.034 30.5719 14.0849 30.8715C14.2884 32.0986 14.9215 33.2134 15.871 34.0169C16.8206 34.8204 18.0248 35.2602 19.2687 35.2577C19.5262 35.2754 19.7846 35.2754 20.042 35.2577C21.4232 35.0401 22.664 34.2896 23.4979 33.1673C24.3405 34.2715 25.58 35.004 26.9537 35.2094C27.2112 35.227 27.4696 35.227 27.727 35.2094C28.6915 35.2083 29.6371 34.9425 30.4608 34.4409C31.2846 33.9393 31.9548 33.2213 32.3985 32.365C32.8423 31.5087 33.0424 30.547 32.9772 29.5848C32.912 28.6226 32.5839 27.6967 32.0287 26.9081C33.008 26.5783 33.8687 25.9676 34.5037 25.1523C35.1386 24.3369 35.5197 23.3528 35.5995 22.3225C35.6794 21.2922 35.4544 20.2611 34.9527 19.3577C34.451 18.4543 33.6947 17.7183 32.7779 17.2415V17.314ZM21.492 14.9698C22.0318 14.4528 22.7504 14.1642 23.4979 14.1642C24.2453 14.1642 24.9639 14.4528 25.5037 14.9698C25.9158 15.3826 26.1957 15.9087 26.3076 16.4812C26.4195 17.0536 26.3584 17.6464 26.132 18.184L25.8179 18.8969L25.0204 19.5977C24.53 19.4294 24.0162 19.3397 23.4979 19.3319C22.8279 19.3325 22.1654 19.4724 21.5524 19.7427L20.8758 18.184C20.6413 17.6488 20.5746 17.055 20.6847 16.4812C20.7947 15.9073 21.0762 15.3803 21.492 14.9698ZM14.1212 23.2348C13.8514 22.6412 13.7923 21.9734 13.9536 21.3416C14.1149 20.7099 14.4869 20.1521 15.0081 19.7605C15.5294 19.3688 16.1687 19.1668 16.8203 19.1877C17.472 19.2087 18.097 19.4513 18.592 19.8756L19.1841 20.3952L19.607 21.3619C19.0017 22.1718 18.6714 23.1541 18.6645 24.1652C18.6502 24.3462 18.6502 24.528 18.6645 24.709H17.9999L16.9849 24.8056C16.4044 24.8669 15.819 24.7493 15.3072 24.4685C14.7953 24.1878 14.3815 23.7573 14.1212 23.2348ZM22.0962 30.5815C21.9507 31.2265 21.5874 31.8017 21.0674 32.2103C20.5475 32.6188 19.9026 32.8356 19.2414 32.8242C18.5803 32.8129 17.9432 32.5741 17.4376 32.1479C16.932 31.7218 16.5886 31.1345 16.4654 30.4848C16.4538 30.3158 16.4538 30.1463 16.4654 29.9773C16.4697 29.4862 16.6025 29.0047 16.8505 28.5808C17.0985 28.1568 17.4531 27.8051 17.8791 27.5606L18.4954 27.1256L19.5949 27.0048C20.288 27.9689 21.3117 28.6442 22.4708 28.9019L22.0962 30.5815ZM23.4979 26.5819C23.0199 26.5819 22.5527 26.4402 22.1552 26.1746C21.7578 25.9091 21.4481 25.5316 21.2652 25.09C21.0822 24.6485 21.0344 24.1625 21.1276 23.6938C21.2209 23.225 21.451 22.7944 21.789 22.4564C22.127 22.1184 22.5576 21.8882 23.0264 21.795C23.4952 21.7017 23.9811 21.7496 24.4227 21.9325C24.8643 22.1154 25.2417 22.4252 25.5072 22.8226C25.7728 23.22 25.9145 23.6873 25.9145 24.1652C25.9145 24.8062 25.6599 25.4209 25.2067 25.8741C24.7535 26.3273 24.1388 26.5819 23.4979 26.5819ZM30.5304 30.4727C30.4057 31.21 29.9964 31.8688 29.3907 32.3073C28.785 32.7457 28.0314 32.9287 27.292 32.8169C26.7095 32.7348 26.1659 32.4767 25.734 32.0772C25.3021 31.6778 25.0025 31.1559 24.8754 30.5815L24.7062 29.8565L24.9599 28.7448C26.0746 28.3818 27.0194 27.626 27.6183 26.6181L28.2224 26.9806H28.3312L29.1287 27.4519C29.6468 27.7478 30.0601 28.1975 30.3113 28.7388C30.5624 29.28 30.639 29.886 30.5304 30.4727ZM32.8745 23.2227C32.6369 23.703 32.2703 24.1077 31.8157 24.3915C31.3612 24.6753 30.8366 24.8271 30.3008 24.8298H30.0108L29.2374 24.709L28.3312 24.2136C28.3295 23.0387 27.9 21.9047 27.1229 21.0236L27.6424 20.5765L28.4037 19.8756C28.9001 19.4343 29.5346 19.1792 30.1984 19.1542C30.8622 19.1291 31.514 19.3356 32.0424 19.7383C32.5707 20.1409 32.9426 20.7147 33.0944 21.3614C33.2462 22.0081 33.1685 22.6874 32.8745 23.2831V23.2227Z" fill="white"/>
              </svg>
              <div class="text-neutral-600 text-2xl font-semibold my-4">Mudah digunakan</div>
              <div style="letter-spacing: 0.005em;" class="text-neutral-300 text-base leading-6">Kami ingin semua orang bisa menggunakan platform kami, untuk itu kami mendesignnya dengan simpel dan mudah dimengerti.</div>
            </div>
          </div>
          <div style="width:183px;top: 1430px;" class="absolute right-0">
            <img src="../../../../assets/image/product/illustration_profiling-2.png" alt="">
          </div>
        </div>
    </div>
  </div>
</div>
</template>
<script>
export default {
    name: 'App',
}
</script>