<template>
    <div class="lg:mt-0 mt-12 flex flex-wrap justify-center h-full" style="height: 500px">
        <div :style="header_bg" :class="[{'opacity-1' : header, 'opacity-0' : !header}]" class="z-10 mx-auto px-6 py-2 flex rounded-full shadow-xl">
            <p class="text-xs font-bold text-white tracking-widest">{{header_title}}</p>
        </div>

        <div class="w-full h-full z-0 -mt-5 border border-gray-400 rounded-lg justify-center bg-white" style="box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">

            <div class="relative w-full h-full flex flex-wrap justify-center">
                <div class="w-full h-full">
                    <p :style="title_color" class="w-full mt-8 text-center text-2xl text-white font-semibold">{{ title }}</p>
                    <p class="w-full mt-1 text-center text-xs">Subscription</p>

                    <div :class="{'opacity-0': Number(discount) <= 0}" class="flex flex-wrap justify-center">
                        <div class="w-auto inline-block relative mt-4 mx-auto mb-0">
                            <p class="text-2xl font-bold text-gray-500 px-2 py-6 strikethrough">IDR {{discount_price | formatQuantity}}</p>
                            <div class="absolute top-0 right-0 -mr-6 diskon-bg h-12 w-12 flex flex-wrap justify-center items-center">
                                <p class="text-sm font-semibold text-white">-{{discount}}%</p>
                            </div>
                        </div>
                    </div>

                    <p class="w-full text-center text-3xl font-bold">IDR</p>
                    <p class="w-full text-center text-3xl font-bold">{{price | formatQuantity}}</p>
                    <p class="w-full text-center text-lg font-bold">/Month</p>

                    <div class="w-full absolute bottom-0 mb-12">
                        <a :href="this.$session.exists() ? link : 'login'"><button :style="btn_color" class="block mx-auto px-12 py-2 text-white rounded-lg shadow-lg">Pilih</button></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>

    export default {
        name: "PriceItem",
        props:{
            header: Boolean,
            header_bg: String,
            header_title: String,
            title_color: String,
            title: String,
            price: String,
            discount: String,
            discount_price: String,
            btn_color: String,
            link: String
        },
        filters: {
            // you can call this whatever you want to
            formatQuantity (value) {
                return value.replace(/,/g, '.');
            }
        }
    }
</script>

<style scoped>

</style>