<template>
  <div id="app" class="relative" style="background:#F4F5F7">
    <!-- <div class="bg-neutral-600">
      <div class="relative text-white text-xsm max-w-screen-xl self-auto items-center justify-center mx-auto py-2">
          <span class="font-semibold text-primary">Update terbaru Covid 19:</span> Completely restore maintainable convergence whereas covalent mindshare. Objectively morph frictionless alignments before technically sound networks. Objectively unleash.
      </div>
    </div> -->
    <oca-navbar></oca-navbar>
    <jumbotron></jumbotron>
    <features-benefit></features-benefit>
    <testimoni-sub></testimoni-sub>

    <oca-footer-sub></oca-footer-sub>
    <oca-footer style="margin:0"></oca-footer>
  </div>
</template>

<script>
  import OcaNavbar from '../../../components/oca_origin/navbar';
  import OcaFooter from '../../../components/oca_origin/footer';
  import OcaFooterSub from "./components/FooterSub";
  import TestimoniSub from "./components/TestimoniSub";
  import FeaturesBenefit from "./components/FeaturesBenefit";
  import Jumbotron from "./components/Jumbotron";
  // import AnimateLeft from "../../../assets/image/product_oca/animate-left.svg"
  export default {
    name: 'App',
    components: {
      // OcaButton,
      OcaNavbar,
      OcaFooter,
      OcaFooterSub,
      TestimoniSub,
      FeaturesBenefit,
      Jumbotron
      // AnimateLeft,
    },
    data: function () {
      return {
      }
    },
    mounted() {

    },
    methods: {

    },
    created: function () {

    },
    destroyed: function () {

    },

    //INJECT META HTML
    metaInfo(){
      return {
        title: `OCA Interaction - Telkom OCA solusi omnichannel - Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast`,
        meta: [
          {
            name: 'keywords',
            content: 'Telkom OCA, omnichannel platform, whatsapp bisnis, email blast, ivr call, sms blast'
          },
          {
            name: 'author',
            content: 'Telkom OCA'
          },
          {
            name: 'description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            name: 'thumbnail',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
          {
            property: 'og:title',
            content: "Telkom OCA Omnichannel Platform"
          },
          {
            property: 'og:description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            property: 'og:image',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
          {
            property: 'twitter:card',
            content: "summary"
          },
          {
            property: 'twitter:site',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:creator',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:title',
            content: 'Telkom OCA Omnichannel Platform'
          },
          {
            property: 'twitter:url',
            content: 'https://ocatelkom.co.id'
          },
          {
            property: 'twitter:description',
            content: 'Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast'
          },
          {
            property: 'twitter:image:src',
            content: 'https://storage.ocatelkom.co.id/OCA-sfiles/OCA-sfiles/logo_1xstrsnprnt.png'
          },
        ]
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


  #app {
    font-family: Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.bg-transparent-nav{
  background-color: transparent !important;
}

</style>
