<template>
    <div>
        <!-- JUDUL -->
        <div :class="{hidden: $parent.currentView === tab, 'border-t-2': index === 0}" class="w-full p-4 border-b-2 border-gray-300">
            <p class="text-lg font-semibold text-gray-800" style="cursor: pointer" v-on:click="$parent.changeView(tab)">{{judul}}</p>
        </div>

        <!-- KONTEN YANG DI EXPAND -->
        <div :class="{hidden: $parent.currentView !== tab, 'border-t-2': index === 0}" class="w-full flex flex-row p-4 border-b-2 border-gray-300 items-start">
            <div class="w-6 h-auto mr-2 mt-1">
                <img :src="icon" class="w-full">
            </div>
            <div class="flex-1">
                <p class="text-lg font-semibold text-gray-800">{{judul}}</p>
                <p class="text-md text-gray-600 mt-2">{{konten}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "optionItem",
        props: {
            tab: String,
            judul: String,
            konten: String,
            icon: String,
            index: Number
        }
    }
</script>

<style scoped>

</style>