<template>
    <div class="features relative">
    <img src="../../../../assets/image/solutions/icon-oca.png" alt="" class="absolute" style="left:0;top:45%">
    <section class="section-features pt-12">
        <div class="text-custom-38 text-4/5xl mb-16 font-semibold text-center w-5/12 mx-auto" style="line-height:1.3">
            Enthusiastically disseminate leveraged materials.
        </div>
        <div class="relative max-w-screen-xl mx-auto">
            <img src="../../../../assets/image/solutions/bg-enterprise-features.png" alt="" class="absolute" style="right: -27px;top: -25px;width: 100%;height: 90%;">
            <div class="flex max-w-screen-xl items-center mx-auto bg-white py-12 pl-32 relative" style="border-radius: 5px 100px 5px 100px;">
                <div class="flex-1">
                    <img src="../../../../assets/image/solutions/enterprise-features.png" alt="">
                </div>
                <div class="flex-1">
                    <div class="text-neutral-600 font-semibold text-3xl">OCA untuk enterprise</div>
                    <div class="text-neutral-600 text-sm mb-5 mt-3">Fermentum Venenatis Tortor</div>
                    <div class="neutral-400 text-sm my-3  flex items-center">
                        <img src="../../../../assets/image/solutions/circle.png" alt="">
                        <div class="neutral-400 text-sm ml-3">Parturient Venenatis Etiam</div>
                    </div>
                    <div class="neutral-400 text-sm my-3  flex items-center">
                        <img src="../../../../assets/image/solutions/circle.png" alt="">
                        <div class="neutral-400 text-sm ml-3">Venenatis Mollis</div>
                    </div>
                    <div class="neutral-400 text-sm my-3  flex items-center">
                        <img src="../../../../assets/image/solutions/circle.png" alt="">
                        <div class="neutral-400 text-sm ml-3">Ridiculus</div>
                    </div>
                    <div class="neutral-400 text-sm my-3  flex items-center">
                        <img src="../../../../assets/image/solutions/circle.png" alt="">
                        <div class="neutral-400 text-sm ml-3">Magna Malesuada</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-tab pb-20">
    <div>
        <div style="" class="">
        <div class="flex flex-1 relative max-w-screen-xl self-auto items-center mx-auto">
          <div class="flex flex-1 flex-col my-10">
            <div style="inset 0px 5px 15px rgba(0, 0, 0, 0.03);" class="flex flex-1 justify-between items-center rounded-md pt-2 mt-10">
              <div class="flex-1 px-6">
                <div class="flex flex-col justify-between">
                  <div></div>
                  <div @click="currentActive = 1" class="flex flex-col cursor-pointer my-2">
                    <div :class="{'text-neutral-80': currentActive !== 1, 'text-neutral-600': currentActive === 1 }" class="text-sm text-center font-semibold leading-6 my-2" style="line-height:1.6">Blast <br/> Marketing</div>
                  </div>
                  <transition name="slide-bar"> 
                    <div v-if="currentActive === 1" class=" bg-primary rounded-full h-2"></div>
                    <div v-if="currentActive !== 1" class=" bg-neutral-30 rounded-full h-2"></div>
                  </transition>
                </div>
              </div>
              <div class="flex-1 px-6">
                <div class="flex flex-col justify-between">
                  <div></div>
                  <div @click="currentActive = 2" class="flex flex-col cursor-pointer my-2">
                    <div style="visibility:hidden">afsori</div>
                    <div :class="{'text-neutral-80': currentActive !== 2, 'text-neutral-600': currentActive === 2 }" class="text-sm text-center font-semibold leading-6 my-2" style="line-height:1.6">CRM <br> & LiveChat</div>
                  </div>
                  <transition name="slide-bar"> 
                    <div v-if="currentActive === 2" class=" bg-primary rounded-full h-2"></div>
                    <div v-if="currentActive !== 2" class=" bg-neutral-30 rounded-full h-2"></div>
                  </transition>
                </div>
              </div>
              <div class="flex-1 px-6">
                <div class="flex flex-col justify-between">
                  <div></div>
                  <div @click="currentActive = 3" class="flex flex-col cursor-pointer my-2">
                    <div :class="{'text-neutral-80': currentActive !== 3, 'text-neutral-600': currentActive === 3 }" class="text-sm text-center font-semibold leading-6 my-2" style="line-height:1.6">Analitik & <br/> Kinerja Agen</div>
                  </div>
                  <transition name="slide-bar"> 
                    <div v-if="currentActive === 3" class=" bg-primary rounded-full h-2"></div>
                    <div v-if="currentActive !== 3" class=" bg-neutral-30 rounded-full h-2"></div>
                  </transition>
                </div>
              </div>
              <div class="flex-1 px-6">
                <div class="flex flex-col justify-between">
                  <div></div>
                  <div @click="currentActive = 4"  class="flex flex-col cursor-pointer my-2">
                    <div style="visibility:hidden">afsori</div>
                    <div :class="{'text-neutral-80': currentActive !== 4, 'text-neutral-600': currentActive === 4 }" class="text-sm text-center font-semibold leading-6 my-2" style="line-height:1.6">Automasi</div>
                  </div>
                  <transition name="slide-bar"> 
                    <div v-if="currentActive === 4" class=" bg-primary rounded-full h-2"></div>
                    <div v-if="currentActive !== 4" class=" bg-neutral-30 rounded-full h-2"></div>
                  </transition>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
    <div class="flex">
    <div class="flex relative max-w-screen-xl self-auto items-center mx-auto">
        <div class="flex flex-1 justify-between items-center">
            <div class="flex-1 flex flex-col px-12">
            <transition name="slider"> 
                <div v-if="currentActive === 1" class="flex-1 justify-between my-12 mx-auto">
                    <div style="letter-spacing: 0.25px;line-height:1.3" class="text-3xl font-semibold text-neutral-600 my-2">Enthusiastically disseminate leveraged materials.</div>
                    <div class="flex flex-col">
                    <div style="letter-spacing: 0.25px;" class="text-lg text-neutral-300 leading-7 my-4 md:w-10/12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam vitae et tortor congue egestas volutpat egestas vel. Ac, nulla enim in sed elementum. Vitae, senectus arcu sit feugiat tortor justo.</div>
                    </div>
                    <div></div>
                </div>
            </transition>
            <transition name="slider"> 
                <div v-if="currentActive === 2" class="flex-1 justify-between my-12 mx-auto">
                    <div style="letter-spacing: 0.25px;line-height:1.3" class="text-3xl font-semibold text-neutral-600 my-2">Enthusiastically disseminate leveraged materials.</div>
                    <div class="flex flex-col">
                    <div style="letter-spacing: 0.25px;" class="text-lg text-neutral-300 leading-7 my-4 md:w-10/12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam vitae et tortor congue egestas volutpat egestas vel. Ac, nulla enim in sed elementum. Vitae, senectus arcu sit feugiat tortor justo.</div>
                    </div>
                    <div></div>
                </div>
            </transition>
            <transition name="slider"> 
                <div v-if="currentActive === 3" class="flex-1 justify-between my-12 mx-auto">
                   <div style="letter-spacing: 0.25px;line-height:1.3" class="text-3xl font-semibold text-neutral-600 my-2">Enthusiastically disseminate leveraged materials.</div>
                    <div class="flex flex-col">
                    <div style="letter-spacing: 0.25px;" class="text-lg text-neutral-300 leading-7 my-4 md:w-10/12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam vitae et tortor congue egestas volutpat egestas vel. Ac, nulla enim in sed elementum. Vitae, senectus arcu sit feugiat tortor justo.</div>
                    </div>
                </div>
            </transition>
            <transition name="slider"> 
                <div v-if="currentActive === 4" class="flex-1 justify-between my-12 mx-auto">
                 <div style="letter-spacing: 0.25px;line-height:1.3" class="text-3xl font-semibold text-neutral-600 my-2">Enthusiastically disseminate leveraged materials.</div>
                    <div class="flex flex-col">
                    <div style="letter-spacing: 0.25px;" class="text-lg text-neutral-300 leading-7 my-4 md:w-10/12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam vitae et tortor congue egestas volutpat egestas vel. Ac, nulla enim in sed elementum. Vitae, senectus arcu sit feugiat tortor justo.</div>
                    </div>
                </div>
            </transition>
            </div>
            <div class="flex-1 z-50 pr-12">
            <img class="mx-auto" src="../../../../assets/image/product/header_blast-2.png" alt="">
            </div>
        </div>
    </div>
    </div>
    </section>
    </div>
</template>

<script>
export default {
    name:"Features",
   data:function(){
       return{
           currentActive:1
       }
   }
}
</script>
<style scoped>
 .slide-bar-enter-active, .slide-up-leave-active {
    transition: all .3s ease-out;
  }

  .slide-bar-enter, .slide-up-leave-to {
    opacity: 0;
    width: 0%;
  }

  .slide-bar-enter-to, .slide-up-leave {
    opacity: 1;
    width: 100%;
  }

  .slider-enter-active, .slide-up-leave-active {
    transition: all .5s ease-out;
  }

  .slider-enter, .slide-up-leave-to {
    opacity: 0;
    transform: translate(100%, 0);
  }

  .slider-enter-to, .slide-up-leave {
    opacity: 1;
  }
</style>