<template>
    <section class="jumbotron bg-white md:pt-20 md:pb-12" style="border-radius: 0 0 0 100px;">
        <div class="flex max-w-screen-xl  items-center mx-auto">
            <div class="left text-xxsm flex-1">
                <div class="text-primary font-normal mb-2">OCA untuk Enterprise</div>
                <div class="text-neutral-600 text-4/5xl mb-5 font-semibold" style="line-height:1.3">Solusi Komunikasi All-in-one Terdedikasi untuk Enterprise</div>
                <div class="text-base text-neutral-200 mb-8 md:w-9/12" style="line-height:1.5">Ekspektasi konsumen selalu berkembang - begitu juga bisnis Anda. Platform komunikasi omnichannel OCA memberikan fleksibelitas adaptasi itu. Untuk semua kebutuhan komunikasi bisnis Anda, OCA siap membantu.</div>
                <oca-button classValue="rounded-md text-sm font-bold" >Hubungi kami</oca-button>
            </div>
            <div class="right flex-1">
                <img src="../../../../assets/image/solutions/image_jumbotron.png" class="mx-auto" alt="">
            </div>
        </div>
    </section>
</template>
<script>
import OcaButton from '../../../../components/oca_origin/buttons';

export default {
    name:"Jumbotron",
    components:{
    OcaButton
    }
}
</script>
<style scoped>

</style>