<template>
    <div class="md:w-1/2 flex flex-row p-4 items-start mt-10">
        <img :src="img" class="mr-4" style="max-height: 35px">
        <div class="flex-1">
            <p class="text-md font-semibold" :style="'color: ' + color">{{ judul }}</p>
            <p class="text-sm mt-2" :style="'color: ' + colorDesc"> {{ desc }} </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "DescItem",
        props: {
            img: String,
            judul: String,
            desc: String,
            color: String,
            colorDesc: String
        }
    }
</script>

<style scoped>

</style>