<template>
    <div>
        <call-list v-if="currentPage === 'report'"/>
        <add-call v-else-if="currentPage === 'add'"/>
    </div>
</template>

<script>
    import CallList from "./call/CallList";
    import AddCall from "./call/AddCall";

    export default {
        name: "CallBroadcast",
        components: {AddCall, CallList},
        data: function () {
            return {
                currentPage: 'report'
            }
        },
        methods: {
            changePage: function (value) {
                this.currentPage = value
            },
            refresh: function () {
                this.$parent.loadQuota()
            }
        }
    }
</script>

<style scoped>

</style>