<template>
    <div>
        <email-list v-if="currentPage === 'report'"/>
        <add-email v-else-if="currentPage === 'add'"/>
    </div>
</template>

<script>
    import EmailList from "./email/EmailList";
    import AddEmail from "./email/AddEmail";
    export default {
        name: "EmailBroadcast",
        components: {AddEmail, EmailList},
        data: function () {
            return {
                currentPage: 'report'
            }
        },
        methods: {
            changePage: function (value) {
                this.currentPage = value
            },
            refresh: function () {
                this.$parent.loadQuota()
            }
        }
    }
</script>

<style scoped>

</style>