<template>
    <div>
        <sms-list v-if="currentPage === 'report'"/>
        <add-sms v-else-if="currentPage === 'add'"/>
    </div>
</template>

<script>
    import SmsList from "./sms/SmsList";
    import AddSms from "./sms/AddSms";
    export default {
        name: "SmsBroadcast",
        components: {AddSms, SmsList},
        data: function () {
            return {
                currentPage: 'report'
            }
        },
        methods: {
            changePage: function (value) {
                this.currentPage = value
            },
            refresh: function () {
                this.$parent.loadQuota()
            }
        }
    }
</script>

<style scoped>

</style>