<template>
    <div>
        <wa-list v-if="currentPage === 'report'"/>
        <add-wa v-else-if="currentPage === 'add'"/>
    </div>
</template>

<script>
    import WaList from "./wa/WaList";
    import AddWa from "./wa/AddWa";
    export default {
        name: "WhatsappBroadcast",
        components: {AddWa, WaList},
        data: function () {
            return {
                currentPage: 'report'
            }
        },
        methods: {
            changePage: function (value) {
                this.currentPage = value
            },
            refresh: function () {
                this.$parent.loadQuota()
            }
        }
    }
</script>

<style scoped>

</style>