<template>
    <div class="w-full flex flex-wrap border-t border-gray-600 py-8 px-24">
        <div class="w-1/2">
            <p class="text-sm text-gray-500">© 2020 OCA, ALL RIGHTS RESERVED.</p>
        </div>
        <div class="w-1/2 flex flex-wrap justify-end">
            <a :class="{'text-gray-500': this.$cookies.get('lang_oca') !== 'id', 'text-main-color': this.$cookies.get('lang_oca') === 'id'}" class="text-sm mr-6 cursor-pointer" @click="changeLang('id')">Indonesia</a>
            <a :class="{'text-gray-500': this.$cookies.get('lang_oca') !== 'eng', 'text-main-color': this.$cookies.get('lang_oca') === 'eng'}" class="text-sm cursor-pointer" @click="changeLang('eng')">English</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Footer",
        methods: {
            changeLang: function (lang) {
                this.$cookies.set('lang_oca', lang)
                window.location.reload()
            }
        }
    }
</script>

<style scoped>

</style>