<template>
    <div class="p-6 lg:px-16 lg:py-6">
        <!-- CHECKLIST OCA BLAST -->
        <div class="w-full flex items-center">
            <div class="border border-black rounded w-6 h-6" style="padding: 3px; cursor: pointer" @click="changeBlast">
                <div v-show="this.$parent.umkm" class="rounded bg-main-color w-full h-full"></div>
            </div>

            <p class="text-xl text-main-color font-semibold ml-6" style="font-family: Lato">OCA Blast UMKM</p>
        </div>

        <!-- KONTEN OCA BLAST -->
        <div class="flex flex-wrap mt-4 ml-12">

            <!-- PLAN -->
            <div class="w-full lg:w-1/4">
                <p class="text-center font-medium text-xs p-2 border rounded-lg rounded-bl-none lg:rounded-bl-lg lg:rounded-tr-none rounded-br-none bg-gray-200" style="border-color: #D3D3E0">Product</p>
                <div style="height: 120px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-l-0">
                    <p>OCA Blast</p><p class="text-xsm text-main-color font-semibold">({{$parent.umkmPlan.type}})</p>
                </div>
            </div>
            <div class="w-full lg:w-1/4">
                <p class="text-center font-medium text-xs p-2 border lg:border-l-0 bg-gray-200" style="border-color: #D3D3E0">Plan</p>
                <div style="height: 120px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-l-0">
                    <div class="relative w-full px-6">
                        <select v-model="$parent.umkmPlan.product_id" class="appearance-none w-full text-sm bg-white border border-gray-500 text-gray-700 py-2 px-4 rounded-lg leading-tight focus:outline-none focus:bg-white focus:border-gray-500" :disabled="!this.$parent.umkm">
                            <option value="" disabled selected hidden>Select Plan</option>
                            <option value="1">1 month subscription</option>
                            <option value="3">3 month subscription</option>
                            <option value="6">6 month subscription</option>
                            <option value="12">12 month subscription</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0  flex items-center px-8 text-gray-700">
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" fill="#ED1260"/></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full lg:w-1/4">
                <p class="text-center font-medium text-xs p-2 border lg:border-l-0 bg-gray-200" style="border-color: #D3D3E0">Pricing</p>
                <div style="height: 120px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-l-0">
                    <p class="font-medium">IDR {{plan_price}} <span class="text-sm font-light">/ Month</span></p>
                </div>
            </div>
            <div class="w-full lg:w-1/4">
                <p class="text-center font-medium text-xs p-2 border lg:border-l-0 lg:rounded-lg lg:rounded-tl-none lg:rounded-bl-none bg-gray-200"  style="border-color: #D3D3E0">Total</p>
                <div style="height: 120px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-l-0 lg:border-r-0">
                    <p class="font-medium">IDR {{total_price}}</p>
                </div>
            </div>
            <div :class="{'rounded-b-none': $parent.umkmAdd === true, 'rounded-b-lg': $parent.umkmAdd === false}" class="flex-1 border rounded-t-none lg:rounded-t-lg bg-gray-200 p-2" style="border-color: #D3D3E0">
                <p class="text-center font-medium text-sm text-main-color" style="border-color: #D3D3E0; cursor:pointer;" @click="changeBlastExtra">+ Add Additional Quota</p>
            </div>


            <!--EXTRA QUOTA-->
            <div v-show="$parent.umkmAdd && $parent.umkm" class="w-full flex flex-wrap">
                <div class="w-full lg:w-1/4">
                    <p class="text-center font-medium text-xs p-2 border border-t-0 rounded-lg rounded-bl-none lg:rounded-bl-lg rounded-t-none rounded-br-none bg-gray-100" style="border-color: #D3D3E0">Product</p>
                    <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-b lg:border-l-0">
                        <p>Call</p>
                    </div>
                    <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-b lg:border-l-0">
                        <p>SMS</p>
                    </div>
                    <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-l-0">
                        <p>Email</p>
                    </div>
                </div>
                <div class="w-full lg:w-1/4">
                    <p class="text-center font-medium text-xs p-2 border lg:border-t-0 lg:border-l-0 bg-gray-100" style="border-color: #D3D3E0">Quota</p>
                    <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-b lg:border-l-0">
                        <div class="w-full flex flex-wrap items-center px-12">
                            <div class="w-2/3">
                                <input v-model="$parent.umkmExtra.call" type="number" class="w-full py-1 px-2 border rounded-lg focus:outline-none">
                            </div>
                            <div class="w-1/3 px-2">
                                <p class="text-xs text-gray-500">Seconds</p>
                            </div>
                        </div>
                    </div>
                    <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-b lg:border-l-0">
                        <div class="w-full flex flex-wrap items-center px-12">
                            <div class="w-2/3">
                                <input v-model="$parent.umkmExtra.sms" type="number" class="w-full py-1 px-2 border rounded-lg focus:outline-none">
                            </div>
                            <div class="w-1/3 px-2">
                                <p class="text-xs text-gray-500">Messages</p>
                            </div>
                        </div>
                    </div>
                    <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-l-0">
                        <div class="w-full flex flex-wrap items-center px-12">
                            <div class="w-2/3">
                                <input v-model="$parent.umkmExtra.email" type="number" class="w-full py-1 px-2 border rounded-lg focus:outline-none">
                            </div>
                            <div class="w-1/3 px-2">
                                <p class="text-xs text-gray-500">Mails</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/4">
                    <p class="text-center font-medium text-xs p-2 border lg:border-t-0 lg:border-l-0 bg-gray-100" style="border-color: #D3D3E0">Pricing</p>
                    <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-b lg:border-l-0">
                        <p class="font-medium">IDR {{extra_call | formatQuantity}}</p>
                    </div>
                    <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-b lg:border-l-0">
                        <p class="font-medium">IDR {{extra_sms | formatQuantity}}</p>
                    </div>
                    <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-l-0">
                        <p class="font-medium">IDR {{extra_email | formatQuantity}}</p>
                    </div>
                </div>
                <div class="w-full lg:w-1/4">
                    <p class="text-center font-medium text-xs p-2 border lg:border-t-0 lg:border-l-0 rounded-lg rounded-bl-none lg:rounded-br-lg rounded-t-none rounded-br-none bg-gray-100" style="border-color: #D3D3E0">Total</p>
                    <div style="height: 180px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-r-0 lg:border-l-0">
                        <p class="font-medium">IDR {{total_extra | formatQuantity}}</p>
                    </div>
                </div>
                <div class="w-full rounded-b-lg lg:rounded-lg border bg-gray-200 p-4" style="border-color: #D3D3E0"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OcaUmkm",

        methods: {
            changeBlast: function () {
                this.$parent.umkm = !this.$parent.umkm
            },
            changeBlastExtra: function () {
                if(this.$parent.umkm === true){
                    this.$parent.umkmAdd = !this.$parent.umkmAdd
                }
            },
        },
        computed: {
            plan_price: function () {
                var total = '0'
                let type = this.$parent.umkmPlan.type
                if(this.$parent.price_list.umkm){
                    switch (this.$parent.umkmPlan.product_id) {
                        case "1": 
                            total = Number(this.$parent.price_list.umkm[type][0].price).toLocaleString()
                            break
                        case "3":
                            total = Number(this.$parent.price_list.umkm[type][1].price).toLocaleString()
                            break
                        case "6":
                            total = Number(this.$parent.price_list.umkm[type][2].price).toLocaleString()
                            break
                        case "12":
                            total = Number(this.$parent.price_list.umkm[type][3].price).toLocaleString()
                            break
                    }
                }
                return total
            },
            total_price: function () {
                var total = '0'
                let type = this.$parent.umkmPlan.type
                if(this.$parent.price_list.umkm){
                    switch (this.$parent.umkmPlan.product_id) {
                        case "1":
                            total = Number(this.$parent.price_list.umkm[type][0].price * this.$parent.price_list.umkm[type][0].default_qty).toLocaleString()
                            break
                        case "3":
                            total = Number(this.$parent.price_list.umkm[type][1].price * this.$parent.price_list.umkm[type][1].default_qty).toLocaleString()
                            break
                        case "6":
                            total = Number(this.$parent.price_list.umkm[type][2].price * this.$parent.price_list.umkm[type][2].default_qty).toLocaleString()
                            break
                        case "12":
                            total = Number(this.$parent.price_list.umkm[type][3].price * this.$parent.price_list.umkm[type][3].default_qty).toLocaleString()
                            break
                    }
                }
                return total
            },
            extra_call: function () {
                var total = 0
                if(this.$parent.price_list.call){
                    total = Number(this.$parent.umkmExtra.call) * Number(this.$parent.price_list.call.price)
                }
                return total.toLocaleString()
            },
            extra_sms: function () {
                var total = 0
                if(this.$parent.price_list.sms){
                    total = Number(this.$parent.umkmExtra.sms) * Number(this.$parent.price_list.sms.price)
                }
                return total.toLocaleString()
            },
            extra_email: function () {
                var total = 0
                if(this.$parent.price_list.email){
                    total = Number(this.$parent.umkmExtra.email) * Number(this.$parent.price_list.email.price)
                }
                return total.toLocaleString()
            },
            total_extra: function () {
                var total = 0
                if(this.$parent.price_list.call && this.$parent.price_list.sms && this.$parent.price_list.email){
                    total += Number(this.$parent.umkmExtra.call) * Number(this.$parent.price_list.call.price)
                    total += Number(this.$parent.umkmExtra.sms) * Number(this.$parent.price_list.sms.price)
                    total += Number(this.$parent.umkmExtra.email) * Number(this.$parent.price_list.email.price)
                }
                return total.toLocaleString()
            },
        },
        filters: {
            // you can call this whatever you want to
            formatQuantity (value) {
                return value.replace(/,/g, '.');
            }
        }
    }
</script>

<style scoped>

</style>