<template>
    <div class="p-6 lg:px-16 lg:py-6">
        <!-- CHECKLIST WA -->
        <div class="w-full flex">
            <div class="border border-black rounded w-6 h-6" style="padding: 3px; cursor: pointer" @click="changeWA">
                <div v-show="$parent.wa" class="rounded bg-main-color w-full h-full"></div>
            </div>

            <div class="ml-6">
                <p class="text-xl text-main-color font-semibold" style="font-family: Lato">Whatsapp Blast</p>
                <p class="mt-2 text-sm">Pastikan anda sudah membaca regulasi WhatsApp sebelum berlangganan paket ini. <a href="https://www.whatsapp.com/legal/commerce-policy/" target="_blank" class="text-main-color">Baca Disini</a></p>
            </div>

        </div>

        <!-- KONTEN WA -->
        <div class="flex flex-wrap mt-4 ml-12">

            <!-- PILIH MASKING -->
            <div class="w-full lg:w-1/4">
                <p class="text-center font-medium text-xs p-2 border rounded-lg rounded-bl-none lg:rounded-bl-lg lg:rounded-tr-none rounded-br-none bg-gray-200" style="border-color: #D3D3E0">Product</p>
                <div style="height: 120px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-l-0">
                    <div>
                        <p class="w-full text-center">Masking</p>
                        <p class="w-full text-center px-16 text-xs">ini adalah nama kontak pada whatsapp</p>
                    </div>
                </div>
                <div v-show="$parent.waMask !== '' && $parent.wa" style="height: 120px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r border-t lg:border-l-0">
                    <p class="w-full text-center">Whatsapp Blast</p>
                </div>
            </div>

            <!-- PILIH PLAN -->
            <div class="w-full lg:w-1/4">
                <p class="text-center font-medium text-xs p-2 border lg:border-l-0 bg-gray-200" style="border-color: #D3D3E0">Plan</p>
                <div style="height: 120px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-l-0">
                    <div class="relative w-full px-6" style="cursor:pointer;" @click="toggleModal">
                        <p class="appearance-none w-full text-sm bg-white border border-gray-500 text-gray-700 py-2 px-4 rounded-lg leading-tight focus:outline-none focus:bg-white focus:border-gray-500">{{mask}}</p>
                        <div class="pointer-events-none absolute inset-y-0 right-0  flex items-center px-8 text-gray-700">
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" fill="#ED1260"/></svg>
                        </div>
                    </div>
                </div>
                <div v-show="$parent.waMask !== ''  && $parent.wa" style="height: 120px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r border-t lg:border-l-0">
                    <div class="relative w-full px-6">
                        <select v-model="$parent.waPlan" class="appearance-none w-full text-sm bg-white border border-gray-500 text-gray-700 py-2 px-4 rounded-lg leading-tight focus:outline-none focus:bg-white focus:border-gray-500" :disabled="!this.$parent.wa">
                            <option value="" disabled selected hidden>Select Plan</option>
                            <option value="1" v-show="$parent.waMask === 'oca'">1 month subscription</option>
                            <option value="6">6 month subscription</option>
                            <option value="12">12 month subscription</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0  flex items-center px-8 text-gray-700">
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" fill="#ED1260"/></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full lg:w-1/4">
                <p class="text-center font-medium text-xs p-2 border lg:border-l-0 bg-gray-200" style="border-color: #D3D3E0">Pricing</p>
                <div style="height: 120px" class="flex flex-wrap items-center justify-center border-l border-r lg:border-l-0">
                    <p class="font-medium">IDR {{price_mask | formatQuantity}} <span class="text-sm font-light">one time charge</span></p>
                </div>
                <div v-show="$parent.waMask !== ''  && $parent.wa" style="height: 120px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r border-t lg:border-l-0">
                    <p class="font-medium">IDR {{price_plan | formatQuantity}} <span class="text-sm font-light">/ Month</span></p>
                </div>
            </div>
            <div class="w-full lg:w-1/4">
                <p class="text-center font-medium text-xs p-2 border lg:border-l-0 lg:rounded-lg lg:rounded-tl-none lg:rounded-bl-none bg-gray-200"  style="border-color: #D3D3E0">Total</p>
                <div style="height: 120px" class="flex flex-wrap items-center justify-center border-l border-r lg:border-l-0 lg:border-r-0">
                    <p class="font-medium">IDR {{price_mask | formatQuantity}}</p>
                </div>
                <div v-show="$parent.waMask !== ''  && $parent.wa" style="height: 120px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r border-t lg:border-l-0 lg:border-r-0">
                    <p class="font-medium">IDR {{total_plan | formatQuantity}}</p>
                </div>
            </div>


            <!-- OCA INTERACTION-->
            <div v-show="$parent.waMask === 'custom' && $parent.wa" class="w-full flex flex-wrap hidden">
                <div class="w-full border lg:rounded-t-lg bg-gray-200 p-2" style="border-color: #D3D3E0">
                    <p class="text-center font-medium text-sm text-main-color" style="border-color: #D3D3E0; cursor:pointer;">Additional Service</p>
                </div>
                <div class="w-full lg:w-1/3">
                    <p class="text-center font-medium text-xs p-2 border-l border-b border-r lg:rounded-bl-lg bg-gray-100" style="border-color: #D3D3E0">Product</p>
                    <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-l-0">
                        <div class="flex items-center">
                            <div class="border border-black rounded w-5 h-5" style="padding: 2px; cursor: pointer" @click="changeOcaInt">
                                <div v-show="$parent.ocaInt" class="rounded bg-main-color w-full h-full"></div>
                            </div>

                            <p class="text-sm text-main-color font-semibold ml-6" style="font-family: Lato">OCA Interaction</p>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/3">
                    <p class="text-center font-medium text-xs p-2 border-t lg:border-t-0 border-l lg:border-l-0 border-r border-b bg-gray-100" style="border-color: #D3D3E0">Pricing</p>
                    <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-l-0">
                        <p class="font-medium">IDR {{price_interact | formatQuantity}}</p>
                    </div>
                </div>
                <div class="w-full lg:w-1/3">
                    <p class="text-center font-medium text-xs p-2 border-t lg:border-t-0 border-l lg:border-l-0 border-b border-r lg:rounded-br-lg bg-gray-100" style="border-color: #D3D3E0">Total</p>
                    <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l lg:border-l-0 lg:border-r-0 border-r">
                        <p class="font-medium">IDR {{price_interact | formatQuantity}}</p>
                    </div>
                </div>
            </div>

            <!-- EXTRA QUOTA-->
            <div :class="{'rounded-b-none': $parent.waAdd === true, 'rounded-b-lg': $parent.waAdd === false}" class="flex-1 border rounded-t-none lg:rounded-t-lg bg-gray-200 p-2" style="border-color: #D3D3E0">
                <p class="text-center font-medium text-sm text-main-color" style="border-color: #D3D3E0; cursor:pointer;" @click="changeWAExtra">+ Add Additional Quota</p>
            </div>
            <div v-show="$parent.waAdd && $parent.wa" class="w-full flex flex-wrap">
                <div class="w-full lg:w-1/4">
                    <p class="text-center font-medium text-xs p-2 border border-t-0 rounded-lg rounded-bl-none lg:rounded-bl-lg rounded-t-none rounded-br-none bg-gray-100" style="border-color: #D3D3E0">Product</p>
                    <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-b lg:border-l-0">
                        <p>WhatsApp Messages</p>
                    </div>
                </div>
                <div class="w-full lg:w-1/4">
                    <p class="text-center font-medium text-xs p-2 border lg:border-t-0 lg:border-l-0 bg-gray-100" style="border-color: #D3D3E0">Quota</p>
                    <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-b lg:border-l-0">
                        <div class="w-full flex flex-wrap items-center px-12">
                            <div class="w-2/3">
                                <input v-model="$parent.waPush" type="number" class="w-full py-1 px-2 border rounded-lg">
                            </div>
                            <div class="w-1/3 px-2">
                                <p class="text-xs text-gray-500">Messages</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/4">
                    <p class="text-center font-medium text-xs p-2 border lg:border-t-0 lg:border-l-0 bg-gray-100" style="border-color: #D3D3E0">Pricing</p>
                    <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-b lg:border-l-0">
                        <p class="font-medium">IDR {{price_push | formatQuantity}}</p>
                    </div>
                </div>
                <div class="w-full lg:w-1/4">
                    <p class="text-center font-medium text-xs p-2 border lg:border-t-0 lg:border-l-0 rounded-lg rounded-bl-none lg:rounded-br-lg rounded-t-none rounded-br-none bg-gray-100" style="border-color: #D3D3E0">Total</p>
                    <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-r-0 lg:border-l-0 border-b">
                        <p class="font-medium">IDR {{price_push | formatQuantity}}</p>
                    </div>
                </div>
            </div>

            <div v-show="$parent.waAdd && $parent.wa && !$parent.blast" class="w-full mt-16">
                <p class="w-full text-sm font-medium text-main-color">Failover quota for WhatsApp Blast</p>
                <p class="w-full text-sm">Failover berfungsi bila pesan WhatsApp gagal diterima dan langsung akan dialihkan ke satu atau lebih kanal komunikasi lainnya.</p>
                <div class="w-full flex flex-wrap mt-4">
                    <div class="w-full lg:w-1/4">
                        <p class="text-center font-medium text-xs p-2 border rounded-lg rounded-l-none lg:rounded-l-lg rounded-t-none rounded-br-none bg-gray-100" style="border-color: #D3D3E0">Product</p>
                        <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-b lg:border-l-0">
                            <p>Call</p>
                        </div>
                        <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-b lg:border-l-0">
                            <p>SMS</p>
                        </div>
                        <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-l-0">
                            <p>Email</p>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/4">
                        <p class="text-center font-medium text-xs p-2 border lg:border-t lg:border-l-0 bg-gray-100" style="border-color: #D3D3E0">Quota</p>
                        <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-b lg:border-l-0">
                            <div class="w-full flex flex-wrap items-center px-12">
                                <div class="w-2/3">
                                    <input v-model="$parent.waExtra.call" type="number" class="w-full py-1 px-2 border rounded-lg focus:outline-none">
                                </div>
                                <div class="w-1/3 px-2">
                                    <p class="text-xs text-gray-500">Seconds</p>
                                </div>
                            </div>
                        </div>
                        <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-b lg:border-l-0">
                            <div class="w-full flex flex-wrap items-center px-12">
                                <div class="w-2/3">
                                    <input v-model="$parent.waExtra.sms" type="number" class="w-full py-1 px-2 border rounded-lg focus:outline-none">
                                </div>
                                <div class="w-1/3 px-2">
                                    <p class="text-xs text-gray-500">Messages</p>
                                </div>
                            </div>
                        </div>
                        <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-l-0">
                            <div class="w-full flex flex-wrap items-center px-12">
                                <div class="w-2/3">
                                    <input v-model="$parent.waExtra.email" type="number" class="w-full py-1 px-2 border rounded-lg focus:outline-none">
                                </div>
                                <div class="w-1/3 px-2">
                                    <p class="text-xs text-gray-500">Mails</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/4">
                        <p class="text-center font-medium text-xs p-2 border lg:border-t lg:border-l-0 bg-gray-100" style="border-color: #D3D3E0">Pricing</p>
                        <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-b lg:border-l-0">
                            <p class="font-medium">IDR {{extra_call | formatQuantity}}</p>
                        </div>
                        <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-b lg:border-l-0">
                            <p class="font-medium">IDR {{extra_sms | formatQuantity}}</p>
                        </div>
                        <div style="height: 60px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-l-0">
                            <p class="font-medium">IDR {{extra_email | formatQuantity}}</p>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/4">
                        <p class="text-center font-medium text-xs p-2 border lg:border-t lg:border-l-0 rounded-lg rounded-bl-none lg:rounded-r-lg rounded-t-none rounded-br-none bg-gray-100" style="border-color: #D3D3E0">Total</p>
                        <div style="height: 180px;border-color: #D3D3E0" class="flex flex-wrap items-center justify-center border-l border-r lg:border-r-0 lg:border-l-0">
                            <p class="font-medium">IDR {{total_extra | formatQuantity}}</p>
                        </div>
                    </div>
                    <div class="w-full rounded-b-lg lg:rounded-lg border bg-gray-200 p-4" style="border-color: #D3D3E0"></div>
                </div>
            </div>
        </div>
        <mask-modal/>
    </div>
</template>

<script>
    import MaskModal from "./wablast/maskModal";
    export default {
        name: "WaBlast",
        components: {MaskModal},
        data: function () {
          return {
              mask: 'Select Masking'
          }
        },
        methods: {
            changeWA: function () {
                this.$parent.wa = !this.$parent.wa
            },
            toggleModal: function () {
                if(this.$parent.wa) {
                    if(this.$parent.price_list.masking){
                        this.$modal.show("mask-modal", {
                            harga: Number(this.$parent.price_list.masking[1].price).toLocaleString()
                        })
                    }
                }
            },
            changeMask: function (tipe, msg) {
                this.$parent.waMask = tipe
                this.mask = msg
                this.$parent.waPlan = ''
            },
            changeWAExtra: function () {
                if(this.$parent.wa) {
                    this.$parent.waAdd = !this.$parent.waAdd
                }
            },
            changeOcaInt(){
                if(this.$parent.wa) {
                    this.$parent.ocaInt = !this.$parent.ocaInt
                }
            }
        },
        computed: {
            price_mask: function () {
                var total = '0'

                if(this.$parent.price_list.masking){
                    if(this.$parent.waMask === 'custom'){
                        total = Number(this.$parent.price_list.masking[1].price).toLocaleString()
                    }
                    else {
                        total = Number(this.$parent.price_list.masking[0].price).toLocaleString()
                    }
                }

                return total
            },
            price_plan: function () {
                var total = '0'
                if(this.$parent.price_list.whatsapp_blast){
                    switch (this.$parent.waPlan) {
                        case "1":
                            total = Number(this.$parent.price_list.whatsapp_blast[0].price).toLocaleString()
                            break
                        case "6":
                            total = Number(this.$parent.price_list.whatsapp_blast[1].price).toLocaleString()
                            break
                        case "12":
                            total = Number(this.$parent.price_list.whatsapp_blast[2].price).toLocaleString()
                            break
                    }
                }
                return total
            },
            total_plan: function () {
                var total = '0'
                if(this.$parent.price_list.whatsapp_blast){
                    switch (this.$parent.waPlan) {
                        case "1":
                            total = Number(this.$parent.price_list.whatsapp_blast[0].total_price).toLocaleString()
                            break
                        case "6":
                            total = Number(this.$parent.price_list.whatsapp_blast[1].total_price).toLocaleString()
                            break
                        case "12":
                            total = Number(this.$parent.price_list.whatsapp_blast[2].total_price).toLocaleString()
                            break
                    }
                }
                return total
            },
            price_interact: function () {
                var total = '0'

                // if(this.$parent.price_list.whatsapp_blast){
                //
                // }

                return total
            },
            price_push: function () {
                var total = 0

                if(this.$parent.price_list.whatsapp){
                    total = Number(this.$parent.waPush) * Number(this.$parent.price_list.whatsapp.price)
                }

                return total.toLocaleString()
            },
            extra_call: function () {
                var total = 0
                if(this.$parent.price_list.call){
                    total = Number(this.$parent.waExtra.call) * Number(this.$parent.price_list.call.price)
                }
                return total.toLocaleString()
            },
            extra_sms: function () {
                var total = 0
                if(this.$parent.price_list.sms){
                    total = Number(this.$parent.waExtra.sms) * Number(this.$parent.price_list.sms.price)
                }
                return total.toLocaleString()
            },
            extra_email: function () {
                var total = 0
                if(this.$parent.price_list.email){
                    total = Number(this.$parent.waExtra.email) * Number(this.$parent.price_list.email.price)
                }
                return total.toLocaleString()
            },
            total_extra: function () {
                var total = 0
                if(this.$parent.price_list.call && this.$parent.price_list.sms && this.$parent.price_list.email){
                    total += Number(this.$parent.waExtra.call) * Number(this.$parent.price_list.call.price)
                    total += Number(this.$parent.waExtra.sms) * Number(this.$parent.price_list.sms.price)
                    total += Number(this.$parent.waExtra.email) * Number(this.$parent.price_list.email.price)
                }
                return total.toLocaleString()
            },
        },
        filters: {
            // you can call this whatever you want to
            formatQuantity (value) {
                return value.replace(/,/g, '.');
            }
        }
    }
</script>

<style scoped>

</style>