<template>
    <modal name="mask-modal" :width="1000" :height="600" :resizeable="true" @before-open="beforeOpen">
        <div class="mt-6 px-16">
            <div class="flex flex-wrap mt-6" style="max-width: 1000px">
                <div class="relative w-1/2 py-6 px-6 lg:border-r border-gray-500 flex flex-wrap justify-center">
                    <img src="../../../../assets/image/wa_blast/template.png" style="max-width: 350px; max-height: 200px">
                    <div class="w-full h-auto py-4 px-8 rounded-lg flex flex-wrap" style="background-color: #F6F6FF; min-height: 300px">
                        <checklist v-for="data in oca" :key="data" :judul="data.judul"/>

                        <div class="w-full flex justify-center items-center align-center" style="height: 150px">
                            <p class="font-bold text-center" style="color: #505052; font-family: Lato">No additional<br>charge applied</p>
                        </div>

                        <div class="w-full flex justify-center align-bottom mt-auto">
                            <a class="py-2 px-12 bg-main-color rounded-lg text-white font-semibold" style="cursor:pointer;"  @click="pickMask('oca', 'Masking OCA by Telkom Indonesia')">Pilih</a>
                        </div>
                    </div>
                </div>
                <div class="relative w-1/2 py-6 px-6 flex flex-wrap justify-center">
                    <img src="../../../../assets/image/wa_blast/template2.png" style="max-width: 350px; max-height: 200px">
                    <div class="w-full py-4 px-8 rounded-lg flex flex-wrap" style="background-color: #F6F6FF; min-height: 300px">
                        <div>
                            <checklist v-for="data in custom" :key="data" :judul="data.judul"/>
                        </div>

<!--                        <div class="w-full flex justify-center items-center align-center" style="height: 150px">-->
<!--                            <div>-->
<!--                                <p class="text-xs text-center">Additional Charge</p>-->
<!--                                <p class="font-semibold text-main-color text-xl tracking-wide text-center" style="font-family: Lato">IDR {{harga | formatQuantity}}</p>-->
<!--                                <p class="text-xs text-center">One Time Charge</p>-->
<!--                            </div>-->
<!--                        </div>-->

                        <div class="w-full flex flex-wrap justify-center align-bottom mt-auto">
<!--                            <p class="w-full text-xs mb-4 text-center">Untuk pembayaran dan aktifasi <a href="https://wa.me/628118483400" target="_blank" class="text-main-color">hubungi kami</a></p>-->
                            <a href="https://api.whatsapp.com/message/CJYNUR2AAUSVG1" target="_blank" class="py-2 px-12 bg-main-color rounded-lg text-white font-semibold" style="cursor:pointer;">Hubungi Kami</a>
<!--                            @click="pickMask('custom', 'Masking own bussiness name')"-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    import Checklist from "./Checklist";
    export default {
        name: "maskModal",
        components: {Checklist},
        data: function () {
            return {
                oca: [
                    {
                        judul: "Siap untuk digunakan"
                    },
                    {
                        judul: "Pesan tidak berasal dari long number"
                    },
                    {
                        judul: "Akses agen yang tidak terbatas"
                    },
                ],
                custom: [
                    {
                        judul: "Akun terverifikasi oleh Whatsapp"
                    },
                    {
                        judul: "Memiliki kredibilitas yang tinggi"
                    },
                    {
                        judul: "Akses agen yang tidak terbatas"
                    },
                ],
                harga: '0'
            }
        },
        methods: {
            beforeOpen: function (event) {
                this.harga = event.params.harga
            },
            pickMask: function (tipe, msg) {
                this.$modal.hide("mask-modal")
                let main = this
                setTimeout(function() {
                    main.$parent.changeMask(tipe, msg)
                }, 200);

            }
        },
        filters: {
            // you can call this whatever you want to
            formatQuantity (value) {
                return value.replace(/,/g, '.');
            }
        }
    }
</script>

<style scoped>

</style>