<template>
    <div class="w-full mb-4 h-auto">
        <div class="flex items-center mb-1">
            <img :src="img" class="w-8">
            <p class="ml-4 text-md font-semibold text-black">{{ judul }}</p>
        </div>

        <p v-for="data in konten" v-bind:key="data" class="ml-12 text-sm text-gray-500">{{ data }}</p>
    </div>
</template>

<script>
    export default {
        name: "ContentItem",
        props:{
            img: String,
            judul: String,
            konten: Array,
        }
    }
</script>

<style scoped>

</style>