<template>
    <div class="flex flex-wrap border border-gray-400 mt-4 px-6 pt-6 pb-20 rounded-lg shadow-lg blast-bg justify-center" style="height: 500px">
        <div class="w-full flex flex-wrap">
            <div class="w-full flex flex-wrap">
                <content-item v-for="data in kontenItem" :key="data" :img="data.icon_url" :judul="data.benefit" :konten="data.advantage"/>
            </div>
        </div>
    </div>
</template>

<script>
    import ContentItem from "./ContentItem";

    export default {
        name: "ContentBox",
        components: {ContentItem},
        props: {
          kontenItem: Array
        },
        data: function () {
            return {
                konten: []
            }
        }
    }
</script>

<style scoped>

</style>