<template>
    <div class="border rounded-lg mx-2 lg:mt-0 mt-4 py-3 px-6" style="border-color: #ABC1E5">
        <p class="text-center text-sm">{{judul}}</p>
        <p class="text-center text-xl font-bold" style="color: #ABC1E5">{{harga}} <span class="text-sm text-black font-thin"> / {{ket}}</span></p>
    </div>
</template>

<script>
    export default {
        name: "ExtraItem",
        props: {
            judul: String,
            harga: String,
            ket: String,
        }
    }
</script>

<style scoped>

</style>