<template>
  <div id="app" class="w-screen h-screen flex flex-wrap justify-center items-center">
    <error-overlay/>
  </div>
</template>

<script>

  import download from 'downloadjs'
  import ErrorOverlay from "../../components/ErrorOverlay";

  export default {
    name: 'App',
    components: {
      ErrorOverlay,
    },
    created() {
      if(!this.$cookies.isKey('lang_oca')){
        this.$cookies.set('lang_oca', 'id')
      }

      let uri = window.location.search.substring(1);
      let params = new URLSearchParams(uri);
      if(params.get("order_id") != null){
        this.verifikasi(params.get("order_id"))
      }
    },
    methods: {
      verifikasi: function (code) {
        const axios = require('axios')

        let url = 'https://payment.ocatelkom.co.id/api/v1/' + code + "/invoice"
        //window.location.href = url

        let main = this
        axios.get(url, {
          headers: {
            'Authorization': `Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg`
          },
          responseType: 'blob'
        })
        .then(function (response) {
          const content = response.headers['content-type'];

          //DOWNLOAD BLOB RESPONSE.DATA MENJADI PDF
          download(new Blob([response.data], {
            type: 'application/pdf',
          }), "invoice.pdf", content)
        })
        .catch(function (error) {
          //PANGGIL MODAL DENGAN PARAMETER
          main.$modal.show('error', {
            title: "ERROR " + error.response.data.errors[0].code,
            message: error.response.data.errors[0].message
          })
        })
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

  #app {
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
