<template>
  <div id="app" class="w-screen h-screen flex flex-wrap">
    <navbar-short/>

    <div class="w-full mt-40 lg:mt-16 p-4 lg:p-16">
      <p class="text-3xl">Order & Payments</p>

      <div class="w-full border-b mt-4 border-black">
      </div>

      <div class="flex justify-between mt-4">
        <p class="text-sm">Account : <span class="font-semibold">{{this.$session.get('email')}}</span></p>
        <a href="plan" class="text-main-color text-sm">Make New Order</a>
      </div>


      <div>
        <history-item v-for="(data, index) in dataHistory" :key="data" :konten="data" :tgl="dataTgl[index]"/>

        <!-- TAMPIL SAAT DATA SEDANG DI LOAD -->
        <div v-show="isLoading" class="w-full flex items-center justify-center" style="height: 300px">
          <p>LOADING</p>
        </div>

        <!-- TAMPIL APABILA TIDAK ADA DATA -->
        <div v-show="!isLoading && dataHistory.length === 0" class="w-full flex items-center justify-center" style="height: 300px">
          <p>Anda belum memiliki transaksi</p>
        </div>
      </div>

      <div class="w-full block mx-auto mt-10" style="max-width: 1000px">
        <vue-ads-pagination
                id="pagination"
                :total-items="totalPage"
                :page="page"
                :items-per-page="10">
          <template
                  slot="buttons"
                  slot-scope="props">
            <vue-ads-page-button
                    v-for="(button, key) in props.buttons"
                    :key="key"
                    v-bind="button"
                    :class="{'selected-page': button.active}"
                    class="font-semibold page-button"
                    @page-change="pageChange(button.page)"
                    @range-change="start = button.start; end = button.end"/>
          </template>
        </vue-ads-pagination>
      </div>

    </div>

    <Footer/>

    <error-overlay/>
  </div>
</template>

<script>
  import Footer from "./components/Footer";
  import HistoryItem from "./components/HistoryItem";
  import VueAdsPagination, {VueAdsPageButton} from "vue-ads-pagination";
  import '@fortawesome/fontawesome-free/css/all.css'
  import '@fortawesome/fontawesome-free/js/all.js'
  import ErrorOverlay from "../../components/ErrorOverlay";
  import NavbarShort from "../../components/NavbarShort";

  export default {
    name: 'App',
    components: {
      NavbarShort,
      ErrorOverlay,
      HistoryItem,
      Footer,
      VueAdsPagination,
      VueAdsPageButton
    },
    data: function () {
      return {
        page: 0,
        start: 0,
        end: 0,
        totalPage: 0,
        isLoading: false,
        dataHistory: [],
        dataTgl: [],
      }
    },
    created() {
      if(!this.$cookies.isKey('lang_oca')){
        this.$cookies.set('lang_oca', 'id')
      }

      let uri = window.location.search.substring(1);
      let params = new URLSearchParams(uri);
      if(params.get("page") != null){
        this.page = Number(params.get("page"))-1
        this.loadHistory(Number(params.get("page")))
      }
      else {
        this.loadHistory(1)
      }

    },
    methods: {

      loadHistory: function (page) {
        this.dataHistory = []
        this.isLoading = true
        const axios = require('axios')

        let main = this
        let url = 'https://payment.ocatelkom.co.id/api/v1/list-order?user_id=' + this.$session.get('user_id') + '&page=' + page + '&limit=10'
        axios.get(url, {
          headers: {
            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiYWdlbnQiOiJEVFAgV0VCIiwiaWF0IjoxNTE2MjM5MDIyfQ.HiXumec8f32u3e3s53h5FS_Ix6kVn3r9nNII_vyBemg'
          }
        })
        .then(function (response) {
          let data = response.data.data

          //FORMAT DATE DAN SUSUN DATA SESUAI DENGAN TANGGAL. APABILA DATA ORDER MEMILIKI TANGGAL YANG SAMA DENGAN DATA SEBELUMNYA MAKA TANGGAL TIDAK DITAMPILKAN
          let currentDate = ''
          data.forEach(function (item) {
            let temp = item
            let cek = main.parseISOString(temp.created_at)
            let formattedCek = main.$options.filters.dateFormat(cek, 'DD MMM YYYY')
            if(currentDate === '' || currentDate !== formattedCek){
              currentDate = formattedCek
              main.dataTgl.push(formattedCek)
            }
            else {
              main.dataTgl.push('')
            }
          })

          main.dataHistory = data
          main.totalPage = response.data.total_item

          //UBAH PARAMETER URL KE HALAMAN YANG SEDANG DIPILIH
          window.history.replaceState(null, null, "?page=" + page);
        })
        .catch(function (error) {
          main.$modal.show('error', {
            title: "ERROR " + error.response.data.errors[0].code,
            message: error.response.data.errors[0].message
          })
        })
        .finally(() => this.isLoading = false)
      },

      pageChange: function (page) {
        let newPage = page + 1
        this.loadHistory(newPage)
        this.page = page;
      },

      parseISOString: function(s) {
        var b = s.split(/\D+/);
        return new Date(Date.UTC(b[0], --b[1], b[2], b[3], b[4], b[5], b[6]));
      },
    },

    //INJECT META HTML
    metaInfo(){
      return {
        title: `Order History - Telkom OCA solusi omnichannel - Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast`,
        meta: [
          {
            name: 'keywords',
            content: 'Telkom OCA, omnichannel platform, whatsapp bisnis, email blast, ivr call, sms blast'
          },
          {
            name: 'author',
            content: 'Telkom OCA'
          },
          {
            name: 'description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            name: 'thumbnail',
            content: 'https://ocatelkom.co.id/img/logo_white.4565467f.png'
          },
          {
            property: 'og:title',
            content: "Telkom OCA Omnichannel Platform"
          },
          {
            property: 'og:description',
            content: "Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast"
          },
          {
            property: 'og:image',
            content: 'https://ocatelkom.co.id/img/logo_white.4565467f.png'
          },
          {
            property: 'twitter:card',
            content: "summary"
          },
          {
            property: 'twitter:site',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:creator',
            content: "@Ask_OCA"
          },
          {
            property: 'twitter:title',
            content: 'Telkom OCA Omnichannel Platform'
          },
          {
            property: 'twitter:url',
            content: 'https://ocatelkom.co.id'
          },
          {
            property: 'twitter:description',
            content: 'Telkom OCA adalah solusi omnichannel untuk meningkatkan komunikasi anda kepada pelanggan melalui Whatsapp bisnis broadcast, Email blast, ivr call dan sms blast'
          },
          {
            property: 'twitter:image:src',
            content: 'https://ocatelkom.co.id/img/logo_white.4565467f.png'
          },
        ]
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

  #app {
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .vue-ads-bg-teal-500 {
    background-color: transparent !important;
  }
  .vue-ads-bg-gray-200 {
    background-color: transparent !important;
    color: #808285 !important;
  }
  .selected-page {
    color: #ED1260 !important;
  }
  .page-button {
    background-color: transparent !important;
    border-radius: 100%;
  }

  .block:not(:last-child){
    margin-bottom: 0 !important;
  }
</style>
