<template>
    <div style="height: 650px;" class="flex-col relative max-w-screen-xl w-full self-auto items-center justify-center mx-auto py-6 my-32 z-50">
        <div style="right: 156px;" class="absolute top-0">
            <div data-aos="fade-down-left" data-aos-delay="200" data-aos-duration="2000" style="box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.05);width: 384px;border-radius: 30px 0px 30px 0px;" class="flex flex-row justify-between bg-white">
                <img src="../../../../assets/image/umkm/survey.png" style="width:100px" alt="">   
                <div style="font-size: 20px;" class="self-center text-neutral-600 font-semibold px-5 leading-7">Survey kepuasan customer</div>
            </div>
        </div>
        <div data-aos="fade-down-right" data-aos-delay="200" data-aos-duration="1000" style="left: 157px;top: 39px;" class="absolute">
            <div style="box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.05);width: 384px;border-radius: 30px 0px 30px 0px;" class="flex flex-row justify-between bg-white">
             <img src="../../../../assets/image/umkm/marketing.png" style="width:100px" alt="">   
            <div style="font-size: 20px;" class="self-center text-neutral-600 font-semibold px-5 leading-7">Omnichannel marketing <br> & promosi</div>
            </div>
        </div>
        <div style="transform: translateX(-50%);top: 207px;" class="absolute left-50">
            <div style="letter-spacing: 0.75px;" class="text-customs-16 text-3/4xl font-semibold leading-10 text-center">Kegunaan <br/> <span class="text-primary">OCA </span> untuk <span class="text-primary">UMKM</span> </div>
        </div>
        <div data-aos="fade-up-left" data-aos-delay="100" data-aos-duration="1000" style="right: 78px;top: 336px;" class="absolute bottom-0">
            <div style="box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.05);width: 384px;border-radius: 30px 0px 30px 0px;" class="flex flex-row justify-between bg-white">
            <img src="../../../../assets/image/umkm/service.png" style="width:100px" alt="">   
            <div style="font-size: 22px;" class="self-center text-neutral-600 font-semibold px-5 leading-7">Efisiensi customer service</div>
            </div>
        </div>
        <div data-aos="fade-up-right" data-aos-delay="100" data-aos-duration="1000" style="left: 80px;top: 347px;" class="absolute bottom-0">
            <div style="box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.05);width: 384px;border-radius: 30px 0px 30px 0px;" class="flex flex-row justify-between bg-white">
            <img src="../../../../assets/image/umkm/branding.png" style="width:100px" alt="">   
            <div style="font-size: 22px;" class="self-center text-neutral-600 font-semibold px-5 leading-7">Branding dan kesetiaan customer</div>
        
            </div>
        </div>
        <div data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" style="right: 380px;top: 534px;" class="absolute bottom-0">
            <div style="box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.05);width: 384px;border-radius: 30px 0px 30px 0px;" class="flex flex-row justify-between bg-white">
            <img src="../../../../assets/image/umkm/shop.png" style="width:100px" alt="">   
            <div style="font-size: 22px;" class="self-center text-neutral-600 font-semibold px-5 leading-7">Jualan online shop melalui chat</div>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    name: 'App',
}
</script>