<template>
    <div id="section-1" style="border-radius: 0px 0px 0px 80px;box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.03);" class="bg-white">
        <div class="flex relative max-w-screen-xl self-auto items-center mx-auto bg-customs-5">
            <div class="flex flex-1 justify-between bg-white py-10">
                <div class="flex-1 flex flex-col self-center ml-14">
                  <div class="flex-1 flex-col my-12">
                      <div class="flex flex-row">
                        <div class="text-2xl text-primary">OCA untuk UMKM</div>
                      </div>
                      <div style="letter-spacing: 0.75px;" class="text-4/5xl font-semibold text-neutral-600 leading-custom-1 lead my-6">Dari OCA, Oleh UMKM, dan Untuk Konsumen</div>
                      <div style="letter-spacing: 0.5px;" class="text-base text-neutral-300 leading-6 my-8">Melayani konsumen atau promosi lebih mudah, OCA <br/> menyediakan dashboard untuk UMKM melakukan <br/> banyak hal dan berkembang.</div>
                      <div class="flex flex-row my-6">
                        <oca-button class="px-6 pr-6 mr-4 text-xsm" classValue="rounded-md" >Coba Gratis</oca-button>
                        <oca-button class="px-6 pr-6 mr-4 text-xsm" buttonType="ghost" classValue="rounded-md" >Lihat Harga</oca-button>
                      </div>
                  </div>
                </div>
                <div class="flex-1 self-center">
                  <img class="mx-auto self-center" src="../../../../assets/image/solutions/illustration_umkm-1.png" alt="">
                </div>
            </div>
        </div> 
    </div>
</template>
<script>
import OcaButton from '../../../../components/oca_origin/buttons';

export default {
    name: 'App',
    components: {
        OcaButton,
    }
}
</script>