<template>
        <div class="relative">
      <div class="flex flex-col relative max-w-screen-xl self-auto mx-auto items-center py-6 mb-10">
        <div class="flex flex-col py-10 ">
          <div style="letter-spacing: 0.75px;" class="text-center text-3/4xl text-neutral-600 font-semibold my-2">Mini FAQ</div>
          <div class="flex-1 flex-col my-16">
            <div data-aos="fade-up" data-aos-delay="100" data-aos-duration="300" class="flex justify-between relative border-b pb-1" style="cursor: pointer; border-color: #C1C6CD; width: 740px;" >
                <p class="self-center text-sm text-customs-18 font-bold pr-6">Apa itu OCA (Omni Communication Assistant)?</p>
                <!-- <div class="text-sm mt-6" v-show="click" v-html="konten" style="color: #808285">{{konten}}</div> -->
                <p class="self-center text-3xl">+</p>
                <!-- <p class="absolute top-0 right-0 text-5xl -mt-1" v-show="pointer === '-'">-</p> -->
            </div>
            <div data-aos="fade-up" data-aos-delay="150" data-aos-duration="300" class="flex justify-between relative border-b pb-1" style="cursor: pointer; border-color: #C1C6CD; width: 740px;" >
                <p class="self-center text-sm text-customs-18 font-bold pr-6">Perusahaan apa saja yang dapat menggunakan layanan OCA?</p>
                <!-- <div class="text-sm mt-6" v-show="click" v-html="konten" style="color: #808285">{{konten}}</div> -->
                <p class="self-center text-3xl">+</p>
                <!-- <p class="absolute top-0 right-0 text-5xl -mt-1" v-show="pointer === '-'">-</p> -->
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="300" class="flex justify-between relative border-b pb-1" style="cursor: pointer; border-color: #C1C6CD; width: 740px;" >
                <p class="self-center text-sm text-customs-18 font-bold pr-6">Siapa saja yang dapat menggunakan Layanan OCA?</p>
                <!-- <div class="text-sm mt-6" v-show="click" v-html="konten" style="color: #808285">{{konten}}</div> -->
                <p class="self-center text-3xl">+</p>
                <!-- <p class="absolute top-0 right-0 text-5xl -mt-1" v-show="pointer === '-'">-</p> -->
            </div>
            <div data-aos="fade-up" data-aos-delay="250" data-aos-duration="300" class="flex justify-between relative border-b pb-1" style="cursor: pointer; border-color: #C1C6CD; width: 740px;" >
                <p class="self-center text-sm text-customs-18 font-bold pr-6">Kenapa harus memilih untuk menggunakan OCA?</p>
                <!-- <div class="text-sm mt-6" v-show="click" v-html="konten" style="color: #808285">{{konten}}</div> -->
                <p class="self-center text-3xl">+</p>
                <!-- <p class="absolute top-0 right-0 text-5xl -mt-1" v-show="pointer === '-'">-</p> -->
            </div>
            <div data-aos="fade-up" data-aos-delay="300" data-aos-duration="300" class="flex justify-between  relative border-b pb-1" style="cursor: pointer; border-color: #C1C6CD; width: 740px;" >
                <p class="self-center text-sm text-customs-18 font-bold pr-6">Apa yang harus saya lakukan untuk dapat menggunakan layanan?</p>
                <!-- <div class="text-sm mt-6" v-show="click" v-html="konten" style="color: #808285">{{konten}}</div> -->
                <p class="self-center text-3xl">+</p>
                <!-- <p class="absolute top-0 right-0 text-5xl -mt-1" v-show="pointer === '-'">-</p> -->
            </div>
            <div data-aos="fade-up" data-aos-delay="350" data-aos-duration="300" class="flex justify-between relative border-b pb-1" style="cursor: pointer; border-color: #C1C6CD; width: 740px;" >
                <p class="self-center text-sm text-customs-18 font-bold pr-6">Bagaimana cara berlangganan layanan OCA?</p>
                <!-- <div class="text-sm mt-6" v-show="click" v-html="konten" style="color: #808285">{{konten}}</div> -->
                <p class="self-center text-3xl">+</p>
                <!-- <p class="absolute top-0 right-0 text-5xl -mt-1" v-show="pointer === '-'">-</p> -->
            </div>
            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="300" class="flex justify-between relative border-b pb-1" style="cursor: pointer; border-color: #C1C6CD; width: 740px;" >
                <p class="self-center text-sm text-customs-18 font-bold pr-6">Dimana saya bisa bertanya lebih lanjut tentang OCA?</p>
                <!-- <div class="text-sm mt-6" v-show="click" v-html="konten" style="color: #808285">{{konten}}</div> -->
                <p class="self-center text-3xl">+</p>
                <!-- <p class="absolute top-0 right-0 text-5xl -mt-1" v-show="pointer === '-'">-</p> -->
            </div>
          </div>
        </div>
      </div>
      <div style="transform: translateY(-50%);" class="absolute text-center z-0 top-45 left-0 smx:hidden">
        <img src="../../../../assets/image/solutions/oca_watermark-1.png" alt="">
      </div>
    </div>
</template>
<script>
export default {
    name: 'App'
}
</script>