<template>
    <div class="justify-center">
        <p class="text-gray-500 text-center">Featured By</p>
        <div class="flex flex-wrap mx-8 md:mx-20 lg:mx-32 xl:mx-40 items-center justify-center">
            <img v-for="data in featured" :key="data" :src="data.url" class="lg:w-1/5 w-1/3 px-4 sm:px-8 lg:px-12 py-6">
        </div>
    </div>
</template>

<script>
    export default {
        name: "Featured",
        data: function () {
            return {
                featured: []
            }
        },
        created() {
            this.loadData()
        },
        methods: {
            loadData: function () {
                this.featured = []
                const axios = require('axios')

                let main = this
                axios.get('https://dtpx1.ocatelkom.co.id/api/featured_by')
                    .then(function (response) {
                        response.data.forEach(function (item) {
                            main.featured.push({
                                url: item.url_img
                            })
                        })
                    })
            }
        }
    }
</script>

<style scoped>

</style>