<template>
    <div class="flex flex-wrap">
        <div class="lg:w-1/2 lg:px-10 px-2">
            <p class="text-3xl font-bold text-main-color">OCA Interaction</p>
            <p class="text-md text-gray-800 mt-6">{{konten.description}}</p>
            <div class="w-full flex flex-row p-4 items-start mt-10">
                <circle-icon class="w-6 h-auto mr-2 mt-1"/>
                <div class="flex-1">
                    <p class="text-lg font-semibold text-gray-800">{{konten.detail[0].title}}</p>
                    <p class="text-md text-gray-600 mt-2">{{konten.detail[0].description}}</p>
                </div>
            </div>
        </div>
        <div class="lg:w-1/2">
            <img src="../../../assets/image/OCA-Interaction-Illustration.png" class="w-auto h-auto lg:p-12 p-6">
        </div>
    </div>
</template>

<script>
    import CircleIcon from '../../../assets/svg/profiling_icon.svg'

    export default {
        name: "OCAInteraction",
        props: {
            konten: Object
        },
        components:{
            CircleIcon
        },
    }
</script>

<style scoped>

</style>