<template>
    <div class="flex flex-wrap px-10 lg:px-32 py-16">
        <div class="w-full lg:w-1/3 lg:px-10 xl:px-24">
            <p class="font-black text-4xl text-main-color">Have question about OCA?</p>
        </div>
        <div class="w-full lg:w-2/3 lg:px-16 lg:mt-0 mt-10">
            <question-item v-for="data in konten" :key="data" :judul="data.judul" :konten="data.konten"/>
        </div>
    </div>
</template>

<script>
    import QuestionItem from "./questions/QuestionItem";
    export default {
        name: "Question",
        components: {QuestionItem},
        data: function () {
            return {
                konten: [

                ]
            }
        },
        created() {
            this.loadData()
        },
        methods: {
            loadData: function () {
                this.konten = []
                const axios = require('axios')

                let main = this
                let url = 'https://dtpx1.ocatelkom.co.id/api/qna/' + this.$cookies.get('lang_oca')
                axios.get(url)
                    .then(function (response) {
                        response.data.forEach(function (item) {
                            main.konten.push({
                                judul: item.question,
                                konten: item.answer
                            })
                        })
                    })
            }
        }
    }
</script>

<style scoped>

</style>