<template>
    <div>

        <!-- TAB UNTUK NAVIGASI KONTEN -->
        <div class="flex justify-between items-end mx-4 sm:mx-16 lg:mx-24 xl:mx-48">
            <div class="w-1/3 px-2 lg:px-10">
                <a :class="{'border-main-color': currentTab === 'blast', 'text-main-color': currentTab === 'blast'}" class="text-center block border-b-4 border-gray-600 font-bold lg:text-2xl text-md text-gray-600 py-2 lg:px-6" v-on:click="changePos('blast', 'o-c-a-blast', 0)" style="cursor: pointer">OCA Blast</a>
            </div>
            <div class="w-1/3 px-2 lg:px-10">
                <a :class="{'border-main-color': currentTab === 'profiling', 'text-main-color': currentTab === 'profiling'}" class="text-center block border-b-4 border-gray-600 font-bold lg:text-2xl text-md text-gray-600 py-2 lg:px-6" v-on:click="changePos('profiling', 'o-c-a-profiling', 1)" style="cursor: pointer">OCA Profiling</a>
            </div>
            <div class="w-1/3 px-2 lg:px-10">
                <a :class="{'border-main-color': currentTab === 'interaction', 'text-main-color': currentTab === 'interaction'}" class="text-center block border-b-4 border-gray-600 font-bold lg:text-2xl text-md text-gray-600 py-2 lg:px-6" v-on:click="changePos('interaction', 'o-c-a-interaction', 2)" style="cursor: pointer">OCA Interaction</a>
            </div>
        </div>

        <!-- KONTEN -->
        <div class="relative flex flex-wrap">
            <o-c-a-blast id="blast" class="home-component mt-16 mx-6 lg:mx-16" :konten="blastObject"/>
            <o-c-a-profiling id="profiling" class="home-component shown hidden mt-16 mx-6 lg:mx-16" :konten="profObject" :current-view="profObject.detail[0].id"/>
            <o-c-a-interaction id="interaction" class="home-component shown hidden mt-16 mx-6 lg:mx-16" :konten="intObject"/>
        </div>

    </div>
</template>

<script>
    import OCABlast from "./OCABlast";
    import OCAProfiling from "./OCAProfiling";
    import OCAInteraction from "./OCAInteraction";

    export default {
        name: "TabView",
        data: function () {
            return {
                tabs: ['blast', 'profiling', 'interaction'],
                compLists: ['o-c-a-blast', 'o-c-a-profiling', 'o-c-a-interaction'],
                currentTab: 'blast',
                currentComponent: 'o-c-a-blast',
                currentPos: 0,
                interval: null,
                blastObject: {},
                profObject: {},
                intObject: {}
            }
        },
        components:{
            OCABlast,
            OCAProfiling,
            OCAInteraction
        },
        created() {
            this.interval = setInterval(() => this.changePosAuto(), 10000)
            this.loadData()
        },
        methods: {
            changePos: function (current, component, pos) {
                this.stopSlideshow()
                this.currentPos = pos

                let prev = document.querySelector('#' + this.currentTab)
                let curr = document.querySelector('#' + current)
                prev.classList.toggle('shown')

                this.currentTab = current

                let main = this

                setTimeout(function() {
                    curr.classList.toggle("hidden")
                    main.currentComponent = component
                    prev.classList.toggle("hidden")
                    //curr.classList.toggle('shown')
                    setTimeout(function() {
                        curr.classList.toggle('shown')
                    }, 100);
                }, 300);

            },
            changePosAuto: function () {
                var nextPos = 0;

                if (this.currentPos+1 < 3) {
                    nextPos = this.currentPos+1
                }

                let prev = document.querySelector('#' + this.tabs[this.currentPos])
                let curr = document.querySelector('#' + this.tabs[nextPos])
                this.currentPos = nextPos
                prev.classList.toggle('shown')

                this.currentTab = this.tabs[nextPos]

                let main = this

                setTimeout(function() {
                    curr.classList.toggle("hidden")
                    main.currentComponent = main.compLists[main.currentPos]
                    prev.classList.toggle("hidden")
                    setTimeout(function() {
                        curr.classList.toggle('shown')
                    }, 200);
                }, 300);
            },
            stopSlideshow: function () {
                clearInterval(this.interval)
            },
            loadData: function () {
                const axios = require('axios')

                let main = this
                let url = 'https://dtpx1.ocatelkom.co.id/api/home_product/' + this.$cookies.get('lang_oca')
                axios.get(url)
                    .then(function (response) {
                        main.blastObject = response.data.oca_blast
                        main.profObject = response.data.oca_profiling
                        main.intObject = response.data.oca_interaction
                    })
            }
        }
    }
</script>

<style scoped>

</style>