<template>
    <div class="w-full flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 15.586L6.707 12.293 5.293 13.707 10 18.414 19.707 8.707 18.293 7.293z" fill="#61C378"/></svg>
        <p class="ml-2 text-xs">{{judul}}</p>
    </div>
</template>

<script>
    export default {
        name: "Checklist",
        props:{
            judul: String
        }
    }
</script>

<style scoped>

</style>